﻿@model Omidiyeh_Oil_Company___0147.Models.TblRoute

@{
    ViewBag.Title = "حذف Delete";
    Layout = "~/Views/Shared/_layout.cshtml";
}


    <div class="card rtl text-right">
	<!--Header-->
    <div class="header pt-2 blue-gradient">
        <div class="row d-flex justify-content-start">
            <h3 class=" white-text mt-3 mb-4 pb-1 mx-5">@ViewBag.Title</h3>
        </div>
    </div>
    <!--Header-->
	<p class="note note-danger mx-5 my-3"><strong>اخطار:</strong> آیا برای حذف این اطلاعات مطمئن هستید؟</p>
 <div class="card-body">
    <dl class="dl-horizontal  mx-5">



		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TblCity.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblCity.Title)
        </dd>
		</div>

		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TblCity1.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblCity1.Title)
        </dd>
		</div>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="md-form text-left" >
            <div class="col-md-12">
                <input type="submit" value="حذف اطلاعات" class="btn btn-danger  font-size-1-25" />
            </div>
        </div>
    }
</div>
</div>
