﻿@model Omidiyeh_Oil_Company___0147.Models.TblRoute

@{
    ViewBag.Title = "ویرایش مسیر";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)


            <div class="row">
                <div class="col-sm-6">
                    <div class="select-outline my-3">
                        @Html.DropDownList("Origin", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                        @Html.LabelFor(model => model.Origin)
                        @Html.ValidationMessageFor(model => model.Origin, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="select-outline my-3">
                        @Html.DropDownList("Destination", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                        @Html.LabelFor(model => model.Destination)
                        @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="select-outline my-2">
                        @Html.DropDownList("Type", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-2 " })
                        @Html.LabelFor(model => model.Type, new { @class = "m-active" })
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="switch mt-3">
                        <label>
                            <input type="checkbox" value="true" name="LongDistance" @(Model.LongDistance ? "checked" : "")>
                            <span class="lever "></span>مسیر راه دور
                        </label>
                    </div>
                </div>
            </div>
            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
                </div>
            </div>
        </div>
    }

</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Tab-Route-Edit').addClass('active show').removeClass('d-none');
        });
    </script>
}