﻿@model Omidiyeh_Oil_Company___0147.Models.TblRoom
<div class="modal fade rtl" id="modalRoomCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center py-3 grey lighten-5">
                <h4 class="modal-title w-100 font-weight-bold">ایجاد اتاق</h4>
            </div>
            <div class="modal-body mx-3 ">
                <div class="col-12">
                    <div class="md-form md-outline  my-0 input-group mr-auto  mt-1">
                        <input type="text" class="form-control text-center  validate" aria-label="rdate" aria-describedby="rdate"
                               data-val="true" data-val-required=" " id="number" name="number" value="" required autocomplete="off">
                        <label for="number">شماره</label>
                        <div class="input-group-prepend cursor-pointer ">
                            <span class="input-group-text cursor-pointer" id="rdate"><i class="fas fa-hotel cursor-pointer"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="switch text-center">
                        <label class="">
                            عادی
                            <input type="checkbox" value="1" checked name="typeRoom" id="typeRoom">
                            <span class="lever"></span>
                           ویژه
                        </label>
                    </div>
                </div>
                </div>
            <div class="modal-footer d-flex justify-content-center grey lighten-5">
                <button class="btn btn-link cta " type="submit" id="addRoom" name="addRoom" value="true">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ذخیره</span>
                </button>
                <button class="btn btn-link cta cta-silver" type="button" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times fa-lg"></i>
                    <span>انصراف</span>
                </button>
            </div>
        </div>
    </div>
</div>
