﻿@model Omidiyeh_Oil_Company___0147.Models.TblRoom
@{
    ViewBag.Title = "ایجاد اتاق";
    Layout = "~/Views/Shared/_layout.cshtml";
}



<style type="text/css">
    .switch label .lever:after {
        background-color: #1976d2
    }
    .switch label .lever {
        background-color: #b6c9e5
    }
     
</style>
<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_Hotels")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <ul class="stepper linear mt- pt-0" id="custom-validation">
                <li class="step active">
                    <div data-step-label="" class="step-title waves-effect waves-dark">گام اول: ایجاد اتاق برای <span class="text-danger">@ViewBag.Restaurant</span></div>
                    <div class="step-new-content">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form md-outline  my-0 input-group mr-auto  mt-1">
                                    <input type="text" class="form-control text-center  validate" aria-label="rdate" aria-describedby="rdate"
                                           data-val="true" data-val-required=" " id="username" name="username" value="" required autocomplete="off">
                                    <label for="username">شماره</label>
                                    <div class="input-group-prepend cursor-pointer ">
                                        <span class="input-group-text cursor-pointer" id="rdate"><i class="fas fa-hotel cursor-pointer"></i></span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="">
                                    @Html.DropDownList("Status", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-1"})
                                    @Html.LabelFor(model => model.Status)
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "invalid-feedback mr-2" })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="">
                                    @Html.DropDownList("Type", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-1" })
                                    @Html.LabelFor(model => model.Type)
                                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "invalid-feedback mr-2" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form md-outline my-0 mt-1 font-size-0-75">
                                    @Html.TextAreaFor(model => model.Des, new { @class = "form-control text-center md-textarea  font-size-0-75" })
                                    @Html.LabelFor(model => model.Des)
                                    @Html.ValidationMessageFor(model => model.Des, "", new { @class = "invalid-feedback mr-2" })
                                </div>
                            </div>
                        </div>
                        <div class="step-actions ">
                            <button class="waves-effect waves-dark  btn btn-sm btn-link  btn-link next-step mr-auto shadow-none text-primary"><span class="fas fa-arrow-circle-left ml-1 fa-lg "></span>گام بعد</button>
                        </div>
                    </div>
                </li>
                <li class="step">
                    <div class="step-title waves-effect waves-dark">گام دوم: ایجاد تخت</div>
                    <div class="step-new-content">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form md-outline  my-0 input-group mr-auto  mt-1">
                                    <input type="text" class="form-control text-center  validate" aria-label="rdate" aria-describedby="rdate"
                                           data-val="true" data-val-required=" " id="bedNumber1" name="bedNumber1" value="" required autocomplete="off">
                                    <label for="bedNumber1">شماره</label>
                                    <div class="input-group-prepend cursor-pointer ">
                                        <span class="input-group-text cursor-pointer" id="rdate"><i class="fas fa-bed cursor-pointer"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="">
                                    @Html.DropDownList("StatusBed1", ViewBag.BedStatus as SelectList, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-1" })
                                    <label for="StatusBed1">وضعیت</label>
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "invalid-feedback mr-2" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="switch text-center">
                                    <label class="">
                                        <span class="fa-stack fa-lg  pt-0 mt-0" data-toggle="popover" data-placement="top" data-content="تخت یک نفره">
                                            <i class="fas fa-bed fa-stack-1x blue-grey-text "></i>
                                        </span>
                                        <input type="checkbox" value="1" checked name="capacityBed1" id="capacityBed1">
                                        <span class="lever"></span>
                                        <span class="fa-stack fa-lg " data-toggle="popover" data-placement="top" data-content="تخت دو نفره">
                                            <i class="fas fa-bed fa-stack-1x blue-grey-text "></i>
                                            <i class="fas fa-bed fa-stack-1x pt-3 blue-grey-text  "></i>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form md-outline my-0 mt-1 font-size-0-75">
                                    <textarea name="desBed1" id="desBed1" class="form-control text-center md-textarea  font-size-0-75"></textarea>
                                    <label for="desBed1">توضیحات</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form md-outline  my-0 input-group mr-auto  mt-1">
                                    <input type="text" class="form-control text-center"  id="bedNumber2" name="bedNumber2" autocomplete="off">
                                    <label for="bedNumber2">شماره</label>
                                    <div class="input-group-prepend cursor-pointer ">
                                        <span class="input-group-text cursor-pointer" id="rdate"><i class="fas fa-bed cursor-pointer"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="">
                                    @Html.DropDownList("StatusBed2", ViewBag.Status as SelectList, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-1" })
                                    <label for="StatusBed2">وضعیت</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="switch text-center">
                                    <label class="">
                                        <span class="fa-stack fa-lg  pt-0 mt-0" data-toggle="popover" data-placement="top" data-content="تخت یک نفره">
                                            <i class="fas fa-bed fa-stack-1x blue-grey-text "></i>
                                        </span>
                                        <input type="checkbox" value="1" checked name="capacityBed2" id="capacityBed2">
                                        <span class="lever"></span>
                                        <span class="fa-stack fa-lg " data-toggle="popover" data-placement="top" data-content="تخت دو نفره">
                                            <i class="fas fa-bed fa-stack-1x blue-grey-text "></i>
                                            <i class="fas fa-bed fa-stack-1x pt-3 blue-grey-text  "></i>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form md-outline my-0 mt-1 font-size-0-75">
                                    <textarea name="desBed2" id="desBed2" class="form-control text-center md-textarea  font-size-0-75"></textarea>
                                    <label for="desBed2">توضیحات</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form md-outline  my-0 input-group mr-auto  mt-1">
                                    <input type="text" class="form-control text-center"  id="bedNumber3" name="bedNumber3" autocomplete="off">
                                    <label for="bedNumber3">شماره</label>
                                    <div class="input-group-prepend cursor-pointer ">
                                        <span class="input-group-text cursor-pointer" id="rdate"><i class="fas fa-bed cursor-pointer"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="">
                                    @Html.DropDownList("StatusBed3", ViewBag.BedStatus as SelectList, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-1" })
                                    <label for="StatusBed3">وضعیت</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="switch text-center">
                                    <label class="">
                                        <span class="fa-stack fa-lg  pt-0 mt-0" data-toggle="popover" data-placement="top" data-content="تخت یک نفره">
                                            <i class="fas fa-bed fa-stack-1x blue-grey-text "></i>
                                        </span>
                                        <input type="checkbox" value="1" checked name="capacityBed3" id="capacityBed3">
                                        <span class="lever"></span>
                                        <span class="fa-stack fa-lg " data-toggle="popover" data-placement="top" data-content="تخت دو نفره">
                                            <i class="fas fa-bed fa-stack-1x blue-grey-text "></i>
                                            <i class="fas fa-bed fa-stack-1x pt-3 blue-grey-text  "></i>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form md-outline my-0 mt-1 font-size-0-75">
                                    <textarea name="desBed3" id="desBed3" class="form-control text-center md-textarea  font-size-0-75"></textarea>
                                    <label for="desBed2">توضیحات</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form md-outline  my-0 input-group mr-auto  mt-1">
                                    <input type="text" class="form-control text-center"  id="bedNumber4" name="bedNumber4" autocomplete="off">
                                    <label for="bedNumber4">شماره</label>
                                    <div class="input-group-prepend cursor-pointer ">
                                        <span class="input-group-text cursor-pointer" id="rdate"><i class="fas fa-bed cursor-pointer"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="">
                                    @Html.DropDownList("StatusBed4", ViewBag.BedStatus as SelectList, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-1" })
                                    <label for="StatusBed4">وضعیت</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="switch text-center">
                                    <label class="">
                                        <span class="fa-stack fa-lg  pt-0 mt-0" data-toggle="popover" data-placement="top" data-content="تخت یک نفره">
                                            <i class="fas fa-bed fa-stack-1x blue-grey-text "></i>
                                        </span>
                                        <input type="checkbox" value="1" checked name="capacityBed4" id="capacityBed4">
                                        <span class="lever"></span>
                                        <span class="fa-stack fa-lg " data-toggle="popover" data-placement="top" data-content="تخت دو نفره">
                                            <i class="fas fa-bed fa-stack-1x blue-grey-text "></i>
                                            <i class="fas fa-bed fa-stack-1x pt-3 blue-grey-text  "></i>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="md-form md-outline my-0 mt-1 font-size-0-75">
                                    <textarea name="desBed4" id="desBed4" class="form-control text-center md-textarea  font-size-0-75"></textarea>
                                    <label for="desBed4">توضیحات</label>
                                </div>
                            </div>
                        </div>
                        <div class="step-actions">
                            <button class="btn btn-link cta  mr-auto font-size-0-50" type="submit" id="addanother" name="addanother" value="true">
                                <i class="fas fa-plus-square fa-lg"></i>
                                <span >ذخیره و جدید</span>
                            </button>
                            <button class="btn btn-link cta  ml-0 font-size-0-50" type="submit" id="save" name="save" value="true">
                                <i class="fas fa-save fa-lg"></i>
                                <span>ذخیره</span>
                            </button>

                        </div>
                        
                    </div>
                </li>
                
            </ul>


        </div>
    }

</div>
@section Scripts{
    <script>
        // popovers initialization - on hover
        $('[data-toggle="popover"]').popover({
            trigger: 'hover',
            container: 'body',
        });


        function validationFunction() {
            //$('#custom-validation').nextStep();
        }
        //$('#custom-validation').destroyFeedback();


        $(document).ready(function () {

            $('.stepper').mdbStepper();

            $('#Tab-Room-Create').addClass('active show').removeClass('d-none');

        
        });
    </script>
}

