﻿@model Omidiyeh_Oil_Company___0147.Models.TblRoom
<div class="modal fade rtl" id="modalRoomEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center py-3 grey lighten-5">
                <h4 class="modal-title w-100 font-weight-bold">ویرایش اتاق @Model.Number</h4>
            </div>
            <div class="modal-body mx-3 ">
                <div class="col-12">
                    <div class="md-form md-outline  my-0 input-group mr-auto  mt-1">
                        <input type="text" class="form-control text-center  validate"  data-val-required=" " id="Number" name="Number" value="@Model.Number" required autocomplete="off">
                        <label for="Number">شماره</label>
                        <div class="input-group-prepend cursor-pointer ">
                            <span class="input-group-text cursor-pointer"><i class="fas fa-hotel cursor-pointer"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="switch text-center">
                        <label class="">
                            عادی
                            <input type="checkbox" value="1"  @(Model.Type ==1? "checked" : "")  name="typeRoom" id="typeRoom">
                            <span class="lever"></span>
                            ویژه
                        </label>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="md-form md-outline  my-0 input-group mr-auto  mt-1">
                        <input type="text" class="form-control text-center" id="Des" name="Des" value="@Model.Des" autocomplete="off">
                        <label for="Des">توضیحات</label>
                        <div class="input-group-prepend cursor-pointer ">
                            <span class="input-group-text cursor-pointer"><i class="fas fa-comment-alt cursor-pointer"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="md-form md-outline ">
                        @Html.DropDownList("Status", null, htmlAttributes: new { @class = " custom-select farsi text-center" })
                        <label for="Status" class="m-active">وضعیت</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center grey lighten-5">
                <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                <button class="btn btn-link cta " type="submit"  value="true"  onclick="editRoomSave()">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ذخیره</span>
                </button>
                <button class="btn btn-link cta cta-silver" type="button" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times fa-lg"></i>
                    <span>انصراف</span>
                </button>
                <button class="btn btn-link cta cta-red " type="button" onclick="deleteRoom(@Model.Id)">
                    <i class="fas fa-trash-alt fa-lg"></i>
                    <span>حذف </span>
                </button>
            </div>
        </div>
    </div>
</div>
