﻿@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblRoom>

@{
    ViewBag.Title = "مدیریت اتاق";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="bc-icons  rtl text-right">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb grey lighten-2">
            <li class="breadcrumb-item"><a class="black-text" href="/#">خانه</a><i class="fas fa-caret-left mx-2" aria-hidden="true"></i></li>
            <li class="breadcrumb-item"><a class="black-text" href="#">مهمانسرا</a><i class="fas fa-caret-left mx-2" aria-hidden="true"></i></li>
            <li class="breadcrumb-item active">مدیریت اتاق</li>
        </ol>
    </nav>
</div>
<div class="card rtl text-right">
    <!--Header-->
    <div class="header pt-2 blue-gradient">
        <div class="row d-flex justify-content-start">
            <h3 class=" white-text mt-3 mb-4 pb-1 mx-5">@ViewBag.Title</h3>
        </div>
    </div>
    <!--Header-->
    <div class="card-body">
        <table id="DataList" class="table table-striped table-hover" style="width: 100%; ">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Capacity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Restaurant)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#DataList').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "/Welfare/Room/List",
                "columns": [
                    { "data": "id", "name": "id" },
                    { "data": "Number", "name": "Number" },
                    { "data": "Capacity", "name": "Capacity" },
                    { "data": "Restaurant", "name": "Restaurant" },
                    { "data": "Status", "name": "Status" },
                    { "data": "Type", "name": "Type" },
                    { "data": "edit", "name": "edit" }
                ],
                "order": [[1, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                "columnDefs": [
                    {
                        "orderable": false,
                        
                        "width": "50px",
                        "targets": 0
                    },
                    {
                        "orderable": false,
                        "width": "155px",
                        "targets": 6
                    }
                ] 
            }).on('xhr.dt',
                function (e, settings, json) {
                    if ($('#DataList_wrapper select').hasClass('custom-select custom-select-sm form-control form-control-sm')) {
                        $('#DataList_wrapper').find('label').each(function () {
                            $(this).parent().append($(this).children());
                        });
                        $('#DataList_wrapper .dataTables_filter').find('input').each(function () {
                            const $this = $(this);
                            $this.attr("placeholder", "جستجو...");
                            $this.removeClass('form-control-sm');
                        });
                        $('#DataList_wrapper .dataTables_length').addClass('d-flex flex-row');
                        $('#DataList_wrapper .dataTables_filter').addClass('md-form rtl');
                        $('#DataList_wrapper select').removeClass(
                            'custom-select custom-select-sm form-control form-control-sm');
                        $('#DataList_wrapper select').addClass('mdb-select');
                        $('#DataList_wrapper .mdb-select').materialSelect();
                        $('#DataList_wrapper .dataTables_filter').find('label').remove();
                        $('#DataList_wrapper .dataTables_length').find('label').remove();
                        $("#DataList_wrapper").children().first().css({ "direction": "ltr" });
                    }
                });;

        });
    </script>
}

