﻿@model Omidiyeh_Oil_Company___0147.Models.TblRoomType

@{
    ViewBag.Title = "ویرایش نوع اتاق";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="bc-icons  rtl text-right">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb grey lighten-2">
        <li class="breadcrumb-item"><a class="black-text" href="/#">خانه</a><i class="fas fa-caret-left mx-2" aria-hidden="true"></i></li>
        <li class="breadcrumb-item"><a class="black-text" href="#">مهمانسرا</a><i class="fas fa-caret-left mx-2" aria-hidden="true"></i></li>
        <li class="breadcrumb-item active">ویرایش نوع اتاق</li>
    </ol>
</nav>
</div>
    <div class="card rtl text-right">
	<!--Header-->
    <div class="header pt-2 blue-gradient">
        <div class="row d-flex justify-content-start">
            <h3 class=" white-text mt-3 mb-4 pb-1 mx-5">@ViewBag.Title</h3>
        </div>
    </div>
    <!--Header-->
@using (Html.BeginForm(null,null,FormMethod.Post, new {@class="needs-validation" ,novalidate="novalidate"})) 
{
    @Html.AntiForgeryToken()
    
     <div class="card-body">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.Des, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.Des)
                @Html.ValidationMessageFor(model => model.Des, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
         <div class="md-form text-left" >
            <div class="col-md-12">
                <input type="submit" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
            </div>
        </div>
    </div>
}

</div>
