﻿@model Omidiyeh_Oil_Company___0147.Models.TblBookingRequest

@{
    ViewBag.Title = "درخواست بوکینگ - بیمار";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style type="text/css">
    .select-wrapper.md-form.md-outline input.select-dropdown {
        white-space: pre !important;
    }
</style>

<div class="card rtl text-right">
    <!--Header-->
    <div class="header pt-2 blue-gradient">
        <div class="row d-flex justify-content-start">
            <h3 class=" white-text mt-3 mb-4 pb-1 mx-5">@ViewBag.Title</h3>
        </div>
    </div>
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

<div class="card-body">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-sm-6">
            <div class="md-form md-outline form-lg my-3 input-group">
                <input type="text" class="form-control text-center " aria-label="rdate" aria-describedby="rdate"
                       data-val="true" data-val-required=" " id="dateGoFa" name="dateGoFa" value="">
                <label for="dateGoFa">تاریخ رفت</label>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="rdate"><i class="fas fa-calendar-alt"></i></span>
                </div>
                <input type="hidden" name="dateGo" id="dateGo" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="select-outline my-3">
                @Html.DropDownList("Trip", null, htmlAttributes: new { @class = "mdb-select required md-form md-outline mt-3", searchable = "جستجو ..." })
                @Html.LabelFor(model => model.Trip)
                @Html.ValidationMessageFor(model => model.Trip, "", new { @class = "invalid-feedback mr-2" })

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="md-form md-outline form-lg my-3 input-group">
                <input type="text" class="form-control text-center" aria-label="bdate" aria-describedby="bdate"
                       data-val="true" data-val-required=" " id="dateReturnFa" name="dateReturnFa" value="">
                <label for="dateReturnFa">تاریخ برگشت</label>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="bdate"><i class="fas fa-calendar-alt"></i></span>
                </div>
                <input type="hidden" name="dateReturn" id="dateReturn" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="select-outline my-3">
                @Html.DropDownList("Trip2", null, htmlAttributes: new { @class = "mdb-select not-required do-select  md-form md-outline mt-3", searchable = "جستجو ..." })
                @Html.Label("سفر")


            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="select-outline my-3">
                @Html.DropDownList("VehicleType", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                @Html.LabelFor(model => model.TblTrip.VehicleType)
                @Html.ValidationMessageFor(model => model.TblTrip.VehicleType, "", new { @class = "invalid-feedback mr-2" })
            </div>
        </div>

        <div class="col ">
            <div class="form-check mt-4">
                <input type="checkbox" class="form-check-input Checked" name="residence" id="residence" value="true">
                <label class="form-check-label text-nowrap" for="residence">هتل</label>
            </div>
        </div>
        <div class="col">
            <div class="form-check mt-4">
                <input type="checkbox" class="form-check-input Checked" name="foodLunch" id="foodLunch" value="true">
                <label class="form-check-label " for="foodLunch">نهار</label>
            </div>
        </div>
        <div class="col">
            <div class="form-check mt-4">
                <input type="checkbox" class="form-check-input Checked" name="foodDinner" id="foodDinner" value="true">
                <label class="form-check-label" for="foodDinner">شام</label>
            </div>
        </div>
        <div class="col ">
            <div class="form-check mt-4">
                <input type="checkbox" class="form-check-input Checked" name="specialServices" id="specialServices" value="true">
                <label class="form-check-label text-nowrap" for="specialServices">خدمات ویژه</label>
            </div>
        </div>
        <div class="col">
            <div class="form-check mt-4">
                <input type="checkbox" class="form-check-input Checked" name="extraChair" id="extraChair" value="true">
                <label class="form-check-label text-nowrap" for="extraChair">صندلی اضافه</label>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <blockquote class="blockquote text-right mb-0 bq-success  ">
                <h6 class="bq-title  mb-1">سرپرست</h6>
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="md-form md-outline form-lg my-3 input-group">
                            <input type="number" class="form-control text-center" name="personalCode" id="personalCode" />
                            <label for="personalCode">شماره پرسنلی</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text  bg-success" id="basic-text1">
                                    <i class="fas fa-search text-white" aria-hidden="true"></i>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.TblPerson.PersonnelCode, "", new { @class = "invalid-feedback mr-2" })
                        </div>
                    </div>
                </div>
                <div class="blue-grey-text text-center">
                    <i class="fas fa-user text-success"></i> <span id="headName"></span>
                    <span id="headFamily" class="mx-2"></span>
                    <i class="fas fa-id-card  text-success mr-4"></i>  <span id="headNationalCode" class="ml-2"></span>
                    <i class="fas fa-building  text-success mr-4"></i><span id="headOffice" class="mx-1"></span>
                    <span id="headOfficeDepartment" class="mx-2"></span>
                </div>
            </blockquote>
        </div>
        <div class="col-md-6">
            <blockquote class="blockquote text-right mb-0 bq-success ">
                <h5 class="bq-title mb-1">بیمار</h5>
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="md-form md-outline form-lg my-2">

                            <div class="select-outline">
                                <select id="Sick" name="Sick" class="mdb-select required  md-form md-outline mt-3  text-right disabled  " searchable="جستجو ..." data-copy-classes-option="true">
                                </select>
                               

                            </div>
                        </div>
                    </div>
                </div>
                <div class="blue-grey-text text-center">
                    &nbsp;
                </div>
            </blockquote>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <blockquote class="blockquote text-right mb-0 bq-primary  mt-3 mb-5 ">
                <h4 class="bq-title">همراه</h4>
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="md-form md-outline form-lg my-3 input-group">
                            <input type="number" class="form-control text-center" name="along" id="along" />
                            <label for="along">کد ملی</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text  bg-success" id="basic-text1">
                                    <i class="fas fa-search text-white" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <input type="hidden" id="alongId" name="alongId" />
                    </div>
                </div>
                <div class="blue-grey-text text-center">
                    <i class="fas fa-user text-success"></i> <span id="alongName"></span> <span id="alongFamily" class="mx-2"></span>
                    <i class="fas fa-id-card  text-success mr-4"></i>  <span id="alongNationalCode" class="ml-2"></span>
                    <i class="fas fa-building  text-success mr-4"></i><span id="alongOffice" class="mx-1"></span>
                    <span id="alongOfficeDepartment" class="mx-2"></span>
                </div>
            </blockquote>
        </div>
        <div class="col-md-6">
            <blockquote class="blockquote text-right mb-0 bq-primary  mt-3 mb-5 ">
            <h4 class="bq-title ">توضیحات</h4>
            <div class="md-form md-outline my-3">
                @Html.TextAreaFor(model => model.Des, new { @class = "form-control text-center md-textarea" })
               
                @Html.ValidationMessageFor(model => model.Des, "", new { @class = "invalid-feedback mr-2" })
            </div>
            </blockquote>
        </div>
    </div>



            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="button" id="addItem" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
                </div>
            </div>


            <table id="DataList" class="table table-striped table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>تاریخ</th>
                        <th>ساعت</th>
                        <th>سفر</th>
                        <th>شماره پرسنلی</th>
                        <th>نام و نام خانوادگی</th>
                        <th>کد ملی</th>
                        <th>تلفن</th>
                        <th>موبایل</th>
                        <th>نسبت</th>
                        <th>اداره</th>
                        <th></th>
                    </tr>
                </thead>

            </table>
        </div>
        }

    </div>
    @section Scripts{
        <script>
            var tomorrow = new Date();
            tomorrow.setDate(new Date().getDate() + 1);
            $('#rdate').MdPersianDateTimePicker({
                targetTextSelector: '#dateGoFa',
                targetDateSelector: '#dateGo',
                textFormat: 'yyyy/MM/dd',
                disableBeforeToday: true,
                selectedDate: tomorrow
            });
            $('#bdate').MdPersianDateTimePicker({
                targetTextSelector: '#dateReturnFa',
                targetDateSelector: '#dateReturn',
                textFormat: 'yyyy/MM/dd',
                disableBeforeToday: true,
                selectedDate: tomorrow
            });

            $(document).ready(function () {


                var t = $('#DataList').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "stateSave": true,
                    "ajax": {
                        "url": "/Reservation/Booking/List/?from=" + $('#dateGo').val() + "&to=" + $('#dateGo').val(),
                        "type": "POST",
                        "dataType": "json",
                        "data": {
                            "from": $('#dateGo').val(),
                            "to": $('#dateGo').val(),
                            "bookingCode" : 7
                        }
                    },
                    "columns": [
                        //{
                        //    "class":          "details-control",
                        //    "orderable":      false,
                        //    "data":           null,
                        //    "defaultContent": ""
                        //},
                        { "data": "id", "name": "id" },
                        { "data": "Date", "name": "Date" },
                        { "data": "Time", "name": "Time" },
                        { "data": "Trip", "name": "Trip" },
                        { "data": "PersonnelCode", "name": "PersonnelCode" },
                        { "data": "Fullname", "name": "Fullname" },
                        { "data": "NationalCode", "name": "NationalCode" },
                        { "data": "Tel", "name": "Tel" },
                        { "data": "Mobile", "name": "Mobile" },
                        { "data": "FamilyRelationship", "name": "FamilyRelationship" },
                        { "data": "Office", "name": "Office" },
                        { "data": "edit", "name": "edit" }
                    ],
                    "createdRow": function (row, data, dataIndex) {
                        //console.log(data);
                        //console.log(data['FellowTraveler']);
                        if ( data['FellowTraveler'] ) {
                            $(row).addClass( 'bg-info' );
                        }
                    },
                    "order": [[1, "asc"]],
                    "language": {
                        "url": "/Content/js/addons/datatables.persian.json"
                    },
                    "columnDefs": [

                        {
                            "orderable": false,
                            
                            "width": "50px",
                            "targets": 0
                        },
                        {
                            "orderable": false,
                            "width": "125px",
                            "targets":11
                        }
                    ] 
                }).on('xhr.dt',
                    function (e, settings, json) {
                        if ($('#DataList_wrapper select')
                            .hasClass('custom-select custom-select-sm form-control form-control-sm')) {
                            $('#DataList_wrapper').find('label').each(function () {
                                $(this).parent().append($(this).children());
                            });
                            $('#DataList_wrapper .dataTables_filter').find('input').each(function () {
                                const $this = $(this);
                                $this.attr("placeholder", "جستجو...");
                                $this.removeClass('form-control-sm');
                            });
                            $('#DataList_wrapper .dataTables_length').addClass('d-flex flex-row');
                            $('#DataList_wrapper .dataTables_filter').addClass('md-form rtl');
                            $('#DataList_wrapper select').removeClass(
                                'custom-select custom-select-sm form-control form-control-sm');
                            $('#DataList_wrapper select').addClass('mdb-select');
                            $('#DataList_wrapper .mdb-select').materialSelect();
                            $('#DataList_wrapper .dataTables_filter').find('label').remove();
                            $('#DataList_wrapper .dataTables_length').find('label').remove();
                            $("#DataList_wrapper").children().first().css({ "direction": "ltr" });
                        }
                    });;

                $('#addItem').on('click',
                    function (e) {
                        e.preventDefault();
                        var residence = false;
                        if ($("#residence").is(':checked')) residence = true;

                        var foodLunch = false;
                        if ($("#foodLunch").is(':checked')) foodLunch = true;

                        var foodDinner = false;
                        if ($("#foodDinner").is(':checked')) foodDinner = true;

                        var specialServices = false;
                        if ($("#specialServices").is(':checked')) specialServices = true;

                        var extraChair = false;
                        if ($("#extraChair").is(':checked')) extraChair = true;

                        $.getJSON("/reservation/Booking/AddRequestForSickByTrip",
                            {
                                dateGo: $("#dateGo").val(),
                                dateReturn: $("#dateReturn").val(),
                                trip: $("#Trip").children("option:selected").val(),
                                trip2: $("#Trip2").children("option:selected").val(),
                                vehicleType: $("#VehicleType").children("option:selected").val(),
                                residence: residence,
                                foodLunch: foodLunch,
                                foodDinner: foodDinner,
                                extraChair: extraChair,
                                specialServices: specialServices,
                                des: $("#Des").val(),
                                sick: $("#Sick").children("option:selected").val(),
                                alongId: $("#alongId").val()
                            },
                            function (data) {
                                console.log(data);
                                if (data.result) {
                                    t.draw();
                                } else {
                                    alert(data.message);
                                }

                            });


                    });

                $('#personalCode').on('change', function (e) {
                    e.preventDefault();
                    // console.log($('#personalCode').val());
                    $.getJSON("/person/FamilyJson/",
                        {
                            code: $("#personalCode").val()
                        },
                        function (data) {
                            var select = $("#Sick");
                            select.empty();
                            console.log(data);
                            if (data === "NotFound") {
                                $("#headName").html("کارمندی با این کد وجود ندارد");
                                $("#headFamily").html('');
                                $("#headNationalCode").html('');
                                $("#headOffice").html('');
                                $("#headOfficeDepartment").html('');
                                select.addClass("disabled");
                            } else {
                                $("#headName").html(data[0].Name);
                                $("#headFamily").html(data[0].Family);
                                $("#headNationalCode").html(data[0].NationalCode);
                                $("#headOffice").html(data[0].Office);
                                $("#headOfficeDepartment").html(data[0].OfficeDepartment);
                                select.removeClass("disabled");
                            }


                            $.each(data,
                                function (index, itemData) {

                                    select.append($('<option/>',
                                        {
                                            //class:'pre',
                                            value: itemData.Id,
                                            html: `<i class='fas  fa-user  text-success mr-5'></i>  ${itemData.Name} ${itemData.Family} <i class='fas fa-id-card  text-success mr-5'></i> ${itemData.NationalCode}  <i class='fas fa-users text-success mr-5'></i>  ${itemData.FamilyRelationship}`
                                        }));
                                });
                            //alert(1);
                            //console.log(data);
                            //

                        });

                });

                $('#along').on('change', function (e) {
                    e.preventDefault();
                    // console.log($('#personalCode').val());
                    $.getJSON("/person/DetailsJson/",
                        {
                            nationalCode: $("#along").val()
                        },
                        function (data) {
                            // var select = $("#Sick");
                            //select.empty();
                            console.log(data);
                            if (data === "NotFound") {
                                $("#alongName").html("کارمندی با این کد وجود ندارد");
                                $("#alongFamily").html('');
                                $("#alongNationalCode").html('');
                                $("#alongOffice").html('');
                                $("#alongOfficeDepartment").html('');
                                $("#alongId").val('');
                                //select.addClass("disabled");
                            } else {
                                $("#alongName").html(data.Name);
                                $("#alongFamily").html(data.Family);
                                $("#alongNationalCode").html(data.NationalCode);
                                $("#alongOffice").html(data.Office);
                                $("#alongOfficeDepartment").html(data.OfficeDepartment);
                                $("#alongId").val(data.Id);
                                //select.removeClass("disabled");
                            }



                            //alert(1);
                            //console.log(data);
                            //

                        });

                });

                $('#dateGo').on('change', function (e) {
                    //console.log(11);
                    $('#DataList').DataTable().ajax.url("/Reservation/Booking/List/?dateGo=" + $('#dateGo').val());
                    t.draw();
                    // $('#DataList').DataTable().ajax.url ="/Reservation/Booking/List/?dateGo=" + $('#dateGo').val();
                    // $('#DataList').DataTable().ajax.reload();
                });
            });

        </script>
    }
