﻿ <!--Accordion wrapper-->
<div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">

    <!-- Accordion card -->
    <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingOne1">
            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
               aria-controls="collapseOne1">
                <h5 class="mb-0">
                    <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                </h5>
            </a>
        </div>

        <!-- Card body -->
        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2 my-0 ">
                        <div class="md-form md-outline form-sm input-group my-3">
                            <input type="text" class="form-control text-center advancedSearch" aria-label="searchBDate" aria-describedby="searchBDate"
                                   data-val="true" data-val-required=" " id="searchDateFa" name="searchDateFa" value="">
                            <label for="searchDateFa" class="active">تاریخ حرکت</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="searchBDate"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                            <input type="hidden" name="searchDate" id="searchDate" class="advancedSearch" />
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="md-form md-outline form-sm  input-group  my-3">
                            <input type="time" class="form-control text-center advancedSearch"
                                   id="searchTimeGo" name="searchTimeGo" value="">
                            <label for="searchTimeGo" class="active">ساعت حرکت</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-clock"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="select-outline form-sm  my-3">
                            @Html.DropDownList("searchVehicleType", null, htmlAttributes: new { @class = "mdb-select not-required do-select md-form  md-outline  text-right my-0 advancedSearch", searchable = "جستجو ..." , multiple = true, data_label_select_all = " "})
                            <label for="searchVehicleType" class="m-active">وسیله نقلیه</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="select-outline form-sm  my-3">
                            @Html.DropDownList("searchOrigin", null, htmlAttributes: new { @class = "mdb-select not-required do-select md-form md-outline  text-right my-0 advancedSearch", searchable = "جستجو ...", multiple = true, data_label_select_all = " " })
                            <label for="searchOrigin" class="m-active">مبدا</label>

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="select-outline form-sm  my-3">
                            @Html.DropDownList("searchDestination", null, htmlAttributes: new { @class = "mdb-select not-required do-select md-form md-outline  text-right  my-0 advancedSearch", searchable = "جستجو ..." , multiple = true, data_label_select_all = " "})
                            <label for="searchDestination" class="m-active">مقصد</label>

                        </div>
                    </div>
                    @*<div class="col-sm-2">
                            <div class="select-outline form-sm  my-3">
                                @Html.DropDownList("searchRoute", ViewBag.Route as SelectList, htmlAttributes: new { @class = "mdb-select not-required do-select md-form md-outline  my-0 advancedSearch", searchable = "جستجو ...", data_val = "true", data_val_required = " " })
                                <label for="searchRoute" class="active">مسیر</label>

                            </div>
                        </div>*@
                    @*<div class="col-sm-2">
                            <div class="select-outline form-sm  my-3">
                                @Html.DropDownList("Trip", ViewBag.Route as SelectList, htmlAttributes: new { @class = "mdb-select not-required do-select md-form md-outline  my-0 advancedSearch", searchable = "جستجو ...", data_val = "true", data_val_required = " " })
                                <label for="searchTrip" class="active">سفر</label>

                            </div>
                        </div>*@
                    <div class="col-sm-2">
                        <div class="select-outline1 form-sm  my-3">
                            @Html.DropDownList("searchStatus", null, htmlAttributes: new { @class = "mdb-select not-required do-select md-form md-outline text-right my-0 advancedSearch", searchable = "جستجو ...", multiple = true, data_label_select_all = " " })
                            <label for="searchStatus" class="m-active">وضعیت</label>
                        </div>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="md-form md-outline form-sm input-group my-3">
                            <input type="text" class="form-control text-center advancedSearch" aria-label="searchRDate" aria-describedby="searchRDate"
                                   data-val="true" data-val-required=" " id="searchRequestDateFa" name="searchRequestDateFa" value="">
                            <label for="searchRequestdateFa" class="active">تاریخ تقاضا</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="searchRDate"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                            <input type="hidden" name="searchRequestDate" id="searchRequestDate" class="advancedSearch" />
                        </div>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="md-form md-outline form-sm   my-3">
                            <input type="text" class="form-control text-center advancedSearch" id="searchPersonalCode" name="searchPersonalCode">
                            <label for="searchPersonalCode" class="active">شماره پرسنلی</label>
                        </div>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="md-form md-outline form-sm   my-3">
                            <input type="text" class="form-control text-center advancedSearch" id="searchNationalCode" name="searchNationalCode">
                            <label for="searchNationalCode" class="active">کد ملی</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="md-form md-outline form-sm   my-3">
                            <input type="text" class="form-control text-center advancedSearch" id="searchName" name="searchName">
                            <label for="searchName" class="active">نام </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="md-form md-outline form-sm   my-3">
                            <input type="text" class="form-control text-center advancedSearch" id="searchFamily" name="searchFamily">
                            <label for="searchFamily" class="active">نام خانوادگی</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="md-form md-outline form-sm   my-3">
                            <input type="text" class="form-control text-center advancedSearch" id="searchMobile" name="searchMobile">
                            <label for="searchMobile" class="active">موبایل</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="md-form md-outline form-sm   my-3">
                            <input type="text" class="form-control text-center advancedSearch" id="searchRequestNumber" name="searchDes">
                            <label for="searchRequestNumber" class="active">شماره درخواست</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="select-outline1 form-sm  my-3">
                            @Html.DropDownList("searchManagement", null, htmlAttributes: new { @class = "mdb-select not-required do-select md-form md-outline text-right my-0 advancedSearch", searchable = "جستجو ...", multiple = true, data_label_select_all = " " })
                            <label for="searchManagement" class="active">مدیریت</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="select-outline1 form-sm  my-3">
                            @Html.DropDownList("searchOffice", null, htmlAttributes: new { @class = "mdb-select not-required do-select md-form md-outline text-right my-0 advancedSearch", searchable = "جستجو ...", multiple = true, data_label_select_all = " " })
                            <label for="searchOffice" class="active">اداره</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="select-outline1 form-sm  my-3">
                            @Html.DropDownList("searchOfficeDepartment", null, htmlAttributes: new { @class = "mdb-select not-required do-select md-form md-outline text-right my-0 advancedSearch", searchable = "جستجو ...", multiple = true, data_label_select_all = " " })
                            <label for="searchOfficeDepartment" class="active">واحد</label>
                        </div>
                    </div>
                    @*<div class="col-sm-2">
                            <div class="select-outline1 form-sm  my-3">
                                @Html.DropDownList("searchClaim", ViewBag.Claim as SelectList, htmlAttributes: new { @class = "mdb-select not-required do-select md-form md-outline text-right my-0 advancedSearch", searchable = "جستجو ...", multiple = true, data_label_select_all = " " })
                                <label for="searchClaim" class="active">باز پرداخت هزینه</label>
                            </div>
                        </div>*@
                    <div class="col-sm-2">
                        <div class="select-outline1 form-sm  my-3">
                            @*@Html.DropDownList("searchFood", null, htmlAttributes: new { @class = "mdb-select not-required do-select md-form md-outline text-right my-0 advancedSearch", searchable = "جستجو ...", multiple = true, data_label_select_all = " " })
                            <label for="searchFood" class="active">هتل و غذا</label>*@
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="md-form md-outline form-sm   my-3">
                            <input type="text" class="form-control text-center advancedSearch" id="searchDes" name="searchDes">
                            <label for="searchDes" class="active">توضیحات</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Accordion card -->


</div>
<!-- Accordion wrapper -->
