﻿@model Omidiyeh_Oil_Company___0147.Models.TblBookingRequest

@{
    ViewBag.Title = "درخواست بوکینگ - بیمارستان";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style type="text/css">
    .select-wrapper.md-form.md-outline input.select-dropdown {
        white-space: pre !important;
    }
</style>

<!-- Classic tabs -->
<div class="classic-tabs rtl mx-2">

    <ul class="nav  tabs-green" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link  waves-light active show" id="profile-tab-classic-orange" data-toggle="tab" href="#profile-classic-orange"
               role="tab" aria-controls="profile-classic-orange" aria-selected="true">
                <i class="fas fa-bus fa-2x pb-2"
                   aria-hidden="true"></i><br>درخواست بوکینگ
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" id="follow-tab-classic-orange" data-toggle="tab" href="#follow-classic-orange"
               role="tab" aria-controls="follow-classic-orange" aria-selected="false">
                <i class="fas fa-tools fa-2x pb-2"
                   aria-hidden="true"></i><br>مدیریت درخواست ها
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" id="contact-tab-classic-orange" data-toggle="tab" href="#contact-classic-orange"
               role="tab" aria-controls="contact-classic-orange" aria-selected="false">
                <i class="fas fa-user-plus fa-2x pb-2"
                   aria-hidden="true"></i><br>تعریف شخص
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" id="edit-tab-nav" data-toggle="tab" href="#edit-tab"
               role="tab" aria-controls="edit-tab" aria-selected="false">
                <i class="fas fa-edit fa-2x pb-2"
                   aria-hidden="true"></i><br>ویرایش درخواست
            </a>
        </li>
    </ul>

    <div class="tab-content card rtl text-right" id="myClassicTabContentOrange">
        <div class="tab-pane fade active show" id="profile-classic-orange" role="tabpanel" aria-labelledby="profile-tab-classic-orange">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-sm-3">
                        <div class="md-form md-outline form-lg my-3 input-group">
                            <input type="text" class="form-control form-control-lg text-center " aria-label="rdate" aria-describedby="rdate"
                                   data-val="true" data-val-required=" " id="dateGoFa" name="dateGoFa" value="">
                            <label for="dateGoFa">تاریخ رفت</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="rdate"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                            <input type="hidden" name="dateGo" id="dateGo" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="md-form md-outline form-lg my-3 input-group">
                            <input type="time" class="form-control form-control-lg text-center "
                                   data-val="true" data-val-required=" " id="TimeGo" name="TimeGo" value="">
                            <label for="TimeGo" class="m-active">ساعت رفت</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-clock"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="md-form md-outline form-lg my-3 input-group">
                            <input type="text" class="form-control form-control-lg text-center" aria-label="bdate" aria-describedby="bdate"
                                   data-val="true" data-val-required=" " id="dateReturnFa" name="dateReturnFa" value="">
                            <label for="dateReturnFa">تاریخ برگشت</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="bdate"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                            <input type="hidden" name="dateReturn" id="dateReturn" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="md-form md-outline form-lg my-3 input-group">
                            <input type="time" class="form-control form-control-lg text-center "
                                   id="TimeReturn" name="TimeReturn" value="">
                            <label for="TimeReturn" class="m-active">ساعت برگشت</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-clock"></i></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="select-outline my-3">
                            @Html.DropDownList("Origin", null, htmlAttributes: new { @class = "mdb-select required md-form md-outline mt-3", searchable = "جستجو ..." })
                            @Html.LabelFor(model => model.Origin, htmlAttributes: new { @class = "m-active" })
                            @Html.ValidationMessageFor(model => model.Origin, "", new { @class = "invalid-feedback mr-2" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="select-outline my-3">
                            @Html.DropDownList("Destination", null, htmlAttributes: new { @class = "mdb-select required md-form md-outline mt-3", searchable = "جستجو ..." })
                            @Html.LabelFor(model => model.Destination, htmlAttributes: new { @class = "m-active" })
                            @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "invalid-feedback mr-2" })
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-3">
                        <div class="select-outline my-3">
                            @Html.DropDownList("VehicleType", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                            @Html.LabelFor(model => model.TblTrip.VehicleType, htmlAttributes: new { @class = "m-active" })
                            @Html.ValidationMessageFor(model => model.TblTrip.VehicleType, "", new { @class = "invalid-feedback mr-2" })
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="select-outline my-3">
                            <select name="AccountNumber" id="AccountNumber" class="mdb-select required do-select md-form md-outline mt-3 " searchable="جستجو ..."  data-stop-refresh="true"></select>
                            <label for="AccountNumber" class="m-active">شماره حساب</label>
                        </div>
                        <div class="blue-grey-text text-center">
                            <i class="far fa-building  text-success mr-4"></i><span id="OfficeTitle" class="mx-1"></span>
                            <i class="fas fa-building  text-success mr-4"></i><span id="OfficeDepartmentTitle" class="mx-1"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="md-form md-outline form-lg my-3">
                            @Html.TextAreaFor(model => model.Des, new { @class = "form-control form-control-lg text-center md-textarea", rows = 2 })
                            @Html.LabelFor(model => model.Des)
                            @Html.ValidationMessageFor(model => model.Des, "", new { @class = "invalid-feedback mr-2" })
                        </div>
                    </div>
                    <div class="col-6">
                        </div>
                        <div class="col ">
                            <div class="form-check mt-4">
                                <input type="checkbox" class="form-check-input Checked" name="residence" id="residence" value="true">
                                <label class="form-check-label text-nowrap" for="residence">هتل</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check mt-4">
                                <input type="checkbox" class="form-check-input Checked" name="foodLunch" id="foodLunch" value="true">
                                <label class="form-check-label " for="foodLunch">نهار</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check mt-4">
                                <input type="checkbox" class="form-check-input Checked" name="foodDinner" id="foodDinner" value="true">
                                <label class="form-check-label" for="foodDinner">شام</label>
                            </div>
                        </div>
                        <div class="col ">
                            <div class="form-check mt-4">
                                <input type="checkbox" class="form-check-input Checked" name="specialServices" id="specialServices" value="true">
                                <label class="form-check-label text-nowrap" for="specialServices">خدمات ویژه</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check mt-4">
                                <input type="checkbox" class="form-check-input Checked" name="extraChair" id="extraChair" value="true">
                                <label class="form-check-label text-nowrap" for="extraChair">صندلی اضافه</label>
                            </div>
                        </div>

                    </div>
                    <div class="row mt-4">

                        <div class="col-md-6">
                            <blockquote class="blockquote text-right mb-0 bq-success  ">
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <div class="md-form md-outline form-lg my-3 input-group">
                                            <input type="number" class="form-control form-control-lg text-center" name="personalCode" id="personalCode" />
                                            <label for="personalCode">کد پرسنلی سرپرست</label>
                                            <div class="input-group-prepend" id="prependPersonalCode">
                                                <span class="input-group-text  bg-success" id="basic-text1">
                                                    <i class="fas fa-search text-white" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.TblPerson.PersonnelCode, "", new { @class = "invalid-feedback mr-2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="blue-grey-text text-center">
                                    <i class="fas fa-user text-success"></i> <span id="headName"></span>
                                    <span id="headFamily" class="mx-2"></span>
                                    <i class="fas fa-id-card  text-success mr-4"></i>  <span id="headNationalCode" class="ml-2"></span>
                                    <i class="fas fa-building  text-success mr-4"></i><span id="headOffice" class="mx-1"></span>
                                    <span id="headOfficeDepartment" class="mx-2"></span>
                                </div>
                            </blockquote>
                        </div>
                        <div class="col-md-6 mt-2">

                            <div class="row mb-0">
                                <div class="col-12">
                                    <div class="md-form md-outline form-lg my-2">

                                        <div class="select-outline">
                                            <select id="Sick" name="Sick" class="mdb-select required  md-form md-outline mt-3  text-right disabled  " searchable="جستجو ..." data-copy-classes-option="true">
                                            </select>
                                            <label for="Sick" class="m-active">بیمار</label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blue-grey-text mt-0 pt-0 text-left">
                                <button class="btn btn-sm btn-success mt-0" id="addSick">ثبت بیمار</button>
                            </div>

                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                        <blockquote class="blockquote text-right mb-0 bq-success  mt-3 mb-5 ">
                            <div class="row mb-2">
                                <div class="col-12">
                                    <div class="md-form md-outline form-lg my-3 input-group">
                                        <input type="number" class="form-control form-control-lg text-center" name="nationalCode" id="nationalCode" />
                                        <label for="nationalCode">کد ملی همراه بیمار</label>
                                        <div class="input-group-prepend" id="prependNationalCode">
                                            <span class="input-group-text  bg-success" id="basic-text1">
                                                <i class="fas fa-search text-white" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </blockquote>
                            <blockquote class="blockquote text-right mb-0 bq-primary  mt-3 mb-5 ">
                        <table id="Temp" class="table display" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>کدملی</th>
                                            <th>نام</th>
                                            <th>نام خانوادگی</th>
                                            <th>تاریخ</th>
                                            <th>ساعت</th>
                                            <th>وسیله نقلیه</th>
                                            <th>مبدا</th>
                                            <th>مقصد</th>
                                            <th>شماره حساب</th>
                                            <th>هتل</th>
                                            <th>نهار</th>
                                            <th>شام</th>
                                            <th></th>
                                            <th>کد شخص</th>
                                            <th>توضیحات</th>
                                            <th>کد مسیر</th>
                                            <th>تاریخ</th>
                                            <th>کد نوع وسیله</th>
                                            <th>کد شماره حساب</th>
                                            <th>برگشت</th>
                                        </tr>
                                    </thead>
                                </table>

                            </blockquote>
                        </div>

                    </div>



                    <div class="md-form text-left">
                        <div class="col-md-12">
                            <input type="button" id="addItems" value="ثبت اطلاعات" class="btn btn-primary  font-size-1-25" />
                        </div>
                    </div>



                    }
                </div>
        <div class="tab-pane fade rtl" id="follow-classic-orange" role="tabpanel" aria-labelledby="follow-tab-classic-orange">
            <div id="advancedSearch"></div>

            <table id="DataList" class="table " style="width: 100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>شماره درخواست</th>
                        <th>تاریخ</th>
                        <th>ساعت</th>
                        <th>مبدا</th>
                        <th>مقصد</th>
                        <th>سفر</th>
                        <th>کد پرسنلی</th>
                        <th>کد ملی</th>
                        <th>نام و نام خانوادگی</th>
                        <th>تاریخ تقاضا</th>
                        <th>گروه</th>
                        <th></th>
                    </tr>
                </thead>

            </table>
        </div>
        <div class="tab-pane fade" id="contact-classic-orange" role="tabpanel" aria-labelledby="contact-tab-classic-orange">
            @Html.Action("CreateChild", "Person", new { area = string.Empty })
        </div>
        <div class="tab-pane fade rtl" id="edit-tab" role="tabpanel" aria-labelledby="edit-tab-nav">
            <div id="upd-edit-tab"></div>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        //ابتدا خواندن جستجوی پیشرفته
        $.get("/Reservation/Booking/AdvancedSearch",
                function(data) {
                    $('#advancedSearch').html(data);

                })
            .then(function() {
                 AccountNumbers('AccountNumber', 0);
            })
            //سپس اجرای باقی دستورات
            .then(
                function() {

                    $('#advancedSearch .mdb-select').materialSelect();
                    $('#advancedSearch .mdb-select.not-required.do-select.select-wrapper .select-dropdown').val("")
                        .prop('placeholder', 'انتخاب نمایید');
                    $('#advancedSearch .mdb-select.required.do-select.select-wrapper .select-dropdown').val("")
                        .prop('placeholder', 'انتخاب نمایید');

                    $('#rdate').MdPersianDateTimePicker({
                        targetTextSelector: '#dateGoFa',
                        targetDateSelector: '#dateGo',
                        textFormat: 'yyyy/MM/dd',
                        disableBeforeToday: true,
                        selectedDate: tomorrow
                    });
                    $('#bdate').MdPersianDateTimePicker({
                        targetTextSelector: '#dateReturnFa',
                        targetDateSelector: '#dateReturn',
                        textFormat: 'yyyy/MM/dd',
                        disableBeforeToday: true,
                        selectedDate: tomorrow
                    });
                    $('#searchBDate').MdPersianDateTimePicker({
                        targetTextSelector: '#searchDateFa',
                        targetDateSelector: '#searchDate',
                        textFormat: 'yy/MM/dd',
                        disableBeforeToday: false,
                        rangeSelector: true
                    });
                    $('#searchRDate').MdPersianDateTimePicker({
                        targetTextSelector: '#searchRequestDateFa',
                        targetDateSelector: '#searchRequestDate',
                        textFormat: 'yy/MM/dd',
                        disableBeforeToday: false,
                        rangeSelector: true
                    });

                    $('#searchBDate').MdPersianDateTimePicker('setDateRange', lastWeek, nextWeek);

                    $(document).ready(function() {
                        //  $('#myTab li:nth-child(2) a').tab('show');


                        //#region Tab Manage Booking

                        var groupColumn = 2;
                        var t = $('#DataList').DataTable({
                            "processing": true,
                            "serverSide": true,
                            // "stateSave": true,
                            "ajax": {
                                "url": "/Reservation/Booking/List/",
                                "type": "POST",
                                "dataType": "json",
                                "data": function(d) {
                                    d.extra_search = $('#extra').val();
                                    d.searchDate = $('#searchDate').val();
                                    d.searchTimeGo = $('#searchTimeGo').val();
                                    d.searchVehicleType = $('#searchVehicleType').val();
                                    d.searchOrigin = $('#searchOrigin').val();
                                    d.searchDestination = $('#searchDestination').val();
                                    d.searchStatus = $('#searchStatus').val();
                                    d.searchRequestDate = $('#searchRequestDate').val();
                                    d.searchPersonalCode = $('#searchPersonalCode').val();
                                    d.searchNationalCode = $('#searchNationalCode').val();
                                    d.searchName = $('#searchName').val();
                                    d.searchFamily = $('#searchFamily').val();
                                    d.searchMobile = $('#searchMobile').val();
                                    d.searchManagement = $('#searchManagement').val();
                                    d.searchOffice = $('#searchOffice').val();
                                    d.searchOfficeDepartment = $('#searchOfficeDepartment').val();
                                    d.searchRequestNumber = $('#searchRequestNumber').val();
                                    d.searchBookingCode = 7;
                                    // d.searchClaim= $('#searchClaim').children("option:selected").val();
                                    d.searchFood = $('#searchFood').val();
                                    d.searchDes = $('#searchDes').val();

                                }
                            },
                            "dom": 'rt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
                            "searching": false,
                            "columns": [
                                { "data": "id", "name": "id" },
                                {
                                    "class": "details-control",
                                    "orderable": false,
                                    "data": null,
                                    "defaultContent": ""
                                },
                                { "data": "RequestNumber", "name": "RequestNumber" },
                                { "data": "Date", "name": "Date" },
                                { "data": "Time", "name": "Time" },
                                { "data": "Origin", "name": "Origin" },
                                { "data": "Destination", "name": "Destination" },
                                { "data": "Trip", "name": "Trip" },
                                { "data": "PersonnelCode", "name": "TblPerson.PersonnelCode" },
                                { "data": "NationalCode", "name": "TblPerson.NationalCode" },
                                { "data": "Fullname", "name": "TblPerson.Family" },
                                { "data": "RequestTime", "name": "RequestTime" },
                                { "data": "Group", "name": "TblPerson.TblPersonGroup.Title" },
                                {
                                    "data": "edit",
                                    "name": "edit",
                                    "render": function(data, type, row, meta) {
                                        return `<a id='edit-booking-${row.DT_RowId
                                            }' class='text-success ml-2 editBooking' data-id='${row.DT_RowId
                                            }' ><i class='fas fa-edit fa-2x'></i></a> ` +
                                            `<a id='delete-booking-${row.DT_RowId
                                            }' class='text-danger ml-2 deleteBooking' data-id='${row.DT_RowId
                                            }' data-toggle="modal" data-target="#modalConfirmDelete"><i class='fas fa-trash-alt fa-2x'></i></a> `;
                                    }
                                }
                            ],

                            "order": [[groupColumn, 'desc']],
                            "language": {
                                "url": "/Content/js/addons/datatables.persian.json"
                            },
                            "columnDefs": [
                                { "visible": false, "targets": groupColumn },
                                {
                                    "orderable": false,
                                    //"className": 'select-checkbox',
                                    //"className": 'text-bold',
                                    "width": "50px",
                                    "targets": 0
                                },
                                {
                                    "orderable": false,
                                    "width": "125px",
                                    "targets": 13
                                }
                            ],
                            //"select": {
                            //    style: 'os',
                            //    selector: 'td:first-child'
                            //},
                            "displayLength": 25,
                            "drawCallback": function(settings) {
                                var api = this.api();
                                var rows = api.rows({ page: 'current' }).nodes();
                                var last = null;
                                var klass = "myEven";
                                api.column(groupColumn, { page: 'current' }).data().each(function(group, i) {
                                    //if (last !== group) {
                                    //    klass === "myOdd" ? klass = "myEven" : klass = "myOdd";
                                    //}
                                    $(rows).eq(i).removeClass("odd even").addClass(klass);

                                    if (last !== group) {
                                        $(rows).eq(i).before(
                                            `<tr class="group  pt-5 "><td class=" green-text  my-0 pt-4 pb-0 pr-5 text-bold " colspan="13">
                                                            <span class="ml-5">شماره درخواست:</span><span class="text-bold">${
                                            group
                                            }</span></td></tr>`
                                        );
                                        last = group;
                                    }
                                });
                            }
                        });

                        //شماره گذاری سطر های جدول
                        t.on('order.dt search.dt',
                            function() {
                                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function(cell, i) {
                                    cell.innerHTML = i + 1;
                                });
                            }).draw();

                        //ایجاد لینک ویرایش در جدول
                        t.on('click',
                            'a.editBooking',
                            function(e) {
                                // console.log(e.currentTarget.attributes['data-id'].value);
                                $.get("/Travel/BookingRequests/EditMission/",
                                    { id: e.currentTarget.attributes['data-id'].value },
                                    function(data, status, xhr) {
                                        $('#upd-edit-tab').html(data);
                                        $('#myTab li:nth-child(4) a').tab('show');
                                        $('#Editrdate').MdPersianDateTimePicker({
                                            targetTextSelector: '#EdiDateGoFa',
                                            targetDateSelector: '#EdiDateGo',
                                            textFormat: 'yyyy/MM/dd',
                                        });
                                        $('#upd-edit-tab .mdb-select').materialSelect();


                                        $("#saveEdit").on('click',
                                            function() {
                                                console.log(23);
                                                var residence = false;
                                                if ($("#EditResidence").is(':checked')) residence = true;

                                                var foodLunch = false;
                                                if ($("#EditFoodLunch").is(':checked')) foodLunch = true;

                                                var foodDinner = false;
                                                if ($("#EditFoodDinner").is(':checked')) foodDinner = true;
                                                $.post("/Travel/BookingRequests/EditMission/",
                                                    {
                                                        id: $('#EditId').val(),
                                                        tel: $('#EditTel').val(),
                                                        date: $('#EdiDateGo').val(), //
                                                        time: $('#EditTimeGo').val(), //
                                                        route: $('#EditRoute').children("option:selected").val(),
                                                        mobile: $('#EditMobile').val(),
                                                        vehicleType: $('#EditVehicleType').children("option:selected")
                                                            .val(),
                                                        residence: residence,
                                                        foodLunch: foodLunch,
                                                        foodDinner: foodDinner,
                                                        des: $('#EditDes').val(),
                                                        claim: $('#EditClaim').val()

                                                    },
                                                    function(data) {
                                                        $.each(data,
                                                            function(index, itemData) {
                                                                toastr[itemData.Type](itemData.Msg);

                                                            });

                                                        $('#myTab li:nth-child(2) a').tab('show'); // Select third tab

                                                        t.draw();
                                                        $('#upd-edit-tab').html('');

                                                    });
                                            });
                                    }).fail(function(data) {
                                    console.log(data.status);

                                    console.log("error");
                                });
                            });

                        //ایجاد لینک حذف در جدول
                        t.on('click',
                            'a.deleteBooking',
                            function(e) {
                                //console.log(e.currentTarget.attributes['data-id'].value);
                                $("#modalDeleteYes").attr("data-id", e.currentTarget.attributes['data-id'].value);
                                $("#modalDeleteYes").on('click',
                                    function(b) {
                                        $.post("/Travel/BookingRequests/DeleteJava/",
                                            { id: e.currentTarget.attributes['data-id'].value },
                                            function(data, status, xhr) {
                                                toastr[data.Type](data.Msg);
                                                t.draw();
                                                $('#modalConfirmDelete').modal('hide');
                                            }).fail(function(data) {
                                            console.log(data.status);
                                            console.log("error");
                                        });
                                        //console.log(b.currentTarget.attributes['data-id'].value);
                                    });

                            });

                        // Add event listener for opening and closing details
                        $('#DataList tbody').on('click',
                            'td.details-control',
                            function() {
                                var tr = $(this).closest('tr');
                                var row = t.row(tr);

                                if (row.child.isShown()) {
                                    // This row is already open - close it
                                    row.child.hide();
                                    tr.removeClass('shown');
                                } else {
                                    // Open this row
                                    row.child(childRowsT(row.data()), 'm-0 p-0').show();
                                    tr.addClass('shown');
                                }
                            });

                        function childRowsT(d) {
                            //console.log(d);
                            // `d` is the original data object for the row
                            return `<table class="no-border  table-sm w-100 font-size-0-75 yellow lighten-5">
                                                <tr>
                                                <th></th><th></th>
                                                <th>تلفن</th>
                                                <th>موبایل</th>
                                                <th>اداره</th>
                                                <th>واحد</th>
                                                <th>هتل</th>
                                                <th>نهار</th>
                                                <th>شام</th>
                                                <th>وسیله نقلیه</th>
                                                <th>توضیحات</th>
                                                </tr>
                                                <tr>
                                                <td></td>
                                                <td></td>
                                                <td> ${d["Tel"]}</td>
                                                <td> ${d["Mobile"]}</td>
                                                <td> ${d["Office"]}</td>
                                                <td> ${d["OfficeDepartment"]}</td>
                                                <td> ${d["Residence"] === true
                                ? '<i class="fas fa-check-square"></i>'
                                : '<i class="far fa-square"></i>'}</td>
                                                <td> ${d["FoodLunch"] === true
                                ? '<i class="fas fa-check-square"></i>'
                                : '<i class="far fa-square"></i>'}</td>
                                                <td> ${d["FoodDinner"] === true
                                ? '<i class="fas fa-check-square"></i>'
                                : '<i class="far fa-square"></i>'}</td>
                                                <td> ${d["VehicleType"]}</td>
                                                <td> ${d["Des"]}</td>


                                                </tr>
                                                </table>`;
                        }
                        //#endregion

                        //#region Advanced Search


                        $('.advancedSearch').on('keypress',
                            function(e) {
                                /* ENTER Tab Space PRESSED*/
                                if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                                    t.draw();
                                }
                            });
                        $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                            function(e) {

                                t.draw();
                            });

                        //#endregion

                        //#region Tab Add Booking


                        $('#personalCode').on('keypress',
                            function(e) {
                                /* ENTER Tab Space PRESSED*/
                                if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                                    getFamily(e);
                                }
                            });
                        $('#prependPersonalCode').on('click', getFamily);
                        $('#addSick').on('click',   function(e) {addTempItem(e,$("#Sick").val(),true)});
                        $('#prependNationalCode').on('click',   function(e) {addTempItem(e,$("#nationalCode").val(),false)});
                        $('#nationalCode').on('keypress',
                            function(e) {
                                /* ENTER Tab Space PRESSED*/
                                if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                                    addTempItem(e, $("#nationalCode").val(), false);
                                }
                            });

                        //Initial DataTable
                        var temp = $('#Temp').DataTable({
                            "paging": false,
                            "ordering": false,
                            "info": false,
                            "searching": false,
                            "columnDefs": [
                                {
                                    "className": 'details-control',
                                    "orderable": false,
                                    "data": null,
                                    "defaultContent": '',
                                    "targets": 0
                                },
                                {
                                    "width": "90px",
                                    "targets": [10, 11, 12, 13]
                                },
                                {
                                    "targets": [14, 15, 16, 17, 18, 19, 20, 21],
                                    "visible": false

                                },
                                {
                                    "targets": [10, 11, 12],
                                    "render": function(data, type, row, meta) {
                                        return data === true
                                            ? '<i class="fas fa-check-square"></i>'
                                            : '<i class="far fa-square"></i>';
                                    }
                                }
                            ]
                        });

                        function childRows(d) {
                            // `d` is the original data object for the row
                            return '<ul class="list-unstyled w-100 m-0 p-0  py-2  yellow lighten-5 " >' +
                                '<li><span class="text-bold px-5">توضیحات:</span>' +
                                d[15] +
                                '</li>' +
                                //'<li><span class="text-bold px-5">بازپرداخت هزینه ها:</span>' +
                                //d[17] +
                                //'</li>' +
                                '</ul>';
                        }

                        // Add event listener for opening and closing details
                        $('#Temp tbody').on('click', 'td.details-control',
                            function() {
                                var tr = $(this).closest('tr');
                                var row = temp.row(tr);

                                if (row.child.isShown()) {
                                    // This row is already open - close it
                                    row.child.hide();
                                    tr.removeClass('shown');
                                } else {
                                    // Open this row
                                    row.child(childRows(row.data()), 'm-0 p-0').show();
                                    tr.addClass('shown');
                                }
                            });
                        //Delete Icon On Click in DataTable and remove Item
                        $('#Temp tbody').on('click', 'i.icon-delete',
                            function() {
                                temp
                                    .row($(this).parents('tr'))
                                    .remove()
                                    .draw();
                            });


                        //Add Temp Item from PersonalCode and NationalCode
                        function addTempItem(e,nationalCode,sick) {
                            console.log(nationalCode);
                            e.preventDefault();
                            if ($("form").valid() === true && validateSelect(e)) {
                                var residence = IsChecked('residence');
                                var foodLunch = IsChecked('foodLunch');
                                var foodDinner = IsChecked('foodDinner');

                               // var nationalCode = $("#nationalCode").val();
                                $.getJSON("/person/DetailsJson/",
                                    {
                                        nationalCode
                                    },
                                    function(data) {
                                        if (data === "NotFound") {
                                            toastr['error']('کاربری با این مشخصات وجود ندارد');
                                        } else {
                                            temp.row.add([
                                                '', //0
                                                data.NationalCode,
                                                data.Name,
                                                data.Family,
                                                $("#dateGoFa").val(),
                                                $("#TimeGo").val(), //5
                                                $("#VehicleType").children("option:selected").text(), //6
                                                $("#Origin").children("option:selected").text(), //7
                                                $("#Destination").children("option:selected").text(), //8
                                                $("#AccountNumber").children("option:selected").text(), //9
                                                residence, //10
                                                foodLunch, //11
                                                foodDinner, //12
                                                '<i class="fas fa-trash icon-delete text-danger"></i>', //13
                                                data.Id, //14
                                                $("#Des").val(), //15
                                                $("#Origin").children("option:selected").val(), //16
                                                $("#Destination").children("option:selected").val(), //17
                                                $("#dateGo").val(), //18
                                                $("#VehicleType").children("option:selected").val(), //19
                                                $("#AccountNumber").children("option:selected").val(), //20
                                                false //21 isReturn?
                                            ]).draw();

                                            if ($("#TimeReturn").val() !== "") {
                                                temp.row.add([
                                                    '', //0
                                                    data.NationalCode,
                                                    data.Name,
                                                    data.Family,
                                                    $("#dateReturnFa").val(),
                                                    $("#TimeReturn").val(), //5
                                                    $("#VehicleType").children("option:selected").text(), //6
                                                    $("#Destination").children("option:selected").text(), //7 Origin
                                                    $("#Origin").children("option:selected").text(), //8 Destination
                                                    $("#AccountNumber").children("option:selected").text(), //9
                                                    residence, //10
                                                    foodLunch, //11
                                                    foodDinner, //12
                                                    '<i class="fas fa-trash icon-delete text-danger"></i>', //13
                                                    data.Id, //14
                                                    $("#Des").val(), //15
                                                    $("#Destination").children("option:selected").val(), //16  Origin
                                                    $("#Origin").children("option:selected").val(), //17  Destination
                                                    $("#dateReturn").val(), //18
                                                    $("#VehicleType").children("option:selected").val(), //19
                                                    $("#AccountNumber").children("option:selected").val(), //20
                                                    true //21 isReturn
                                                ]).draw();
                                            }

                                            //$("#nationalCode").val('');

                                        }
                                    });
                            } else {
                                validateSelect(e);
                            }
                        };

                        function getFamily(e) {
  
                                e.preventDefault();

                                $.getJSON("/person/FamilyJson/",
                                    {
                                        code: $("#personalCode").val()
                                    },
                                    function(data) {
                                        var select = $("#Sick");
                                        select.empty();
                                        //console.log(data);
                                        if (data === "NotFound") {
                                            $("#headName").html("کارمندی با این کد وجود ندارد");
                                            $("#headFamily").html('');
                                            $("#headNationalCode").html('');
                                            $("#headOffice").html('');
                                            $("#headOfficeDepartment").html('');
                                            select.addClass("disabled");
                                        } else {
                                            $("#headName").html(data[0].Name);
                                            $("#headFamily").html(data[0].Family);
                                            $("#headNationalCode").html(data[0].NationalCode);
                                            $("#headOffice").html(data[0].Office);
                                            $("#headOfficeDepartment").html(data[0].OfficeDepartment);
                                            select.removeClass("disabled");
                                        }


                                        $.each(data,
                                            function(index, itemData) {

                                                select.append($('<option/>',
                                                    {
                                                        //class:'pre',
                                                        'value': itemData.NationalCode,
                                                        'text': itemData.Name + ' ' + itemData.Family,
                                                        'data-secondary-text': itemData.NationalCode +' - '+itemData.FamilyRelationship
                                                        //html: `<i class='fas  fa-user  text-success mr-5'></i>  ${
                                                        //    itemData.Name} ${itemData.Family
                                                        //    } <i class='fas fa-id-card  text-success mr-5'></i> ${
                                                        //    itemData.NationalCode
                                                        //    }  <i class='fas fa-users text-success mr-5'></i>  ${
                                                        //    itemData.FamilyRelationship}`
                                                    }));
                                            });


                                    });
                        }


                        //Post Data on DataTable to addMission Action for Save to db
                        $('#addItems').on('click',
                            function(e) {
                                console.log(1);
                                var items = [];
                                var t1 = temp.rows().data().toArray();
                                t1.forEach(function(item) {
                                    items.push({
                                        person: item[14],
                                        origin: item[16],
                                        destination: item[17],
                                        des: item[15],
                                        date: item[18],
                                        time: item[5],
                                        residence: item[10],
                                        foodLunch: item[11],
                                        foodDinner: item[12],
                                        vehicleType: item[19],
                                        accountNumber: item[20],
                                        bookingCode: 7,
                                    });
                                });
                                e.preventDefault();

                                $.post("/booking/AddBooking/",
                                    {
                                        items: items
                                    },
                                    function(data) {
                                        $.each(data,
                                            function(index, itemData) {
                                                toastr[itemData.Type](itemData.Msg);

                                            });

                                        $('#myTab li:nth-child(2) a').tab('show'); // Select third tab

                                        t.draw();


                                    });

                                console.log(2);

                            });


                        //#endregion
                    });

                });
    </script>
}
