﻿@model Omidiyeh_Oil_Company___0147.Models.TblBookingRequest

@{
    ViewBag.Title = "درخواست بوکینگ - بیمارستان";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style type="text/css">

    .select-wrapper.md-form.md-outline input.select-dropdown {
        white-space: pre !important;
    }
</style>

<!-- Classic tabs -->
<div class="classic-tabs rtl mx-2">

    <ul class="nav  tabs-green" id="myTab" role="tablist">
        <li class="nav-item ">
            <a class="nav-link  waves-light py-2 active show" id="profile-tab-classic-orange" data-toggle="tab" href="#profile-classic-orange"
               role="tab" aria-controls="profile-classic-orange" aria-selected="true">
                <i class="fas fa-bus fa-2x pb-2"
                   aria-hidden="true"></i><br>درخواست بوکینگ
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light py-2" id="follow-tab-classic-orange" data-toggle="tab" href="#follow-classic-orange"
               role="tab" aria-controls="follow-classic-orange" aria-selected="false">
                <i class="fas fa-tools fa-2x pb-2"
                   aria-hidden="true"></i><br>مدیریت درخواست ها
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light py-2" id="contact-tab-classic-orange" data-toggle="tab" href="#contact-classic-orange"
               role="tab" aria-controls="contact-classic-orange" aria-selected="false">
                <i class="fas fa-user-plus fa-2x pb-2"
                   aria-hidden="true"></i><br>ایجاد شخص
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light py-2" id="edit-tab-nav" data-toggle="tab" href="#edit-tab"
               role="tab" aria-controls="edit-tab" aria-selected="false">
                <i class="fas fa-edit fa-2x pb-2"
                   aria-hidden="true"></i><br>ویرایش درخواست
            </a>
        </li>
    </ul>

    <div class="tab-content card rtl text-right" id="myClassicTabContentOrange">
        <div class="tab-pane fade active show" id="profile-classic-orange" role="tabpanel" aria-labelledby="profile-tab-classic-orange">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-sm-3 px-3">
                        <div class="select-outline mt-2 mb-0">
                            <select name="VehicleType" id="VehicleType" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                            <label for="VehicleType" class="m-active">@Html.DisplayNameFor(model => model.VehicleType)</label>
                        </div>
                    </div>
                    <div class="col-sm-3 px-3">
                        <div class="select-outline mt-2 mb-0">
                            <select name="AccountNumber" id="AccountNumber" class="mdb-select required md-form md-outline font-size-0-90 mt-0 mb-0 readonly" searchable="جستجو ..." data-stop-refresh="true"></select>
                            <label for="AccountNumber" class="m-active">شماره حساب</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="blue-grey-text text-right mt-3">
                            <i class="far fa-building  text-success mr-4"></i>
                            <span id="OfficeTitle" class="mx-1 font-size-0-75"></span>
                            <i class="fas fa-building  text-success mr-4"></i>
                            <span id="OfficeDepartmentTitle" class="mx-1  font-size-0-75"></span>
                        </div>
                    </div>



                </div>
                <div class="row">
                    <div class="col-sm-3 px-3">
                        <div class="md-form md-outline   mt-2 mb-0 input-group">
                            <input type="text" class="form-control font-size-0-90  text-center " aria-label="sDate" aria-describedby="sDate"
                                   data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                            <label for="StartDateFa">تاریخ رفت</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                            <input type="hidden" name="StartDate" id="StartDate" />
                        </div>
                    </div>
                    <div class="col-sm-3  px-3">
                        <div class="select-outline  mt-2 mb-0">
                            <select name="Trip" id="Trip" class="mdb-select required do-select md-form md-outline font-size-0-90 mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                            <label for="Trip" class="m-active">سفر رفت</label>
                        </div>

                    </div>

                    <div class=" col-6 px-3 mt-3 font-size-0-90">

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input " name="residenceGo" id="residenceGo" value="true">
                            <label class="custom-control-label text-nowrap" for="residenceGo">جا</label>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input " name="foodLunchGo" id="foodLunchGo" value="true">
                            <label class="custom-control-label text-nowrap" for="foodLunchGo">نهار</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input " name="foodDinnerGo" id="foodDinnerGo" value="true">
                            <label class="custom-control-label text-nowrap" for="foodDinnerGo">شام</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input " name="specialServicesGo" id="specialServicesGo" value="true">
                            <label class="custom-control-label text-nowrap" for="specialServicesGo">خدمات ویژه</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input " name="extraChairGo" id="extraChairGo" value="true">
                            <label class="custom-control-label text-nowrap" for="extraChairGo">صندلی اضافه</label>
                        </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col-sm-3 px-3">
                        <div class="md-form md-outline   mt-2 mb-0 input-group">
                            <input type="text" class="form-control text-center readonly" aria-label="eDate" aria-describedby="eDate"
                                   data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                            <label for="EndDateFa">تاریخ برگشت</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                            <input type="hidden" name="EndDate" id="EndDate" />
                        </div>
                    </div>
                    <div class="col-sm-3  px-3">
                        <div class="select-outline  mt-2 mb-0">
                            <select name="TripReturn" id="TripReturn" class="mdb-select not-required md-form md-outline font-size-0-90 mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                            <label for="TripReturn" class="m-active">سفر برگشت</label>
                        </div>

                    </div>
                    <div class=" col-6 px-3 mt-3 font-size-0-90">

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input " name="residenceReturn" id="residenceReturn" value="true">
                            <label class="custom-control-label text-nowrap" for="residenceReturn">جا</label>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input " name="foodLunchReturn" id="foodLunchReturn" value="true">
                            <label class="custom-control-label text-nowrap" for="foodLunchReturn">نهار</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input " name="foodDinnerReturn" id="foodDinnerReturn" value="true">
                            <label class="custom-control-label text-nowrap" for="foodDinnerReturn">شام</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input " name="specialServicesReturn" id="specialServicesReturn" value="true">
                            <label class="custom-control-label text-nowrap" for="specialServicesReturn">خدمات ویژه</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input " name="extraChairReturn" id="extraChairReturn" value="true">
                            <label class="custom-control-label text-nowrap" for="extraChairReturn">صندلی اضافه</label>
                        </div>

                    </div>
                </div>


                <div class="row mt-4 ">
                    <div class="col-sm-3 px-3">
                        <div class="md-form md-outline mt-0 mb-2 input-group">
                            <input type="number" class="form-control  text-center" name="Person" id="Person">
                            <label for="Person" class="m-active">شماره پرسنلی / کدملی سرپرست</label>
                            <div class="input-group-prepend" id="prependPerson" data-toggle="modal" data-target="#modalPersons">
                                <span class="input-group-text " id="basic-text1">
                                    <i class="fas fa-search " aria-hidden="true"></i>
                                </span>
                            </div>
                            <span class="field-validation-valid invalid-feedback mr-2" data-valmsg-for="TblPerson.PersonnelCode" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="blue-grey-text text-right mt-2">
                            <i class="fas fa-user text-success"></i> <span id="headName"></span>
                            <span id="headFamily" class="mx-2"></span>
                            <i class="fas fa-id-card  text-success mr-4"></i>  <span id="headNationalCode" class="ml-2"></span>
                            <i class="fas fa-id-card  text-success mr-4"></i>  <span id="headPersonnelCode" class="ml-2"></span>
                            <i class="fas fa-building  text-success mr-4"></i><span id="headOffice" class="mx-1"></span>
                            <span id="headOfficeDepartment" class="mx-2"></span>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 px-3">
                        <div class="md-form md-outline my-1 input-group">
                            <select id="Sick" name="Sick" class="mdb-select required  md-form md-outline  text-right disabled col p-0 my-0  " searchable="جستجو ..." data-copy-classes-option="true">
                            </select>
                            <label for="Sick" class="m-active">بیمار</label>
                            <div class="input-group-prepend" id="prependSick">
                                <span class="input-group-text " id="basic-text1">
                                    <i class="fas fa-user-shield " aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 px-3">
                        <div class="md-form md-outline mt-2 mb-2 input-group">
                            <input type="number" class="form-control  text-center" name="SickMobile" id="SickMobile">
                            <label for="SickMobile" class="m-active">موبایل بیمار</label>
                            <div class="input-group-prepend" >
                                <span class="input-group-text " id="basic-text1">
                                    <i class="fas fa-mobile-alt " aria-hidden="true"></i>
                                </span>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col text-right px-3 mt-2">
                        <button class="waves-effect btn btn-link mr-auto text-primary p-0"
                                style="vertical-align:text-top" type="button" name="addSick" id="addSick">
                            <i class="fas fa-plus-square ml-2 fa-2x "></i>
                            <span class="align-top lh24 border-bottom"> افزودن به لیست</span>
                        </button>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3 px-3">
                        <div class="md-form md-outline mt-1 mb-2 input-group">
                            <input type="number" class="form-control  text-center" name="alongSick" id="alongSick" list="family" />
                            <label for="alongSick" class="m-active">کد ملی همراه بیمار</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text  " id="basic-text1">
                                    <i class="fas fa-search " aria-hidden="true"></i>
                                </span>
                            </div>
                            <datalist id="family">
                            </datalist>
                        </div>
                    </div>
                    <div class="col-sm-3 px-3">
                        <div class="md-form md-outline mt-2 mb-2 input-group">
                            <input type="number" class="form-control  text-center" name="alongSickMobile" id="alongSickMobile">
                            <label for="alongSickMobile" class="m-active">موبایل همراه بیمار</label>
                            <div class="input-group-prepend" >
                                <span class="input-group-text " id="basic-text1">
                                    <i class="fas fa-mobile-alt " aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col text-right px-3">
                        <button class="waves-effect btn btn-link mr-auto text-primary p-0"
                                style="vertical-align:text-top" type="button" name="addAlongSick" id="addAlongSick">
                            <i class="fas fa-plus-square ml-2 fa-2x "></i>
                            <span class="align-top lh24 border-bottom"> افزودن به لیست</span>
                        </button>
                    </div>
                </div>
               
                <div class="row mt-2">
                    <div class="col-md-12 col-lg-6  px-3">
                        <div class="md-form md-outline">
                            <textarea class="form-control font-size-0-80 col-12 md-textarea" name="Des" id="Des"></textarea>
                            <label for="Des" class="m-active">توضیحات</label>
                        </div>
                    </div>
                </div>

                <blockquote class="blockquote text-right mb-0 bq-primary  mt-2 mb-5 ">
                    <div class="row">

                        <table id="Temp" class="table display" style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>نام</th>
                                    <th class="text-nowrap">نام خانوادگی</th>
                                    <th>موبایل</th>
                                    <th>کدملی</th>
                                    <th>تاریخ</th>
                                    <th>ساعت</th>

                                    <th>مبدا</th>
                                    <th>مقصد</th>
                                    <th class="text-nowrap">وسیله نقلیه</th>
                                    <th class="text-nowrap">شماره حساب</th>
                                    <th>هتل</th>
                                    <th>نهار</th>
                                    <th>شام</th>
                                    <th class="text-nowrap">خدمات ویژه</th>
                                    <th class="text-nowrap">صندلی اضافه</th>
                                    <th></th>
                                    @*<th>کد شخص</th>
        <th>توضیحات</th>
        <th>کد مسیر</th>
        <th>تاریخ</th>
        <th>کد نوع وسیله</th>
        <th>کد شماره حساب</th>
        <th>برگشت</th>*@
                                </tr>
                            </thead>
                        </table>


                    </div>
                </blockquote>
                <div class="md-form text-left">
                    <div class="col-md-12">
                        <input type="button" id="addItems" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
                    </div>
                </div>



            }
        </div>
        <div class="tab-pane fade rtl" id="follow-classic-orange" role="tabpanel" aria-labelledby="follow-tab-classic-orange">
            <div id="advancedSearch"></div>

            <table id="DataList" class="table " style="width: 100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>شماره درخواست</th>
                        <th>تاریخ</th>
                        <th>ساعت</th>
                        <th>مبدا</th>
                        <th>مقصد</th>
                        <th>سفر</th>
                        <th>شماره پرسنلی</th>
                        <th>کد ملی</th>
                        <th>نام و نام خانوادگی</th>
                        <th>تاریخ تقاضا</th>
                        <th>گروه</th>
                        <th></th>
                    </tr>
                </thead>

            </table>
        </div>
        <div class="tab-pane fade" id="contact-classic-orange" role="tabpanel" aria-labelledby="contact-tab-classic-orange">
            @Html.Action("CreateChild", "Person", new { area = string.Empty })
        </div>
        <div class="tab-pane fade rtl" id="edit-tab" role="tabpanel" aria-labelledby="edit-tab-nav">
            <div id="upd-edit-tab"></div>
        </div>
    </div>

</div>
<div class="modal fade rtl" id="modalPersons" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body rtl text-right mx-3 ">
                <!--Accordion wrapper-->
                <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">
                    <!-- Accordion card -->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                               aria-controls="collapseOne1">
                                <h5 class="">
                                    <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                                </h5>
                            </a>
                        </div>
                        <!-- Card body -->
                        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="Name" name="Name">
                                            <label for="Name" class="active">نام</label>
                                        </div>
                                    </div>
                                    <div class="col ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="Family" name="Family">
                                            <label for="Family" class="active">نام خانوادگی</label>
                                        </div>
                                    </div>
                                    <div class="col  ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="NationalCode" name="NationalCode">
                                            <label for="NationalCode" class="active">کدملی</label>
                                        </div>
                                    </div>
                                    <div class="col  ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="PersonnelCode" name="PersonnelCode">
                                            <label for="PersonnelCode" class="active">شماره پرسنلی</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->
                </div>
                <!-- Accordion wrapper -->
                @Html.Action("UserAccess", "Person", new { area = "" })
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var temp;

        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            disableBeforeToday: @(ViewBag.UserGroup == 1 ? "false" : "true"),
            //fromDate: true,
            selectedDate: today,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            disableBeforeToday: @(ViewBag.UserGroup == 1 ? "false" : "true"),
            toDate: true,
            selectedDate: threeDays,
            groupId: "Start-End-Date"
        });
        function getFamily() {

          //  e.preventDefault();

            $.getJSON("/person/FamilyJson/",
                {
                    code: $("#Person").val()
                },
                function (data) {
                    var select = $("#Sick");
                    var family = $("#family");
                    select.empty();
                    family.empty();
                    if (data === "NotFound") {
                        $("#headName").html("کارمندی با این کد وجود ندارد");
                        $("#headFamily").html('');
                        $("#headNationalCode").html('');
                        $("#headPersonnelCode").html('');
                        $("#headOffice").html('');
                        $("#headOfficeDepartment").html('');
                        select.addClass("disabled");
                    } else {
                        $("#headName").html(data[0].Name);
                        $("#headFamily").html(data[0].Family);
                        $("#headNationalCode").html(data[0].NationalCode);
                        $("#headPersonnelCode").html(data[0].PersonnelCode);
                        $("#headOffice").html(data[0].Office);
                        $("#headOfficeDepartment").html(data[0].OfficeDepartment);
                        select.removeClass("disabled");
                    }


                    $.each(data,
                        function (index, itemData) {
                            family.append($('<option/>',
                                {
                                    'value': itemData.NationalCode,
                                    'text': itemData.Name + ' ' + itemData.Family,
                                }));
                            select.append($('<option/>',
                                {
                                    //class:'pre',
                                    'value': itemData.NationalCode,
                                    'text': itemData.Name + ' ' + itemData.Family,
                                    'data-secondary-text': itemData.NationalCode + ' - ' + itemData.FamilyRelationship
                                    //html: `<i class='fas  fa-user  text-success mr-5'></i>  ${
                                    //    itemData.Name} ${itemData.Family
                                    //    } <i class='fas fa-id-card  text-success mr-5'></i> ${
                                    //    itemData.NationalCode
                                    //    }  <i class='fas fa-users text-success mr-5'></i>  ${
                                    //    itemData.FamilyRelationship}`
                                }));
                        });


                });
        }
        function addFromModal(item, person) {
            $("#Person").val(item);
            getFamily();
            $("#check" + person).addClass('d-none');
        }
        function personMobile(id,input) {
            $.getJSON("/Person/Details/",
                { nationalCode: id },
                function (data) {
                  //  console.log(data);
                    $("#" + input).val(data.Mobile);
                });
        };

        //Add Temp Item from PersonalCode and NationalCode
        function addTempItem(e, nationalCode,mobile) {
            //console.log(nationalCode);
            e.preventDefault();
            if ($("form").valid() === true && validateSelect(e)) {
                var residence = IsChecked('residenceGo');
                var foodLunch = IsChecked('foodLunchGo');
                var foodDinner = IsChecked('foodDinnerGo');
                var extraChair = IsChecked('extraChairGo');
                var specialServices = IsChecked('specialServicesGo');

                var residenceReturn = IsChecked('residenceReturn');
                var foodLunchReturn = IsChecked('foodLunchReturn');
                var foodDinnerReturn = IsChecked('foodDinnerReturn');
                var extraChairReturn = IsChecked('extraChairReturn');
                var specialServicesReturn = IsChecked('specialServicesReturn');

                // var nationalCode = $("#nationalCode").val();
                $.getJSON("/person/DetailsJson/",
                    {
                        nationalCode
                    },
                    function (data) {
                        if (data === "NotFound") {
                            toastr['error']('کاربری با این مشخصات وجود ندارد');
                        } else {

                            temp.row.add([
                                '', //0
                                data.Name,
                                data.Family,
                                mobile,
                                data.NationalCode,
                                $("#StartDateFa").val(),
                                $("#Trip").children("option:selected").attr('data-time'),//6
                                $("#Trip").children("option:selected").attr('data-origin'), //7
                                $("#Trip").children("option:selected").attr('data-destination'), //8
                                $("#VehicleType").children("option:selected").text(), //9
                                $("#AccountNumber").children("option:selected").text(), //10
                                residence, //11
                                foodLunch, //12
                                foodDinner, //13
                                specialServices, //14
                                extraChair, //15
                                '<i class="fas fa-trash icon-delete text-danger"></i>', //16
                                data.Id, //17
                                $("#Des").val(), //18
                                $("#Trip").children("option:selected").attr('data-origin-id'), //19
                                $("#Trip").children("option:selected").attr('data-destination-id'), //20
                                $("#Trip").val(), //21
                                $("#StartDate").val(), //22
                                $("#VehicleType").children("option:selected").val(), //23
                                $("#AccountNumber").children("option:selected").val(), //24
                                $("#Trip").children("option:selected").attr('data-route'), //25
                                false //26 isReturn?
                            ]).draw();
                            if ($("#TripReturn").val() !== null) {
                                temp.row.add([
                                    '', //0
                                    data.Name,
                                    data.Family,
                                    mobile,
                                    data.NationalCode,
                                  
                                    $("#EndDateFa").val(),
                                    $("#TripReturn").children("option:selected").attr('data-time'),//5
                                    $("#TripReturn").children("option:selected").attr('data-origin'), //6
                                    $("#TripReturn").children("option:selected").attr('data-destination'), //7
                                    $("#VehicleType").children("option:selected").text(), //8
                                    $("#AccountNumber").children("option:selected").text(), //9
                                    residenceReturn, //10
                                    foodLunchReturn, //11
                                    foodDinnerReturn, //12
                                    specialServicesReturn, //13
                                    extraChairReturn, //14
                                    '<i class="fas fa-trash icon-delete text-danger"></i>', //15
                                    data.Id, //16
                                    $("#Des").val(), //17
                                    $("#TripReturn").children("option:selected").attr('data-origin-id'), //18
                                    $("#TripReturn").children("option:selected").attr('data-destination-id'), //19
                                    $("#TripReturn").val(), //20
                                    $("#EndDate").val(), //21
                                    $("#VehicleType").children("option:selected").val(), //22
                                    $("#AccountNumber").children("option:selected").val(), //23
                                    $("#TripReturn").children("option:selected").attr('data-route'), //24
                                    true //25 isReturn?
                                ]).draw();
                            }

                            //$("#nationalCode").val('');

                        }
                    });
            } else {
                validateSelect(e);
            }
        };
        $(document).ready(function () {
            //#region UserListModal
            const t = $('#DataListModalPerson').DataTable({
                //"stateSave": true,
                "processing": false,
                "serverSide": true,
                "ajax": {
                    "url": "/Person/Items",
                    "type": "POST",
                    "dataType": "json",
                    "data": function (d) {
                        d.Name = $('#Name').val();
                        d.Family = $('#Family').val();
                        d.NationalCode = $('#NationalCode').val();
                        d.PersonnelCode = $('#PersonnelCode').val();
                        d.Office = $('#Office').val();
                        d.OfficeDepartment = -1;
                        d.Management = $('#Management').val();
                        //d.Group = [1, 4, 5, 6];
                       // d.ShiftWorker = false;
                    }
                },
                "dom": 'rt<"row"<"col-6"i><"col-6"p>>',
                //"dom": 'rt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
                "columns": [
                    //{ "data": "id", "name": "id" },
                    { "data": "Name", "name": "Name", "class": "font-size-0-75" },
                    { "data": "Family", "name": "Family", "class": "font-size-0-75" },
                    { "data": "NationalCode", "name": "NationalCode", "class": "font-size-0-75 " },
                    { "data": "PersonnelCode", "name": "PersonnelCode", "class": "font-size-0-75" },
                    { "data": "Group", "name": "Group", "class": "font-size-0-75 blue-grey-text" },
                    { "data": "Office", "name": "TblOfficeDepartment.TblOffice.Title", "class": "font-size-0-75 blue-grey-text" },
                    //{ "data": "OfficeDepartment", "name": "TblOfficeDepartment.Title" },
                    {
                        "orderable": false,
                        "data": "edit",
                        "name": "edit",
                        "class": "font-size-0-75 fit",
                        "render": function (data, type, row, meta) {
                            return `<span class='blue-text cursor-pointer' id="check${row.DT_RowId}"
                            onclick="addFromModal(${row.NationalCode},${row.DT_RowId})">
                            <i class='fas fa-plus-square fa-lg ml-2'></i><span class="">افزودن</span></span>`;
                        }
                    }
                ],
                "pageLength": 10,
                "order": [[1, "asc"], [0, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                }
            });

            //#region Advanced Search
            $('.advancedSearch').on('keypress',
                function (e) {
                    /* ENTER Tab Space PRESSED*/
                    if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                        t.draw();
                    }
                });
            $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                function (e) {
                    t.draw();
                });

            //#endregion
            //#endregion
            VehicleTypes("VehicleType");
            AccountNumbers('AccountNumber', 0);

            $('#StartDate,#VehicleType').on('change',
                function (e) {
                    //console.log($("#StartDate").val());
                    //console.log($("#VehicleType").children("option:selected").val());
                    Trips('Trip', $("#StartDate").val(), $("#VehicleType").children("option:selected").val());
                });
            $('#EndDate').on('change',
                function (e) {
                    Trips('TripReturn', $("#EndDate").val(), $("#VehicleType").children("option:selected").val());
                });
            $('#VehicleType').on('change',
                function (e) {
                    Trips('Trip', $("#StartDate").val(), $("#VehicleType").children("option:selected").val());
                    Trips('TripReturn', $("#EndDate").val(), $("#VehicleType").children("option:selected").val());
                });

            $('#Trip').on('change',
                function (e) {
                   
                    if ($("#Trip").children("option:selected").attr('data-foodLunch') === 'true')
                        $("#foodLunchGo").prop('checked', true);
                    else $("#foodLunchGo").prop('checked', false);
                    if ($("#Trip").children("option:selected").attr('data-foodDinner') === 'true')
                        $("#foodDinnerGo").prop('checked', true);
                    else $("#foodDinnerGo").prop('checked', false);

                });
            $('#TripReturn').on('change',
                function (e) {
                   
                    if ($("#TripReturn").children("option:selected").attr('data-foodLunch') === 'true')
                        $("#foodLunchReturn").prop('checked', true);
                    else $("#foodLunchReturn").prop('checked', false);
                    if ($("#TripReturn").children("option:selected").attr('data-foodDinner') === 'true')
                        $("#foodDinnerReturn").prop('checked', true);
                    else $("#foodDinnerReturn").prop('checked', false);

                });

            $('#Person').on('keypress',
                function (e) {
                    /* ENTER Tab Space PRESSED*/
                    if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                        getFamily(e);
                    }
                });

           
            $("#Sick").on('change',
                function (e) {
                    personMobile(e.target.value,"SickMobile");
                }
            );
            $("#alongSick").on('change',
                function (e) {
                    personMobile(e.target.value,"alongSickMobile");
                }
            );

            //Initial DataTable
            temp = $('#Temp').DataTable({
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false,
                "columnDefs": [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": '',
                        "targets": 0
                    },
                    {
                        "width": "90px",
                        "targets": [11, 12, 13, 14, 15, 17]
                    },
                    {
                        "targets": [17, 18, 19, 20, 21, 22, 23, 24, 25],
                        "visible": false

                    },
                    {
                        "targets": [11, 12, 13, 14, 15],
                        "render": function (data, type, row, meta) {
                            return data === true
                                ? '<i class="fas fa-check-square"></i>'
                                : '<i class="far fa-square"></i>';
                        }
                    }
                ]
            });

            function childRows(d) {
                // `d` is the original data object for the row
                return '<ul class="list-unstyled w-100 m-0 p-0  py-2  yellow lighten-5 " >' +
                    '<li><span class="text-bold px-5">توضیحات:</span>' +
                    d[18] +
                    '</li>' +
                    //'<li><span class="text-bold px-5">بازپرداخت هزینه ها:</span>' +
                    //d[17] +
                    //'</li>' +
                    '</ul>';
            }
        

            $('#addSick').on('click', function (e) { addTempItem(e, $("#Sick").val(), $("#SickMobile").val()) });
            $('#addAlongSick').on('click', function (e) { addTempItem(e, $("#alongSick").val(), $("#alongSickMobile").val()) });


            //Post Data on DataTable to addMission Action for Save to db
            $('#addItems').on('click',
                function (e) {
                    //console.log(1);
                    var items = [];
                    var t1 = temp.rows().data().toArray();
                    t1.forEach(function (item) {
                        items.push({
                            person: item[17],
                            trip: item[21],
                            route: item[26],
                            origin: item[19],
                            destination: item[20],
                            des: item[18],
                            date: item[22],
                            time: item[6],
                            residence: item[11],
                            foodLunch: item[12],
                            foodDinner: item[13],
                            specialServices: item[14],
                            extraChair: item[15],
                            vehicleType: item[23],
                            accountNumber: item[24],
                            isReturn: item[26],
                            bookingCode: 7
                        });
                    });
                    e.preventDefault();

                    $.post("/booking/AddBooking/",
                        {
                            items: items
                        },
                        function (data) {
                            $.each(data,
                                function (index, itemData) {
                                    toastr[itemData.Type](itemData.Msg);
                                });

                            $('#myTab li:nth-child(2) a').tab('show'); // Select third tab

                            t.draw();


                        });


                });

        });
        //ابتدا خواندن جستجوی پیشرفته
        $.get("/Reservation/Booking/AdvancedSearch",
            function (data) {
                $('#advancedSearch').html(data);
              
            })
            .then(function () {
              
            })
            //سپس اجرای باقی دستورات
            .then(
                function () {

                    $('#advancedSearch .mdb-select').materialSelect();
                    $('#advancedSearch .mdb-select.not-required.do-select.select-wrapper .select-dropdown').val("")
                        .prop('placeholder', 'انتخاب نمایید');
                    $('#advancedSearch .mdb-select.required.do-select.select-wrapper .select-dropdown').val("")
                        .prop('placeholder', 'انتخاب نمایید');


                    $('#searchBDate').MdPersianDateTimePicker({
                        targetTextSelector: '#searchDateFa',
                        targetDateSelector: '#searchDate',
                        textFormat: 'yy/MM/dd',
                        disableBeforeToday: false,
                        rangeSelector: true
                    });
                    $('#searchRDate').MdPersianDateTimePicker({
                        targetTextSelector: '#searchRequestDateFa',
                        targetDateSelector: '#searchRequestDate',
                        textFormat: 'yy/MM/dd',
                        disableBeforeToday: false,
                        rangeSelector: true
                    });

                    $('#searchBDate').MdPersianDateTimePicker('setDateRange', lastWeek, nextWeek);

                    $(document).ready(function () {
                        //  $('#myTab li:nth-child(2) a').tab('show');


                        //#region Tab Manage Booking

                        var groupColumn = 2;
                        var t = $('#DataList').DataTable({
                            "processing": true,
                            "serverSide": true,
                            // "stateSave": true,
                            "ajax": {
                                "url": "/Reservation/Booking/List/",
                                "type": "POST",
                                "dataType": "json",
                                "data": function (d) {
                                    d.extra_search = $('#extra').val();
                                    d.searchDate = $('#searchDate').val();
                                    d.searchTimeGo = $('#searchTimeGo').val();
                                    d.searchVehicleType = $('#searchVehicleType').val();
                                    d.searchOrigin = $('#searchOrigin').val();
                                    d.searchDestination = $('#searchDestination').val();
                                    d.searchStatus = $('#searchStatus').val();
                                    d.searchRequestDate = $('#searchRequestDate').val();
                                    d.searchPersonalCode = $('#searchPersonalCode').val();
                                    d.searchNationalCode = $('#searchNationalCode').val();
                                    d.searchName = $('#searchName').val();
                                    d.searchFamily = $('#searchFamily').val();
                                    d.searchMobile = $('#searchMobile').val();
                                    d.searchManagement = $('#searchManagement').val();
                                    d.searchOffice = $('#searchOffice').val();
                                    d.searchOfficeDepartment = $('#searchOfficeDepartment').val();
                                    d.searchRequestNumber = $('#searchRequestNumber').val();
                                    d.searchBookingCode = 7;
                                    // d.searchClaim= $('#searchClaim').children("option:selected").val();
                                    d.searchFood = $('#searchFood').val();
                                    d.searchDes = $('#searchDes').val();

                                }
                            },
                            "dom": 'rt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
                            "searching": false,
                            "columns": [
                                { "data": "id", "name": "id" },
                                {
                                    "class": "details-control",
                                    "orderable": false,
                                    "data": null,
                                    "defaultContent": ""
                                },
                                { "data": "RequestNumber", "name": "RequestNumber" },
                                { "data": "Date", "name": "Date" },
                                { "data": "Time", "name": "Time" },
                                { "data": "Origin", "name": "Origin" },
                                { "data": "Destination", "name": "Destination" },
                                { "data": "Trip", "name": "Trip" },
                                { "data": "PersonnelCode", "name": "TblPerson.PersonnelCode" },
                                { "data": "NationalCode", "name": "TblPerson.NationalCode" },
                                { "data": "Fullname", "name": "TblPerson.Family" },
                                { "data": "RequestTime", "name": "RequestTime" },
                                { "data": "Group", "name": "TblPerson.TblPersonGroup.Title" },
                                {
                                    "data": "edit",
                                    "name": "edit",
                                    "render": function (data, type, row, meta) {
                                        return `<a id='edit-booking-${row.DT_RowId
                                            }' class='text-success ml-2 editBooking' data-id='${row.DT_RowId
                                            }' ><i class='fas fa-edit fa-2x'></i></a> ` +
                                            `<a id='delete-booking-${row.DT_RowId
                                            }' class='text-danger ml-2 deleteBooking' data-id='${row.DT_RowId
                                            }' data-toggle="modal" data-target="#modalConfirmDelete"><i class='fas fa-trash-alt fa-2x'></i></a> `;
                                    }
                                }
                            ],

                            "order": [[groupColumn, 'desc']],
                            "language": {
                                "url": "/Content/js/addons/datatables.persian.json"
                            },
                            "columnDefs": [
                                { "visible": false, "targets": groupColumn },
                                {
                                    "orderable": false,
                                    //
                                    //"className": 'text-bold',
                                    "width": "50px",
                                    "targets": 0
                                },
                                {
                                    "orderable": false,
                                    "width": "125px",
                                    "targets": 13
                                }
                            ],
                            //"select": {
                            //    style: 'os',
                            //    selector: 'td:first-child'
                            //},
                            "displayLength": 25,
                            "drawCallback": function (settings) {
                                var api = this.api();
                                var rows = api.rows({ page: 'current' }).nodes();
                                var last = null;
                                var klass = "myEven";
                                api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {
                                    //if (last !== group) {
                                    //    klass === "myOdd" ? klass = "myEven" : klass = "myOdd";
                                    //}
                                    $(rows).eq(i).removeClass("odd even").addClass(klass);

                                    if (last !== group) {
                                        $(rows).eq(i).before(
                                            `<tr class="group  pt-5 "><td class=" green-text  my-0 pt-4 pb-0 pr-5 text-bold " colspan="13">
                                                                                <span class="ml-5">شماره درخواست:</span><span class="text-bold">${
                                            group
                                            }</span></td></tr>`
                                        );
                                        last = group;
                                    }
                                });
                            }
                        });

                        //شماره گذاری سطر های جدول
                        t.on('order.dt search.dt',
                            function () {
                                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                                    cell.innerHTML = i + 1;
                                });
                            }).draw();

                        //ایجاد لینک ویرایش در جدول
                        t.on('click',
                            'a.editBooking',
                            function (e) {
                                // console.log(e.currentTarget.attributes['data-id'].value);
                                $.get("/Travel/BookingRequests/EditMission/",
                                    { id: e.currentTarget.attributes['data-id'].value },
                                    function (data, status, xhr) {
                                        $('#upd-edit-tab').html(data);
                                        $('#myTab li:nth-child(4) a').tab('show');
                                        $('#Editrdate').MdPersianDateTimePicker({
                                            targetTextSelector: '#EdiDateGoFa',
                                            targetDateSelector: '#EdiDateGo',
                                            textFormat: 'yyyy/MM/dd',
                                        });
                                        $('#upd-edit-tab .mdb-select').materialSelect();


                                        $("#saveEdit").on('click',
                                            function () {
                                                console.log(23);
                                                var residence = false;
                                                if ($("#EditResidence").is(':checked')) residence = true;

                                                var foodLunch = false;
                                                if ($("#EditFoodLunch").is(':checked')) foodLunch = true;

                                                var foodDinner = false;
                                                if ($("#EditFoodDinner").is(':checked')) foodDinner = true;
                                                $.post("/Travel/BookingRequests/EditMission/",
                                                    {
                                                        id: $('#EditId').val(),
                                                        tel: $('#EditTel').val(),
                                                        date: $('#EdiDateGo').val(), //
                                                        time: $('#EditTimeGo').val(), //
                                                        route: $('#EditRoute').children("option:selected").val(),
                                                        mobile: $('#EditMobile').val(),
                                                        vehicleType: $('#EditVehicleType').children("option:selected")
                                                            .val(),
                                                        residence: residence,
                                                        foodLunch: foodLunch,
                                                        foodDinner: foodDinner,
                                                        des: $('#EditDes').val(),
                                                        claim: $('#EditClaim').val()

                                                    },
                                                    function (data) {
                                                        $.each(data,
                                                            function (index, itemData) {
                                                                toastr[itemData.Type](itemData.Msg);

                                                            });

                                                        $('#myTab li:nth-child(2) a').tab('show'); // Select third tab

                                                        t.draw();
                                                        $('#upd-edit-tab').html('');

                                                    });
                                            });
                                    }).fail(function (data) {
                                        console.log(data.status);

                                        console.log("error");
                                    });
                            });

                        //ایجاد لینک حذف در جدول
                        t.on('click',
                            'a.deleteBooking',
                            function (e) {
                                //console.log(e.currentTarget.attributes['data-id'].value);
                                $("#modalDeleteYes").attr("data-id", e.currentTarget.attributes['data-id'].value);
                                $("#modalDeleteYes").on('click',
                                    function (b) {
                                        $.post("/Travel/BookingRequests/DeleteJava/",
                                            { id: e.currentTarget.attributes['data-id'].value },
                                            function (data, status, xhr) {
                                                toastr[data.Type](data.Msg);
                                                t.draw();
                                                $('#modalConfirmDelete').modal('hide');
                                            }).fail(function (data) {
                                                console.log(data.status);
                                                console.log("error");
                                            });
                                        //console.log(b.currentTarget.attributes['data-id'].value);
                                    });

                            });

                        // Add event listener for opening and closing details
                        $('#DataList tbody').on('click',
                            'td.details-control',
                            function () {
                                var tr = $(this).closest('tr');
                                var row = t.row(tr);

                                if (row.child.isShown()) {
                                    // This row is already open - close it
                                    row.child.hide();
                                    tr.removeClass('shown');
                                } else {
                                    // Open this row
                                    row.child(childRowsT(row.data()), 'm-0 p-0').show();
                                    tr.addClass('shown');
                                }
                            });

                        function childRowsT(d) {
                            //console.log(d);
                            // `d` is the original data object for the row
                            return `<table class="no-border  table-sm w-100 font-size-0-75 yellow lighten-5">
                                                                    <tr>
                                                                    <th></th><th></th>
                                                                    <th>تلفن</th>
                                                                    <th>موبایل</th>
                                                                    <th>اداره</th>
                                                                    <th>واحد</th>
                                                                    <th>هتل</th>
                                                                    <th>نهار</th>
                                                                    <th>شام</th>
                                                                    <th>وسیله نقلیه</th>
                                                                    <th>توضیحات</th>
                                                                    </tr>
                                                                    <tr>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td> ${d["Tel"]}</td>
                                                                    <td> ${d["Mobile"]}</td>
                                                                    <td> ${d["Office"]}</td>
                                                                    <td> ${d["OfficeDepartment"]}</td>
                                                                    <td> ${d["Residence"] === true
                                    ? '<i class="fas fa-check-square"></i>'
                                    : '<i class="far fa-square"></i>'}</td>
                                                                    <td> ${d["FoodLunch"] === true
                                    ? '<i class="fas fa-check-square"></i>'
                                    : '<i class="far fa-square"></i>'}</td>
                                                                    <td> ${d["FoodDinner"] === true
                                    ? '<i class="fas fa-check-square"></i>'
                                    : '<i class="far fa-square"></i>'}</td>
                                                                    <td> ${d["VehicleType"]}</td>
                                                                    <td> ${d["Des"]}</td>


                                                                    </tr>
                                                                    </table>`;
                        }
                        //#endregion

                        //#region Advanced Search


                        $('.advancedSearch').on('keypress',
                            function (e) {
                                /* ENTER Tab Space PRESSED*/
                                if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                                    t.draw();
                                }
                            });
                        $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                            function (e) {

                                t.draw();
                            });

                        //#endregion

                        //#region Tab Add Booking
                       
                       

                       
                        $('#prependPersonalCode').on('click', getFamily);
                        
                        $('#prependNationalCode').on('click', function (e) { addTempItem(e, $("#nationalCode").val(), false) });
                        $('#nationalCode').on('keypress',
                            function (e) {
                                /* ENTER Tab Space PRESSED*/
                                if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                                    addTempItem(e, $("#nationalCode").val(), false);
                                }
                            });

                       

                        // Add event listener for opening and closing details
                        $('#Temp tbody').on('click', 'td.details-control',
                            function () {
                                var tr = $(this).closest('tr');
                                var row = temp.row(tr);

                                if (row.child.isShown()) {
                                    // This row is already open - close it
                                    row.child.hide();
                                    tr.removeClass('shown');
                                } else {
                                    // Open this row
                                    row.child(childRows(row.data()), 'm-0 p-0').show();
                                    tr.addClass('shown');
                                }
                            });
                        //Delete Icon On Click in DataTable and remove Item
                        $('#Temp tbody').on('click', 'i.icon-delete',
                            function () {
                                temp
                                    .row($(this).parents('tr'))
                                    .remove()
                                    .draw();
                            });


                       

                     


                        //#endregion
                    });

                });
    </script>
}
