﻿@model Omidiyeh_Oil_Company___0147.Models.TblBookingRequest


@{
    ViewBag.Title = "درخواست ماموریت";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style type="text/css">
    ul.stepper li a {
        padding: unset;
    }
</style>
<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_BookingReservation")
    <!--Header-->
    <form id="add" class="needs-validation" novalidate="novalidate">
        @Html.AntiForgeryToken()
        <div class="card-body">

            <ul class="stepper linear mt- pt-0" id="ReservationStepper">
                <li class="step active">
                    <div data-step-label="" class="step-title waves-effect waves-dark">گام اول: انتخاب تاریخ</div>
                    <div class="step-new-content">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 px-4">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center readonly" aria-label="sDate" aria-describedby="sDate"
                                           data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                                    <label for="StartDateFa">تاریخ حرکت</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="StartDate" id="StartDate" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 px-4">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center readonly timepicker"
                                           data-val="true" data-val-required=" " id="TimeGo" name="TimeGo" value="">
                                    <label for="TimeGo" class="m-active">ساعت حرکت</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="eDate"><i class="fas fa-clock"></i></span>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="step-actions ">
                            <button class="waves-effect waves-dark  btn btn-sm btn-link  btn-link next-step mr-auto shadow-none text-primary"><span class="fas fa-arrow-circle-left ml-1 fa-lg "></span>گام بعد</button>
                        </div>
                    </div>
                </li>
                <li class="step">
                    <div data-step-label="" class="step-title waves-effect waves-dark">گام دوم: انتخاب مسیر و وسیله نقلیه</div>
                    <div class="step-new-content">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 px-4">
                                <div class="select-outline mt-2 mb-0">
                                    <select name="Route" id="Route" class="mdb-select required md-form md-outline font-size-0-90 mt-0 mb-0 readonly " searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="Route" class="m-active">مسیر</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 px-4">
                                <div class="select-outline mt-2 mb-0">
                                    <select name="VehicleType" id="VehicleType" class="mdb-select required md-form md-outline font-size-0-90 mt-0 mb-0 readonly " searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="VehicleType" class="m-active">وسیله نقلیه</label>
                                </div>
                            </div>

                        </div>

                        <div class="step-actions ">
                            <button class="waves-effect waves-dark  btn btn-sm btn-link  btn-link next-step mr-auto shadow-none text-primary"><span class="fas fa-arrow-circle-left ml-1 fa-lg "></span>گام بعد</button>
                        </div>
                    </div>
                </li>
                <li class="step">
                    <div class="step-title waves-effect waves-dark">گام سوم: انتخاب شماره حساب</div>
                    <div class="step-new-content">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 px-4">
                                <div class="select-outline mt-2 mb-0">
                                    <select name="AccountNumber" id="AccountNumber" class="mdb-select required md-form md-outline font-size-0-90 mt-0 mb-0 readonly AccountNumber" searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="AccountNumber" class="m-active">شماره حساب</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="blue-grey-text text-right mt-3">
                                    <i class="far fa-building  text-success mr-4"></i>
                                    <span id="OfficeTitle" class="mx-1 font-size-0-75"></span>
                                    <i class="fas fa-building  text-success mr-4"></i>
                                    <span id="OfficeDepartmentTitle" class="mx-1  font-size-0-75"></span>
                                </div>
                            </div>
                        </div>

                        <div class="step-actions">
                            <button class="waves-effect waves-dark  btn btn-sm btn-link  btn-link next-step mr-auto shadow-none text-primary"><span class="fas fa-arrow-circle-left ml-1 fa-lg "></span>گام بعد</button>
                        </div>
                    </div>
                </li>
                <li class="step">
                    <div class="step-title waves-effect waves-dark">گام چهارم: شرح درخواست</div>
                    <div class="step-new-content">
                      
                        <div class="row">
                            <div class="col-sm-12 col-md-8 px-4">
                                <div class="md-form md-outline mt-2 mb-2 input-group">
                                    <input type="text" class="form-control  text-right" name="Des" id="Des" >
                                    <label for="Des" class="m-active">توضیحات</label>
                                    <div class="input-group-prepend" id="prependDes">
                                        <span class="input-group-text ">
                                            <i class="fas fa-edit " aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 mr-4">
                                <div class="form-check mt-1">
                                    <input type="checkbox" class="form-check-input Checked" name="residence" id="residence" value="true">
                                    <label class="form-check-label text-nowrap" for="residence">هتل</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-check mt-1">
                                    <input type="checkbox" class="form-check-input Checked" name="foodLunch" id="foodLunch" value="true">
                                    <label class="form-check-label " for="foodLunch">نهار</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-check mt-1">
                                    <input type="checkbox" class="form-check-input Checked" name="foodDinner" id="foodDinner" value="true">
                                    <label class="form-check-label" for="foodDinner">شام</label>
                                </div>
                            </div>
                        </div>
                        <div class="step-actions">
                            @*<button class="waves-effect waves-dark btn btn-sm btn-secondary previous-step mr-auto  ml-0">برگشت</button>*@
                            <button class="waves-effect waves-dark  btn btn-sm btn-link  btn-link next-step mr-auto shadow-none text-primary"><span class="fas fa-arrow-circle-left ml-1 fa-lg "></span>گام بعد</button>
                        </div>
                    </div>
                </li>
                
                <li class="step">
                    <div class="step-title waves-effect waves-dark"> گام پنجم:انتخاب نفرات</div>
                    <div class="step-new-content">
                        <div class="row mt-2">


                            <div class="col-md-4 px-4">
                                <div class="md-form md-outline mt-0 mb-2 input-group">
                                    <input type="text" class="form-control  text-center" name="Person" id="Person">
                                    <label for="Person" class="m-active">شماره پرسنلی / کدملی</label>
                                    <div class="input-group-prepend" id="prependPerson" data-toggle="modal" data-target="#modalPersons">
                                        <span class="input-group-text " id="basic-text1">
                                            <i class="fas fa-search " aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <span class="field-validation-valid invalid-feedback mr-2" data-valmsg-for="TblPerson.PersonnelCode" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="waves-effect btn btn-link mr-auto text-primary p-0"
                                        style="vertical-align: text-top" type="button" name="addToList" id="addToList">
                                    <i class="fas fa-plus-square ml-2 fa-2x "></i>
                                    <span class="align-top lh24 border-bottom"> افزودن به لیست</span>
                                </button>
                            </div>
                           

                        </div>
                        <div class="row mt-2">

                            <div class="col-12" id="updPerson">

                            </div>
                        </div>
                        <div class="step-actions">
                            <button class="waves-effect waves-dark  btn btn-sm btn-link  btn-link next-step mr-auto shadow-none text-primary"><span class="fas fa-arrow-circle-left ml-1 fa-lg "></span>گام بعد</button>
                        </div>
                    </div>
                </li>
                

                <li class="step" id="finalStep">
                    <div class="step-title waves-effect waves-dark"> گام ششم: ثبت نهایی درخواست</div>
                    <div class="step-new-content">
                        <div class="row">
                            
                            <div id="upd" class="col-12 mx-2 table-responsive">
                                <table id="TempMission" class="table table-striped display mt-2" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>شماره پرسنلی</th>
                                            <th>کدملی</th>
                                            <th>نام</th>
                                            <th>نام خانوادگی</th>
                                            <th>تاریخ</th>
                                            <th>ساعت</th>
                                            <th>وسیله نقلیه</th>
                                            <th>مسیر</th>
                                            <th>شماره حساب</th>
                                            <th>هتل</th>
                                            <th>نهار</th>
                                            <th>شام</th>
                                            <th></th>
                                            <th>کد شخص</th>
                                            <th>توضیحات</th>
                                            <th>کد مسیر</th>
                                            <th>تاریخ</th>
                                            <th>کد نوع وسیله</th>
                                            <th>کد شماره حساب</th>
                                            @* <th>توضیحات</th>*@
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex flex-row justify-content-end align-items-end align-self-end mt-3 col-12 ">
                                <button class="btn btn-link cta  mr-auto ml-0 font-size-0-50 d-none" type="button" id="save">
                                    <i class="fas fa-save fa-lg"></i>
                                    <span>ثبت درخواست</span>
                                </button>
                            </div>
                        </div>
                        @*<div class="step-actions">
                                <button class="waves-effect waves-dark btn btn-sm btn-secondary previous-step mr-auto  ml-0">برگشت</button>
                            </div>*@
                    </div>
                </li>

            </ul>
        </div>
    </form>
</div>
<div class="modal fade rtl" id="modalPersons" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body rtl text-right mx-3 ">
                <!--Accordion wrapper-->
                <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">
                    <!-- Accordion card -->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                               aria-controls="collapseOne1">
                                <h5 class="">
                                    <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                                </h5>
                            </a>
                        </div>
                        <!-- Card body -->
                        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="Name" name="Name">
                                            <label for="Name" class="active">نام</label>
                                        </div>
                                    </div>
                                    <div class="col ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="Family" name="Family">
                                            <label for="Family" class="active">نام خانوادگی</label>
                                        </div>
                                    </div>
                                    <div class="col  ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="NationalCode" name="NationalCode">
                                            <label for="NationalCode" class="active">کدملی</label>
                                        </div>
                                    </div>
                                    <div class="col  ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="PersonnelCode" name="PersonnelCode">
                                            <label for="PersonnelCode" class="active">شماره پرسنلی</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->
                </div>
                <!-- Accordion wrapper -->
                @Html.Action("UserAccess", "Person", new { area = "" })
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var t;
        var tempMission;
        $('[data-toggle="popover"]').popover({
            trigger: 'hover',
            container: 'body',
        });
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            disableBeforeToday: true,
            //fromDate: true,
            selectedDate: tomorrow,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            toDate: true,
            selectedDate: tomorrow,
            groupId: "Start-End-Date"
        });

        //Add Temp Item from PersonalCode and NationalCode
        function addTempItemMission(e) {
            // console.log(1);
            // e.preventDefault();
            if ($("form").valid() === true && validateSelect(e)) {
                var residence = IsChecked('residence');
                var foodLunch = IsChecked('foodLunch');
                var foodDinner = IsChecked('foodDinner');

                var personnel = $("#Person").val();
                //var nationalCode = $("#nationalCode").val();
                $.getJSON("/person/DetailsByPersonal/",
                    {
                        personnel
                    },
                    function(data) {
                        if (data === "NotFound") {
                            toastr['warning']('کاربری با این مشخصات وجود ندارد');
                        } else {
                            tempMission.row.add([
                                '', //0
                                data.PersonnelCode,
                                data.NationalCode,
                                data.Name,
                                data.Family,
                                $("#StartDateFa").val(),
                                $("#TimeGo").val(), //6
                                $("#VehicleType").children("option:selected").text(), //7
                                $("#Route").children("option:selected").text(), //8
                                $("#AccountNumber").children("option:selected").text(), //9
                                residence, //10
                                foodLunch, //11
                                foodDinner, //12
                                `<i class="fas fa-trash icon-delete text-danger" id="delete${data.Id}"></i>`, //13
                                data.Id, //14
                                $("#Des").val(), //15
                                $("#Route").children("option:selected").val(), //16
                                $("#StartDate").val(), //17
                                $("#VehicleType").children("option:selected").val(), //18
                                $("#AccountNumber").children("option:selected").val(), //19
                                //$("#Claim").children("option:selected").text(), //20
                                //$("#Claim").val(), //21
                            ]).draw();


                            $("#Person").val('');
                            if (!$('#finalStep').hasClass("active"))
                            $('#ReservationStepper').nextStep();
                           // $(`#delete${data.Id}`).focus();
                            $('#save').removeClass("d-none").focus();
                           // $('#finalStep').addClass("active");


                        }
                    });
            } else {
                validateSelect(e);
            }
        };

        var c = 0;
        var per = [];

        function enableNext(item) {
            //console.log(1);
            $(".next-" + item).removeClass('hide');
        }

        function addFromModal(item, person, e) {
            // console.log(item);
            $("#Person").val(item);
            addTempItemMission(e);
            $("#check" + person).addClass('d-none');
        }


        $(document).ready(function() {
            $('.stepper').mdbStepper();
            $('#Tab-Shift').addClass('active show');
            Routes("Route");
            VehicleTypes("VehicleType");
            AccountNumbers('AccountNumber', 0);

            //#region UserListModal
            t = $('#DataListModalPerson').DataTable({
                //"stateSave": true,
                "processing": false,
                "serverSide": true,
                "ajax": {
                    "url": "/Person/Items",
                    "type": "POST",
                    "dataType": "json",
                    "data": function(d) {
                        // console.log(1);
                        d.Name = $('#Name').val();
                        d.Family = $('#Family').val();
                        d.NationalCode = $('#NationalCode').val();
                        d.PersonnelCode = $('#PersonnelCode').val();
                        d.Office = $('#Office').val();
                        d.OfficeDepartment = $('#OfficeDepartment').val();
                        d.Management = $('#Management').val();
                        d.Group = [1, 4, 5, 6];
                        d.ShiftWorker = true;
                    }
                },
                "dom": 'rt<"row"<"col-6"i><"col-6"p>>',
                //"dom": 'rt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
                "columns": [
                    //{ "data": "id", "name": "id" },
                    { "data": "Name", "name": "Name", "class": "font-size-0-75" },
                    { "data": "Family", "name": "Family", "class": "font-size-0-75" },
                    { "data": "NationalCode", "name": "NationalCode", "class": "font-size-0-75 " },
                    { "data": "PersonnelCode", "name": "PersonnelCode", "class": "font-size-0-75" },
                    { "data": "Group", "name": "Group", "class": "font-size-0-75 blue-grey-text" },
                    {
                        "data": "Office",
                        "name": "TblOfficeDepartment.TblOffice.Title",
                        "class": "font-size-0-75 blue-grey-text"
                    },
                    //{ "data": "OfficeDepartment", "name": "TblOfficeDepartment.Title" },
                    {
                        "orderable": false,
                        "data": "edit",
                        "name": "edit",
                        "class": "font-size-0-75 fit",
                        "render": function(data, type, row, meta) {
                            return `<span class='blue-text cursor-pointer' id="check${row.DT_RowId}"
                                onclick="addFromModal(${row.NationalCode},${row.DT_RowId})">
                                <i class='fas fa-plus-square fa-lg ml-2'></i><span class="">افزودن</span></span>`;
                        }
                    }
                ],
                "pageLength": 10,
                "order": [[1, "asc"], [0, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                }
            });

            //#region Advanced Search
            $('.advancedSearch').on('keypress',
                function(e) {
                    /* ENTER Tab Space PRESSED*/
                    if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                        t.draw();
                    }
                });
            $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                function(e) {

                    t.draw();
                });

            //#endregion
            //#endregion
            $('#save').on('click',
                function(e) {
                    var items = [];
                    var t1 = tempMission.rows().data().toArray();
                    t1.forEach(function (item) {
                        items.push({
                            person: item[14],
                            route: item[16],
                            des: item[15],
                            date: item[17],
                            time: item[6],
                            residence: item[10],
                            foodLunch: item[11],
                            foodDinner: item[12],
                            vehicleType: item[18],
                            accountNumber: item[19]
                            //claim: item[18],
                        });
                    });
                    e.preventDefault();

                    $.post("/booking/AddMission/",
                        {
                            items: items
                        },
                        function (data) {
                            $.each(data,
                                function (index, itemData) {
                                    toastr[itemData.Type](itemData.Msg);

                                });

                            if (data.Result === true)
                                setTimeout(function () {
                                    window.location.href = "/Reservation/Booking/Mission";
                                },
                                    3000);


                        });
                });


            $('#Person').on('keypress',
                function(e) {
                    /* ENTER Tab Space PRESSED*/
                    if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                        // addToList(e);
                        addTempItemMission(e);
                        $('#ReservationStepper').nextStep();
                    }
                });
            $('#addToList').on('click',
                function(e) {
                    //addToList(e);
                    addTempItemMission(e);
                    $('#ReservationStepper').nextStep();
                });


            //Initial DataTable
            tempMission = $('#TempMission').DataTable({
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false,
                "columnDefs": [
                    {
                        "className": 'fit',
                        "orderable": false,
                        "data": null,
                        "defaultContent": '',
                        "targets": 0
                    },
                    {
                        "width": "90px",
                        "targets": [10, 11, 12, 13]
                    },
                    {
                        "targets": [14, 15, 16, 17, 18, 19],
                        "visible": false

                    },
                    {
                        "targets": [10, 11, 12],
                        "render": function(data, type, row, meta) {
                            return data === true
                                ? '<i class="fas fa-check-square"></i>'
                                : '<i class="far fa-square"></i>';
                        }
                    }
                ]
            });

            //Delete Icon On Click in DataTable and remove Item
            $('#TempMission tbody').on('click',
                'i.icon-delete',
                function () {
                    tempMission
                        .row($(this).parents('tr'))
                        .remove()
                        .draw();
                });


            //Post Data on DataTable to addMission Action for Save to db
            $('#addMission').on('click',
                function (e) {

                    var items = [];
                    var t1 = tempMission.rows().data().toArray();
                    t1.forEach(function (item) {
                        items.push({
                            person: item[14],
                            route: item[16],
                            des: item[15],
                            date: item[17],
                            time: item[6],
                            residence: item[10],
                            foodLunch: item[11],
                            foodDinner: item[12],
                            vehicleType: item[18],
                            accountNumber: item[19]
                            //claim: item[18],
                        });
                    });
                    e.preventDefault();

                    $.post("/booking/AddMission/",
                        {
                            items: items
                        },
                        function (data) {
                            $.each(data,
                                function (index, itemData) {
                                    toastr[itemData.Type](itemData.Msg);

                                });

                            $('#myTab li:nth-child(2) a').tab('show'); // Select third tab

                            tMission.draw();


                        });


                });
        });


    </script>
}