﻿@model Omidiyeh_Oil_Company___0147.Models.TblBookingRequest

@{
    ViewBag.Title = "درخواست بوکینگ - غیر اداری";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style type="text/css">

    .select-wrapper.md-form.md-outline input.select-dropdown {
        white-space: pre !important;
    }
</style>
<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_Booking")
    <!--Header-->

    <div class="card-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-3 px-3">
                    <div class="select-outline mt-2 mb-0">
                        <select name="VehicleType" id="VehicleType" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="VehicleType" class="m-active">@Html.DisplayNameFor(model => model.VehicleType)</label>
                    </div>
                </div>
                <div class="col-sm-3 px-3">
                    <div class="select-outline mt-2 mb-0">
                        <select name="AccountNumber" id="AccountNumber" class="mdb-select required md-form md-outline font-size-0-90 mt-0 mb-0 readonly" searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="AccountNumber" class="m-active">شماره حساب</label>
                    </div>
                </div>
                <div class="col">
                    <div class="blue-grey-text text-right mt-3">
                        <i class="far fa-building  text-success mr-4"></i>
                        <span id="OfficeTitle" class="mx-1 font-size-0-75"></span>
                        <i class="fas fa-building  text-success mr-4"></i>
                        <span id="OfficeDepartmentTitle" class="mx-1  font-size-0-75"></span>
                    </div>
                </div>



            </div>
            <div class="row">
                <div class="col-sm-3 px-3">
                    <div class="md-form md-outline   mt-2 mb-0 input-group">
                        <input type="text" class="form-control font-size-0-90  text-center " aria-label="sDate" aria-describedby="sDate"
                               data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                        <label for="StartDateFa">تاریخ رفت</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input type="hidden" name="StartDate" id="StartDate" />
                    </div>
                </div>
                <div class="col-sm-3  px-3">
                    <div class="select-outline  mt-2 mb-0">
                        <select name="Trip" id="Trip" class="mdb-select required do-select md-form md-outline font-size-0-90 mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="Trip" class="m-active">سفر رفت</label>
                    </div>

                </div>

                <div class=" col-6 px-3 mt-3 font-size-0-90 d-none">

                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input " name="residenceGo" id="residenceGo" value="true">
                        <label class="custom-control-label text-nowrap" for="residenceGo">اقامت</label>
                    </div>

                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input " name="foodBreakfastGo" id="foodBreakfastGo" value="true">
                        <label class="custom-control-label text-nowrap" for="foodBreakfastGo">صبحانه</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input " name="foodLunchGo" id="foodLunchGo" value="true">
                        <label class="custom-control-label text-nowrap" for="foodLunchGo">نهار</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input " name="foodDinnerGo" id="foodDinnerGo" value="true">
                        <label class="custom-control-label text-nowrap" for="foodDinnerGo">شام</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input " name="specialServicesGo" id="specialServicesGo" value="true">
                        <label class="custom-control-label text-nowrap" for="specialServicesGo">خدمات ویژه</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input " name="extraChairGo" id="extraChairGo" value="true">
                        <label class="custom-control-label text-nowrap" for="extraChairGo">صندلی اضافه</label>
                    </div>

                </div>


            </div>

            <div class="row">
                <div class="col-sm-3 px-3">
                    <div class="md-form md-outline   mt-2 mb-0 input-group">
                        <input type="text" class="form-control text-center readonly" aria-label="eDate" aria-describedby="eDate"
                               data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                        <label for="EndDateFa">تاریخ برگشت</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input type="hidden" name="EndDate" id="EndDate" />
                    </div>
                </div>
                <div class="col-sm-3  px-3">
                    <div class="select-outline  mt-2 mb-0">
                        <select name="TripReturn" id="TripReturn" class="mdb-select not-required md-form md-outline font-size-0-90 mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="TripReturn" class="m-active">سفر برگشت</label>
                    </div>

                </div>
                <div class=" col-6 px-3 mt-3 font-size-0-90 d-none">

                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input " name="residenceReturn" id="residenceReturn" value="true">
                        <label class="custom-control-label text-nowrap" for="residenceReturn">اقامت</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input " name="foodBreakfastReturn" id="foodBreakfastReturn" value="true">
                        <label class="custom-control-label text-nowrap" for="foodBreakfastReturn">صبحانه</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input " name="foodLunchReturn" id="foodLunchReturn" value="true">
                        <label class="custom-control-label text-nowrap" for="foodLunchReturn">نهار</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input " name="foodDinnerReturn" id="foodDinnerReturn" value="true">
                        <label class="custom-control-label text-nowrap" for="foodDinnerReturn">شام</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input " name="specialServicesReturn" id="specialServicesReturn" value="true">
                        <label class="custom-control-label text-nowrap" for="specialServicesReturn">خدمات ویژه</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input " name="extraChairReturn" id="extraChairReturn" value="true">
                        <label class="custom-control-label text-nowrap" for="extraChairReturn">صندلی اضافه</label>
                    </div>

                </div>
            </div>


            <div class="row mt-4 ">
                <div class="col-sm-3 px-3">
                    <div class="md-form md-outline mt-0 mb-2 input-group">
                        <input type="number" class="form-control  text-center" name="Person" id="Person">
                        <label for="Person" class="m-active">شماره پرسنلی / کدملی سرپرست</label>
                        <div class="input-group-prepend" id="prependPerson" data-toggle="modal" data-target="#modalPersons">
                            <span class="input-group-text " id="basic-text1">
                                <i class="fas fa-search " aria-hidden="true"></i>
                            </span>
                        </div>
                        <span class="field-validation-valid invalid-feedback mr-2" data-valmsg-for="TblPerson.PersonnelCode" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="col ">
                    <div class="blue-grey-text text-right mt-2">
                        <i class="fas fa-user text-success"></i> <span id="headName"></span>
                        <span id="headFamily" class="mx-2"></span>
                        <i class="fas fa-id-card  text-success mr-4"></i>  <span id="headNationalCode" class="ml-2"></span>
                        <i class="fas fa-id-card  text-success mr-4"></i>  <span id="headPersonnelCode" class="ml-2"></span>
                        <i class="fas fa-building  text-success mr-4"></i><span id="headOffice" class="mx-1"></span>
                        <span id="headOfficeDepartment" class="mx-2"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-3 px-3">
                    <div class="md-form md-outline my-1 input-group">
                        <select id="Sick" name="Sick" class="mdb-select required  md-form md-outline  text-right disabled col p-0 my-0  " searchable="جستجو ..." data-copy-classes-option="true">
                        </select>
                        <label for="Sick" class="m-active">متقاضی</label>
                        <div class="input-group-prepend" id="prependSick">
                            <span class="input-group-text " id="basic-text1">
                                <i class="fas fa-user-shield " aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 px-3">
                    <div class="md-form md-outline mt-2 mb-2 input-group">
                        <input type="number" class="form-control  text-center" name="SickMobile" id="SickMobile">
                        <label for="SickMobile" class="m-active">موبایل متقاضی</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text " id="basic-text1">
                                <i class="fas fa-mobile-alt " aria-hidden="true"></i>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="col text-right px-3 mt-2">
                    <button class="waves-effect btn btn-link mr-auto text-primary p-0"
                            style="vertical-align:text-top" type="button" name="addSick" id="addSick">
                        <i class="fas fa-plus-square ml-2 fa-2x "></i>
                        <span class="align-top lh24 border-bottom"> افزودن به لیست</span>
                    </button>
                </div>
            </div>

            <blockquote class="blockquote text-right mb-0 bq-primary  mt-3 mb-5 ">
                <div class="row">
                    <div class="col-12">
                        <table id="Temp" class="table table-striped table-hover" style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="text-nowrap">نام</th>
                                    <th class="text-nowrap">نام خانوادگی</th>
                                    <th>موبایل</th>
                                    <th>کدملی</th>
                                    <th class="text-nowrap">کد پرسنلی</th>
                                    <th>تاریخ</th>
                                    <th>ساعت</th>

                                    <th>مبدا</th>
                                    <th>مقصد</th>
                                    <th class="text-nowrap">وسیله نقلیه</th>
                                    <th class="text-nowrap">شماره حساب</th>
                                    <th>اقامت</th>
                                    <th>صبحانه</th>
                                    <th>نهار</th>
                                    <th>شام</th>
                                    <th class="text-nowrap">خدمات ویژه</th>
                                    <th class="text-nowrap">صندلی اضافه</th>
                                    <th></th>
                                    @*<th>کد شخص</th>
                                        <th>توضیحات</th>
                                        <th>کد مسیر</th>
                                        <th>تاریخ</th>
                                        <th>کد نوع وسیله</th>
                                        <th>کد شماره حساب</th>
                                        <th>برگشت</th>*@
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </blockquote>
            <div class="row mt-2">
                <div class="col-md-12 col-lg-6  px-3">
                    <div class="md-form md-outline">
                        <textarea class="form-control font-size-0-80 col-12 md-textarea" name="Des" id="Des"></textarea>
                        <label for="Des" class="m-active">توضیحات</label>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-3 px-3">
                    <div class="md-form md-outline mt-2 mb-2">
                        <input type="text" class="form-control  text-center" name="text1" id="text1">
                        <label for="text1" class="m-active">نام  متقاضی</label>
                    </div>
                </div>
                <div class="col-sm-3 px-3">
                    <div class="md-form md-outline mt-2 mb-2">
                        <input type="text" class="form-control  text-center" name="text2" id="text2">
                        <label for="text2" class="m-active">رئیس امور اداری</label>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-3 px-3">
                    <div class="md-form md-outline mt-2 mb-2">
                        <input type="text" class="form-control  text-center" name="text3" id="text3">
                        <label for="text3" class="m-active">رییس اداره</label>
                    </div>
                </div>
                <div class="col-sm-3 px-3">
                    <div class="md-form md-outline mt-2 mb-2">
                        <input type="text" class="form-control  text-center" name="text4" id="text4">
                        <label for="text4" class="m-active">مدیر</label>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-3 px-3">
                    <div class="md-form md-outline mt-2 mb-2">
                        <input type="text" class="form-control  text-center" name="text5" id="text5">
                        <label for="text5" class="m-active">مدیرعامل</label>
                    </div>
                </div>


            </div>



            <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">

                <button class="btn btn-link cta  mr-auto" type="button" id="addItemAndNew">
                    <i class="fas fa-search fa-lg"></i>
                    <span>ثبت و درخواست جدید</span>
                </button>
                <button class="btn btn-link cta " type="button" id="addItems">
                    <i class="fas fa-search fa-lg"></i>
                    <span>ثبت درخواست</span>
                </button>

            </div>

            <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">

            </div>


        }
    </div>

</div>

<div class="modal fade rtl" id="modalPersons" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body rtl text-right mx-3 ">
                <!--Accordion wrapper-->
                <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">
                    <!-- Accordion card -->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                               aria-controls="collapseOne1">
                                <h5 class="">
                                    <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                                </h5>
                            </a>
                        </div>
                        <!-- Card body -->
                        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="Name" name="Name">
                                            <label for="Name" class="active">نام</label>
                                        </div>
                                    </div>
                                    <div class="col ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="Family" name="Family">
                                            <label for="Family" class="active">نام خانوادگی</label>
                                        </div>
                                    </div>
                                    <div class="col  ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="NationalCode" name="NationalCode">
                                            <label for="NationalCode" class="active">کدملی</label>
                                        </div>
                                    </div>
                                    <div class="col  ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="PersonnelCode" name="PersonnelCode">
                                            <label for="PersonnelCode" class="active">شماره پرسنلی</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->
                </div>
                <!-- Accordion wrapper -->
                @Html.Action("UserAccess", "Person", new { area = "" })
            </div>
        </div>
    </div>
</div>
@Html.Action("CreateChild", "Person", new { area = "" })

@section Scripts{
    <script>
        var temp;

        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            disableBeforeToday: @(ViewBag.UserGroup == 1 ? "false" : "true"),
            //fromDate: true,
            selectedDate: today,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            disableBeforeToday: @(ViewBag.UserGroup == 1 ? "false" : "true"),
            toDate: true,
            selectedDate: threeDays,
            groupId: "Start-End-Date"
        });
        function getFamily() {

          //  e.preventDefault();

            $.getJSON("/person/FamilyJson/",
                {
                    code: $("#Person").val()
                },
                function (data) {
                    var select = $("#Sick");
                    var family = $("#family");
                    select.empty();
                    family.empty();
                    if (data === "NotFound") {
                        $("#headName").html("کارمندی با این کد وجود ندارد");
                        $("#headFamily").html('');
                        $("#headNationalCode").html('');
                        $("#headPersonnelCode").html('');
                        $("#headOffice").html('');
                        $("#headOfficeDepartment").html('');
                        select.addClass("disabled");
                    } else {
                        $("#headName").html(data[0].Name);
                        $("#headFamily").html(data[0].Family);
                        $("#headNationalCode").html(data[0].NationalCode);
                        $("#headPersonnelCode").html(data[0].PersonnelCode);
                        $("#headOffice").html(data[0].Office);
                        $("#headOfficeDepartment").html(data[0].OfficeDepartment);
                        select.removeClass("disabled");
                    }


                    $.each(data,
                        function (index, itemData) {
                            family.append($('<option/>',
                                {
                                    'value': itemData.NationalCode,
                                    'text': itemData.Name + ' ' + itemData.Family,
                                }));
                            select.append($('<option/>',
                                {
                                    //class:'pre',
                                    'value': itemData.NationalCode,
                                    'text': itemData.Name + ' ' + itemData.Family,
                                    'data-secondary-text': itemData.NationalCode + ' - ' + itemData.FamilyRelationship
                                    //html: `<i class='fas  fa-user  text-success mr-5'></i>  ${
                                    //    itemData.Name} ${itemData.Family
                                    //    } <i class='fas fa-id-card  text-success mr-5'></i> ${
                                    //    itemData.NationalCode
                                    //    }  <i class='fas fa-users text-success mr-5'></i>  ${
                                    //    itemData.FamilyRelationship}`
                                }));
                        });


                });
        }
        function addFromModal(item, person) {
            $("#Person").val(item);
            getFamily();
            $("#check" + person).addClass('d-none');
        }
        function personMobile(id,input) {
            $.getJSON("/Person/Details/",
                { nationalCode: id },
                function (data) {
                  //  console.log(data);
                    $("#" + input).val(data.Mobile);
                });
        };

        //Add Temp Item from PersonalCode and NationalCode
        function addTempItem(e, nationalCode,mobile) {
           // console.log(nationalCode);
            e.preventDefault();
            if ($("form").valid() === true && validateSelect(e)) {
                var residence = IsChecked('residenceGo');
                var foodBreakfast = IsChecked('foodBreakfastGo');
                var foodLunch = IsChecked('foodLunchGo');
                var foodDinner = IsChecked('foodDinnerGo');
                var extraChair = IsChecked('extraChairGo');
                var specialServices = IsChecked('specialServicesGo');

                var residenceReturn = IsChecked('residenceReturn');
                var foodBreakfastReturn = IsChecked('foodBreakfastReturn');
                var foodLunchReturn = IsChecked('foodLunchReturn');
                var foodDinnerReturn = IsChecked('foodDinnerReturn');
                var extraChairReturn = IsChecked('extraChairReturn');
                var specialServicesReturn = IsChecked('specialServicesReturn');

                // var nationalCode = $("#nationalCode").val();
                $.getJSON("/person/DetailsJson/",
                    {
                        nationalCode
                    },
                    function (data) {
                        if (data === "NotFound") {
                            toastr['error']('کاربری با این مشخصات وجود ندارد');
                        } else {

                            console.log($("#TripReturn").val());
                            temp.row.add([
                                '', //0
                                data.Name,
                                data.Family,
                                mobile,
                                data.NationalCode,
                                data.PersonnelCode,
                                $("#StartDateFa").val(),
                                $("#Trip").children("option:selected").attr('data-time'),//6
                                $("#Trip").children("option:selected").attr('data-origin'), //7
                                $("#Trip").children("option:selected").attr('data-destination'), //8
                                $("#VehicleType").children("option:selected").text(), //9
                                $("#AccountNumber").children("option:selected").text(), //10
                                residence, //11
                                foodBreakfast, //12
                                foodLunch, //12
                                foodDinner, //13
                                specialServices, //14
                                extraChair, //15
                                '<i class="fas fa-trash icon-delete text-danger"></i>', //16
                                data.Id, //17
                                $("#Des").val(), //18
                                $("#Trip").children("option:selected").attr('data-origin-id'), //19
                                $("#Trip").children("option:selected").attr('data-destination-id'), //20
                                $("#Trip").val(), //21
                                $("#StartDate").val(), //22
                                $("#VehicleType").children("option:selected").val(), //23
                                $("#AccountNumber").children("option:selected").val(), //24
                                $("#Trip").children("option:selected").attr('data-route'), //25
                                false //26 isReturn?
                            ]).draw();
                            if (/*$("#TripReturn").val() !== null ||*/ $("#TripReturn").val() !== '') {
                                temp.row.add([
                                    '', //0
                                    data.Name,//1
                                    data.Family,//2
                                    mobile,//3
                                    data.NationalCode,//4
                                    data.PersonnelCode,//5
                                    $("#EndDateFa").val(),//6
                                    $("#TripReturn").children("option:selected").attr('data-time'),//7
                                    $("#TripReturn").children("option:selected").attr('data-origin'), //8
                                    $("#TripReturn").children("option:selected").attr('data-destination'), //9
                                    $("#VehicleType").children("option:selected").text(), //10
                                    $("#AccountNumber").children("option:selected").text(), //11
                                    residenceReturn, //12
                                    foodBreakfastReturn, //13
                                    foodLunchReturn, //14
                                    foodDinnerReturn, //15
                                    specialServicesReturn, //16
                                    extraChairReturn, //17
                                    '<i class="fas fa-trash icon-delete text-danger"></i>', //18
                                    data.Id, //19
                                    $("#Des").val(), //20
                                    $("#TripReturn").children("option:selected").attr('data-origin-id'), //21
                                    $("#TripReturn").children("option:selected").attr('data-destination-id'), //22
                                    $("#TripReturn").val(), //23
                                    $("#EndDate").val(), //24
                                    $("#VehicleType").children("option:selected").val(), //25
                                    $("#AccountNumber").children("option:selected").val(), //26
                                    $("#TripReturn").children("option:selected").attr('data-route'), //27
                                    true //28 isReturn?
                                ]).draw();
                            }

                            //$("#nationalCode").val('');

                        }
                    });
            } else {
                validateSelect(e);
            }
        };
        $(document).ready(function () {

            $('#Tab-Normal').addClass('active show');
            //#region UserListModal
            const t = $('#DataListModalPerson').DataTable({
                //"stateSave": true,
                "processing": false,
                "serverSide": true,
                "ajax": {
                    "url": "/Person/Items",
                    "type": "POST",
                    "dataType": "json",
                    "data": function (d) {
                        d.Name = $('#Name').val();
                        d.Family = $('#Family').val();
                        d.NationalCode = $('#NationalCode').val();
                        d.PersonnelCode = $('#PersonnelCode').val();
                        d.Office = $('#Office').val();
                        d.OfficeDepartment = -1;
                        d.Management = $('#Management').val();
                        //d.Group = [1, 4, 5, 6];
                       // d.ShiftWorker = false;
                    }
                },
                "dom": 'rt<"row"<"col-6"i><"col-6"p>>',
                //"dom": 'rt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
                "columns": [
                    //{ "data": "id", "name": "id" },
                    { "data": "Name", "name": "Name", "class": "font-size-0-75" },
                    { "data": "Family", "name": "Family", "class": "font-size-0-75" },
                    { "data": "NationalCode", "name": "NationalCode", "class": "font-size-0-75 " },
                    { "data": "PersonnelCode", "name": "PersonnelCode", "class": "font-size-0-75" },
                    { "data": "Group", "name": "Group", "class": "font-size-0-75 blue-grey-text" },
                    { "data": "Office", "name": "TblOfficeDepartment.TblOffice.Title", "class": "font-size-0-75 blue-grey-text" },
                    //{ "data": "OfficeDepartment", "name": "TblOfficeDepartment.Title" },
                    {
                        "orderable": false,
                        "data": "edit",
                        "name": "edit",
                        "class": "font-size-0-75 fit",
                        "render": function (data, type, row, meta) {
                            return `<span class='blue-text cursor-pointer' id="check${row.DT_RowId}"
                            onclick="addFromModal(${row.NationalCode},${row.DT_RowId})">
                            <i class='fas fa-plus-square fa-lg ml-2'></i><span class="">افزودن</span></span>`;
                        }
                    }
                ],
                "pageLength": 10,
                "order": [[1, "asc"], [0, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                }
            });

            //#region Advanced Search
            $('.advancedSearch').on('keypress',
                function (e) {
                    /* ENTER Tab Space PRESSED*/
                    if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                        t.draw();
                    }
                });
            $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                function (e) {
                    t.draw();
                });

            //#endregion
            //#endregion
            VehicleTypes("VehicleType");
            AccountNumbers('AccountNumber', 0);

            $('#StartDate,#VehicleType').on('change',
                function (e) {
                    //console.log($("#StartDate").val());
                    //console.log($("#VehicleType").children("option:selected").val());
                    Trips('Trip', $("#StartDate").val(), $("#VehicleType").children("option:selected").val());
                });
            $('#EndDate').on('change',
                function (e) {
                    Trips('TripReturn', $("#EndDate").val(), $("#VehicleType").children("option:selected").val());
                });
            $('#VehicleType').on('change',
                function (e) {
                    Trips('Trip', $("#StartDate").val(), $("#VehicleType").children("option:selected").val());
                    Trips('TripReturn', $("#EndDate").val(), $("#VehicleType").children("option:selected").val());
                });

            $('#Person').on('keypress',
                function (e) {
                    /* ENTER Tab Space PRESSED*/
                    if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                        getFamily(e);
                    }
                });


            $("#Sick").on('change',
                function (e) {
                    personMobile(e.target.value,"SickMobile");
                }
            );
            $("#alongSick").on('change',
                function (e) {
                    personMobile(e.target.value,"alongSickMobile");
                }
            );

            //Initial DataTable
            temp = $('#Temp').DataTable({
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false,
                "columnDefs": [
                    {
                        "width": "90px",
                        "targets": [18]
                    },
                    {
                        "className": "text-nowrap",
                        "targets": [1,2]
                    },
                    {
                        "targets": [ 19, 20, 21, 22, 23, 24, 25,26,27,28],
                        "visible": false

                    },
                    {
                        "width": "90px",
                        "visible": false,
                        "targets": [12, 13, 14, 15,16,17],
                        "render": function (data, type, row, meta) {
                            return data === true
                                ? '<i class="fas fa-check-square"></i>': '<i class="far fa-square"></i>';
                        }
                    }
                ],

            });





            // Add event listener for opening and closing details
            $('#Temp tbody').on('click', 'td.details-control',
                function () {
                    var tr = $(this).closest('tr');
                    var row = temp.row(tr);

                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                        // Open this row
                        row.child(childRows(row.data()), 'm-0 p-0').show();
                        tr.addClass('shown');
                    }
                });
            //Delete Icon On Click in DataTable and remove Item
            $('#Temp tbody').on('click', 'i.icon-delete',
                function () {
                    temp
                        .row($(this).parents('tr'))
                        .remove()
                        .draw();
                });
            $('#addSick').on('click', function (e) {
                //console.log('cc00');
                addTempItem(e, $("#Sick").val(), $("#SickMobile").val());
            });

            $('#addAlongSick').on('click', function (e) { addTempItem(e, $("#alongSick").val(), $("#alongSickMobile").val()) });


            //Post Data on DataTable to addMission Action for Save to db
            $('#addItems,#addItemAndNew').on('click',
                function  (e) {
                console.log(e.target);
                    console.log(e.currentTarget.id == 'addItemAndNew');
                console.log(e);
                    var items = [];
                    var t1 = temp.rows().data().toArray();
                    t1.forEach(function (item) {
                        items.push({
                            person: item[19],
                            mobile: item[3],
                            trip: item[23],
                            route: item[27],
                            origin: item[21],
                            destination: item[22],
                            date: item[24],
                            time: item[7],
                            residence: item[12],
                            foodBreakfast: item[13],
                            foodLunch: item[14],
                            foodDinner: item[15],
                            specialServices: item[16],
                            extraChair: item[17],
                            vehicleType: item[25],
                            accountNumber: item[26],
                            isReturn: item[28]

                        });
                    });
                    e.preventDefault();
                    //List<BookingRequest> items, string des, byte bookingCode,
                   // string text1,string text2,string text3,string text4,string text5
                    $.ajax({
                        url: "/booking/AddBooking/",
                        data: {
                            items: items,
                            text1: $("#text1").val(),
                            text2: $("#text2").val(),
                            text3: $("#text3").val(),
                            text4: $("#text4").val(),
                            text5: $("#text5").val(),
                            des: $("#des").text(),
                            bookingCode: 12
                        },
                        type: 'POST',
                        success: function (data) {
                            toastr[data.Type](data.Msg);
                            if (data.Result === true)
                                setTimeout(function () {
                                    if (e.currentTarget.id === 'addItemAndNew')
                                        window.location.href = "/Reservation/Booking/Hospital";
                                    else
                                        window.location.href = "/Travel/BookingRequests/";

                                },
                                    5000);
                        },
                        error: function(data) {
                            toastr["error"](data);
                        }
                    });


                });

        });

    </script>
}
