﻿@model Omidiyeh_Oil_Company___0147.Models.TblRoom

@{
    ViewBag.Title = "سامانه خدمات رفاهی";
}

<div class="container px-0">



    <div class="row">
        <!-- Column -->
        <div class="col-md-4 mb-4 d-flex align-items-stretch rtl text-right">
            <!--Card-->
            <div class="card col-12">
                <!--Card content-->
                <div class="card-body">


                </div>
            </div>
            <!--/.Card-->
        </div>
        @if (User.IsInRole("287"))
        {
            <!-- Column -->
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <!--Card-->
                <div class="card testimonial-card col-12 px-0">
                    <!-- Background color -->
                    <div class="card-up aqua-gradient"></div>
                    <!-- Avatar -->
                    <div class="avatar mx-auto white">
                        <img src="~/Images/survey.jpg" class="rounded-circle img-responsive" alt="avatar">
                    </div>
                    <!-- Content -->
                    <div class="card-body">
                        <!-- Name -->
                        <h4 class="card-title font-weight-bold"> <a href="/Welfare/Survey/poll" class="waves-effect ">نظرسنجی</a></h4>


                    </div>
                </div>
                <!--Card-->
            </div>
            <!-- Column -->
        }
        else
        {
            <!-- Column -->
            <div class="col-md-4 mb-4 d-flex align-items-stretch rtl text-right">
                <!--Card-->
                <div class="card col-12">
                    <!--Card content-->
                    <div class="card-body">


                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!-- Column -->
        }

        <!-- Column -->
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <!--Card-->
            <div class="card testimonial-card col-12 px-0">
                <!-- Background color -->
                <div class="card-up aqua-gradient"></div>
                <!-- Avatar -->
                <div class="avatar mx-auto white">
                    <img src="~/Images/person.gif" class="rounded-circle img-responsive" alt="avatar">
                </div>
                <!-- Content -->
                <div class="card-body">
                    <!-- Name -->

                    <h4 class="card-title font-weight-bold">@Server.UrlDecode(Request.Cookies["name"]?.Value.ToString())</h4>

                </div>
            </div>
            <!--Card-->
        </div>
        <!-- Column -->
    </div>
    <div class="row">
        <!-- Column -->
        <div class="col-md-12 mb-4 d-flex align-items-stretch rtl text-right">
            <!--Card-->
            <div class="card col-12">
                <!--Card content-->
                <div class="card-body">

                    <table id="DataList" class="table py-0 table-hover font-size-0-75 text-bold lh1"  style="width: 100%; ">
                        <thead>
                        <tr>
                            <th ></th>
                            <th>
                                عنوان
                            </th>
                            <th>
                                تاریخ
                            </th>
                            <th>
                                از طرف
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!--/.Card-->
        </div>
        <!-- Column -->

    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
           
           
            $('#DataList').DataTable({
                "stateSave": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/UserMessage/ListMy",
                    "type": "POST",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "id", "name": "id", "class": "fit" },
                    { "data": "Title", "name": "Title" },
                    { "data": "CreateDate", "name": "CreateDate", "class": "fit" },
                    { "data": "CreateUser", "name": "CreateUser", "class": "fit" },
                    { "data": "Body", "name": "Body" }
                ],
                "columnDefs": [
                    { "visible": false, "targets": [0, 4] }
                ],
                "order": [[0, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                "displayLength": 5,
                "lengthMenu": [5, 10, 100],
                orderFixed: [0, 'desc'],
                rowGroup: {
                    startRender: null,
                    endRender: function (rows, group) {
                        return `<div class="row py-2 m-0 px-4  white text-black-50">
                                     ${rows.data()[0]['Body']}
                                    </div>
                                <div class="row py-2 m-0 white"><div class="col"></div>`;
                    },

                    dataSrc: 'DT_RowId'
                },
                "createdRow": function(row, data, index) {
                    $(row).addClass(' yellow lighten-5');
                }
            }).on('xhr.dt',
                function (e, settings, json) {
                    if ($('#DataList_wrapper select').hasClass('custom-select custom-select-sm form-control form-control-sm')) {
                        $('#DataList_wrapper').find('label').each(function () {
                            $(this).parent().append($(this).children());
                        });
                        $('#DataList_wrapper .dataTables_filter').find('input').each(function () {
                            const $this = $(this);
                            $this.attr("placeholder", "جستجو...");
                            $this.removeClass('form-control-sm');
                        });
                        $('#DataList_wrapper .dataTables_length').addClass('d-flex flex-row');
                        $('#DataList_wrapper .dataTables_filter').addClass('md-form rtl');
                        $('#DataList_wrapper select').removeClass(
                            'custom-select custom-select-sm form-control form-control-sm');
                        $('#DataList_wrapper select').addClass('mdb-select');
                        $('#DataList_wrapper .mdb-select').materialSelect();
                        $('#DataList_wrapper .dataTables_filter').find('label').remove();
                        $('#DataList_wrapper .dataTables_length').find('label').remove();
                        $("#DataList_wrapper").children().first().css({ "direction": "ltr" });
                    }
                });;

        });
    </script>
}

