﻿@model Omidiyeh_Oil_Company___0147.Models.TblRoom

@{
    ViewBag.Title = "Index2";
}

<div class="bc-icons  rtl text-right">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb grey lighten-2">
        <li class="breadcrumb-item"><a class="black-text" href="/#">خانه</a><i class="fas fa-caret-left mx-2" aria-hidden="true"></i></li>
        <li class="breadcrumb-item"><a class="black-text" href="#">Library</a><i class="fas fa-caret-left mx-2" aria-hidden="true"></i></li>
        <li class="breadcrumb-item active">Data</li>
    </ol>
</nav>
</div>
    <div class="card rtl text-right">

@using (Html.BeginForm(null,null,FormMethod.Post, new {@class="needs-validation" ,novalidate="novalidate"})) 
{
    @Html.AntiForgeryToken()
    
     <div class="card-body">
        <h2 class="text-bold">TblRoom</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="md-form md-outline form-lg">
          
            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control text-center" } })
            @Html.LabelFor(model => model.Number)
            @Html.ValidationMessageFor(model => model.Number, "", new { @class = "invalid-feedback mr-2" })
           
        </div>
             <div class="row">
             <div class="col-md-12 select-outline">
          
                @Html.DropDownList("Restaurant", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
 @Html.LabelFor(model => model.Restaurant)
                @Html.ValidationMessageFor(model => model.Restaurant, "", new { @class = "invalid-feedback mr-2" })
           
          </div></div>

        
		
            

        
		
       

        
		
            <div class="md-form md-outline form-lg">
          
                @Html.EditorFor(model => model.Beds, new { htmlAttributes = new { @class = "form-control text-center" } })
 @Html.LabelFor(model => model.Beds)
                @Html.ValidationMessageFor(model => model.Beds, "", new { @class = "invalid-feedback mr-2" })
           
            </div>

        
		
            <div class="md-form md-outline form-lg">
          
                @Html.EditorFor(model => model.Des, new { htmlAttributes = new { @class = "form-control text-center" } })
 @Html.LabelFor(model => model.Des)
                @Html.ValidationMessageFor(model => model.Des, "", new { @class = "invalid-feedback mr-2" })
           
            </div>

        
		
 

         <div class="md-form text-left" >
            <div class="col-md-12">
                <input type="submit" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
            </div>
        </div>
    </div>
}

</div>
