﻿@model Omidiyeh_Oil_Company___0147.Models.TblRoom

@{
    ViewBag.Title = "Index3";
}


<div class="bc-icons  rtl text-right">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb grey lighten-2">
            <li class="breadcrumb-item"><a class="black-text" href="/#">خانه</a><i class="fas fa-caret-left mx-2" aria-hidden="true"></i></li>
            <li class="breadcrumb-item"><a class="black-text" href="#">Library</a><i class="fas fa-caret-left mx-2" aria-hidden="true"></i></li>
            <li class="breadcrumb-item active">Data</li>
        </ol>
    </nav>
</div>
<div class="card rtl text-right">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">
            <h2 class="text-bold">TblRoom</h2>
            <hr />
           
           
                <div class="row">
                    <div class="col-md-12 select-outline">
                

                @Html.DropDownList("Restaurant", null,"انتخاب نمایید", htmlAttributes: new {@class = "mdb-select md-form md-outline colorful-select dropdown-primary"})
                @Html.LabelFor(model => model.Restaurant)
                        </div></div>
            

        <div class="md-form md-outline form-lg select-outline">
            @Html.LabelFor(model => model.Number)

            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
            @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })

        </div>

        <div class="md-form md-outline form-lg select-outline">
            @Html.LabelFor(model => model.Status, "Status")

            @Html.DropDownList("Status", null, htmlAttributes: new { @class = "mdb-select md-form md-outline colorful-select dropdown-primary", searchable = "جستجو ..." })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })

        </div>

        <div class="md-form md-outline form-lg select-outline">
            @Html.LabelFor(model => model.Beds)

            @Html.EditorFor(model => model.Beds, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
            @Html.ValidationMessageFor(model => model.Beds, "", new { @class = "text-danger" })

        </div>

        <div class="md-form md-outline form-lg select-outline">
            @Html.LabelFor(model => model.Des)

            @Html.EditorFor(model => model.Des, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
            @Html.ValidationMessageFor(model => model.Des, "", new { @class = "text-danger" })

        </div>

        <div class="md-form md-outline form-lg select-outline">
            @Html.LabelFor(model => model.Type, "Type")

            @Html.DropDownList("Type", null, htmlAttributes: new { @class = "mdb-select md-form md-outline colorful-select dropdown-primary", searchable = "جستجو ..." })
            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })

        </div>

        <div class="md-form text-left">
            <div class="col-md-12">
                <input type="submit" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
            </div>
        </div>
    </div>
}

    </div>
