﻿@model Omidiyeh_Oil_Company___0147.Models.TblUserGroup

@{
    ViewBag.Title = "حذف Delete";
    Layout = "~/Views/Shared/_layout.cshtml";
}


    <div class="card rtl text-right">
	<!--Header-->
    @Html.Partial("..//Tabs")
    <!--Header-->
	<p class="note note-danger mx-5 my-3"><strong>اخطار:</strong> آیا برای حذف این اطلاعات مطمئن هستید؟</p>
 <div class="card-body">
    <dl class="dl-horizontal  mx-5">
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
		</div>

		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Des)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Des)
        </dd>
		</div>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="md-form text-left" >
            <div class="col-md-12">
                <input type="submit" value="حذف اطلاعات" class="btn btn-danger  font-size-1" />
            </div>
        </div>
    }
</div>
</div>
