﻿@using Omidiyeh_Oil_Company___0147.Models
@model Omidiyeh_Oil_Company___0147.Models.TblUserGroup

@{
    ViewBag.Title = "ویرایش گروه کاربری";
    Layout = "~/Views/Shared/_layout.cshtml";
    var userGroupRole = (List<TblUserGroupRole>)ViewBag.UserGroupRole;
    var roles = (List<TblRole>)ViewBag.Roles;
    var user = User.Identity.Name == "2";
}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("../Person/Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Des, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Des)
                        @Html.ValidationMessageFor(model => model.Des, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class=" row mr-4 mt-2">
                @foreach (var item in roles.Where(a => a.Enable).OrderBy(a => a.Order))
                {
                    if (item.Title == "Break")
                    {
                        <div class="w-100 d-none d-md-block"></div>
                    }
                    else if (item.Des == "Title")
                    {
                        <div class="w-100 d-none d-md-block mt-4">
                            <div class="custom-control custom-checkbox col-3 mb-3 pr-0">
                               
                                <input type="checkbox" class="custom-control-input" id="@item.Name" name="UserGroupRole" @(userGroupRole.Any(a => a.Role == item.Id) ? "checked" : "") value="@item.Id">
                                <label class="custom-control-label blue-text" for="@item.Name">@item.Title @(user? item.Id.ToString() : "")</label>

                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="custom-control custom-checkbox col-3 mb-3 pr-5">
                            <input type="checkbox" class="custom-control-input" id="@item.Name" name="UserGroupRole" @(userGroupRole.Any(a => a.Role == item.Id) ? "checked" : "") value="@item.Id">
                            <label class="custom-control-label" for="@item.Name">@item.Title <span class="text-black-50"> @(user? item.Id.ToString() : "")</span></label>

                        </div>
                    }
                }
            </div>
            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-blue  font-size-1" />
                </div>
            </div>
        </div>
    }

</div>
@section Scripts{
    <script>

        $(document).ready(function () {
            $('#Tab-UserGroup-Edit').addClass('active show').removeClass('d-none');

        });

    </script>
}
