﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblContractFood>
<form method="post" class="needs-validation" novalidate>
    <div class="row">
        <div class="col-sm-3">
            <div class="md-form md-outline my-3">
                <input autocomplete="off" class="form-control text-center" required  id="Title" name="Title" type="text" >
                <label for="Title" class="">عنوان</label>
                <span class="field-validation-valid invalid-feedback mr-2" data-valmsg-for="Title" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="md-form md-outline my-3">
                <input autocomplete="off" class="form-control text-center" data-val="true" data-val-required=" " id="Des" name="Des" type="text" value="">
                <label for="Des">توضیحات</label>
                <span class="field-validation-valid invalid-feedback mr-2" data-valmsg-for="Des" data-valmsg-replace="true"></span>
            </div>
        </div>



    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="md-form md-outline my-2 input-group">
                <input type="text" class="form-control text-center" aria-label="sDate" aria-describedby="sDate"
                       data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                <label for="StartDateFa">تاریخ شروع</label>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                </div>
                <input type="hidden" name="StartDate" id="StartDate" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="md-form md-outline my-2 input-group">
                <input type="text" class="form-control text-center" aria-label="eDate" aria-describedby="eDate"
                       data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                <label for="EndDateFa">تاریخ پایان</label>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                </div>
                <input type="hidden" name="EndDate" id="EndDate" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="md-form md-outline my-2 input-group">
                <input type="number" class="form-control text-center"
                       data-val="true" data-val-required=" " id="PricePercent" name="PricePercent" value="">
                <label for="PricePercent">درصد افزایش قیمت</label>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="pPricePercent"><i class="fas fa-percentage"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="md-form md-outline my-2 input-group">
                <input type="number" class="form-control text-center"
                       data-val="true" data-val-required=" " id="FreePricePercent" name="FreePricePercent" value="">
                <label for="FreePricePercent">درصد افزایش قیمت آزاد</label>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="pFreePricePercent"><i class="fas fa-percentage"></i></span>
                </div>
            </div>
        </div>
    </div>
    <table id="DataList" class="table table-sm table-striped table-hover border" style="width: 100%; ">
        <thead>
        <tr class="blue-text no-border">
            <th>
                غذا
            </th>
            <th>
                قیمت
            </th>
            <th>
                قیمت آزاد
            </th>
            <th class="text-center">
                افزایش قیمت (ریال)
            </th>
            <th class="text-center pl-5 border-left">
                قیمت بعد از افزایش
            </th>
            <th class="text-center">
                افزایش قیمت آزاد (ریال)
            </th>
            <th class="text-center">
                قیمت آزاد بعد از افزایش
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TblFood.Title</td>
                <td>@item.TblContractPriceSeriesFoods.First().Price.ToString("#,0")</td>
                <td>@item.TblContractPriceSeriesFoods.First().FreePrice.ToString("#,0")</td>
                <td class="px-4"><input class="form-control form-control-sm text-center Price" data-price="@item.TblContractPriceSeriesFoods.First().Price" data-id="@item.Id" type="number" name="Price-@(item.TblFood.Id)" id="Price-@(item.TblFood.Id)" /></td>
                <td class="text-center pl-5 border-left"><span class="text-danger text-bold font-size-1" id="PriceFinal@(item.Id)"></span></td>
                <td class="px-4"><input class="form-control form-control-sm text-center FreePrice" data-price="@item.TblContractPriceSeriesFoods.First().FreePrice" data-id="@item.Id" type="number" name="FreePrice-@(item.TblFood.Id)" id="FreePrice-@(item.TblFood.Id)" /></td>
                <td class="text-center"><span class="purple-text text-bold  font-size-1" id="FreePriceFinal@(item.Id)"></span></td>
            </tr>
        }
        </tbody>
    </table>
    <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
        <button class="btn btn-link cta  mr-auto font-size-0-50" type="submit"  id="save">
            <i class="fas fa-save fa-lg"></i>
            <span>ثبت سری قیمت</span>
        </button>
    </div>
</form>