﻿

@model Omidiyeh_Oil_Company___0147.Models.TblContractPriceSery
<div class="modal fade rtl" id="modalPriceSeryEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center py-3 grey lighten-5">
                <h6 class="modal-title w-100 font-weight-bold">ویرایش  سری قیمت <span class="blue-text" >@Model.Title</span></h6>
            </div>
            <div class="modal-body mx-3 ">
                <div class="col-12 mt-3">
                    <div class="md-form md-outline ">
                        <input class="form-control  text-center disabled" data-val="true" data-val-required=" " id="Title" name="Title" type="text" value="@Model.Title">
                        <label for="Title" class="m-active">عنوان</label>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="md-form md-outline input-group">
                        <input type="text" class="form-control text-center" aria-label="sDateU" aria-describedby="sDateU"
                               data-val="true" data-val-required=" " id="StartDateUFa" name="StartDateUFa" value="">
                        <label for="StartDateUFa">تاریخ شروع</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="sDateU"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input type="hidden" name="StartDateU" id="StartDateU"/>
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <div class="md-form md-outline input-group">
                        <input type="text" class="form-control text-center" aria-label="eDateU" aria-describedby="eDateU"
                               data-val="true" data-val-required=" " id="EndDateUFa" name="EndDateUFa" value="">
                        <label for="EndDateUFa">تاریخ پایان</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="eDateU"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input type="hidden" name="EndDateU" id="EndDateU"/>
                    </div>
                </div>
                


            </div>
            <div class="modal-footer d-flex justify-content-center grey lighten-5 py-1">

                <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                <button class="btn btn-link cta " type="submit" value="true" onclick="editPriceSerySave()">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ذخیره</span>
                </button>
                <button class="btn btn-link cta cta-silver" type="button" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times fa-lg"></i>
                    <span>انصراف</span>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#eDateU').MdPersianDateTimePicker({
        targetTextSelector: '#EndDateUFa',
        targetDateSelector: '#EndDateU',
        textFormat: 'yyyy/MM/dd',
        toDate: true,
        selectedDate: new Date('@Model.ToDate'),
        groupId: "Start-End-Date"
    });
    $('#sDateU').MdPersianDateTimePicker({
        targetTextSelector: '#StartDateUFa',
        targetDateSelector: '#StartDateU',
        textFormat: 'yyyy/MM/dd',
        toDate: true,
        selectedDate: new Date('@Model.FromDate'),
        groupId: "Start-End-Date"
    });
</script>