﻿

@model Omidiyeh_Oil_Company___0147.Models.TblContractPriceSeriesFood
<div class="modal fade rtl" id="modalPriceSeryFoodEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center py-3 grey lighten-5">
                <h6 class="modal-title w-100 font-weight-bold">ویرایش قیمت غذا برای سری قیمت <span class="blue-text" id="Title">@Model.TblContractPriceSery.Title</span></h6>
            </div>
            <div class="modal-body mx-3 ">
                <div class="col-12 mt-3">
                    <div class="md-form md-outline ">
                        <input class="form-control  text-center disabled" data-val="true" data-val-required=" " id="Food" name="Food" type="text" value="@Model.TblContractFood.TblFood.Title">
                        <label for="Food" class="m-active">غذا</label>
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(model => model.Price, new { @class = "form-control  text-center", onkeyup = "javascript:this.value=autoComma(this.value);" })
                        @Html.LabelFor(model => model.Price)
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                 <div class="col-12 mt-3">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(model => model.FreePrice, new { @class = "form-control  text-center", onkeyup = "javascript:this.value=autoComma(this.value);" })
                        @Html.LabelFor(model => model.FreePrice)
                        @Html.ValidationMessageFor(model => model.FreePrice, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                

            </div>
            <div class="modal-footer d-flex justify-content-center grey lighten-5 py-1">

                <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                <button class="btn btn-link cta " type="submit" value="true" onclick="editPriceSeryFoodSave()">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ذخیره</span>
                </button>
                <button class="btn btn-link cta cta-silver" type="button" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times fa-lg"></i>
                    <span>انصراف</span>
                </button>
            </div>
        </div>
    </div>
</div>
