﻿

<div class="modal fade rtl" id="modalBedStatusChange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center py-3 grey lighten-5">
                <h5 class="modal-title w-100 font-weight-bold">تغییر وضعیت برای تخت شماره <span class="blue-text">@ViewBag.Number</span></h5>
            </div>
            <div class="modal-body mx-3 ">
                <input type="hidden" value="@ViewBag.Bed" name="Bed" id="Bed" />
                <div class="col-12">
                    <select class="mdb-select md-form">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" class="rounded-circle">
                            example
                            1</option>
                        <option value="" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle">
                            example
                            2</option>
                        <option value="" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg" class="rounded-circle">
                            example
                            1</option>
                    </select>
                    
                        <label for="numberBed">شماره</label>
                   
                </div> 
                <div class="col-12">
                    <div class="md-form md-outline  my-0 input-group mr-auto  mt-1">
                        <input type="text" class="form-control text-center  validate" aria-label="rdate" aria-describedby="rdate"
                               data-val="true" data-val-required=" " id="numberBed" name="numberBed" value="" required autocomplete="off">
                        <label for="numberBed">شماره</label>
                        <div class="input-group-prepend cursor-pointer ">
                            <span class="input-group-text cursor-pointer" id="rdate"><i class="fas fa-bed cursor-pointer"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="switch text-center">
                        <label class="">
                            <span class="fa-stack fa-lg  pt-0 mt-0" data-toggle="popover" data-placement="top" data-content="تخت یک نفره">
                                <i class="fas fa-bed fa-stack-1x blue-grey-text "></i>
                            </span>
                            <input type="checkbox" value="1" checked name="capacityBed" id="capacityBed">
                            <span class="lever"></span>
                            <span class="fa-stack fa-lg " data-toggle="popover" data-placement="top" data-content="تخت دو نفره">
                                <i class="fas fa-bed fa-stack-1x blue-grey-text "></i>
                                <i class="fas fa-bed fa-stack-1x pt-3 blue-grey-text  "></i>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center grey lighten-5">
                <button class="btn btn-link cta " type="submit" id="addBed" name="addBed" value="true" onclick="addBed();">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ذخیره</span>
                </button>
                <button class="btn btn-link cta cta-silver" type="button" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times fa-lg"></i>
                    <span>انصراف</span>
                </button>
            </div>
        </div>
    </div>
</div>
