﻿
@using MD.PersianDateTime
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblBedStatusHistory>


<div class="modal fade left " id="modalBedStatusHistory" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-left" role="document">
        <div class="modal-content rtl">
            <div class="modal-header text-center py-3 grey lighten-5">
                <h6 class="modal-title w-100 font-weight-bold">
                   گزارش تغییر وضعیت
                    اتاق <span class="blue-text" id="BedStatusHistoryRoomNumber"></span>
                    تخت  <span class="blue-text" id="BedStatusHistoryBedNumber"></span>
                </h6>
            </div>
            <div class="modal-body mx-3 ">
                <div class="row rtl text-right">
                    @foreach (var item in Model)
                    {
                        <div class="col-12 border-bottom mt-2">
                            <div class="row">
                                <div class="col">   <i class="fas fa-bed  @(item.TblBedStatu.Color)-text"></i> @item.TblBedStatu.Title</div>
                            </div>
                            <div class="row">
                                <div class="col text-primary font-size-0-90">  @item.Des</div>
                            </div> 
                            <div class="row text-black-50 font-size-0-80 mb-2 mt-2">
                                <div class="col">@(new PersianDateTime(item.Date).ToString("yyyy/MM/dd hh:mm"))</div>
                                <div class="col text-left">@item.TblUser.TblPerson.Fullname()</div>
                            </div>
                           
                            
                        </div>
                    }</div>
                </div>
           
        </div>
    </div>
</div>