﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblBedStatu>
    @{ 
        var beds = (List<Omidiyeh_Oil_Company___0147.Models.TblBed>)ViewBag.Beds;
    }
<div class="row text-right">
    @foreach (var item in Model)
    {
        <div class="col-6">
            <span class="fa-stack fa-lg cursor-pointer ">
                <i class="fas fa-bed fa-stack-1x @(item.Color)-text disableRightClickContextMenu"></i>
               
            </span><span>  @item.Title (<span class="red-text">@(beds.Where(a=>a.Status == item.Id).Count())</span>)</span>
        </div>
    }

</div>