﻿@model Omidiyeh_Oil_Company___0147.Models.TblOfficeFoodQuota

@{
    ViewBag.Title = "ایجاد سهمیه غذایی";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("~/Views/Company/Tabs.cshtml")

    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

<div class="card-body">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-sm-3">
            <div class="select-outline my-2">
                <select name="Company" id="Company" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                <label for="Company" class="m-active">شرکت</label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="select-outline my-2">
                <select name="Subsidiary" id="Subsidiary" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                <label for="Subsidiary" class="m-active">شرکت تابعه</label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="select-outline my-2">
                <select name="Management" id="Management" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                <label for="Management" class="m-active">مدیریت</label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="select-outline my-2">
                <select name="Office" id="Office" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                <label for="Office" class="m-active">اداره</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.InitialQuota, new { htmlAttributes = new { @class = "form-control text-center" } })
                @Html.LabelFor(model => model.InitialQuota)
                @Html.ValidationMessageFor(model => model.InitialQuota, "", new { @class = "invalid-feedback mr-2" })
            </div>
        </div>

        <div class="col-sm-6">
            <div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.UsedQuota, new { htmlAttributes = new { @class = "form-control text-center" } })
                @Html.LabelFor(model => model.UsedQuota)
                @Html.ValidationMessageFor(model => model.UsedQuota, "", new { @class = "invalid-feedback mr-2" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="md-form md-outline form-lg my-3 input-group">
                <input type="text" class="form-control text-center" aria-label="sDate" aria-describedby="eDate"
                       data-val="true"  data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                <label for="StartDateFa">تاریخ شروع</label>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                </div>
                @Html.HiddenFor(model => model.StartDate)
            </div>
        </div>

        <div class="col-sm-6">
            <div class="md-form md-outline form-lg my-3 input-group">
                <input type="text"  class="form-control text-center" aria-label="eDate" aria-describedby="eDate" 
                       data-val="true"  data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                <label for="EndDateFa">تاریخ پایان</label>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                </div>
                @Html.HiddenFor(model => model.EndDate)
            </div>
        </div>
    </div>

    <div class="md-form text-left">
        <div class="col-md-12">
            <input type="submit" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
        </div>
    </div>
</div>
    }

</div>

@section Scripts{
    <script>
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            fromDate: true,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            toDate: true,
            groupId: "Start-End-Date"

        });
        $(document).ready(function() {
            $('#Tab-OfficeFoodQuota-Create').removeClass('d-none').addClass('active show');
            UserAccess('Company', 0, 'Company');

            $('#Company').on('change',
                function () {
                    UserAccess('Subsidiary', $(this).val(), 'Subsidiary');
                });
            $('#Subsidiary').on('change',
                function () {
                    UserAccess('Management', $(this).val(), 'Management');

                });
            $('#Management').on('change',
                function () {
                    UserAccess('Office', $(this).val(), 'Office');

                });
        });
    </script>
}