﻿@model Omidiyeh_Oil_Company___0147.Models.TblOfficeFoodQuota

@{
    ViewBag.Title = "حذف Delete";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("~/Views/Company/Tabs.cshtml")

    <!--Header-->
    <p class="note note-danger mx-5 my-3"><strong>اخطار:</strong> آیا برای حذف این اطلاعات مطمئن هستید؟</p>
    <div class="card-body">
        <dl class="dl-horizontal  mx-5">
            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.InitialQuota)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.InitialQuota)
                </dd>
            </div>

            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.UsedQuota)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UsedQuota)
                </dd>
            </div>

            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.RemainingQuota)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RemainingQuota)
                </dd>
            </div>

            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartDate)
                </dd>
            </div>

            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EndDate)
                </dd>
            </div>

            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.TblOffice.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TblOffice.Title)
                </dd>
            </div>

          

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="حذف اطلاعات" class="btn btn-danger  font-size-1-25" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Tab-OfficeFoodQuota-Edit').removeClass('d-none').addClass('active show');
        });
    </script>
}