﻿@using MD.PersianDateTime
@model Omidiyeh_Oil_Company___0147.Models.TblOfficeFoodQuota

@{
    ViewBag.Title = "ویرایش سهمیه غذایی";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("~/Views/Company/Tabs.cshtml")

    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(Model=>Model.Office)
            <div class="row">
                <div class="col-sm-3">
                    <div class="md-form md-outline my-2">
                        <input type="text" value="@ViewBag.Company" class="form-control text-center" id="Company" name="Company" readonly />
                        <label for="Company" class="m-active">شرکت</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    
                        <div class="md-form md-outline my-2">
                            <input type="text" value="@ViewBag.Subsidiary" class="form-control text-center" id="Subsidiary" name="Subsidiary" readonly />
                            <label for="Subsidiary" class="m-active">شرکت تابعه</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                       
                            <div class="md-form md-outline my-2">
                                <input type="text" value="@ViewBag.Management" class="form-control text-center" id="Management" name="Management" readonly />
                                <label for="Management" class="m-active">مدیریت</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            
                                <div class="md-form md-outline my-2">
                                    <input type="text" value="@ViewBag.Office" class="form-control text-center" id="OfficeTitle" name="OfficeTitle" readonly />
                                    <label for="OfficeTitle" class="m-active">اداره</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="md-form md-outline my-3">
                                    @Html.EditorFor(model => model.InitialQuota, new { htmlAttributes = new { @class = "form-control text-center" } })
                                    @Html.LabelFor(model => model.InitialQuota)
                                    @Html.ValidationMessageFor(model => model.InitialQuota, "", new { @class = "invalid-feedback mr-2" })
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="md-form md-outline my-3">
                                    @Html.EditorFor(model => model.UsedQuota, new { htmlAttributes = new { @class = "form-control text-center" } })
                                    @Html.LabelFor(model => model.UsedQuota)
                                    @Html.ValidationMessageFor(model => model.UsedQuota, "", new { @class = "invalid-feedback mr-2" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="md-form md-outline form-lg my-3 input-group">
                                    <input type="text" class="form-control text-center" aria-label="sDate" aria-describedby="eDate"
                                           data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="@(new PersianDateTime(Model.StartDate).ToShortDateString())">
                                    <label for="StartDateFa">تاریخ شروع</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    @Html.HiddenFor(model => model.StartDate)
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="md-form md-outline form-lg my-3 input-group">
                                    <input type="text" class="form-control text-center" aria-label="eDate" aria-describedby="eDate"
                                           data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="@(new PersianDateTime(Model.EndDate).ToShortDateString())">
                                    <label for="EndDateFa">تاریخ پایان</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    @Html.HiddenFor(model => model.EndDate)
                                </div>
                            </div>
                        </div>
                        <div class="md-form text-left">
                            <div class="col-md-12">
                                <input type="submit" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
                            </div>
                        </div>
                    </div>
                    }

                </div>
                @section Scripts{
                    <script>
                        $('#sDate').MdPersianDateTimePicker({
                            targetTextSelector: '#StartDateFa',
                            targetDateSelector: '#StartDate',
                            textFormat: 'yyyy/MM/dd',
                            fromDate: true,
                            groupId: "Start-End-Date"
                        });
                        $('#eDate').MdPersianDateTimePicker({
                            targetTextSelector: '#EndDateFa',
                            targetDateSelector: '#EndDate',
                            textFormat: 'yyyy/MM/dd',
                            toDate: true,
                            groupId: "Start-End-Date"

                        });
                        $(document).ready(function () {
                            $('#Tab-OfficeFoodQuota-Edit').removeClass('d-none').addClass('active show');

                        });
                    </script>
                }
