﻿@model Omidiyeh_Oil_Company___0147.Models.TblHoliday

@{
    ViewBag.Title = "مشاهده جزئیات Details + Model.Title";
    Layout = "~/Views/Shared/_layout.cshtml";
}


    <div class="card rtl text-right">
	<!--Header-->
    @Html.Partial("..//Tabs")   
    <!--Header-->

<div>
    <dl class="dl-horizontal  mx-5 my-5">
		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
		</div>

    </dl>
</div>
</div>

