﻿@model Omidiyeh_Oil_Company___0147.Models.TblHoliday

@{
    ViewBag.Title = "ویرایش روز تعطیل";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("../Company/Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="row">

                <div class="col-sm-6">
                    <div class="md-form md-outline form-lg my-3 input-group">
                        <input type="text" class="form-control text-center" aria-label="sDate" aria-describedby="eDate"
                               data-val="true" data-val-required=" " id="DateFa" name="DateFa" value="" readonly>
                        <label for="DateFa">تاریخ </label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        @Html.HiddenFor(model => model.Date)
                    </div>
                </div>

                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "invalid-feedback mr-2" })

                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-blue  font-size-1" />
                </div>
            </div>
        </div>
    }

</div>
@section Scripts{
    <script>
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#DateFa',
            targetDateSelector: '#Date',
            textFormat: 'yyyy/MM/dd'
        });
        $(document).ready(function () {
            $('#Tab-Holiday-Edit').addClass('active show').removeClass('d-none');

        });

    </script>
}