﻿@model Omidiyeh_Oil_Company___0147.Models.TblContractFood
<div class="modal fade rtl" id="modalFoodAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center py-3 grey lighten-5">
                <h6 class="modal-title w-100 font-weight-bold">ایجاد غذا برای پیمان <span class="blue-text" id="TitleAddVehicleDriver">@ViewBag.Title</span></h6>
            </div>
            <div class="modal-body mx-3 ">
                <div class="col-12 mt-3">
                    <div class="md-form md-outline ">
                        @Html.DropDownList("Food", null, htmlAttributes: new { @class = " custom-select farsi text-center" })
                        <label for="Food" class="m-active">غذا</label>
                    </div>
                </div>

                    <div class="col-12 mt-3">
                        <div class="md-form md-outline">
                            <input class="form-control  text-center" data-val="true" data-val-number=" " data-val-required=" " id="Price" name="Price" onkeyup="javascript:this.value=autoComma(this.value);" type="text" value="">
                            <label for="Price" class="">قیمت</label>
                            <span class="field-validation-valid invalid-feedback mr-2" data-valmsg-for="Price" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="md-form md-outline">
                            <input class="form-control  text-center" data-val="true" data-val-number=" " data-val-required=" " id="FreePrice" name="FreePrice" onkeyup="javascript:this.value=autoComma(this.value);" type="text" value="">
                            <label for="FreePrice" class="">قیمت آزاد</label>
                            <span class="field-validation-valid invalid-feedback mr-2" data-valmsg-for="FreePrice" data-valmsg-replace="true"></span>
                        </div>
                    </div>
             

                    <div class="col-12 mt-3">
                        <div class="md-form md-outline">
                            @Html.TextBoxFor(model => model.InitialQuota, new {  @class = "form-control  text-center",onkeyup = "javascript:this.value=autoComma(this.value);"   })
                            @Html.LabelFor(model => model.InitialQuota)
                            @Html.ValidationMessageFor(model => model.InitialQuota, "", new { @class = "invalid-feedback mr-2" })
                        </div>
                    </div>
                @*<div class="col-12 mt-3">
                        <div class="md-form md-outline">
                            @Html.TextBoxFor(model => model.UsedQuota, new {  @class = "form-control  text-center", Value = 0,onkeyup = "javascript:this.value=autoComma(this.value);"   })
                            @Html.LabelFor(model => model.UsedQuota)
                            @Html.ValidationMessageFor(model => model.UsedQuota, "", new { @class = "invalid-feedback mr-2" })
                        </div>
                    </div>*@
                <input type="hidden" value="0" name="UsedQuota" id="UsedQuota" />
               
            </div>
            <div class="modal-footer d-flex justify-content-center grey lighten-5 py-1">
                <input type="hidden" name="Contract" id="Contract" value="@ViewBag.Contract" />
                <button class="btn btn-link cta " type="submit" value="true"  onclick="addFoodSave()">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ذخیره</span>
                </button>
                <button class="btn btn-link cta cta-silver" type="button" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times fa-lg"></i>
                    <span>انصراف</span>
                </button>
            </div>
        </div>
    </div>
</div>
