﻿@model Omidiyeh_Oil_Company___0147.Models.TblContractFood

@{
    ViewBag.Title = "ایجاد ارتباط پیمان و غذا";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("../Contract/Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-6">
                    <div class="select-outline my-0">
                        @Html.DropDownList("Food", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3 mb-0", searchable = "جستجو ..." })
                        @Html.LabelFor(model => model.Food, new { @class = "m-active" })
                        @Html.ValidationMessageFor(model => model.Food, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="select-outline my-0">
                        @Html.DropDownList("Contract", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3 mb-0", searchable = "جستجو ..." })
                        @Html.LabelFor(model => model.Contract, new { @class = "m-active" })
                        @Html.ValidationMessageFor(model => model.Contract, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline  my-2">
                        @Html.TextBoxFor(model => model.Price, new  { @class = "form-control  text-center"  })
                        @Html.LabelFor(model => model.Price)
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline  my-2">
                        @Html.TextBoxFor(model => model.FreePrice, new  { @class = "form-control  text-center"  })
                        @Html.LabelFor(model => model.FreePrice)
                        @Html.ValidationMessageFor(model => model.FreePrice, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline  my-3">
                        @Html.TextBoxFor(model => model.InitialQuota, new{ @class = "form-control  text-center"  })
                        @Html.LabelFor(model => model.InitialQuota)
                        @Html.ValidationMessageFor(model => model.InitialQuota, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline  my-3">
                        @Html.TextBoxFor(model => model.UsedQuota, new { @class = "form-control  text-center"  })
                        @Html.LabelFor(model => model.UsedQuota)
                        @Html.ValidationMessageFor(model => model.UsedQuota, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn blue  white-text font-size-1" />
                </div>
            </div>
        </div>
    }

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Tab-Food-Create').addClass('active show').removeClass('d-none');
        });
    </script>
}