﻿@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblContractFood>

@{
    ViewBag.Title = "مدیریت ارتباط پیمان و غذا";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("../Contract/Tabs")
    <!--Header-->
    <div class="card-body">
        <table id="DataList" class="table table-striped table-hover" style="width: 100%; ">
            <thead>
                <tr >
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Food)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Contract)
                    </th>
                    <th>
                        رستوران
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FreePrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InitialQuota)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UsedQuota)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RemainingQuota)
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Tab-Food-Manage').addClass('active show');
            $('#Tab-Food-Create').removeClass('d-none');
            $('#DataList').DataTable({
                //"keys": true,
                "stateSave": true,
                "colReorder": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Welfare/ContractFood/List",
                    "type": "POST",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "id", "name": "id" },
                    { "data": "Food", "name": "Food" },
                    { "data": "Contract", "name": "Contract" },
                    { "data": "Restaurant", "name": "Restaurant" },
                    { "data": "Price", "name": "Price" },
                    { "data": "FreePrice", "name": "FreePrice" },
                    { "data": "InitialQuota", "name": "InitialQuota" },
                    { "data": "UsedQuota", "name": "UsedQuota" },
                    { "data": "RemainingQuota", "name": "RemainingQuota" },
                    { "data": "edit", "name": "edit" }
                ],
                "order": [[2, "desc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                "columnDefs": [
                    {
                        "orderable": false,
                        
                        "width": "50px",
                        "targets": 0
                    },
                    {
                        "orderable": false,
                        "width": "155px",
                        "targets":8
                    }
                ] 
            }).on('xhr.dt',
                function (e, settings, json) {
                    if ($('#DataList_wrapper select').hasClass('custom-select custom-select-sm form-control form-control-sm')) {
                        $('#DataList_wrapper').find('label').each(function () {
                            $(this).parent().append($(this).children());
                        });
                        $('#DataList_wrapper .dataTables_filter').find('input').each(function () {
                            const $this = $(this);
                            $this.attr("placeholder", "جستجو...");
                            $this.removeClass('form-control-sm');
                        });
                        $('#DataList_wrapper .dataTables_length').addClass('d-flex flex-row');
                        $('#DataList_wrapper .dataTables_filter').addClass('md-form rtl');
                        $('#DataList_wrapper select').removeClass(
                            'custom-select custom-select-sm form-control form-control-sm');
                        $('#DataList_wrapper select').addClass('mdb-select');
                        $('#DataList_wrapper .mdb-select').materialSelect();
                        $('#DataList_wrapper .dataTables_filter').find('label').remove();
                        $('#DataList_wrapper .dataTables_length').find('label').remove();
                        $("#DataList_wrapper").children().first().css({ "direction": "ltr" });
                    }
                });;

        });
    </script>
}

