﻿@model Omidiyeh_Oil_Company___0147.Models.TblRoomStatu

@{
    ViewBag.Title = "ایجاد Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="card rtl text-right">
	<!--Header-->
    @Html.Partial("..//Tabs")
    <!--Header-->
@using (Html.BeginForm(null,null,FormMethod.Post, new {@class="needs-validation" ,novalidate="novalidate"})) 
{
    @Html.AntiForgeryToken()
    
     <div class="card-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.Des, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.Des)
                @Html.ValidationMessageFor(model => model.Des, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.Color)
                @Html.ValidationMessageFor(model => model.Color, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
         <div class="md-form text-left" >
            <div class="col-md-12">
                <input type="submit" value="ثبت اطلاعات" class="btn btn-blue  font-size-1" />
            </div>
        </div>
    </div>
}

</div>
