﻿@model Omidiyeh_Oil_Company___0147.Models.TblOfficeDepartmentAccountNumber

@{
    ViewBag.Title = "ایجاد شماره حساب";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("../Company/Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

    <div class="card-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-sm-6">
                <div class="md-form md-outline  my-3">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control  text-center" } })
                    @Html.LabelFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>

            <div class="col-sm-6">
                <div class="md-form md-outline  my-3">
                    @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control  text-center" } })
                    @Html.LabelFor(model => model.AccountNumber)
                    @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="md-form md-outline my-3">
                    <select name="Company" id="Company" class="custom-select multiline farsi font-size-0-90 "  size="5" style="min-height:180px"></select>
                    <label for="Company" class="m-active">شرکت</label>
                </div>
            </div>
            <div class="col">
                <div class="md-form md-outline my-3">
                    <select name="Subsidiary" id="Subsidiary" class="custom-select multiline farsi font-size-0-90 "  size="5" style="min-height:180px"></select>
                    <label for="Subsidiary" class="m-active">شرکت تابعه</label>
                </div>
            </div>
            <div class="col">
                <div class="md-form md-outline my-3">
                    <select name="Management" id="Management" class="custom-select multiline farsi font-size-0-90 "  size="5" style="min-height:180px"></select>
                    <label for="Management" class="m-active">مدیریت</label>
                </div>
            </div>
            <div class="col">
                <div class="md-form md-outline my-3">
                    <select name="Office" id="Office" class="custom-select multiline farsi font-size-0-90 " size="5" style="min-height:180px">
                    </select>
                    <label for="Office" class="m-active">اداره</label>
                </div>
            </div>
            <div class="col">
                <div class="md-form md-outline my-3">
                    <select name="OfficeDepartment" id="OfficeDepartment" required data-val="true" data-val-required=" " class="custom-select multiline farsi font-size-0-90 " size="5" style="min-height:180px">
                    </select>
                    <label for="OfficeDepartment" class="m-active">واحد</label>
                    @Html.ValidationMessageFor(model => model.OfficeDepartment, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>

        </div>

        <div class="md-form text-left">
            <div class="col-md-12">
                <input type="submit" value="ثبت اطلاعات" class="btn btn-blue  font-size-1" />
            </div>
        </div>
    </div>
    }

</div>
<span class="d-none" id="p-link">/officeDepartmentAccountNumbers</span>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Tab-OfficeDepartmentAccountNumbers-Create').removeClass('d-none').addClass('active show');
            UserAccess2('Company',0,'Company',true,false,8);
        });
        $('#Company').on('change',
            function () {
                UserAccess2('Subsidiary', $(this).val(), 'Subsidiary',true,false);
            });
        $('#Subsidiary').on('change',
            function () {
                UserAccess2('Management', $(this).val(), 'Management',true,false);

            });
        $('#Management').on('change',
            function () {
                UserAccess2('Office', $(this).val(), 'Office',true,false);

            });
        $('#Office').on('change',
            function () {
                UserAccess2('OfficeDepartment', $(this).val(), 'OfficeDepartment',true,false);

            });
    </script>
}