﻿@model Omidiyeh_Oil_Company___0147.Models.TblBookingCode

@{
    ViewBag.Title = "ویرایش کد";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Des, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Des)
                        @Html.ValidationMessageFor(model => model.Des, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.RequestEndDay, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.RequestEndDay)
                        @Html.ValidationMessageFor(model => model.RequestEndDay, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline my-3 input-group">
                        <input type="text" name="RequestEndTime" id="ReservationEndTime" class="form-control text-center timepicker" value="@Model.RequestEndTime" />
                        @Html.LabelFor(model => model.RequestEndTime, new { @class = "m-active" })
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-clock"></i></span>
                        </div>
                        @Html.ValidationMessageFor(model => model.RequestEndTime, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
                <button class="btn btn-link cta  mr-auto" type="submit" id="save">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ثبت اطلاعات</span>
                </button>
            </div>
        </div>
    }

</div>
@section Scripts{
    <script>

        $(document).ready(function () {

            $('#Tab-BookingCode-Edit').addClass('active show').removeClass('d-none');

        });
    </script>
}