﻿@model Omidiyeh_Oil_Company___0147.Models.TblVehicle

@{
    ViewBag.Title = "ایجاد وسیله نقلیه";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-12">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="select-outline my-3">
                        @Html.DropDownList("Type", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                        @Html.LabelFor(model => model.Type)
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Capacity)
                        @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="md-form md-outline my-3">
                        @Html.TextAreaFor(model => model.Des, new { @class = "form-control text-center md-textarea" })
                        @Html.LabelFor(model => model.Des)
                        @Html.ValidationMessageFor(model => model.Des, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>

            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
                </div>
            </div>
        </div>
    }

</div>
@section Scripts{
    <script>

        $(document).ready(function () {

            $('#Tab-Vehicle-Create').addClass('active show').removeClass('d-none');

        });
    </script>
}