﻿<div class="modal fade rtl" id="modalAddPerson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body rtl text-right mx-3 ">


                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="card-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="md-form md-outline my-2">
                                    <input type="text" class="form-control text-center readonly"
                                           data-val="true" data-val-required=" " id="PersonName" name="PersonName">
                                    <label for="PersonName">نام</label>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="md-form md-outline my-2">
                                    <input type="text" class="form-control text-center readonly"
                                           data-val="true" data-val-required=" " id="PersonName" name="PersonName">
                                    <label for="PersonName">نام خانوادگی</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="md-form md-outline my-2">
                                    <input type="text" class="form-control text-center readonly"
                                           data-val="true" data-val-required=" " id="PersonName" name="PersonName">
                                    <label for="PersonName">کدملی</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="md-form md-outline my-2">
                                    <input type="text" class="form-control text-center readonly"
                                           data-val="true" data-val-required=" " id="PersonName" name="PersonName">
                                    <label for="PersonName">شماره پرسنلی</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="md-form md-outline my-2">
                                    <input type="text" class="form-control text-center readonly"
                                           data-val="true" data-val-required=" " id="PersonName" name="PersonName">
                                    <label for="PersonName">موبایل</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="md-form md-outline  my-2 input-group">
                                    <input type="text" class="form-control text-center" aria-label="bdate" aria-describedby="bdate"
                                           data-val="true" data-val-required=" " id="BirthDateFa" name="BirthDateFa" value="">
                                    <label for="BirthDateFa">تاریخ تولد</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="bdate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="BirthDate" />
                                </div>
                            </div>
                        </div>





                        <button class="btn btn-link cta " type="button" id="addItems">
                            <i class="fas fa-search fa-lg"></i>
                            <span>ثبت شخص</span>
                        </button>

                    </div>

                }


            </div>
        </div>
    </div>
</div>