﻿@model Omidiyeh_Oil_Company___0147.Models.TblPerson

@{
    ViewBag.Title = "ایجاد شخص";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-2">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline my-2">
                        @Html.EditorFor(model => model.Family, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Family)
                        @Html.ValidationMessageFor(model => model.Family, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-2">
                        @Html.EditorFor(model => model.NationalCode, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.NationalCode)
                        @Html.ValidationMessageFor(model => model.NationalCode, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline my-2">
                        @Html.EditorFor(model => model.PersonnelCode, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.PersonnelCode)
                        @Html.ValidationMessageFor(model => model.PersonnelCode, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="select-outline my-2">
                        @Html.DropDownList("FamilyRelationship", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-0", searchable = "جستجو ..." })
                        @Html.LabelFor(model => model.FamilyRelationship)
                        @Html.ValidationMessageFor(model => model.FamilyRelationship, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline  my-2 input-group">
                        <input type="text" class="form-control text-center" aria-label="bdate" aria-describedby="bdate"
                               data-val="true" data-val-required=" " id="BirthDateFa" name="BirthDateFa" value="">
                        <label for="BirthDateFa">تاریخ تولد</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="bdate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        @Html.HiddenFor(model => model.BirthDate)
                    </div>
                </div>
            </div>

           

            <div class="row">
                <div class="col-sm-6">
                    <div class="select-outline my-0">
                        @Html.DropDownList("Group", null, htmlAttributes: new { @class = "mdb-select md-form md-outline  mt-0 mb-0", searchable = "جستجو ..." })
                        @Html.LabelFor(model => model.Group)
                        @Html.ValidationMessageFor(model => model.Group, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
             <div class="col-sm-6">
                <div class="select-outline my-0">
                    <select name="ShiftWorker" id="ShiftWorker" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true">
                        <option value="true">بله</option>
                        <option value="false">خیر</option>
                    </select>
                    <label for="ShiftWorker" class="m-active">نوبتکار</label>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-sm-6">
                    <div class="select-outline my-0">
                        <select name="Status" id="Status" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true">
                            <option value="true">فعال</option>
                            <option value="false">غیر فعال</option>
                        </select>
                        
                        <label for="Status" class="m-active">وضعیت</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-2">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Address)
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline my-2">
                        @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Tel)
                        @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-2">
                        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Mobile)
                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline my-2">
                        @Html.EditorFor(model => model.Mobile2, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Mobile2)
                        @Html.ValidationMessageFor(model => model.Mobile2, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="select-outline my-2">
                        <select name="Company" id="Company" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="Company" class="m-active">شرکت</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="select-outline my-2">
                        <select name="Subsidiary" id="Subsidiary" class="mdb-select required md-form md-outline mt-0 mb-0 " style="min-height:180px" searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="Subsidiary" class="m-active">شرکت تابعه</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="select-outline my-2">
                        <select name="Management" id="Management" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true" size="5"></select>
                        <label for="Management" class="m-active">مدیریت</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="select-outline my-2">
                        <select name="Office" id="Office" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="Office" class="m-active">اداره</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="select-outline my-2">
                        <select name="OfficeDepartment" id="OfficeDepartment" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="OfficeDepartment" class="m-active">واحد</label>
                    </div>
                </div>
            </div>
            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-blue  font-size-1" />
                </div>
            </div>
        </div>
    }

</div>
@section Scripts{
    <script>
        $('#bdate').MdPersianDateTimePicker({
            targetTextSelector: '#BirthDateFa',
            targetDateSelector: '#BirthDate',
            textFormat: 'yyyy/MM/dd'
            
        });
        $(document).ready(function () {
            $('#Tab-Person-Create').addClass('active show').removeClass('d-none');
            UserAccess('Company',0,'Company',null,null,8);
        });
        $('#Company').on('change',
            function () {
                UserAccess('Subsidiary', $(this).val(), 'Subsidiary', null, null, 2);
            });
        $('#Subsidiary').on('change',
            function () {
                UserAccess('Management', $(this).val(), 'Management');

            });
        $('#Management').on('change',
            function () {
                UserAccess('Office', $(this).val(), 'Office');

            });
        $('#Office').on('change',
            function () {
                UserAccess('OfficeDepartment', $(this).val(), 'OfficeDepartment');

            });
    </script>
}
