﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblPerson>

@{
    ViewBag.Title = "افراد";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs")
    <!--Header-->
    <div class="card-body">
        <!--Accordion wrapper-->
        <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">
            <!-- Accordion card -->
            <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                       aria-controls="collapseOne1">
                        <h5 class="">
                            <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                        </h5>
                    </a>
                </div>
                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-sm-3 col-md-2">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Name" name="Name">
                                    <label for="Name" class="active">نام</label>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Family" name="Family">
                                    <label for="Family" class="active">نام خانوادگی</label>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2  ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="NationalCode" name="NationalCode">
                                    <label for="NationalCode" class="active">کدملی</label>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2  ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="PersonnelCode" name="PersonnelCode">
                                    <label for="PersonnelCode" class="active">شماره پرسنلی</label>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2  ">
                                <div class="md-form md-outline form-sm my-1">
                                    @Html.DropDownList("FamilyRelationship", null, htmlAttributes: new { @class = "mdb-select not-required do-select md-form  md-outline  text-right my-0 advancedSearch", searchable = "جستجو ..." , multiple = true, data_label_select_all = " "})
                                    <label for="FamilyRelationship" class="m-active">نسبت</label>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2  ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="BirthDate" name="BirthDate">
                                    <label for="BirthDate" class="active">تاریخ تولد</label>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Tel" name="Tel">
                                    <label for="Tel" class="active">تلفن</label>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Mobile" name="Mobile">
                                    <label for="Mobile" class="active">موبایل</label>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Address" name="Address">
                                    <label for="Address" class="active">آدرس</label>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    @Html.DropDownList("Group", null, htmlAttributes: new { @class = "mdb-select not-required do-select md-form  md-outline  text-right my-0 advancedSearch", searchable = "جستجو ..." , multiple = true, data_label_select_all = " "})
                                    <label for="Group" class="active">گروه</label>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select class="mdb-select not-required do-select md-form  md-outline  text-right my-0 advancedSearch" id="ShiftWorker" name="ShiftWorker" searchable = "جستجو ...">
                                        <option value=""></option>
                                        <option value="true">بله</option>
                                        <option value="false">خیر</option>
                                    </select>
                                    <label for="ShiftWorker" class="active">شیفت کار</label>
                                </div>
                            </div> 
                            <div class="col-sm-3 col-md-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select class="mdb-select not-required do-select md-form  md-outline  text-right my-0 advancedSearch" id="Disable" name="ShiftWorker" searchable = "جستجو ...">
                                        <option value=""></option>
                                        <option value="false">فعال</option>
                                        <option value="true">غیرفعال</option>
                                    </select>
                                    <label for="Disable" class="active">وضعیت</label>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Company" id="Company" class="mdb-select not-required md-form md-outline mt-0 mb-0  advancedSearch" searchable="جستجو ..." data-stop-refresh="true">
                                    </select>
                                    <label for="Company" class="m-active">شرکت</label>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Subsidiary" id="Subsidiary" class="mdb-select not-required md-form md-outline mt-0 mb-0  advancedSearch" searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="Subsidiary" class="active">شرکت تابعه</label>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Management" id="Management" class="mdb-select not-required md-form md-outline mt-0 mb-0  advancedSearch" searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="Management" class="active">مدیریت</label>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Office" id="Office" class="mdb-select not-required md-form md-outline mt-0 mb-0  advancedSearch" searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="Office" class="active">اداره</label>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="OfficeDepartment" id="OfficeDepartment" class="mdb-select not-required md-form md-outline mt-0 mb-0  advancedSearch" searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="OfficeDepartment" class="active">واحد</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
        </div>
        <!-- Accordion wrapper -->

        <table id="DataList" class="table table-striped py-0 table-hover table-sm" style="width: 100%;">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Family)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NationalCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PersonnelCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FamilyRelationship)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TblOfficeDepartment.TblOffice.Management)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TblOfficeDepartment.Office)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OfficeDepartment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Group)
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Tab-Person').addClass('active show');
            $('#Tab-Person-Create').removeClass('d-none');

            UserAccess('Company', 0, 'Company', true, true, -100, false, true);
       
            $('#Company').on('change',
                function () {
                    UserAccess('Subsidiary', $(this).val(), 'Subsidiary');
                });
            $('#Subsidiary').on('change',
                function () {
                    UserAccess('Management', $(this).val(), 'Management');

                });
            $('#Management').on('change',
                function () {
                    UserAccess('Office', $(this).val(), 'Office');

                });
            $('#Office').on('change',
                function () {
                    UserAccess('OfficeDepartment', $(this).val(), 'OfficeDepartment');

                });

            const t = $('#DataList').DataTable({
                //"stateSave": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Person/List",
                    "type": "POST",
                    "dataType": "json",
                    "data": function (d) {
                        d.Name = $('#Name').val();
                        d.Family = $('#Family').val();
                        d.NationalCode = $('#NationalCode').val();
                        d.PersonnelCode = $('#PersonnelCode').val();
                        d.FamilyRelationship = $('#FamilyRelationship').val();
                        d.BirthDate = $('#BirthDate').val();
                        d.Office = $('#Office').val();
                        d.OfficeDepartment = $('#OfficeDepartment').val();
                        d.Management = $('#Management').val();
                        d.Disable = $('#Disable').val();
                        d.Tel = $('#Tel').val();
                        d.Mobile = $('#Mobile').val();
                        d.Address = $('#Address').val();
                        d.Group = $('#Group').val();
                        d.Company = $('#Company').val();
                        d.Subsidiary = $('#Subsidiary').val();
                        d.ShiftWorker = $('#ShiftWorker').val();

                    }
                },
                "dom": 'rt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
                "columns": [
                    { "data": "id", class:"fit" },
                    {
                        "class": "details-control ",
                        "data": null,
                        "defaultContent": "", 
                    },
                    { "data": "Name", "name": "Name" },
                    { "data": "Family", "name": "Family" },
                    { "data": "NationalCode", "name": "NationalCode" },
                    { "data": "PersonnelCode", "name": "PersonnelCode" },
                    { "data": "FamilyRelationship", "name": "FamilyRelationship" },
                    { "data": "Management", "name": "TblOfficeDepartment.TblOffice.TblManagement.Title" },
                    { "data": "Office", "name": "TblOfficeDepartment.TblOffice.Title" },
                    { "data": "OfficeDepartment", "name": "TblOfficeDepartment.Title" },
                    { "data": "Group", "name": "Group" },
                    {
                        "data": "edit",
                        "name": "edit",
                        "class":"fit text-left",
                        "render": function (data, type, row, meta) {
                            console.log(row);
                            console.log(row.FamilyRelationship);
                            return (
                                
                                row.User === true ?
                                    `<a href='/user/Edit/${row.DT_RowId}' class='text-primary ml-2' data-toggle="tooltip" data-placement="top" title="ویرایش کاربر" ><i class='fas fa-user-edit fa-lg'></i></a>` :
                                    row.FamilyRelationshipId ===0 ?`<a href='/user/create/${row.DT_RowId}' class='text-primary ml-2'  title="ایجاد کاربر" ><i class='fas fa-user-plus fa-lg'></i></a>` : '') +
                                `<a href='/Person/Edit/${row.DT_RowId}' class='text-success ml-2' ><i class='fas fa-edit fa-lg'></i></a>
                                <a href='/Person/Delete/${row.DT_RowId}' class='text-danger' ><i class='fas fas fa-trash-alt fa-lg'></i></a> `;
                        }
                    }
                ],
                
                "order": [[6, "asc"],[3, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                "columnDefs": [
                    {
                        "orderable": false,
                        //
                        "width": "50px",
                        "targets": [0, 1]
                    },
                    {
                        "orderable": false,
                        "width": "125px",
                        "targets": 11
                    }
                ]
            });

            //شماره گذاری سطر های جدول
            t.on('draw.dt', function () {
                var pageInfo = t.page.info();
                t.column(0, { page: 'current' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1 + pageInfo.start;
                });
            });

            // Add event listener for opening and closing details
            $('#DataList tbody').on('click',
                'td.details-control',
                function () {
                    var tr = $(this).closest('tr');
                    var row = t.row(tr);

                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                        // Open this row
                        row.child(childRowsTMission(row.data()), 'm-0 p-0').show();
                        tr.addClass('shown');
                    }
                });

            function childRowsTMission(d) {

                // `d` is the original data object for the row
                return `<table class="no-border  table-sm w-100 font-size-0-75 yellow lighten-5">
                            <tr>
                            <th></th><th></th>
                            <th>تاریخ تولد</th>
                            <th>تلفن</th>
                            <th>موبایل</th>
                            <th>موبایل</th>
                            <th>آدرس</th>
                            <th>وضعیت</th>
                            </tr>
                            <tr>
                            <td></td><td></td>
                            <td>${d['BirthDate']}</td>
                            <td>${d['Tel']}</td>
                            <td>${d['Mobile']}</td>
                            <td>${d['Mobile2']}</td>
                            <td>${d['Address']}</td>
                            <td>${d['Status']}</td>
                            </tr>
                            </table>`;
            }

            //#region Advanced Search

               
            $('.advancedSearch').on('keypress',
                function (e) {
                    /* ENTER Tab Space PRESSED*/
                    if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                        t.draw();
                    }
                });
            $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                function (e) {
                                
                    t.draw();
                });

            //#endregion
        });

    </script>
}

