﻿
<div class="classic-tabs rtl">
    <ul class="nav  tabs-blue" id="myTab" role="tablist">

        @*<li class="nav-item ">
            <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Dashboard-Company" href="#">
                <i class="fas fa-info-circle fa-2x pb-2" aria-hidden="true"></i><br>اطلاعات
            </a>
        </li>*@
        @if (User.IsInRole("67"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Person" href="/Person/">
                    <i class="fas fa-users fa-2x pb-2" aria-hidden="true"></i><br>اشخاص
                </a>
            </li>
        }
        @if (User.IsInRole("70"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Person-Create" href="/Person/Create">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ایجاد شخص
                </a>
            </li>
        }
        @if (User.IsInRole("71"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Person-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ویرایش شخص
                </a>
            </li>
        }
       
        @if (User.IsInRole("93"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1" id="Tab-User" href="/User">
                    <i class="fas fa-user fa-2x pb-2" aria-hidden="true"></i><br>کاربران
                </a>
            </li>
}
        @if (User.IsInRole("94"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-User-Create" href="/User/Create">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ایجاد کاربر
                </a>
            </li>
        }
        @if (User.IsInRole("95"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-User-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ویرایش کاربر
                </a>
            </li>
        }
        @if (User.IsInRole("97"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1" id="Tab-UserGroup" href="/UserGroup">
                    <i class="fas fa-users-cog fa-2x pb-2" aria-hidden="true"></i><br>گروه کاربری
                </a>
            </li>
        }
        @if (User.IsInRole("98"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-UserGroup-Create" href="/UserGroup/Create">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ایجاد گروه کاربری
                </a>
            </li>
}
        @if (User.IsInRole("99"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-UserGroup-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ویرایش گروه کاربری
                </a>
            </li>
        }
        @if (User.IsInRole("130"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1" id="Tab-PersonGroup" href="/PersonGroup">
                    <i class="fas fa-users-cog fa-2x pb-2" aria-hidden="true"></i><br>گروه اشخاص
                </a>
            </li>
        }
        @if (User.IsInRole("131"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-PersonGroup-Create" href="/PersonGroup/Create">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ایجاد گروه اشخاص
                </a>
            </li>
        }
        @if (User.IsInRole("132"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-PersonGroup-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ویرایش گروه اشخاص
                </a>
            </li>
        }
        
        @if (User.IsInRole("67"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Vehicle" href="/Vehicle/">
                    <i class="fas fa-users fa-2x pb-2" aria-hidden="true"></i><br>وسیله نقلیه
                </a>
            </li>
        }
        @if (User.IsInRole("70"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Vehicle-Create" href="/Vehicle/Create">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ایجاد شخص
                </a>
            </li>
        }
        @if (User.IsInRole("71"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Vehicle-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ویرایش شخص
                </a>
            </li>
        }
    </ul>
</div>