﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblPerson>

<style>
    .dataTables_info {
        font-size:0.8rem;
        padding-top:10px !important;
    }
</style>

           
            <table id="DataListModalPerson" class="table table-striped py-0 table-hover font-size-0-80 lh1" style="width: 100%;">
                <thead>
                    <tr>
                        @*<th>#</th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Family)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NationalCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PersonnelCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Group)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TblOfficeDepartment.Office)
                        </th>
                        @* <th>
                            @Html.DisplayNameFor(model => model.OfficeDepartment)
                        </th>*@
                        <th></th>
                    </tr>
                </thead>
            </table>
