﻿@model Omidiyeh_Oil_Company___0147.Models.TblFood
@{
    ViewBag.Title = "ایجاد غذا";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_Food")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()
    <div class="card-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-sm-6">
                <div class="md-form md-outline my-3">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.LabelFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="select-outline my-3">
                    @Html.DropDownList("Category", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                    @Html.LabelFor(model => model.Category)
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="md-form md-outline my-3">
                    @Html.EditorFor(model => model.Des, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.LabelFor(model => model.Des)
                    @Html.ValidationMessageFor(model => model.Des, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-sm-6">
                <div class="md-form md-outline my-3">
                    @Html.EditorFor(model => model.Quota, new { htmlAttributes = new { @class = "form-control text-center", Value = "1" } })
                    @Html.LabelFor(model => model.Quota)
                    @Html.ValidationMessageFor(model => model.Quota, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>

        </div>*@
        <input type="hidden" value="1" name="Quota" id="Quota" />
        <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
            <button class="btn btn-link cta  mr-auto font-size-0-50" type="submit" id="addanother" name="addanother" value="true">
                <i class="fas fa-plus-square fa-lg"></i>
                <span >ذخیره و جدید</span>
            </button>
            <button class="btn btn-link cta  ml-0 font-size-0-50" type="submit" id="save" name="save" value="true">
                <i class="fas fa-save fa-lg"></i>
                <span>ذخیره</span>
            </button>

        </div>

    </div>
    }
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Tab-Food-Create').addClass('active show').removeClass('d-none');
        });
    </script>
}
