﻿<div class="modal fade rtl" id="modalQuestionCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center py-3 grey lighten-5">
                <h4 class="modal-title w-100 font-weight-bold">ایجاد پرسش</h4>
            </div>
            <div class="modal-body mx-3 ">
                <div class="col-12">
                    <div class="md-form md-outline  my-0 input-group mr-auto  mt-1">
                        <input type="text" class="form-control text-center  validate" data-val-required=" " id="TitleQuestion" name="TitleQuestion" value="" required autocomplete="off">
                        <label for="TitleQuestion">پرسش</label>
                        <div class="input-group-prepend cursor-pointer ">
                            <span class="input-group-text cursor-pointer" id="rdate"><i class="fas fa-question cursor-pointer"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="col-12">
                        <div class="switch text-right">
                            <label class="">
                                <input type="checkbox" value="True" checked name="Anatomical" id="Anatomical">
                                <span class="lever"></span>
                               پاسخ تشریحی
                            </label>
                        </div>
                    </div>
                </div>
            <div class="col-12 mt-3">
                    <div class="col-12">
                        <div class="switch text-right">
                            <label class="">
                                <input type="checkbox" value="True" name="Necessary" id="Necessary">
                                <span class="lever"></span>
                               پاسخ به این پرسش الزامی می باشد
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center grey lighten-5">
                <button class="btn btn-link cta " type="submit" id="addQuestion" name="addQuestion" value="true">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ذخیره</span>
                </button>
            </div>
        </div>
    </div>
</div>
