﻿


<div class="modal fade rtl" id="modalOptionCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center py-3 grey lighten-5">
                <h6 class="modal-title w-100 font-weight-bold">ایجاد پاسخ برای @ViewBag.QuestionText</h6>

            </div>
            <div class="modal-body mx-3 ">
                <input type="hidden" value="@ViewBag.Question" name="QuestionForOptionCreate" id="QuestionForOptionCreate" />

                <div class="col-12">
                    <div class="md-form md-outline  my-0 input-group mr-auto  mt-1">
                        <input type="text" class="form-control text-center  validate" data-val-required=" " id="TitleOption" name="TitleOption" value="" required autocomplete="off">
                        <label for="TitleOption">پاسخ</label>
                        <div class="input-group-prepend cursor-pointer ">
                            <span class="input-group-text cursor-pointer" id="rdate"><i class="fas fa-question cursor-pointer"></i></span>
                        </div>
                    </div>
                </div>
                
            </div>


            <div class="modal-footer d-flex justify-content-center grey lighten-5">
                <button class="btn btn-link cta " type="submit" id="addOption" name="addOption" value="true" onclick="addOption();">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ذخیره</span>
                </button>
            </div>
        </div>
    </div>
</div>
