﻿@model Omidiyeh_Oil_Company___0147.Models.TblSurvey
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .mds-bootstrap-persian-datetime-picker-container {
        z-index: 1000;
    }
</style>
<div class="container px-0">
    <!-- Container -->
    <div class="row">
        <!-- Column -->
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <div class="card col-12">
                <div class="card-body">
                    <div id="date6"></div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <!--Card-->
            <div class="card col-12">
                <!--Card content-->
                <div class="card-body text-right">
                  
                    
                    <!--Text-->
                   
                        <a href="/Welfare/Survey/Responses" class=" mb-4">
                            نتایج نظرسنجی
                        </a>
                  

                </div>
            </div>
            <!--/.Card-->
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <!--Card-->
            <div class="card testimonial-card col-12 px-0">
                <!-- Background color -->
                <div class="card-up aqua-gradient"></div>
                <!-- Avatar -->
                <div class="avatar mx-auto white">
                    <img src="~/Images/survey.jpg" class="rounded-circle img-responsive" alt="avatar">
                </div>
                <!-- Content -->
                <div class="card-body">
                    <!-- Name -->
                    <h4 class="card-title font-weight-bold">@Model.Title</h4>
                    <hr>
                    <a href="" class=" mb-4" data-toggle="modal" data-target="#modalQuestionCreate">
                        ایجاد پرسش
                    </a>
                </div>
            </div>
            <!--Card-->
        </div>
        <!-- Column -->
    </div>
    <hr />
    <div id="questions" class="row">

    </div>

</div>
@Html.Action("CreateQuestion", "Survey")
<div id="createOption" class="row"></div>
<div id="responseOption" class="row"></div>
<div id="editQuestion" class="row"></div>
<div id="editOption" class="row"></div>
@section scripts{
    <script>
        $('[data-toggle="popover"]').popover({
            trigger: 'hover',
            container: 'body',
        });
        //console.log(1);
        $('#date6').MdPersianDateTimePicker({
            inLine: true,
            enableTimePicker: true
        });
        $('.grid').masonry({
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer',
            percentPosition: true,
            isRTL: true,
            isOriginLeft: false
        });

        function createOption(question, text) {
            $.ajax({
                url: "/Welfare/Survey/CreateOption",
                data: { question: question, text: text },
                type: 'GET',
                success: function(data) {
                    $('#createOption').html(data);
                    $('#modalOptionCreate').modal('show');
                },
                error: function(data) {
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function() {});
        }

        function responseOption(question, text) {
            $.ajax({
                url: "/Welfare/Survey/ResponseOption",
                data: { question: question, text: text },
                type: 'GET',
                success: function(data) {
                    $('#responseOption').html(data);
                    $('#modalOptionResponse').modal('show');
                },
                error: function(data) {
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function() {});
        }


        

        function addOption(e) {

            $.ajax({
                url: "/Welfare/Survey/CreateOption",
                data: {
                    question: $('#QuestionForOptionCreate').val(),
                    title: $('#TitleOption').val(),
                    text: 'پاسخ'
                },
                type: 'POST',
                success: function(data) {
                    //  toastr[data.Type](data.Msg);
                    toastr[data.Type](data.Msg);
                    if (data.Result === true)
                        loadQuestions();
                    $('#TitleOption').val('');

                    $('#modalOptionCreate').modal('hide');
                }
            });
        };
      
        function deleteOption(id) {
            $.ajax({
                url: "/Welfare/Survey/deleteOption",
                data: { id: id },
                type: 'GET',
                success: function(data) {
                    toastr[data.Type](data.Msg);
                    if (data.Result === true)
                        loadQuestions();
                    $('#modalOptionEdit').modal('hide');
                },
                error: function(data) {

                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function() {

            });
        }
        function editOption(id) {
            $.ajax({
                url: "/Welfare/Survey/EditOption",
                data: { id: id},
                type: 'GET',
                success: function(data) {
                    $('#editOption').html(data);
                    $('#modalOptionEdit').modal('show');
                },
                error: function(data) {

                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function() {

            });
        }
        function editOptionSave () {
            const status = $('#modalOptionEdit #Status').is(':checked') ? true : false;
            $.ajax({
                url: "/Welfare/Survey/EditOption/",
                data: {
                    title: $('#modalOptionEdit #TitleOption').val(),
                    status: status,
                    id: $('#modalOptionEdit #Id').val()
                },
                type: 'POST',
                success: function(data) {
                    toastr[data.Type](data.Msg);
                    if (data.Result === true)
                        loadQuestions();
                    $('#modalOptionEdit').modal('hide');
                }
            });
        }

        function loadQuestions() {
            $.ajax({
                url: "/Welfare/Survey/Questions/",
                data: { id: @Model.Id },
                type: 'GET',
                success: function(data) {
                    $('#questions').html(data);
                },
                error: function(data) {

                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then();
        }


            
         $('#addQuestion').on('click',
            function (e) {
                //e.preventDefault();
                const anatomical = $('#modalQuestionCreate #Anatomical').is(':checked') ? true : false;
                const necessary = $('#modalQuestionCreate #Necessary').is(':checked') ? true : false;

                $.ajax({
                    url: "/Welfare/Survey/CreateQuestion/",
                    data: {
                        title: $('#modalQuestionCreate #TitleQuestion').val(),
                        anatomical: anatomical,
                        necessary: necessary,
                        survey: @Model.Id
                    },
                    type: 'POST',
                    success: function(data) {
                        //  toastr[data.Type](data.Msg);
                        toastr[data.Type](data.Msg);
                        if (data.Result === true)
                            loadQuestions();
                        $('#TitleQuestion').val('');

                        $('#modalQuestionCreate').modal('hide');
                    }
                });
             });

       
        function deleteQuestion(id) {
            $.ajax({
                url: "/Welfare/Survey/DeleteQuestion",
                data: { id: id },
                type: 'GET',
                success: function(data) {
                    toastr[data.Type](data.Msg);
                    if (data.Result === true)
                        loadQuestions();
                    $('#modalQuestionEdit').modal('hide');

                },
                error: function(data) {

                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function() {

            });
        }
        function editQuestion(id) {
            $.ajax({
                url: "/Welfare/Survey/EditQuestion",
                data: { id: id},
                type: 'GET',
                success: function(data) {
                    $('#editQuestion').html(data);
                    $('#modalQuestionEdit').modal('show');
                },
                error: function(data) {

                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function() {

            });
        }
        function editQuestionSave () {
            // e.preventDefault();
            const anatomical = $('#modalQuestionEdit #Anatomical').is(':checked') ? true : false;
            const necessary = $('#modalQuestionEdit #Necessary').is(':checked') ? true : false;
            const status = $('#modalQuestionEdit #Status').is(':checked') ? true : false;

            $.ajax({
                url: "/Welfare/Survey/EditQuestion/",
                data: {
                    title: $('#modalQuestionEdit #TitleQuestion').val(),
                    anatomical: anatomical,
                    necessary: necessary,
                    status: status,
                    id: $('#modalQuestionEdit #Id').val()
                },
                type: 'POST',
                success: function(data) {
                    //  toastr[data.Type](data.Msg);
                    toastr[data.Type](data.Msg);
                    if (data.Result === true)
                        loadQuestions();
                    // $('#TitleQuestion').val('');

                    $('#modalQuestionEdit').modal('hide');
                }
            });
        }

        $(document).ready(function() {
            loadQuestions();
        });
    </script>
}