﻿@model Omidiyeh_Oil_Company___0147.Models.TblSurveyQuestion

<div class="modal fade rtl" id="modalQuestionEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center py-3 grey lighten-5">
                <h4 class="modal-title w-100 font-weight-bold">ویرایش پرسش</h4>
            </div>
            <div class="modal-body mx-3 ">
                <div class="col-12">
                    <div class="md-form md-outline  my-0 input-group mr-auto  mt-1">
                        <input type="text" class="form-control text-center  validate" data-val-required=" " id="TitleQuestion" name="TitleQuestion" value="@Model.Title" required autocomplete="off">
                        <label for="TitleQuestion">پرسش</label>
                        <div class="input-group-prepend cursor-pointer ">
                            <span class="input-group-text cursor-pointer" id="rdate"><i class="fas fa-question cursor-pointer"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="col-12">
                        <div class="switch text-right">
                            <label class="">
                                <input type="checkbox" value="True" @(Model.Anatomical? "checked" : "")  name="Anatomical" id="Anatomical">
                                <span class="lever"></span>
                                پاسخ تشریحی
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="col-12">
                        <div class="switch text-right">
                            <label class="">
                                <input type="checkbox" value="True"  @(Model.Necessary? "checked" : "")  name="Necessary" id="Necessary">
                                <span class="lever"></span>
                                پاسخ به این پرسش الزامی می باشد
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="col-12">
                        <div class="switch text-right">
                            <label class="">
                                <input type="checkbox" value="True"  @(Model.Status? "checked" : "")  name="Status" id="Status">
                                <span class="lever"></span>
                               فعال
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center grey lighten-5">
                <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                <button class="btn btn-link cta " type="button" value="true" onclick="editQuestionSave()">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ذخیره</span>
                </button>
                <button class="btn btn-link cta cta-silver" type="button" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times fa-lg"></i>
                    <span>انصراف</span>
                </button>
                <button class="btn btn-link cta cta-red " type="button" onclick="deleteQuestion(@Model.Id)">
                    <i class="fas fa-trash-alt fa-lg"></i>
                    <span>حذف </span>
                </button>
            </div>
            
        </div>
    </div>
</div>

