﻿@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblSurveyQuestion>

<div class="modal fade rtl " id="modalPoll" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header text-center py-3 grey lighten-5">
                <h4 class="modal-title w-100 font-weight-bold">نظرسنجی</h4>
            </div>
            <form name="addPoll" id="addPoll">
                <div class="modal-body mx-3 ">
                    <input type="hidden" value="@ViewBag.FoodReservationId" name="FoodReservationId" id="FoodReservationId" />
                    @foreach (var item in Model)
                    {
                        <div class="row rtl text-right  mb-4 pb-1 border-dotted-bottom">
                            <div class="col-12  ">
                                <!--Card-->

                                <div class="row">
                                    <div class="col"><h6 class="text-bold "><i class="fas fa-question-circle ml-3 blue-text fa-lg"></i><span class=" align-top lh1" style="">@item.Title</span></h6></div>
                                </div>
                                <div class="row mt-2 mr-5">
                                    <div class="col">
                                        @foreach (var option in item.TblSurveyQuestionOptions.Where(a => a.Status))
                                        {
                                            <!-- Material inline 1 -->
                                            <div class="form-check form-check-inline ml-5">
                                                <input type="radio" class="form-check-input" id="Options-@(item.Id)-@(option.Id)" name="Question-@(item.Id)" value="@option.Id">
                                                <label class="form-check-label blue-grey-text" for="Options-@(item.Id)-@(option.Id)">@option.Title</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="row my-0 mx-4">
                                    <div class="col">
                                        @if (item.Anatomical)
                                        {
                                            <div class="md-form md-outline mb-0 mt-1">
                                                <input type="text" name="Answer-@(item.Id)" id="Answer-@(item.Id)" class="form-control text-center"/>
                                                <label for="Answer-@(item.Id)" class="">توضیحات</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            </div>
                    }

                </div>
                <div class="modal-footer d-flex justify-content-center grey lighten-5 py-1">
                    <button class="btn btn-link cta " type="submit" id="addPollSubmit" name="addPollSubmit" value="true" onclick="PollSave()">
                        <i class="fas fa-save fa-lg"></i>
                        <span>ثبت نظر</span>
                    </button>
                    <button class="btn btn-link cta cta-silver" type="button" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-save fa-lg"></i>
                        <span>انصراف</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

