﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblSurveyQuestion>
@{
    ViewBag.Title = "نظرسنجی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    .mds-bootstrap-persian-datetime-picker-container {
        z-index: 1000;
    }
</style>
<div class="container px-0">
    <form name="addPoll" id="addPoll" class="needs-validation" novalidate="novalidate">
        <input type="hidden" value="" name="FoodReservationId" id="FoodReservationId" />

        <!-- Container -->
        <div class="row">

            <!-- Column -->
            <div class="col-md-8 mb-4 d-flex align-items-stretch">
                <!--Card-->
                <div class="card col-12">
                    <!--Card content-->
                    <div class="card-body text-right rtl">

                        <div class="col-12 px-4 mb-4">
                            <div class="md-form md-outline my-2 input-group">
                                <input type="text" class="form-control text-center readonly" aria-label="sDate" aria-describedby="sDate"
                                       data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                                <label for="StartDateFa">تاریخ </label>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                                </div>
                                <input type="hidden" name="StartDate" id="StartDate"/>
                            </div>
                        </div>
                        <div class="col-12 px-4 mb-4">
                            <div class="mb-2">
                                <select name="Restaurants" id="Restaurants" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                                <label for="Restaurants" class="m-active">رستوران</label>
                            </div>
                        </div>
                        <div class="col-12 px-4 mb-4">
                            <div class=" mb-2">
                                <select name="Meals" id="Meals" class="mdb-select required md-form md-outline mt-0 mb-0 text-right  " data-stop-refresh="true"></select>
                                <label for="Meals" class="m-active">وعده</label>
                            </div>
                        </div>
                        <div class="col-12 px-4 mb-4">
                            <div class=" mb-2">
                                <select name="Food" id="Food" class="mdb-select required md-form md-outline mt-0 mb-0 text-right " data-stop-refresh="true"></select>
                                <label for="Food" class="m-active">عذا</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <!--Card-->
                <div class="card testimonial-card col-12 px-0">
                    <!-- Background color -->
                    <div class="card-up aqua-gradient"></div>
                    <!-- Avatar -->
                    <div class="avatar mx-auto white">
                        <img src="~/Images/survey.jpg" class="rounded-circle img-responsive" alt="avatar">
                    </div>
                    <!-- Content -->
                    <div class="card-body">
                        <!-- Name -->
                        <h4 class="card-title font-weight-bold">نظرسنجی</h4>
                        <hr>
                        
                    </div>
                </div>
                <!--Card-->
            </div>
            <!-- Column -->
        </div>

        <div class="row">
            <!-- Column -->
            <div class="col-md-12 mb-4 d-flex align-items-stretch">
                <div class="card col-12">
                    <div class="card-body">

                        <div class=" mx-3 ">

                            @foreach (var item in Model)
                            {
                                <div class="row rtl text-right  mb-4 pb-3 border-dotted-bottom">
                                    <div class="col-12  ">
                                        <!--Card-->

                                        <div class="row">
                                            <div class="col"><h6 class="text-bold "><i class="fas fa-question-circle ml-3 blue-text fa-lg"></i><span class=" align-top lh1" style="">@item.Title</span></h6></div>
                                        </div>
                                        <div class="row mt-2 mr-5">
                                            <div class="col">
                                                @foreach (var option in item.TblSurveyQuestionOptions.Where(a => a.Status))
                                                {
                                                    <!-- Material inline 1 -->
                                                    <div class="form-check form-check-inline ml-5">
                                                        <input type="radio" class="form-check-input" id="Options-@(item.Id)-@(option.Id)" name="Question-@(item.Id)" value="@option.Id">
                                                        <label class="form-check-label blue-grey-text" for="Options-@(item.Id)-@(option.Id)">@option.Title</label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="row mt-2 mb-0 mx-4">
                                            <div class="col">
                                                @if (item.Anatomical)
                                                {
                                                    <div class="md-form md-outline mb-0 mt-1">
                                                        <input type="text" name="Answer-@(item.Id)" id="Answer-@(item.Id)" class="form-control text-center"/>
                                                        <label for="Answer-@(item.Id)" class="">توضیحات</label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        <div class="modal-footer d-flex justify-content-center grey lighten-5 py-1 rtl">
                            <button class="btn btn-link cta " type="button" id="addPollSubmit" name="addPollSubmit" value="true" >
                                <i class="fas fa-save fa-lg"></i>
                                <span>ثبت نظر</span>
                            </button>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

@section scripts{
    <script>
        $('[data-toggle="popover"]').popover({
            trigger: 'hover',
            container: 'body',
        });
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',

            //fromDate: true,
            selectedDate: today,
            groupId: "Start-End-Date"
        });
        $('.grid').masonry({
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer',
            percentPosition: true,
            isRTL: true,
            isOriginLeft: false
        });


        function PollSave(e) {
            if ($("form").valid() === true && validateSelect(e)) {
               // alert(1);
                 e.preventDefault();
                var myForm = document.getElementById("addPoll");
                var fd = new FormData(myForm);
                $.ajax({
                    url: "/Welfare/Survey/PollSave/",
                    data: fd,
                    cache: false,
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    //  dataType :'json',
                    success: function(data) {
                        console.log(data);
                        toastr.options = toastr_options;
                        toastr[data.Type](data.Msg);
                        //if (data.Result === true)
                        //    setTimeout(function () {
                        //        window.location.href = "/Welfare/FoodReservation/Personal";
                        //    },
                        //        3000);
                    },
                    error: function(data) {
                        console.log(data);

                    },
                    //complete: function(data) {
                    //    console.log("SEMPRE FUNFA!"); 
                    //},
                    fail: function(xhr, textStatus, errorThrown) {
                        alert('request failed');
                    }
                });
            };

        }

        $(document).ready(function() {
            Restaurants('#Restaurants');
            Meals('#Meals');
            $("#Restaurants, #Meals, #StartDate").change(function() {
                //Restaurant,Meal,Date,SelectInput
                listFood($('#Restaurants').val(), $('#Meals').val(), $('#StartDate').val(), '#Food');
            });
            $('#addPollSubmit').on('click', function (e) {
                PollSave(e);
            });
        });
    </script>
}



