﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblSurveyQuestion>


@foreach (var item in Model)
{
    <div class="col-12 mb-4 d-flex align-items-stretch">
        <!--Card-->
        <div class="card col-12 px-0">
            <!-- Content -->
            <div class="card-body px-4 text-right rtl @(item.Status? "":"rgba-yellow-slight" ) ">
                <div class="row">
                    <div class="col"><h6 class="text-bold "><i class="fas fa-question-circle ml-3 red-text fa-2x"></i><span class="border-bottom align-top lh2" style="border-color:#ff0000 !important">@item.Title</span></h6></div>
                    <div class="col-2 text-left">
                        <i class="fas fa-chart-line fa-2x purple-text ml-3" data-toggle="popover" data-placement="top" data-content=" آمار پاسخ"
                           onclick="responseOption(@item.Id,'@item.Title')"></i> 
                        <i class="fas fa-plus-square fa-2x blue-text ml-3" data-toggle="popover" data-placement="top" data-content="ایجاد پاسخ"
                           onclick="createOption(@item.Id,'@item.Title')"></i> 
                        <i class="fas fa-pen-square fa-2x text-success" data-toggle="popover" data-placement="top" data-content="ویرایش"
                           onclick="editQuestion(@item.Id)"></i>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        @foreach (var option in item.TblSurveyQuestionOptions)
                        {
                            <span class="mr-5" ondblclick="editOption(@option.Id)"><i class="far fa-check-circle ml-2 green-text " ></i>@option.Title</span>
                        }
                    </div>
                    <div class="col-6 text-left">
                        <span class="ml-4">پاسخ تشریحی: <span class="blue-text">@(item.Anatomical ? "بله" : "خیر")</span></span>
                        <span  class="ml-4">پاسخ الزامی: <span class="blue-text">@(item.Necessary ? "بله" : "خیر")</span></span>
                        <span>فعال: <span class="blue-text">@(item.Status ? "بله" : "خیر")</span></span>
                    </div>
                </div>
            </div>
        </div>
        <!--Card-->
    </div>
}
