﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblSurveyResponse>


<div class="modal fade rtl" id="modalOptionResponse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center py-3 grey lighten-5">
                <h6 class="modal-title w-100 font-weight-bold">مشاهده آماری پاسخ @ViewBag.QuestionText</h6>

            </div>
            <div class="modal-body mx-3 ">
                <ul class="list-group">
                    @foreach (var item in Model.GroupBy(a=>a.Option))
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                           @item.First().TblSurveyQuestionOption.Title
                            <span class="badge bg-primary rounded-pill">@item.Count()</span>
                        </li>
                    }
                   
                </ul>

            </div>


            <div class="modal-footer d-flex justify-content-center grey lighten-5">

            </div>
        </div>
    </div>
</div>
