﻿
@{
    ViewBag.Title = "نتایج نظرسنجی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_Survey")
    <!--Header-->
    <div class="card-body">

        <!--Accordion wrapper-->
        <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#advancedSearch" aria-expanded="true"
                       aria-controls="advancedSearch">
                        <h5 class="">
                            <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">

                    <div class="card-body pt-0">

                        <div class="row">

                            <div class="col-lg-3 col-xl-2">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center advancedSearch" aria-label="sTime" aria-describedby="sTime"
                                           data-val="true" data-val-required=" " id="StartTimeFa" name="StartDateFa" value="">
                                    <label for="StartTimeFa">تاریخ شروع نظر</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="sTime"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="StartTime" class="advancedSearch" id="StartTime" />
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center advancedSearch" aria-label="eTime" aria-describedby="eTime"
                                           data-val="true" data-val-required=" " id="EndTimeFa" name="EndTimeFa" value="">
                                    <label for="EndTimeFa">تاریخ پایان نظر</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="eTime"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="EndTime" class="advancedSearch" id="EndTime" />
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center advancedSearch" aria-label="sDate" aria-describedby="sDate"
                                           data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                                    <label for="StartDateFa">تاریخ شروع غذا</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="StartDate" class="advancedSearch" id="StartDate" />
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center advancedSearch" aria-label="eDate" aria-describedby="eDate"
                                           data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                                    <label for="EndDateFa">تاریخ پایان غذا</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="EndDate" class="advancedSearch" id="EndDate" />
                                </div>
                            </div></div>
                        <div class="row">
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Restaurant" id="Restaurant" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all" data-stop-refresh="true" multiple></select>
                                    <label for="Restaurant" class="m-active">رستوران</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Meal" id="Meal" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all" data-stop-refresh="true" multiple></select>
                                    <label for="Meal" class="m-active">وعده</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Food" id="Food" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all" data-stop-refresh="true" multiple></select>
                                    <label for="Food" class="m-active">غذا</label>
                                </div>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-lg-6 col-xl-4 ">
                                    <div class="md-form md-outline form-sm my-1">
                                        <select name="Survey" id="Survey" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all" data-stop-refresh="true" multiple></select>
                                        <label for="Survey" class="m-active">نظرسنجی</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-4 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Question" id="Question" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all" data-stop-refresh="true" multiple></select>
                                    <label for="Question" class="m-active">پرسش</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- Accordion card -->


        </div>
        <!-- Accordion wrapper -->


        <table id="DataList" class="table py-0 table-hover font-size-0-75 text-bold table-bordered lh1" style="width: 100%;">
            <thead>
                <tr class="black-text cloudy-knoxville-gradient no-border">
                   
                   
                    <th class=" no-border-x ">
                        تاریخ
                    </th>
                    <th class=" no-border-x ">
                        سوال
                    </th>
                    <th class=" no-border-x ">
                        پاسخ
                    </th> 
                    <th class=" no-border-x ">
                        توضیحات
                    </th>
                    <th class=" no-border-x  ">
                        رستوران
                    </th> 
                    <th class=" no-border-x  ">
                        روز
                    </th> 
                    <th class=" no-border-x  ">
                        وعده
                    </th> 
                    <th class=" no-border-x  ">
                        غذا
                    </th>
                    <th class=" no-border-x  ">کاربر</th>

                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        var rowNumber = 1;
        var userGroup = 1;
        var userConfirm = '@ViewBag.UserConfirm';
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            //disableBeforeToday: true,
            //fromDate: true,
            selectedDate: lastMonth,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            toDate: true,
            selectedDate: tomorrow,
            groupId: "Start-End-Date"
        });
        $('#sTime').MdPersianDateTimePicker({
            targetTextSelector: '#StartTimeFa',
            targetDateSelector: '#StartTime',
            textFormat: 'yyyy/MM/dd',
            //disableBeforeToday: true,
            //fromDate: true,
            selectedDate: lastMonth,
            groupId: "Start-End-Time"
        });
        $('#eTime').MdPersianDateTimePicker({
            targetTextSelector: '#EndTimeFa',
            targetDateSelector: '#EndTime',
            textFormat: 'yyyy/MM/dd',
            toDate: true,
            selectedDate: tomorrow,
            groupId: "Start-End-Time"
        });
        $(document).ready(function() {
            $('#Tab-Responses').addClass('active show');
            $('#searchBDate').MdPersianDateTimePicker({
                targetTextSelector: '#searchDateFa',
                targetDateSelector: '#searchDate',
                textFormat: 'yy/MM/dd',
                disableBeforeToday: false,
                rangeSelector: true
            });
            const p = new Promise(function(resolve, reject) {
                //$('#advancedSearch').block({ message: null });
                Meals('#Meal', true);
                Food('#Food');
                Restaurants('#Restaurant');

                Surveys('#Survey');
                $('#Survey').on('change',
                    function () {
                        Questions('#Question', $(this).val());
                    });

                
                resolve();
            });
            p.then(function() {
                //$('#advancedSearch').unblock();

                var groupColumn = 0;
                var t = $('#DataList').DataTable({
                    //stateSave": true,
                    //"processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "/Welfare/Survey/ResponseList",
                        "type": "POST",
                        "dataType": "json",
                        "data": function(d) {

                            d.StartDate = $('#StartDate').val();
                            d.EndDate = $('#EndDate').val();
                            d.StartTime = $('#StartTime').val();
                            d.EndTime = $('#EndTime').val();
                            d.Restaurant = $('#Restaurant').val();
                            d.Survey = $('#Survey').val();
                            d.Question = $('#Question').val();

                            d.Food = $('#Food').val();
                            d.Meal = $('#Meal').val();

                        }
                    },

                    "dom": 'Brt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',

                    "searching": false,

                    buttons: [
                        'excelHtml5'
                    ],
                    "columns": [


                        { "data": "TimeFa", "name": "Time", "class": "fit" }, //2
                        { "data": "QuestionTitle", "name": "Question", "class": "fit" }, //3
                        { "data": "OptionTitle", "name": "Option", "class": "fit text-nowrap" }, //4
                        { "data": "Answer", "name": "Answer"}, //4
                        { "data": "RestaurantTitle", "name": "Restaurant", "class": "fit text-nowrap" }, //5
                        { "data": "DateFa", "name": "Date", "class": "fit text-nowrap" }, //5
                        { "data": "MealTitle", "name": "Meal", "class": "fit text-nowrap" }, //5

                        { "data": "FoodTitle", "name": "Food", "class": "fit text-nowrap" }, //7
                        { "data": "Person", "name": "User", "class": "fit text-nowrap" }, //7
                        //{ "data": "TimeReg", "name": "TimeReg" }, //8
                        //{ "data": "User", "name": "User" }, //9
                        //{ "data": "AccountNumber", "name": "AccountNumber" }, //10
                        //{ "data": "Office", "name": "Office" }, //11
                        //{ "data": "OfficeDepartment", "name": "OfficeDepartment" }, //12
                        //{ "data": "Restaurant", "name": "Restaurant" }, //13
                        //{ "data": "Count", "name": "Count" }, //14
                        //{ "data": "Type", "name": "Type" }, //15
                        //{ "data": "CountFood", "name": "CountFood" }, //16
                        //{ "data": "CountMeal", "name": "CountMeal" }, //17
                        //{ "data": "Des", "name": "Des" }, //18
                    ],
                    "order": [[0, "desc"] /*, [2, "desc"], [5, "asc"]*/],
                    "language": {
                        "url": "/Content/js/addons/datatables.persian.json"
                    },
                    "columnDefs": [
                        //{ "visible": false, "targets": [0, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18] },
                        //{
                        //    "orderable": false,
                        //    "targets": [1, 5]
                        //}
                    ],
                    "displayLength": 1000,
                    "lengthMenu": [1000, 5000, 10000, 20000],

                }).on('processing.dt',
                    function(e, settings, processing) {
                        $('#processingIndicator').css('display', 'none');

                    });


                $('#DataList tbody').on('click',
                    '.confirm',
                    function() {
                        //  console.log(1);
                        const g = this.attributes['data-group'].value;
                        $.ajax({
                            url: "/Welfare/FoodReservation/Confirm",
                            data: { group: g },
                            type: 'GET',
                            success: function(data) {
                                if (data.Result === true)
                                    $(".confirm" + g).addClass("d-none");
                                toastr[data.Type](data.Msg);

                            },
                            error: function(data) {
                                toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است (23)');
                            }
                        });
                    });

                $('#DataList tbody').on('click',
                    '.dtrg-start .group i.fa-plus-square',
                    function() {
                        //  console.log(1);
                        const g = this.attributes['data-group'].value;
                        if ($('.group' + g).hasClass('d-none')) {
                            $('.group' + g).removeClass('d-none');

                        } else {
                            $('.group' + g).addClass('d-none');
                        }
                    });


                //#region Advanced Search


                $('.advancedSearch').on('keypress',
                    function(e) {
                        /* ENTER Tab Space PRESSED*/
                        if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                            t.draw();
                        }
                    });
                $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                    function(e) {
                        t.draw();
                    });

                //#endregion


            });


        });
    </script>
}


