﻿
@{
    ViewBag.Title = "گزارش تسویه حساب پیمان رستوران";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var d = new PersianDateTime(DateTime.Now);
    var m = d.Month - 1;
    var y = d.Year;
}


@using MD.PersianDateTime
@using Omidiyeh_Oil_Company___0147.Models
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblFoodReservation>

<style type="text/css">
    @@page {
        size: A4 landscape;
        direction: rtl;
        margin: 11mm 17mm 17mm 17mm;
        mso-footer: footer;
    }
    table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
        bottom: .6em;
        font-size: .75rem;
    }
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:after {
        right: 12px;
        
    }
    tfoot {display: table-footer-group !important;}
    thead   {display: table-header-group !important;   }
    /*@@media screen {
    div.divFooter {
        display: none;
    }
    }*/
    @@media print {
        tfoot {display: table-footer-group !important;}
        thead   {display: table-header-group !important;    }
    div.divFooter {
        position: fixed;
        bottom: 0;
    }
    }

</style>


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_FoodReservation_Reports")
    <!--Header-->
    <div class="card-body">

        <div class="row">
            <div class="col-sm-3 mt-3">
                <select class="mdb-select md-form md-outline text-right my-0 py-0 disable-toggle-all" id="month" name="month">
                    <option value="" disabled>انتخاب نمایید...</option>
                    <option @if (m == 1) { <text> selected</text>} value="1">فروردین</option>
                    <option @if (m == 2) { <text> selected</text>} value="2">اردیبهشت</option>
                    <option @if (m == 3) { <text> selected</text>} value="3">خرداد</option>
                    <option @if (m == 4) { <text> selected</text>} value="4">تیر</option>
                    <option @if (m == 5) { <text> selected</text>} value="5">مرداد</option>
                    <option @if (m == 6) { <text> selected</text>} value="6">شهریور</option>
                    <option @if (m == 7) { <text> selected</text>} value="7">مهر</option>
                    <option @if (m == 8) { <text> selected</text>} value="8">آبان</option>
                    <option @if (m == 9) { <text> selected</text>} value="9">آذر</option>
                    <option @if (m == 10) { <text> selected</text>} value="10">دی</option>
                    <option @if (m == 11) { <text> selected</text>} value="11">بهمن</option>
                    <option @if (m == 12) { <text> selected</text>} value="12">اسفند</option>
                </select>
            </div>
            <div class="col-sm-3  mt-3">
                <select class="mdb-select md-form md-outline text-right my-0 py-0 disable-toggle-all" id="year" name="year">
                    <option value="" disabled>انتخاب نمایید...</option>
                    <option @if (y == 1398) { <text> selected</text>} value="1398">1398</option>
                    <option @if (y == 1399) { <text> selected</text>} value="1399">1399</option>
                    <option @if (y == 1400) { <text> selected</text>} value="1400">1400</option>
                </select>
            </div>
            <div class="col-sm-3">
                <div>
                    @Html.DropDownList("Contract", null, htmlAttributes: new { @class = "mdb-select required do-select md-form md-outline mt-3", searchable = "جستجو ..." })
                    <label for="Contract" class="m-active">پیمان</label>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="md-form md-outline  mt-3">
                    <select name="Restaurant" id="Restaurant" class="mdb-select required md-form md-outline mt-3  text-right disable-toggle-all" data-stop-refresh="true" multiple></select>
                    <label for="Restaurant" class="m-active">رستوران</label>
                </div>
            </div>

        </div>
        <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
            <button class="btn btn-link cta  mr-auto" type="button" id="search">
                <i class="fas fa-search fa-lg"></i>
                <span>مشاهده گزارش</span>
            </button>
        </div>

        <table id="DataList" class="table py-0 table-hover font-size-0-75 text-bold table-bordered lh1" style="width: 100%;">
            <thead>
            <tr class="black-text cloudy-knoxville-gradient no-border">
                <th class="my-0 py-2">ردیف</th>
                <th class="my-0 py-2">اداره متقاضی</th>
                <th class="my-0 py-2">شماره حساب</th>
                @foreach (var meal in (List<TblMeal>)ViewBag.Meals)
                {
                    <th class="my-0 py-2">@meal.Title</th>
                }
                <th class="my-0 py-2">جمع کل</th>

            </tr>
            </thead>
            <tfoot><tr><th colspan="8">yasdahn</th></tr></tfoot>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function() {
            $('#Tab-ContractRestaurant').addClass('active show');

            $('#Contract').on('change',
                function(e) {
                    RestaurantsContract('#Restaurant', $(this).val());
                });
            var t = $('#DataList').DataTable({
                "serverSide": true,
                "ajax": {
                    "url": "/Welfare/Report/ContractRestaurantList",
                    "type": "POST",
                    "dataType": "json"
                },

                "dom": 'Brt',

                "searching": false,
                "buttons": [
                    {
                        extend: 'print',
                        text: 'Print current page',
                        title: '<div>&nbsp;</div>',
                        autoPrint: false,
                        footer:true,
                        messageBottom: '<div class=" row text-center"><div class="col-6">تهیه کننده:</div><div class="col-6">تایید کننده:</div></div>',
                        customize: function ( win ) {
                            $(win.document.body)
                                .css('font-size', '10pt')
                                .css('text-align', 'right')
                                .css('direction', 'rtl')
                                .css('width', '297mm')
                                .css('height', '210mm')
                                ;
 
                            $(win.document.body).find( 'table' )
                                .addClass( 'compact' )
                                .css('font-size', 'inherit');

                            $(win.document.body).find( 'table tr th' )
                                .addClass( 'py-2 my-0' );
                        }
                    }
                ],
                "columns": [
                    { "data": "row","name":"row"},
                    {
                        "data": "Office",
                        "name": "TblFoodReservationGroup.TblOfficeDepartmentAccountNumber.TblOfficeDepartment.Title"
                    },
                    { "data": "AccountNumber", "name": "AccountNumber" },

                    @foreach (var meal in (List <TblMeal>) ViewBag.Meals)
                        {
                            <text>
                    { "data": "@meal.Id", "name": "@meal.Id","render": function (data, type, row, meta) {
                        return `${row.Meal.find(({ Meal }) => Meal === @meal.Id) === undefined ? 0 : row.Meal.find(({ Meal }) => Meal === @meal.Id)['Price']} `;
                    }
                    },</text>
                        }

                    { "data": "Sum", "name": "Sum" }

                ],
                "order": [[1, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                "displayLength": 250000

            });
            ////شماره گذاری سطر های جدول
            //t.on('draw.dt',
            //    function () {
            //        var pageInfo = t.page.info();
            //        t.column(0, { page: 'current' }).nodes().each(function (cell, i) {
            //            cell.innerHTML = i + 1 + pageInfo.start;
            //        });
            //    });
        });
    </script>
}

