﻿
@{
    ViewBag.Title = "گزارش صورت وضعیت پیمان رستوران";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var d = new PersianDateTime(DateTime.Now);
    var m = d.Month - 1;
    var y = d.Year;
}


@using MD.PersianDateTime
@using Omidiyeh_Oil_Company___0147.Models
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblFoodReservation>




<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_FoodReservation_Reports")
    <!--Header-->
    <div class="card-body">
        <form id="report" class="needs-validation" novalidate="novalidate">
            <div class="row">
                <div class="col-sm-3 mt-3">
                    <select class="mdb-select md-form md-outline text-right mt-2 disable-toggle-all" id="month" name="month">
                        <option value="" disabled>انتخاب نمایید...</option>
                        <option @if (m == 1) { <text> selected</text>} value="1">فروردین</option>
                        <option @if (m == 2) { <text> selected</text>} value="2">اردیبهشت</option>
                        <option @if (m == 3) { <text> selected</text>} value="3">خرداد</option>
                        <option @if (m == 4) { <text> selected</text>} value="4">تیر</option>
                        <option @if (m == 5) { <text> selected</text>} value="5">مرداد</option>
                        <option @if (m == 6) { <text> selected</text>} value="6">شهریور</option>
                        <option @if (m == 7) { <text> selected</text>} value="7">مهر</option>
                        <option @if (m == 8) { <text> selected</text>} value="8">آبان</option>
                        <option @if (m == 9) { <text> selected</text>} value="9">آذر</option>
                        <option @if (m == 10) { <text> selected</text>} value="10">دی</option>
                        <option @if (m == 11) { <text> selected</text>} value="11">بهمن</option>
                        <option @if (m == 12) { <text> selected</text>} value="12">اسفند</option>
                    </select>
                </div>
                <div class="col-sm-3  mt-3">
                    <select class="mdb-select md-form md-outline text-right mt-2 disable-toggle-all" id="year" name="year">
                        <option value="" disabled>انتخاب نمایید...</option>
                        @*<option @if (y == 1398) { <text> selected</text>} value="1398">1398</option>*@
                        <option @if (y == 1399) { <text> selected</text>} value="1399">1399</option>
                        <option @if (y == 1400) { <text> selected</text>} value="1400">1400</option>
                    </select>
                </div>
                <div class="col-sm-3 mt-0 ">
                    <div class="md-form md-outline input-group">
                        <input type="text" class="form-control text-center " aria-label="sDate" aria-describedby="sDate"
                               data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                        <label for="StartDateFa">تاریخ شروع</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input type="hidden" name="StartDate" id="StartDate"  />
                        
                    </div>
                </div>
                <div class="col-sm-3 mt-0">
                    <div class="md-form md-outline input-group">
                        <input type="text" class="form-control text-center " aria-label="eDate" aria-describedby="eDate"
                               data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                        <label for="EndDateFa">تاریخ پایان</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input type="hidden" name="EndDate" id="EndDate"  />
                    </div>
                </div>


            </div>
            <div class="row">



                <div class="col-sm-3">
                    <div class="md-form md-outline  mt-3">
                        <select name="Contract" id="Contract" class="mdb-select required md-form md-outline mt-3  text-right" data-stop-refresh="true"
                                searchable="جستجو ..."></select>
                        <label for="Contract" class="m-active">پیمان</label>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="md-form md-outline  mt-3">
                        <select name="Restaurant" id="Restaurant" class="mdb-select required md-form md-outline mt-3  text-right" data-stop-refresh="true"
                                data-label-select-all="همه" data-label-options-selected="انتخاب شده" multiple></select>
                        <label for="Restaurant" class="m-active">رستوران</label>
                    </div>
                </div>


            </div>
        <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
            <button class="btn btn-link cta  mr-auto" type="button" id="search">
                <i class="fas fa-search fa-lg"></i>
                <span>مشاهده گزارش</span>
            </button>
        </div>
            </form>
        
    </div>
</div>

<div class="card mt-3 mb-5 py-0" id="upd">
    
   
</div>
@section Scripts{
    <script>
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            //disableBeforeToday: true,
            //fromDate: true,
            selectedDate: tomorrow,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            //disableBeforeToday: true,
            toDate: true,
            selectedDate: tomorrow,
            groupId: "Start-End-Date"
        });
        $(document).ready(function() {
            $('#Tab-Report6').addClass('active show');
            Contracts('Contract');
            $('#Contract').on('change',
                function(e) {
                    RestaurantsContract('#Restaurant', $(this).val());
                });
            $('#search').on('click',
                function (e) {
                    e.preventDefault();
                    const form = document.getElementById("report");
                    const fd = new FormData(form);
                    $.ajax({
                        url: "/Welfare/Report/Report6Items",
                        data: fd,
                        cache: false,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        dataType :'html',
                        success: function (data) {
                            // console.log(data);
                            $("#upd").html(data);
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                });
        });
    </script>
}

