﻿
@{
    ViewBag.Title = "گزارش تعداد غذای استفاده شده پیمان";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var d = new PersianDateTime(DateTime.Now);
    var m = d.Month - 1;
    var y = d.Year;
}


@using MD.PersianDateTime
@using Omidiyeh_Oil_Company___0147.Models
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblFoodReservation>




<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_FoodReservation_Reports")
    <!--Header-->
    <div class="card-body">
        <form id="report" class="needs-validation" novalidate="novalidate">
            <div class="row">

                <div class="col-sm-3 mt-0 ">
                    <div class="md-form md-outline input-group">
                        <input type="text" class="form-control text-center" aria-label="sDate" aria-describedby="sDate"
                               data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                        <label for="StartDateFa">تاریخ شروع</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input type="hidden" name="StartDate" id="StartDate" />

                    </div>
                </div>
                <div class="col-sm-3 mt-0">
                    <div class="md-form md-outline input-group">
                        <input type="text" class="form-control text-center" aria-label="eDate" aria-describedby="eDate"
                               data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                        <label for="EndDateFa">تاریخ پایان</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input type="hidden" name="EndDate" id="EndDate" />
                    </div>
                </div>

                @*<div class="col-sm-3 mt-2">
                    <div>
                        @Html.DropDownList("Office", null,"", htmlAttributes: new { @class = "mdb-select required do-select md-form md-outline mt-3", searchable = "جستجو ..." })
                        <label for="Office" class="m-active">اداره معرف</label>
                    </div>
                </div>*@
                <div class="col-sm-3  mt-2">
                    <div class="select-outline">
                        <select name="Office" id="Office" class="mdb-select not-required md-form md-outline mt-3 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="Office" class="m-active">اداره معرف</label>
                    </div>
                </div>
                <div class="col-sm-3 mt-2">
                    <div>
                        @Html.DropDownList("OfficeFor", null, "", htmlAttributes: new { @class = "mdb-select required do-select md-form md-outline mt-3", searchable = "جستجو ..." })
                        <label for="OfficeFor" class="m-active">ارگان دولتی</label>
                    </div>
                </div>



            </div>
            <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
                <button class="btn btn-link cta  mr-auto" type="button" id="search">
                    <i class="fas fa-search fa-lg"></i>
                    <span>مشاهده گزارش</span>
                </button>
            </div>
        </form>

    </div>
</div>

<div class="card mt-3 mb-5 py-0" id="upd">


</div>
@section Scripts{
    <script>
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            //disableBeforeToday: true,
            //fromDate: true,
            selectedDate: tomorrow,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            //disableBeforeToday: true,
            toDate: true,
            selectedDate: tomorrow,
            groupId: "Start-End-Date"
        });

        $(document).ready(function() {
            $('#Tab-Report7').addClass('active show');
            UserAccess('Office', -3, 'Office', false, true, -100, true);
           
            $('#search').on('click',
                function (e) {
                    e.preventDefault();
                    const form = document.getElementById("report");
                    const fd = new FormData(form);
                    $.ajax({
                        url: "/Welfare/Report/Report7Items",
                        data: fd,
                        cache: false,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        dataType :'html',
                        success: function (data) {
                            // console.log(data);
                            $("#upd").html(data);
                        },
                        error: function (err) {
                          //  console.log(err);
                        }
                    });
                });
        });
    </script>
}

