﻿
@{
    ViewBag.Title = "گزارش تسویه حساب پیمان رستوران";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var d = new PersianDateTime(DateTime.Now);
    var m = d.Month - 1;
    var y = d.Year;
}


@using MD.PersianDateTime
@using Omidiyeh_Oil_Company___0147.Models
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblFoodReservation>




<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_FoodReservation_Reports")
    <!--Header-->
    <div class="card-body">
        <form id="report" class="needs-validation" novalidate="novalidate">
        <div class="row">
            <div class="col-sm-3 mt-3">
                <select class="mdb-select md-form md-outline text-right my-0 py-0 disable-toggle-all" id="month" name="month">
                    <option value="" disabled>انتخاب نمایید...</option>
                    <option @if (m == 1) { <text> selected</text>} value="1">فروردین</option>
                    <option @if (m == 2) { <text> selected</text>} value="2">اردیبهشت</option>
                    <option @if (m == 3) { <text> selected</text>} value="3">خرداد</option>
                    <option @if (m == 4) { <text> selected</text>} value="4">تیر</option>
                    <option @if (m == 5) { <text> selected</text>} value="5">مرداد</option>
                    <option @if (m == 6) { <text> selected</text>} value="6">شهریور</option>
                    <option @if (m == 7) { <text> selected</text>} value="7">مهر</option>
                    <option @if (m == 8) { <text> selected</text>} value="8">آبان</option>
                    <option @if (m == 9) { <text> selected</text>} value="9">آذر</option>
                    <option @if (m == 10) { <text> selected</text>} value="10">دی</option>
                    <option @if (m == 11) { <text> selected</text>} value="11">بهمن</option>
                    <option @if (m == 12) { <text> selected</text>} value="12">اسفند</option>
                </select>
            </div>
            <div class="col-sm-3  mt-3">
                <select class="mdb-select md-form md-outline text-right my-0 py-0 disable-toggle-all" id="year" name="year">
                    <option value="" disabled>انتخاب نمایید...</option>
                    @*<option @if (y == 1398) { <text> selected</text>} value="1398">1398</option>*@
                    <option @if (y == 1399) { <text> selected</text>} value="1399">1399</option>
                    <option @if (y == 1400) { <text> selected</text>} value="1400">1400</option>
                </select>
            </div>
            <div class="col-sm-3">
                <div>
                    @Html.DropDownList("Contract", null, htmlAttributes: new { @class = "mdb-select required do-select md-form md-outline mt-3", searchable = "جستجو ..." })
                    <label for="Contract" class="m-active">پیمان</label>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="md-form md-outline  mt-3">
                    <select name="Restaurant" id="Restaurant" class="mdb-select required md-form md-outline mt-3  text-right disable-toggle-all" data-stop-refresh="true"></select>
                    <label for="Restaurant" class="m-active">رستوران</label>
                </div>
            </div>

        </div>
        <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
            <button class="btn btn-link cta mr-auto cta-red " type="button" id="Checkout">
                <i class="fas fa-search fa-lg"></i>
                <span>ثبت تسویه حساب</span>
            </button>
            <button class="btn btn-link cta  " type="button" id="search">
                <i class="fas fa-search fa-lg"></i>
                <span>مشاهده گزارش</span>
            </button>
        </div>
            </form>
        
    </div>
</div>

<div class="card mt-3 mb-5 py-0" id="upd">
    
   
</div>
@section Scripts{
    <script>
        $(document).ready(function() {
            $('#Tab-Report2').addClass('active show');

            $('#Contract').on('change',
                function(e) {
                    RestaurantsContract('#Restaurant', $(this).val());
                });
            $('#search').on('click',
                function (e) {
                    e.preventDefault();
                    const form = document.getElementById("report");
                    const fd = new FormData(form);
                    $.ajax({
                        url: "/Welfare/Report/Report2Items",
                        data: fd,
                        cache: false,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        dataType :'html',
                        success: function (data) {
                           // console.log(data);
                            $("#upd").html(data);
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                });

            $('#Checkout').on('click',
                function (e) {
                    e.preventDefault();
                    const form = document.getElementById("report");
                    const fd = new FormData(form);
                    $.ajax({
                        url: "/Welfare/Report/Report2Checkout",
                        data: fd,
                        cache: false,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        //dataType :'html',
                        success: function (data) {
                            console.log(data);
                            toastr[data.Type](data.Msg);
                           
                        },
                        error: function (err) {
                            toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است (33)');
                        }
                    });
                });
        });
    </script>
}

