﻿@model Omidiyeh_Oil_Company___0147.Models.TblBillOfLading

@{
    ViewBag.Title = "ایجاد بارنامه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="card rtl text-right">
        <!--Header-->
        @Html.Partial("Tabs_Store_2")
        <!--Header-->
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()

            <div class="card-body">
                <ul class="stepper linear pt-0" id="custom-validation">
                    <li class="step active">
                        <div data-step-label="" class="step-title waves-effect waves-dark">  انبار مبدا</div>
                        <div class="step-new-content">
                            <div class="row">
                                <div class="col-md-4 col-xl-3  px-4">
                                    <div class="mb-2 mt-2">
                                        <select name="Store" id="Store" class="mdb-select required md-form md-outline mt-0 mb-0 readonly" searchable="جستجو ..." data-stop-refresh="true"></select>
                                        <label for="Store" class="m-active">انبار مبدا</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="step active">
                        <div data-step-label="" class="step-title waves-effect waves-dark">  اداره</div>
                        <div class="step-new-content">

                      
                            <div class="row mt-4" id="officeDiv">
                                <div class="col">
                                    <div class="md-form md-outline my-3">
                                        <select name="Company" id="Company" class="custom-select multiline farsi font-size-0-90 " size="3" style="min-height:130px"></select>
                                        <label for="Company" class="m-active">شرکت</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="md-form md-outline my-3">
                                        <select name="Subsidiary" id="Subsidiary" class="custom-select multiline farsi font-size-0-90 " size="3" style="min-height:130px"></select>
                                        <label for="Subsidiary" class="m-active">شرکت تابعه</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="md-form md-outline my-3">
                                        <select name="Management" id="Management" required data-val="true" data-val-required=" " class="custom-select multiline farsi font-size-0-90 " size="3" style="min-height:130px"></select>
                                        <label for="Management" class="m-active">مدیریت</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="md-form md-outline my-3">
                                        <select name="Office" id="Office" required data-val="true" data-val-required=" " class="custom-select multiline farsi font-size-0-90 " size="3" style="min-height:130px">
                                        </select>
                                        <label for="Office" class="m-active">اداره</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="md-form md-outline my-3">
                                        <select name="OfficeDepartment" id="OfficeDepartment" class="custom-select multiline farsi font-size-0-90 " size="3" style="min-height:130px">
                                        </select>
                                        <label for="OfficeDepartment" class="m-active">واحد</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="step active">
                        <div data-step-label="" class="step-title waves-effect waves-dark">  شخص</div>
                        <div class="step-new-content">
                            @*<input type="hidden" value="-1" name="Store" id="Store" />*@
                           
                            <div class="row mt-4" id="personDiv">
                                <div class="col-sm-3 px-3">
                                    <div class="md-form md-outline mt-0 mb-2 input-group">
                                        <input type="number" class="form-control  text-center" name="Person" id="Person">
                                        <label for="Person" class="m-active">شماره پرسنلی / کدملی </label>
                                        <div class="input-group-prepend" id="prependPerson" data-toggle="modal" data-target="#modalPersons">
                                            <span class="input-group-text " id="basic-text1">
                                                <i class="fas fa-search " aria-hidden="true"></i>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col ">
                                    <div class="blue-grey-text text-right mt-2">
                                        <i class="fas fa-user text-success"></i> <span id="headName"></span>
                                        <span id="headFamily" class="mx-2"></span>
                                        <i class="fas fa-id-card  text-success mr-4"></i> <span id="headNationalCode" class="ml-2"></span>
                                        <i class="fas fa-id-card  text-success mr-4"></i> <span id="headPersonnelCode" class="ml-2"></span>
                                        <i class="fas fa-building  text-success mr-4"></i><span id="headOffice" class="mx-1"></span>
                                        <span id="headOfficeDepartment" class="mx-2"></span>
                                        <input type="hidden" value="" name="ToPerson" id="ToPerson" />
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </li>
                    <li class="step active">
                        <div class="step-title waves-effect waves-dark">اطلاعات بارنامه</div>
                        <div class="step-new-content">
                            <div class="row">
                                <div class="col-md-4 col-xl-3 px-4">
                        <div class="md-form md-outline mt-2 mb-2 input-group">
                            <input type="text" class="form-control  text-center" name="RequestId" id="RequestId" required>
                            <label for="RequestId" class="m-active">شماره درخواست</label>
                            <div class="input-group-prepend" id="prependRequestId">
                                <span class="input-group-text ">
                                    <i class="fas fa-list-ol " aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                                <div class="col-md-4 col-xl-3 px-4">
                                    <div class="md-form md-outline my-2 input-group">
                                        <input type="text" class="form-control text-center readonly" aria-label="sDate" aria-describedby="sDate"
                                               data-val="true" data-val-required=" " id="RequestDateFa" name="RequestDateFa" value="">
                                        <label for="RequestDateFa">تاریخ </label>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="hidden" name="Date" id="Date" />
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                @*<div class="col-md-12 col-lg-6  px-4">
                        <div class="md-form md-outline">
                            <textarea class="form-control font-size-0-80 col-12 md-textarea" name="RequestReason" id="RequestReason"></textarea>
                            <label for="RequestReason" class="m-active">علت خروج</label>
                        </div>
                    </div>*@
                                <div class="col-md-12 col-lg-6  px-4">
                                    <div class="md-form md-outline">
                                        <textarea class="form-control font-size-0-80 col-12 md-textarea" name="Des" id="Des" required></textarea>
                                        <label for="Des" class="m-active">توضیحات</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>



                </ul>


                <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
                    <button class="btn btn-link cta  mr-auto" type="submit" id="save">
                        <i class="fas fa-save fa-lg"></i>
                        <span>ثبت اطلاعات</span>
                    </button>
                </div>
            </div>
        }

    </div>
    <div class="modal fade rtl" id="modalPersons" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body rtl text-right mx-3 ">
                    <!--Accordion wrapper-->
                    <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">
                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingOne1">
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                   aria-controls="collapseOne1">
                                    <h5 class="">
                                        <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                                    </h5>
                                </a>
                            </div>
                            <!-- Card body -->
                            <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col">
                                            <div class="md-form md-outline form-sm my-1">
                                                <input type="text" class="form-control text-center advancedSearch" id="Name" name="Name">
                                                <label for="Name" class="active">نام</label>
                                            </div>
                                        </div>
                                        <div class="col ">
                                            <div class="md-form md-outline form-sm my-1">
                                                <input type="text" class="form-control text-center advancedSearch" id="Family" name="Family">
                                                <label for="Family" class="active">نام خانوادگی</label>
                                            </div>
                                        </div>
                                        <div class="col  ">
                                            <div class="md-form md-outline form-sm my-1">
                                                <input type="text" class="form-control text-center advancedSearch" id="NationalCode" name="NationalCode">
                                                <label for="NationalCode" class="active">کدملی</label>
                                            </div>
                                        </div>
                                        <div class="col  ">
                                            <div class="md-form md-outline form-sm my-1">
                                                <input type="text" class="form-control text-center advancedSearch" id="PersonnelCode" name="PersonnelCode">
                                                <label for="PersonnelCode" class="active">شماره پرسنلی</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->
                    </div>
                    <!-- Accordion wrapper -->
                    @Html.Action("UserAccess", "Person", new { area = "" })
                </div>
            </div>
        </div>
    </div>
@section Scripts{
    <script>
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#RequestDateFa',
            targetDateSelector: '#Date',
            textFormat: 'yyyy/MM/dd',

            selectedDate: today,
            groupId: "Start-End-Date"
        });
        function getFamily() {

            //  e.preventDefault();

            $.getJSON("/person/FamilyJson/",
                {
                    code: $("#Person").val()
                },
                function (data) {

                    if (data === "NotFound") {
                        $("#headName").html("کارمندی با این کد وجود ندارد");
                        $("#headFamily").html('');
                        $("#headNationalCode").html('');
                        $("#headPersonnelCode").html('');
                        $("#headOffice").html('');
                        $("#headOfficeDepartment").html('');
                        $("#ToPerson").val('');
                    } else {
                        $("#headName").html(data[0].Name);
                        $("#headFamily").html(data[0].Family);
                        $("#headNationalCode").html(data[0].NationalCode);
                        $("#headPersonnelCode").html(data[0].PersonnelCode);
                        $("#headOffice").html(data[0].Office);
                        $("#headOfficeDepartment").html(data[0].OfficeDepartment);
                        $("#ToPerson").val(data[0].Id);
                    }
                });
        }

        function addFromModal(item, person) {
            $("#Person").val(item);
            getFamily();
            $("#check" + person).addClass('d-none');
        }
        $('#Company').on('change',
            function () {
                UserAccess2('Subsidiary', $(this).val(), 'Subsidiary', true, false, 2);
            });
        $('#Subsidiary').on('change',
            function () {
                UserAccess2('Management', $(this).val(), 'Management', true, false);

            });
        $('#Management').on('change',
            function () {
                UserAccess2('Office', $(this).val(), 'Office', true, false);

            });
        $('#Office').on('change',
            function () {
                UserAccess2('OfficeDepartment', $(this).val(), 'OfficeDepartment', true, true);

            });

        $(document).ready(function () {
            $('#Tab-Ladings-Create').addClass('active show').removeClass('d-none');
            $('.stepper').mdbStepper();
            Stores('FromStore');
            Stores('Store');
            UserAccess2('Company', 0, 'Company', true, false, 8);
           

            $('#Person').on('change',

                function (e) {
                    e.preventDefault();
                    getFamily();
                    $('#des').focus();
                    $('#save').removeAttr("disabled");
                });

            //#region UserListModal
            const t = $('#DataListModalPerson').DataTable({
                //"stateSave": true,
                "processing": false,
                "serverSide": true,
                "ajax": {
                    "url": "/Person/Items",
                    "type": "POST",
                    "dataType": "json",
                    "data": function (d) {
                        d.Name = $('#Name').val();
                        d.Family = $('#Family').val();
                        d.NationalCode = $('#NationalCode').val();
                        d.PersonnelCode = $('#PersonnelCode').val();
                        d.Office = $('#Office').val();
                        d.OfficeDepartment = -1;
                        d.Management = $('#Management').val();
                        d.FamilyRelationship = 0;
                        // d.ShiftWorker = false;
                    }
                },
                "dom": 'rt<"row"<"col-6"i><"col-6"p>>',
                //"dom": 'rt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
                "columns": [
                    //{ "data": "id", "name": "id" },
                    { "data": "Name", "name": "Name", "class": "font-size-0-75" },
                    { "data": "Family", "name": "Family", "class": "font-size-0-75" },
                    { "data": "NationalCode", "name": "NationalCode", "class": "font-size-0-75 " },
                    { "data": "PersonnelCode", "name": "PersonnelCode", "class": "font-size-0-75" },
                    { "data": "Group", "name": "Group", "class": "font-size-0-75 blue-grey-text" },
                    { "data": "Office", "name": "TblOfficeDepartment.TblOffice.Title", "class": "font-size-0-75 blue-grey-text" },
                    //{ "data": "OfficeDepartment", "name": "TblOfficeDepartment.Title" },
                    {
                        "orderable": false,
                        "data": "edit",
                        "name": "edit",
                        "class": "font-size-0-75 fit",
                        "render": function (data, type, row, meta) {
                            return `<span class='blue-text cursor-pointer' id="check${row.DT_RowId}"
                            onclick="addFromModal(${row.NationalCode},${row.DT_RowId})">
                            <i class='fas fa-plus-square fa-lg ml-2'></i><span class="">افزودن</span></span>`;
                        }
                    }
                ],
                "pageLength": 10,
                "order": [[1, "asc"], [0, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                }
            });

            //#region Advanced Search
            $('.advancedSearch').on('keyup',
                function (e) {
                    t.draw();
                    /* ENTER Tab Space PRESSED*/
                    //if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                    //    t.draw();
                    //}
                });
            $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                function (e) {
                    t.draw();
                });

            //#endregion
            //#endregion
        });
    </script>
}
