﻿@model Omidiyeh_Oil_Company___0147.Models.TblBillOfLading

@{
    ViewBag.Title = "حذف بارنامه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="card rtl text-right">
	<!--Header-->
    @Html.Partial("Tabs_Store_2")
    <!--Header-->
	<p class="note note-danger mx-5 my-3"><strong>اخطار:</strong> آیا برای حذف این اطلاعات مطمئن هستید؟</p>
 <div class="card-body">
    <dl class="dl-horizontal  mx-5">
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
		</div>

		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.ReqeustId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReqeustId)
        </dd>
		</div>

		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Des)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Des)
        </dd>
		</div>

		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TblOffice.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblOffice.Title)
        </dd>
		</div>

		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeDepartment.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblOfficeDepartment.Title)
        </dd>
		</div>

		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TblPerson.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblPerson.Name)
        </dd>
		</div>

		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TblUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblUser.UserName)
        </dd>
		</div>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="md-form text-left" >
            <div class="col-md-12">
                <input type="submit" value="حذف اطلاعات" class="btn btn-danger  font-size-1" />
            </div>
        </div>
    }
</div>
</div>
@section Scripts{
    <script>

        $(document).ready(function () {
            $('#Tab--Edit').addClass('active show').removeClass('d-none');
        });
    </script>
}
