﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblBillOfLading>

@{
    ViewBag.Title = "مدیریت بارنامه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="card rtl text-right">
	<!--Header-->
    @Html.Partial("Tabs_Store_2")
    <!--Header-->
<div class="card-body">
 <table id="DataList" class="table table-striped table-hover" style="width: 100%; ">
 <thead>
    <tr>
		<th></th>
        <th>
            تاریخ
        </th>
        <th>
            شماره بارنامه
        </th>

     
        <th>
            انبار
        </th>
        <th>
            اداره
        </th>
        <th>
            تحویل گیرنده
        </th>
        <th>
            کاربر
        </th>
    <th></th>
    </tr>
	</thead>
	</table>
    </div>
</div>
@section Scripts{
    <script>
        var tData;
        function deleteItem(id, title) {
            $.confirm({
                animation: 'zoom',
                closeAnimation: 'scale',
                escapeKey: true,
                backgroundDismiss: true,
                title: 'برای حذف اطمینان دارید؟',
                titleClass: "rtl text-right red-text",
                content: ' ' + title,
                rtl: true,
                type: 'red',
                typeAnimated: true,
                buttons: {
                    ok: {
                        text: 'حذف',
                        btnClass: 'btn-danger',
                        action: function() {
                            $.ajax({
                                url: "/Store/Ladings/Delete/",
                                data: {
                                    id: id
                                },
                                type: 'POST',
                                success: function(data) {
                                    toastr[data.Type](data.Msg);
                                    if (data.Result === true) {
                                        tData.draw();
                                        //setTimeout(function() {
                                        //        location.reload();
                                        //    },
                                        //    3000);
                                    }

                                }
                            });
                        }
                    },
                    close: {
                        text: 'انصراف',
                        btnClass: 'btn-outline',
                        action: function() {
                        }
                    },
                }
            });

        }
        $(document).ready(function () {
            $('#Tab-Ladings').addClass('active show');
            $('#Tab-Ladings-Create').removeClass('d-none');
            tData =   $('#DataList').DataTable({
                "stateSave": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Store/Ladings/List",
                    "type": "POST",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "id", "name": "id" },
                    {"data": "Date", "name": "Date" },
                    { "data": "DT_RowId", "name": "DT_RowId" },
							
                    {"data": "Store", "name": "Store" },
                    { "data": "Office", "name": "Office" },
                    { "data": "Person", "name": "Person" },
                    { "data": "User", "name": "User" },
                    {
                        "data": null,
                        "name": "edit",
                        "class": "text-left fit",
                        "orderable": false,
                        "render": function(data, type, row, meta) {
                            return `<a href='/Store/Ladings/Edit/${row.Id}' class='text-success ml-2' ><i class='fas fa-edit fa-lg'></i></a> 
                                     <i class='fas fa-trash-alt fa-lg red-text cursor-pointer ml-2' onclick='deleteItem(${row.DT_RowId},"بارنامه شماره  ${row.DT_RowId}")'></i>
                                    <a href='/Store/Ladings/ReportItems/${row.Id}' class='text-purple' ><i class='fas fa-book fa-lg'></i></a>
   
                            `;
                        }
                    }
                   
                ],
                "order": [[1, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                "columnDefs": [
                    {
                        "orderable": false,
                        
                        "width": "50px",
                        "targets": 0
                    },
                    {
                        "orderable": false,
                        "width": "125px",
                        "targets": 7
                    }
                ] 
            }).on('xhr.dt',
                function (e, settings, json) {
                    if ($('#DataList_wrapper select').hasClass('custom-select custom-select-sm form-control form-control-sm')) {
                        $('#DataList_wrapper').find('label').each(function () {
                            $(this).parent().append($(this).children());
                        });
                        $('#DataList_wrapper .dataTables_filter').find('input').each(function () {
                            const $this = $(this);
                            $this.attr("placeholder", "جستجو...");
                            $this.removeClass('form-control-sm');
                        });
                        $('#DataList_wrapper .dataTables_length').addClass('d-flex flex-row');
                        $('#DataList_wrapper .dataTables_filter').addClass('md-form rtl');
                        $('#DataList_wrapper select').removeClass(
                            'custom-select custom-select-sm form-control form-control-sm');
                        $('#DataList_wrapper select').addClass('mdb-select');
                        $('#DataList_wrapper .mdb-select').materialSelect();
                        $('#DataList_wrapper .dataTables_filter').find('label').remove();
                        $('#DataList_wrapper .dataTables_length').find('label').remove();
                        $("#DataList_wrapper").children().first().css({ "direction": "ltr" });
                    }
                });;

        });
    </script>
}

