﻿@{
    ViewBag.Title = "ReportItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using Stimulsoft.Report.Mvc
@using Stimulsoft.Report.Web
<div class="card text-right ">
    <!--Header-->
    @Html.Partial("Tabs_Store_2")
    <!--Header-->
    <div class="card-body">
        @Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions()
        {
            Toolbar =
            {
                FontFamily = "B Nazanin",
                PrintDestination = StiPrintDestination.Direct,
                Zoom = StiZoomMode.PageWidth
                //ShowDesignButton = true
            },
            Theme = Stimulsoft.Report.Web.StiViewerTheme.Office2013LightGrayBlue,
            Localization = "~/Localization/fa.xml",
            Actions =
            {
                GetReport = "GetReport1",
                ViewerEvent = "ViewerEvent",
                DesignReport = "DesignReport"
            },
            Appearance =
            {
                RightToLeft = true
            }


        })
    </div>
</div>
@section Scripts{
    <script>


        $(document).ready(function() {
            $('#Tab-Ladings').addClass('active show').removeClass('d-none');
        });
    </script>
}