﻿@model Omidiyeh_Oil_Company___0147.Models.TblProduct

@{
    ViewBag.Title = "مشاهده جزئیات Details + Model.Title";
    Layout = "~/Views/Shared/_layout.cshtml";
}


    <div class="card rtl text-right">
	<!--Header-->
    @Html.Partial("..//Tabs")   
    <!--Header-->

<div>
    <dl class="dl-horizontal  mx-5 my-5">
		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Des)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Des)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Shelflife)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shelflife)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Threshold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Threshold)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Requestable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requestable)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Repairable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repairable)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Remove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remove)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Show)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TblCategory1.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblCategory1.Title)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TblCategory2.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblCategory2.Title)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TblProductUnit.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblProductUnit.Title)
        </dd>
		</div>

    </dl>
</div>
</div>

