﻿@model Omidiyeh_Oil_Company___0147.Models.TblProduct

@{
    ViewBag.Title = "ویرایش کالا";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_Store")

    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

    <div class="card-body">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col-sm-12">
                <div class="md-form md-outline my-3">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.LabelFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="md-form md-outline my-3">
                    @Html.EditorFor(model => model.Des, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.LabelFor(model => model.Des)
                    @Html.ValidationMessageFor(model => model.Des, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="select-outline mt-3 mb-0">
                    <select name="Category1" id="Category1" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                    <label for="Category1" class="m-active">@Html.DisplayNameFor(model => model.Category1)</label>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="select-outline mt-3 mb-0">
                    <select name="Category2" id="Category2" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                    <label for="Category2" class="m-active">@Html.DisplayNameFor(model => model.Category2)</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="md-form md-outline my-3">
                    @Html.EditorFor(model => model.Shelflife, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.LabelFor(model => model.Shelflife)
                    @Html.ValidationMessageFor(model => model.Shelflife, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="select-outline my-3">
                    @Html.DropDownList("Unit", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                    @Html.LabelFor(model => model.Unit)
                    @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="md-form md-outline my-1">
                    @Html.EditorFor(model => model.Threshold, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.LabelFor(model => model.Threshold)
                    @Html.ValidationMessageFor(model => model.Threshold, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>

            <div class="col-sm-3 mt-2">
                <div class="switch">
                    <label>
                        قابلیت درخواست
                        <input type="checkbox" value="true" name="Requestable" id="Requestable"  @(Model.Requestable ? "checked" : "")>
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-3 mt-2">
                <div class="switch">
                    <label>
                        قابلیت تعمیر
                        <input type="checkbox" value="true" name="Repairable" id="Repairable"  @(Model.Repairable ? "checked" : "")>
                        <span class="lever"></span>
                    </label>
                </div>
            </div> 
            <div class="col-sm-3 mt-2">
                <div class="switch">
                    <label>
                      با اموال
                        <input type="checkbox" value="true" name="Show" id="Show"  @(Model.Show ? "checked" : "")>
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
            <button class="btn btn-link cta  mr-auto" type="submit" id="save">
                <i class="fas fa-save fa-lg"></i>
                <span>ثبت اطلاعات</span>
            </button>
        </div>
    </div>
    }

</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            $('#Tab-Products-Edit').addClass('active show').removeClass('d-none');
            Category1("Category1",@Model.Category1);
            Category2('Category2',@Model.Category1,@Model.Category2);
            $('#Category1').on('change',
                function (e) {
                    Category2('Category2', $("#Category1").children("option:selected").val());
                });
           
        });
    </script>
}
