﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblProduct>

@{
    ViewBag.Title = "مدیریت کالا";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_Store")

    <!--Header-->
    <div class="card-body">

        <!--Accordion wrapper-->
        <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#advancedSearch" aria-expanded="true"
                       aria-controls="advancedSearch">
                        <h5 class="">
                            <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">

                    <div class="card-body pt-0">

                        <div class="row">
                            <div class="col-lg-3 col-xl-2">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Title" name="Title">
                                    <label for="Title" class="active">عنوان</label>
                                </div>

                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="select-outline my-1">
                                    <select name="Store" id="Store" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch " searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="Store" class="m-active">انبار</label>
                                </div>
                            </div>  
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="select-outline my-1">
                                    <select name="Category1" id="Category1" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all" searchable="جستجو ..." data-stop-refresh="true" ></select>
                                    <label for="Category1" class="m-active">@Html.DisplayNameFor(model => model.Category1)</label>
                                </div>
                            </div>

                            <div class="ccol-lg-3 col-xl-2 ">
                                <div class="select-outline my-1">
                                    <select name="Category2" id="Category2" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch  disable-toggle-all" searchable="جستجو ..." data-stop-refresh="true" ></select>
                                    <label for="Category2" class="m-active">@Html.DisplayNameFor(model => model.Category2)</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Des" name="Des">
                                    <label for="Des" class="active">توضیحات</label>
                                </div>
                            </div> 
                            <div class="col-lg-3 col-xl-2">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Shelflife" name="Shelflife">
                                    <label for="Shelflife" class="active">عمر مفید</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Threshold" name="Threshold">
                                    <label for="Threshold" class="active">حد آستانه</label>
                                </div>
                            </div>
                           
                            <div class="col-lg-3 col-xl-2 ">

                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Requestable" id="Requestable" class="mdb-select  md-form md-outline mt-0 mb-0 text-right disable-toggle-all advancedSearch">
                                        <option value="" selected=""></option>
                                        <option value="true">بله</option>
                                        <option value="false">خیر</option>
                                    </select>
                                    <label for="Requestable" class="m-active">قابلیت درخواست</label>
                                </div>
                            </div>
                             <div class="col-lg-3 col-xl-2 ">

                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Repairable" id="Repairable" class="mdb-select  md-form md-outline mt-0 mb-0 text-right disable-toggle-all advancedSearch">
                                        <option value="" selected=""></option>
                                        <option value="true">بله</option>
                                        <option value="false">خیر</option>
                                    </select>
                                    <label for="Repairable" class="m-active">قابلیت تعمیر</label>
                                </div>
                            </div>
                             <div class="col-lg-3 col-xl-2 ">

                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Remove" id="Remove" class="mdb-select  md-form md-outline mt-0 mb-0 text-right disable-toggle-all advancedSearch">
                                        <option value="" selected=""></option>
                                        <option value="true">بله</option>
                                        <option value="false">خیر</option>
                                    </select>
                                    <label for="Remove" class="m-active">کالای حذف شده</label>
                                </div>
                            </div>

                          
                        </div>
                    </div>
                </div>

            </div>
            <!-- Accordion card -->


        </div>
        <!-- Accordion wrapper -->

        <table id="DataList" class="table table-striped table-hover" style="width: 100%; ">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>موجودی</th>
                    <th>
                        دسته بندی یک
                    </th>
                    <th>
                        دسته بندی دو
                    </th>


                    <th>
                        @Html.DisplayNameFor(model => model.Requestable)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Repairable)
                    </th> 
                    <th>
                        @Html.DisplayNameFor(model => model.Show)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Threshold)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Shelflife)
                    </th>

                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        var t;
        function deleteProduct(id, title) {
            $.confirm({
                animation: 'zoom',
                closeAnimation: 'scale',
                escapeKey: true,
                backgroundDismiss: true,
                title: 'برای حذف اطمینان دارید؟',
                titleClass: "rtl text-right red-text",
                content: ' ' + title,
                rtl: true,
                type: 'red',
                typeAnimated: true,
                buttons: {
                    ok: {
                        text: 'حذف',
                        btnClass: 'btn-danger',
                        action: function () {
                            $.ajax({
                                url: "/Store/Products/delete/",
                                data: {
                                    id: id
                                },
                                type: 'POST',
                                success: function (data) {
                                    toastr[data.Type](data.Msg);
                                    if (data.Result === true) {
                                        t.draw();
                                        //setTimeout(function() {
                                        //        location.reload();
                                        //    },
                                        //    3000);
                                    }

                                }
                            });
                        }
                    },
                    close: {
                        text: 'انصراف',
                        btnClass: 'btn-outline',
                        action: function () {
                        }
                    },
                }
            });

        }
        $(document).ready(function () {
            $('#Tab-Products').addClass('active show');
            $('#Tab-Products-Create').removeClass('d-none');
            Stores('Store');

            Category1("Category1");
            $('#Category1').on('change',
                function (e) {
                    Category2('Category2', $("#Category1").children("option:selected").val());
                });

            t=   $('#DataList').DataTable({
                "stateSave": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Store/Products/List",
                    "type": "POST",
                    "dataType": "json",
                    "data": function(d) {
                        d['Title'] = $('#Title').val();
                        d['Des'] = $('#Des').val();
                        d.Category1 = $('#Category1').val();
                        d.Store = $('#Store').val();
                        d.Category2 = $('#Category2').val();
                        d.Shelflife = $('#Shelflife').val();
                        d.Threshold = $('#Threshold').val();
                        d.Requestable = $('#Requestable').val();
                        d.Repairable = $('#Repairable').val();
                        d.Remove = $('#Remove').val();
                    }
                
                },
                "dom": 'rt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',

                "searching": false,
                "displayLength": 500,
                "lengthMenu": [50,100, 500, 1000, 2000],
                "columns": [
                    { "data": "id", "name": "id", "orderable": false, visible: false },
                    {"data": "Title", "name": "Title" },
                    { "data": "Count", "name": "Count", "orderable": false },
                    { "data": "Category1Title", "name": "TblCategory1.Title" },
                    { "data": "Category2Title", "name": "TblCategory2.Title" },
							
							
                    {"data": "Requestable", "name": "Requestable" },
                    { "data": "Repairable", "name": "Repairable" },
                    { "data": "Show", "name": "Show" },
                    { "data": "Threshold", "name": "Threshold" },
                    { "data": "Shelflife", "name": "Shelflife" },
                    { "data": "edit", "name": "edit", "orderable": false, "class": "fit"  }
                ],
                "order": [[1, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                "columnDefs": [
                    {
                        "targets": [5, 6,7],
                        "render": function (data, type, row, meta) {
                            return data === true
                                ? '<i class="fas fa-check-square"></i>' : '<i class="far fa-square"></i>';
                        }
                    },
                ] 
            }).on('processing.dt',
                function (e, settings, processing) {
                    $('#processingIndicator').css('display', 'none');

                });

            //#region Advanced Search


            $('.advancedSearch').on('change',
                function (e) {
                    t.draw();
                    ///* ENTER Tab Space PRESSED*/
                    //if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                    //    t.draw();
                    //}
                });
            $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                function (e) {
                    
                    t.draw();
                });

            //#endregion
        });
    </script>
}

