﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblProduct>

<style>
    .dataTables_info {
        font-size:0.8rem;
        padding-top:10px !important;
    }
</style>

           
<table id="DataListModalProduct" class="table table-striped py-0 table-hover font-size-0-80 lh1 table-sm" style="width: 100%;">
    <thead>
        <tr>
            @*<th>
                کد کالا
            </th>*@

            <th>
                عنوان
            </th>
            <th>
                تعداد
            </th>
            <th>
                دسته بندی اصلی
            </th>
            <th>
                دسته بندی فرعی
            </th>
            <th>
                واحد
            </th>
            <th>رمز اموال</th>
            <th>شماره سند</th>

            <th></th>
        </tr>
    </thead>
</table>

