﻿@using MD.PersianDateTime
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/content/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="~/Content/css/mdb.min.css">
    <link rel="stylesheet" href="~/Content/css/addons-pro/steppers.min.css">
    <link rel="stylesheet" href="~/Content/css/addons/datatables.min.css">
    @*<link rel="stylesheet" href="~/Content/css/select.dataTables.min.css">*@
    @*<link rel="stylesheet" href="~/Content/css/addons/buttons.dataTables.min.css">*@
    @*<link rel="stylesheet" href="~/Content/css/addons/datatables-select.min.css">*@
    @*<link rel="stylesheet" href="~/Content/css/addons/colReorder.dataTables.min.css">*@
    @*<link rel="stylesheet" href="~/Content/css/addons/keyTable.dataTables.min.css">*@
    <link rel="stylesheet" href="~/Content/css/addons/dataTables.checkboxes.css">
    <link rel="stylesheet" href="~/Content/css/jquery.md.bootstrap.datetimepicker.style.css">
    <link rel="stylesheet" href="~/Content/css/jquery.timepicker.min.css">
    <link rel="stylesheet" href="~/Content/css/jquery-confirm.min.css">
    <!-- Your custom styles (optional) -->
    <link href="~/Content/css/style.css?ver=4.3" rel="stylesheet">

    <!-- JQuery -->
    <script src="~/Content/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/Content/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/Content/js/mdb.min.js"></script>
    <script type="text/javascript" src="~/Content/js/addons-pro/steppers.js"></script>
    <script type="text/javascript" src="~/Content/js/addons/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="~/Content/js/addons/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.blockUI.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-confirm.min.js"></script>



</head>

<body class=" white-skin grey lighten-3">

    <!--Main Navigation-->
    <header>
        <div class="progress md-progress primary-color-dark hide fixed-top" style="position: fixed; margin-left:-10px" id="loading">
            <div class="indeterminate"></div>
        </div>
        <!-- Sidebar navigation -->
        <div id="slide-out" class="side-nav sn-bg-3 fixed">
            <ul class="custom-scrollbar">
                <!-- Logo -->
                <li class="mt-0 pt-0 mb-5 pb-5">
                    <div class="logo-wrapper border-bottom-0 mt-0 pt-0">
                        <a href="/"><img alt="bg" src="~/Images/Nioc-logo.png" class="img-fluid flex-center" /></a>
                    </div>
                </li>
                <!--/. Logo -->
                <!-- Side navigation links -->

                <li>
                    <ul class="collapsible collapsible-accordion rtl text-right">
                        @if (User.IsInRole("217"))
                        {
                            <li>
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fas fa-tachometer-alt"></i>
                                    ساختمان نگهداشت<i class="fas fa-angle-down rotate-icon"></i>
                                </a>
                                <div class="collapsible-body">
                                    <ul class="list-unstyled">
                                        @if (User.IsInRole("249"))
                                        {
                                            <li>
                                                <a href="/Store/EntryDocuments/" class="waves-effect  pr-5">سند ورود</a>
                                            </li>
                                        }  @if (User.IsInRole("255"))
                                        {
                                            <li>
                                                <a href="/Store/ExitDocuments/" class="waves-effect  pr-5">سند خروج</a>
                                            </li>
                                        }  @if (User.IsInRole("263"))
                                        {
                                            <li>
                                                <a href="/Store/ExitDocuments/" class="waves-effect  pr-5">بارنامه</a>
                                            </li>
                                        }  @if (User.IsInRole("219"))
                                        {
                                            <li>
                                                <a href="/Store/Products/" class="waves-effect  pr-5">مدیریت کالا</a>
                                            </li>
                                        }  @if (User.IsInRole("222"))
                                        {
                                            <li>
                                                <a href="/Store/Products/Create" class="waves-effect  pr-5">تعریف کالا</a>
                                            </li>
                                        }  @if (User.IsInRole("233"))
                                        {
                                            <li>
                                                <a href="/Store/Stores/" class="waves-effect  pr-5">مدیریت انبار</a>
                                            </li>
                                        }  @if (User.IsInRole("234"))
                                        {
                                            <li>
                                                <a href="/Store/Stores/Create" class="waves-effect  pr-5">تعریف انبار</a>
                                            </li>
                                        }  @if (User.IsInRole("225"))
                                        {
                                            <li>
                                                <a href="/Store/Category1" class="waves-effect  pr-5">مدیریت دسته بندی یک</a>
                                            </li>
                                        }  @if (User.IsInRole("229"))
                                        {
                                            <li>
                                                <a href="/Store/Category2" class="waves-effect  pr-5">مدیریت دسته بندی دو</a>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fas fa-tachometer-alt"></i>
                                    گزارشات ساختمان نگهداشت<i class="fas fa-angle-down rotate-icon"></i>
                                </a>
                                <div class="collapsible-body">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="/Store/Reports/Code/" class="waves-effect  pr-5">رمز اموال</a>
                                        </li>
                                        <li>
                                            <a href="/Store/Reports/Cardex" class="waves-effect  pr-5">کاردکس</a>
                                        </li>

                                        <li>
                                            <a href="/Store/Reports/ProductPersons" class="waves-effect  pr-5">کالای تحویل شده</a>
                                        </li>
                                        <li>
                                            <a href="/Store/Reports/ProductStore" class="waves-effect  pr-5">کالای موجود در انبار</a>
                                        </li>
                                        <li>
                                            <a href="/Store/Reports/ProductOffice" class="waves-effect  pr-5">خروجی انبار</a>
                                        </li>
                                        <li>
                                            <a href="/Store/Reports/Inventory" class="waves-effect  pr-5">موجودی انبار</a>
                                        </li>


                                    </ul>
                                </div>
                            </li>

                        }

                        @if (User.IsInRole("198"))

                        {
                            <li>
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fas fa-tachometer-alt"></i>
                                    درخواست بوکینگ<i class="fas fa-angle-down rotate-icon"></i>
                                </a>
                                <div class="collapsible-body">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="/Reservation/Booking/Mission" class="waves-effect  pr-5">ماموریت اداری</a>
                                        </li>
                                        <li>
                                            <a href="/Reservation/Booking/hospital" class="waves-effect  pr-5">بیمار</a>
                                        </li>
                                        <li>
                                            <a href="/Reservation/Booking/sport" class="waves-effect  pr-5">میهمان </a>
                                        </li>

                                        <li>
                                            <a href="/Reservation/Booking/Normal" class="waves-effect  pr-5">غیر اداری</a>
                                        </li>
                                        <li>
                                            <a href="/Travel/BookingRequests/" class="waves-effect  pr-5">مدیریت درخواست ها</a>
                                        </li>
                                        <li>
                                            <a href="/Travel/BookingRequests/AssigningBuses" class="waves-effect  pr-5">تخصیص اتوبوس به مسافر</a>
                                        </li>
                                        <li>
                                            <a href="/Travel/Report/" class="waves-effect  pr-5">گزارشات</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fas fa-tachometer-alt"></i>
                                    مدیریت بوکینگ<i class="fas fa-angle-down rotate-icon"></i>
                                </a>
                                <div class="collapsible-body">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="/Travel/Trip/" class="waves-effect  pr-5">مدیریت سفر</a>
                                        </li>

                                        <li>
                                            <a href="/Travel/Route" class="waves-effect  pr-5">مدیریت مسیر</a>
                                        </li>
                                        <li>
                                            <a href="/Travel/BookingCode" class="waves-effect  pr-5">مدیریت کد</a>
                                        </li>
                                        <li>
                                            <a href="/Travel/Trip/DefaultFlightTariff" class="waves-effect  pr-5">قیمت گذاری پیش فرض هواپیما</a>
                                        </li>



                                    </ul>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("159"))
                        {
                            <li>

                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fas fa-utensils"></i>
                                    درخواست غذا<i class="fas fa-angle-down rotate-icon"></i>
                                </a>
                                <div class="collapsible-body">
                                    <ul class="list-unstyled">
                                        @if (User.IsInRole("160"))
                                        {
                                            <li>
                                                <a href="/Reservation/Food/Add" class="waves-effect  pr-5">درخواست شخص</a>
                                            </li>
                                        }
                                        @if (User.IsInRole("161"))
                                        {
                                            <li>
                                                <a href="/Reservation/Food/Shift" class="waves-effect  pr-5">درخواست نوبتکار</a>
                                            </li>
                                        }
                                        @if (User.IsInRole("162"))
                                        {
                                            <li>
                                                <a href="/Reservation/Food/Office" class="waves-effect  pr-5">درخواست ادارات</a>
                                            </li>
                                        }
                                        @if (User.IsInRole("163"))
                                        {
                                            <li>
                                                <a href="/Reservation/Food/Letter" class="waves-effect  pr-5">درخواست با نامه</a>
                                            </li>
                                        }
                                        @if (User.IsInRole("164"))
                                        {
                                            <li>
                                                <a href="/Reservation/Food/Delayed" class="waves-effect  pr-5">درخواست معوقه - خدمات رفاهی</a>
                                            </li>
                                        }
                                        @if (User.IsInRole("216"))
                                        {
                                            <li>
                                                <a href="/Reservation/Food/Delayed2" class="waves-effect  pr-5">درخواست معوقه </a>
                                            </li>
                                        }
                                        @if (User.IsInRole("168"))
                                        {
                                            <li>
                                                <a href="/Welfare/FoodReservation" class="waves-effect  pr-5">مدیریت درخواست ها</a>
                                            </li>
                                        }
                                        @if (User.IsInRole("169"))
                                        {
                                            <li>
                                                <a href="/Welfare/FoodReservation/Restaurant" class="waves-effect  pr-5">مدیریت درخواست رستوران</a>
                                            </li>
                                        }
                                        @if (User.IsInRole("267"))
                                        {
                                            <li>
                                                <a href="/Welfare/FoodReservation/Shift" class="waves-effect  pr-5">مدیریت درخواست نوبتکار</a>
                                            </li>
                                        }
                                        @if (User.IsInRole("165"))
                                        {
                                            <li>
                                                <a href="/Welfare/FoodReservation/Personal" class="waves-effect  pr-5">مدیریت درخواست شخصی</a>
                                            </li>
                                        }
                                        @if (User.IsInRole("199"))
                                        {
                                            <li>
                                                <a href="/Welfare/Report/Report1" class="waves-effect  pr-5">گزارشات</a>
                                            </li>
                                        }
                                        @if (User.IsInRole("287"))
                                        {
                                            <li>
                                                <a href="/Welfare/Survey/poll" class="waves-effect  pr-5">نظرسنجی</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("178"))

                        {
                            <li>
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fas fa-tachometer-alt"></i>
                                    مدیریت غذا<i class="fas fa-angle-down rotate-icon"></i>
                                </a>
                                <div class="collapsible-body">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="/Welfare/Food" class="waves-effect  pr-5">مدیریت غذا</a>
                                        </li>
                                        <li>
                                            <a href="/Welfare/Food/Create" class="waves-effect  pr-5">ایجاد غذا</a>
                                        </li>
                                        <li>
                                            <a href="/Welfare/Meal" class="waves-effect  pr-5">مدیریت وعده غذایی</a>
                                        </li>
                                        <li>
                                            <a href="/Welfare/Meal/Create" class="waves-effect  pr-5">ایجاد وعده غذایی</a>
                                        </li>
                                        <li>
                                            <a href="/Welfare/FoodCategory" class="waves-effect  pr-5">مدیریت دسته بندی غذا</a>
                                        </li>
                                        <li>
                                            <a href="/Welfare/FoodCategory/Create" class="waves-effect  pr-5">ایجاد دسته بندی غذا</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("155"))
                        {
                            <li>
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fas fa-tachometer-alt"></i>
                                    مدیریت رستوران و مهمانسرا<i class="fas fa-angle-down rotate-icon"></i>
                                </a>
                                <div class="collapsible-body">
                                    <ul class="list-unstyled">
                                        @if (User.IsInRole("102"))
                                        {
                                            <li>
                                                <a href="/Welfare/Restaurant" class="waves-effect  pr-5">رستوران و مهمانسرا</a>
                                            </li>
                                        }
                                        @if (User.IsInRole("210"))
                                        {
                                            <li>
                                                <a href="/Welfare/Restaurant/Reception/0" class="waves-effect  pr-5">پذیرش مهمانسرا</a>
                                            </li>
                                        }
                                        @if (User.IsInRole("171"))
                                        {
                                            <li>
                                                <a href="/Welfare/RestaurantFoodProgram/Monthly" class="waves-effect  pr-5">برنامه غذایی ماهیانه</a>
                                            </li>
                                        } @if (User.IsInRole("176"))
                                        {
                                            <li>
                                                <a href="/Welfare/RestaurantFoodProgram/MonthlyCopy" class="waves-effect  pr-5">کپی برنامه غذایی ماهیانه</a>
                                            </li>
                                        } @if (User.IsInRole("177"))
                                        {
                                            <li>
                                                <a href="/Welfare/Survey/details/1" class="waves-effect  pr-5">نظرسنجی شخصی</a>
                                            </li>
                                            <li>
                                                <a href="/Welfare/Survey/details/2" class="waves-effect  pr-5">نظرسنجی کلی</a>
                                            </li>
                                            <li>
                                                <a href="/Welfare/Survey/Responses" class="waves-effect  pr-5">نتایج نظرسنجی </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("154"))
                        {
                            <li>
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fas fa-tachometer-alt"></i>
                                    مدیریت پیمان<i class="fas fa-angle-down rotate-icon"></i>
                                </a>
                                <div class="collapsible-body">
                                    <ul class="list-unstyled">
                                        @if (User.IsInRole("73"))
                                        {
                                            <li>
                                                <a href="/Welfare/Contract" class="waves-effect  pr-5">پیمان</a>
                                            </li>
                                        }
                                        @if (User.IsInRole("81"))
                                        {
                                            <li>
                                                <a href="/Welfare/Contractor" class="waves-effect  pr-5">مدیریت پیمانکاران</a>
                                            </li>
                                        }
                                        @if (User.IsInRole("284"))
                                        {
                                            <li>
                                                <a href="/Welfare/Contract/ChangeContract" class="waves-effect  pr-5">تغییر پیمان</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("152"))
                        {
                            <li>
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fas fa-tachometer-alt"></i>
                                    اطلاعات پایه<i class="fas fa-angle-down rotate-icon"></i>
                                </a>
                                <div class="collapsible-body">
                                    <ul class="list-unstyled">
                                        @if (User.IsInRole("40"))
                                        {
                                            <li>
                                                <a href="/Company" class="waves-effect  pr-5">شرکت ها</a>
                                            </li>
                                        } @if (User.IsInRole("59"))
                                        {
                                            <li>
                                                <a href="/Subsidiary" class="waves-effect  pr-5">شرکت های تابعه</a>
                                            </li>
                                        } @if (User.IsInRole("44"))
                                        {
                                            <li>
                                                <a href="/Management" class="waves-effect  pr-5">مدیریت</a>
                                            </li>
                                        } @if (User.IsInRole("48"))
                                        {
                                            <li>
                                                <a href="/Office" class="waves-effect  pr-5">اداره</a>
                                            </li>
                                        } @if (User.IsInRole("54"))
                                        {

                                            <li>
                                                <a href="/OfficeDepartment" class="waves-effect  pr-5">واحد</a>
                                            </li>
                                        } @if (User.IsInRole("63"))
                                        {
                                            <li>
                                                <a href="/OfficeDepartmentAccountNumbers" class="waves-effect  pr-5">شماره حساب ها</a>
                                            </li>
                                        } @if (User.IsInRole("67"))
                                        {
                                            <li>
                                                <a href="/Person" class="waves-effect  pr-5">اشخاص</a>
                                            </li>
                                        } @if (User.IsInRole("118"))
                                        {
                                            <li>
                                                <a href="/Vehicle" class="waves-effect  pr-5">وسیله نقلیه</a>
                                            </li>
                                        }
                                        @if (User.IsInRole("268"))
                                        {
                                            <li>
                                                <a href="/Welfare/OfficeFoodQuota" class="waves-effect  pr-5">سهمیه غذایی اداره</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>

                        }
                        @if (User.IsInRole("153"))
                        {
                            <li>
                                <a class="collapsible-header waves-effect arrow-r">
                                    <i class="fas fa-tachometer-alt"></i>
                                    مدیریت سیستم<i class="fas fa-angle-down rotate-icon"></i>
                                </a>
                                <div class="collapsible-body">
                                    <ul class="list-unstyled">
                                        @if (User.IsInRole("93"))
                                        {
                                            <li>
                                                <a href="/User" class="waves-effect  pr-5">کاربران</a>
                                            </li>
                                        }  @if (User.IsInRole("97"))
                                        {
                                            <li>
                                                <a href="/UserGroup" class="waves-effect  pr-5">گروه کاربری</a>
                                            </li>
                                        }
                                        @if (User.IsInRole("138"))
                                        {
                                            <li>
                                                <a href="/Holiday" class="waves-effect  pr-5">روزهای تعطیل</a>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </li>
                        }
                        <!-- Simple link -->
                        <li>
                            <a href="/account/Logout" class="collapsible-header waves-effect">
                                <i class=" far fa-bell"></i>
                                خروج
                            </a>
                        </li>
                    </ul>
                </li>

                <!--/. Side navigation links -->
            </ul>
            <div class="sidenav-bg mask-strong"></div>
        </div>
        <!--/. Sidebar navigation -->
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg scrolling-navbar double-nav mb-3">
            <!--Navbar links-->
            <ul class="nav navbar-nav nav-flex-icons mr-auto">

                <!-- Dropdown -->
                @*<li class="nav-item dropdown notifications-nav ml-2">
                        <a class="nav-link dropdown-toggle waves-effect  rtl mr-3" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell"></i>
                            <span class="d-none d-md-inline-block">پیام ها</span><span class="badge red mr-2">3</span>
                        </a>
                        <div class="dropdown-menu dropdown-primary text-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-money mr-2" aria-hidden="true"></i>
                                <span>تایید درخواست غذا</span>
                                <span class="float-left"><i class="far  fa-clock" aria-hidden="true"></i> 13 دقیقه</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-money mr-2" aria-hidden="true"></i>
                                <span>رد درخواست غذا</span>
                                <span class="float-left"><i class="far  fa-clock" aria-hidden="true"></i> 33 دقیقه</span>
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-line-chart mr-2" aria-hidden="true"></i>
                                <span>به سامانه خوش آمدید</span>
                                <span class="float-left"><i class="far  fa-clock" aria-hidden="true"></i> 53 دقیقه</span>
                            </a>
                        </div>
                    </li>*@
                <li class="nav-item rtl">
                    <a href="#" class="nav-link"> <i class="fas fa-calendar-alt"></i>   <span class="clearfix d-none d-sm-inline-block">@(new PersianDateTime(DateTime.Now).ToShortDateString())</span></a>
                </li>
                <li class="nav-item dropdown ml-5">

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (Request.Cookies["name"] == null)
                        {
                            FormsAuthentication.RedirectToLoginPage();
                        }
                        <a class="nav-link dropdown-toggle waves-effect rtl" href="#" id="userDropdown" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                            <span class="clearfix d-none d-sm-inline-block">@Server.UrlDecode(Request.Cookies["name"]?.Value.ToString())</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/account/ChangePassword">تغییر گذرواژه</a>
                            <a class="dropdown-item red-text" href="/account/logout">خروج از حساب</a>
                        </div>
                    }
                    else
                    {
                        <a class="nav-link dropdown-toggle waves-effect rtl" href="/" id="userDropdown" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                            <span class="clearfix d-none d-sm-inline-block">ورود به حساب کاربری</span>
                        </a>
                    }
                </li>
            </ul>
            <!--/Navbar links-->
            <!-- Breadcrumb-->
            <div class="breadcrumb-dn ml-auto">
                <p>سامانه خدمات اجتماعی شرکت بهره برداری نفت و گاز آغاجاری</p>
            </div>
            <!-- SideNav slide-out button -->
            <div class="mr-2">
                <a href="#" data-activates="slide-out" class="button-collapse black-text"><i class="fas fa-bars"></i></a>
            </div>
        </nav>
        <!-- /.Navbar -->

    </header>
    <!--Main Navigation-->
    <!-- Main layout -->
    <main>
        <div class="container-fluid mt-0">

            @RenderBody()

        </div>


        <!--Modal: modalConfirmDelete-->
        <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg modal-notify modal-danger" role="document">
                <!--Content-->
                <div class="modal-content text-center">
                    <!--Header-->
                    <div class="modal-header d-flex justify-content-center">
                        <p class="heading">آیا برای حذف اطمینان دارید؟</p>

                    </div>

                    <!--Body-->
                    <div class="modal-body my-0 py-2">

                        <i class="fas fa-times fa-4x animated rotateIn"></i><br />
                        <small id="modalDeleteTitle" class="rtl"></small>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer flex-center">
                        <button type="button" class="btn  btn-outline-danger" id="modalDeleteYes" data-id='0'>بله</button>
                        <button type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">خیر</button>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: modalConfirmDelete-->
    </main>
    <!-- Main layout -->
    <!-- Footer -->
    @*<footer class="page-footer pt-0 mt-5">*@
    <!-- Copyright -->
    @*<div class="footer-copyright py-3 text-center ">
            <div class="container-fluid">
                <a href="/" target="_blank"> شرکت بهره برداری نفت و گاز آغاجاری - 1398</a>
            </div>
        </div>*@
    <!-- Copyright -->
    @* </footer>*@
    <!-- Footer -->
    <!-- SCRIPTS -->

    <script type="text/javascript" src="~/Content/js/datatables.min.js"></script>
    <script type="text/javascript" src="~/Content/js/addons/dataTables.checkboxes.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/js/jquery.md.bootstrap.datetimepicker.js"></script>
    <script src="~/Content/js/jquery.timepicker.min.js"></script>
    <script src="~/Content/js/App.js?ver=5.5"></script>


    <!--Custom scripts-->
    <script>
        toastr.options = {
            "closeButton": false, // true/false
            "debug": false, // true/false
            "newestOnTop": false, // true/false
            "progressBar": true, // true/false
            "positionClass": "md-toast-top-left", // md-toast-top-right / md-toast-top-left / md-toast-bottom-right /

            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300", // in milliseconds
            "hideDuration": "1000", // in milliseconds
            "timeOut": "4000", // in milliseconds
            "extendedTimeOut": "4000", // in milliseconds
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        var settings = {
            errorElement: "span",
            errorClass: "is-invalid",
            validClass: "is-valid"
        }
        $.validator.unobtrusive.options = settings;
        $('#toast-container').on('hidden.bs.toast',
            function () {
                // alert(1);
            });
        $('#toast-container').on('show.bs.toast',
            function () {
                // alert(2);
            });


    </script>
    @RenderSection("scripts", required: false)
    @Html.Partial("_Message")
</body>
</html>
