﻿@if (TempData.ContainsKey("successToast") && TempData["successToast"] != null)
{
    <script>
        $(document).ready(function () {
            const msg = '@Html.Raw(TempData["successToast"])';
            toastr.success(msg);
        })
    </script>
}
@if (TempData.ContainsKey("errorToast") && TempData["errorToast"] != null)
{
    <script>
        $(document).ready(function () {
            const msg = '@Html.Raw(TempData["errorToast"])';
            toastr.error(msg);
        })
    </script>
}



@if (TempData.ContainsKey("successMessage") && TempData["successMessage"] != null)
{
    <div class="fade top d-none" id="fluidModalTopSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="true" aria-modal="true">
        <div class="modal-dialog modal-full-height modal-top modal-notify modal-success mx-0 my-0" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header align-middle py-0 mx-0 px-3" style="min-height: 46px; max-height: 46px; line-height: 46px">
                    <div class="col ml-0 pl-0" style="width: 40px; min-width: 30px; max-width: 30px; padding-top:13px">
                        <span type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="text-white">×</span>
                        </span>
                    </div>

                    <p class="col text-right text-white px-1">
                        درخواست موفق
                    </p>
                    <i class="col fas fa-check fa-2x mb-3 animated rotateIn text-white py-1 mr-2" style="width: 35px; min-width: 35px; max-width: 35px"></i>

                </div>
                <!--Body-->
                <div class="modal-body text-right rtl">
                    @Html.Raw(TempData["successMessage"])
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#fluidModalTopSuccess').removeClass("d-none").addClass("modal").modal('show');
        })
    </script>
}
@if (TempData.ContainsKey("errorMessage") && TempData["errorMessage"] != null)
{
    <div class=" fade top d-none" id="fluidModalTopError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="true" aria-modal="true">
        <div class="modal-dialog modal-full-height modal-top modal-notify modal-danger mx-0 my-0" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header align-middle py-0 mx-0 px-3" style="min-height: 46px; max-height: 46px; line-height: 46px">
                    <div class="col ml-0 pl-0" style="width: 40px; min-width: 30px; max-width: 30px; padding-top:13px">
                        <span type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="text-white">×</span>
                        </span>
                    </div>

                    <p class="col text-right text-white px-1">
                        درخواست ناموفق
                    </p>
                    <i class="col fas fa-exclamation fa-2x mb-3 animated rotateIn text-white py-1 mr-2" style="width: 35px; min-width: 35px; max-width: 35px"></i>

                </div>
                <!--Body-->
                <div class="modal-body rtl text-right" id="errorMessage">
                    @Html.Raw(TempData["errorMessage"])
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <script>
        $('#fluidModalTopError').removeClass("d-none").addClass("modal").modal('show');
    </script>
}

