﻿
@using Omidiyeh_Oil_Company___0147.Implementations
@model System.Web.Mvc.HandleErrorInfo 
@{
    var user = User.Identity.IsAuthenticated ? Convert.ToInt32(User.Identity.Name): 0;
  Logs.ErrorLog(Model, user);
}
<!DOCTYPE html >
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error. @Model.ActionName @Model.ControllerName </h1>
        <p>@Model.Exception.Message</p>
        <p>@Model.Exception</p>
    </hgroup>
</body>
</html>
