﻿<div class="classic-tabs rtl">
    <ul class="nav  tabs-blue" id="myTab" role="tablist">
      @{ 
          if (User.IsInRole("161"))
          {
                <li class="nav-item">
                    <a class="nav-link waves-light pt-3 pb-1" id="Tab-Hospital" href="/Reservation/Booking/Hospital">
                        <i class="fas fa-hospital fa-2x pb-2" aria-hidden="true"></i><br>درخواست بیماران
                    </a>
                </li>
          }
          if (User.IsInRole("162"))
          {
                <li class="nav-item">
                    <a class="nav-link waves-light pt-3 pb-1" id="Tab-Mission" href="/Reservation/Booking/Mission">
                        <i class="fas fa-building fa-2x pb-2" aria-hidden="true"></i><br>درخواست ماموریت
                    </a>
                </li>
          }
          if (User.IsInRole("163"))
          {
                <li class="nav-item">
                    <a class="nav-link waves-light pt-3 pb-1" id="Tab-Normal" href="/Reservation/Booking/Normal">
                        <i class="fas fa-envelope fa-2x pb-2" aria-hidden="true"></i><br>درخواست غیراداری
                    </a>
                </li>
          }
          if (User.IsInRole("164"))
          {
                <li class="nav-item">
                    <a class="nav-link waves-light pt-3 pb-1" id="Tab-Sport" href="/Reservation/Booking/Sport">
                        <i class="fas fa-baseball-ball fa-2x pb-2" aria-hidden="true"></i><br>درخواست ورزشی
                    </a>
                </li>
          }

          if (User.IsInRole("69"))
          {
                <li class="nav-item"  data-toggle="modal" data-target="#modalAddPerson">
                    <a class="nav-link waves-light pt-3 pb-1" id="Tab-AddPerson" >
                        <i class="fas fa-user fa-2x pb-2" aria-hidden="true"></i><br>افزودن شخص سریع
                    </a>
                </li>
          }
          if (User.IsInRole("168"))
          {

                <li class="nav-item">
                    <a class="nav-link waves-light pt-3 pb-1" id="Tab-Manage" href="/Travel/BookingRequests/">
                        <i class="fas fa-cogs fa-2x pb-2" aria-hidden="true"></i><br>مدیریت درخواست ها
                    </a>
                </li> 
              

              <li class="nav-item">
                  <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Edit" href="/Welfare/FoodReservation">
                      <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش درخواست
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link waves-light pt-3 pb-1" id="Tab-Manage" href="/Travel/BookingRequests/AssigningBuses">
                      <i class="fas fa-cogs fa-2x pb-2" aria-hidden="true"></i><br>تخصیص وسیله نقلیه به مسافر
                  </a>
              </li>
              }

          }
        </ul>
    </div>