﻿<div class="classic-tabs rtl">
    <ul class="nav  tabs-blue" id="myTab" role="tablist">
        @if (User.IsInRole("219"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Products" href="/Store/Products/">
                    <i class="fab fa-product-hunt fa-2x pb-2" aria-hidden="true"></i><br>کالا
                </a>
            </li>
        }
        @if (User.IsInRole("222"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Products-Create" href="/Store/Products/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد کالا
                </a>
            </li>
        }
        @if (User.IsInRole("223"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Products-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش کالا
                </a>
            </li>
        }
        @if (User.IsInRole("233"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Store" href="/Store/Stores/">
                    <i class="fas fa-store-alt fa-2x pb-2" aria-hidden="true"></i><br>انبار
                </a>
            </li>
        }
        @if (User.IsInRole("234"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Store-Create" href="/Store/Stores/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد انبار
                </a>
            </li>
        }
        @if (User.IsInRole("235"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Store-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش انبار
                </a>
            </li>
        }
        @if (User.IsInRole("225"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Category1" href="/Store/Category1">
                    <i class="fas fa-th fa-2x pb-2" aria-hidden="true"></i><br>دسته بندی یک
                </a>
            </li>
        }
        @if (User.IsInRole("226"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Category1-Create" href="/Store/Category1/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد دسته بندی یک
                </a>
            </li>
        }
        @if (User.IsInRole("227"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Category1-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش دسته بندی یک
                </a>
            </li>
        } 
        @if (User.IsInRole("229"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Category2" href="/Store/Category2">
                  
                    <i class="fas fa-th-list fa-2x pb-2" aria-hidden="true"></i><br>دسته بندی دو
                </a>
            </li>
        }
        @if (User.IsInRole("230"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Category2-Create" href="/Store/Category2/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد دسته بندی دو
                </a>
            </li>
        }
        @if (User.IsInRole("231"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Category2-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش دسته بندی دو
                </a>
            </li>
        }
         @if (User.IsInRole("229"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-ProductUnits" href="/Store/ProductUnits">
                  
                    <i class="fas fa-th-list fa-2x pb-2" aria-hidden="true"></i><br>واحد کالا
                </a>
            </li>
        }
        @if (User.IsInRole("230"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-ProductUnits-Create" href="/Store/ProductUnits/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد واحد کالا
                </a>
            </li>
        }
        @if (User.IsInRole("231"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-ProductUnits-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش واحد کالا
                </a>
            </li>
        }
        
    </ul>
</div>