﻿<div class="classic-tabs rtl">
    <ul class="nav  tabs-blue" id="myTab" role="tablist">
        @{

            if (User.IsInRole("267"))
            {
                <li class="nav-item">
                    <a class="nav-link waves-light pt-3 pb-1" id="Tab-Manage" href="/Welfare/FoodReservation/Shift">
                        <i class="fas fa-cogs fa-2x pb-2" aria-hidden="true"></i><br>مدیریت درخواست ها
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Edit" href="/Welfare/FoodReservation">
                        <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش درخواست
                    </a>
                </li>
                }
            }
        </ul>
    </div>