﻿<div class="classic-tabs rtl">
    <ul class="nav  tabs-blue" id="myTab" role="tablist">
        @if (User.IsInRole("1"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Restaurant" href="/Welfare/Restaurant">
                    <i class="fas fa-utensils fa-2x pb-2" aria-hidden="true"></i><br>رستوران و مهمانسرا
                </a>
            </li>
        }
        @if (User.IsInRole("1"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Room-Create" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد اتاق
                </a>
            </li>
        }
        @if (User.IsInRole("1"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Room-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش اتاق
                </a>
            </li>
        }
        @if (User.IsInRole("1"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Meal" href="/Welfare/Meal">
                    <i class="fas fa-utensils fa-2x pb-2" aria-hidden="true"></i><br>وعده غذایی
                </a>
            </li>
        }
        @if (User.IsInRole("1"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Meal-Create" href="/Welfare/Meal/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد وعده غذایی
                </a>
            </li>
        }
        @if (User.IsInRole("1"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Meal-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش وعده غذایی
                </a>
            </li>
        }
        @if (User.IsInRole("1"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-FoodCategory" href="/Welfare/FoodCategory">
                    <i class="fas fa-utensils fa-2x pb-2" aria-hidden="true"></i><br>دسته بندی غذایی
                </a>
            </li>
        }
        @if (User.IsInRole("1"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-FoodCategory-Create" href="/Welfare/FoodCategory/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد دسته بندی غذایی
                </a>
            </li>
        }
        @if (User.IsInRole("1"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-FoodCategory-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش دسته بندی غذا
                </a>
            </li>
        }
    </ul>
</div>