﻿<div class="classic-tabs rtl">
    <ul class="nav  tabs-blue" id="myTab" role="tablist">
        @if (User.IsInRole("219"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Code" href="/Store/Reports/Code">
                    <i class="fab fa-product-hunt fa-2x pb-2" aria-hidden="true"></i><br>رمز اموال
                </a>
            </li>
        }
        @if (User.IsInRole("219"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Cardex" href="/Store/Reports/Cardex">
                    <i class="fab fa-product-hunt fa-2x pb-2" aria-hidden="true"></i><br> کاردکس
                </a>
            </li>
        }
        @if (User.IsInRole("219"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-ProductPersons" href="/Store/Reports/ProductPersons">
                    <i class="fab fa-product-hunt fa-2x pb-2" aria-hidden="true"></i><br> کالای تحویل شده
                </a>
            </li>
        }
        @if (User.IsInRole("219"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-ProductStore" href="/Store/Reports/ProductStore">
                    <i class="fab fa-product-hunt fa-2x pb-2" aria-hidden="true"></i><br> کالای موجود در انبار
                </a>
            </li>
        }
        @if (User.IsInRole("219"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-ProductOffice" href="/Store/Reports/ProductOffice">
                    <i class="fab fa-product-hunt fa-2x pb-2" aria-hidden="true"></i><br> خروجی  انبار
                </a>
            </li>
        }
      
    </ul>
</div>