﻿<div class="classic-tabs rtl">
    <ul class="nav  tabs-blue" id="myTab" role="tablist">
        @if (User.IsInRole("178"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Food" href="/Welfare/Food">
                    <i class="fas fa-utensils fa-2x pb-2" aria-hidden="true"></i><br>غذا
                </a>
            </li>
        }
        @if (User.IsInRole("180"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Food-Create" href="/Welfare/Food/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد غذا
                </a>
            </li>
        }
        @if (User.IsInRole("181"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Food-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش غذا
                </a>
            </li>
        }
        @if (User.IsInRole("183"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Meal" href="/Welfare/Meal">
                    <i class="fas fa-utensils fa-2x pb-2" aria-hidden="true"></i><br>وعده غذایی
                </a>
            </li>
        }
        @if (User.IsInRole("187"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Meal-Create" href="/Welfare/Meal/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد وعده غذایی
                </a>
            </li>
        }
        @if (User.IsInRole("188"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Meal-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش وعده غذایی
                </a>
            </li>
        }
        @if (User.IsInRole("190"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-FoodCategory" href="/Welfare/FoodCategory">
                    <i class="fas fa-utensils fa-2x pb-2" aria-hidden="true"></i><br>دسته بندی غذایی
                </a>
            </li>
        }
        @if (User.IsInRole("191"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-FoodCategory-Create" href="/Welfare/FoodCategory/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد دسته بندی غذایی
                </a>
            </li>
        }
        @if (User.IsInRole("192"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-FoodCategory-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش دسته بندی غذا
                </a>
            </li>
        }
    </ul>
</div>