﻿<div class="classic-tabs rtl">
    <ul class="nav  tabs-blue" id="myTab" role="tablist">
        @if (User.IsInRole("249"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-EntryDocuments" href="/Store/EntryDocuments/">
                    <i class="fab fa-product-hunt fa-2x pb-2" aria-hidden="true"></i><br>سند ورود
                </a>
            </li>
        }
        @if (User.IsInRole("250"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-EntryDocuments-Create" href="/Store/EntryDocuments/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد سند ورود
                </a>
            </li>
        }
        @if (User.IsInRole("253"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-EntryDocuments-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش سند ورود
                </a>
            </li>
        }
        @if (User.IsInRole("255"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-ExitDocuments" href="/Store/ExitDocuments/">
                    <i class="fab fa-product-hunt fa-2x pb-2" aria-hidden="true"></i><br>سند خروج
                </a>
            </li>
        }
        @if (User.IsInRole("256"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-ExitDocuments-Create" href="/Store/ExitDocuments/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد سند خروج
                </a>
            </li>
        }
        @if (User.IsInRole("257"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-ExitDocuments-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش سند خروج
                </a>
            </li>
        }
        @if (User.IsInRole("259"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1  d-none" id="Tab-ExitDocuments-Report" href="#">
                    <i class="fas fa-store-alt fa-2x pb-2" aria-hidden="true"></i><br>رسید کالا
                </a>
            </li>
        }
        @if (User.IsInRole("260"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Store-Create" href="/Store/Stores/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد رسید کالا
                </a>
            </li>
        }
        @if (User.IsInRole("261"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Store-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش رسید کالا
                </a>
            </li>
        }
        @if (User.IsInRole("263"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Ladings" href="/Store/Ladings">
                    <i class="fas fa-th fa-2x pb-2" aria-hidden="true"></i><br>بارنامه
                </a>
            </li>
        }
        @if (User.IsInRole("264"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Ladings-Create" href="/Store/Ladings/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد بارنامه
                </a>
            </li>
        }
        @if (User.IsInRole("265"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Ladings-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش بارنامه
                </a>
            </li>
        } 
        
        
    </ul>
</div>