﻿<div class="classic-tabs rtl">
    <ul class="nav  tabs-blue" id="myTab" role="tablist">
        @{
            if (User.IsInRole("177"))
            {
                <li class="nav-item">
                    <a class="nav-link waves-light pt-3 pb-1" id="Tab-Details" href="/Welfare/Survey/details/1">
                        <i class="fas fa-building fa-2x pb-2" aria-hidden="true"></i><br> نظرسنجی شخصی
                    </a>
                </li>
            } 
            if (User.IsInRole("177"))
            {
                <li class="nav-item">
                    <a class="nav-link waves-light pt-3 pb-1" id="Tab-Details" href="/Welfare/Survey/details/2">
                        <i class="fas fa-building fa-2x pb-2" aria-hidden="true"></i><br>   نظرسنجی کلی 
                    </a>
                </li>
            }
            if (User.IsInRole("177"))
            {
                <li class="nav-item">
                    <a class="nav-link waves-light pt-3 pb-1" id="Tab-Responses" href="/Welfare/Survey/Responses">
                        <i class="fas fa-building fa-2x pb-2" aria-hidden="true"></i><br>نتایج نظرسنجی
                    </a>
                </li>
            }  
         
           
        }
    </ul>
</div>