﻿<div class="classic-tabs rtl">
    <ul class="nav  tabs-blue" id="myTab" role="tablist">

        @{
            if (User.IsInRole("161"))
            {
                <li class="nav-item ">
                    <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Add" href="/Reservation/Food/Add">
                        <i class="fas fa-cookie-bite fa-2x pb-2" aria-hidden="true"></i><br>درخواست شخصی
                    </a>
                </li>
            }
            if (User.IsInRole("169"))
            {
                <li class="nav-item">
                    <a class="nav-link waves-light pt-3 pb-1" id="Tab-Manage" href="/Welfare/FoodReservation/Personal">
                        <i class="fas fa-cogs fa-2x pb-2" aria-hidden="true"></i><br>مدیریت درخواست ها
                    </a>
                </li>
                }
            }
        </ul>
</div>