﻿<div class="classic-tabs rtl">
    <ul class="nav  tabs-blue" id="myTab" role="tablist">
        @{ 
            if (User.IsInRole("203"))
            {
                <li class="nav-item ">
                    <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Report1" href="/Welfare/Report/Report1">
                        <i class="fas fa-print fa-2x pb-2" aria-hidden="true"></i><br>تعداد فروش پیمان
                    </a>
                </li>
            }
            if (User.IsInRole("204"))
            {
                <li class="nav-item ">
                    <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Report2" href="/Welfare/Report/Report2_2">
                        <i class="fas fa-print fa-2x pb-2" aria-hidden="true"></i><br>تسویه حساب ماهیانه پیمان
                    </a>
                </li>
            }
            if (User.IsInRole("205"))
            {
                <li class="nav-item ">
                    <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Report6" href="/Welfare/Report/Report6">
                        <i class="fas fa-print fa-2x pb-2" aria-hidden="true"></i><br>صورت وضعیت پیمان
                    </a>
                </li>
            }
            if (User.IsInRole("206"))
            {
                <li class="nav-item ">
                    <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Report3" href="/Welfare/Report/Report3">
                        <i class="fas fa-print fa-2x pb-2" aria-hidden="true"></i><br>افراد رزرو شده اداره
                    </a>
                </li>
            }
            if (User.IsInRole("218"))
            {
                <li class="nav-item ">
                    <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Report3_2" href="/Welfare/Report/Report3_2">
                        <i class="fas fa-print fa-2x pb-2" aria-hidden="true"></i><br>افراد رزرو شده اداره 2
                    </a>
                </li>
            }
            if (User.IsInRole("206"))
            {
                <li class="nav-item ">
                    <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Report9" href="/Welfare/Report/Report9">
                        <i class="fas fa-print fa-2x pb-2" aria-hidden="true"></i><br>آمار غذایی نوبتکار
                    </a>
                </li>
            }
            if (User.IsInRole("207"))
            {
                <li class="nav-item ">
                    <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Report4" href="/Welfare/Report/Report4">
                        <i class="fas fa-print fa-2x pb-2" aria-hidden="true"></i><br>تعداد غذای استفاده شده پیمان
                    </a>
                </li>
            }
            if (User.IsInRole("208"))
            {
                <li class="nav-item ">
                    <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Report7" href="/Welfare/Report/Report7">
                        <i class="fas fa-print fa-2x pb-2" aria-hidden="true"></i><br>مصرف ارگان های دولتی
                    </a>
                </li>

            }
            if (User.IsInRole("209"))
            {
                <li class="nav-item ">
                    <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Report5" href="/Welfare/Report/Report5">
                        <i class="fas fa-print fa-2x pb-2" aria-hidden="true"></i><br>مصرف ارگان های دولتی 2
                    </a>
                </li>
                }

            }

    </ul>
    </div>