﻿<div class="classic-tabs rtl">
    <ul class="nav  tabs-blue" id="myTab" role="tablist">
        @{
            if (User.IsInRole("161"))
            {
                <li class="nav-item">
                    <a class="nav-link waves-light pt-3 pb-1" id="Tab-Shift" href="/Reservation/Food/Shift">
                        <i class="fas fa-building fa-2x pb-2" aria-hidden="true"></i><br>درخواست نوبتکار
                    </a>
                </li>
            }
            if (User.IsInRole("162"))
            {
                <li class="nav-item">
                    <a class="nav-link waves-light pt-3 pb-1" id="Tab-Office" href="/Reservation/Food/Office">
                        <i class="fas fa-building fa-2x pb-2" aria-hidden="true"></i><br>درخواست ادارات
                    </a>
                </li>
            }
            if (User.IsInRole("163"))
            {
                <li class="nav-item">
                    <a class="nav-link waves-light pt-3 pb-1" id="Tab-Letter" href="/Reservation/Food/Letter">
                        <i class="fas fa-envelope fa-2x pb-2" aria-hidden="true"></i><br>درخواست با نامه
                    </a>
                </li>
            }
            if (User.IsInRole("164"))
            {
                <li class="nav-item">
                    <a class="nav-link waves-light pt-3 pb-1" id="Tab-Delayed" href="/Reservation/Food/Delayed">
                        <i class="fas fa-calendar-times fa-2x pb-2" aria-hidden="true"></i><br>درخواست معوقه خدمات رفاهی
                    </a>
                </li>
            }
            if (User.IsInRole("216"))
            {
                <li class="nav-item">
                    <a class="nav-link waves-light pt-3 pb-1" id="Tab-Delayed2" href="/Reservation/Food/Delayed2">
                        <i class="fas fa-calendar-times fa-2x pb-2" aria-hidden="true"></i><br>درخواست معوقه 
                    </a>
                </li>
            }
            if (User.IsInRole("168"))
            {
                <li class="nav-item">
                    <a class="nav-link waves-light pt-3 pb-1" id="Tab-Manage" href="/Welfare/FoodReservation">
                        <i class="fas fa-cogs fa-2x pb-2" aria-hidden="true"></i><br>مدیریت درخواست ها
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Edit" href="/Welfare/FoodReservation">
                        <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش درخواست
                    </a>
                </li>
            }
            if (User.IsInRole("169"))
            {
                <li class="nav-item">
                    <a class="nav-link waves-light pt-3 pb-1" id="Tab-Manage-Restaurant" href="/Welfare/FoodReservation/Restaurant">
                        <i class="fas fa-cogs fa-2x pb-2" aria-hidden="true"></i><br>مدیریت درخواست های رستوران
                    </a>
                </li>
                }
            }
        </ul>
    </div>