﻿@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblContract>
@{
    ViewBag.Title = "مدیریت تسویه حساب";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs")
    <!--Header-->
    <div class="card-body">
        <table id="DataList" class="table table-striped py-1  lh1 border" style="width: 100%; ">
            <thead>
                <tr class="blue-text no-border ">
                    <th class="no-border-x"></th>

                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th class="fit">
                        @Html.DisplayNameFor(model => model.Number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Contractor)
                    </th>
                    <th>
                        رستوران
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="add" class="row"></div>

@section Scripts{
    <script>
        var tData;
        function addAdjustment(contractFood) {
            $.ajax({
                url: "/Welfare/ContractFoodPriceAdjustment/add",
                data: { contractFood: contractFood },
                type: 'GET',
                success: function (data) {
                    $('#add').html(data);
                    $('#modalAdd').modal('show');
                },
                error: function (data) {
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function () {
                $('#pDate').MdPersianDateTimePicker({
                    targetTextSelector: '#pDateFa',
                    targetDateSelector: '#Date',
                    textFormat: 'yyyy/MM/dd',
                    disableAfterToday: true,
                    selectedDate: new Date()
                });
                $('#Percent').change('input', function (e) {

                    const price = Number(removeComma($('#OldPrice').val()));
                    var p = ((removeComma($('#Percent').val()) * price) / 100 + price);
                    $('#Price').val(p);
                });

                $('#Price').change('input', function (e) {

                    const price = Number(removeComma($('#OldPrice').val()));
                    var pr = (100 * (removeComma($('#Price').val()) - price)) / price;
                    $('#Percent').val(pr);
                });
            });
        }
        function addFood(contract, title) {
            $.ajax({
                url: "/Welfare/ContractFood/add",
                data: { contract: contract, title: title },
                type: 'GET',
                success: function (data) {
                    $('#add').html(data);
                    $('#modalFoodAdd').modal('show');
                },
                error: function (data) {
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function () { });
        }
         function CheckContract(contract) {
            $.ajax({
                url: "/Welfare/Contract/CheckContract",
                data: { id: contract},
                type: 'GET',
                success: function (data) {
                    toastr[data.Type](data.Msg);
                },
                error: function (data) {
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function () { });
        }

        function addFoodSave() {
            $.ajax({
                url: "/Welfare/ContractFood/add/",
                data: {
                    Food: $('#modalFoodAdd #Food').val(),
                    contract: $('#modalFoodAdd #Contract').val(),
                    Price: removeComma($('#modalFoodAdd #Price').val()),
                    FreePrice: removeComma($('#modalFoodAdd #FreePrice').val()),
                    InitialQuota: removeComma($('#modalFoodAdd #InitialQuota').val()),
                    UsedQuota: removeComma($('#modalFoodAdd #UsedQuota').val())
                },
                type: 'POST',
                success: function (data) {
                    toastr[data.Type](data.Msg);
                    if (data.Result === true) {
                        tData.draw();
                        $('#modalFoodAdd').modal('hide');
                    }
                }
            });
        }

        $(document).ready(function () {
            $('#Tab-Manage').addClass('active show');
            $('#Tab-Create').removeClass('d-none');
            tData = $('#DataList').DataTable({
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "ajax": "/Welfare/Contract/CheckoutList",

                "columns": [
                    {
                        "class": "info",
                        "orderable": false,
                        "data": null,
                        "defaultContent": "<i class='fas fa-info-circle fa-lg blue-text cursor-pointer'></i>"
                    },
                    { "data": "Title", "name": "Title" },
                    { "data": "Contract", "name": "Contract" },
                    { "data": "Contractor", "name": "Contractor" },
                    { "data": "Restaurant", "name": "Restaurant" },
                    { "data": "StartDate", "name": "StartDate" },
                    { "data": "EndDate", "name": "EndDate" },
                    { "data": "Date", "name": "Date" },
                    { "data": "User", "name": "User" },
                   
                    {
                        "data": null, "name": "edit",
                        "render": function (data, type, row, meta) {
                            return `
        <a href='/Welfare/Contract/edit/${row.DT_RowId}' class='grey-text cursor-pointer'  data-toggle='popover' data-placement='top' data-content='ویرایش'><i class='fas fa-edit fa-lg green-text cursor-pointer ml-2'></i></a>
        <a href='/Welfare/Contract/details/${row.DT_RowId}' class='grey-text cursor-pointer'  data-toggle='popover' data-placement='top' data-content='تنظیمات'><i class='fas fa-cogs fa-lg red-text cursor-pointer ml-2'></i></a>
        `;
                        }
                    }
                ],
                "order": [[1, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                "columnDefs": [
                    {
                        "orderable": false,
                        //
                        "width": "50px",
                        "targets": [0]
                    },
                    {
                        "orderable": false,
                        "targets": [4]
                    },
                    {
                        "orderable": false,
                        "targets": 8,
                        "class": "text-left fit"

                    }
                ]
            }).on('xhr.dt',
                function (e, settings, json) {
                    if ($('#DataList_wrapper select')
                        .hasClass('custom-select custom-select-sm form-control form-control-sm')) {
                        $('#DataList_wrapper').find('label').each(function () {
                            $(this).parent().append($(this).children());
                        });
                        $('#DataList_wrapper .dataTables_filter').find('input').each(function () {
                            const $this = $(this);
                            $this.attr("placeholder", "جستجو...");
                            $this.removeClass('form-control-sm');
                        });
                        $('#DataList_wrapper .dataTables_length').addClass('d-flex flex-row');
                        $('#DataList_wrapper .dataTables_filter').addClass('md-form rtl');
                        $('#DataList_wrapper select').removeClass(
                            'custom-select custom-select-sm form-control form-control-sm');
                        $('#DataList_wrapper select').addClass('mdb-select');
                        $('#DataList_wrapper .mdb-select').materialSelect();
                        $('#DataList_wrapper .dataTables_filter').find('label').remove();
                        $('#DataList_wrapper .dataTables_length').find('label').remove();
                        $("#DataList_wrapper").children().first().css({ "direction": "ltr" });
                    }
                });;

            // Add event listener for opening and closing details
            $('#DataList tbody').on('click',
                'td.info',
                function () {
                    const tr = $(this).closest('tr');
                    const row = tData.row(tr);
                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                        // Open this row
                        row.child(childRowsInfo(row.data()), 'm-0 p-0').show();
                        tr.addClass('shown');
                    }
                });
            // Add event listener for opening and closing details
            $('#DataList tbody').on('click',
                'td.details-food',
                function () {
                    const tr = $(this).closest('tr');
                    const row = tData.row(tr);
                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                        // Open this row
                        row.child(childRowsFood(row.data()), 'm-0 p-0').show();
                        tr.addClass('shown');
                    }
                });

            function childRowsInfo(d) {
                // console.log(d);
                var tr = '';
                tr += ` <tr>
                                <td></td>
                                <td></td>
                                <td>${d.InitialQuota}</td>
                                <td>${d.UsedQuota}</td>
                                <td>${d.RemainingQuota}</td>
                                <td>${d.Amount}</td>
                                <td>${d.Status}</td>
                                <td>
                                    <span  onclick="CheckContract(${d.DT_RowId})" class="grey-text cursor-pointer"><i class='fas fa-hammer fa-lg green-text cursor-pointer ml-2 '></i>اصلاح آماری پیمان</span>
                                </td>
                                </tr>`;
                // `d` is the original data object for the row
                return `<table class="table table-sm font-size-0-75 yellow lighten-5 px-4 mb-0 table-borderless ">
                                                    <tr class="white-text no-border grey darken-4">
                                                    <th></th><th></th>
                                                    <th>تعداد غذا</th>
                                                    <th>تعداد استفاده شده</th>
                                                    <th>تعداد باقی مانده</th>
                                                    <th>مبلغ پیمان</th>
                                                    <th>وضعیت</th>
                                                    <th></th>
                                                    </tr>` +
                    tr +
                    '</table>';
            }

            function childRowsFood(d) {
                var foods = d["Foods"];
                var tr = '';
                $.each(foods,
                    function (index, value) {
                        var edit =
                            tr += ` <tr>
                                <td></td><td></td>
                                <td>${value['Food']}</td>
                                <td>${value['Price']}</td>
                                <td>${value['FreePrice']}</td>
                                <td>${value['InitialQuota']}</td>
                                <td>${value['UsedQuota']}</td>
                                <td>${value['RemainingQuota']}</td>
                                <td class="text-left pl-3" ></td >
                                </tr>`;
                    });
                // `d` is the original data object for the row
                return `<table class="table table-sm font-size-0-75 yellow lighten-5 px-4 mb-0 table-borderless ">
                                                     <tr class="white-text no-border grey darken-4">
                                                    <th></th><th></th>
                                                    <th>غذا</th>
                                                    <th>قیمت</th>
                                                    <th>قیمت آزاد</th>
                                                    <th>تعداد</th>
                                                    <th>تعداد استفاده شده</th>
                                                    <th>تعداد باقی مانده</th>
                                                    <th class="text-left cursor-pointer pl-3 fit">
                                                    <span  onclick="addFood(${d.DT_RowId},'${d.Title}')" class="yellow-text cursor-pointer"><i class='fas fa-plus-square fa-lg yellow-text cursor-pointer ml-2 '></i>ایجاد غذا برای پیمان</span>
                                                    </th>
                                                    </tr>` +
                    tr +
                    '</table>';
            }
        });
    </script>
}
