﻿@using MD.PersianDateTime
@model Omidiyeh_Oil_Company___0147.Models.TblContract
   @{ ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container px-0">
    <!-- Container -->
    <div class="row">
        <!-- Column -->
        <div class="col-md-6 mb-4 d-flex align-items-stretch rtl text-right">
            <!--Card-->
            <div class="card col-12">
                <!--Card content-->
                <div class="card-body">
                    <dl class="row lh2">
                        <dt class="col-sm-3 text-black-50">پیمانکار:</dt>
                        <dd class="col-sm-9">@Model.TblContractor.Title</dd>
                        <dt class="col-sm-3  text-black-50">رستوران:</dt>
                        <dd class="col-sm-9">@string.Join("، ", Model.TblContractRestaurants.Select(b => b.TblRestaurant.Title).ToList())</dd>
                        <dt class="col-sm-3  text-black-50">تعداد غذا:</dt>
                        <dd class="col-sm-9">@Model.InitialQuota.ToString("#,0")</dd>
                        <dt class="col-sm-3  text-black-50">استفاده شده:</dt>
                        <dd class="col-sm-9">@Model.UsedQuota.ToString("#,0")</dd>
                        <dt class="col-sm-3  text-black-50"> باقی مانده:</dt>
                        <dd class="col-sm-9">@Model.RemainingQuota.ToString("#,0")</dd>
                        <dt class="col-sm-3  text-black-50">مبلغ پیمان:</dt>
                        <dd class="col-sm-9">@Model.Amount.ToString("#,0")</dd>
                        <dt class="col-sm-3  text-black-50">تاریخ شروع:</dt>
                        <dd class="col-sm-9">@(new PersianDateTime(Model.StartDate).ToShortDateString())</dd>
                        <dt class="col-sm-3  text-black-50">تاریخ پایان:</dt>
                        <dd class="col-sm-9">@(new PersianDateTime(Model.EndDate).ToShortDateString())</dd>
                        <dt class="col-sm-3  text-black-50">توضیحات:</dt>
                        <dd class="col-sm-9">@Model.Body</dd>

                    </dl>

                </div>
            </div>
            <!--/.Card-->
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-md-6 mb-4 d-flex align-items-stretch">
            <!--Card-->
            <div class="card testimonial-card col-12 px-0">
                <!-- Background color -->
                <div class="card-up aqua-gradient"></div>
                <!-- Avatar -->
                <div class="avatar mx-auto white">
                    <img src="~/Images/Restaurant.jpg" class="rounded-circle img-responsive" alt="avatar">
                </div>
                <!-- Content -->
                <div class="card-body">
                    <!-- Name -->
                    <h5 class="card-title font-weight-bold">@Model.Title</h5>

                    @Model.Number
                    <hr>
                    <button class="btn btn-link cta rtl py-2" type="submit" value="true" onclick="addFood(@Model.Id,'@Model.Title')">
                        <i class="fas fa-plus fa-lg" style="vertical-align:-0.2em"></i>
                        <span>  ثبت غذای&nbsp; جدید برای این پیمان</span>
                    </button>
                    <a class="btn btn-link cta rtl py-2 smooth-scroll" href="#headingThree3" value="true" onclick='$(".collapse").removeClass("show");$("#collapseThree3").addClass("show").focus(); '>
                        <i class="fas fa-plus fa-lg" style="vertical-align:-0.2em"></i>
                        <span>  ثبت تعدیل جدید برای این پیمان</span>
                    </a>
                </div>
            </div>
            <!--Card-->
        </div>
        <!-- Column -->
    </div>

    <!--Accordion wrapper-->
    <div class="accordion md-accordion rtl text-right shadow" id="accordionEx" role="tablist" aria-multiselectable="true">

        <!-- Accordion card -->
        <!-- Card header -->
        <div class="card-header blue-gradient" role="tab" id="headingOne1">
            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
               aria-controls="collapseOne1">
                <h5 class="mb-0 text-white">
                    لیست غذاهای پیمان <i class="fas fa-angle-down rotate-icon float-left"></i>
                </h5>
            </a>
        </div>
        <div class="card mb-2">
            <!-- Card body -->
            <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                <div class="card-body py-0">
                    <table id="DataListFood" class="table table-striped py-1  lh1 border" style="width: 100%;">
                        <thead>
                        <tr class="blue-text no-border">
                            <th>
                                عنوان
                            </th>
                            <th>
                                قیمت
                            </th>
                            <th>
                                قیمت آزاد
                            </th>
                            <th>
                                تعداد
                            </th>
                            <th>
                                تعداد استفاده شده
                            </th>
                            <th>
                                تعداد باقی مانده
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <!-- Card header -->
        <div class="card-header blue-gradient" role="tab" id="headingTwo2">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
               aria-expanded="false" aria-controls="collapseTwo2">
                <h5 class="mb-0 text-white">
                    لیست سری قیمت  <i class="fas fa-angle-down rotate-icon float-left"></i>
                </h5>
            </a>
        </div>
        <div class="card mb-2">
            <!-- Card body -->
            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                <div class="card-body">
                    <table id="DataListPrice" class="table table-striped py-1  lh1 border" style="width: 100%;">
                        <thead>
                        <tr class="blue-text no-border">
                            <th>
                                عنوان
                            </th>
                            <th>
                                از تاریخ
                            </th>
                            <th>
                                تا تاریخ
                            </th>
                            <th>
                                توضیحات
                            </th>
                            <th>
                                تاریخ ثبت
                            </th>
                            <th>
                                کاربر
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <!-- Card header -->
        <div class="card-header blue-gradient" role="tab" id="headingThree3">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
               aria-expanded="false" aria-controls="collapseThree3">
                <h5 class="mb-0 text-white">
                    ثبت سری قیمت جدید <i class="fas fa-angle-down rotate-icon float-left"></i>
                </h5>
            </a>
        </div>
        <div class="card">
            <!-- Card body -->
            <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                <div class="card-body">
                    <form action="/Welfare/Contract/AddPriceSery" method="post" id="AddPriceSery" class="needs-validation" novalidate>
                        <input type="hidden" name="contract" value="@Model.Id" />
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="md-form md-outline my-3">
                                    <input autocomplete="off" class="form-control text-center" data-val="true" data-val-required=" " id="Title" name="Title" type="text">
                                    <label for="Title" class="">عنوان</label>
                                    <span class="field-validation-valid invalid-feedback mr-2" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="md-form md-outline my-3">
                                    <input autocomplete="off" class="form-control text-center" id="Des" name="Des" type="text" value="">
                                    <label for="Des">توضیحات</label>
                                    <span class="field-validation-valid invalid-feedback mr-2" data-valmsg-for="Des" data-valmsg-replace="true"></span>
                                </div>
                            </div>



                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center" aria-label="sDate" aria-describedby="sDate"
                                           data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                                    <label for="StartDateFa">تاریخ شروع</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="StartDate" id="StartDate"/>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center" aria-label="eDate" aria-describedby="eDate"
                                           data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                                    <label for="EndDateFa">تاریخ پایان</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="EndDate" id="EndDate"/>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="number" class="form-control text-center"
                                           data-val="true" data-val-required=" " id="PricePercent" name="PricePercent" value="">
                                    <label for="PricePercent">درصد افزایش قیمت</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="pPricePercent"><i class="fas fa-percentage"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="number" class="form-control text-center"
                                           data-val="true" data-val-required=" " id="FreePricePercent" name="FreePricePercent" value="">
                                    <label for="FreePricePercent">درصد افزایش قیمت آزاد</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="pFreePricePercent"><i class="fas fa-percentage"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="DataList" class="table table-sm table-striped table-hover border" style="width: 100%;">
                            <thead>
                            <tr class="blue-text no-border">
                                <th>
                                    غذا
                                </th>
                                <th>
                                    قیمت
                                </th>
                                <th>
                                    قیمت آزاد
                                </th>
                                <th class="text-center">
                                    افزایش قیمت (ریال)
                                </th>
                                <th class="text-center pl-5 border-left">
                                    قیمت بعد از افزایش
                                </th>
                                <th class="text-center">
                                    افزایش قیمت آزاد (ریال)
                                </th>
                                <th class="text-center">
                                    قیمت آزاد بعد از افزایش
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.TblContractFoods)
                            {
                                <tr>
                                    <td>@item.TblFood.Title</td>
                                    <td>@item.TblContractPriceSeriesFoods.First().Price.ToString("#,0")</td>
                                    <td>@item.TblContractPriceSeriesFoods.First().FreePrice.ToString("#,0")</td>
                                    <td class="px-4"><input class="form-control form-control-sm text-center Price" data-price="@item.TblContractPriceSeriesFoods.First().Price" data-id="@item.Id" type="number" name="Price-@(item.TblContractPriceSeriesFoods.First().ContractFood)" id="Price-@(item.TblContractPriceSeriesFoods.First().ContractFood)"/></td>
                                    <td class="text-center pl-5 border-left"><span class="text-danger text-bold font-size-1" id="PriceFinal@(item.Id)"></span></td>
                                    <td class="px-4"><input class="form-control form-control-sm text-center FreePrice" data-price="@item.TblContractPriceSeriesFoods.First().FreePrice" data-id="@item.Id" type="number" name="FreePrice-@(item.TblContractPriceSeriesFoods.First().ContractFood)" id="FreePrice-@(item.TblContractPriceSeriesFoods.First().ContractFood)"  onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"/></td>
                                    <td class="text-center"><span class="purple-text text-bold  font-size-1" id="FreePriceFinal@(item.Id)"></span></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
                            <button class="btn btn-link cta  mr-auto font-size-0-50" type="submit" id="save">
                                <i class="fas fa-save fa-lg"></i>
                                <span>ثبت سری قیمت</span>
                            </button>
                        </div>
                    </form>
                    @* <div id="updAddPriceSery"></div>*@
                </div>
            </div>

        </div>
        <!-- Accordion card -->

    </div>
    <!-- Accordion wrapper -->
    <p>&nbsp;</p>
</div>
<div id="add" class="row"></div>
<div id="edit" class="row"></div>
@section Scripts{
    <script>

        var tData;
        var tDataPrice;
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            //fromDate: true,
            selectedDate: today,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            toDate: true,
            selectedDate: new Date('@Model.EndDate'),
            groupId: "Start-End-Date"
        });

        $('#PricePercent').on("change",
            function() {
                const p = $(this).val();
                $(".Price").each(function() {
                    const price = $(this).data('price');
                    const pp = price * p / 100;
                    $(this).val(pp);
                    $("#PriceFinal" + $(this).data('id')).html(numberWithCommas(pp + price));
                });
            });
        $('.Price').on("change",
            function() {
                const pp = $(this).val();
                const price = $(this).data('price');
                const np = parseInt(pp) + parseInt(price);
                $("#PriceFinal" + $(this).data('id')).html(numberWithCommas(np));
            });
        $('#FreePricePercent').on("change",
            function() {
                const p = $(this).val();
                $(".FreePrice").each(function() {
                    const price = $(this).data('price');
                    const pp = price * p / 100;
                    $(this).val(pp);
                    $("#FreePriceFinal" + $(this).data('id')).html(numberWithCommas(pp + price));
                });
            });
        $('.FreePrice').on("change",
            function() {
                const pp = $(this).val();
                const price = $(this).data('price');
                const np = parseInt(pp) + parseInt(price);
                $("#FreePriceFinal" + $(this).data('id')).html(numberWithCommas(np));
            });

        $('#save').on('click',
            function(e) {
                if ($("form").valid() === true && validateSelect(e)) {
                    console.log(1);
                    e.preventDefault();
                    const myForm = document.getElementById("AddPriceSery");
                    const fd = new FormData(myForm);
                    // console.log(fd);
                    $.ajax({
                        url: "/Welfare/Contract/AddPriceSery/",
                        data: fd,
                        cache: false,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        success: function(data) {
                            //  toastr[data.Type](data.Msg);
                            toastr[data.Type](data.Msg);
                            if (data.Result === true)
                                setTimeout(function() {
                                        location.reload();
                                    },
                                    3000);
                        }
                    });
                }
            });

        function deleteFood(id, title) {
            $.confirm({
                animation: 'zoom',
                closeAnimation: 'scale',
                escapeKey: true,
                backgroundDismiss: true,
                title: 'برای حذف اطمینان دارید؟',
                titleClass: "rtl text-right red-text",
                content: ' ' + title,
                rtl: true,
                type: 'red',
                typeAnimated: true,
                buttons: {
                    ok: {
                        text: 'حذف',
                        btnClass: 'btn-danger',
                        action: function() {
                            $.ajax({
                                url: "/Welfare/ContractFood/delete/",
                                data: {
                                    id: id
                                },
                                type: 'POST',
                                success: function(data) {
                                    toastr[data.Type](data.Msg);
                                    if (data.Result === true) {
                                        tData.draw();
                                        //setTimeout(function() {
                                        //        location.reload();
                                        //    },
                                        //    3000);
                                    }

                                }
                            });
                        }
                    },
                    close: {
                        text: 'انصراف',
                        btnClass: 'btn-outline',
                        action: function() {
                        }
                    },
                }
            });

        }

        function addFood(contract, title) {
            $.ajax({
                url: "/Welfare/ContractFood/add",
                data: { contract: contract, title: title },
                type: 'GET',
                success: function(data) {
                    $('#add').html(data);
                    $('#modalFoodAdd').modal('show');
                },
                error: function(data) {
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function() {});
        }


        function addFoodSave() {
            $.ajax({
                url: "/Welfare/ContractFood/add/",
                data: {
                    Food: $('#modalFoodAdd #Food').val(),
                    contract: $('#modalFoodAdd #Contract').val(),
                    Price: removeComma($('#modalFoodAdd #Price').val()),
                    FreePrice: removeComma($('#modalFoodAdd #FreePrice').val()),
                    InitialQuota: removeComma($('#modalFoodAdd #InitialQuota').val()),
                    UsedQuota: removeComma($('#modalFoodAdd #UsedQuota').val())
                },
                type: 'POST',
                success: function(data) {
                    toastr[data.Type](data.Msg);
                    if (data.Result === true) {
                        tData.draw();
                        $('#modalFoodAdd').modal('hide');

                    }

                }
            });
        }

        function editFoodSave() {
            $.ajax({
                url: "/Welfare/ContractFood/edit/",
                data: {
                    id: $('#modalFoodEdit #Id').val(),
                    initialQuota: removeComma($('#modalFoodEdit #InitialQuota').val())
                },
                type: 'POST',
                success: function(data) {
                    toastr[data.Type](data.Msg);
                    if (data.Result === true) {
                        tData.draw();
                        $('#modalFoodEdit').modal('hide');
                    }

                }
            });
        }

        function editFood(id) {
            $.ajax({
                url: "/Welfare/ContractFood/edit",
                data: { id: id },
                type: 'GET',
                success: function(data) {
                    $('#edit').html(data);
                    $('#modalFoodEdit').modal('show');
                },
                error: function(data) {
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function() {});
        }

        function editPriceSerySave() {
            $.ajax({
                url: "/Welfare/ContractPriceSery/Edit",
                data: {
                    id: $('#modalPriceSeryEdit #Id').val(),
                    FromDate: $('#modalPriceSeryEdit #StartDateU').val(),
                    ToDate: $('#modalPriceSeryEdit #EndDateU').val(),
                    Title: $('#modalPriceSeryEdit #Title').val(),
                   
                },
                type: 'POST',
                success: function (data) {
                    toastr[data.Type](data.Msg);
                    if (data.Result === true) {
                        tDataPrice.draw();
                        $('#modalPriceSeryEdit').modal('hide');
                    }

                }
            });
        }

        function editPriceSery(id) {
            $.ajax({
                url: "/Welfare/ContractPriceSery/Edit",
                data: { id: id },
                type: 'GET',
                success: function (data) {
                    $('#edit').html(data);
                    $('#modalPriceSeryEdit').modal('show');
                },
                error: function (data) {
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function () { });
        }
        function editPriceSeryFood(id) {
            $.ajax({
                url: "/Welfare/ContractPriceSery/EditFood",
                data: { id: id },
                type: 'GET',
                success: function(data) {
                    $('#edit').html(data);
                    $('#modalPriceSeryFoodEdit').modal('show');
                },
                error: function(data) {
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function() {});
        }

        function editPriceSeryFoodSave() {
            $.ajax({
                url: "/Welfare/ContractPriceSery/EditFood",
                data: {
                    id: $('#modalPriceSeryFoodEdit #Id').val(),
                    price: removeComma($('#modalPriceSeryFoodEdit #Price').val()),
                    freePrice: removeComma($('#modalPriceSeryFoodEdit #FreePrice').val())
                },
                type: 'POST',
                success: function(data) {
                    toastr[data.Type](data.Msg);
                    if (data.Result === true) {
                        tDataPrice.draw();
                        $('#modalPriceSeryFoodEdit').modal('hide');
                    }

                }
            });
        }

        function childRowsPriceSery(drivers, d) {
            var tr = '';
            $.each(drivers,
                function(index, value) {
                    tr += ` <tr class="">
                            <td></td>
                            <td>${value['Food']}</td>
                            <td>${value['Price']}</td>
                            <td>${value['FreePrice']}</td>
                            <td><i class='fas fa-edit fa-lg green-text cursor-pointer ml-2' onclick='editPriceSeryFood(${
                        value['Id']})'></i></td>
                            </tr>`;
                });
            // `d` is the original data object for the row
            return `<table class="table table-sm font-size-0-75  lighten-5 px-4 mb-0 table-borderless ">
                        <tr class="white-text no-border grey darken-4">
                        <th></th>
                        <th>غذا</th>
                        <th>قیمت</th>
                        <th>قیمت آزاد</th>
                        <th class="fit"></th>
                        </tr>
                        ${tr}
                        <tr><td colspan="7" class="py-0 pt-1 grey darken-4"></td></tr>
                        </table>`;
        }

        $(document).ready(function() {


            tData = $('#DataListFood').DataTable({
                "processing": true,
                "serverSide": true,
                "stateSave": true,

                "ajax": {
                    "url": "/Welfare/Contract/Foods/",
                    "type": "POST",
                    "dataType": "json",
                    "data": function(d) {
                        d.Contract = @Model.Id;

                    }
                },
                "columns": [
                    { "data": "Title", "name": "TblFood.Title" },
                    { "data": "Price", "name": "Price" },
                    { "data": "FreePrice", "name": "FreePrice" },
                    { "data": "InitialQuota", "name": "InitialQuota" },
                    { "data": "UsedQuota", "name": "UsedQuota" },
                    { "data": "RemainingQuota", "name": "RemainingQuota" },
                    {
                        "data": null,
                        "name": "edit",
                        "class": "text-left fit",
                        "orderable": false,
                        "render": function(data, type, row, meta) {
                            return `<i class='fas fa-edit fa-lg green-text cursor-pointer ml-2' onclick='editFood(${row
                                .DT_RowId})'></i>
                                    <i class='fas fa-trash-alt fa-lg red-text cursor-pointer ml-2' onclick='deleteFood(${
                                row.DT_RowId},"${row.Title}")'></i>
                            `;
                        }
                    }
                ],
                "order": [[0, "asc"]],
                "lengthMenu": [10, 50, 100, 500, 1000],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                }
            }).on('xhr.dt',
                function(e, settings, json) {
                    if ($('#DataListFood_wrapper select')
                        .hasClass('custom-select custom-select-sm form-control form-control-sm')) {
                        $('#DataListFood_wrapper').find('label').each(function() {
                            $(this).parent().append($(this).children());
                        });
                        $('#DataListFood_wrapper .dataTables_filter').find('input').each(function() {
                            const $this = $(this);
                            $this.attr("placeholder", "جستجو...");
                            $this.removeClass('form-control-sm');
                        });
                        $('#DataListFood_wrapper .dataTables_length').addClass('d-flex flex-row');
                        $('#DataListFood_wrapper .dataTables_filter').addClass('md-form rtl');
                        $('#DataListFood_wrapper select').removeClass(
                            'custom-select custom-select-sm form-control form-control-sm');
                        $('#DataListFood_wrapper select').addClass('mdb-select');
                        $('#DataListFood_wrapper .mdb-select').materialSelect();
                        $('#DataListFood_wrapper .dataTables_filter').find('label').remove();
                        $('#DataListFood_wrapper .dataTables_length').find('label').remove();
                        $("#DataListFood_wrapper").children().first().css({ "direction": "ltr" });
                    }
                });;


            tDataPrice = $('#DataListPrice').DataTable({
                "processing": true,
                "serverSide": true,
                "stateSave": true,

                "ajax": {
                    "url": "/Welfare/Contract/PriceSery/",
                    "type": "POST",
                    "dataType": "json",
                    "data": function(d) {
                        d.Contract = @Model.Id;

                    }
                },
                "searching": false,
                "dom": 't',
                "columns": [
                    { "data": "Title", "name": "Title" },
                    { "data": "FromDate", "name": "FromDate" },
                    {
                        "data": "ToDate",
                        "name": "ToDate",
                       
                    },
                    { "data": "Des", "name": "Des" },
                    { "data": "CreateDate", "name": "CreateDate" },
                    { "data": "User", "name": "User" },
                    {
                        "class": "details fit pl-4",
                        "orderable": false,
                        "data": null,
                       
                        "render": function (data, type, row, meta) {
                            return `
    <span class='blue-text cursor-pointer'><i class='fas fa-utensils fa-lg blue-text cursor-pointer ml-2'></i>جزئیات</span>
  
                            `;
                        }
                    },
                    {
                        "class": " fit pl-4",
                        "orderable": false,
                        "data": null,
                       
                        "render": function (data, type, row, meta) {
                            return `
      <i class='fas fa-edit fa-lg green-text cursor-pointer ml-2' onclick='editPriceSery(${row
                                    .DT_RowId})'></i>
                            `;
                        }
                    },
                ],
                "order": [[0, "asc"]],
                "pageLength": 500,
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                }
            });

            // Add event listener for opening and closing details
            $('#DataListPrice tbody').on('click',
                'td.details',
                function() {

                    const tr = $(this).closest('tr');
                    const row = tDataPrice.row(tr);
                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                        //console.log(1);
                        // Open this row
                        $.ajax({
                            url: "/Contract/PriceSeryFoods/",
                            data: {
                                id: row.data().DT_RowId
                            },
                            type: 'GET',
                            success: function(data) {
                                row.child(childRowsPriceSery(data, row.data()), 'm-0 p-0').show();
                                tr.addClass('shown');
                            }
                        });

                    }
                });
        });
    </script>
}