﻿@using Omidiyeh_Oil_Company___0147.Models
@model Omidiyeh_Oil_Company___0147.Models.TblContract

@{
    ViewBag.Title = "ویرایش پیمان";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

    <div class="card-body">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col-sm-6">
                <div class="md-form md-outline my-2">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control  text-center" } })
                    @Html.LabelFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>

            <div class="col-sm-6">
                <div class="md-form md-outline my-2">
                    @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control  text-center" } })
                    @Html.LabelFor(model => model.Number)
                    @Html.ValidationMessageFor(model => model.Number, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="select-outline my-0">
                    @Html.DropDownList("Contractor", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                    @Html.LabelFor(model => model.Contractor)
                    @Html.ValidationMessageFor(model => model.Contractor, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="select-outline1 my-0">
                    <select class="mdb-select md-form md-outline text-right mt-3 disable-toggle-all" id="Restaurant" multiple name="Restaurant" searchable="جستجو ..." selectalllabel=" ">
                        <option value="" disabled>انتخاب نمایید...</option>
                        @foreach (var restaurant in (List<TblRestaurant>) ViewBag.Restaurant)
                        {
                            <option value="@restaurant.Id"
                                    @(Model.TblContractRestaurants.Any(a => a.Restaurant == restaurant.Id) ? "selected" : "")>
                                @restaurant.Title
                            </option>
                        }
                    </select>
                    <label for="Restaurant">رستوران</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="md-form md-outline  mt-0">
                    @Html.TextBoxFor(model => model.InitialQuota, new { @class = "form-control  text-center", onkeyup = "javascript:this.value=autoComma(this.value);" })
                    @Html.LabelFor(model => model.InitialQuota)
                    @Html.ValidationMessageFor(model => model.InitialQuota, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="md-form md-outline  mt-0">
                    @Html.TextBoxFor(model => model.UsedQuota, new { @class = "form-control  text-center", onkeyup = "javascript:this.value=autoComma(this.value);" })
                    @Html.LabelFor(model => model.UsedQuota)
                    @Html.ValidationMessageFor(model => model.UsedQuota, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="md-form md-outline  mt-0 input-group">
                    @Html.TextBoxFor(model => model.Amount,  new { @class = "form-control  text-center", onkeyup = "javascript:this.value=autoComma(this.value);" })
                    @Html.LabelFor(model => model.Amount)
                    <div class="input-group-prepend">
                        <span class="input-group-text small">ریال</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="my-0">
                    @Html.DropDownList("Status", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-0", searchable = "جستجو ..." })
                    @Html.LabelFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="md-form md-outline  mt-0 input-group">
                    <input type="text" class="form-control  text-center" aria-label="sDate" aria-describedby="eDate"
                           data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                    <label for="StartDateFa">تاریخ شروع</label>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    @Html.HiddenFor(model => model.StartDate)
                </div>
            </div>

            <div class="col-sm-6">
                <div class="md-form md-outline  mt-0 input-group">
                    <input type="text" class="form-control  text-center" aria-label="eDate" aria-describedby="eDate"
                           data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                    <label for="EndDateFa">تاریخ پایان</label>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    @Html.HiddenFor(model => model.EndDate)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="md-form md-outline  mt-0 mb-3">
                    @Html.TextAreaFor(model => model.Body, new { @class = "form-control  text-center md-textarea" })
                    @Html.LabelFor(model => model.Body)
                    @Html.ValidationMessageFor(model => model.Body, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
        </div>

        

        <div class="md-form text-left">
            <div class="col-md-12">
                <input type="submit" value="ثبت اطلاعات" class="btn blue  white-text font-size-1" />
            </div>
        </div>
    </div>
    }

</div>
@section Scripts{
    <script>
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            fromDate: true,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            toDate: true,
            groupId: "Start-End-Date"

        });
        $(document).ready(function () {
            $('#Tab-Edit').addClass('active show').removeClass('d-none');


        });
    </script>
}

