﻿
<div class="classic-tabs rtl">
    <ul class="nav  tabs-blue" id="myTab" role="tablist">
        <li class="nav-item ">
            <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Dashboard-Company" href="/#">
                <i class="fas fa-info-circle fa-2x pb-2" aria-hidden="true"></i><br>اطلاعات
            </a>
        </li>
        @if (User.IsInRole("73"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1" id="Tab-Manage" href="/Welfare/Contract">
                    <i class="fas fa-file-contract  fa-2x pb-2" aria-hidden="true"></i><br>پیمان
                </a>
            </li>
        }
        @if (User.IsInRole("74"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1  d-none" id="Tab-Create" href="/Welfare/Contract/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد پیمان
                </a>
            </li>
        }
        @if (User.IsInRole("75"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Edit" href="/Welfare/Contract">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش پیمان
                </a>
            </li>
        }
        @if (User.IsInRole("77"))
        {
            @*<li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1" id="Tab-Food-Manage" href="/Welfare/ContractFood/">
                    <i class="fas fa-utensils fa-2x pb-2 " aria-hidden="true"></i><br>پیمان - غذا
                </a>
            </li>*@
        }
        @if (User.IsInRole("78"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1  d-none" id="Tab-Food-Create" href="/Welfare/ContractFood/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i>
                    <br>ایجاد غذا - پیمان
                </a>
            </li>
        }
        @if (User.IsInRole("79"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Food-Edit" href="/Welfare/ContractFood">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش پیمان - غذا
                </a>
            </li>
        }
        @if (User.IsInRole("81"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1" id="Tab-Contractor-Manage" href="/Welfare/Contractor">
                    <i class="fas fa-walking  fa-2x pb-2" aria-hidden="true"></i><br>پیمانکار
                </a>
            </li>
        }
        @if (User.IsInRole("82"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1  d-none" id="Tab-Contractor-Create" href="/Welfare/Contractor/Create">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ایجاد پیمانکار
                </a>
            </li>
        }
        @if (User.IsInRole("82"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Contractor-Edit" href="/Welfare/Contractor">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش پیمانکار
                </a>
            </li>
        }
        @if (User.IsInRole("85"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1" id="Tab-ContractorStatus-Manage" href="/Welfare/ContractorStatus">
                    <i class="fas fa-shapes  fa-2x pb-2" aria-hidden="true"></i><br>وضعیت - پیمانکار
                </a>
            </li>
        }
        @if (User.IsInRole("86"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1  d-none" id="Tab-ContractorStatus-Create" href="/Welfare/ContractorStatus/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد وضعیت - پیمانکار
                </a>
            </li>
        }
        @if (User.IsInRole("87"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-ContractorStatus-Edit" href="/Welfare/ContractorStatus/">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش وضعیت - پیمانکار
                </a>
            </li>
        }
        @if (User.IsInRole("89"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1" id="Tab-ContractStatus-Manage" href="/Welfare/ContractStatus/">
                    <i class="fas fa-shapes  fa-2x pb-2" aria-hidden="true"></i><br>وضعیت - پیمان
                </a>
            </li>
        }
        @if (User.IsInRole("90"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1  d-none" id="Tab-ContractStatus-Create" href="/Welfare/ContractStatus/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد وضعیت - پیمان
                </a>
            </li>
        }
        @if (User.IsInRole("91"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-ContractorStatus-Edit" href="/Welfare/ContractorStatus/">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ویرایش وضعیت - پیمان
                </a>
            </li>
        }
    </ul>
</div>