﻿@model Omidiyeh_Oil_Company___0147.Models.TblMeal
@{
    ViewBag.Title = "ایجاد وعده غذایی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_Food")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-12">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-2 input-group">
                        <input type="text" name="StartTime" id="StartTime" class="form-control text-center timepicker" />
                        @Html.LabelFor(model => model.StartTime, new { @class = "m-active" })
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-clock"></i></span>
                        </div>
                        @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline my-2 input-group">
                        <input type="text" name="EndTime" id="EndTime" class="form-control text-center timepicker" />
                        @Html.LabelFor(model => model.EndTime, new { @class = "m-active" })
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-clock"></i></span>
                        </div>
                        @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.ReservationEndDay, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.ReservationEndDay)
                        @Html.ValidationMessageFor(model => model.ReservationEndDay, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline my-3 input-group">
                        <input type="text" name="ReservationEndTime" id="ReservationEndTime" class="form-control text-center timepicker" />
                        @Html.LabelFor(model => model.ReservationEndTime, new { @class = "m-active" })
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-clock"></i></span>
                        </div>
                        @Html.ValidationMessageFor(model => model.ReservationEndTime, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.ReservationDefaultFoodDay, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.ReservationDefaultFoodDay)
                        @Html.ValidationMessageFor(model => model.ReservationDefaultFoodDay, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline my-3 input-group">
                        <input type="text" name="ReservationDefaultFoodTime" id="ReservationDefaultFoodTime" class="form-control text-center timepicker" />
                        @Html.LabelFor(model => model.ReservationDefaultFoodTime, new { @class = "m-active" })
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-clock"></i></span>
                        </div>
                        @Html.ValidationMessageFor(model => model.ReservationDefaultFoodTime, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-2 input-group">
                        <input type="text" class="form-control text-center" aria-label="rdate" aria-describedby="rdate"
                            id="ActivationDateFa" name="ActivationDateFa" value="">
                        <label for="ActivationDateFa">@Html.DisplayNameFor(model => model.ActivationDate) </label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="rdate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        @Html.HiddenFor(model => model.ActivationDate)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline my-2 input-group">
                        <input type="text" class="form-control text-center" aria-label="bdate" aria-describedby="bdate"
                               id="DeactivationDateFa" name="DeactivationDateFa" value="">
                        <label for="DeactivationDateFa">@Html.DisplayNameFor(model=>model.DeactivationDate) </label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="bdate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        @Html.HiddenFor(model => model.DeactivationDate)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mt-3">
                    <div class="switch">
                        <label>
                            فعال
                            <input type="checkbox" value="true" name="Status" id="Status">
                            <span class="lever"></span>غیر فعال
                        </label>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
                <button class="btn btn-link cta  mr-auto" type="submit" id="save">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ثبت اطلاعات</span>
                </button>
            </div>
        </div>
    }
</div>
@section Scripts{
    <script>
        $('#rdate').MdPersianDateTimePicker({
            targetTextSelector: '#ActivationDateFa',
            targetDateSelector: '#ActivationDate',
            textFormat: 'yyyy/MM/dd'
        });
        $('#bdate').MdPersianDateTimePicker({
            targetTextSelector: '#DeactivationDateFa',
            targetDateSelector: '#DeactivationDate',
            textFormat: 'yyyy/MM/dd'
        });
        $(document).ready(function () {
            $('#Tab-Meal-Create').addClass('active show').removeClass('d-none');
        });
    </script>
}