﻿@model Omidiyeh_Oil_Company___0147.Models.TblMeal

@{
    ViewBag.Title = "حذف Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_Food")
    <!--Header-->
    <p class="note note-danger mx-5 my-3"><strong>اخطار:</strong> آیا برای حذف این اطلاعات مطمئن هستید؟</p>
    <div class="card-body">
        <dl class="dl-horizontal  mx-5">
            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>
            </div>

            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.StartTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartTime)
                </dd>
            </div>

            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.EndTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EndTime)
                </dd>
            </div>

            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.ReservationEndTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReservationEndTime)
                </dd>
            </div>

            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>
            </div>

            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.ReservationEndDay)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReservationEndDay)
                </dd>
            </div>

            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.ReservationDefaultFoodTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReservationDefaultFoodTime)
                </dd>
            </div>

            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.ReservationDefaultFoodDay)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReservationDefaultFoodDay)
                </dd>
            </div>

            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.ActivationDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ActivationDate)
                </dd>
            </div>

            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.DeactivationDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DeactivationDate)
                </dd>
            </div>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="حذف اطلاعات" class="btn btn-danger  font-size-1" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script>
        $('#rdate').MdPersianDateTimePicker({
            targetTextSelector: '#ActivationDateFa',
            targetDateSelector: '#ActivationDate',
            textFormat: 'yyyy/MM/dd'
        });
        $('#bdate').MdPersianDateTimePicker({
            targetTextSelector: '#DeactivationDateFa',
            targetDateSelector: '#DeactivationDate',
            textFormat: 'yyyy/MM/dd'
        });
        $(document).ready(function () {
            $('#Tab-Meal-Delete').addClass('active show').removeClass('d-none');
        });
    </script>
}