﻿@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblMeal>
@{
    ViewBag.Title = "مدیریت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="card rtl text-right">
	<!--Header-->
    @Html.Partial("Tabs_Food")
    <!--Header-->
<div class="card-body">
 <table id="DataList" class="table table-striped table-hover" style="width: 100%; ">
 <thead>
    <tr>
		<th></th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservationEndDay)
        </th><th>
            @Html.DisplayNameFor(model => model.ReservationEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservationDefaultFoodDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservationDefaultFoodTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeactivationDate)
        </th>
    <th></th>
    </tr>
	</thead>
	</table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Tab-Meal').addClass('active show');
            $('#Tab-Meal-Create').removeClass('d-none');
            $('#DataList').DataTable({
                "stateSave": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Welfare/Meal/List",
                    "type": "POST",
                    "dataType": "json"
                },
                "columns": [
							{ "data": "id", "name": "id" },
							{"data": "Title", "name": "Title" },
							{"data": "StartTime", "name": "StartTime" },
							{"data": "EndTime", "name": "EndTime" },
                    { "data": "ReservationEndDay", "name": "ReservationEndDay" },
                    { "data": "ReservationEndTime", "name": "ReservationEndTime" },
                    {"data": "ReservationDefaultFoodDay", "name": "ReservationDefaultFoodDay" },
							{"data": "ReservationDefaultFoodTime", "name": "ReservationDefaultFoodTime" },
                    {"data": "Status", "name": "Status" },
							{"data": "ActivationDate", "name": "ActivationDate" },
							{"data": "DeactivationDate", "name": "DeactivationDate" },
                            { "data": "edit", "name": "edit" }
                ],
                "order": [[1, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                 "columnDefs": [
                    {
                        "orderable": false,
                        
                        "width": "50px",
                        "targets": 0
                    },
                    {
                        "orderable": false,
                        "width": "100px",
                        "targets": 11
                    }
                ] 
            }).on('xhr.dt',
                function (e, settings, json) {
                    if ($('#DataList_wrapper select').hasClass('custom-select custom-select-sm form-control form-control-sm')) {
                        $('#DataList_wrapper').find('label').each(function () {
                            $(this).parent().append($(this).children());
                        });
                        $('#DataList_wrapper .dataTables_filter').find('input').each(function () {
                            const $this = $(this);
                            $this.attr("placeholder", "جستجو...");
                            $this.removeClass('form-control-sm');
                        });
                        $('#DataList_wrapper .dataTables_length').addClass('d-flex flex-row');
                        $('#DataList_wrapper .dataTables_filter').addClass('md-form rtl');
                        $('#DataList_wrapper select').removeClass(
                            'custom-select custom-select-sm form-control form-control-sm');
                        $('#DataList_wrapper select').addClass('mdb-select');
                        $('#DataList_wrapper .mdb-select').materialSelect();
                        $('#DataList_wrapper .dataTables_filter').find('label').remove();
                        $('#DataList_wrapper .dataTables_length').find('label').remove();
                        $("#DataList_wrapper").children().first().css({ "direction": "ltr" });
                    }
                });;
        });
    </script>
}
