﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblMeal>

@foreach (var item in Model)
{

    <div class="switch ml-5 mr-2">
        <label>
            <input type="checkbox" value="@item.Id" name="Meal" id="sMeal@(item.Id)">
            <span class="lever"></span>@item.Title
        </label>
    </div>
}
