﻿@model Omidiyeh_Oil_Company___0147.Models.TblOfficeRestaurant

@{
    ViewBag.Title = "ایجاد عدم دسترسی رستوران و اداره";
    Layout = "~/Views/Shared/_layout.cshtml";
}

    <div class="card rtl text-right">
        <!--Header-->
        @Html.Partial("../Restaurant/Tabs")

        <!--Header-->
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()

        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-4">
                    <div class="select-outline my-2">
                        <select name="Company" id="Company" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="Company" class="m-active">شرکت</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="select-outline my-2">
                        <select name="Subsidiary" id="Subsidiary" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="Subsidiary" class="m-active">شرکت تابعه</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="select-outline my-2">
                        <select name="Management" id="Management" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="Management" class="m-active">مدیریت</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="select-outline my-2">
                        <select name="Office" id="Office" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="Office" class="m-active">اداره</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="select-outline my-2">
                        <select name="OfficeDepartment" id="OfficeDepartment" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="OfficeDepartment" class="m-active">واحد</label>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-sm-12">
                    <div class="select-outline my-3">
                        @Html.DropDownList("Restaurant", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                        @Html.LabelFor(model => model.Restaurant)
                        @Html.ValidationMessageFor(model => model.Restaurant, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-blue  font-size-1" />
                </div>
            </div>
        </div>
        }

    </div>
@section Scripts{
    <script>

        $(document).ready(function() {
            $('#Tab-OfficeRestaurant-Create').addClass('active show').removeClass('d-none');
           
            UserAccess('Company', 0, 'Company');
            $('#Company').on('change',
                function () {
                    UserAccess('Subsidiary', $(this).val(), 'Subsidiary');
                });
            $('#Subsidiary').on('change',
                function () {
                    UserAccess('Management', $(this).val(), 'Management');

                });
            $('#Management').on('change',
                function () {
                    UserAccess('Office', $(this).val(), 'Office');

                });
            $('#Office').on('change',
                function () {
                    UserAccess('OfficeDepartment', $(this).val(), 'OfficeDepartment');

                });
        });
    </script>
}