﻿@model Omidiyeh_Oil_Company___0147.Models.TblRestaurantFoodProgram

@{
    ViewBag.Title = "ویرایش برنامه غذایی";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="bc-icons  rtl text-right">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb grey lighten-2">
            <li class="breadcrumb-item"><a class="black-text" href="/#">خانه</a><i class="fas fa-caret-left mx-2" aria-hidden="true"></i></li>
            <li class="breadcrumb-item"><a class="black-text" href="#">رستوران</a><i class="fas fa-caret-left mx-2" aria-hidden="true"></i></li>
            <li class="breadcrumb-item active">ویرایش</li>
        </ol>
    </nav>
</div>
<div class="card rtl text-right">
    <!--Header-->
    <div class="header pt-2 blue-gradient">
        <div class="row d-flex justify-content-start">
            <h3 class=" white-text mt-3 mb-4 pb-1 mx-5">@ViewBag.Title</h3>
        </div>
    </div>
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="col-sm-12">
                <div class="md-form md-outline form-lg my-2 input-group">
                    <input type="text" class="form-control text-center" aria-label="rdate" aria-describedby="rdate"
                           data-val="true" data-val-required=" " id="ReservDateFa" name="ReservDateFa" value="">
                    <label for="ReservDateFa">تاریخ شروع</label>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="rdate"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    @Html.HiddenFor(model => model.Date)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="select-outline my-3">
                        @Html.DropDownList("Meal", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                        @Html.LabelFor(model => model.Meal)
                        @Html.ValidationMessageFor(model => model.Meal, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="select-outline my-3">
                        @Html.DropDownList("Food", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                        @Html.LabelFor(model => model.Food)
                        @Html.ValidationMessageFor(model => model.Food, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="select-outline my-3">
                        @Html.DropDownList("Restaurant", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                        @Html.LabelFor(model => model.Restaurant)
                        @Html.ValidationMessageFor(model => model.Restaurant, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>

            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
                </div>
            </div>
        </div>
    }

</div>
@section Scripts{
    <script>
        $('#rdate').MdPersianDateTimePicker({
            targetTextSelector: '#ReservDateFa',
            targetDateSelector: '#Date',
            textFormat: 'yyyy/MM/dd',
            disableBeforeToday: true,
            selectedDate : new Date()
        });

    </script>
}