﻿@using MD.PersianDateTime
@using Omidiyeh_Oil_Company___0147.Models
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.ModelFoodProgram>

@{
    ViewBag.Title = "تعریف برنامه غذایی " + ViewBag.RestaurantTitle;
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style type="text/css">
    .select-wrapper input.select-dropdown {
        margin-bottom: 0;
        font-size: 14px;
    }

    .table td, .table th {
        border-top: 1px dotted #dee2e6;
    }
</style>

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("../Restaurant/Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="restaurant" value="@ViewBag.Restaurant" />
        <input type="hidden" name="year" value="@ViewBag.Year" />
        <input type="hidden" name="month" value="@ViewBag.Month" />
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <table class="table table-sm">
                <tr class="light-blue-ic">
                    <th class="text-bold">تاریخ</th>
                    <th class="text-bold">روز</th>
                    <th class="text-bold pr-4">صبحانه</th>
                    <th class="text-bold pr-4">نهار</th>
                    <th class="text-bold pr-4">شام</th>
                </tr>
                @foreach (var item in Model)
                {
                    var date = new PersianDateTime(item.Date);
                    <tr>
                        <td class="py-3"><strong> @date.ToString("dd MMMM yy")</strong></td>
                        <td class="py-3"><strong>@date.ToString("dddd")</strong></td>
                        <td class="py-2 px-2">
                            <div>
                                <input type="hidden" name="br-default-@(date.Day)" id="br-default-@(date.Day)" value="@item.Breakfast.FirstOrDefault()" />
                                <select class="mdb-select md-form md-outline text-right my-0 py-0 disable-toggle-all" id="br@(date.Day)" multiple name="br@(date.Day)" searchable="جستجو ..." selectalllabel=" ">
                                    <option value="" disabled></option>
                                    @foreach (var food in ViewBag.Foods as List<TblFood>)
                                    {
                                        <option value="@food.Id" class="default-select br @date.Day @food.Id"
                                                @(item.Breakfast.Any() && item.Breakfast.FirstOrDefault() == food.Id ? "data-icon=/Images/star-1.png" : "data-icon=/Images/star-0.png")
                                                @(item.Breakfast.Contains(food.Id) ? "selected" : "")>
                                            @food.Title
                                        </option>
                                    }
                                </select>
                            </div>
                        </td>
                        <td class="py-2 px-2">
                            <div>
                                <input type="hidden" name="lu-default-@(date.Day)" id="lu-default-@(date.Day)" value="@item.Lunch.FirstOrDefault()" />
                                <select class="mdb-select md-form md-outline text-right my-0 py-0 disable-toggle-all" id="lu@(date.Day)" multiple name="lu@(date.Day)" searchable="جستجو ..." selectalllabel=" ">
                                    <option value="" disabled></option>
                                    @foreach (var food in ViewBag.Foods as List<TblFood>)
                                    {
                                        <option value="@food.Id" class="default-select lu @date.Day @food.Id"
                                                @(item.Lunch.Any() && item.Lunch.FirstOrDefault() == food.Id ? "data-icon=/Images/star-1.png" : "data-icon=/Images/star-0.png")
                                                @(item.Lunch.Contains(food.Id) ? "selected" : "")>
                                            @food.Title
                                            </option>
                                        }
                                </select>
                            </div>
                        </td>
                        <td class="py-2 px-2">
                            <div>
                                <input type="hidden" name="di-default-@(date.Day)" id="di-default-@(date.Day)" value="@item.Dinner.FirstOrDefault()" />

                                <select class="mdb-select md-form md-outline text-right my-0 py-0 disable-toggle-all" id="di@(date.Day)" multiple name="di@(date.Day)" searchable="جستجو ..." selectalllabel=" ">
                                    <option value="" disabled></option>
                                    @foreach (var food in ViewBag.Foods as List<TblFood>)
                                    {
                                        <option value="@food.Id" class="default-select di @date.Day @food.Id"
                                                @(item.Dinner.Any() && item.Dinner.FirstOrDefault() == food.Id ? "data-icon=/Images/star-1.png" : "data-icon=/Images/star-0.png")
                                                @(item.Dinner.Contains(food.Id) ? "selected" : "")>
                                            @food.Title
                                        </option>
                                    }
                                </select>
                            </div>
                        </td>
                    </tr>
                }
            </table>

            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-primary  font-size-1-25" />
                </div>
            </div>
        </div>

    }

</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            //$('#rdate').MdPersianDateTimePicker({
            //    targetTextSelector: '#ReservDateFa',
            //    targetDateSelector: '#Date',
            //    textFormat: 'yyyy/MM/dd',
            //    disableBeforeToday: true,
            //    selectedDate: new Date()
            //});

            function defaultSelect(e) {
                //console.log($(this));
                var cl = e.target.className.split(" ");
                // console.log(cl);
                var groupClassName = cl[2];
                //console.log(groupClassName);
                //console.log(e.target.className);
                //console.log(e.target);
                $('img.' + groupClassName).each(function () {
                    $(this)[0].src = "/Images/star-0.png";
                });
                e.target.src = "/Images/star-1.png";
                //var li = e.target.parentElement;
                //$(li).addClass('active1 selected1');
                $('#' + cl[1] + '-default-' + cl[2]).val(cl[3]);
                //var op = '#' + cl[1] + cl[2] + ' option[value=' + cl[3] + ']';
                //console.log(op);
                //console.log($(op));
                //$(op)[0].selected = true;

                //console.log(e.target);

                //console.log($('#br1').val());
                //console.log($('#br1'));
                //$('.needs-validation .select-wrapper.mdb-select').find('input.select-dropdown').each(function () {
                //    //console.log($(this));
                //    //console.log($(this).val());
                //    if ($(this).val() === "" || $(this).val() === "انتخاب نمایید") {
                //        $(this).addClass('is-invalid').removeClass('is-valid');
                //        e.preventDefault();
                //    } else {
                //        $(this).removeClass('is-invalid').addClass('is-valid');
                //    }
                //});

            }
            //function defaultSelect2(e) {
            //    //console.log($(this));
            //    console.log(e);
            //    console.log(e.target);
            //    console.log($("option.default-select.br.1.3:first"));
            //    $("option.default-select.br.1.3:first").attr('selected','selected');
            //    console.log(e.target);


            //}

            //$('.mdb-select select').on('change', e => defaultSelect2(e));
            $('.default-select').on('click', e => defaultSelect(e));

        });
    </script>
}