﻿@using MD.PersianDateTime
@using Omidiyeh_Oil_Company___0147.Models
@model IEnumerable<ModelFoodProgram>

@{
    ViewBag.Title = "ایجاد برنامه غذایی " + ViewBag.RestaurantTitle;
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style type="text/css">
    .select-wrapper input.select-dropdown {
        margin-bottom: 0;
        font-size: 12px;
    }
    .dropdown-content li > a, .dropdown-content li > span {
        padding: .2rem;
        font-size: 12px;
    }
    .table td, .table th {
        border-top: 1px dotted #dee2e6;
    }
    .select-dropdown li img {
        float: right;
        width: 20px;
        height: 20px;
        margin: .3rem .35rem;
    }
    .form-check-input[type="checkbox"]+label:before, .form-check-input[type="checkbox"]:not(.filled-in)+label:after, label.btn input[type="checkbox"]+label:before, label.btn input[type="checkbox"]:not(.filled-in)+label:after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 14px;
        height: 14px;
        margin-top: 3px;
        content: "";
        border: 2px solid #8a8a8a;
        border-radius: 1px;
        -webkit-transition: .2s;
        transition: .2s;
    }
</style>

    <div class="card rtl text-right" >
        <!--Header-->
        @Html.Partial("../Restaurant/Tabs")
        <!--Header-->
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="restaurant" value="@ViewBag.Restaurant" />
            <input type="hidden" name="year" value="@ViewBag.Year" />
            <input type="hidden" name="month" value="@ViewBag.Month" />
            <input type="hidden" name="temp" value="1" />

            <div class="card-body" >
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <p><i class="fas fa-utensils fa-lg ml-2 text-primary"></i>@ViewBag.RestaurantTitle</p>
                <table class="table table-sm" >
                    <tr class="light-blue-ic">
                        <th class="text-bold">تاریخ</th>
                        <th class="text-bold">روز</th>
                        @foreach (var meal in (List<TblMeal>)ViewBag.Meal)
                        {
                            if (meal.Id == 0)
                            {
                                continue;

                            }
                            <th class="text-bold pr-4">@meal.Title</th>
                        }

                    </tr>
                    @foreach (var item in Model.ToList())
                    {

                        var date = new PersianDateTime(item.Date);
                        <tr>
                            <td class="py-3"><strong> @date.ToString("dd MMMM yy")</strong></td>
                            <td class="py-3"><strong>@date.ToString("dddd")</strong></td>

                            @foreach (var meal in (List<TblMeal>)ViewBag.Meal)
                            {
                                if (meal.Id == 0)
                                {
                                    continue;

                                }
                                <td class="py-2 px-4 " style="border-right: 1px dotted #82b1ff">


                                    <div @*style="width:250px; min-width:250px"*@>
                                        <input type="hidden" name="default-@(meal.Id)-@(date.Day)" id="default-@(meal.Id)-@(date.Day)" value="@(item.Foods.FirstOrDefault(a=>a.Meal== meal.Id)?.Food)" />
                                        <select class="mdb-select md-form md-outline text-right my-0 py-0 disable-toggle-all delay-mdb-select" multiple id="Food-@(meal.Id)-@(date.Day)" name="Food-@(meal.Id)-@(date.Day)" searchable="جستجو ..." data-stop-refresh="true">
                                            <option value="" disabled></option>
                                            @foreach (var food in (List<TblFood>)ViewBag.Foods)
                                            {
                                                <option value="@food.Id" id="option-@meal.Id-@date.Day-@food.Id" class="default-select @meal.Id @date.Day @food.Id"
                                                        @(item.Foods.Any(a => a.Meal == meal.Id) && item.Foods.First(a => a.Meal == meal.Id).Food == food.Id ? "data-icon=/Images/star-1.png" : "data-icon=/Images/star-0.png")
                                                        @(item.Foods.Any(a => a.Meal == meal.Id && a.Food == food.Id) ? "selected" : "")>
                                                    @food.Title
                                                </option>
                                            }
                                        </select>
                                    </div>

                                </td>
                            }

                        </tr>
                    }
                </table>

                @*<div class="md-form text-left">
                        <div class="col-md-12">
                            <input type="submit" value="ثبت اطلاعات" class="btn btn-blue  font-size-1" />
                        </div>
                    </div>*@
                <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
                    <button class="btn btn-link cta  mr-auto font-size-0-50" type="submit" id="addanother" name="addanother" value="true">
                        <i class="fas fa-plus-square fa-lg"></i>
                        <span>ذخیره و جدید</span>
                    </button>
                    <button class="btn btn-link cta  ml-0 font-size-0-50" type="submit" id="save" name="save" value="true">
                        <i class="fas fa-save fa-lg"></i>
                        <span>ذخیره</span>
                    </button>

                </div>
            </div>

        }

    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Tab-RestaurantFoodProgram-Monthly').addClass('active show').removeClass('d-none');
            setTimeout(function() {
                    $('.delay-mdb-select').materialSelect();
                    function defaultSelect(e) {
                        e.stopPropagation();
                
                        var cl = e.target.className.split(" ");

                        var groupClassName = cl[2];

                        $('img.' + groupClassName).each(function () {
                            $(this)[0].src = "/Images/star-0.png";
                        });
                        e.target.src = "/Images/star-1.png";
                        //console.log($(e.target).parent());
                        //$(e.target).parent().addClass('active selected');
                        //$(e.target).parent().parent().parent().addClass('active');
                        //$(e.target).parent().attr('aria-selected','true');
                        ////$(e.target).parent().attr('aria-selected','true');
                        $('#default-' + cl[1] + '-' + cl[2]).val(cl[3]);
                        //$('#option-' + cl[1] + '-' + cl[2] + '-' + cl[3]).attr('selected', 'selected');
                        //console.log($('#option-' + cl[1] +'-' + cl[2] +'-' + cl[3] ));
                        //  console.log('option.' + cl[0] + ' .' + cl[1] + ' .' + cl[2] + ' .' + cl[3]);
                        // $('option.' + cl[0] + '.' + cl[1] + '.' + cl[2] + '.' + cl[3]).attr('selected');
                    }

                    $('.default-select').on('click', e => defaultSelect(e));
                },
                10);

            

        });
    </script>
}