﻿@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblRestaurantFoodProgram>

@{
    ViewBag.Title = "مدیریت برنامه غذایی";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="bc-icons  rtl text-right">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb grey lighten-2">
        <li class="breadcrumb-item"><a class="black-text" href="/#">خانه</a><i class="fas fa-caret-left mx-2" aria-hidden="true"></i></li>
        <li class="breadcrumb-item"><a class="black-text" href="#">رستوران</a><i class="fas fa-caret-left mx-2" aria-hidden="true"></i></li>
        <li class="breadcrumb-item active">مدیریت برنامه غذایی</li>
    </ol>
</nav>
</div>
    <div class="card rtl text-right">
	<!--Header-->
    <div class="header pt-2 blue-gradient">
        <div class="row d-flex justify-content-start">
            <h3 class=" white-text mt-3 mb-4 pb-1 mx-5">@ViewBag.Title</h3>
        </div>
    </div>
    <!--Header-->
<div class="card-body">
    <table id="DataList" class="table table-striped table-hover" style="width: 100%; ">
        <thead>
            @*<tr class="search-table">
                <td></td>
                <td>
                    @Html.DisplayNameFor(model => model.Date)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Restaurant)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Meal)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Food)
                </td>
                <td></td>
            </tr>*@
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Restaurant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Meal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Food)
                </th>
                <th></th>
            </tr>

        </thead>

           
       

    </table>
    <div class="row mx-2 blue-ic small" >
        <a class="toggle-vis ml-3" data-column="1">@Html.DisplayNameFor(model => model.Date)</a>
        <a class="toggle-vis ml-3" data-column="2">@Html.DisplayNameFor(model => model.Restaurant)</a>
        <a class="toggle-vis ml-3" data-column="3">@Html.DisplayNameFor(model => model.Meal)</a>
        <a class="toggle-vis ml-3" data-column="4">@Html.DisplayNameFor(model => model.Food)</a>
    </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            //// Setup - add a text input to each footer cell
            //$('#DataList .search-table td').each(function() {
            //    var title = $(this).text();
            //    if (title.length >3)
            //    $(this).html('<input type="text" class="form-control" placeholder="جستجو ' + title + '" />');
            //});
          var table =  $('#DataList').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Welfare/RestaurantFoodProgram/List",
                    "type": "POST",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "id", "name": "id" },
                    {"data": "Date", "name": "Date" },
                    { "data": "Restaurant", "name": "Restaurant" },
                    { "data": "Meal", "name": "Meal" },
                    {"data": "Food", "name": "Food" },
							
                    { "data": "edit", "name": "edit" }
                ],
                "order": [[1, "desc"],[2, "desc"],[3, "desc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                 "columnDefs": [
                    {
                        "orderable": false,
                        
                        "width": "50px",
                        "targets": 0
                    },
                    {
                        "orderable": false,
                        "width": "125px",
                        "targets": 5
                    }
                ] ,
                //initComplete: function() {
                //    var api = this.api();

                //    // Apply the search
                //    api.columns().every(function() {
                //        var that = this;

                //        $('input', this.footer()).on('keyup change', function() {
                //            if (that.search() !== this.value) {
                //                that
                //                    .search(this.value)
                //                    .draw();
                //            }
                //        });
                //    });
                //}
            }).on('xhr.dt',
                function (e, settings, json) {
                    if ($('#DataList_wrapper select').hasClass('custom-select custom-select-sm form-control form-control-sm')) {
                        $('#DataList_wrapper').find('label').each(function () {
                            $(this).parent().append($(this).children());
                        });
                        $('#DataList_wrapper .dataTables_filter').find('input').each(function () {
                            const $this = $(this);
                            $this.attr("placeholder", "جستجو...");
                            $this.removeClass('form-control-sm');
                        });
                        $('#DataList_wrapper .dataTables_length').addClass('d-flex flex-row');
                        $('#DataList_wrapper .dataTables_filter').addClass('md-form rtl');
                        $('#DataList_wrapper select').removeClass(
                            'custom-select custom-select-sm form-control form-control-sm');
                        $('#DataList_wrapper select').addClass('mdb-select');
                        $('#DataList_wrapper .mdb-select').materialSelect();
                        $('#DataList_wrapper .dataTables_filter').find('label').remove();
                        $('#DataList_wrapper .dataTables_length').find('label').remove();
                        $("#DataList_wrapper").children().first().css({ "direction": "ltr" });
                    }
                });;

          //Show / hide columns dynamically
          $('a.toggle-vis').on('click', function (e) {
              e.preventDefault();
 
              // Get the column API object
              var column = table.column( $(this).attr('data-column') );
              // Toggle the visibility
              column.visible( ! column.visible() );
          } );
        });
    </script>
}

