﻿@using MD.PersianDateTime
@model Omidiyeh_Oil_Company___0147.Models.TblRestaurantFoodProgram

@{
    ViewBag.Title = "همگام سازی غذای رزرو شده با برنامه غذایی";
    Layout = "~/Views/Shared/_layout.cshtml";
    var d = new PersianDateTime(DateTime.Now);
    var m = d.Month;
    var y = d.Year;
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("../Restaurant/Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-3 mt-3">
                    <select class="mdb-select md-form md-outline text-right my-0 py-0 disable-toggle-all" id="month" name="month">
                        <option value="" disabled>انتخاب نمایید...</option>
                        <option @if (m == 1) { <text> selected</text>} value="1">فروردین</option>
                        <option @if (m == 2) { <text> selected</text>} value="2">اردیبهشت</option>
                        <option @if (m == 3) { <text> selected</text>} value="3">خرداد</option>
                        <option @if (m == 4) { <text> selected</text>} value="4">تیر</option>
                        <option @if (m == 5) { <text> selected</text>} value="5">مرداد</option>
                        <option @if (m == 6) { <text> selected</text>} value="6">شهریور</option>
                        <option @if (m == 7) { <text> selected</text>} value="7">مهر</option>
                        <option @if (m == 8) { <text> selected</text>} value="8">آبان</option>
                        <option @if (m == 9) { <text> selected</text>} value="9">آذر</option>
                        <option @if (m == 10) { <text> selected</text>} value="10">دی</option>
                        <option @if (m == 11) { <text> selected</text>} value="11">بهمن</option>
                        <option @if (m == 12) { <text> selected</text>} value="12">اسفند</option>
                    </select>
                </div>
                <div class="col-sm-3  mt-3">
                    <select class="mdb-select md-form md-outline text-right my-0 py-0 disable-toggle-all" id="year" name="year">
                        <option value="" disabled>انتخاب نمایید...</option>
                        <option @if (y == 1398) { <text> selected</text>} value="1398">1398</option>
                        <option @if (y == 1399) { <text> selected</text>} value="1399">1399</option>
                        <option @if (y == 1400) { <text> selected</text>} value="1400">1400</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <div>
                        @Html.DropDownList("Restaurant", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                        @Html.LabelFor(model => model.Restaurant)
                        @Html.ValidationMessageFor(model => model.Restaurant, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>


            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="همگام سازی" class="btn btn-blue  font-size-1-25" />
                </div>
            </div>
        </div>
    }

</div>
@section Scripts{
    <script>

        $(document).ready(function () {
            $('#Tab-RestaurantFoodProgram-Sync').addClass('active show').removeClass('d-none');
        });


    </script>
}