﻿@model Omidiyeh_Oil_Company___0147.Models.Log

@{
    ViewBag.Title = "مشاهده لاگ";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="bc-icons  rtl text-right">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb grey lighten-2">
            <li class="breadcrumb-item"><a class="black-text" href="/#">خانه</a><i class="fas fa-caret-left mx-2" aria-hidden="true"></i></li>
            <li class="breadcrumb-item"><a class="black-text" href="#">Library</a><i class="fas fa-caret-left mx-2" aria-hidden="true"></i></li>
            <li class="breadcrumb-item active">Data</li>
        </ol>
    </nav>
</div>
<div class="card rtl text-right">
    <!--Header-->
    <div class="header pt-2 blue-gradient">
        <div class="row d-flex justify-content-start">
            <h3 class=" white-text mt-3 mb-4 pb-1 mx-5">@ViewBag.Title</h3>
        </div>
    </div>
    <h6>@ViewBag.User</h6>
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="row">
                <div class="col-sm-12">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="md-form md-outline form-lg my-3 text-left ltr">
                        <pre>@Model.Body
</pre>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Type)
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="md-form md-outline my-3">

                        @Html.TextBoxFor(model => model.Result, htmlAttributes: new { @class = "form-control text-center" })
                        @Html.LabelFor(model => model.Result)
                        @Html.ValidationMessageFor(model => model.Result, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Device, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Device)
                        @Html.ValidationMessageFor(model => model.Device, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.User, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.User)
                        @Html.ValidationMessageFor(model => model.User, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Time)
                        @Html.ValidationMessageFor(model => model.Time, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
                </div>
            </div>
        </div>
    }

</div>
