﻿@using MD.PersianDateTime
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.Log>

@{
    ViewBag.Title = "لاگ";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    <div class="header pt-2 blue-gradient">
        <div class="row d-flex justify-content-start">
            <h3 class=" white-text mt-3 mb-4 pb-1 mx-5">@ViewBag.Title</h3>
        </div>
    </div>
    <!--Header-->
    <div class="card-body">

        <!--Accordion wrapper-->
        <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#advancedSearch" aria-expanded="true"
                       aria-controls="advancedSearch">
                        <h5 class="">
                            <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">

                    <div class="card-body pt-0">

                        <div class="row">

                            <div class="col-lg-3 col-xl-2  ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Body" name="Body">
                                    <label for="Body" class="active">متن</label>
                                </div>

                            </div>
                            <div class="col-lg-3 col-xl-2">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center advancedSearch" aria-label="sDate" aria-describedby="sDate"
                                           data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                                    <label for="StartDateFa">تاریخ شروع</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="StartDate" class="advancedSearch" id="StartDate" />
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center advancedSearch" aria-label="eDate" aria-describedby="eDate"
                                           data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                                    <label for="EndDateFa">تاریخ پایان</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="EndDate" class="advancedSearch" id="EndDate" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- Accordion card -->


        </div>
        <!-- Accordion wrapper -->
        <table id="DataList" class="table table-striped table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Result)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Device)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Time)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Body)
                    </th>*@
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            //disableBeforeToday: true,
            //fromDate: true,
            selectedDate: today,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            toDate: true,
            selectedDate: tomorrow,
            groupId: "Start-End-Date"
        });
        $(document).ready(function () {
            $('#DataList').DataTable({
                "scrollX": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/logs/List",
                    "type": "POST",
                    "dataType": "json"
                },
                "dom": 'Brt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
                "searching": false,
                buttons: [
                    //'excelHtml5'
                ],
                "displayLength": 10,
                "lengthMenu": [100, 500],
                "columns": [
                    { "data": "id", "name": "id" },
                    { "data": "Title", "name": "Title" },
                    { "data": "Type", "name": "Type" },
                    { "data": "Result", "name": "Result" },
                    { "data": "Device", "name": "Device" },
                    { "data": "User", "name": "User" },
                    { "data": "Time", "name": "Time" },
                    //{ "data": "Body", "name": "Body" },
                    {
                        "data": "edit",
                        "name": "edit",
                        "class": "fit",
                        "orderable": false,
                        "render": function(data, type, row, meta) {
                            return `<a href='/Logs/Edit/${row.DT_RowId
                                }' class='text-success ml-2' ><i class='fas fa-edit fa-2x'></i></a>`;
                        }

                    },
                ],
                "order": [[6, "desc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                "columnDefs": [
                    {
                        "className": 'ltr',
                        "targets": 1
                    },
                    {
                        "orderable": false,

                        "width": "50px",
                        "targets": 0
                    }
                ]
            });

        });
    </script>
}

