﻿@model Omidiyeh_Oil_Company___0147.Models.TblEntryDocument

@{
    ViewBag.Title = "ایجاد Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="card rtl text-right">
	<!--Header-->
    @Html.Partial("..//Tabs")
    <!--Header-->
@using (Html.BeginForm(null,null,FormMethod.Post, new {@class="needs-validation" ,novalidate="novalidate"})) 
{
    @Html.AntiForgeryToken()
    
     <div class="card-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="select-outline my-3">
                @Html.DropDownList("User", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
				@Html.LabelFor(model => model.User)
                @Html.ValidationMessageFor(model => model.User, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.Des, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.Des)
                @Html.ValidationMessageFor(model => model.Des, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.Count)
                @Html.ValidationMessageFor(model => model.Count, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="select-outline my-3">
                @Html.DropDownList("Store", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
				@Html.LabelFor(model => model.Store)
                @Html.ValidationMessageFor(model => model.Store, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.RequestId, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.RequestId)
                @Html.ValidationMessageFor(model => model.RequestId, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.RequestDate)
                @Html.ValidationMessageFor(model => model.RequestDate, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.RequestReason, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.RequestReason)
                @Html.ValidationMessageFor(model => model.RequestReason, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Temp)
    				@Html.LabelFor(model => model.Temp)
                    @Html.ValidationMessageFor(model => model.Temp, "", new { @class = "invalid-feedback mr-2" })
                </div>
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Type)
    				@Html.LabelFor(model => model.Type)
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "invalid-feedback mr-2" })
                </div>
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="select-outline my-3">
                @Html.DropDownList("FromStore", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
				@Html.LabelFor(model => model.FromStore)
                @Html.ValidationMessageFor(model => model.FromStore, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="select-outline my-3">
                @Html.DropDownList("ToPerson", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
				@Html.LabelFor(model => model.ToPerson)
                @Html.ValidationMessageFor(model => model.ToPerson, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
        <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
                <button class="btn btn-link cta  mr-auto" type="submit" id="save">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ثبت اطلاعات</span>
                </button>
            </div>
    </div>
}

</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            $('#Tab--Create').addClass('active show').removeClass('d-none');
        });
    </script>
}
