﻿@model Omidiyeh_Oil_Company___0147.Models.TblEntryDocument

@{
    ViewBag.Title = "ایجاد سند ورود";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_Store_2")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">

            <ul class="stepper linear pt-0" id="custom-validation">
                <li class="step active">
                    <div data-step-label="" class="step-title waves-effect waves-dark">گام اول: انتخاب انبار</div>
                    <div class="step-new-content">
                        <div class="row">
                            <div class="col-md-4 col-xl-3  px-4">
                                <div class="mb-2 mt-2">
                                    <select name="Store" id="Store" class="mdb-select required md-form md-outline mt-0 mb-0 readonly" searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="Store" class="m-active">انبار</label>
                                </div>
                            </div>
                        </div>


                    </div>
                </li>
                <li class="step active">
                    <div class="step-title waves-effect waves-dark">گام دوم: اطلاعات درخواست فیزیکی</div>
                    <div class="step-new-content">
                        <div class="row">

                            <div class="col-md-4 col-xl-3 px-4">
                                <div class="md-form md-outline mt-2 mb-2 input-group">
                                    <input type="text" class="form-control  text-center" name="RequestId" id="RequestId" required value="@(Model?.RequestId)">
                                    <label for="RequestId" class="m-active">شماره</label>
                                    <div class="input-group-prepend" id="prependRequestId">
                                        <span class="input-group-text ">
                                            <i class="fas fa-list-ol " aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.RequestId, "", new { @class = "invalid-feedback mr-2" })
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-3 px-4">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center readonly" aria-label="sDate" aria-describedby="sDate"
                                           data-val="true" data-val-required=" " id="RequestDateFa" name="RequestDateFa" value="">
                                    <label for="RequestDateFa">تاریخ </label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="RequestDate" id="RequestDate" />
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            @*<div class="col-md-12 col-lg-6  px-4">
                                <div class="md-form md-outline">
                                    <textarea class="form-control font-size-0-80 col-12 md-textarea" name="RequestReason" id="RequestReason"></textarea>
                                    <label for="RequestReason" class="m-active">علت ورود</label>
                                </div>
                            </div>*@
                            <div class="col-md-12 col-lg-6  px-4">
                                <div class="md-form md-outline">
                                    <textarea class="form-control font-size-0-80 col-12 md-textarea" name="Des" id="Des"></textarea>
                                    <label for="Des" class="m-active">توضیحات</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>



            </ul>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
                <button class="btn btn-link cta  mr-auto" type="submit" id="save">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ثبت اطلاعات</span>
                </button>
            </div>
        </div>
    }

</div>

@section Scripts{
    <script>
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#RequestDateFa',
            targetDateSelector: '#RequestDate',
            textFormat: 'yyyy/MM/dd',

            selectedDate: today,
            groupId: "Start-End-Date"
        });


        $(document).ready(function () {
            $('#Tab-EntryDocuments-Create').addClass('active show').removeClass('d-none');
            $('.stepper').mdbStepper();
            Stores('Store',@(Model?.Store));
          //  Products('Product');

        });
    </script>
}
