﻿@model Omidiyeh_Oil_Company___0147.Models.TblEntryDocument

@{
    ViewBag.Title = "مشاهده جزئیات Details + Model.Title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_Store_2")
    <!--Header-->

    <div>
        <dl class="dl-horizontal  mx-5 my-5">

            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.Date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Date)
                </dd>
            </div>


            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.Des)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Des)
                </dd>
            </div>


            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.Count)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Count)
                </dd>
            </div>


            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.RequestId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RequestId)
                </dd>
            </div>


            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.RequestDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RequestDate)
                </dd>
            </div>


            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.RequestReason)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RequestReason)
                </dd>
            </div>


            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.TblUser.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TblUser.UserName)
                </dd>
            </div>


            <div class="row">
                <dt>
                    @Html.DisplayNameFor(model => model.TblStore.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TblStore.Title)
                </dd>
            </div>

        </dl>
    </div>
</div>

