﻿@model Omidiyeh_Oil_Company___0147.Models.TblEntryDocument

@{
    ViewBag.Title = "ویرایش سند ورود";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style type="text/css">
        ul.stepper li a {
            padding: unset;
        }
    </style>
<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_Store_2")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <ul class="stepper linear pt-0" id="custom-validation">
                <li class="step active">
                    <div data-step-label="" class="step-title waves-effect waves-dark"> انبار  <strong class="red-text mr-4">@Model.TblStore1.Title</strong></div>
                    <div class="step-new-content">
                        <div class="row">
                            @*<div class="col-md-4 col-xl-3  px-4">
                                <div class="mb-2 mt-2">
                                    <select name="Store" id="Store" class="mdb-select required md-form md-outline mt-0 mb-0 readonly" searchable="جستجو ..." data-stop-refresh="true" disabled></select>
                                    <label for="Store" class="m-active">انبار</label>
                                </div>
                            </div>*@
                        </div>


                    </div>
                </li>
                <li class="step active">
                    <div class="step-title waves-effect waves-dark">اطلاعات درخواست فیزیکی</div>
                    <div class="step-new-content">
                        <div class="row">

                            <div class="col-md-4 col-xl-3 px-4">
                                <div class="md-form md-outline mt-2 mb-2 input-group">
                                    <input type="text" class="form-control  text-center" name="RequestId" id="RequestId" required value="@Model.RequestId">
                                    <label for="RequestId" class="m-active">شماره</label>
                                    <div class="input-group-prepend" id="prependRequestId">
                                        <span class="input-group-text ">
                                            <i class="fas fa-list-ol " aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-3 px-4">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center readonly" aria-label="sDate" aria-describedby="sDate"
                                           data-val="true" data-val-required=" " id="RequestDateFa" name="RequestDateFa" value="">
                                    <label for="RequestDateFa">تاریخ </label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="RequestDate" id="RequestDate" />
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            @*<div class="col-md-12 col-lg-6  px-4">
                                <div class="md-form md-outline">
                                    <textarea class="form-control font-size-0-80 col-12 md-textarea" name="RequestReason" id="RequestReason">@Model.RequestReason</textarea>
                                    <label for="des" class="m-active">علت ورود</label>
                                </div>
                            </div>*@
                            <div class="col-md-12 col-lg-6  px-4">
                                <div class="md-form md-outline">
                                    <textarea class="form-control font-size-0-80 col-12 md-textarea" name="Des" id="Des">@Model.Des</textarea>
                                    <label for="Des" class="m-active">توضیحات</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="step active">
                    <div class="step-title waves-effect waves-dark"> کالا</div>
                    <div class="step-new-content">
                        <div class="row">

                            <div class="col-md-4 col-xl-3 px-4">
                                <div class="md-form md-outline my-1 input-group">
                                    <input type="text" class="form-control  text-center disabled" name="ProductName" id="ProductName"
                                           ata-toggle="modal" data-target="#modalProduct">
                                    <label for="ProductName" class="m-active">کالا</label>
                                    <div class="input-group-prepend" id="prependProduct" data-toggle="modal" data-target="#modalProduct">
                                        <span class="input-group-text " id="basic-text1">
                                            <i class="fas fa-search " aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <input type="hidden" name="Product" id="Product" class="advancedSearch" />
                                </div>
                                @*<div class="md-form md-outline mt-2 mb-2 input-group">
                                    <input type="number" class="form-control  text-center" name="Product" id="Product">
                                    <label for="Product" class="m-active">کد کالا</label>
                                    <div class="input-group-prepend" id="prependProduct" data-toggle="modal" data-target="#modalProduct">
                                        <span class="input-group-text " id="basic-text1">
                                            <i class="fas fa-search " aria-hidden="true"></i>
                                        </span>
                                    </div>

                                </div>
                                <div class="blue-grey-text text-right mt-2">
                                    <i class="fab fa-product-hunt  text-success"></i> <span id="ProductName"></span>

                                </div>*@
                            </div>

                            <div class="col-md-4 col-xl-3 px-4">
                                <div class="md-form md-outline mt-2 mb-2 input-group">
                                    <input type="text" class="form-control  text-center" name="Count" id="Count" required value="1">
                                    <label for="RequestId" class="m-active">تعداد</label>
                                    <div class="input-group-prepend" id="prependRequestId">
                                        <span class="input-group-text ">
                                            <i class="fas fa-list-ol " aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3  px-4">
                                <div class="md-form md-outline  mt-2">
                                    <textarea class="form-control font-size-0-80 col-12 md-textarea" name="Code" id="Code" rows="2"></textarea>
                                    <label for="Code" class="m-active">رمز اموال</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="waves-effect btn btn-link mr-auto text-primary p-0"
                                        style="vertical-align:text-top" type="button" name="addToList" id="addToList">
                                    <i class="fas fa-plus-square ml-2 fa-2x "></i>
                                    <span class="align-top lh24 border-bottom"> افزودن به لیست</span>
                                </button>
                            </div>


                        </div>
                        <div class="row">
                            <div id="upd" class="mt-4 table-responsive col-12">
                                <table id="DataList" class="table table-striped table-hover table-sm" style="width: 100%; ">
                                    <thead>
                                        <tr>
                                            <th>کد کالا</th>
                                            <th>
                                                کالا
                                            </th>
                                            <th>
                                                تعداد
                                            </th>
                                            <th>
                                                واحد
                                            </th>
                                            <th>
                                                رمز اموال
                                            </th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>


            </ul>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
                <button class="btn btn-link cta  mr-auto" type="submit" id="save">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ثبت اطلاعات</span>
                </button>
            </div>
        </div>
    }
    <div class="modal fade rtl" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body rtl text-right mx-3 ">
                    <!--Accordion wrapper-->
                    <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">
                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingOne1">
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                   aria-controls="collapseOne1">
                                    <h5 class="">
                                        <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                                    </h5>
                                </a>
                            </div>
                            <!-- Card body -->
                            <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="md-form md-outline form-sm my-1">
                                                <input type="text" class="form-control text-center advancedSearch" id="ProductTitle" name="ProductTitle">
                                                <label for="ProductTitle" class="active">نام کالا</label>
                                            </div>
                                        </div>
                                        <div class="col-4 ">
                                            <div class="select-outline my-1">
                                                <select name="ProductCategory1" id="ProductCategory1" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all" searchable="جستجو ..." data-stop-refresh="true" ></select>
                                                <label for="ProductCategory1" class="m-active">دسته بندی اصلی</label>
                                            </div>
                                        </div>

                                        <div class="col-4 ">
                                            <div class="select-outline my-1">
                                                <select name="ProductCategory2" id="ProductCategory2" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch  disable-toggle-all" searchable="جستجو ..." data-stop-refresh="true" ></select>
                                                <label for="ProductCategory2" class="m-active">دسته بندی فرعی</label>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->
                    </div>
                    <!-- Accordion wrapper -->
                    @Html.Action("ModalItems", "Products", new { area = "Store" })
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var tProduct;
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#RequestDateFa',
            targetDateSelector: '#RequestDate',
            textFormat: 'yyyy/MM/dd',

            selectedDate: new Date('@Model.RequestDate'),
            groupId: "Start-End-Date"
        });

        function addFromModal(item, name) {
            $("#Product").val(item);
            $("#ProductName").val(name);
            $('#modalProduct').modal('hide');

        }

        function addToList(e) {
            // console.log($("#AccountNumber").val());
            if ($("form").valid() === true &&
                validateSelect(e) &&
                $("#Product").val().length > 1 &&
                $("#Count").val() > 0) {

                $.ajax({
                    url: "/Store/EntryDocuments/AddProduct",
                    data: {
                        // meals: meals,
                        product: $("#Product").val(),
                        count: $("#Count").val(),
                        id: @Model.Id,
                        code: $("#Code").val(),
                        name:  $("#ProductName").text()

                    },
                    type: 'POST',
                    success: function(data) {
                        toastr[data.Type](data.Msg.split(";")[0]);
                        //console.log(data);
                        if (data.Result === true) {
                            tProduct.draw();
                            $("#Product").val('');
                            $("#ProductName").text('');
                            $("#Count").val(1);
                            $("#Code").val('');
                        }
                    },
                    error: function(data) {
                        //console.log(data);
                        toastr["error"](
                            `هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small><br />10`);
                    }
                }).then(function() {

                });
            }
        }
        function deleteItem(id, title) {
            $.confirm({
                animation: 'zoom',
                closeAnimation: 'scale',
                escapeKey: true,
                backgroundDismiss: true,
                title: 'برای حذف اطمینان دارید؟',
                titleClass: "rtl text-right red-text",
                content: ' ' + title,
                rtl: true,
                type: 'red',
                typeAnimated: true,
                buttons: {
                    ok: {
                        text: 'حذف',
                        btnClass: 'btn-danger',
                        action: function() {
                            $.ajax({
                                url: "/Store/EntryDocuments/DeleteProduct/",
                                data: {
                                    id: id
                                },
                                type: 'POST',
                                success: function(data) {
                                    toastr[data.Type](data.Msg);
                                    if (data.Result === true) {
                                        tProduct.draw();
                                        //setTimeout(function() {
                                        //        location.reload();
                                        //    },
                                        //    3000);
                                    }

                                }
                            });
                        }
                    },
                    close: {
                        text: 'انصراف',
                        btnClass: 'btn-outline',
                        action: function() {
                        }
                    },
                }
            });

        }
        $(document).ready(function() {
            $('#Tab-EntryDocuments-Edit').addClass('active show').removeClass('d-none');
            $('.stepper').mdbStepper();
            Stores('Store', @Model.Store);

            Category1("ProductCategory1");
            $('#ProductCategory1').on('change',
                function (e) {
                    Category2('ProductCategory2', $("#ProductCategory1").children("option:selected").val());
                });
            $('#addToList').on('click',
                function(e) {
                    addToList(e);
                });
            tProduct = $('#DataList').DataTable({
                "stateSave": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Store/EntryDocuments/ListProduct/@Model.Id",
                    "type": "POST",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "ProductId", "name": "ProductId" },
                    { "data": "Title", "name": "TblProduct.Title" },
                    { "data": "Count", "name": "Count" },
                    { "data": "Unit", "name": "Unit" },
                    { "data": "Code", "name": "Code" },
                    {
                        "data": "edit", "name": "edit", "class": "fit", "orderable": false,
                        "render": function (data, type, row, meta) {

                            return `<span class='text-danger cursor-pointer' id="check${row.Id}"
                            onclick="deleteItem(${row.Id},'${row.Title}')">
                            <i class='fas fa-trash-alt fa-lg ml-2'></i></span>`;
                        }
                    }
                ],
                "paging": false,
                
                "dom": 'rt',
                "order": [[1, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                }
            });


            //#region ProductListModal
            const t = $('#DataListModalProduct').DataTable({
                //"stateSave": true,
                "processing": false,
                "serverSide": true,
                "ajax": {
                    "url": "/Store/Products/List",
                    "type": "POST",
                    "dataType": "json",
                    "data": function(d) {
                        d['Title'] = $('#ProductTitle').val();
                        //d['Des'] = $('#Des').val();
                        d.Category1 = $('#ProductCategory1').val();
                        d.Category2 = $('#ProductCategory2').val();
                        //d.Shelflife = $('#Shelflife').val();
                        //d.Threshold = $('#Threshold').val();
                        //d.Requestable = $('#Requestable').val();
                        //d.Repairable = $('#Repairable').val();
                        d.Remove = false;
                    }
                },
                "dom": 'rt<"row"<"col-6"i><"col-6"p>>',
                //"dom": 'rt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
                "columns": [
                    { "data": "DT_RowId", "name": "DT_RowId", "orderable": false, visible: true },
                    { "data": "Title", "name": "Title" },
                    { "data": "Count", "name": "Count" },
                    { "data": "Category1Title", "name": "TblCategory1.Title" },
                    { "data": "Category2Title", "name": "TblCategory2.Title" },
                    { "data": "Unit", "name": "TblProductUnit.Title" },
                    {
                        "orderable": false,
                        "data": "edit",
                        "name": "edit",
                        "class": "font-size-0-75 fit",
                        "render": function(data, type, row, meta) {
                            return `<span class='blue-text cursor-pointer' id="check${row.DT_RowId}"
                            onclick="addFromModal(${row.DT_RowId},'${row.Title}')">
                            <i class='fas fa-plus-square fa-lg ml-2'></i><span class="">انتخاب</span></span>`;
                        }
                    }
                ],
                "pageLength": 10,
                "order": [[1, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                }
            });

            //#region Advanced Search
            $('.advancedSearch').on('keyup',
                function (e) {
                    t.draw();
                    ///* ENTER Tab Space PRESSED*/
                    //if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                    //    t.draw();
                    //}
                });
            $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                function(e) {
                    t.draw();
                });

            //#endregion
            //#endregion
        });
    </script>
}
