﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblEntryDocument>

@{
    ViewBag.Title = "سند ورود";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_Store_2")
    <!--Header-->
    <!--Accordion wrapper-->
    <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">

        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingOne1">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#advancedSearch" aria-expanded="true"
                   aria-controls="advancedSearch">
                    <h5 class="">
                        <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                    </h5>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">

                <div class="card-body pt-0">

                    <div class="row">
                        @*<div class="col-lg-3 col-xl-2">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Title" name="Title">
                                    <label for="Title" class="active">عنوان</label>
                                </div>

                            </div>*@
                        <div class="col-lg-3 col-xl-2 ">
                            <div class="select-outline my-1">
                                <select name="Store" id="Store" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch " searchable="جستجو ..." data-stop-refresh="true"></select>
                                <label for="Store" class="m-active">انبار</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xl-2">
                            <div class="md-form md-outline my-1 input-group">
                                <input type="text" class="form-control text-center advancedSearch" aria-label="sDate" aria-describedby="sDate"
                                       data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                                <label for="StartDateFa">تاریخ شروع</label>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                                </div>
                                <input type="hidden" name="StartDate" class="advancedSearch" id="StartDate" />
                            </div>
                        </div>
                        <div class="col-lg-3 col-xl-2">
                            <div class="md-form md-outline my-1 input-group">
                                <input type="text" class="form-control text-center advancedSearch" aria-label="eDate" aria-describedby="eDate"
                                       data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                                <label for="EndDateFa">تاریخ پایان</label>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                                </div>
                                <input type="hidden" name="EndDate" class="advancedSearch" id="EndDate" />
                            </div>
                        </div>

                        <div class="col-lg-3 col-xl-2 ">
                            <div class="md-form md-outline form-sm my-1">
                                <input type="text" class="form-control text-center advancedSearch" id="Des" name="Des">
                                <label for="Des" class="active">توضیحات</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xl-3">
                            <div class="md-form md-outline my-1 input-group">
                                <input type="text" class="form-control  text-center disabled" name="ProductName" id="ProductName"
                                       ata-toggle="modal" data-target="#modalProduct">
                                <label for="ProductName" class="m-active">کالا</label>
                                <div class="input-group-prepend" id="prependProduct" data-toggle="modal" data-target="#modalProduct">
                                    <span class="input-group-text " id="basic-text1">
                                        <i class="fas fa-search " aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input type="hidden" name="Product" id="Product" class="advancedSearch" />
                            </div>


                        </div>


                    </div>
                </div>
            </div>

        </div>
        <!-- Accordion card -->


    </div>
    <!-- Accordion wrapper -->
    <div class="modal fade rtl" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body rtl text-right mx-3 ">
                    <!--Accordion wrapper-->
                    <div class="accordion md-accordion " id="accordionEx1" role="tablist" aria-multiselectable="true">
                        <!-- Accordion card -->
                        <div class="card">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingOne11">
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                   aria-controls="collapseOne1">
                                    <h5 class="">
                                        <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                                    </h5>
                                </a>
                            </div>
                            <!-- Card body -->
                            <div id="collapseOne12" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="md-form md-outline form-sm my-1">
                                                <input type="text" class="form-control text-center advancedSearch2" id="ProductTitle" name="ProductTitle">
                                                <label for="ProductTitle" class="active">نام کالا</label>
                                            </div>
                                        </div>
                                        <div class="col-4 ">
                                            <div class="select-outline my-1">
                                                <select name="ProductCategory1" id="ProductCategory1" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch2 disable-toggle-all" searchable="جستجو ..." data-stop-refresh="true"></select>
                                                <label for="ProductCategory1" class="m-active">دسته بندی اصلی</label>
                                            </div>
                                        </div>

                                        <div class="col-4 ">
                                            <div class="select-outline my-1">
                                                <select name="ProductCategory2" id="ProductCategory2" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch2  disable-toggle-all" searchable="جستجو ..." data-stop-refresh="true"></select>
                                                <label for="ProductCategory2" class="m-active">دسته بندی فرعی</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->
                    </div>
                    <!-- Accordion wrapper -->
                    @Html.Action("ModalItems", "Products", new { area = "Store" })
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">

        <table id="DataList" class="table table-striped table-hover table-sm" style="width: 100%;">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>


                    <th>
                        @Html.DisplayNameFor(model => model.RequestId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RequestDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RequestReason)
                    </th>
                    <th>
                        کاربر
                    </th>
                    <th>
                        انبار
                    </th>
                    <th>تعداد کالا</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script>   var t;
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            //disableBeforeToday: true,
            //fromDate: true,
            selectedDate: lastYear,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            toDate: true,
            selectedDate: today,
            groupId: "Start-End-Date"
        });
        function addFromModal(item, name) {
            $("#Product").val(item);
            $("#Product").change();
            $("#ProductName").val(name);
            $('#modalProduct').modal('hide');

        }
        function deleteItem(id, title) {
            $.confirm({
                animation: 'zoom',
                closeAnimation: 'scale',
                escapeKey: true,
                backgroundDismiss: true,
                title: 'برای حذف اطمینان دارید؟',
                titleClass: "rtl text-right red-text",
                content: ' ' + title,
                rtl: true,
                type: 'red',
                typeAnimated: true,
                buttons: {
                    ok: {
                        text: 'حذف',
                        btnClass: 'btn-danger',
                        action: function() {
                            $.ajax({
                                url: "/Store/EntryDocuments/Delete/",
                                data: {
                                    id: id
                                },
                                type: 'POST',
                                success: function(data) {
                                    toastr[data.Type](data.Msg);
                                    if (data.Result === true) {
                                        t.draw();
                                        //setTimeout(function() {
                                        //        location.reload();
                                        //    },
                                        //    3000);
                                    }

                                }
                            });
                        }
                    },
                    close: {
                        text: 'انصراف',
                        btnClass: 'btn-outline',
                        action: function() {
                        }
                    },
                }
            });

        }
        $(document).ready(function () {
            $('#Tab-EntryDocuments').addClass('active show');
            $('#Tab-EntryDocuments-Create').removeClass('d-none');
            Stores('Store');
           t= $('#DataList').DataTable({
                "stateSave": true,
                "processing": true,
                "serverSide": true,
                "searching": false,
                "dom": 'rt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
                "displayLength": 50,
                "lengthMenu": [50, 100, 500, 1000, 2000],
                "ajax": {
                    "url": "/Store/EntryDocuments/List",
                    "type": "POST",
                    "dataType": "json",
                    "data": function (d) {
                        d.StartDate = $('#StartDate').val();
                        d.EndDate = $('#EndDate').val();
                       
                        d['Des'] = $('#Des').val();
                        
                        d.Store = $('#Store').val();
                        d.Product = $('#Product').val();
                       
                    }
                },
                "columns": [
                    { "data": "id", "name": "id", "orderable": false, "class": "fit"  },
                    { "data": "Date", "name": "Date" },


                    { "data": "RequestId", "name": "RequestId" },
                    { "data": "RequestDate", "name": "RequestDate" },
                    { "data": "RequestReason", "name": "RequestReason" },
                    { "data": "User", "name": "TblUser.TblPerson.Name" },
                    { "data": "Store", "name": "TblStore.Title" },
                    { "data": "Sum", "name": "Sum", "orderable": false, "class": "fit" },
                    {
                "data": null,
                "name": "edit",
                "class": "text-left fit",
                "orderable": false,
                "render": function(data, type, row, meta) {
                    return `<a href='/Store/EntryDocuments/Edit/${row.Id}' class='text-success ml-2' ><i class='fas fa-edit fa-lg'></i></a> 
                                     <i class='fas fa-trash-alt fa-lg red-text cursor-pointer ml-2' onclick='deleteItem(${row.DT_RowId},"سند شماره  ${row.RequestId}")'></i> `;
                }
           }
                ],
                "order": [[1, "desc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                }
                
            }).on('processing.dt',
                function (e, settings, processing) {
                    $('#processingIndicator').css('display', 'none');

                });
            //#region Advanced Search

            $('.advancedSearch').on('change',
                function (e) {
                  
                    t.draw();
                    ///* ENTER Tab Space PRESSED*/
                    //if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                    //    t.draw();
                    //}
                });
            $('select.advancedSearch').on('change',
                function (e) {
                   
                    t.draw();
                });

            //#endregion


            Category1("ProductCategory1");
            $('#ProductCategory1').on('change',
                function (e) {
                    Category2('ProductCategory2', $("#ProductCategory1").children("option:selected").val());
                });
            //#region ProductListModal
            const tProduct = $('#DataListModalProduct').DataTable({
                //"stateSave": true,
                "processing": false,
                "serverSide": true,
                "ajax": {
                    "url": "/Store/Products/List",
                    "type": "POST",
                    "dataType": "json",
                    "data": function (d) {
                        d['Title'] = $('#ProductTitle').val();
                        //d['Des'] = $('#Des').val();
                        d.Category1 = $('#ProductCategory1').val();
                        d.Category2 = $('#ProductCategory2').val();
                        //d.Shelflife = $('#Shelflife').val();
                        //d.Threshold = $('#Threshold').val();
                        //d.Requestable = $('#Requestable').val();
                        //d.Repairable = $('#Repairable').val();
                        d.Remove = false;
                    }
                },
                "dom": 'rt<"row"<"col-6"i><"col-6"p>>',
                //"dom": 'rt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
                "columns": [
                    { "data": "DT_RowId", "name": "DT_RowId", "orderable": false, visible: true },
                    { "data": "Title", "name": "Title" },
                    { "data": "Count", "name": "Count" },
                    { "data": "Category1Title", "name": "TblCategory1.Title" },
                    { "data": "Category2Title", "name": "TblCategory2.Title" },
                    { "data": "Unit", "name": "TblProductUnit.Title" },
                    {
                        "orderable": false,
                        "data": "edit",
                        "name": "edit",
                        "class": "font-size-0-75 fit",
                        "render": function (data, type, row, meta) {
                            return `<span class='blue-text cursor-pointer' id="check${row.DT_RowId}"
                            onclick="addFromModal(${row.DT_RowId},'${row.Title}')">
                            <i class='fas fa-plus-square fa-lg ml-2'></i><span class="">انتخاب</span></span>`;
                        }
                    }
                ],
                "pageLength": 10,
                "order": [[1, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                }
            });

            //#region Advanced Search
            $('.advancedSearch2').on('keyup',
                function (e) {
                    tProduct.draw();
                    ///* ENTER Tab Space PRESSED*/
                    //if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                    //    t.draw();
                    //}
                });
            $('select.advancedSearch2, input[type=hidden].advancedSearch2').on('change',
                function (e) {
                   
                    tProduct.draw();
                });

            //#endregion
            //#endregion
        });
    </script>
}

