﻿@model Omidiyeh_Oil_Company___0147.Models.TblDriver

@{
    ViewBag.Title = "ویرایش Edit";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Family, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Family)
                        @Html.ValidationMessageFor(model => model.Family, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.NationalCode, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.NationalCode)
                        @Html.ValidationMessageFor(model => model.NationalCode, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.DrivingLicence, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.DrivingLicence)
                        @Html.ValidationMessageFor(model => model.DrivingLicence, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="md-form md-outline form-lg my-2 input-group">
                        <input type="text" class="form-control text-center" aria-label="rdate" aria-describedby="rdate"
                               data-val="true" data-val-required=" " id="BirthDateFa" name="BirthDateFa" value="">
                        <label for="BirthDateFa">تاریخ تولد</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="rdate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        @Html.HiddenFor(model => model.BirthDate)
                    </div>
                </div>
            </div>

            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
                </div>
            </div>
        </div>
    }

</div>
@section Scripts{
    <script>
        $('#rdate').MdPersianDateTimePicker({
            targetTextSelector: '#BirthDateFa',
            targetDateSelector: '#BirthDate',
            textFormat: 'yyyy/MM/dd',
            disableBeforeToday: true,
           
        });

        $(document).ready(function () {
            $('#Tab-Driver-Edit').addClass('active show').removeClass('d-none');

        });
    </script>
}