﻿@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblManagement>

@{
    ViewBag.Title = "مدیریت ها";
    Layout = "~/Views/Shared/_layout.cshtml";
}


    <div class="card rtl text-right">
        <!--Header-->
        @Html.Partial("../Company/Tabs")
        <!--Header-->
        <div class="card-body">
            <table id="DataList" class="table table-striped table-hover" style="width: 100%; ">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>تعداد ادارات</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Subsidiary)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TblSubsidiary.Company)
                        </th>

                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Tab-Management').addClass('active show');
            $('#Tab-Management-Create').removeClass('d-none');
          var t=  $('#DataList').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                                "url": "/Management/List",
                                "type": "POST",
                                "dataType": "json"
                 },
                "columns": [
                    { "data": "id", "name": "id" },
                    { "data": "Title", "name": "Title" },
                    { "data": "OfficeCount", "name": "TblOffices.Count()" },
                    { "data": "Subsidiary", "name": "TblSubsidiary.Title" },
                    { "data": "Company", "name": "TblSubsidiary.TblCompany.Title" },
                    {
                        "data": "edit",
                        "name": "edit",
                        "render": function (data, type, row, meta) {
                            return row.DT_RowId === 0 ? '' :
                                `<a href='/Management/Edit/${row.DT_RowId}' class='text-success ml-2' ><i class='fas fa-edit fa-2x'></i></a>
                                    <a href='/Management/Delete/${row.DT_RowId}' class='text-danger' ><i class='fas fas fa-trash-alt fa-2x'></i></a> `;
                        }
                    }
                ],
                "order": [[4, "asc"],[3, "asc"],[1, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                "columnDefs": [
                    {
                        "searchable": false,
                        "orderable": false,
                        "width": "50px",
                        "targets": 0
                    },
                    {
                        "orderable": false,
                        "width": "125px",
                        "targets":5
                    }
                ]
            }).on('xhr.dt',
                function (e, settings, json) {
                    if ($('#DataList_wrapper select').hasClass('custom-select custom-select-sm form-control form-control-sm')) {
                        $('#DataList_wrapper').find('label').each(function () {
                            $(this).parent().append($(this).children());
                        });
                        $('#DataList_wrapper .dataTables_filter').find('input').each(function () {
                            const $this = $(this);
                            $this.attr("placeholder", "جستجو...");
                            $this.removeClass('form-control-sm');
                        });
                        $('#DataList_wrapper .dataTables_length').addClass('d-flex flex-row');
                        $('#DataList_wrapper .dataTables_filter').addClass('md-form rtl');
                        $('#DataList_wrapper select').removeClass(
                            'custom-select custom-select-sm form-control form-control-sm');
                        $('#DataList_wrapper select').addClass('mdb-select');
                        $('#DataList_wrapper .mdb-select').materialSelect();
                        $('#DataList_wrapper .dataTables_filter').find('label').remove();
                        $('#DataList_wrapper .dataTables_length').find('label').remove();
                        $("#DataList_wrapper").children().first().css({ "direction": "ltr" });
                    }
                });
          //شماره گذاری سطر های جدول
          t.on('order.dt search.dt',
              function () {
                  t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                      cell.innerHTML = i + 1;
                  });
              }).draw();

        });
    </script>
}

