﻿@model Omidiyeh_Oil_Company___0147.Models.TblBookingRequest

@{
    ViewBag.Title = "اختصاص نفرات به وسیله نقلیه";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style type="text/css">

    .select-wrapper.md-form.md-outline input.select-dropdown {
        white-space: pre !important;
    }
    [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
        
        opacity: 1;
    }

</style>
<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_Booking")
    <!--Header-->

    <div class="card-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           
        <div class="row">
           
            <div class="col-sm-3 px-3">
                <div class="md-form md-outline   mt-2 mb-0 input-group">
                    <input type="text" class="form-control font-size-0-90  text-center advancedSearch" aria-label="sDate" aria-describedby="sDate"
                           data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                    <label for="StartDateFa">تاریخ سفر</label>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    <input type="hidden" name="StartDate" id="StartDate" />
                </div>
            </div>
            <div class="col-sm-3  px-3">
                <div class="select-outline  mt-2 mb-0">
                    <select name="Trip" id="Trip" class="mdb-select required do-select md-form md-outline font-size-0-90 mt-0 mb-0 advancedSearch" searchable="جستجو ..." data-stop-refresh="true"></select>
                    <label for="Trip" class="m-active">سفر </label>
                </div>

            </div>
            <div class="col-sm-3 px-3">
                <div class="select-outline  mt-2  mb-2">
                    <select name="Code" id="Code" class="mdb-select not-required  md-form md-outline mt-0 mb-0 text-center advancedSearch" searchable="جستجو ..." data-stop-refresh="true" data-label-no-search-results="موردی یافت نشد">
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="7">7</option>
                        <option value="12">12</option>
                    </select>
                    <label for="Code" class="m-active">کد اولویت</label>
                </div>
            </div>



        </div>

            <div class="row mt-4">
                <div class="col-sm-3 px-3">
                    <div class="select-outline mt-0 mb-0">
                        <select name="VehicleType" id="VehicleType" class="mdb-select required md-form md-outline mt-0 mb-0 advancedSearch" searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="VehicleType" class="m-active">نوع وسیله نقلیه</label>
                    </div>
                </div>
                <div class="col-sm-3 px-3">
                    <div class=" mb-2">
                        <select name="Vehicles" id="Vehicles" class="mdb-select not-required  md-form md-outline mt-0 mb-0 text-right disable-toggle-all advancedSearch" searchable="جستجو ..." data-stop-refresh="true" data-label-no-search-results="موردی یافت نشد"></select>
                        <label for="Vehicles" class="m-active">وسیله نقلیه</label>
                    </div>
                </div>
                <div class="col-sm-3 px-3">
                    <div class=" mb-2">
                        <select name="Driver" id="Driver" class="mdb-select not-required  md-form md-outline mt-0 mb-0 advancedSearch" searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="Driver" class="m-active">راننده</label>
                    </div>
                </div>
            </div>


           
            <blockquote class="blockquote text-right mb-0 bq-primary  mt-3 mb-5 ">
                <div class="row">
                    <div class="col-6">
                        <table id="DataList" class="table py-0 table-hover font-size-0-75 text-bold table-bordered lh1" style="width: 100%;">
                            <thead>
                                <tr class="black-text cloudy-knoxville-gradient no-border">
                                    <th></th>
                                    <th></th>
                                    <th class="text-nowrap">شماره پرسنلی</th>
                                    <th>نام</th>
                                    <th class="text-nowrap">نام خانوادگی</th>
                                    <th>تاریخ درخواست</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-6">
                        <table id="DataList2" class="table py-0 table-hover font-size-0-75 text-bold table-bordered lh1  table-sm" style="width: 100%;">
                            <thead>
                                <tr class="black-text cloudy-knoxville-gradient no-border">
                                    <th></th>
                                    <th class="text-nowrap">شماره پرسنلی</th>
                                    <th>نام</th>
                                    <th class="text-nowrap">نام خانوادگی</th>
                                    <th>تاریخ درخواست</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </blockquote>
     


            <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">

                <button class="btn btn-link cta  mr-auto" type="button" id="addItemAndNew">
                    <i class="fas fa-search fa-lg"></i>
                    <span>ثبت و درخواست جدید</span>
                </button>
                <button class="btn btn-link cta " type="button" id="addItems">
                    <i class="fas fa-search fa-lg"></i>
                    <span>ثبت درخواست</span>
                </button>

            </div>

            <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">

            </div>


        }
    </div>

</div>


@section Scripts{
    <script>
        var temp;
    
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
           // disableBeforeToday: @(ViewBag.UserGroup == 1 ? "false" : "true"),
            //fromDate: true,
            selectedDate: today,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            disableBeforeToday: @(ViewBag.UserGroup == 1 ? "false" : "true"),
            toDate: true,
            selectedDate: threeDays,
            groupId: "Start-End-Date"
        });

       

     
        $(document).ready(function () {

            $('#Tab-Hospital').addClass('active show');

            VehicleTypes("VehicleType",2);
            AccountNumbers('AccountNumber', 0);
            Vehicles('Vehicles');
          
            $("select#Vehicles").change(function () {
                Drivers(this.value, '#Driver');
            });

            var table = $('#DataList').DataTable({
                //stateSave": true,
                //"processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Travel/BookingRequests/List2",
                    "type": "POST",
                    "dataType": "json",
                    "data": function (d) {
                        d.StartDate = $('#StartDate').val();
                        d.EndDate = $('#StartDate').val();
                        d.VehicleType = $('#VehicleType').val();
                        d.Trip = $('#Trip').val();
                        d.BookingCode = $('#Code').val();
                    }
                },

                "dom": 'Brt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',

                "searching": false,
                buttons: [
                    //'excelHtml5'
                ],
                "columns": [
                    { "data": "Group", "name": "Group", "class": "fit", "visible": false }, //0
                    {
                        'data': 'DT_RowId',
                        'checkboxes': {
                            'selectRow': true
                        }
                    },
                    { "data": "PersonnelCode", "name": "PersonnelCode" }, //5
                    { "data": "Name", "name": "Name"}, //1
                    { "data": "Family", "name": "Family" }, //2
                    { "data": "Date", "name": "Date", "class": "fit" }, //6
                ],
                "order": [[0, "desc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                select: {
                    style:    'multi'
                   
                },

                "displayLength": 10000,
                "lengthMenu": [1000, 5000, 10000, 20000],
                orderFixed: [0, 'desc'],
                rowGroup: {
                    startRender: function (rows, group) {

                        // Assign class name to all child rows
                        var groupName = 'group-' + group;
                        console.log(groupName);
                        var rowNodes = rows.nodes();
                        rowNodes.to$().addClass(groupName);

                        // Get selected checkboxes
                        var checkboxesSelected = $('.dt-checkboxes:checked', rowNodes);

                        // Parent checkbox is selected when all child checkboxes are selected
                        var isSelected = (checkboxesSelected.length == rowNodes.length);

                      
                        return '<label><input type="checkbox" class="group-checkbox" data-group-name="' 
                            + groupName + '"' + (isSelected ? ' checked' : '') +'> ' + group + ' (' + rows.count() + ')</label>';


                        return `<div class="row py-2 pr-0 m-0 group blue-text
                                         ${rows.data()[0]['BookingCode'] === 4 ? 'yellow lighten-4' : rows.data()[0]['BookingCode'] === 3 ? 'red lighten-4' : rows.data()[0]['BookingCode'] === 2 ? 'blue lighten-4' : ''}" >
    <div class="col-auto ml-auto">
    <label><input type="checkbox" class="group-checkbox" data-group-name=" ${ groupName } " ${ (isSelected ? ' checked' : '') }>   (${ rows.count() })</label>
    <i class="fas fa-plus-square cu ml-2 cursor-pointer"  data-group="${group}"></i>
    <span class="ml-1  text-black-50">شماره درخواست:</span><span class="text-bold red-text ml-5">${group}</span>
                                                <span class="ml-1  text-black-50">اولویت:</span><span class="text-bold ml-4">${rows.data()[0]['BookingCode']}</span>
                                                <span class="ml-1  text-black-50">حساب:</span><span class="text-bold ml-4">${rows.data()[0]['AccountNumber']}</span>

                                            </div></div>`;
                    },
                    endRender: function (rows, group) {
                        return ` 
                                        `;

                    },

                    dataSrc: 'Group'
                },
            }).on('processing.dt',
                function (e, settings, processing) {
                    $('#processingIndicator').css('display', 'none');

                });

            // Handle click event on group checkbox
            $('#DataList').on('click', '.group-checkbox', function(e){
                // Get group class name
                var groupName = $(this).data('group-name');
                console.log(groupName);
                console.log(table.cells('tr.' + groupName, 0).checkboxes.select(this.checked));
                // Select all child rows
                table.cells('tr.' + groupName, 0).checkboxes.select(this.checked);
            });

            // Handle click event on "Select all" checkbox
            $('#DataList').on('click', 'thead .dt-checkboxes-select-all', function(e){
                var $selectAll = $('input[type="checkbox"]', this);      
                setTimeout(function(){
                    // Select group checkbox based on "Select all" checkbox state
                    $('.group-checkbox').prop('checked', $selectAll.prop('checked'));
                }, 0);
            });     
            //#region Advanced Search


            $('.advancedSearch').on('keypress',
                function (e) {
                    /* ENTER Tab Space PRESSED*/
                    if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                        table.draw();
                    }
                });
            $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                function (e) {
                    table.draw();
                });

            //#endregion

       
            $('#StartDate,#VehicleType').on('change',
                function (e) {
                    Trips('Trip', $("#StartDate").val(), $("#VehicleType").children("option:selected").val());
                });
            
            $('#VehicleType').on('change',
                function (e) {
                    Trips('Trip', $("#StartDate").val(), $("#VehicleType").children("option:selected").val());
                  
                });

          

          


            

        });

    </script>
}
