﻿@model Omidiyeh_Oil_Company___0147.Models.TblBookingRequest

@{
    ViewBag.Title = "ایجاد Create";
    Layout = "~/Views/Shared/_layout.cshtml";
}


    <div class="card rtl text-right">
	<!--Header-->
    <div class="header pt-2 blue-gradient">
        <div class="row d-flex justify-content-start">
            <h3 class=" white-text mt-3 mb-4 pb-1 mx-5">@ViewBag.Title</h3>
        </div>
    </div>
    <!--Header-->
@using (Html.BeginForm(null,null,FormMethod.Post, new {@class="needs-validation" ,novalidate="novalidate"})) 
{
    @Html.AntiForgeryToken()
    
     <div class="card-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="row">
                <div class="col-sm-12">
					<div class="select-outline my-3">
                @Html.DropDownList("Person", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
				@Html.LabelFor(model => model.Person)
                @Html.ValidationMessageFor(model => model.Person, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="select-outline my-3">
                @Html.DropDownList("User", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
				@Html.LabelFor(model => model.User)
                @Html.ValidationMessageFor(model => model.User, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
        <div class="row">
                <div class="col-sm-12">
					<div class="select-outline my-3">
                @Html.DropDownList("OfficeDepartment", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
				@Html.LabelFor(model => model.OfficeDepartment)
                @Html.ValidationMessageFor(model => model.OfficeDepartment, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="select-outline my-3">
                @Html.DropDownList("Trip", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
				@Html.LabelFor(model => model.Trip)
                @Html.ValidationMessageFor(model => model.Trip, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                <div class="checkbox">
                    @Html.EditorFor(model => model.FellowTraveler)
    				@Html.LabelFor(model => model.FellowTraveler)
                    @Html.ValidationMessageFor(model => model.FellowTraveler, "", new { @class = "invalid-feedback mr-2" })
                </div>
        </div></div></div>

		<div class="row">
                <div class="col-sm-12">
					<div class="select-outline my-3">
                @Html.DropDownList("BookingCode", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
				@Html.LabelFor(model => model.BookingCode)
                @Html.ValidationMessageFor(model => model.BookingCode, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.Mobile)
                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>


		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.RequestTime, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.RequestTime)
                @Html.ValidationMessageFor(model => model.RequestTime, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.Des, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.Des)
                @Html.ValidationMessageFor(model => model.Des, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="select-outline my-3">
                @Html.DropDownList("Status", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
				@Html.LabelFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
         <div class="md-form text-left" >
            <div class="col-md-12">
                <input type="submit" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
            </div>
        </div>
    </div>
}

</div>
