﻿@using Omidiyeh_Oil_Company___0147.Models
@model Omidiyeh_Oil_Company___0147.Models.TblBookingRequest
@{
    var person = (TblPerson) ViewBag.Person;

}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()

    <div class="card-body">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="hidden" id="EditId" value="@Model.Id" />
        <div class="row">
            <div class="col-sm-3">
                <div class="md-form md-outline  my-3">
                    <input type="text" class="form-control  text-center  font-size-0-90 lh24 grey lighten-4 border-dotted" id="EditRequestNumber" readonly value="@Model.RequestNumber" />
                    <label for="EditRequestNumber" class="active label-half-white">شماره درخواست</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="md-form md-outline my-3">
                 @*   <input type="text" class="form-control  text-center font-size-0-90 lh24  grey lighten-4 border-dotted" id="EditOffice" readonly value="@person.TblOffice.Title" />*@
                    <label for="EditOffice" class="active label-half-white">اداره</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="md-form md-outline  my-3">
                    <input type="text" class="form-control text-center font-size-0-90 lh24 grey lighten-4 border-dotted" id="EditOfficeDepartment" readonly value="@person.TblOfficeDepartment.Title" />
                    <label for="EditOfficeDepartment" class="active label-half-white">واحد</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="md-form md-outline  my-3">
                    <input type="text" class="form-control text-center font-size-0-90 lh24 grey lighten-4 border-dotted" id="EditAccountNumber" readonly value="@Model.TblOfficeDepartmentAccountNumber.AccountNumber" />
                    <label for="EditAccountNumber" class="active label-half-white">شماره حساب</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="md-form md-outline my-3">
                    <input type="text" class="form-control  text-center font-size-0-90 lh24 grey lighten-4 border-dotted" id="Editperson" readonly value="@person.Fullname()" />
                    <label for="Editperson" class="active bg-danger  label-half-white">متقاضی</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="md-form md-outline  my-3">
                    <input type="text" class="form-control text-center font-size-0-90 lh24 grey lighten-4 border-dotted" id="PersonnelCode" readonly value="@person.PersonnelCode" />
                    <label for="PersonnelCode" class="active  label-half-white">شماره پرسنلی</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="md-form md-outline  my-3">
                    <input type="text" class="form-control  text-center  font-size-0-90 lh24 grey lighten-4 border-dotted" id="EditNationalCode" readonly value="@person.NationalCode" />
                    <label for="EditNationalCode" class="active label-half-white">کد ملی</label>
                </div>
            </div>
            @*<div class="col-sm-3">
                <div class="md-form md-outline my-3">
                    <input class="form-control  text-center  font-size-0-90 lh24 " id="EditTel" name="EditTel" type="text" value="@Model.Tel">
                    <label class="active" for="EditTel">تلفن</label>
                    <span class="field-validation-valid invalid-feedback mr-2" data-valmsg-for="EditTel" data-valmsg-replace="true"></span>
                </div>
               
            </div>*@
        </div>


        <div class="row">
            <div class="col-sm-3">
                <div class="md-form md-outline form-lg my-3 input-group">
                    <input type="text" class="form-control text-center " aria-label="Editrdate" aria-describedby="Editrdate"
                           data-val="true" data-val-required=" " id="EditDateGoFa" name="EditDateGoFa" value="@ViewBag.DateFa">
                    <label for="EditDateGoFa" class="active">تاریخ رفت</label>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="Editrdate"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    <input type="hidden" name="EdiDateGo" id="EdiDateGo" value="@Model.Date" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="md-form md-outline form-lg my-3 input-group">
                    <input type="time" class="form-control text-center "
                           data-val="true" data-val-required=" " id="EditTimeGo" name="EditTimeGo" value="@Model.Time">
                    <label for="EditTimeGo"  class="active">ساعت رفت</label>
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-clock"></i></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="select-outline my-3">
                    @Html.DropDownList("EditVehicleType",(SelectList) ViewBag.VehicleType, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                    <label for="EditVehicleType"  class="active">وسیله نقلیه</label>
                    @Html.ValidationMessageFor(model => model.TblTrip.VehicleType, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="select-outline my-3">
                    @Html.DropDownList("EditRoute", (SelectList) ViewBag.Route, htmlAttributes: new { @class = "mdb-select required do-select md-form md-outline mt-3", searchable = "جستجو ...", data_val = "true", data_val_required = " " })
                    <label for="EditRoute"  class="active">مسیر</label>
                    @Html.ValidationMessageFor(model => model.Route, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="md-form md-outline my-3">
                    <input class="form-control  text-center  font-size-0-90 lh24 " id="EditMobile" name="EditMobile" type="text" value="@Model.Mobile">
                    <label class="active" for="EditMobile">موبایل</label>
                    <span class="field-validation-valid invalid-feedback mr-2" data-valmsg-for="EditMobile" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="md-form md-outline my-3">
                    <input class="form-control  text-center  font-size-0-90 lh24 " id="EditTel" name="EditTel" type="text" value="@Model.Tel">
                    <label class="active" for="EditTel">تلفن</label>
                    <span class="field-validation-valid invalid-feedback mr-2" data-valmsg-for="EditTel" data-valmsg-replace="true"></span>
                </div>
               
            </div>
            @*<div class="col-3">
                <div class="select-outline1 my-3">
                    @Html.DropDownList("EditClaim", null, htmlAttributes: new { @class = "mdb-select not-required do-select md-form md-outline mt-3 text-right", searchable = "جستجو ...", multiple = true, data_label_select_all= " "  })
                    <label for="Claim">باز پرداخت هزینه</label>
                </div>
            </div>*@
            
            <div class="col">
                <div class="form-check mt-4">
                    <input type="checkbox" class="form-check-input Checked" name="EditResidence" id="EditResidence" value="true" @(Model.Residence ? "checked" : " " )>
                    <label class="form-check-label text-nowrap" for="EditResidence">هتل</label>
                </div>
            </div>
            <div class="col">
                <div class="form-check mt-4">
                    <input type="checkbox" class="form-check-input Checked" name="EditFoodLunch" id="EditFoodLunch" value="true" @(Model.FoodLunch ? "checked" : " " )>
                    <label class="form-check-label " for="EditFoodLunch">نهار</label>
                </div>
            </div>
            <div class="col">
                <div class="form-check mt-4">
                    <input type="checkbox" class="form-check-input Checked" name="EditFoodDinner" id="EditFoodDinner" value="true" @(Model.FoodDinner ? "checked" : " " ) >
                    <label class="form-check-label" for="EditFoodDinner">شام</label>
                </div>
            </div>
        </div>
        

        <div class="row">
            <div class="col-sm-12">
                <div class="md-form md-outline my-3">
                    <textarea class="form-control text-center md-textarea" cols="20" id="EditDes" name="EditDes" rows="2">@Model.Des</textarea>
                    <label for="EditDes" class="">توضیحات</label>
                    <span class="field-validation-valid invalid-feedback mr-2" data-valmsg-for="EditDes" data-valmsg-replace="true"></span>
             </div>
            </div>
        </div>

        
        <div class="md-form text-left">
            <div class="col-md-12">
                <input type="button" id="saveEdit" value="ثبت اطلاعات" class="btn blue darken-3 text-white font-size-1-25" />
            </div>
        </div>
    </div>
}
