﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblFoodReservation>

@{
    ViewBag.Title = "مدیریت درخواست بوکینگ";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_Booking")
    <!--Header-->
    <div class="card-body">
        
        <!--Accordion wrapper-->
        <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#advancedSearch" aria-expanded="true"
                       aria-controls="advancedSearch">
                        <h5 class="">
                            <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">

                    <div class="card-body pt-0">

                        <div class="row">
                            <div class="col-lg-3 col-xl-2">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Name" name="Name">
                                    <label for="Name" class="active">نام</label>
                                </div>

                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Family" name="Family">
                                    <label for="Family" class="active">نام خانوادگی</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2  ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="NationalCode" name="NationalCode">
                                    <label for="NationalCode" class="active">کدملی</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2  ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="PersonnelCode" name="PersonnelCode">
                                    <label for="PersonnelCode" class="active">شماره پرسنلی</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2  ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Group" name="Group">
                                    <label for="Group" class="active">شماره درخواست</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2  ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Des" name="Des">
                                    <label for="Des" class="active">توضیحات</label>
                                </div>

                            </div>
                            <div class="col-lg-3 col-xl-2">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center advancedSearch" aria-label="sDate" aria-describedby="sDate"
                                           data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                                    <label for="StartDateFa">تاریخ شروع</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="StartDate" class="advancedSearch" id="StartDate" />
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center advancedSearch" aria-label="eDate" aria-describedby="eDate"
                                           data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                                    <label for="EndDateFa">تاریخ پایان</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="EndDate" class="advancedSearch" id="EndDate" />
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="VehicleType" id="VehicleType" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="VehicleType" class="m-active">وسیله نقلیه</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Origin" id="Origin" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all" data-stop-refresh="true" multiple></select>
                                    <label for="Origin" class="m-active">مبدا</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Destination" id="Destination" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all" data-stop-refresh="true" multiple></select>
                                    <label for="Destination" class="m-active">مقصد</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">


                            </div>

                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="AccountNumber" id="AccountNumber" class="mdb-select required md-form md-outline mt-0 mb-0 text-right readonly disable-toggle-all" searchable="جستجو ..." data-stop-refresh="true" multiple></select>
                                    <label for="AccountNumber" class="m-active">شماره حساب</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Company" id="Company" class="mdb-select not-required md-form md-outline mt-0 mb-0  advancedSearch " searchable="جستجو ..." data-stop-refresh="true">
                                    </select>
                                    <label for="Company" class="m-active">شرکت</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Subsidiary" id="Subsidiary" class="mdb-select not-required md-form md-outline mt-0 mb-0  advancedSearch" searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="Subsidiary" class="m-active">شرکت تابعه</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Management" id="Management" class="mdb-select not-required md-form md-outline mt-0 mb-0  advancedSearch" searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="Management" class="m-active">مدیریت</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Office" id="Office" class="mdb-select not-required md-form md-outline mt-0 mb-0  advancedSearch" searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="Office" class="m-active">اداره</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="OfficeDepartment" id="OfficeDepartment" class="mdb-select not-required md-form md-outline mt-0 mb-0  advancedSearch small" searchable="جستجو ..." data-stop-refresh="true"></select>

                                    <label for="OfficeDepartment" class="m-active">واحد</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Accordion card -->


        </div>
        <!-- Accordion wrapper -->


        <table id="DataList" class="table py-0 table-hover font-size-0-75 text-bold table-bordered lh1" style="width: 100%;">
            <thead>
            <tr class="black-text cloudy-knoxville-gradient no-border">
                <th></th>
                <th>نام</th>
                <th class="text-nowrap">نام خانوادگی</th>
                <th>موبایل</th>
                <th>کدملی</th>
                <th class="text-nowrap">کدپرسنلی</th>
                <th>تاریخ</th>
                <th>ساعت</th>
                <th>مبدا</th>
                <th>مقصد</th>
                <th class="text-nowrap">وسیله نقلیه</th>


            </tr>
            </thead>
        </table>
    </div>
</div>

<div id="print" class="row"></div>

@section Scripts{
    <script>
        var rowNumber = 1;
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            //disableBeforeToday: true,
            //fromDate: true,
            selectedDate: today,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            toDate: true,
            selectedDate: nextWeek,
            groupId: "Start-End-Date"
        });

        function Print(id) {
            $.ajax({
                url: "/Travel/Report/Report1Items",
                data: { id: id },
                type: 'GET',
                success: function (data) {
                    $('#print').html(data);
                    $('#modalPrint').modal('show');
                },
                error: function (data) {
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function () { });
        }
        $(document).ready(function () {
            $('#Tab-Manage').addClass('active show');
            $('#searchBDate').MdPersianDateTimePicker({
                targetTextSelector: '#searchDateFa',
                targetDateSelector: '#searchDate',
                textFormat: 'yy/MM/dd',
                disableBeforeToday: false,
                rangeSelector: true
            });
            const p = new Promise(function (resolve, reject) {
                //$('#advancedSearch').block({ message: null });
                VehicleTypes("VehicleType");
                AccountNumbers('AccountNumber', 0);

                UserAccess('Company', 0, 'Company');

                $('#Company').on('change',
                    function () {
                        UserAccess('Subsidiary', $(this).val(), 'Subsidiary');
                    });
                $('#Subsidiary').on('change',
                    function () {
                        UserAccess('Management', $(this).val(), 'Management');
                    });
                $('#Management').on('change',
                    function () {
                        UserAccess('Office', $(this).val(), 'Office');
                    });
                $('#Office').on('change',
                    function () {
                        UserAccess('OfficeDepartment', $(this).val(), 'OfficeDepartment');
                    });
                resolve();
            });
            p.then(function () {
                //$('#advancedSearch').unblock();

                var groupColumn = 0;
                var t = $('#DataList').DataTable({
                    //stateSave": true,
                    //"processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "/Travel/BookingRequests/List2",
                        "type": "POST",
                        "dataType": "json",
                        "data": function (d) {
                            d['TblPerson.Name'] = $('#Name').val();
                            d['TblPerson.Family'] = $('#Family').val();
                            d['TblPerson.NationalCode'] = $('#NationalCode').val();
                            d['TblPerson.PersonnelCode'] = $('#PersonnelCode').val();
                            d['TblFoodReservationGroup.TblOfficeDepartmentAccountNumber.TblOfficeDepartment.TblOffice.TblManagement.TblSubsidiary.Company'] = $('#Company').val();
                            d['TblFoodReservationGroup.TblOfficeDepartmentAccountNumber.TblOfficeDepartment.TblOffice.TblManagement.Subsidiary'
                            ] = $('#Subsidiary').val();
                            d['TblFoodReservationGroup.TblOfficeDepartmentAccountNumber.TblOfficeDepartment.TblOffice.Management'
                            ] = $('#Management').val();
                            d['TblFoodReservationGroup.TblOfficeDepartmentAccountNumber.TblOfficeDepartment.Office'] =
                                $('#Office').val();
                            d['TblFoodReservationGroup.TblOfficeDepartmentAccountNumber.OfficeDepartment'] =
                                $('#OfficeDepartment').val();
                            d.StartDate = $('#StartDate').val();
                            d.EndDate = $('#EndDate').val();
                            d.AccountNumber = $('#AccountNumber').val();
                            d.VehicleType = $('#VehicleType').val();
                            d.Group = $('#Group').val();
                            d.Origin = $('#Origin').val();
                            d.Destination = $('#Destination').val();
                            d.User = $('#User').val();

                        }
                    },

                    "dom": 'Brt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',

                    "searching": false,
                    buttons: [
                        //'excelHtml5'
                    ],
                    "columns": [
                        { "data": "Group", "name": "Group", "class": "fit", "visible": false }, //0

                        { "data": "Name", "name": "Name", "class": "fit text-nowrap" }, //1
                        { "data": "Family", "name": "Family", "class": "fit text-nowrap" }, //2
                        { "data": "Mobile", "name": "Mobile" }, //3
                        { "data": "NationalCode", "name": "NationalCode" }, //4
                        { "data": "PersonnelCode", "name": "PersonnelCode" }, //5
                        { "data": "Date", "name": "Date", "class": "fit" }, //6
                        { "data": "Time", "name": "Time" }, //7
                        { "data": "Origin", "name": "Origin" }, //8
                        { "data": "Destination", "name": "Destination" }, //9
                        { "data": "Vehicle", "name": "Vehicle" }, //10


                    ],
                    "order": [[0, "desc"] /*, [2, "desc"], [5, "asc"]*/],
                    "language": {
                        "url": "/Content/js/addons/datatables.persian.json"
                    },

                    "displayLength": 10000,
                    "lengthMenu": [1000, 5000, 10000, 20000],
                    orderFixed: [0, 'desc'],
                    rowGroup: {
                        startRender: function (rows, group) {


                            return `<div class="row py-2 pr-0 m-0 group blue-text
                                         ${rows.data()[0]['BookingCode'] === 4 ? 'yellow lighten-4' : rows.data()[0]['BookingCode'] === 3 ? 'red lighten-4' : rows.data()[0]['BookingCode'] === 2 ? 'blue lighten-4' : ''}" ><div class="col-auto ml-auto">
                                                <i class="fas fa-plus-square cu ml-2 cursor-pointer"  data-group="${group}"></i><span class="ml-1  text-black-50">شماره درخواست:</span><span class="text-bold red-text ml-5">${
                                group}</span>
                                                <span class="ml-1  text-black-50">اولویت:</span><span class="text-bold ml-4">${rows.data()[0]['BookingCode']}</span>
                                                <span class="ml-1  text-black-50">حساب:</span><span class="text-bold ml-4">${rows.data()[0]['AccountNumber']}</span>

                                            </div><div class="col-auto">
        
     <a href="/Travel/Report/Report1Items/${group}"  target="_blank"><i class="fas fa-print blue-text fa-lg" ></i></a>
            <a href="/Travel/BookingRequests/Edit/${group}"><i class="fas fa-edit green-text fa-lg"></i></a>
                                                </div></div>`;
                        },
                        endRender: function (rows, group) {
                            return `<div class="row py-2 pr-3 m-0  group  blue-text white">
                                        <div class="col-auto ml-auto">
                                        <span class="ml-1  text-black-50">تاریخ درخواست:</span><span class="text-bold ml-5"> ${ rows.data()[0]['RequestDate']}</span>
                                        </div>
                                        <div class="col-auto">
                                        <span class="ml-1  text-black-50">کاربر:</span><span class="text-bold ml-2">${rows.data()[0]['User']}</span>
                                        </div>
                                        <div class="col-12 m-0">
                                        ${rows.data()[0]['Des'] === null ? '' : `<br/><span class="ml-1 text-dark text-bold">پیام:</span><span class="text-bold">${rows.data()[0]["Des"]}</span>`}
                                        </div>
                                    <div class="row py-2 m-0 white"><div class="col"></div>
                                        </div>
                                        `;

                        },

                        dataSrc: 'Group'
                    },
                }).on('processing.dt',
                    function (e, settings, processing) {
                        $('#processingIndicator').css('display', 'none');

                    });




                //#region Advanced Search


                $('.advancedSearch').on('keypress',
                    function (e) {
                        /* ENTER Tab Space PRESSED*/
                        if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                            t.draw();
                        }
                    });
                $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                    function (e) {
                        t.draw();
                    });

                //#endregion


            });


        });
    </script>
}

