@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/woff/iranyekanweblight.woff') format('woff'),url('../fonts/ttf/iranyekanweblight.ttf') format('truetype')
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/woff/iranyekanwebregular.woff') format('woff'),url('../fonts/ttf/iranyekanwebregular.ttf') format('truetype')
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/woff/iranyekanwebbold.woff') format('woff'),url('../fonts/ttf/iranyekanwebbold.ttf') format('truetype')
}

@font-face {
    font-family: "YekanNumbers";
    src: url(../fonts/eot/YekanNumbers-Regular.eot?);
    src: url(../fonts/eot/YekanNumbers-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/woff/YekanNumbers-Regular.woff) format("woff"),url(../fonts/ttf/YekanNumbers-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

::-webkit-input-placeholder {
    color: #ccc !important;
    font-size: 80%
}

:-ms-input-placeholder {
    color: #ccc !important;
    font-size: 80%
}

::placeholder {
    color: #ccc !important;
    font-size: 80%
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5
}

body {
    scrollbar-width: thin;
    scrollbar-color: #4285f4 #f5f5f5
}

    body::-webkit-scrollbar-track {
        background-color: #f5f5f5
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 1px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
        background-color: #4285f4
    }

.select-dropdown::-webkit-scrollbar {
    width: 2px;
    background-color: #f5f5f5
}

.select-dropdown {
    scrollbar-width: thin;
    scrollbar-color: #4285f4 #f5f5f5
}
.select-dropdown::-webkit-scrollbar-track {
        background-color: #f5f5f5
    }

    .select-dropdown::-webkit-scrollbar-thumb {
        border-radius: 1px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
        background-color: #4285f4
    }
.custom-select::-webkit-scrollbar {
    width: 2px;
    background-color: #f5f5f5
}

.custom-select {
    scrollbar-width: thin;
    scrollbar-color: #4285f4 #f5f5f5
}
    .custom-select::-webkit-scrollbar-track {
        background-color: #f5f5f5
    }

    .custom-select::-webkit-scrollbar-thumb {
        border-radius: 1px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
        background-color: #4285f4
    }

body, .fa, .popover, .farsi {
    font-family: YekanNumbers,IRANYekan,Tahoma,Arial,sans-serif
}

body, h1, h2, h3, h4, h5, h6 {
    font-weight: 500
}

.rtl {
    direction: rtl !important
}

.ltr {
    direction: ltr !important
}

.pre {
    white-space: pre !important
}

.md-form.md-outline label.active, .md-form.md-outline label.m-active {
    margin-right: 4px;
    background: #fff;
    -webkit-transform: translateY(-8px) scale(.88) !important;
    -ms-transform: translateY(-8px) scale(.88) !important;
    transform: translateY(-8px) scale(.88) !important;
    transform-origin: unset !important
}

table th {
    font-weight: 700
}

.fixed-sn .double-nav, .fixed-sn main, .fixed-sn footer {
    padding-right: 15rem;
    padding-left: 0
}

@media(min-width:1441px) {
    header, main, footer {
        padding-right: 240px
    }
}

@media(max-width:1440px) {
    header, main, footer {
        padding-right: 0
    }
}

.horizontal-group > .row {
    overflow-x: auto
}

.fa-xs {
    font-size: .6rem
}

.counter.discount {
    position: absolute;
    z-index: 2;
    margin-left: -23px;
    -webkit-border-radius: 10em;
    border-radius: 10em;
    padding: 1px 7px;
    background-color: #fe1212;
    font-size: 11px;
    color: #fff;
    left: 0;
    top: 15px
}

.counter.soon {
    position: absolute;
    z-index: 2;
    margin-right: -23px;
    -webkit-border-radius: 10em;
    border-radius: 10em;
    padding: 2px 15px;
    background-color: #fe1212;
    font-size: 11px;
    color: #fff;
    right: 15px;
    top: 22px
}

.side-nav .fa-angle-down.rotate-icon {
    position: absolute;
    left: 0;
    right: auto;
    top: .8rem;
    margin-left: 1.25rem;
    margin-right: 0
}

.side-nav .collapsible .fas {
    margin-left: 8px
}

.needs-validation .md-form label {
    right: 23px;
    left: auto
}

.character-counter {
    float: left !important
}

.md-progress.fixed-bottom {
    position: fixed;
    margin-bottom: 0
}

.hide {
    visibility: hidden
}

.show {
    visibility: visible
}

.display-none {
    display: none
}

.display-block {
    display: block
}

.select-wrapper input.select-dropdown {
    text-align: center;
    padding: .5rem 1rem
}

.form-sm .select-wrapper input.select-dropdown {
    text-align: center;
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1
}

.select-wrapper .search-wrap .md-form input {
    text-align: center;
    margin: 0;
    line-height: 1.5;
    border-radius: 0;
    box-shadow: 0 1px 0 0 #4285f4 !important
}

    .select-wrapper .search-wrap .md-form input:focus {
        box-shadow: 0 1px 0 0 #4285f4 !important;
        border-radius: 0
    }

.select-wrapper span.caret {
    position: absolute;
    left: 0;
    right: auto;
    font-size: .63rem
}

.dropdown-content li > span {
    text-align: center
}

.mdb-select.text-right .dropdown-content li > span {
    text-align: right
}

.text-bold {
    font-weight: 700 !important
}

.text-normal {
    font-weight: 500 !important
}

.min-width-200 {
    width: 180px;
    min-width: 180px !important
}

.min-height-45 {
    height: 44px;
    min-height: 44px;
    max-height: 44px
}

.btn-floating.btn-xs {
    width: 26.15385px;
    height: 26.15385px
}

    .btn-floating.btn-xs i {
        font-size: .76154rem;
        line-height: 26.15385px
    }

.cart.sticky-top {
    top: 50px
}

.lh1 {
    line-height: 1 !important
}
.lh1-5 {
    line-height: 1.5 !important
}
.lh2 {
    line-height: 2 !important
}
.lh24 {
    line-height: 24px !important
}

.lh46 {
    line-height: 46px !important
}
.custom-select.multiline, .custom-select.multiline option {
    line-height: 2.1em !important;
    min-height: 2.1em;
    vertical-align: bottom
}
.counter.counter2 {
    padding: 1px 4px;
    top: 5px;
    margin-left: -43px
}

.counter.counter3 {
    padding: 1px 4px;
    top: -24px;
    margin-left: -3px
}

.page-footer {
    background: none !important
}

.rgba-black-light, .rgba-black-light:after {
    background-color: rgba(0,0,0,.3) !important
}

.my.form-check-input[type=radio]:checked + label, .my.form-check-input[type=radio]:not(:checked) + label, .my label.btn input[type=radio]:checked + label, .my label.btn input[type=radio]:not(:checked) + label {
    padding-right: 35px
}

.my.form-check-input[type=radio] + label:after, .my.form-check-input[type=radio] + label:before, .my label.btn input[type=radio] + label:after, .my label.btn input[type=radio] + label:before {
    right: 0
}

ul.my.stepper {
    counter-reset: section;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0
}

    ul.my.stepper li a .circle {
        margin-left: .5rem
    }

.my.stepper-vertical li .step-content {
    margin-right: 3.13rem;
    margin-left: auto
}

.my.stepper-vertical li:not(:last-child):after {
    content: none
}

.Max-Line-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 14px;
    max-height: 28px;
    min-height: 28px;
    direction: rtl
}

.bc-icons .breadcrumb-item + .breadcrumb-item::before {
    content: none
}

.bc-icons .breadcrumb-item.active {
    color: #455a64
}

.rtl .md-form label {
    left: auto;
    right: 0;
    margin-right: 10px
}

.rtl .md-form.md-outline label.active, .rtl .md-form.md-outline label.m-active {
    right: 0;
    left: unset;
    z-index: 500;
    color: #176ac4 !important
}

table td {
    font-weight: 500
}

.font-size-0-25, table.font-size-0-25 th {
    font-size: .25rem !important
}

.font-size-0-50, .font-size-0-50 input, table.font-size-0-50 th, table.font-size-0-50 td {
    font-size: .65rem !important
}

.font-size-0-75, .font-size-0-75 input, table.font-size-0-75 th, table.font-size-0-75 td {
    font-size: .75rem !important
}

.font-size-0-80 {
    font-size: .8rem !important
}

.font-size-0-90 {
    font-size: .9rem !important
}

.font-size-1 {
    font-size: 1rem !important
}

.font-size-1-25 {
    font-size: 1.25rem !important
}

.font-size-1-5 {
    font-size: 1.5rem !important
}

.font-size-2 {
    font-size: 2rem !important
}

.md-outline.select-wrapper + label {
    top: .5em !important;
    z-index: 1000 !important
}

.select-wrapper.md-form.md-outline + label {
    left: auto;
    right: 31px;
    top: 0 !important;
    color: #176ac4 !important
}

.search-wrap .md-form .search {
    border: none !important
}

.mdb-select .md-form .md-outline .colorful-select .dropdown-primary .select-dropdown {
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    background: #fe1212 !important
}

.card {
    font-weight: 500
}

.form-sm .select-wrapper.md-form.md-outline .dropdown-content {
    top: 2.6rem !important;
    padding: 2px;
    border: #4285f4;
    box-shadow: inset 0 0 0 1px #4285f4 !important;
    border-radius: 4px
}

.select-wrapper.md-form.md-outline .dropdown-content {
    top: 3rem !important;
    padding: 2px;
    border: #4285f4;
    box-shadow: inset 0 0 0 1px #4285f4 !important;
    border-radius: 4px
}

.dropdown-content li {
    /*line-height: 1.6rem*/
}
 .dropdown-content li > span {
     color: unset;
    }

.md-form .form-control.is-invalid, .md-form .form-control.is-valid {
    background-position: 27px center !important
}

.is-invalid {
    border-color: #f44336 !important
}

.select-wrapper ul {
    padding-right: 0
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 100%
}

.dataTables_info, .dataTables_length {
    color: #808080 !important
}

    .paging_simple_numbers, .DataList_length, .dataTables_length label, .dataTables_info {
        padding-top: 0 !important
    }

.note {
    border-left: 0;
    border-right: 6px solid;
}
.note-info {
    background-color: #e4f2f5;
    border-color: #2492a5;
}
.md-form.md-outline > input[type=time]:not(.browser-default) + label, .md-form.md-outline > input[type]:-webkit-autofill:not(.browser-default):not([type=search]) + label {
    z-index: 500;
    left: auto
}

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child), .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group > .input-group-append:last-child > .input-group-text:not(:last-child), .input-group > .input-group-append:not(:last-child) > .btn, .input-group > .input-group-append:not(:last-child) > .input-group-text, .input-group > .input-group-prepend > .btn, .input-group > .input-group-prepend > .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.md-form.md-outline.input-group input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.sn-bg-3 {
    background-image: url(/Images/oil-bg-2.jpg)
}

.select-wrapper.disable-toggle-all .select-toggle-all {
    display: none
}

.select-dropdown li img {
    float: left !important
}

.valid-border {
    border-color: #00c851 !important
}

.mds-bootstrap-persian-datetime-picker-container .btn {
    margin: 0 !important;
    box-shadow: none
}

.form-check-input[type=checkbox] + label:before, .form-check-input[type=checkbox]:not(.filled-in) + label:after, label.btn input[type=checkbox] + label:before, label.btn input[type=checkbox]:not(.filled-in) + label:after {
    left: auto;
    right: 0
}

.form-check-input[type=checkbox] + label, label.btn input[type=checkbox] + label {
    padding-left: unset !important;
    padding-right: 22px
}

.form-check-input[type=checkbox]:checked + label:before, label.btn input[type=checkbox]:checked + label:before {
    top: -4px;
    left: unset !important;
    right: 7px
}

.border-dotted {
    border-style: dotted !important
}

.blockquote.text-right {
    border-left: none !important
}

.bq-primary {
    border-right: .25rem solid #4285f4 !important
}

.bq-primary {
    border-left: 3px solid #4285f4 !important
}

    .bq-primary .bq-title {
        color: #4285f4 !important
    }

.bq-danger {
    border-left: 3px solid #ff3547 !important
}

    .bq-danger .bq-title {
        color: #ff3547 !important
    }

.bq-warning {
    border-left: 3px solid #fb3 !important
}

    .bq-warning .bq-title {
        color: #fb3 !important
    }

.bq-success {
    border-color: #00c851 !important
}

    .bq-success .bq-title {
        color: #00c851 !important
    }

.bq-info {
    border-left: 3px solid #33b5e5 !important
}

    .bq-info .bq-title {
        color: #33b5e5 !important
    }

#toast-container > div {
    direction: rtl !important;
    text-align: right;
    padding: 15px 50px 15px 5px;
    margin: 0 10px 6px;
    background-position: 260px center !important;
    font-size:0.9rem;
}

#toast-container .md-toast-close-button {
    top: 0;
    left: -.3em;
    right: 0;
    float: left
}

@media(min-width:62em) {
    .classic-tabs.rtl .nav li:first-child {
        margin-right: 56px;
        margin-left: unset
    }
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer
}

tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center
}

.myOdd {
    background-color: rgba(0,0,0,.05)
}

.myEven {
    background-color: rgba(0,0,0,.05)
}

.border-dotted-bottom {
    border-style: dotted !important;
    border: none !important;
    border-bottom: 1px dotted #8e8e8e !important
}

table.no-border th, table.no-border td {
    border-top: none !important
}

.md-accordion.no-border .card:first-of-type, .md-accordion.no-border .card:not(:first-of-type):not(:last-of-type) {
    border-bottom: none !important
}

.no-border {
    border: none !important
}

.no-border-left {
    border-left: none !important
}

.no-border-right {
    border-right: none !important
}

.no-border-x {
    border-left: none !important;
    border-right: none !important
}

.label-half-white {
    height: 37%;
    background-color: #fff !important
}

.md-form.md-outline.form-sm label.active, .form-sm .md-form.md-outline label.active, .md-form.md-outline.form-sm label.m-active, .form-sm .md-form.md-outline label.m-active {
    -webkit-transform: translateY(-9px) scale(.88) !important;
    -ms-transform: translateY(-9px) scale(.88) !important;
    transform: translateY(-9px) scale(.88) !important;
    transform-origin: unset !important
}

.md-form.md-outline label.m-active {
    left: 8px;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: 500;
    background: #fff;
    -webkit-transform: translateY(-13px) scale(.8);
    transform: translateY(-13px) scale(.8)
}

.md-form.md-outline label, .blockquote {
    font-size: .7rem !important
}

.border-top-radius {
    -ms-border-top-left-radius: .25rem;
    border-top-left-radius: .25rem;
    -ms-border-top-right-radius: .25rem;
    border-top-right-radius: .25rem
}

@media(min-width:600px) {
    .navbar.scrolling-navbar {
        padding-top: 6px;
        padding-bottom: 6px
    }
}

.custom-control-label::after {
    position: absolute;
    top: .25rem;
    right: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    right: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px
}

.switch label input[type=checkbox]:checked + .lever:after,
.switch label input[type="checkbox"]:disabled + .lever:after, .switch label input[type="checkbox"]:disabled:checked + .lever:after {
    background-color: #1976d2
}
/*.switch label .lever:after {
    background-color: #1976d2
}
.switch label .lever {
    background-color: #b6c9e5
}*/
    .switch label input[type=checkbox]:checked + .lever {
    background-color: #b6c9e5
}

.classic-tabs .nav li a.active {
    color: #ffe000
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .15s ease
}

.was-validated .custom-select:valid, .custom-select.is-valid {
    border-color: #28a745;
    padding-right: calc(.75em + 2.3125rem);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat left .75rem center/8px 10px,url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") #fff no-repeat center left 1.75rem/calc(.75em + .375rem) calc(.75em + .375rem)
}

.was-validated .custom-select:invalid, .custom-select.is-invalid {
    border-color: #dc3545;
    padding-right: calc(.75em + 2.3125rem);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat left .75rem center/8px 10px,url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") #fff no-repeat center left 1.75rem/calc(.75em + .375rem) calc(.75em + .375rem)
}

.custom-select {
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat left .75rem center/8px 10px
}

.btn-link:hover {
    text-decoration: none !important
}

.cta {
    position: relative;
    padding: 11px 14px 9px;
    transition: all .2s ease;
    border: 1px solid #2196f3
}
.cta-red {
    border: 1px solid #ff3547
}
.cta-silver {
    border: 1px solid #ccc
}

    .cta:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        background: #2196f3;
        width: 40px;
        height: 100%;
        transition: all .3s ease
    }
.cta-red:before {
    background: #ff3547;
}
.cta-silver:before {
    background: #ccc;
}
    .cta span {
        padding-right: 16px;
        position: relative;
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;
        vertical-align: middle
    }

    .cta i {
        position: relative;
        color: #fff
    }

    .cta:hover:before {
        width: 100%;
        background: #00c851;
        background-position: 100% center
    }

    .cta:hover {
        border: 1px solid #00c851;
        color: #fff
    }

        .cta:hover i {
            transform: translateX(0);
            text-decoration: none
        }

    .cta:active {
        transform: scale(.96)
    }

.cta3 {
    position: relative;
    padding: 13px 14px;
    transition: all .2s ease;
    color: #1976d2
}

    .cta3:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        border-radius: 24px;
        background: #1976d2;
        width: 43px;
        height: 43px;
        transition: all .3s ease
    }

    .cta3 span {
        padding-right: 16px;
        position: relative;
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;
        vertical-align: middle
    }

    .cta3 i {
        position: relative;
        color: #fff
    }

    .cta3:hover:before {
        width: 100%;
        background: #00c851;
        background-position: 100% center;
        border-radius: 0
    }

    .cta3:hover {
        color: #fff
    }

        .cta3:hover i {
            transform: translateX(0);
            text-decoration: none
        }

    .cta3:active {
        transform: scale(.96)
    }

.advancedSearch .dropdown-content li > a, .advancedSearch .dropdown-content li > span {
    font-weight: 500;
    padding: .4rem;
    font-size: .75rem;
    color: #000
}

.advancedSearch .form-check-input[type="checkbox"] + label:before, .advancedSearch .form-check-input[type="checkbox"]:not(.filled-in) + label:after {
    margin-top: 0
}

.opacity {
    opacity: .5;
    filter: alpha(opacity=50)
}

.custom-select-sm {
    padding-right: .5rem;
    padding-left: 20px
}

table.table.py-0 td {
    padding-top: .5rem;
    padding-bottom: .5rem
}

ul.stepper .step-title {
    display: block;
    padding: .9688rem 4rem 1.5rem 2.75rem;
    margin: 0 -1.3rem;
    cursor: pointer
}

ul.stepper > .step:not(:last-of-type):after {
    left: unset;
    right: .8438rem
}

ul.stepper > .step.active:not(:last-child):after {
    height: 83%;
    height: calc(100% - 43px);
}
ul.stepper .step:not(:last-of-type).active {
    margin-bottom: 0.15rem;
}
ul.stepper .step-new-content {
    margin-left: 24px;
    margin-right: 41px
}

.cursor-pointer {
    cursor: pointer !important
}
.cursor-crosshair {
    cursor: crosshair
}

.form-check-input[type="radio"]:not(:checked) + label, .form-check-input[type="radio"]:checked + label, label.btn input[type="radio"]:not(:checked) + label, label.btn input[type="radio"]:checked + label {
    padding-right: 30px;
    padding-left: unset;
}

.form-check-input[type="radio"] + label:before, .form-check-input[type="radio"] + label:after, label.btn input[type="radio"] + label:before, label.btn input[type="radio"] + label:after {

    left: unset;
    right: 0;
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}
table.table thead th {
    border-top: none;

}
dd {
    margin-bottom: .5rem;
    margin-left: unset;
    margin-right:0;
}

.jconfirm.jconfirm-rtl {
    text-align: right;
}
.jconfirm-buttons {
    float: left !important;
}


table.dataTable tr.dtrg-group td {
    background-color: #e0e0e0
}

table.dataTable tr.dtrg-group.dtrg-level-0 td {
    font-weight: bold;
    padding:0;
}

table.dataTable tr.dtrg-group.dtrg-level-1 td, table.dataTable tr.dtrg-group.dtrg-level-2 td {
    background-color: #f0f0f0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 2em;
    font-size: 0.9em
}

table.dataTable tr.dtrg-group.dtrg-level-2 td {
    background-color: #f3f3f3
}

.popover {
    direction: rtl !important; text-align: right !important;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    bottom: 0.5em !important;
}

.custom-scrollbar {
}
.collapsible-accordion { }