﻿@model Omidiyeh_Oil_Company___0147.Models.TblContractor

@{
    ViewBag.Title = "ایجاد پیمانکار";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("../Contract/Tabs")

    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-12">
                    <div class="md-form md-outline  my-3">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control  text-center" } })
                        @Html.LabelFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline  my-3">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control  text-center" } })
                        @Html.LabelFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline  my-3">
                        @Html.EditorFor(model => model.Family, new { htmlAttributes = new { @class = "form-control  text-center" } })
                        @Html.LabelFor(model => model.Family)
                        @Html.ValidationMessageFor(model => model.Family, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline  my-3">
                        @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control  text-center" } })
                        @Html.LabelFor(model => model.Tel)
                        @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline  my-3">
                        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control  text-center" } })
                        @Html.LabelFor(model => model.Mobile)
                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="md-form md-outline  my-3">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control  text-center " } })
                        @Html.LabelFor(model => model.Address)
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline  my-3">
                        @Html.EditorFor(model => model.EconomicID, new { htmlAttributes = new { @class = "form-control  text-center" } })
                        @Html.LabelFor(model => model.EconomicID)
                        @Html.ValidationMessageFor(model => model.EconomicID, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline  my-3">
                        @Html.EditorFor(model => model.NationalID, new { htmlAttributes = new { @class = "form-control  text-center" } })
                        @Html.LabelFor(model => model.NationalID)
                        @Html.ValidationMessageFor(model => model.NationalID, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline  my-3">
                        @Html.EditorFor(model => model.RegistrationNumber, new { htmlAttributes = new { @class = "form-control  text-center" } })
                        @Html.LabelFor(model => model.RegistrationNumber)
                        @Html.ValidationMessageFor(model => model.RegistrationNumber, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline  my-3">
                        @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control  text-center" } })
                        @Html.LabelFor(model => model.PostalCode)
                        @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline  my-3">
                        @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control  text-center" } })
                        @Html.LabelFor(model => model.AccountNumber)
                        @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="select-outline my-3">
                        @Html.DropDownList("Status", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                        @Html.LabelFor(model => model.Status)
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="md-form md-outline  my-3">
                        @Html.TextAreaFor(model => model.Body, new { @class = "form-control  text-center md-textarea" })
                        @Html.LabelFor(model => model.Body)
                        @Html.ValidationMessageFor(model => model.Body, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-blue  font-size-1" />
                </div>
            </div>
        </div>
    }

</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Tab-Contractor-Create').addClass('active show').removeClass('d-none');
        });
    </script>
}