﻿@model Omidiyeh_Oil_Company___0147.Models.ChangePassword

@{
    ViewBag.Title = "تغییر گذرواژه";
    Layout = "~/Views/Shared/_layout.cshtml";
}


    <div class="card rtl text-right">
	<!--Header-->
    <div class="classic-tabs rtl">
        <ul class="nav  tabs-blue" id="myTab" role="tablist">

            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1 active show" id="Tab-Dashboard-Company" href="#">
                    <i class="fas fa-key fa-2x pb-2" aria-hidden="true"></i><br>تغییر گذرواژه
                </a>
            </li>

        </ul>
    </div>
    <!--Header-->
@using (Html.BeginForm(null,null,FormMethod.Post, new {@class="needs-validation" ,novalidate="novalidate"})) 
{
    @Html.AntiForgeryToken()
    
     <div class="card-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control text-center" ,Value="" } })
				@Html.LabelFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control text-center",Value=""  } })
				@Html.LabelFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.NewPasswordRepeat, new { htmlAttributes = new { @class = "form-control text-center",Value="" } })
				@Html.LabelFor(model => model.NewPasswordRepeat)
                @Html.ValidationMessageFor(model => model.NewPasswordRepeat, "", new { @class = "invalid-feedback mr-2" })
        </div></div></div>
         <div class="md-form text-left" >
            <div class="col-md-12">
                <input type="submit" value="ثبت اطلاعات" class="btn btn-blue  font-size-1" />
            </div>
        </div>
    </div>
}

</div>
