﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
   

    <!-- Main navigation -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/content/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="~/Content/css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link href="~/Content/css/style.css?ver=2.0" rel="stylesheet">
    <style>
        html,
        body,
        header,
        .view {
            height: 100%;
        }

        @@media (max-width: 740px) {

            html,
            body,
            header,
            .view {
                height: 1000px;
            }
        }

        @@media (min-width: 800px) and (max-width: 850px) {

            html,
            body,
            header,
            .view {
                height: 600px;
            }
        }

        .btn .fa {
            margin-left: 3px;
        }

        .top-nav-collapse {
            background-color: #424f95 !important;
        }

        .navbar:not(.top-nav-collapse) {
            background: transparent !important;
        }

        @@media (max-width: 991px) {
            .navbar:not(.top-nav-collapse) {
                background: #424f95 !important;
            }
        }

        .btn-white {
            color: black !important;
        }

        h6 {
            line-height: 1.7;
        }


        @@media (min-width : 1441px) {
        header, main, footer {
            padding-right: 0;
        }
        }



        
        .btn-link:hover{text-decoration:none !important}
        .cta2 {
            position: relative;
            /*margin: auto;*/
            padding: 10px 12px;
            transition: all 0.2s ease;
        }
        .cta2:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            border-radius: 28px;
            background: rgba(3, 169, 244, 0.3);
            width: 35px;
            height: 35px;
            transition: all 0.3s ease;
        }
        .cta2 span {
            padding-left:10px;
            position: relative;
            font-size: 16px;
            line-height: 18px;
            font-weight: 900;
            /*letter-spacing: 0.25em;
            text-transform: uppercase;*/
            vertical-align: middle;
        }
      
        .cta2:hover:before {
            width: 100%;

        }
        .cta2:hover i {
            transform: translateX(0);
            text-decoration: none;
        }
        .cta2:active {
            transform: scale(0.96);
        }

    </style>
</head>

<body>
    <header>

        <!-- Full Page Intro -->
        <div class="view" style="background-image: url('/Images/oil-bg-2.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <!-- Mask & flexbox options-->
            <div class="mask rgba-blue-light d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div class="container">
                    <!--Grid row-->
                    <div class="row justify-content-center">
                        <!--Grid column-->
                        <div class="col-md-6 white-text text-center wow fadeInLeft" data-wow-delay="0.3s">
                            <div class="card card-cascade wider rtl">
                           

                                <div class="view view-cascade gradient-card-header blue-gradient pt-3 pb-2">
                                    <h4 class="card-header-title mb-3">سامانه خدمات رفاهی اجتماعی</h4>
                                    <p class="card-header-subtitle mb-0">شرکت نفت و گاز آغاجاری</p>
                                </div>

                                <!--Card content-->
                                <div class="card-body  card-body-cascade">

                                    <!-- Form -->
                                    <form class="text-center needs-validation  "  style="color: #757575;" action="/account/Login?returnUrl=@Request.QueryString["ReturnUrl"]" method="post">


                                        <!-- Email -->
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="md-form md-outline form-lg my-2">
                                                    <input type="text" id="username" name="username" class="form-control text-center" autocomplete="off" required>
                                                    <label for="username">نام کاربری</label>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- Password -->
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="md-form md-outline form-lg my-2">
                                                    <input type="password" id="password" name="password" class="form-control text-center"  autocomplete="off" required>
                                                    <label for="password">گذرواژه</label>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="d-flex justify-content-around mt-3 small">
                                            <div class="switch">
                                                <label>

                                                    <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe" value="true">
                                                    <span class="lever"></span>مرا به خاطر بسپار
                                                </label>
                                            </div>
                                            <div>
                                                <!-- Forgot password -->
                                                <a href="">گذرواژه خود را فراموش کرده اید؟</a>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
                                            <!-- Sign in button -->
                                            <button class="btn btn-link cta2  mr-auto">
                                                <span>ورود به سامانه</span>
                                                <i class="fas fa-arrow-left"></i>
                                            </button>
                                        </div>
                                        @*<button type="button" class="btn btn-default btn-sm">ورود به سامانه</button>*@
                                            @*<button class="btn btn-blue  waves-effect "  type="submit">ورود به حساب</button>*@
                                        
                                    </form>
                                    <!-- Form -->

                                </div>
                                <!-- Link -->
                                @*<a href="#!" class="black-text d-flex justify-content-end">
                                    <h5>ورود به  حساب <i class="fas fa-angle-double-right"></i></h5>
                                </a>*@
                              

                            </div>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                      
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
        </div>
        <!-- Full Page Intro -->
    </header>
    <!-- Main navigation -->
    <!-- Start your project here-->
    <!-- End your project here-->

<!-- JQuery -->
<script src="~/Content/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="~/Content/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="~/Content/js/mdb.min.js"></script>


<script type="text/javascript">
    new WOW().init();
</script>

@Html.Partial("_Message")

</body>

</html>