﻿
@{
    ViewBag.Title = "ورود به حساب";
}
    <div class="row d-flex justify-content-center">
        <!-- Material form login -->
        <div class="card col-md-6 px-0 rtl">

            <h5 class="card-header info-color white-text text-center py-4">
                <strong>ورود به حساب کاربری</strong>
            </h5>

            <!--Card content-->
            <div class="card-body">

                <!-- Form -->
                <form class="text-center" style="color: #757575;" action="/account/Login?returnUrl=@Request.QueryString["ReturnUrl"]" method="post">


                    <!-- Email -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="md-form md-outline form-lg my-2">
                                <input type="text" id="username" name="username" class="form-control text-center">
                                <label for="username">نام کاربری</label>
                            </div>
                        </div>
                    </div>


                    <!-- Password -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="md-form md-outline form-lg my-2">
                                <input type="password" id="password" name="password" class="form-control text-center">
                                <label for="password">گذرواژه</label>
                            </div>
                        </div>
                    </div>


                    <div class="d-flex justify-content-around mt-3">
                        <div>
                            <!-- Remember me -->
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe" value="true">
                                <label class="form-check-label" for="rememberMe">مرا به خاطر بسپار</label>
                            </div>
                        </div>
                        <div>
                            <!-- Forgot password -->
                            <a href="">گذرواژه خود را فراموش کرده اید؟</a>
                        </div>
                    </div>

                    <!-- Sign in button -->
                    <button class="btn btn-lg btn-info btn-block my-4 waves-effect z-depth-0 text-bold" type="submit">ورود به حساب</button>

                </form>
                <!-- Form -->

            </div>

        </div>
        <!-- Material form login -->
        </div>