﻿@model Omidiyeh_Oil_Company___0147.Models.TblUserMessage

@{
    ViewBag.Title = "مشاهده جزئیات Details + Model.Title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="card rtl text-right">
	<!--Header-->
    @Html.Partial("..//Tabs")   
    <!--Header-->

<div>
    <dl class="dl-horizontal  mx-5 my-5">
		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TblUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblUser.UserName)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TblUser1.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblUser1.UserName)
        </dd>
		</div>

    </dl>
</div>
</div>

