﻿@model Omidiyeh_Oil_Company___0147.Models.TblUserMessage

@{
    ViewBag.Title = "ویرایش Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card rtl text-right">
	<!--Header-->
    @Html.Partial("..//Tabs")
    <!--Header-->
@using (Html.BeginForm(null,null,FormMethod.Post, new {@class="needs-validation" ,novalidate="novalidate"})) 
{
    @Html.AntiForgeryToken()
    
     <div class="card-body">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="row">
                <div class="col-sm-12">
					<div class="select-outline my-3">
                @Html.DropDownList("User", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
				@Html.LabelFor(model => model.User)
                @Html.ValidationMessageFor(model => model.User, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.Body)
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.CreateDate)
                @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline my-3">
                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
        @Html.HiddenFor(model => model.Id)

		<div class="row">
                <div class="col-sm-12">
					<div class="select-outline my-3">
                @Html.DropDownList("CreateUser", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
				@Html.LabelFor(model => model.CreateUser)
                @Html.ValidationMessageFor(model => model.CreateUser, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
         <div class="md-form text-left" >
            <div class="col-md-12">
                <input type="submit" value="ثبت اطلاعات" class="btn btn-blue  font-size-1" />
            </div>
        </div>
    </div>
}

</div>
