﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblUserMessage>




<div class="card rtl text-right">
    <!--Header-->
    @*@Html.Partial("../Tabs")*@
    <!--Header-->
    <div class="card-body">
        <table id="DataList" class="table py-0 table-hover font-size-0-75 text-bold lh1" style="width: 100%; ">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateUser)
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#DataList').DataTable({
                "stateSave": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/UserMessage/ListMy",
                    "type": "POST",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "id", "name": "id", "class": "fit"},
							{"data": "Title", "name": "Title" },
                    { "data": "CreateDate", "name": "CreateDate", "class": "fit" },
                    { "data": "CreateUser", "name": "CreateUser", "class": "fit" },
                    { "data": "Body", "name": "Body"  }
                ],
                "columnDefs": [
                    { "visible": false, "targets": [0,4] }
                ],
                "order": [[0, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                orderFixed: [0, 'desc'],
                rowGroup: {
                    startRender: null,
                    endRender: function (rows, group) {
                        return `<div class="row py-2 m-0 px-4  white text-black-50">
                                 ${rows.data()[0]['Body']}
                                </div>
                            <div class="row py-2 m-0 white"><div class="col"></div>`;
                    },

                    dataSrc: 'DT_RowId'
                },
            }).on('xhr.dt',
                function (e, settings, json) {
                    if ($('#DataList_wrapper select').hasClass('custom-select custom-select-sm form-control form-control-sm')) {
                        $('#DataList_wrapper').find('label').each(function () {
                            $(this).parent().append($(this).children());
                        });
                        $('#DataList_wrapper .dataTables_filter').find('input').each(function () {
                            const $this = $(this);
                            $this.attr("placeholder", "جستجو...");
                            $this.removeClass('form-control-sm');
                        });
                        $('#DataList_wrapper .dataTables_length').addClass('d-flex flex-row');
                        $('#DataList_wrapper .dataTables_filter').addClass('md-form rtl');
                        $('#DataList_wrapper select').removeClass(
                            'custom-select custom-select-sm form-control form-control-sm');
                        $('#DataList_wrapper select').addClass('mdb-select');
                        $('#DataList_wrapper .mdb-select').materialSelect();
                        $('#DataList_wrapper .dataTables_filter').find('label').remove();
                        $('#DataList_wrapper .dataTables_length').find('label').remove();
                        $("#DataList_wrapper").children().first().css({ "direction": "ltr" });
                    }
                });;

        });
    </script>
}


