﻿@using Omidiyeh_Oil_Company___0147.Models
@model Omidiyeh_Oil_Company___0147.Models.TblFoodReservation
@{
    ViewBag.Title = "درخواست رزرو غذا";
    Layout = "~/Views/Shared/_layout.cshtml";
    var meals = (List<TblMeal>)ViewBag.Meal;
}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_FoodReservationPersonal")
    <!--Header-->
    <form id="add" class="needs-validation" novalidate="novalidate">
        @Html.AntiForgeryToken()
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="md-form md-outline my-3 input-group">
                        <input type="text" class="form-control text-center" aria-label="sDate" aria-describedby="sDate"
                               data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                        <label for="StartDateFa">تاریخ شروع</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input type="hidden" name="StartDate" id="StartDate" />
                      
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="md-form md-outline my-3 input-group">
                        <input type="text" class="form-control text-center" aria-label="eDate" aria-describedby="eDate"
                               data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                        <label for="EndDateFa">تاریخ پایان</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input type="hidden" name="EndDate" id="EndDate" />
                    </div>
                </div>
            </div>
            @foreach (var meal in meals)
            {
                <div class="switch my-3">
                    <label>
                        <input type="checkbox" data-toggle="collapse" name="sMeal@(meal.Id)" id="sMeal@(meal.Id)"
                               data-target="#meal@(meal.Id)"
                               aria-expanded="true" aria-controls="#meal@(meal.Id)" value="true">
                        <span class="lever"></span>@meal.Title
                    </label>
                </div>
               

                    <div id="meal@(meal.Id)" class="collapse">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div>
                                    <select name='Restaurant-@(meal.Id)' id="Restaurant-@(meal.Id)" data-meal="@meal.Id" class="mdb-select not-required md-form md-outline  mt-0 mb-0 Restaurant ajax-select" searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="Restaurant-@(meal.Id)" class="m-active">رستوران</label>
                                </div>
                            </div>
                            @if (meal.Id == 0)
                            {
                                <div class="col-md-6 ">
                                    <div>
                                        <input name="Food-@(meal.Id)" id="Food-@(meal.Id)" type="hidden" value="0" />
                                        
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-6 ">
                                    <div>
                                        <select name='Food-@(meal.Id)' id="Food-@(meal.Id)" class="mdb-select not-required  md-form md-outline font-size-0-90 mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                                        <label for="Food-@(meal.Id)" class="m-active">غذا</label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            
            @*<div class="switch my-3">
                    <label>
                        <input type="checkbox" data-toggle="collapse" name="hote" id="hote"
                               data-target="#hote"
                               aria-expanded="true" aria-controls="#hote" value="true">
                        <span class="lever"></span>درخواست هتل
                    </label>
                </div>*@
            <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
                <button class="btn btn-link cta mr-auto ml-0  font-size-0-50" type="button" id="save">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ثبت درخواست</span>
                </button>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            disableBeforeToday: true,
            //fromDate: true,
            selectedDate: tomorrow,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            disableBeforeToday: true,
            toDate: true,
            selectedDate: tomorrow,
            groupId: "Start-End-Date"
        });


        $(document).ready(function () {

            $('#Tab-Add').addClass('active show');
            Restaurants('.Restaurant');
            $("select.Restaurant").change(function () {
                const meal = $(this).attr('data-meal');
                //Restaurant,Meal,Date,SelectInput
                listFood(this.value, meal, $('#StartDate').val(), '#Food-' + meal);
            });
            $('#save').on('click',
                function (e) {
                    e.preventDefault();
                    var myform = document.getElementById("add");
                    var fd = new FormData(myform);
                    $.ajax({
                        url: "/Reservation/Food/add/",
                        data: fd,
                        cache: false,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        success: function (data) {
                            toastr[data.Type](data.Msg);
                            if (data.Result === true)
                                setTimeout(function () {
                                    window.location.href = "/Welfare/FoodReservation/Personal";
                                },
                                    3000);
                        }
                    });
                });
        });
    </script>
}