﻿@using Omidiyeh_Oil_Company___0147.Models

@{
    ViewBag.Title = "درخواست رزرو غذا - شخصی";
    Layout = "~/Views/Shared/_layout.cshtml";
}


    <div class="card rtl text-right ">

        <!--Header-->
        @Html.Partial("Tabs")
        <!--Header-->
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
        {

            @Html.AntiForgeryToken()
            ;
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-sm-12">
                        <div class="md-form md-outline  my-1 input-group">
                            <input type="text" class="form-control text-center" aria-label="rDateAddMulti" aria-describedby="rDateAddMulti"
                                   data-val="true" data-val-required=" " id="ReservDateFaAddMulti" name="ReservDateFa" value="">
                            <label for="ReservDateFaAddMulti">تاریخ</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="rDateAddMulti"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                            <input type="hidden" name="ReservDateAddMulti" id="ReservDateAddMulti" />
                        </div>
                    </div>

                </div>


                @foreach (var meal in (List<TblMeal>)ViewBag.Meal)
                {
                    <blockquote class="blockquote text-right mb-0 bq-primary  mt-3 mb-4 ">
                        <p class="bq-title mt-0 pt-0 pb-3 font-size-1">@meal.Title</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="select-outline">
                                    <select name='Restaurant-@(meal.Id)' id="Restaurant-@(meal.Id)" class="mdb-select not-required do-select md-form md-outline font-size-0-90 mt-0 mb-0 ignore Restaurant" searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="Restaurant-@(meal.Id)" class="m-active">رستوران</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="select-outline">
                                    <select name='Food-@(meal.Id)' id="Food-@(meal.Id)" class="mdb-select not-required  md-form md-outline font-size-0-90 mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="Food-@(meal.Id)" class="m-active">غذا</label>
                                </div>
                            </div>
                        </div>
                    </blockquote>

                }
                @*This is for select Bugs*@
                <select class="mdb-select not-required do-select md-form md-outline mt-3 Food d-none"></select>
                @*This is for select Bugs*@
                <div class="row text-left">
                    <div class="col-md-12">
                        <input type="submit" formnovalidate value="ثبت درخواست" class="btn blue  white-text font-size-1" />
                    </div>
                </div>
            </div>

        }

    </div>
@section Scripts{
    <script>
        $('#rDateAddMulti').MdPersianDateTimePicker({
            targetTextSelector: '#ReservDateFaAddMulti',
            targetDateSelector: '#ReservDateAddMulti',
            textFormat: 'yyyy/MM/dd',
            disableBeforeToday: true,
            selectedDate: tomorrow,
            rangeSelector: true
        });

        $(document).ready(function () {
            $('#Tab-addMulti').addClass('active show');
            Restaurants('.Restaurant');
            $("select.Restaurant").change(function (e) {
                const meal = e.target.id.split('-')[1];
                //Restaurant,Meal,Date,SelectInput
                listFood(e.target.value, meal, $('#ReservDateAddMulti').val().split('-')[0],'#Food-'+meal);
            });

        });
    </script>
}