﻿@using MD.PersianDateTime
@using Omidiyeh_Oil_Company___0147.Models
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblPerson>

@{
    ViewBag.Title = "درخواست رزرو غذا - مدت دار " + ViewBag.RestaurantTitle;
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style type="text/css">
    .select-wrapper input.select-dropdown {
        margin-bottom: 0;
        font-size: 14px;
    }

    .table td, .table th {
        border-top: 1px dotted #dee2e6;
    }
</style>

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col">
                    <div class="md-form md-outline  input-group">
                        <input type="text" class="form-control text-center  disabled valid-border" value="@ViewBag.StartDateTitle" />
                        <label>تاریخ شروع</label>
                        <input type="hidden" name="StartDate" id="StartDate" value="@ViewBag.StartDate" />

                    </div>
                </div>
                <div class="col">
                    <div class="md-form md-outline  input-group">
                        <input type="text" class="form-control  text-center disabled valid-border" value="@ViewBag.EndDateTitle" />
                        <label>تاریخ پایان</label>
                        <input type="hidden" name="EndDate" id="EndDate" value="@ViewBag.EndDate" />

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="md-form md-outline  input-group">
                        <input type="text" class="form-control  text-center disabled valid-border" value="@ViewBag.Person" />
                        <label>کارمند</label>
                        <input type="hidden" name="Person" id="Person"  value="@ViewBag.PersonId" />

                    </div>
                </div>
                <div class="col">
                    <div class="md-form md-outline  input-group">
                        <input type="text" class="form-control  text-center disabled valid-border" value="@ViewBag.OfficeTitle" />
                        <label>اداره</label>
                        <input type="hidden" name="Office" id="Office" value="@ViewBag.Office" />
                    </div>
                </div>
                <div class="col">
                    <div class="md-form md-outline  input-group">
                        <input type="text" class="form-control  text-center  disabled valid-border" value="@ViewBag.OfficeDepartmentTitle" />
                        <label>واحد</label>
                        <input type="hidden" name="OfficeDepartment" id="OfficeDepartment" value="@ViewBag.OfficeDepartment" />
                    </div>
                </div>
            </div>
            <div class=" mt-3">
                <table class="table table-sm table-hover">
                    <tr class="light-blue-ic">
                        <th class="text-bold">تاریخ</th>
                        @foreach (var meal in (List<TblMeal>)ViewBag.Meal)
                        {
                            <th class="text-bold pr-4">@meal.Title</th>
                        }
                    </tr>
                    @foreach (var date in (List<DateTime>)ViewBag.Dates)
                    {
                        var item = date.ToString("yyyy_MM_dd");
                        <tr>
                            <td class="py-3"><strong> @(new PersianDateTime(date).ToLongDateString()) </strong></td>
                            @foreach (var meal in (List<TblMeal>)ViewBag.Meal)
                            {
                                <td class="py-2 px-2 " style="border-right:1px dotted  #82b1ff">
                                    <div class="row">
                                        <div class="col">
                                            @Html.DropDownList("Restaurant-" + meal.Id + "-" + item, ViewBag.Restaurant as SelectList, htmlAttributes: new { @class = "mdb-select not-required  md-form md-outline Restaurant my-0 py-0", searchable = "جستجو ..." })
                                        </div>
                                        <div class="col">
                                            <select class="mdb-select not-required  md-form md-outline text-right my-0 py-0 " id="Food-@(meal.Id)-@(item)" name="Food-@(meal.Id)-@(item)" searchable="جستجو ...">
                                                <option value="" disabled>انتخاب نمایید...</option>
                                                @*@foreach (var food in (List<TblFood>)ViewBag.Foods)
                                                    {
                                                        <option value="@food.Id" class="default-select Food-@(meal.Id) @item @food.Id">
                                                            @food.Title
                                                        </option>
                                                    }*@
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            }


                        </tr>
                    }
                </table>
            </div>
            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
                </div>
            </div>
        </div>

    }

</div>
<span class="d-none" id="p-link">/reservation/food/period</span>
@section Scripts{
    <script>
        $(document).ready(function () {
            
            $('#Tab-Period').addClass('active show');
            function listFood(meal, restaurant, date) {
                //console.log(meal + "-" + restaurant + "-" + date);
                //alert(1);
                //const restaurant = $("#Restaurant").val();
                //const meal = $("#Meal").val();
                //const date = $("#Date").val();

                $.getJSON("/reservation/food/RestaurantFood",
                    { restaurant: restaurant, meal: meal, date: date.replace('_','/').replace('_','/') },
                    function (data) {
                        console.log(data);
                        var select = $("#Food-" + meal + "-" + date);
                        console.log(select);
                        select.empty();
                        //console.log(1);
                        select.append($('<option/>',
                            {
                                value: "",
                                text: "انتخاب نمایید"
                            }));
                        $.each(data,
                            function (index, itemData) {
                                console.log(1);
                                select.append($('<option/>',
                                    {
                                        value: itemData.Id,
                                        text: itemData.Title
                                    }));
                            });

                    });


            }
            $("select.Restaurant").change(function (e) {

                listFood(e.target.id.split('-')[1], e.target.value, e.target.id.split('-')[2]);
            });

            //$('#Date').change('input', function (e) {
            //    listFood();
            //});
            // $("#Meal").change(listFood);
        });

    </script>
}