﻿@using MD.PersianDateTime
@using Omidiyeh_Oil_Company___0147.Models
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblPerson>

@{
    ViewBag.Title = "درخواست رزرو غذا - معوقه";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style type="text/css">
    .select-wrapper input.select-dropdown {
        margin-bottom: 0;
        font-size: 14px;
    }

    .table td, .table th {
        border-top: 1px dotted #dee2e6;
    }
</style>

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="Date" id="Date" value="@ViewBag.Date" />
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col">
                    <div class="md-form md-outline form-lg input-group">
                        <input type="text" class="form-control  text-center disabled valid-border" value="@ViewBag.DateTitle" />
                        <label>تاریخ</label>
                        <input type="hidden" name="Date" id="Date" value="@ViewBag.Date" />

                    </div>
                </div>
                <div class="col">
                    <div class="md-form md-outline form-lg input-group">
                        <input type="text" class="form-control text-center disabled valid-border" value="@ViewBag.OfficeTitle" />
                        <label>اداره</label>
                        <input type="hidden" name="Office" id="Office" value="@ViewBag.Office" />
                    </div>
                </div>
                <div class="col">
                    <div class="md-form md-outline form-lg input-group">
                        <input type="text" class="form-control  text-center disabled valid-border" value="@ViewBag.OfficeDepartmentTitle" />
                        <label>واحد</label>
                        <input type="hidden" name="OfficeFor" id="OfficeFor" value="@ViewBag.OfficeDepartment" />
                    </div>
                </div>
            </div>
            <table class="table table-sm table-hover">
                <tr class="blue-ic">
                    <th class="text-bold">غذا</th>
                    @foreach (var meal in (List<TblMeal>)ViewBag.Meal)
                    {
                        <th class="text-bold pr-4">@meal.Title</th>
                    }
                </tr>
                @for (var i = 1; i <= (int)ViewBag.Count; i++)
                {

                    <tr>
                        <td class="py-3"><strong> @i</strong></td>
                        @foreach (var meal in (List<TblMeal>)ViewBag.Meal)
                        {
                            <td class="py-2 px-2 " style="border-right:1px dotted  #82b1ff">
                                <div class="row">
                                    <div class="col">
                                        @Html.DropDownList("Restaurant-" + meal.Id + "-" + i, ViewBag.Restaurant as SelectList, htmlAttributes: new { @class = "mdb-select not-required  md-form md-outline my-0 py-0 Restaurant Restaurant-" + meal.Id, searchable = "جستجو ..." })
                                    </div>
                                    <div class="col">
                                        <select class="mdb-select not-required md-form md-outline text-right my-0 py-0 Food Food-@(meal.Id)" id="Food-@(meal.Id)-@(i)" name="Food-@(meal.Id)-@(i)" searchable="جستجو ...">
                                            <option value="" disabled>انتخاب نمایید...</option>

                                        </select>
                                    </div>
                                </div>
                            </td>
                        }


                    </tr>
                }
            </table>
            @*This is for select Bugs*@
            <select class="mdb-select not-required do-select md-form md-outline mt-3 d-none"></select>
            @*This is for select Bugs*@
            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
                </div>
            </div>
        </div>

    }

</div>

@section Scripts{
    <script>
        function test() {
            $(".Restaurant-1").val($("#Restaurant-1-1").val());
            //$("select#Food-1-2")[0].options( $("select#Food-1-1")[0].options);
            //console.log($("select#Food-1-1")[0].options);
            //$(".Food-1").val($("#Food-1-1").val());
            $(".Restaurant-2").val($("#Restaurant-2-1").val());
            $(".Restaurant-3").val($("#Restaurant-3-1").val());
        }
        $(document).ready(function () {
            $('#Tab-Delayed').addClass('active show');
            function listFood(meal, restaurant, person) {
                // console.log(meal + "-" + restaurant + "-" + person);
                const date = $("#Date").val();
                $.getJSON("/reservation/food/RestaurantFood",
                    { restaurant: restaurant, meal: meal, date: date },
                    function(data) {
                        // console.log(data);
                        var select = $("#Food-" + meal + "-" + person);
                        select.empty();
                        select.append($('<option/>',
                            {
                                //disabled: "disabled",
                                value: "",
                                text: "انتخاب نمایید"
                            }));
                        $.each(data,
                            function(index, itemData) {
                                // console.log(1);
                                if (itemData.Id === @ViewBag.Food) {
                                    select.append($('<option/>',
                                        {
                                            selected: "selected",
                                            value: itemData.Id,
                                            text: itemData.Title
                                        }));
                                } else {
                                    select.append($('<option/>',
                                        {
                                            value: itemData.Id,
                                            text: itemData.Title
                                        }));
                                }

                            });

                    });


            }
            $('.mdb-select.not-required.Food').find('select').each(function() {
                //console.log(1);
                var item = $(this)[0].id;
                //console.log(item);
                listFood(item.split('-')[1], @ViewBag.RestaurantSelected, item.split('-')[2]);
            });
            $("select.Restaurant").change(function (e) {

                listFood(e.target.id.split('-')[1], e.target.value, e.target.id.split('-')[2]);
            });

        });

    </script>
}