﻿@{
    ViewBag.Title = "درخواست معوقه 2";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style>
    /*#upd table {
         counter-reset: rowNumber -1;
     }

    #upd table tr {
         counter-increment: rowNumber;
     }

    #upd table tr td:first-child::after {
         content: counter(rowNumber);}

    .classic-tabs .nav li:first-child {
         margin-left: 5px;
    }*/

</style>
<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_FoodReservation")
    <!--Header-->
    <form id="add" class="needs-validation" novalidate="novalidate">
        @Html.AntiForgeryToken()
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-3 px-4">
                    <div class="md-form md-outline my-2 input-group">
                        <input type="text" class="form-control text-center readonly" aria-label="sDate" aria-describedby="sDate"
                               data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                        <label for="StartDateFa">تاریخ شروع</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input type="hidden" name="StartDate" id="StartDate" />
                    </div>
                </div>
                <div class="col-sm-3 px-4">
                    <div class="md-form md-outline my-2 input-group">
                        <input type="text" class="form-control text-center readonly" aria-label="eDate" aria-describedby="eDate"
                               data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                        <label for="EndDateFa">تاریخ پایان</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input type="hidden" name="EndDate" id="EndDate" />
                    </div>
                </div>
                <div class="col-sm-3 px-4">
                    <div class="select-outline mt-2 mb-0">
                        <select name="AccountNumber" id="AccountNumber" class="mdb-select required md-form md-outline font-size-0-90 mt-0 mb-0 readonly" searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="AccountNumber" class="m-active">شماره حساب</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="blue-grey-text text-right mt-3">
                        <i class="far fa-building  text-success mr-4"></i>
                        <span id="OfficeTitle" class="mx-1 font-size-0-75"></span>
                        <i class="fas fa-building  text-success mr-4"></i>
                        <span id="OfficeDepartmentTitle" class="mx-1  font-size-0-75"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-3 px-4">
                    <div class=" mb-2">
                        <select name="Meals" id="Meals" class="mdb-select required md-form md-outline mt-0 mb-0 text-right readonly disable-toggle-all " data-stop-refresh="true" multiple></select>
                        <label for="Meals" class="m-active">وعده</label>
                    </div>
                </div>
                <div class="col-sm-3 px-4">
                    <div class="mb-2">
                        <select name="Restaurants" id="Restaurants" class="mdb-select required md-form md-outline mt-0 mb-0 readonly" searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="Restaurants" class="m-active">رستوران</label>
                    </div>
                </div>
                <div class="col-sm-3 px-4">
                    <div class="md-form md-outline mt-0 mb-2 input-group">
                        <input type="number" class="form-control  text-center" name="Person" id="Person">
                        <label for="Person" class="m-active">شماره پرسنلی / کدملی</label>
                        <div class="input-group-prepend" id="prependPerson" data-toggle="modal" data-target="#modalPersons">
                            <span class="input-group-text " id="basic-text1">
                                <i class="fas fa-search " aria-hidden="true"></i>
                            </span>
                        </div>
                        <span class="field-validation-valid invalid-feedback mr-2" data-valmsg-for="TblPerson.PersonnelCode" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="waves-effect btn btn-link mr-auto text-primary p-0"
                            style="vertical-align:text-top" type="button" name="addToList" id="addToList">
                        <i class="fas fa-plus-square ml-2 fa-2x "></i>
                        <span class="align-top lh24 border-bottom"> افزودن به لیست</span>
                    </button>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-3 px-4">
                    <div class=" mb-2">
                        <select name="Vehicles" id="Vehicles" class="mdb-select not-required  md-form md-outline mt-0 mb-0 text-right disable-toggle-all " searchable="جستجو ..." data-stop-refresh="true" data-label-no-search-results="موردی یافت نشد"></select>
                        <label for="Vehicles" class="m-active">وسیله نقلیه</label>
                    </div>
                </div>
                <div class="col-sm-3 px-4">
                    <div class=" mb-2">
                        <select name="Driver" id="Driver" class="mdb-select not-required  md-form md-outline mt-0 mb-0" searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="Driver" class="m-active">راننده</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="waves-effect  btn btn-link  mr-auto text-primary p-0"
                            style="vertical-align:text-top" type="button" name="addDriverToList" id="addDriverToList">
                        <i class="fas fa-plus-square ml-2 fa-2x "></i>
                        <span class="align-top lh24 border-bottom"> افزودن به لیست</span>
                    </button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 col-lg-6  px-4">
                    <div class="md-form md-outline">
                        <textarea class="form-control font-size-0-80 col-12 md-textarea" name="des" id="des"></textarea>
                        <label for="des" class="m-active">پیام</label>
                    </div>
                </div>
            </div>
            <div id="upd" class="mt-3"></div>
            <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
                <button class="btn btn-link cta  mr-auto ml-0 font-size-0-50 d-none" type="button" id="save">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ثبت درخواست</span>
                </button>
            </div>

        </div>
    </form>
</div>
<div class="modal fade rtl" id="modalPersons" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body rtl text-right mx-3 ">
                <!--Accordion wrapper-->
                <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">
                    <!-- Accordion card -->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                               aria-controls="collapseOne1">
                                <h5 class="">
                                    <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                                </h5>
                            </a>
                        </div>
                        <!-- Card body -->
                        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="Name" name="Name">
                                            <label for="Name" class="active">نام</label>
                                        </div>
                                    </div>
                                    <div class="col ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="Family" name="Family">
                                            <label for="Family" class="active">نام خانوادگی</label>
                                        </div>
                                    </div>
                                    <div class="col  ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="NationalCode" name="NationalCode">
                                            <label for="NationalCode" class="active">کدملی</label>
                                        </div>
                                    </div>
                                    <div class="col  ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="PersonnelCode" name="PersonnelCode">
                                            <label for="PersonnelCode" class="active">شماره پرسنلی</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->
                </div>
                <!-- Accordion wrapper -->
                @Html.Action("UserAccess", "Person", new { area = "" })
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>

        $('[data-toggle="popover"]').popover({
            trigger: 'hover',
            container: 'body',
        });


        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',

            selectedDate: today,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            toDate: true,
            selectedDate: today,
            groupId: "Start-End-Date"
        });

        var c = 0;
        var per = [];

        function addFromModal(item, person) {
            $("#Person").val(item);
            addToList(this);
            $("#check" + person).addClass('d-none');
        }

        function tempTable() {
            $.ajax({
                url: "/Reservation/Food/OfficeTempList/?type=5",
                type: 'GET',
                success: function (data) {
                    $("#upd").html(data.PartialView);
                    $('#TempDataTable').DataTable({
                        "pageLength": data.countPerson,
                        "dom": 'rt<"row"<"col-6"i><"col-6"p>>',
                        "language": {
                            "url": "/Content/js/addons/datatables.persian.json"
                        }
                    });
                    $('#save').removeClass("d-none");
                },
                error: function (data) {
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function () {

            });
        }

        function addToList(e) {
            if ($("form").valid() === true && validateSelect(e) && $("#Person").val().length > 1) {
                // $("#loading").removeClass('hide');
                // e.preventDefault();
                var meals = $("#Meals").val();
                $.ajax({
                    url: "/Reservation/Food/AddPersonToTempList/",
                    data: {
                        meals: meals,
                        code: $("#Person").val(),
                        StartDate: $("#StartDate").val(),
                        EndDate: $("#EndDate").val(),
                        accountNumber: $("#AccountNumber").val(),
                        restaurant: $("#Restaurants").val(),
                        type: 5,
                        confirm: false,
                    },
                    type: 'POST',
                    success: function (data) {
                        toastr[data.Type](data.Msg);
                        //console.log(data);
                        if (data.Result === true) {
                            tempTable();
                            $('#save').removeClass("d-none");
                            $('.readonly').addClass("disabled");



                        }
                    },
                    error: function (data) {
                        //console.log(data);
                        toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                    }
                }).then(function () {

                });
            }
        }
        function addDriverToList(e) {
            if ($("form").valid() === true && validateSelect(e) && $("#Driver").val().length > 1) {
                // $("#loading").removeClass('hide');
                // e.preventDefault();
                var meals = $("#Meals").val();
                const vehicle = $("#Vehicles").val();
                $.ajax({
                    url: "/Reservation/Food/AddPersonToTempList/",
                    data: {
                        meals: meals,
                        code: $("#Driver").val(),
                        StartDate: $("#StartDate").val(),
                        EndDate: $("#EndDate").val(),
                        accountNumber: $("#AccountNumber").val(),
                        restaurant: $("#Restaurants").val(),
                        vehicle: vehicle,
                        type: 5,
                        confirm: false,
                    },
                    type: 'POST',
                    success: function (data) {
                        toastr[data.Type](data.Msg);
                        //console.log(data);
                        if (data.Result === true) {
                            tempTable();

                            //Remove Selected Vehicle
                            $('#select-options-Vehicles li.active').addClass("d-none vehicle-" + vehicle).removeClass("active");
                            $(`[data-activates="select-options-Vehicles"]`).val("");

                            //Remove item in Driver
                            $("#Driver").find('option').remove();
                            $("#Driver").materialSelect({ destroy: true });
                            $("#Driver").materialSelect({});

                        }
                    },
                    error: function (data) {
                        //console.log(data);
                        toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                    }
                }).then(function () {

                });
            }
        }

        function changeFood(food, id) {
            $.ajax({
                url: "/Reservation/Food/SaveOneFoodFromTempList/",
                data: { reservationId: id, food: food },
                type: 'POST',
                success: function (data) {
                    if (data === false)
                        toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است');

                },
                error: function (data) {
                    toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است (2)');
                }
            });
        }
        //function deleteOneDayPersonFromTemp(Person,Date) {
        //    $.ajax({
        //        url: "/Reservation/Food/DeleteOneDayPersonFromTemp/",
        //        data: {Person : Person,Date : Date},
        //        type: 'POST',
        //        success: function (data) {
        //            if (data === false)
        //                toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است');
        //            else
        //                tempTable();

        //        },
        //        error: function(data) {
        //            toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است (2)');
        //        }
        //    });
        //}
        function deleteOnePersonFromTemp(person, vehicle) {

            $('#deleteOnePersonFromTemp' + person).popover('hide');
            $("#check" + person).removeClass('d-none');
            $(".vehicle-" + vehicle).removeClass('d-none');
            $.ajax({
                url: "/Reservation/Food/DeleteOnePersonFromTemp/",
                data: {
                    Person: person,
                    type: 5
                },
                type: 'POST',
                success: function (data) {
                    if (data === false)
                        toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است');
                    else
                        tempTable();

                },
                error: function (data) {
                    toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است (2)');
                }
            });
        }

        $(document).ready(function () {

            $('#Tab-Delayed2').addClass('active show');
            AccountNumbers('AccountNumber', 0);
            Restaurants('#Restaurants');
            Vehicles('Vehicles');
            Meals('#Meals');
            $("select#Vehicles").change(function () {
                Drivers(this.value, '#Driver');
            });
            //#region UserListModal
            const t = $('#DataListModalPerson').DataTable({
                //"stateSave": true,
                "processing": false,
                "serverSide": true,
                "ajax": {
                    "url": "/Person/Items",
                    "type": "POST",
                    "dataType": "json",
                    "data": function (d) {
                        d.Name = $('#Name').val();
                        d.Family = $('#Family').val();
                        d.NationalCode = $('#NationalCode').val();
                        d.PersonnelCode = $('#PersonnelCode').val();
                        d.Office = $('#Office').val();
                        d.OfficeDepartment = -1;
                        d.Management = $('#Management').val();
                        d.Group = [1, 4, 5, 6];
                        d.ShiftWorker = false;
                    }
                },
                "dom": 'rt<"row"<"col-6"i><"col-6"p>>',
                //"dom": 'rt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
                "columns": [
                    //{ "data": "id", "name": "id" },
                    { "data": "Name", "name": "Name", "class": "font-size-0-75" },
                    { "data": "Family", "name": "Family", "class": "font-size-0-75" },
                    { "data": "NationalCode", "name": "NationalCode", "class": "font-size-0-75 " },
                    { "data": "PersonnelCode", "name": "PersonnelCode", "class": "font-size-0-75" },
                    { "data": "Group", "name": "Group", "class": "font-size-0-75 blue-grey-text" },
                    { "data": "Office", "name": "TblOfficeDepartment.TblOffice.Title", "class": "font-size-0-75 blue-grey-text" },
                    //{ "data": "OfficeDepartment", "name": "TblOfficeDepartment.Title" },
                    {
                        "orderable": false,
                        "data": "edit",
                        "name": "edit",
                        "class": "font-size-0-75 fit",
                        "render": function (data, type, row, meta) {
                            return `<span class='blue-text cursor-pointer' id="check${row.DT_RowId}"
                                onclick="addFromModal(${row.NationalCode},${row.DT_RowId})">
                                <i class='fas fa-plus-square fa-lg ml-2'></i><span class="">افزودن</span></span>`;
                        }
                    }
                ],
                "pageLength": 10,
                "order": [[1, "asc"], [0, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                "columnDefs": [
                    //{
                    //    "orderable": false,

                    //    "width": "50px",
                    //    "targets": 0
                    //},
                    //{
                    //    "orderable": false,
                    //    "width": "125px",
                    //    "targets": 3
                    //}
                ]
            });

            //#region Advanced Search
            $('.advancedSearch').on('keypress',
                function (e) {
                    /* ENTER Tab Space PRESSED*/
                    if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                        t.draw();
                    }
                });
            $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                function (e) {

                    t.draw();
                });

            //#endregion
            //#endregion
            $('#save').on('click',
                function (e) {
                    e.preventDefault();
                    $.ajax({
                        url: "/Reservation/Food/OfficeSave/",
                        data: {
                            des: $("#des").val(),
                            type: 5
                        },
                        type: 'POST',
                        success: function (data) {
                            toastr[data.Type](data.Msg);
                            if (data.Result === true)
                                setTimeout(function () {
                                    window.location.href = "/Welfare/FoodReservation/";
                                },
                                    3000);
                        }
                    });
                });


            //$(document).on('click',
            //    '.delete',
            //    function() {
            //        //حذف شخص از آرایه
            //        per.splice(per.indexOf($(this).attr("data-person")), 1);
            //        c--;
            //        $(this).closest("tr").fadeTo(400,
            //            0,
            //            function() {

            //                $(this).remove();

            //            });
            //        return false;
            //    });


            $('#Person,#prependPerson').on('keypress',
                function (e) {
                    /* ENTER Tab Space PRESSED*/
                    if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                        addToList(e);
                    }
                });
            $('#addToList').on('click',
                function (e) {
                    addToList(e);
                });

            $('#addDriverToList').on('click',
                function (e) {
                    addDriverToList(e);
                });


        });


    </script>
}