﻿

@{
    ViewBag.Title = "درخواست معوقه";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<style type="text/css">


</style>
    <div class="card rtl text-right">
        <!--Header-->
        @Html.Partial("Tabs_FoodReservation")
        <!--Header-->
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()

            <div class="card-body">


                @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                <ul class="stepper linear mt- pt-0" id="custom-validation">
                    <li class="step active">
                        <div data-step-label="" class="step-title waves-effect waves-dark">گام اول: انتخاب کاربر</div>
                        <div class="step-new-content">
                            <div class="row">
                                <div class="col-3">
                                    <div class="md-form md-outline  my-0 input-group mr-auto">
                                        <input type="text" class="form-control text-center  validate" aria-label="rdate" aria-describedby="rdate"
                                               data-val="true" data-val-required=" " id="username" name="username" value="" required autocomplete="off">
                                        <label for="username">شماره پرسنلی / کدملی</label>
                                        <div class="input-group-prepend cursor-pointer ">
                                            <span class="input-group-text cursor-pointer" id="rdate"><i class="fas fa-user cursor-pointer"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="blue-grey-text text-right col my-2">
                                    <i class="fas fa-user text-success"></i> <span id="uName"></span>
                                    <span id="uFamily" class="mx-2"></span>
                                    <i class="fas fa-id-card  text-success mr-4"></i> <span id="uNationalCode" class="ml-2"></span>
                                    <i class="fas fa-building  text-success mr-4"></i><span id="uOffice" class="mx-1"></span>
                                    <span id="uOfficeDepartment" class="mx-2"></span>
                                </div>
                            </div>

                            <div class="step-actions ">
                                <button class="waves-effect waves-dark  btn btn-sm btn-link  btn-link next-step mr-auto shadow-none text-primary"><span class="fas fa-arrow-circle-left ml-1 fa-lg "></span>گام بعد</button>
                            </div>
                        </div>
                    </li>
                    <li class="step">
                        <div class="step-title waves-effect waves-dark">گام دوم: انتخاب تاریخ و رستوران</div>
                        <div class="step-new-content">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="md-form md-outline my-2 input-group">
                                        <input type="text" class="form-control text-center" aria-label="sDate" aria-describedby="sDate"
                                               data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                                        <label for="StartDateFa">تاریخ شروع</label>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                                        </div>
                                        @Html.Hidden("StartDate")
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="md-form md-outline my-2 input-group">
                                        <input type="text" class="form-control text-center" aria-label="eDate" aria-describedby="eDate"
                                               data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                                        <label for="EndDateFa">تاریخ پایان</label>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                                        </div>
                                        @Html.Hidden("EndDate")
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="select-outline my-2">
                                        <select name="Restaurants" id="Restaurants" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                                        <label for="Restaurants" class="m-active">رستوران</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="md-form md-outline my-2">
                                        <input type="text" class="form-control text-center" data-val="true" data-val-required=" " id="Count" name="Count">
                                        <label for="Count">تعداد</label>

                                    </div>
                                </div>
                            </div>
                            <div class="step-actions">
                                @*<button class="waves-effect waves-dark btn btn-sm btn-secondary previous-step mr-auto  ml-0">برگشت</button>*@
                                <button class="waves-effect waves-dark  btn btn-sm btn-link  btn-link next-step mr-auto shadow-none text-primary"><span class="fas fa-arrow-circle-left ml-1 fa-lg "></span>گام بعد</button>


                            </div>
                        </div>
                    </li>
                    <li class="step">
                        <div class="step-title waves-effect waves-dark"> گام سوم: توضیحات</div>
                        <div class="step-new-content">
                            <div class="row"><textarea class="form-control font-size-0-80 col-12" name="message" id="message"></textarea></div>
                            <div class="switch mt-3">
                                <label>
                                    <input type="checkbox" checked name="lockUser" id="lockUser"  value="true">
                                    <span class="lever"></span> بستن دسترسی رزرو غذا
                                </label>
                            </div>
                           
                            <div class="step-actions">
                                <button class="btn btn-link cta  mr-auto mt-4" type="submit" id="save">
                                    <i class="fas fa-save fa-lg"></i>
                                    <span>ثبت درخواست</span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>


            </div>
        }

    </div>
@section Scripts{
    <script>
    var user = false;
    $('#sDate').MdPersianDateTimePicker({
        targetTextSelector: '#StartDateFa',
        targetDateSelector: '#StartDate',
        textFormat: 'yyyy/MM/dd',

        fromDate: true,
        selectedDate: today,
        groupId: "Start-End-Date"
    });
    $('#eDate').MdPersianDateTimePicker({
        targetTextSelector: '#EndDateFa',
        targetDateSelector: '#EndDate',
        textFormat: 'yyyy/MM/dd',
        toDate: true,
        selectedDate: today,
        groupId: "Start-End-Date"
    });

    function validationFunction() {
        //$('#custom-validation').nextStep();
    }
    //$('#custom-validation').destroyFeedback();


    $(document).ready(function() {

        $('.stepper').mdbStepper();

        $('#Tab-Delayed').addClass('active show');

        function setMessage() {
            var msg =
                `کاربر گرامی شما برای تاریخ ${$('#StartDateFa').val()} الی ${$('#EndDateFa').val()} درخواست ${$('#Count').val()} پرس غذا در رستوران ${$('#Restaurants option:selected').html()} بدون رزرو سیستمی داشتید. لطفا درخواست ذکر شده را از طریق منوی ثبت درخواست معوقه ثبت نموده و با واحد آمار خدمات رفاهی (23039) هماهنگی نمایید.`;
            $('#message').text(msg);
        }

        function getUser() {
            $('#custom-validation').activateFeedback();
            $('#uName').html('');
            $('#uFamily').html('');
            $('#uNationalCode').html('');
            $('#uOffice').html('');
            $('#uOfficeDepartment').html('');
            $.ajax({
                url: "/person/getuser/",
                data: { id: $("#username").val() },
                type: 'POST',
                success: function(data) {
                    $('#custom-validation').destroyFeedback();
                    if (data === 'NotFound') {
                        toastr["warning"]("پرسنلی با این کد وجود ندارد");
                    } else {
                        $('#custom-validation').nextStep();
                        user = true;
                        $('#uName').html(data.Name);
                        $('#uFamily').html(data.Family);
                        $('#uNationalCode').html(data.NationalCode);
                        $('#uOffice').html(data.Office);
                        $('#uOfficeDepartment').html(data.OfficeDepartment);
                    }
                },
                error: function(data) {

                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then($('#custom-validation').destroyFeedback());

        }

        $('#username').on('keypress',
            function(e) {
                /* ENTER Tab Space PRESSED*/
                if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                    getUser(e);
                }
            });
        $('#prependPerson').on('click',
            function(e) {

            });
        $('#StartDateFa,#EndDateFa,#Count,#Restaurants').on('change',
            function(e) {
                setMessage();
            });
        Restaurants('#Restaurants');
        });
    </script>
}