﻿@using Omidiyeh_Oil_Company___0147.Models
@{
    ViewBag.Title = "درخواست غذا";
    Layout = "~/Views/Shared/_layout.cshtml";
    var meals = (List<TblMeal>)ViewBag.Meal;
}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_FoodReservation")
    <!--Header-->
    <form id="add" class="needs-validation" novalidate="novalidate">
        @Html.AntiForgeryToken()
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col">
                    <div class="md-form md-outline my-3">
                        <select name="Company" id="Company" class="custom-select multiline farsi font-size-0-90 " size="3" style="min-height:130px"></select>
                        <label for="Company" class="m-active">شرکت</label>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form md-outline my-3">
                        <select name="Subsidiary" id="Subsidiary" class="custom-select multiline farsi font-size-0-90 " size="3" style="min-height:130px"></select>
                        <label for="Subsidiary" class="m-active">شرکت تابعه</label>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form md-outline my-3">
                        <select name="Management" id="Management" required data-val="true" data-val-required=" " class="custom-select multiline farsi font-size-0-90 " size="3" style="min-height:130px"></select>
                        <label for="Management" class="m-active">مدیریت</label>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form md-outline my-3">
                        <select name="Office" id="Office" required data-val="true" data-val-required=" " class="custom-select multiline farsi font-size-0-90 " size="3" style="min-height:130px">
                        </select>
                        <label for="Office" class="m-active">اداره</label>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form md-outline my-3">
                        <select name="OfficeDepartment" id="OfficeDepartment" required data-val="true" data-val-required=" " class="custom-select multiline farsi font-size-0-90 " size="3" style="min-height:130px">
                        </select>
                        <label for="OfficeDepartment" class="m-active">واحد</label>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-3">
                    <div class="md-form md-outline my-2 input-group">
                        <input type="text" class="form-control text-center" aria-label="sDate" aria-describedby="sDate"
                               data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                        <label for="StartDateFa">تاریخ</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        @Html.Hidden("StartDate")
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="md-form md-outline my-2">
                        <input class="form-control text-center" data-val="true" data-val-number="The field  تعداد نفر must be a number." data-val-required=" " id="Count" name="Count" type="number" value="">
                        <label for="Count" class=""> تعداد نفر</label>
                        <span class="field-validation-valid invalid-feedback mr-2" data-valmsg-for="Count" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class=" my-2">
                        <select name="Meals" id="Meals" class="mdb-select required md-form md-outline mt-0 mb-0 text-right  disable-toggle-all" data-stop-refresh="true" multiple></select>
                        <label for="Meals" class="m-active">وعده</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="select-outline my-2">
                        <select name="Restaurants" id="Restaurants" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="Restaurants" class="m-active">رستوران</label>
                    </div>
                </div>

            </div>

            <div class="row mt-4">
                <div class="col">
                    <div class="switch">
                        <label>
                            <input type="checkbox" checked name="lockUserOfficeDepartment" id="lockUserOfficeDepartment" value="true">
                            <span class="lever"></span> بستن دسترسی رزرو غذا کاربران واحد
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="switch">
                        <label>
                            <input type="checkbox" checked name="lockUserOffice" id="lockUserOffice" value="true">
                            <span class="lever"></span> بستن دسترسی رزرو غذا کاربران اداره
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
               
                <div class="col">
                    <div class="md-form md-outline">
                        <textarea class="form-control font-size-0-80 col-12 md-textarea" name="des" id="des"></textarea>
                        <label for="des" class="m-active">پیام</label>
                       
                    </div>
                </div>
                <div class="col">
                    <div class="md-form md-outline">
                        <textarea class="form-control font-size-0-80 col-12 md-textarea" name="message" id="message"></textarea>
                        <label for="message" class="m-active">پیام به کاربر</label>
                    </div>
                </div>
            </div>

            <div id="upd" class="mt-3"></div>

            <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-1 mb-2 ">
                <button class="btn btn-link cta  mr-auto font-size-0-50" type="button" id="selectFoods">
                    <i class="fas fa-save fa-lg"></i>
                    <span>انتخاب غذا</span>
                </button>
            </div>
            
            <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
                <button class="btn btn-link cta  mr-auto d-none font-size-0-50" type="button" id="save">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ثبت درخواست</span>
                </button>
            </div>

        </div>
    </form>
</div>


@section Scripts{
    <script>
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            disableBeforeToday: false,
            fromDate: true,
            selectedDate: today,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            toDate: true,
            selectedDate: today,
            groupId: "Start-End-Date"
        });

        $('#Company').on('change',
            function () {
                UserAccess2('Subsidiary', $(this).val(), 'Subsidiary', true, false, 2);
            });
        $('#Subsidiary').on('change',
            function () {
                UserAccess2('Management', $(this).val(), 'Management', true, false);

            });
        $('#Management').on('change',
            function () {
                UserAccess2('Office', $(this).val(), 'Office', true, false);

            });
        $('#Office').on('change',
            function () {
                UserAccess2('OfficeDepartment', $(this).val(), 'OfficeDepartment', true, false);

            });
        function setMessage() {
            var msg =
                `کاربر گرامی شما برای تاریخ ${$('#StartDateFa').val()}  درخواست ${$('#Count').val()} پرس غذا در رستوران ${$('#Restaurants option:selected').html()} بدون رزرو سیستمی داشتید. لطفا درخواست ذکر شده را از طریق منوی ثبت درخواست معوقه ثبت نموده و با واحد آمار خدمات رفاهی (23039) هماهنگی نمایید.`;
            $('#message').text(msg);
        }
        function tempTable() {
            $.ajax({
                url: "/Reservation/Food/DelayedTempList/",
                type: 'GET',
                success: function (data) {
                    $("#upd").html(data.PartialView);
                    $('#TempDataTable').DataTable({
                        "pageLength": data.countPerson,
                        "dom": 'rt<"row"<"col-6"i><"col-6"p>>',
                        "language": {
                            "url": "/Content/js/addons/datatables.persian.json"
                        }
                    });
                    $('#save').removeClass("d-none");
                },
                error: function (data) {
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                       $('#selectFoods').removeClass("d-none");
                }
            }).then(function () {

            });
        }

        function changeFood(food, id) {
            $.ajax({
                url: "/Reservation/Food/SaveOneFoodFromTempList/",
                data: { reservationId: id, food: food },
                type: 'POST',
                success: function (data) {
                    if (data === false)
                        toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است');

                },
                error: function (data) {
                    toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است (2)');
                }
            });
        }
        $(document).ready(function () {

            $('#Tab-Delayed').addClass('active show');
            UserAccess2('Company', 0, 'Company', true, false, 8);
            Restaurants('#Restaurants');
            Meals('#Meals');

            $('#save').on('click',
                function (e) {
                    
                    e.preventDefault();
                    const lockUserOffice = ($('#lockUserOffice').is(':checked')) ? true : false;
                    const lockUserOfficeDepartment = ($('#lockUserOfficeDepartment').is(':checked')) ? true : false;

                    $.ajax({
                        url: "/Reservation/Food/DelayedSave/",
                        //int officeDepartment, int office, string message, bool lockUserOfficeDepartment = false, bool lockUserOffice = false
                        data: {
                            officeDepartment: $("#OfficeDepartment").val(),
                            office: $("#Office").val(),
                            message: $("#message").val(),
                            des: $("#des").val(),
                            lockUserOfficeDepartment: lockUserOfficeDepartment,
                            lockUserOffice: lockUserOffice
                        },
                        type: 'POST',
                        success: function (data) {
                            
                            toastr[data.Type](data.Msg);
                            if (data.Result === true)
                                setTimeout(function () {
                                    window.location.href = "/Welfare/FoodReservation";
                                },
                                    3000);
                        }
                    });
                });

            $('#selectFoods').on('click',
                function (e) {
                    if ($("form").valid() === true && validateSelect(e)) {
                        e.preventDefault();
                        var meals = $("#Meals").val();
                        $.ajax({
                            url: "/Reservation/Food/AddDelayedItemsToTempList/",
                            //int count, DateTime endDate, DateTime startDate, int accountNumber, int restaurant, List<int> meals
                            data: {
                                count: $("#Count").val(),
                                StartDate: $("#StartDate").val(),
                                restaurant: $("#Restaurants").val(),
                                meals: meals
                            },
                            type: 'POST',
                            success: function (data) {
                                toastr[data.Type](data.Msg);
                                //console.log(data);
                                if (data.Result === true) {
                                    tempTable();
                                   // $('#save').removeClass("d-none");
                                    $('#selectFoods').addClass("d-none");

                                }

                            }
                        }).then(

                        );
                    }
                });

            $('#StartDateFa,#Count,#Restaurants').on('change',
                function(e) {
                    setMessage();
                });
        });


    </script>
}