﻿@model Omidiyeh_Oil_Company___0147.Models.TblFoodReservation

@{
    ViewBag.Title = "ویرایش درخواست رزرو غذا";
    Layout = "~/Views/Shared/_layout.cshtml";
}


    <div class="card rtl text-right">
        <!--Header-->
        @Html.Partial("Tabs")
        <!--Header-->
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-sm-12">
                        <div class="md-form md-outline form-lg my-2 input-group">
                            <input type="text" class="form-control text-center" aria-label="rdate" aria-describedby="rdate"
                                   data-val="true" data-val-required=" " id="ReservDateFa" name="ReservDateFa" value="">
                            <label for="ReservDateFa">تاریخ</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="rdate"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                            @Html.HiddenFor(model => model.Date)
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="select-outline my-3">
                            @Html.DropDownList("Meal", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                            @Html.LabelFor(model => model.Meal)
                            @Html.ValidationMessageFor(model => model.Meal, "", new { @class = "invalid-feedback mr-2" })
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="select-outline my-3">
                            @Html.DropDownList("Restaurant", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                            @Html.LabelFor(model => model.Restaurant)
                            @Html.ValidationMessageFor(model => model.Restaurant, "", new { @class = "invalid-feedback mr-2" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="select-outline my-3">
                            @Html.DropDownList("Food", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                            @Html.LabelFor(model => model.Food)
                            @Html.ValidationMessageFor(model => model.Food, "", new { @class = "invalid-feedback mr-2" })
                        </div>
                    </div>
                </div>

                <div class="md-form text-left">
                    <div class="col-md-12">
                        <input type="submit" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
                    </div>
                </div>
            </div>
        }

    </div>
@section Scripts{
    <script>
        $('#rdate').MdPersianDateTimePicker({
            targetTextSelector: '#ReservDateFa',
            targetDateSelector: '#Date',
            textFormat: 'yyyy/MM/dd',
            disableBeforeToday: true,
            selectedDate: new Date()
        });

        $(document).ready(function() {
            function listFood() {
                const restaurant = $("#Restaurant").val();
                const meal = $("#Meal").val();
                const date = $("#Date").val();

                $.getJSON("/reservation/food/RestaurantFood",
                    { restaurant: restaurant, meal: meal, date: date },
                    function(data) {
                        var select = $("#Food");
                        select.empty();
                        select.append($('<option/>',
                            {
                                value: "",
                                text: "انتخاب نمایید"
                            }));
                        $.each(data,
                            function(index, itemData) {

                                select.append($('<option/>',
                                    {
                                        value: itemData.Id,
                                        text: itemData.Title
                                    }));
                            });

                    });


            }
            $("#Restaurant").change(listFood);

            $('#Date').change('input',function(e) {
                listFood();
            });
            $("#Meal").change(listFood);
        });
    </script>
}