﻿@using Omidiyeh_Oil_Company___0147.Models
@model Omidiyeh_Oil_Company___0147.Models.TblBookingRequest

@{
    ViewBag.Title = "درخواست رزرو غذا";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style type="text/css">
    .select-wrapper.md-form.md-outline input.select-dropdown {
        white-space: pre !important;
    }
</style>

<!-- Classic tabs -->
<div class="classic-tabs rtl mx-2">

    <ul class="nav  tabs-blue" id="myTab" role="tablist">
        <li class="nav-item ">
            <a class="nav-link waves-light py-2 active show" id="tab-classic-1" data-toggle="tab" href="#classic-1"
               role="tab" aria-controls="classic-1" aria-selected="true">
                <i class="fas fa-bus fa-2x pb-2" aria-hidden="true"></i><br>درخواست غذا شخصی
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light py-2" id="tab-classic-2" data-toggle="tab" href="#classic-2"
               role="tab" aria-controls="classic-2" aria-selected="false">
                <i class="fas fa-tools fa-2x pb-2"
                   aria-hidden="true"></i><br>مدیریت درخواست ها
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light py-2" id="contact-tab-classic-orange" data-toggle="tab" href="#"
               role="tab" aria-controls="contact-classic-orange" aria-selected="false">
                <i class="fas fa-user-plus fa-2x pb-2"
                   aria-hidden="true"></i><br>ایجاد شخص
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light py-2" id="edit-tab-nav" data-toggle="tab" href="#edit-tab"
               role="tab" aria-controls="edit-tab" aria-selected="false">
                <i class="fas fa-edit fa-2x pb-2"
                   aria-hidden="true"></i><br>ویرایش درخواست
            </a>
        </li>
    </ul>

    <div class="tab-content card rtl text-right" id="myClassicTabContent">
        <div class="tab-pane fade active show" id="classic-1" role="tabpanel" aria-labelledby="tab-classic-1">
            <div class="row">
                <div class="col-sm-12">
                    <div class="md-form md-outline  my-1 input-group">
                        <input type="text" class="form-control text-center" aria-label="rDateAddMulti" aria-describedby="rDateAddMulti"
                               data-val="true" data-val-required=" " id="ReservDateFaAddMulti" name="ReservDateFa" value="">
                        <label for="ReservDateFaAddMulti">تاریخ</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="rDateAddMulti"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input type="hidden" name="ReservDateAddMulti" id="ReservDateAddMulti" />
                    </div>
                </div>

            </div>

            @foreach (var meal in (List<TblMeal>)ViewBag.Meal)
            {
                
                <blockquote class="blockquote text-right mb-0 bq-primary  mt-3 mb-4 ">
                    <p class="bq-title mt-0 pt-0 pb-3 font-size-1">@meal.Title</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="select-outline my-1">
                                <select name='Restaurant-@(meal.Id)' id="Restaurant-@(meal.Id)" class="mdb-select  do-select md-form md-outline font-size-0-90 mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                                <label for="Restaurant-@(meal.Id)" class="m-active">رستوران</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="select-outline my-1">
                                <select name='Food-@(meal.Id)' id="Food-@(meal.Id)" class="mdb-select  do-select md-form md-outline font-size-0-90 mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                                <label for="Food-@(meal.Id)" class="m-active">غذا</label>
                            </div>
                        </div>
                    </div>
                </blockquote>
            }
            @*This is for select Bugs*@
            <select class="mdb-select not-required do-select md-form md-outline mt-3 Food d-none"></select>
            @*This is for select Bugs*@
            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
                </div>
            </div>
        </div>
        <div class="tab-pane fade rtl" id="classic-2" role="tabpanel" aria-labelledby="tab-classic-2">
            <div id="advancedSearch"></div>

            <table id="DataList" class="table " style="width: 100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>شماره درخواست</th>
                        <th>تاریخ</th>
                        <th>ساعت</th>
                        <th>مبدا</th>
                        <th>مقصد</th>
                        <th>سفر</th>
                        <th>شماره پرسنلی</th>
                        <th>کد ملی</th>
                        <th>نام و نام خانوادگی</th>
                        <th>تاریخ تقاضا</th>
                        <th>گروه</th>
                        <th></th>
                    </tr>
                </thead>

            </table>
        </div>
        <div class="tab-pane fade" id="contact-classic-orange" role="tabpanel" aria-labelledby="tab-classic-3">
            @Html.Action("CreateChild", "Person", new { area = string.Empty })
        </div>
        <div class="tab-pane fade rtl" id="edit-tab" role="tabpanel" aria-labelledby="edit-tab-nav">
            <div id="upd-edit-tab"></div>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        //ابتدا خواندن جستجوی پیشرفته
        $.get("/Reservation/Booking/AdvancedSearch",
            function (data) {
                $('#advancedSearch').html(data);
                Trips('Trip', tomorrow.toDateString(), $("#VehicleType").children("option:selected").val());
                Trips('TripReturn', tomorrow.toDateString(), $("#VehicleType").children("option:selected").val());
            })
            .then(function () {

                AccountNumbers('AccountNumber', 0);
            })
            //سپس اجرای باقی دستورات
            .then(
                function () {

                    $('#advancedSearch .mdb-select').materialSelect();
                    $('#advancedSearch .mdb-select.not-required.do-select.select-wrapper .select-dropdown').val("")
                        .prop('placeholder', 'انتخاب نمایید');
                    $('#advancedSearch .mdb-select.required.do-select.select-wrapper .select-dropdown').val("")
                        .prop('placeholder', 'انتخاب نمایید');

                    $('#rDateAddMulti').MdPersianDateTimePicker({
                        targetTextSelector: '#ReservDateFaAddMulti',
                        targetDateSelector: '#ReservDateAddMulti',
                        textFormat: 'yyyy/MM/dd',
                        disableBeforeToday: true,
                        selectedDate: tomorrow
                    });
                    $('#ReturnDate').MdPersianDateTimePicker({
                        targetTextSelector: '#dateReturnFa',
                        targetDateSelector: '#dateReturn',
                        textFormat: 'yyyy/MM/dd',
                        disableBeforeToday: true,
                        selectedDate: tomorrow
                    });
                    $('#searchBDate').MdPersianDateTimePicker({
                        targetTextSelector: '#searchDateFa',
                        targetDateSelector: '#searchDate',
                        textFormat: 'yy/MM/dd',
                        disableBeforeToday: false,
                        rangeSelector: true
                    });
                    $('#searchRDate').MdPersianDateTimePicker({
                        targetTextSelector: '#searchRequestDateFa',
                        targetDateSelector: '#searchRequestDate',
                        textFormat: 'yy/MM/dd',
                        disableBeforeToday: false,
                        rangeSelector: true
                    });

                    $('#searchBDate').MdPersianDateTimePicker('setDateRange', lastWeek, nextWeek);

                    $(document).ready(function () {
                        //  $('#myTab li:nth-child(2) a').tab('show');


                        //#region Tab Manage Booking

                        var groupColumn = 2;
                        var t = $('#DataList').DataTable({
                            "processing": true,
                            "serverSide": true,
                            // "stateSave": true,
                            "ajax": {
                                "url": "/Reservation/Booking/List/",
                                "type": "POST",
                                "dataType": "json",
                                "data": function (d) {
                                    d.extra_search = $('#extra').val();
                                    d.searchDate = $('#searchDate').val();
                                    d.searchTimeGo = $('#searchTimeGo').val();
                                    d.searchVehicleType = $('#searchVehicleType').val();
                                    d.searchOrigin = $('#searchOrigin').val();
                                    d.searchDestination = $('#searchDestination').val();
                                    d.searchStatus = $('#searchStatus').val();
                                    d.searchRequestDate = $('#searchRequestDate').val();
                                    d.searchPersonalCode = $('#searchPersonalCode').val();
                                    d.searchNationalCode = $('#searchNationalCode').val();
                                    d.searchName = $('#searchName').val();
                                    d.searchFamily = $('#searchFamily').val();
                                    d.searchMobile = $('#searchMobile').val();
                                    d.searchManagement = $('#searchManagement').val();
                                    d.searchOffice = $('#searchOffice').val();
                                    d.searchOfficeDepartment = $('#searchOfficeDepartment').val();
                                    d.searchRequestNumber = $('#searchRequestNumber').val();
                                    d.searchBookingCode = 7;
                                    // d.searchClaim= $('#searchClaim').children("option:selected").val();
                                    d.searchFood = $('#searchFood').val();
                                    d.searchDes = $('#searchDes').val();

                                }
                            },
                            "dom": 'rt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
                            "searching": false,
                            "columns": [
                                { "data": "id", "name": "id" },
                                {
                                    "class": "details-control",
                                    "orderable": false,
                                    "data": null,
                                    "defaultContent": ""
                                },
                                { "data": "RequestNumber", "name": "RequestNumber" },
                                { "data": "Date", "name": "Date" },
                                { "data": "Time", "name": "Time" },
                                { "data": "Origin", "name": "Origin" },
                                { "data": "Destination", "name": "Destination" },
                                { "data": "Trip", "name": "Trip" },
                                { "data": "PersonnelCode", "name": "TblPerson.PersonnelCode" },
                                { "data": "NationalCode", "name": "TblPerson.NationalCode" },
                                { "data": "Fullname", "name": "TblPerson.Family" },
                                { "data": "RequestTime", "name": "RequestTime" },
                                { "data": "Group", "name": "TblPerson.TblPersonGroup.Title" },
                                {
                                    "data": "edit",
                                    "name": "edit",
                                    "render": function (data, type, row, meta) {
                                        return `<a id='edit-booking-${row.DT_RowId
                                            }' class='text-success ml-2 editBooking' data-id='${row.DT_RowId
                                            }' ><i class='fas fa-edit fa-2x'></i></a> ` +
                                            `<a id='delete-booking-${row.DT_RowId
                                            }' class='text-danger ml-2 deleteBooking' data-id='${row.DT_RowId
                                            }' data-toggle="modal" data-target="#modalConfirmDelete"><i class='fas fa-trash-alt fa-2x'></i></a> `;
                                    }
                                }
                            ],

                            "order": [[groupColumn, 'desc']],
                            "language": {
                                "url": "/Content/js/addons/datatables.persian.json"
                            },
                            "columnDefs": [
                                { "visible": false, "targets": groupColumn },
                                {
                                    "orderable": false,
                                    //
                                    //"className": 'text-bold',
                                    "width": "50px",
                                    "targets": 0
                                },
                                {
                                    "orderable": false,
                                    "width": "125px",
                                    "targets": 13
                                }
                            ],
                            //"select": {
                            //    style: 'os',
                            //    selector: 'td:first-child'
                            //},
                            "displayLength": 25,
                            "drawCallback": function (settings) {
                                var api = this.api();
                                var rows = api.rows({ page: 'current' }).nodes();
                                var last = null;
                                var klass = "myEven";
                                api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {
                                    //if (last !== group) {
                                    //    klass === "myOdd" ? klass = "myEven" : klass = "myOdd";
                                    //}
                                    $(rows).eq(i).removeClass("odd even").addClass(klass);

                                    if (last !== group) {
                                        $(rows).eq(i).before(
                                            `<tr class="group  pt-5 "><td class=" green-text  my-0 pt-4 pb-0 pr-5 text-bold " colspan="13">
                                                                    <span class="ml-5">شماره درخواست:</span><span class="text-bold">${
                                            group
                                            }</span></td></tr>`
                                        );
                                        last = group;
                                    }
                                });
                            }
                        });

                        //شماره گذاری سطر های جدول
                        t.on('order.dt search.dt',
                            function () {
                                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                                    cell.innerHTML = i + 1;
                                });
                            }).draw();

                        //ایجاد لینک ویرایش در جدول
                        t.on('click',
                            'a.editBooking',
                            function (e) {
                                // console.log(e.currentTarget.attributes['data-id'].value);
                                $.get("/Travel/BookingRequests/EditMission/",
                                    { id: e.currentTarget.attributes['data-id'].value },
                                    function (data, status, xhr) {
                                        $('#upd-edit-tab').html(data);
                                        $('#myTab li:nth-child(4) a').tab('show');
                                        $('#Editrdate').MdPersianDateTimePicker({
                                            targetTextSelector: '#EdiDateGoFa',
                                            targetDateSelector: '#EdiDateGo',
                                            textFormat: 'yyyy/MM/dd',
                                        });
                                        $('#upd-edit-tab .mdb-select').materialSelect();


                                        $("#saveEdit").on('click',
                                            function () {
                                                console.log(23);
                                                var residence = false;
                                                if ($("#EditResidence").is(':checked')) residence = true;

                                                var foodLunch = false;
                                                if ($("#EditFoodLunch").is(':checked')) foodLunch = true;

                                                var foodDinner = false;
                                                if ($("#EditFoodDinner").is(':checked')) foodDinner = true;
                                                $.post("/Travel/BookingRequests/EditMission/",
                                                    {
                                                        id: $('#EditId').val(),
                                                        tel: $('#EditTel').val(),
                                                        date: $('#EdiDateGo').val(), //
                                                        time: $('#EditTimeGo').val(), //
                                                        route: $('#EditRoute').children("option:selected").val(),
                                                        mobile: $('#EditMobile').val(),
                                                        vehicleType: $('#EditVehicleType').children("option:selected")
                                                            .val(),
                                                        residence: residence,
                                                        foodLunch: foodLunch,
                                                        foodDinner: foodDinner,
                                                        des: $('#EditDes').val(),
                                                        claim: $('#EditClaim').val()

                                                    },
                                                    function (data) {
                                                        $.each(data,
                                                            function (index, itemData) {
                                                                toastr[itemData.Type](itemData.Msg);

                                                            });

                                                        $('#myTab li:nth-child(2) a').tab('show'); // Select third tab

                                                        t.draw();
                                                        $('#upd-edit-tab').html('');

                                                    });
                                            });
                                    }).fail(function (data) {
                                        console.log(data.status);

                                        console.log("error");
                                    });
                            });

                        //ایجاد لینک حذف در جدول
                        t.on('click',
                            'a.deleteBooking',
                            function (e) {
                                //console.log(e.currentTarget.attributes['data-id'].value);
                                $("#modalDeleteYes").attr("data-id", e.currentTarget.attributes['data-id'].value);
                                $("#modalDeleteYes").on('click',
                                    function (b) {
                                        $.post("/Travel/BookingRequests/DeleteJava/",
                                            { id: e.currentTarget.attributes['data-id'].value },
                                            function (data, status, xhr) {
                                                toastr[data.Type](data.Msg);
                                                t.draw();
                                                $('#modalConfirmDelete').modal('hide');
                                            }).fail(function (data) {
                                                console.log(data.status);
                                                console.log("error");
                                            });
                                        //console.log(b.currentTarget.attributes['data-id'].value);
                                    });

                            });

                        // Add event listener for opening and closing details
                        $('#DataList tbody').on('click',
                            'td.details-control',
                            function () {
                                var tr = $(this).closest('tr');
                                var row = t.row(tr);

                                if (row.child.isShown()) {
                                    // This row is already open - close it
                                    row.child.hide();
                                    tr.removeClass('shown');
                                } else {
                                    // Open this row
                                    row.child(childRowsT(row.data()), 'm-0 p-0').show();
                                    tr.addClass('shown');
                                }
                            });

                        function childRowsT(d) {
                            //console.log(d);
                            // `d` is the original data object for the row
                            return `<table class="no-border  table-sm w-100 font-size-0-75 yellow lighten-5">
                                                        <tr>
                                                        <th></th><th></th>
                                                        <th>تلفن</th>
                                                        <th>موبایل</th>
                                                        <th>اداره</th>
                                                        <th>واحد</th>
                                                        <th>هتل</th>
                                                        <th>نهار</th>
                                                        <th>شام</th>
                                                        <th>وسیله نقلیه</th>
                                                        <th>توضیحات</th>
                                                        </tr>
                                                        <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td> ${d["Tel"]}</td>
                                                        <td> ${d["Mobile"]}</td>
                                                        <td> ${d["Office"]}</td>
                                                        <td> ${d["OfficeDepartment"]}</td>
                                                        <td> ${d["Residence"] === true
                                    ? '<i class="fas fa-check-square"></i>'
                                    : '<i class="far fa-square"></i>'}</td>
                                                        <td> ${d["FoodLunch"] === true
                                    ? '<i class="fas fa-check-square"></i>'
                                    : '<i class="far fa-square"></i>'}</td>
                                                        <td> ${d["FoodDinner"] === true
                                    ? '<i class="fas fa-check-square"></i>'
                                    : '<i class="far fa-square"></i>'}</td>
                                                        <td> ${d["VehicleType"]}</td>
                                                        <td> ${d["Des"]}</td>


                                                        </tr>
                                                        </table>`;
                        }
                        //#endregion

                        //#region Advanced Search


                        $('.advancedSearch').on('keypress',
                            function (e) {
                                /* ENTER Tab Space PRESSED*/
                                if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                                    t.draw();
                                }
                            });
                        $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                            function (e) {

                                t.draw();
                            });

                        //#endregion

                        //#region Tab Add Booking

                        $('#dateGo,#VehicleType').on('change',
                            function (e) {
                                Trips('Trip', $("#dateGo").val(), $("#VehicleType").children("option:selected").val());
                            });
                        $('#dateReturn').on('change',
                            function (e) {
                                Trips('TripReturn', $("#dateReturn").val(), $("#VehicleType").children("option:selected").val());
                            });
                        $('#VehicleType').on('change',
                            function (e) {
                                Trips('Trip', $("#dateGo").val(), $("#VehicleType").children("option:selected").val());
                                Trips('TripReturn', $("#dateReturn").val(), $("#VehicleType").children("option:selected").val());
                            });

                        $('#personalCode').on('keypress',
                            function (e) {
                                /* ENTER Tab Space PRESSED*/
                                if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                                    getFamily(e);
                                }
                            });
                        $('#prependPersonalCode').on('click', getFamily);
                        $('#addSick').on('click', function (e) { addTempItem(e, $("#Sick").val(), true) });
                        $('#prependNationalCode').on('click', function (e) { addTempItem(e, $("#nationalCode").val(), false) });
                        $('#nationalCode').on('keypress',
                            function (e) {
                                /* ENTER Tab Space PRESSED*/
                                if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                                    addTempItem(e, $("#nationalCode").val(), false);
                                }
                            });

                        //Initial DataTable
                        var temp = $('#Temp').DataTable({
                            "paging": false,
                            "ordering": false,
                            "info": false,
                            "searching": false,
                            "columnDefs": [
                                {
                                    "className": 'details-control',
                                    "orderable": false,
                                    "data": null,
                                    "defaultContent": '',
                                    "targets": 0
                                },
                                {
                                    "width": "90px",
                                    "targets": [10, 11, 12, 13, 14, 16]
                                },
                                {
                                    "targets": [16, 17, 18, 19, 20, 21, 22, 23, 24],
                                    "visible": false

                                },
                                {
                                    "targets": [10, 11, 12, 13, 14],
                                    "render": function (data, type, row, meta) {
                                        return data === true
                                            ? '<i class="fas fa-check-square"></i>'
                                            : '<i class="far fa-square"></i>';
                                    }
                                }
                            ]
                        });

                        function childRows(d) {
                            // `d` is the original data object for the row
                            return '<ul class="list-unstyled w-100 m-0 p-0  py-2  yellow lighten-5 " >' +
                                '<li><span class="text-bold px-5">توضیحات:</span>' +
                                d[17] +
                                '</li>' +
                                //'<li><span class="text-bold px-5">بازپرداخت هزینه ها:</span>' +
                                //d[17] +
                                //'</li>' +
                                '</ul>';
                        }

                        // Add event listener for opening and closing details
                        $('#Temp tbody').on('click', 'td.details-control',
                            function () {
                                var tr = $(this).closest('tr');
                                var row = temp.row(tr);

                                if (row.child.isShown()) {
                                    // This row is already open - close it
                                    row.child.hide();
                                    tr.removeClass('shown');
                                } else {
                                    // Open this row
                                    row.child(childRows(row.data()), 'm-0 p-0').show();
                                    tr.addClass('shown');
                                }
                            });
                        //Delete Icon On Click in DataTable and remove Item
                        $('#Temp tbody').on('click', 'i.icon-delete',
                            function () {
                                temp
                                    .row($(this).parents('tr'))
                                    .remove()
                                    .draw();
                            });


                        //Add Temp Item from PersonalCode and NationalCode
                        function addTempItem(e, nationalCode) {
                            //console.log(nationalCode);
                            e.preventDefault();
                            if ($("form").valid() === true && validateSelect(e)) {
                                var residence = IsChecked('residence');
                                var foodLunch = IsChecked('foodLunch');
                                var foodDinner = IsChecked('foodDinner');
                                var extraChair = IsChecked('extraChair');
                                var specialServices = IsChecked('specialServices');

                                // var nationalCode = $("#nationalCode").val();
                                $.getJSON("/person/DetailsJson/",
                                    {
                                        nationalCode
                                    },
                                    function (data) {
                                        if (data === "NotFound") {
                                            toastr['error']('کاربری با این مشخصات وجود ندارد');
                                        } else {

                                            temp.row.add([
                                                '', //0
                                                data.NationalCode,
                                                data.Name,
                                                data.Family,
                                                $("#dateGoFa").val(),
                                                $("#Trip").children("option:selected").attr('data-time'),//5
                                                $("#Trip").children("option:selected").attr('data-origin'), //6
                                                $("#Trip").children("option:selected").attr('data-destination'), //7
                                                $("#VehicleType").children("option:selected").text(), //8
                                                $("#AccountNumber").children("option:selected").text(), //9
                                                residence, //10
                                                foodLunch, //11
                                                foodDinner, //12
                                                specialServices, //13
                                                extraChair, //14
                                                '<i class="fas fa-trash icon-delete text-danger"></i>', //15
                                                data.Id, //16
                                                $("#Des").val(), //17
                                                $("#Trip").children("option:selected").attr('data-origin-id'), //18
                                                $("#Trip").children("option:selected").attr('data-destination-id'), //19
                                                $("#Trip").val(), //20
                                                $("#dateGo").val(), //21
                                                $("#VehicleType").children("option:selected").val(), //22
                                                $("#AccountNumber").children("option:selected").val(), //23
                                                $("#Trip").children("option:selected").attr('data-route'), //24
                                                false //25 isReturn?
                                            ]).draw();
                                            if ($("#TripReturn").val() !== null) {
                                                temp.row.add([
                                                    '', //0
                                                    data.NationalCode,
                                                    data.Name,
                                                    data.Family,
                                                    $("#dateGoFa").val(),
                                                    $("#TripReturn").children("option:selected").attr('data-time'),//5
                                                    $("#TripReturn").children("option:selected").attr('data-origin'), //6
                                                    $("#TripReturn").children("option:selected").attr('data-destination'), //7
                                                    $("#VehicleType").children("option:selected").text(), //8
                                                    $("#AccountNumber").children("option:selected").text(), //9
                                                    residence, //10
                                                    foodLunch, //11
                                                    foodDinner, //12
                                                    specialServices, //13
                                                    extraChair, //14
                                                    '<i class="fas fa-trash icon-delete text-danger"></i>', //15
                                                    data.Id, //16
                                                    $("#Des").val(), //17
                                                    $("#TripReturn").children("option:selected").attr('data-origin-id'), //18
                                                    $("#TripReturn").children("option:selected").attr('data-destination-id'), //19
                                                    $("#TripReturn").val(), //20
                                                    $("#dateGo").val(), //21
                                                    $("#VehicleType").children("option:selected").val(), //22
                                                    $("#AccountNumber").children("option:selected").val(), //23
                                                    $("#TripReturn").children("option:selected").attr('data-route'), //24
                                                    true //25 isReturn?
                                                ]).draw();
                                            }

                                            //$("#nationalCode").val('');

                                        }
                                    });
                            } else {
                                validateSelect(e);
                            }
                        };

                        function getFamily(e) {

                            e.preventDefault();

                            $.getJSON("/person/FamilyJson/",
                                {
                                    code: $("#personalCode").val()
                                },
                                function (data) {
                                    var select = $("#Sick");
                                    select.empty();
                                    if (data === "NotFound") {
                                        $("#headName").html("کارمندی با این کد وجود ندارد");
                                        $("#headFamily").html('');
                                        $("#headNationalCode").html('');
                                        $("#headOffice").html('');
                                        $("#headOfficeDepartment").html('');
                                        select.addClass("disabled");
                                    } else {
                                        $("#headName").html(data[0].Name);
                                        $("#headFamily").html(data[0].Family);
                                        $("#headNationalCode").html(data[0].NationalCode);
                                        $("#headOffice").html(data[0].Office);
                                        $("#headOfficeDepartment").html(data[0].OfficeDepartment);
                                        select.removeClass("disabled");
                                    }


                                    $.each(data,
                                        function (index, itemData) {

                                            select.append($('<option/>',
                                                {
                                                    //class:'pre',
                                                    'value': itemData.NationalCode,
                                                    'text': itemData.Name + ' ' + itemData.Family,
                                                    'data-secondary-text': itemData.NationalCode + ' - ' + itemData.FamilyRelationship
                                                    //html: `<i class='fas  fa-user  text-success mr-5'></i>  ${
                                                    //    itemData.Name} ${itemData.Family
                                                    //    } <i class='fas fa-id-card  text-success mr-5'></i> ${
                                                    //    itemData.NationalCode
                                                    //    }  <i class='fas fa-users text-success mr-5'></i>  ${
                                                    //    itemData.FamilyRelationship}`
                                                }));
                                        });


                                });
                        }


                        //Post Data on DataTable to addMission Action for Save to db
                        $('#addItems').on('click',
                            function (e) {
                                //console.log(1);
                                var items = [];
                                var t1 = temp.rows().data().toArray();
                                t1.forEach(function (item) {
                                    items.push({
                                        person: item[16],
                                        trip: item[20],
                                        route: item[25],
                                        origin: item[18],
                                        destination: item[19],
                                        des: item[17],
                                        date: item[21],
                                        time: item[5],
                                        residence: item[10],
                                        foodLunch: item[11],
                                        foodDinner: item[12],
                                        specialServices: item[13],
                                        extraChair: item[14],
                                        vehicleType: item[22],
                                        accountNumber: item[23],
                                        isReturn: item[25],
                                        bookingCode: 7
                                    });
                                });
                                e.preventDefault();

                                $.post("/booking/AddBooking/",
                                    {
                                        items: items
                                    },
                                    function (data) {
                                        $.each(data,
                                            function (index, itemData) {
                                                toastr[itemData.Type](itemData.Msg);
                                            });

                                        $('#myTab li:nth-child(2) a').tab('show'); // Select third tab

                                        t.draw();


                                    });


                            });


                        //#endregion
                    });

                });
    </script>
}
