﻿@model Omidiyeh_Oil_Company___0147.Models.TblFoodReservationLetter
@{
    ViewBag.Title = "درخواست غذا با نامه";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_FoodReservation")
    <!--Header-->
    <form id="add" class="needs-validation" novalidate="novalidate">
        @Html.AntiForgeryToken()
        <input type="hidden" name="groupId" id="groupId" />
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-4">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control text-center", autocomplete = "off" } })
                        @Html.LabelFor(model => model.Subject)
                        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control text-center", autocomplete = "off" } })
                        @Html.LabelFor(model => model.Number)
                        @Html.ValidationMessageFor(model => model.Number, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="md-form md-outline form-lg my-3 input-group">
                        <input type="text" class="form-control text-center" aria-label="ldate" aria-describedby="ldate" autocomplete="off"
                               data-val="true" data-val-required=" " id="LetterDateFa" name="LetterDateFa" value="">
                        <label for="LetterDateFa">تاریخ نامه</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="ldate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        @Html.HiddenFor(model => model.Date)
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Count)
                        @Html.ValidationMessageFor(model => model.Count, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>


            </div>
            <div class="row mt-3">
                <div class="col-sm-3">
                    <div class="md-form md-outline my-2 input-group">
                        <input type="text" class="form-control text-center" aria-label="sDate" aria-describedby="sDate"
                               data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                        <label for="StartDateFa">تاریخ شروع</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        @Html.Hidden("StartDate")
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="md-form md-outline my-2 input-group">
                        <input type="text" class="form-control text-center" aria-label="eDate" aria-describedby="eDate"
                               data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                        <label for="EndDateFa">تاریخ پایان</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        @Html.Hidden("EndDate")
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class=" my-2">
                        <select name="Meals" id="Meals" class="mdb-select required md-form md-outline mt-0 mb-0 text-right  disable-toggle-all" data-stop-refresh="true" multiple></select>
                        <label for="Meals" class="m-active">وعده</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="select-outline my-2">
                        <select name="Restaurants" id="Restaurants" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="Restaurants" class="m-active">رستوران</label>
                    </div>
                </div>

            </div>
            <div class="row mt-3">
                <div class="col-sm-3">
                    <div class="select-outline my-2">
                        <select name="AccountNumber" id="AccountNumber" class="mdb-select required do-select md-form md-outline font-size-0-90 mt-0 mb-1 " searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="AccountNumber" class="m-active">شماره حساب</label>
                        <div class="blue-grey-text text-center">
                            <i class="far fa-building  text-success mr-4"></i><span id="OfficeTitle" class="mx-1 font-size-0-75"></span>
                            <i class="fas fa-building  text-success mr-4"></i><span id="OfficeDepartmentTitle" class="mx-1  font-size-0-75"></span>
                        </div>
                    </div>
                </div>
                @*<div class="col-sm-3">
                    <div class="select-outline my-2">
                        <select name="Management" id="Management" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="Management" class="m-active">مدیریت معرف</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="select-outline my-2">
                        <select name="Office" id="Office" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="Office" class="m-active">اداره معرف</label>
                    </div>
                </div>*@
                <div class="col-sm-3">
                    <div class="select-outline my-2">
                        <div class="select-outline my-2">
                            <select name="OfficeFor" id="OfficeFor" class="mdb-select md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                            <label for="OfficeFor" class="m-active">ارگان دولتی</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 col-lg-6  px-4">
                    <div class="md-form md-outline">
                        <textarea class="form-control font-size-0-80 col-12 md-textarea" name="des" id="des"></textarea>
                        <label for="des" class="m-active">پیام</label>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-1 mb-2 ">
                <button class="btn btn-link cta  mr-auto font-size-0-50" type="button" id="selectFoods">
                    <i class="fas fa-save fa-lg"></i>
                    <span>انتخاب غذا</span>
                </button>
            </div>
            <div class="row d-none" id="rrDate">
                <div class="col-sm-6 col-md-4 ">
                    <div class="md-form md-outline my-2 input-group">
                        <input type="text" class="form-control text-center " aria-label="rDate" aria-describedby="rDate"
                               data-val="true" data-val-required=" " id="ReservationDateFa" name="ReservationDateFa" value="">
                        <label for="ReservationDateFa">تاریخ </label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="rDate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input type="hidden" name="ReservationDateFa" id="ReservationDate" />

                    </div>
                </div>
            </div>
            <div id="upd"></div>
            <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
                <button class="btn btn-link cta  mr-auto d-none font-size-0-50" type="button" id="save">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ثبت درخواست</span>
                </button>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script>
        console.log(@ViewBag.UserGroup);
        var group = 0;
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            disableBeforeToday: @((ViewBag.UserGroup == 1 || ViewBag.UserGroup == 21 || ViewBag.UserGroup == 12 || ViewBag.UserGroup == 10 || ViewBag.UserGroup == 14) ? "false" : "true"),
            //fromDate: true,
            selectedDate: today,
            groupId: "Start-End-Date"
        });



        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            toDate: true,
            selectedDate: today,
            groupId: "Start-End-Date"
        });

        $('#rDate').MdPersianDateTimePicker({
            targetTextSelector: '#ReservationDateFa',
            targetDateSelector: '#ReservationDate',
            textFormat: 'yyyy/MM/dd',
            selectedDate: today,
            disableBeforeDate: today,
            disableAfterDate: today
        });
        $('#ReservationDate').on('change',
            function(e) {
                EditTable(group, $('#ReservationDate').val());
            });
        $('#ldate').MdPersianDateTimePicker({
            targetTextSelector: '#LetterDateFa',
            targetDateSelector: '#Date',
            textFormat: 'yyyy/MM/dd',
            disableBeforeToday: @((ViewBag.UserGroup == 1 || ViewBag.UserGroup == 21 || ViewBag.UserGroup == 12 || ViewBag.UserGroup == 10 || ViewBag.UserGroup == 14) ? "false" : "true"),
            selectedDate: new Date()
        });

        function tempTable() {
            $.ajax({
                url: "/Reservation/Food/LetterTempList/",
                type: 'GET',
                success: function (data) {
                    $("#upd").html(data.PartialView);
                    $('#TempDataTable').DataTable({
                        "pageLength": data.countPerson,
                        "dom": 'rt<"row"<"col-6"i><"col-6"p>>',
                        "language": {
                            "url": "/Content/js/addons/datatables.persian.json"
                        }
                    });
                    $('#save').removeClass("d-none");
                },
                error: function (data) {
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function() {

            });
        }

        function EditTable(id, date) {
             //console.log(id, date);
            $.ajax({
                url: `/Welfare/FoodReservation/EditList/?id=${id}&date=${date}`,
                type: 'GET',
                success: function(data) {
                    // console.log(data);
                    $("#upd").html(data.PartialView);
                    $("#groupId").val(id);
                    group = id;
                    $('#save').removeClass("d-none");
                    $('#rrDate').removeClass('d-none');
                   
                    $('#rDate').MdPersianDateTimePicker('setOption', 'disableBeforeDate', new Date($('#StartDate').val()));
                    $('#rDate').MdPersianDateTimePicker('setOption', 'disableAfterDate', new Date($('#EndDate').val()));
                    $('#rDate').MdPersianDateTimePicker('setOption', 'selectedDate', new Date(date));
                    
                },
                error: function(data) {
                   // console.log(data);
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data.status}</small>`);
                }
            }).then(function () {
               
            });
        }
        function changeFood(food, id) {
            $.ajax({
                url: "/Reservation/Food/SaveOneFoodFromTempList/",
                data: {reservationId : id,food : food},
                type: 'POST',
                success: function (data) {
                    if (data === false)
                        toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است');

                },
                error: function(data) {
                    toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است (2)');
                }
            });
        }

        $(document).ready(function() {
            $('#Tab-Letter').addClass('active show');
            AccountNumbers('AccountNumber', 0);
            Restaurants('#Restaurants');
            Meals('#Meals',true);
            //UserAccess('Management', -1, 'Management');
            UserAccess('Subsidiary', 1, 'OfficeFor', false, true);
            //$('#Management').on('change',
            //    function() {
            //        UserAccess('Office', $(this).val(), 'Office');
            //    });
            $('#save').on('click',
                function(e) {
                    //console.log(1);
                    e.preventDefault();
                    const myForm = document.getElementById("add");
                    const fd = new FormData(myForm);
                    console.log(fd);
                    $.ajax({
                        url: "/Reservation/Food/LetterSave/",
                        data: fd,
                        cache: false,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        success: function(data) {
                            //  toastr[data.Type](data.Msg);
                            toastr[data.Type](data.Msg);
                            if (data.Result === true)
                                setTimeout(function() {
                                        window.location.href = "/Reservation/Food/Letter";
                                    },
                                    5000);
                        }
                    });
                });
            $('#selectFoods').on('click',
                function(e) {
                    if ($("form").valid() === true && validateSelect(e)) {

                        //console.log($("#Meals").val());
                        e.preventDefault();
                        var meals = $("#Meals").val();
                        $.ajax({
                            url: "/Reservation/Food/AddLetterItemsToTempList/",
                            //int count, DateTime endDate, DateTime startDate, int accountNumber, int restaurant, List<int> meals
                            data: {
                                count: $("#Count").val(),
                                StartDate: $("#StartDate").val(),
                                EndDate: $("#EndDate").val(),
                                accountNumber: $("#AccountNumber").val(),
                                restaurant: $("#Restaurants").val(),
                                meals: meals
                            },
                            type: 'POST',
                            success: function (data) {
                                toastr[data.Type](data.Msg);
                                console.log(data);
                                if (data.Result === true) {
                                    EditTable(data.Id, $("#StartDate").val());
                                    //tempTable();
                                    //  $('#save').removeClass("d-none");
                                    $('#selectFoods').addClass("d-none");

                                }

                            }
                        }).then(

                        );
                    }
                });
        });
    </script>
}