﻿@using Omidiyeh_Oil_Company___0147.Models
<table class="table table-sm   table-hover table-fixed table-bordered">
    <thead>
    <tr class="black-text cloudy-knoxville-gradient">
        <th class="text-center" style="width: 50px">#</th>
        @foreach (var meal in (List<TblMeal>)ViewBag.Meal)
        {
            <th class="text-bold pr-4">@meal.Title</th>
        }
    </tr>
    </thead>
    <tbody>
        @for (var i = 1; i <= (int)ViewBag.Count; i++)
        {
        <tr>
            <td class="text-center"><strong> @i</strong></td>
            @foreach (var meal in (List<TblMeal>)ViewBag.Meal)
            {
                if (meal.Id == 0)
                {
                    <td class="px-4 py-1 text-center" >
                        <div class="switch">
                            <label>
                                   
                                <input type="checkbox" class="Food-@(meal.Id)" id='Food-@(meal.Id)-@(i)' name='Food-@(meal.Id)-@(i)' value="0">
                                <span class="lever"></span> 
                            </label>
                        </div>
                           
                    </td>
                }
                else
                {
                    <td class='px-4 py-1'>
                        <select class='custom-select custom-select-sm no-border my-0 py-0 Food-@(meal.Id) farsi' id='Food-@(meal.Id)-@(i)' name='Food-@(meal.Id)-@(i)'></select>
                    </td>
                }

            }


        </tr>
        }</tbody>
</table>

