﻿@using MD.PersianDateTime
@using Omidiyeh_Oil_Company___0147.Models
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblPerson>

@{
    ViewBag.Title = "درخواست رزرو غذا - ادارات " + ViewBag.RestaurantTitle;
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style type="text/css">
    .select-wrapper input.select-dropdown {
        margin-bottom: 0;
        font-size: 14px;
    }

    .table td, .table th {
        border-top: 1px dotted #dee2e6;
    }
</style>

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs")
    <!--Header-->
    @using (Html.BeginForm("AddOffice", null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="Date" id="Date" value="@ViewBag.Date" />
        <input type="hidden" name="meal" id="meal" value="@(string.Join(",", (List<int>)  ViewBag.MealId))" />

        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col">
                    <div class="md-form md-outline form-lg input-group">
                        <input type="text" class="form-control  text-center disabled valid-border" value="@ViewBag.DateTitle" />
                        <label>تاریخ</label>
                        <input type="hidden" name="Date" id="Date" />

                    </div>
                </div>
                <div class="col">
                    <div class="md-form md-outline form-lg input-group">
                        <input type="text" class="form-control text-center disabled valid-border" value="@ViewBag.OfficeTitle" />
                        <label>اداره</label>
                        <input type="hidden" name="Office" id="Office" value="@ViewBag.Office" />
                    </div>
                </div>
                <div class="col">
                    <div class="md-form md-outline form-lg input-group">
                        <input type="text" class="form-control  text-center disabled valid-border" value="@ViewBag.OfficeDepartmentTitle" />
                        <label>واحد</label>
                        <input type="hidden" name="OfficeDepartment" id="OfficeDepartment" value="@ViewBag.OfficeDepartment" />
                    </div>
                </div>
            </div>
            <table class="table table-sm table-hover">
                <tr class="blue-ic">
                    <th class="text-bold">
                        <div class="form-check ">
                            <input type="checkbox" class="form-check-input CheckedAll" id="Checked-All">
                            <label class="form-check-label text-bold" for="Checked-All">شخص</label>
                        </div>
                    </th>
                    <th class="text-bold">کد</th>
                    @foreach (var meal in (List<TblMeal>)ViewBag.Meal)
                    {
                        <th class="text-bold pr-4">@meal.Title</th>
                    }
                </tr>
                @foreach (var item in Model)
                {

                    <tr>

                        <td class="py-3">
                            <div class="form-check ">
                                <input type="checkbox" class="form-check-input Checked" name="Checked-@(item.Id)" id="Checked-@(item.Id)">
                                <label class="form-check-label text-bold" for="Checked-@(item.Id)"> @item.Fullname()</label>
                            </div>
                        </td>
                        <td class="py-3"><strong>@item.PersonnelCode</strong></td>
                        @foreach (var meal in (List<TblMeal>)ViewBag.Meal)
                        {

                            <td class="py-2 px-2 " style="border-right: 1px dotted #82b1ff">
                                <div class="row">
                                    <div class="col">
                                        @Html.DropDownList("Restaurant-" + meal.Id + "-" + item.Id, ViewBag.Restaurant as SelectList, htmlAttributes: new { @class = "mdb-select not-required md-form md-outline Restaurant my-0 py-0 ", searchable = "جستجو ..." })
                                    </div>
                                    <div class="col">
                                        <select class="mdb-select not-required md-form md-outline text-right my-0 py-0 Food " id="Food-@(meal.Id)-@(item.Id)" name="Food-@(meal.Id)-@(item.Id)" searchable="جستجو ...">
                                            <option value="" disabled>انتخاب نمایید</option>
                                            @*@foreach (var food in (List<TblFood>) ViewBag.Foods)
                                                {
                                                    <option value="@food.Id"
                                                            @if (ViewBag.Food == food.Id)
                                                            {<text>selected</text>}
                                                            class="default-select Food-@(meal.Id) @item.Id @food.Id">
                                                        @food.Title
                                                    </option>
                                                }*@
                                        </select>
                                    </div>
                                </div>
                            </td>
                        }


                    </tr>
                }
            </table>
            @*This is for select Bugs*@
            <select class="mdb-select not-required do-select md-form md-outline mt-3 d-none"></select>
            @*This is for select Bugs*@
            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
                </div>
            </div>
        </div>

    }

</div>
<span class="d-none" id="p-link">/reservation/food/office</span>
@section Scripts{
    <script>
        $("input.CheckedAll").change(function (e) {
            //console.log(e);
            //console.log(e.target.checked);
            CheckedAll(e.target.checked);
        });
        function CheckedAll(checked) {
            $('.form-check-input.Checked').each(function() {
                var item = $(this);
               item.prop("checked", checked);
            });
        };
        $(document).ready(function() {
            $('#Tab-Office').addClass('active show');




            function listFood(meal, restaurant, person) {
               // console.log(meal + "-" + restaurant + "-" + person);
                const date = $("#Date").val();
                $.getJSON("/reservation/food/RestaurantFood",
                    { restaurant: restaurant, meal: meal, date: date },
                    function(data) {
                        // console.log(data);
                        var select = $("#Food-" + meal + "-" + person);
                        select.empty();
                        //select.append($('<option/>',
                        //    {
                        //        //disabled: "disabled",
                        //        value: "",
                        //        text: "انتخاب نمایید"
                        //    }));
                        $.each(data,
                            function(index, itemData) {
                                
                                    select.append($('<option/>',
                                        {
                                            value: itemData.Id,
                                            text: itemData.Title
                                        }));
                                

                            });

                    });


            }

            $('.mdb-select.not-required.Food').find('select').each(function() {
                //console.log(1);
                var item = $(this)[0].id;
                //console.log(item);
                listFood(item.split('-')[1], @ViewBag.RestaurantSelected, item.split('-')[2]);
            });

            $("select.Restaurant").change(function(e) {

                listFood(e.target.id.split('-')[1], e.target.value, e.target.id.split('-')[2]);
            });
            $("select.Restaurant").load(function (e) {
                console.log(e);
                listFood(e.target.id.split('-')[1], e.target.value, e.target.id.split('-')[2]);
            });
            //$('#Date').change('input', function (e) {
            //    listFood();
            //});
            // $("#Meal").change(listFood);
        });

    </script>
}