﻿
@{
    ViewBag.Title = "درخواست غذا";
    Layout = "~/Views/Shared/_layout.cshtml";

}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_FoodReservation")
    <!--Header-->
    <form id="add" class="needs-validation" novalidate="novalidate">
        @Html.AntiForgeryToken()
        <div class="card-body">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <ul class="stepper linear mt- pt-0" id="custom-validation">
                <li class="step active">
                    <div data-step-label="" class="step-title waves-effect waves-dark">انتخاب تاریخ و شماره حساب</div>
                    <div class="step-new-content">
                        <div class="row">
                        <div class="col-sm-3">
                            <div class="md-form md-outline my-2 input-group">
                                <input type="text" class="form-control text-center readonly" aria-label="sDate" aria-describedby="sDate"
                                       data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                                <label for="StartDateFa">تاریخ شروع</label>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                                </div>
                                @Html.Hidden("StartDate")
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="md-form md-outline my-2 input-group">
                                <input type="text" class="form-control text-center readonly" aria-label="eDate" aria-describedby="eDate"
                                       data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                                <label for="EndDateFa">تاریخ پایان</label>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                                </div>
                                @Html.Hidden("EndDate")
                            </div>
                        </div>
                        </div>
                        <div class="row">
                
                            <div class="col-sm-3">
                                <div class="select-outline mt-2 mb-0">
                                    <select name="AccountNumber" id="AccountNumber" class="mdb-select required md-form md-outline font-size-0-90 mt-0 mb-0 readonly" searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="AccountNumber" class="m-active">شماره حساب</label>
                                    
                                </div>
                            </div>
                            <div class="text-right col mt-3">
                               
                                    <i class="far fa-building  text-success mr-4"></i>
                                    <span id="OfficeTitle" class="mx-1 font-size-0-75"></span>
                                    <i class="fas fa-building  text-success mr-4"></i>
                                    <span id="OfficeDepartmentTitle" class="mx-1  font-size-0-75"></span>
                                
                            </div>
                        </div>
                        <div class="step-actions ">
                            <button class="waves-effect waves-dark  btn btn-sm btn-link  btn-link next-step mr-auto shadow-none text-primary"><span class="fas fa-arrow-circle-left ml-1 fa-lg "></span>گام بعد</button>
                        </div>
                    </div>
                </li>
                <li class="step active">
                    <div class="step-title waves-effect waves-dark">انتخاب وعده و رستوران</div>
                    <div class="step-new-content">
                       
                        <div class="row">
                            <div class="col-md-3" id="Meals"></div>
                            <div class="col-sm-3">
                                <div class="select-outline my-2">
                                    <select name="Restaurants" id="Restaurants" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="Restaurants" class="m-active">رستوران</label>
                                </div>
                            </div>
                        </div>
                        <div class="step-actions">
                            @*<button class="waves-effect waves-dark btn btn-sm btn-secondary previous-step mr-auto  ml-0">برگشت</button>*@
                            <button class="waves-effect waves-dark  btn btn-sm btn-link  btn-link next-step mr-auto shadow-none text-primary"><span class="fas fa-arrow-circle-left ml-1 fa-lg "></span>گام بعد</button>


                        </div>
                    </div>
                </li>
                <li class="step">
                    <div class="step-title waves-effect waves-dark"> گام سوم: توضیحات</div>
                    <div class="step-new-content">
                        <div class="row"><textarea class="form-control font-size-0-80 col-12" name="message" id="message"></textarea></div>
                        <div class="switch mt-3">
                            <label>

                                <input type="checkbox" checked name="lockUser" id="lockUser" value="true">
                                <span class="lever"></span> بستن دسترسی رزرو غذا
                            </label>
                        </div>

                        <div class="step-actions">
                            <button class="btn btn-link cta  mr-auto mt-4" type="submit" id="save">
                                <i class="fas fa-save fa-lg"></i>
                                <span>ثبت درخواست</span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
            
            

            <div id="upd" class="mt-3"></div>

            <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
                <button class="btn btn-link cta  mr-auto ml-0 font-size-0-50" type="button" disabled id="save">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ثبت درخواست</span>
                </button>
            </div>

        </div>
    </form>
</div>
@section Scripts{
    <script>
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            disableBeforeToday: true,
            fromDate: true,
            selectedDate: tomorrow,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            toDate: true,
            selectedDate: tomorrow,
            groupId: "Start-End-Date"
        });
        $(document).ready(function () {
            $('.stepper').mdbStepper();

            $('#Tab-Office').addClass('active show');
            AccountNumbers('AccountNumber', 0);
            Restaurants('#Restaurants');
            MealsSwitch('#Meals');
            var c = 0;
            var per = [];

            $('#save').on('click',
                function(e) {
                    e.preventDefault();
                    const myForm = document.getElementById("add");
                    const fd = new FormData(myForm);
                    console.log(fd);
                    $.ajax({
                        url: "/Reservation/Food/Office/",
                        data: fd,
                        cache: false,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        success: function (data) {
                            toastr[data.Type](data.Msg);
                        }
                    });
                });

       function addToList(e) {

                if ($("form").valid() === true && validateSelect(e)) {
                   // $("#loading").removeClass('hide');
                    // e.preventDefault();
                    var meals = $("#Meals").val();
                    $.ajax({
                        url: "/Reservation/Food/OfficeList/",
                        data: { meals: meals, person: $("#Person").val(), count: c },
                        type: 'POST',
                        success: function (data) {
                            if (data.Fullname === 'Not Found') {
                                toastr["warning"]("پرسنلی با این کد وجود ندارد");
                            } else {
                                //اگر شخصی با این کد پرسنلی در لیست موجود نباشد
                                if (per.find(p => p === data.NationalCode) === undefined) {
                                    $("#Person").val('');
                                    //اضافه کردن شخص به لیست
                                    per.push(data.NationalCode);
                                    if (c === 0) {
                                       // $('.readonly').prop('readonly', true);
                                        $('button[type="button"]').removeAttr("disabled");
                                        $("#upd").html(data.View);
                                        c++;
                                    } else
                                        $('#upd2 > tbody:last-child').append(data.View);

                                    for (let i = 0; i < meals.length; i++) {
                                        var m = meals[i];
                                        Foods($('#Restaurants').val(),
                                            m,
                                            $('#StartDate').val(),
                                            '#Food-' + m + '-' + data.Id);
                                    }
                                } else {
                                    // console.log(2);
                                    toastr["warning"]("پرسنلی با این مشخصات در لیست وجود دارد");
                                }
                            }
                        },
                        error: function (data) {
                            toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>` );
                        }
                    }).then(function () {
                        //$("#loading").addClass('hide');
                    });
                }
            }
            $(document).on('click', '.delete', function () {
                //حذف شخص از آرایه
                per.splice(per.indexOf($(this).attr("data-person")), 1);
                c--;
                $(this).closest("tr").fadeTo(400, 0, function () {

                    $(this).remove();

                });

                return false;
            });


            $('#Person,#prependPerson').on('keypress',
                function (e) {
                    /* ENTER Tab Space PRESSED*/
                    if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                        addToList(e);
                    }
                });
            $('#prependPerson').on('click', function (e) {
                addToList(e);
            });
        });

    </script>
}
