﻿

@{
    ViewBag.Title = "درخواست مدت دار";
    Layout = "~/Views/Shared/_layout.cshtml";

}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_FoodReservation")
    <!--Header-->
    @using (Html.BeginForm("AddPeriod", null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-3 input-group">
                        <input type="text" class="form-control text-center" aria-label="sDate" aria-describedby="sDate"
                               data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                        <label for="StartDateFa">تاریخ شروع</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        @Html.Hidden("StartDate")
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="md-form md-outline my-3 input-group">
                        <input type="text" class="form-control text-center" aria-label="eDate" aria-describedby="eDate"
                               data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                        <label for="EndDateFa">تاریخ پایان</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        @Html.Hidden("EndDate")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="select-outline mt-2 mb-1">
                            <select name="Office" id="Office" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                            <label for="Office" class="m-active">اداره</label>
                        </div>
                    </div>
                <div class="col-sm-6">
                    <div class="select-outline mt-2 mb-1">
                        <select name="OfficeDepartment" id="OfficeDepartment" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="OfficeDepartment" class="m-active">واحد</label>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.DropDownList("Person", null, htmlAttributes: new { @class = "mdb-select required do-select  md-form md-outline mt-3", searchable = "جستجو ..." })
                    @Html.Label("پرسنل")
                </div>
                <div class="col-sm-6">
                    <div class="select-outline">
                        <select name='Restaurant' id="Restaurant" class="mdb-select required do-select md-form md-outline font-size-0-90 mt-3 mb-0  Restaurant" searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="Restaurant" class="m-active">رستوران</label>
                    </div>
                </div>
            </div>
            @*This is for Bugs*@
            <select class="mdb-select not-required do-select md-form md-outline mt-3 Food d-none"></select> 
            @*This is for Bugs*@
            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="درخواست غذا" class="btn btn-blue font-size-1" />
                </div>
            </div>
        </div>
    }

</div>
@section Scripts{
    <script>
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            disableBeforeToday: true,
            fromDate: true,
            selectedDate: tomorrow,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            toDate: true,
            selectedDate: nextWeek,
            groupId: "Start-End-Date"

        });

        $(document).ready(function() {
            $('#Tab-Period').addClass('active show');
            Offices('Office', 'OfficeDepartment');
            Restaurants('#Restaurant');

            $("#Office").change(function (e) {
                OfficesDepartments('OfficeDepartment', $('option:selected', this).attr('department'));
            });
            $("#OfficeDepartment").change(function () {
                var cId = $(this).val();
                $.getJSON("/Reservation/Food/PersonOffice/",
                    { officeDepartment: cId },
                    function (data) {
                        var select = $("#Person");
                        select.empty();
                        select.append($('<option/>',
                            {
                                value: "",
                                text: "انتخاب نمایید..."
                            }));
                        $.each(data,
                            function (index,itemData) {
                                select.append($('<option/>',
                                    {
                                        value: itemData.Id,
                                        text: itemData.Title
                                    }));
                            });
                    });

            });
        });
    </script>
}