﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblFoodReservationShiftPerson>

<style>
    .dataTables_info {
        font-size:0.8rem;
        padding-top:10px !important;
    }
</style>

           
<table id="DataShiftPerson" class="table table-striped py-0 table-hover font-size-0-80 lh1" style="width: 100%;">
    <thead>
        <tr>
            <th data-orderable="false" class="fit">#</th>
            <th data-orderable="false" class="fit">Group</th>
            <th>
                @Html.DisplayNameFor(model => model.TblPerson.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblPerson.Family)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblPerson.NationalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblPerson.PersonnelCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblPerson.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblPerson.TblOfficeDepartment.Office)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblPerson.OfficeDepartment)
            </th>
            <th class="action" data-orderable="false"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="fit"></td>
                <td class="fit">@item.Group</td>
                <td class="fit">@item.TblPerson.Name</td>
                <td class="fit">@item.TblPerson.Family</td>
                <td class="fit">@item.TblPerson.NationalCode</td>
                <td class="fit">@item.TblPerson.PersonnelCode</td>
                <td class="fit">@item.TblPerson.TblPersonGroup.Title</td>
                <td class="fit">@item.TblPerson.TblOfficeDepartment.TblOffice.Title</td>
                <td class="fit">@item.TblPerson.TblOfficeDepartment.Title</td>
              
                <td class="fit action">
                    @*  <span class='text-warning ml-2' data-toggle="popover" data-placement="top" data-content="حذف شخص از این تاریخ" onclick="deleteOneDayPersonFromTemp(@item.Person, '@item.DateEn')"><i class="fas fa-trash-alt fa-lg"></i></span>*@
                    <span id="deleteOnePersonFromTemp@(item.Person)" class='text-danger' data-toggle="popover" data-placement="top" data-content="حذف شخص" onclick="deleteOnePersonFromTemp(@item.Person,@item.Group)"><i class="fas fa-trash fa-lg"></i></span>
                </td>
            </tr>
        }

    </tbody>
</table>

