﻿@{
    ViewBag.Title = "درخواست غذا نیروهای نوبتکار";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style type="text/css">
    ul.stepper li a {
        padding: unset;

    }
</style>
<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_FoodReservation")
    <!--Header-->
    <form id="add" class="needs-validation" novalidate="novalidate">
        @Html.AntiForgeryToken()
        <div class="card-body">
            
            <ul class="stepper linear pt-0" id="custom-validation">
                <li class="step active">
                    <div data-step-label="" class="step-title waves-effect waves-dark">گام اول: انتخاب تاریخ</div>
                    <div class="step-new-content">
                        <div class="row">
                            <div class="col-md-4 col-xl-3 px-4">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center readonly" aria-label="sDate" aria-describedby="sDate"
                                           data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                                    <label for="StartDateFa">تاریخ شروع</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="StartDate" id="StartDate" />
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-3 px-4">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center readonly" aria-label="eDate" aria-describedby="eDate"
                                           data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                                    <label for="EndDateFa">تاریخ پایان</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="EndDate" id="EndDate" />
                                </div>
                            </div>
                        </div>

                        <div class="step-actions ">
                            <button class="waves-effect waves-dark  btn btn-sm btn-link  btn-link next-step mr-auto shadow-none text-primary"><span class="fas fa-arrow-circle-left ml-1 fa-lg "></span>گام بعد</button>
                        </div>
                    </div>
                </li>
                <li class="step">
                    <div class="step-title waves-effect waves-dark">گام دوم: انتخاب شماره حساب و اداره</div>
                    <div class="step-new-content">
                        <div class="row">
                            <div class="col-md-4 col-xl-3 px-4">
                                <div class="select-outline mt-2 mb-0">
                                    <select name="AccountNumber" id="AccountNumber" class="mdb-select required md-form md-outline font-size-0-90 mt-0 mb-0 readonly AccountNumber" searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="AccountNumber" class="m-active">شماره حساب</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="blue-grey-text text-right mt-3">
                                    <i class="far fa-building  text-success mr-4"></i>
                                    <span id="OfficeTitle" class="mx-1 font-size-0-75"></span>
                                    <i class="fas fa-building  text-success mr-4"></i>
                                    <span id="OfficeDepartmentTitle" class="mx-1  font-size-0-75"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <div class="md-form md-outline my-3">
                                    <select name="Company" id="Company" class="custom-select multiline farsi font-size-0-90 " size="3" style="min-height:130px"></select>
                                    <label for="Company" class="m-active">شرکت</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-form md-outline my-3">
                                    <select name="Subsidiary" id="Subsidiary" class="custom-select multiline farsi font-size-0-90 " size="3" style="min-height:130px"></select>
                                    <label for="Subsidiary" class="m-active">شرکت تابعه</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-form md-outline my-3">
                                    <select name="Management" id="Management" required data-val="true" data-val-required=" " class="custom-select multiline farsi font-size-0-90 " size="3" style="min-height:130px"></select>
                                    <label for="Management" class="m-active">مدیریت</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-form md-outline my-3">
                                    <select name="Office" id="Office" required data-val="true" data-val-required=" " class="custom-select multiline farsi font-size-0-90 " size="3" style="min-height:130px">
                                    </select>
                                    <label for="Office" class="m-active">اداره</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-form md-outline my-3">
                                    <select name="OfficeDepartment" id="OfficeDepartment" required data-val="true" data-val-required=" " class="custom-select multiline farsi font-size-0-90 " size="3" style="min-height:130px">
                                    </select>
                                    <label for="OfficeDepartment" class="m-active">واحد</label>
                                </div>
                            </div>
                        </div>
                        <div class="step-actions">
                            @*<button class="waves-effect waves-dark btn btn-sm btn-secondary previous-step mr-auto  ml-0">برگشت</button>*@
                            <button class="waves-effect waves-dark  btn btn-sm btn-link  btn-link next-step mr-auto shadow-none text-primary" id="selectOffice"><span class="fas fa-arrow-circle-left ml-1 fa-lg "></span>گام بعد</button>


                        </div>
                    </div>
                </li>
                <li class="step">
                    <div class="step-title waves-effect waves-dark">گام سوم: انتخاب رستوران</div>
                    <div class="step-new-content">
                        <div class="row">
                            <div class="col-md-4 col-xl-3  px-4">
                                <div class="mb-2 mt-2">
                                    <select name="Restaurants" id="Restaurants" class="mdb-select required md-form md-outline mt-0 mb-0 readonly" searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="Restaurants" class="m-active">رستوران</label>
                                </div>
                            </div>
                        </div>

                        <div class="step-actions">
                            @*<button class="waves-effect waves-dark btn btn-sm btn-secondary previous-step mr-auto  ml-0">برگشت</button>*@
                            <button class="waves-effect waves-dark  btn btn-sm btn-link  btn-link next-step mr-auto shadow-none text-primary"><span class="fas fa-arrow-circle-left ml-1 fa-lg "></span>گام بعد</button>
                        </div>
                    </div>
                </li>

                <li class="step">
                    <div class="step-title waves-effect waves-dark"> گام چهارم:انتخاب نفرات</div>
                    <div class="step-new-content">
                        <div class="row mt-2">


                            <div class="col-md-4 col-xl-3 px-4">
                                <div class="md-form md-outline mt-0 mb-2 input-group">
                                    <input type="text" class="form-control  text-center" name="Person" id="Person">
                                    <label for="Person" class="m-active">شماره پرسنلی / کدملی</label>
                                    <div class="input-group-prepend" id="prependPerson" data-toggle="modal" data-target="#modalPersons">
                                        <span class="input-group-text " id="basic-text1">
                                            <i class="fas fa-search " aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <span class="field-validation-valid invalid-feedback mr-2" data-valmsg-for="TblPerson.PersonnelCode" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="col">
                                <button class="waves-effect btn btn-link mr-auto text-primary p-0"
                                        style="vertical-align: text-top" type="button" name="addToList" id="addToList">
                                    <i class="fas fa-plus-square ml-2 fa-2x "></i>
                                    <span class="align-top lh24 border-bottom"> افزودن به لیست</span>
                                </button>
                            </div>
                            <div class="col-md-4 col-xl-3 px-4">
                                <div class="md-form md-outline mt-0 mb-2 input-group">
                                    <input type="text" class="form-control  text-center" name="oldGroup" id="oldGroup">
                                    <label for="Person" class="m-active">شماره درخواست قبلی</label>
                                    <div class="input-group-prepend" id="prependOldGroup" >
                                        <span class="input-group-text ">
                                            <i class="fas fa-search " aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col">
                                <button class="waves-effect btn btn-link mr-auto text-primary p-0"
                                        style="vertical-align: text-top" type="button" name="addGroupToList" id="addGroupToList">
                                    <i class="fas fa-plus-square ml-2 fa-2x "></i>
                                    <span class="align-top lh24 border-bottom"> افزودن به لیست</span>
                                </button>
                            </div>
                           

                        </div>
                        <div class="row mt-2">
                            <div class="col text-left">
                                <i class="fas fa-sync purple-text" onclick="shiftPersonTable()"></i>
                            </div>
                            <div class="col-12" id="updPerson">

                            </div>
                        </div>
                        <div class="step-actions">
                            <button class="waves-effect waves-dark  btn btn-sm btn-link  btn-link next-step mr-auto shadow-none text-primary"><span class="fas fa-arrow-circle-left ml-1 fa-lg "></span>گام بعد</button>
                        </div>
                    </div>
                </li>
                <li class="step">
                    <div class="step-title waves-effect waves-dark">گام پنجم: تعداد نفرات استراحت</div>
                    <div class="step-new-content">
                        <div class="row">

                            <div class="col-md-4 px-4">
                                <div class="md-form md-outline mt-2 mb-2 input-group">
                                    <input type="number" class="form-control  text-center" name="RestCount" id="RestCount" required min="0" max="1000">
                                    <label for="RestCount" class="m-active">تعداد نفرات استراحت</label>
                                    <div class="input-group-prepend" id="prependRestCount">
                                        <span class="input-group-text ">
                                            <i class="fas fa-users " aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="step-actions">
                            @*<button class="waves-effect waves-dark btn btn-sm btn-secondary previous-step mr-auto  ml-0">برگشت</button>*@
                            <button class="waves-effect waves-dark  btn btn-sm btn-link  btn-link next-step mr-auto shadow-none text-primary"><span class="fas fa-arrow-circle-left ml-1 fa-lg "></span>گام بعد</button>
                        </div>
                    </div>
                </li>
                <li class="step">
                    <div class="step-title waves-effect waves-dark" id="step-6">گام ششم:  تعداد غذای هر وعده</div>
                    <div class="step-new-content">

                        <h6 class="blue-text"><i class="fas fa-concierge-bell ml-2 red-text"></i>روزهای عادی</h6>
                        <div class="row mb-5" id="MealN">


                        </div>
                        <h6 class="blue-text"><i class="fas fa-concierge-bell ml-2 red-text"></i>روزهای پنج شنبه</h6>
                        <div class="row mb-5" id="MealT">


                        </div>
                        <h6 class="blue-text"><i class="fas fa-concierge-bell ml-2 red-text"></i>روزهای جمعه و تعطیل</h6>
                        <div class="row" id="MealF">


                        </div>
                        <div class="row">
                            <div class="d-flex flex-row justify-content-end align-items-end align-self-end mt-3 col-12 ">
                                <button class="btn btn-link cta  mr-auto ml-0 font-size-0-50" type="button" id="selectFoods">
                                    <i class="fas fa-save fa-lg"></i>
                                    <span>مشاهده درخواست</span>
                                </button>
                            </div>
                        </div>
                        @*<div class="step-actions">
                        <button class="waves-effect waves-dark  btn btn-sm btn-link  btn-link next-step mr-auto shadow-none text-primary next-6"  id="selectFoods"><span class="fas fa-arrow-circle-left ml-1 fa-lg "></span>گام بعد</button>
                    </div>*@
                    </div>
                </li>

                <li class="step">
                    <div class="step-title waves-effect waves-dark"> گام هفتم:توضیحات و انتخاب غذا</div>
                    <div class="step-new-content">
                        <div class="row mt-2">
                            <div class="col-md-12 col-lg-6  px-4">
                                <div class="md-form md-outline">
                                    <textarea class="form-control font-size-0-80 col-12 md-textarea" name="des" id="des"></textarea>
                                    <label for="des" class="m-active">پیام</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-4 ">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center" aria-label="rDate" aria-describedby="rDate"
                                           data-val="true" data-val-required=" " id="ReservationDateFa" name="ReservationDateFa" value="">
                                    <label for="ReservationDateFa">تاریخ </label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="rDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="ReservationDateFa" id="ReservationDate"/>

                                </div>
                            </div>
                            @*<div class="col-sm-2 text-left">
                                <i class="fas fa-sync purple-text" onclick="EditTable()"></i>
                            </div>*@
                        </div>
                        <div class="row">

                            <div id="upd" class="mt-3 table-responsive"></div>

                        </div>
                        <div class="row">
                            <div class="d-flex flex-row justify-content-end align-items-end align-self-end mt-3 col-12 ">
                                <button class="btn btn-link cta  mr-auto ml-0 font-size-0-50 d-none" type="button" id="save">
                                    <i class="fas fa-save fa-lg"></i>
                                    <span>ثبت درخواست</span>
                                </button>
                            </div>
                        </div>
                        @*<div class="step-actions">
                        <button class="waves-effect waves-dark btn btn-sm btn-secondary previous-step mr-auto  ml-0">برگشت</button>
                    </div>*@
                    </div>
                </li>

            </ul>
        </div>
    </form>
</div>
<div class="modal fade rtl" id="modalPersons" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body rtl text-right mx-3 ">
                <!--Accordion wrapper-->
                <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">
                    <!-- Accordion card -->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                               aria-controls="collapseOne1">
                                <h5 class="">
                                    <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                                </h5>
                            </a>
                        </div>
                        <!-- Card body -->
                        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="Name" name="Name">
                                            <label for="Name" class="active">نام</label>
                                        </div>
                                    </div>
                                    <div class="col ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="Family" name="Family">
                                            <label for="Family" class="active">نام خانوادگی</label>
                                        </div>
                                    </div>
                                    <div class="col  ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="NationalCode" name="NationalCode">
                                            <label for="NationalCode" class="active">کدملی</label>
                                        </div>
                                    </div>
                                    <div class="col  ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="PersonnelCode" name="PersonnelCode">
                                            <label for="PersonnelCode" class="active">شماره پرسنلی</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->
                </div>
                <!-- Accordion wrapper -->
                @Html.Action("UserAccess", "Person", new { area = "" })
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
    var t;
    var groupId;
    $('[data-toggle="popover"]').popover({
        trigger: 'hover',
        container: 'body',
    });
    $('#sDate').MdPersianDateTimePicker({
        targetTextSelector: '#StartDateFa',
        targetDateSelector: '#StartDate',
        textFormat: 'yyyy/MM/dd',
        disableBeforeToday: @((ViewBag.UserGroup == 1 || ViewBag.UserGroup == 12 || ViewBag.UserGroup == 10 || ViewBag.UserGroup == 14) ? "false" : "true"),
        //fromDate: true,
        selectedDate: today,
        groupId: "Start-End-Date"
    });
    $('#eDate').MdPersianDateTimePicker({
        targetTextSelector: '#EndDateFa',
        targetDateSelector: '#EndDate',
        textFormat: 'yyyy/MM/dd',
        toDate: true,
        selectedDate: today,
        groupId: "Start-End-Date"
    });


    var c = 0;
    var per = [];

    function enableNext(item) {
        //console.log(1);
        $(".next-" + item).removeClass('hide');
    }

    function addFromModal(item, person) {
        //console.log(item);
        $("#Person").val(item);
        addToList(this);
        $("#check" + person).addClass('d-none');
    }

    function shiftPersonTable() {
        $.ajax({
            url: `/Reservation/Food/ShiftPerson/?id=${groupId}`,
            type: 'GET',
            success: function(data) {
                //console.log(data);
                $("#updPerson").html(data);
                $('#DataShiftPerson').DataTable({
                    "pageLength": 500,
                    "dom": 'rt<"row"<"col-6"i>>',
                    "language": {
                        "url": "/Content/js/addons/datatables.persian.json"
                    }
                });
            },
            error: function(data) {
                toastr["error"](`هنگام انجام درخواست شما خطایی رخ داده است.<br /><small>${data}</small><br />12`);
            }
        }).then(function() {

        });
    }

    function tempTable() {
        // console.log('tempTable');
        $.ajax({
            url: "/Reservation/Food/ShiftTempList/",
            type: 'GET',
            success: function(data) {
                $("#upd").html(data.PartialView);
                //$('#TempDataTable').DataTable({
                //    "pageLength": 1000,
                //    "dom": 'rt<"row"<"col-6"i><"col-6"p>>',
                //    "language": {
                //        "url": "/Content/js/addons/datatables.persian.json"
                //    }
                //});
                //console.log(1);
                $('#save').removeClass("d-none");
            },
            error: function(data) {
                //console.log(data);
                toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small><br />11`);
            }
        }).then(function() {

        });
    }

    function EditTable(id, date) {
        $.ajax({
            url: `/Welfare/FoodReservation/EditList/?id=${id}&date=${date}`,
            type: 'GET',
            success: function(data) {
                // console.log(data);
                $("#upd").html(data.PartialView);

            },
            error: function(data) {
                //console.log(data);
                toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data.status}</small>`);
            }
        }).then(function() {

        });
    }

        function addGroupToList(e) {
            if ($("form").valid() === true &&
                validateSelect(e) &&
                $("#oldGroup").val().length > 1) {

                $.ajax({
                    url: "/Reservation/Food/AddGroupToShiftTempList/",
                    data: {
                        // meals: meals,
                        oldGroup: $("#oldGroup").val(),
                        StartDate: $("#StartDate").val(),
                        EndDate: $("#EndDate").val(),
                        accountNumber: $("#AccountNumber").val(),
                        officeDepartment: $("#OfficeDepartment").val(),
                        restCount: 0
                        

                    },
                    type: 'POST',
                    success: function (data) {
                        toastr[data.Type](data.Msg.split(";")[0]);
                        //console.log(data);
                        if (data.Result === true) {
                            groupId = data.Msg.split(";")[1];
                            shiftPersonTable();
                            //$('#save').removeClass("d-none");
                            $('.readonly').addClass("disabled");

                        }
                    },
                    error: function (data) {
                        //console.log(data);
                        toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small><br />14`);
                    }
                }).then(function () {

                });
            }
        }

    function addToList(e) {
        // console.log($("#AccountNumber").val());
        if ($("form").valid() === true &&
            validateSelect(e) &&
            $("#Person").val().length > 1 /*&& $("#RestCount").val().length > 0*/) {
            // $("#loading").removeClass('hide');
            // e.preventDefault();
            //  var meals = $("#Meals").val();
            $.ajax({
                url: "/Reservation/Food/AddPersonToShiftTempList/",
                data: {
                    // meals: meals,
                    code: $("#Person").val(),
                    StartDate: $("#StartDate").val(),
                    EndDate: $("#EndDate").val(),
                    accountNumber: $("#AccountNumber").val(),
                    officeDepartment: $("#OfficeDepartment").val(),
                    restCount: 0 /*$("#RestCount").val()*/,
                    //  personCount: $("#PersonCount").val(),

                },
                type: 'POST',
                success: function (data) {
                    toastr[data.Type](data.Msg.split(";")[0]);
                    //console.log(data);
                    if (data.Result === true) {
                        groupId = data.Msg.split(";")[1];
                        shiftPersonTable();
                        //$('#save').removeClass("d-none");
                        $('.readonly').addClass("disabled");

                    }
                },
                error: function(data) {
                    //console.log(data);
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small><br />10`);
                }
            }).then(function() {

            });
        }
    }

    function changeFood(food, id) {
        $.ajax({
            url: "/Reservation/Food/SaveOneFoodFromTempList/",
            data: { reservationId: id, food: food },
            type: 'POST',
            success: function(data) {
                if (data === false)
                    toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است');

            },
            error: function(data) {
                toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است (2)');
            }
        });
    }
    //function deleteOneDayPersonFromTemp(Person,Date) {
    //    $.ajax({
    //        url: "/Reservation/Food/DeleteOneDayPersonFromTemp/",
    //        data: {Person : Person,Date : Date},
    //        type: 'POST',
    //        success: function (data) {
    //            if (data === false)
    //                toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است');
    //            else
    //                tempTable();

    //        },
    //        error: function(data) {
    //            toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است (2)');
    //        }
    //    });
    //}
    function deleteOnePersonFromTemp(person, vehicle) {
        //console.log(1);
        $('#deleteOnePersonFromTemp' + person).popover('hide');
        $("#check" + person).removeClass('d-none');
        $(".vehicle-" + vehicle).removeClass('d-none');
        $.ajax({
            url: "/Reservation/Food/DeleteOnePersonFromTempShift/",
            data: { Person: person },
            type: 'POST',
            success: function(data) {
                //console.log(data);
                if (data === false)
                    toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است');
                else
                    shiftPersonTable();

            },
            error: function(data) {
                toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است (2)');
            }
        });
    }

    $('#Company').on('change',
        function() {
            UserAccess2('Subsidiary', $(this).val(), 'Subsidiary', true, false, 2);
        });
    $('#Subsidiary').on('change',
        function() {
            UserAccess2('Management', $(this).val(), 'Management', true, false);

        });
    $('#Management').on('change',
        function() {
            UserAccess2('Office', $(this).val(), 'Office', true, false);

        });
    $('#Office').on('change',
        function() {
            UserAccess2('OfficeDepartment', $(this).val(), 'OfficeDepartment', true, false);

        });
    $('#OfficeDepartment').on('change',
        function() {
            //console.log('update list person');
            t.draw();
        });
    $(document).ready(function() {
        UserAccess2('Company', 0, 'Company', true, false, 8);
        $('.stepper').mdbStepper();
        $('#Tab-Shift').addClass('active show');
        AccountNumbers('AccountNumber');
        Restaurants('#Restaurants');
        // Meals('#Meals');
        MealsInputShift('#MealN', "MealN");
        MealsInputShift('#MealT', "MealT");
        MealsInputShift('#MealF', "MealF");
        //#region UserListModal
        t = $('#DataListModalPerson').DataTable({
            //"stateSave": true,
            "processing": false,
            "serverSide": true,
            "ajax": {
                "url": "/Person/Items",
                "type": "POST",
                "dataType": "json",
                "data": function(d) {
                    // console.log(1);
                    d.Name = $('#Name').val();
                    d.Family = $('#Family').val();
                    d.NationalCode = $('#NationalCode').val();
                    d.PersonnelCode = $('#PersonnelCode').val();
                    d.Office = $('#Office').val();
                    d.OfficeDepartment = $('#OfficeDepartment').val();
                    d.Management = $('#Management').val();
                    d.Group = [1, 4, 5, 6, 8];
                    d.ShiftWorker = true;
                    d.Retierd = false;
                    d.Disable = false;
                }
            },
            "dom": 'rt<"row"<"col-6"i><"col-6"p>>',
            //"dom": 'rt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
            "columns": [
                //{ "data": "id", "name": "id" },
                { "data": "Name", "name": "Name", "class": "font-size-0-75" },
                { "data": "Family", "name": "Family", "class": "font-size-0-75" },
                { "data": "NationalCode", "name": "NationalCode", "class": "font-size-0-75 " },
                { "data": "PersonnelCode", "name": "PersonnelCode", "class": "font-size-0-75" },
                { "data": "Group", "name": "Group", "class": "font-size-0-75 blue-grey-text" },
                {
                    "data": "Office",
                    "name": "TblOfficeDepartment.TblOffice.Title",
                    "class": "font-size-0-75 blue-grey-text"
                },
                //{ "data": "OfficeDepartment", "name": "TblOfficeDepartment.Title" },
                {
                    "orderable": false,
                    "data": "edit",
                    "name": "edit",
                    "class": "font-size-0-75 fit",
                    "render": function(data, type, row, meta) {
                        return `<span class='blue-text cursor-pointer' id="check${row.DT_RowId}"
                            onclick="addFromModal(${row.NationalCode},${row.DT_RowId})">
                            <i class='fas fa-plus-square fa-lg ml-2'></i><span class="">افزودن</span></span>`;
                    }
                }
            ],
            "pageLength": 10,
            "order": [[1, "asc"], [0, "asc"]],
            "language": {
                "url": "/Content/js/addons/datatables.persian.json"
            }
        });

        //#region Advanced Search
        $('.advancedSearch').on('keypress',
            function(e) {
                /* ENTER Tab Space PRESSED*/
                if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                    t.draw();
                }
            });
        $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
            function(e) {

                t.draw();
            });

        //#endregion
        //#endregion
        $('#save').on('click',
            function(e) {
                e.preventDefault();
                $.ajax({
                    url: `/Reservation/Food/ShiftSave/?id=${groupId}`,
                    data: { des: $("#des").val()},
                    type: 'POST',
                    success: function(data) {
                        toastr[data.Type](data.Msg);
                        if (data.Result === true)
                            setTimeout(function() {
                                window.location.href = "/Reservation/Food/Shift/";
                                },
                                5000);
                    }
                });
                });


        $('#selectFoods').on('click',
            function(e) {
                $('#selectFoods').prop('disabled', true);
                if ($("form").valid() === true && validateSelect(e)) {
                    e.preventDefault();
                    const myForm = document.getElementById("add");
                    const fd = new FormData(myForm);
                    $.ajax({
                        url: `/Reservation/Food/AddToShiftTempList/?id=${groupId}`,
                        data: fd,
                        cache: false,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        success: function(data) {
                            toastr[data.Type](data.Msg.split(";")[0]);
                            if (data.Result === true) {
                                $('#selectFoods').prop('disabled', true);
                                groupId = data.Msg.split(";")[1];
                                EditTable(groupId, data.Msg.split(";")[2]);
                                $('#rDate').MdPersianDateTimePicker({
                                    targetTextSelector: '#ReservationDateFa',
                                    targetDateSelector: '#ReservationDate',
                                    textFormat: 'yyyy/MM/dd',
                                    selectedDate: new Date(data.Msg.split(";")[2]),
                                    disableBeforeDate: new Date(data.Msg.split(";")[2]),
                                    disableAfterDate: new Date(data.Msg.split(";")[3])
                                });
                                $('#custom-validation').nextStep();
                                $('#save').removeClass("d-none");
                            } else {
                                $('#selectFoods').prop('disabled', false);
                                $('#save').addClass("d-none");

                            }

                        },
                        error: function(data) {
                            toastr['error'](data);
                            $('#save').addClass("d-none");
                            $('#selectFoods').prop('disabled', false);
                        }
                    }).then(
                    );
                }
            });


        $('#Person,#prependPerson').on('keypress',
            function(e) {
                /* ENTER Tab Space PRESSED*/
                if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                    addToList(e);
                }
            });
        $('#addToList').on('click',
            function(e) {
                addToList(e);
            });
        $('#addGroupToList').on('click',
            function(e) {
                addGroupToList(e);
            });
        $('#selectOffice').on('click',
            function(e) {
                if ($('#OfficeDepartment').val() != null && $('#OfficeTitle').html() != "") {
                    $('#Subsidiary,#Company, #Management,#Office,#OfficeDepartment,.AccountNumber')
                        .addClass('disabled');
                    //  $('#AccountNumber').add('disabled');
                }

            });

        $('#ReservationDate').on('change',
            function(e) {
                EditTable(groupId, $('#ReservationDate').val());
            });
        });


    </script>
}