﻿
@using Omidiyeh_Oil_Company___0147.Models
@model IEnumerable<Omidiyeh_Oil_Company___0147.Areas.Reservation.Controllers.FoodController.TempModel>
@try
{
    <table id="TempDataTable" class="table py-0 table-hover font-size-0-90 text-bold table-bordered lh2" style="width: 100%;">
        <thead>
            <tr class='black-text cloudy-knoxville-gradient lh1'>
                <th class="fit">تاریخ</th>

                @foreach (var meal in (List<Item>)ViewBag.Meals)
                {

                    <th data-orderable="false"> @meal.Title</th>
                }
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="fit">@item.Date</td>
                    @foreach (var meal in (List<Item>)ViewBag.Meals)
                    {
                        var foodMeal = item.Meals.FirstOrDefault(a => a.Meal == meal.Id);

                        if (meal.Id == 0)
                        {
                            <td class="text-center">
                                @if (foodMeal != null)
                                {
                                    <div class="switch">
                                        <label>

                                            <input type="checkbox" @(-1 == foodMeal.Food ? "" : "checked") onchange="changeFood(this.checked === true ? 0 : -1, @foodMeal.Id)">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                }
                            </td>
                        }

                        else
                        {

                            <td>
                                @if (foodMeal != null)
                                {
                                    <select class="custom-select custom-select-sm no-border my-0 py-0 farsi" onchange="changeFood(this.value, @foodMeal.Id)">
                                        @foreach (var f in foodMeal.Programs)
                                        {
                                            <option value="@f.Id" @(f.Id == foodMeal.Food ? "selected" : "")>@f.Title</option>
                                        }
                                        <option value="-1" style="color: red" @(-1 == foodMeal.Food ? "selected" : "")>عدم رزرو این وعده</option>
                                    </select>
                                }
                            </td>
                        }
                    }
                </tr>
            }

        </tbody>
    </table>
}
catch (Exception ex)
{
    <div>@ex.Message</div>
}