﻿
@using Omidiyeh_Oil_Company___0147.Models
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblFoodReservation>

@{
    ViewBag.Title = "مدیریت درخواست غذا";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<style type="text/css">
    td:nth-child(even) {background-color: #f2f2f2;}
   
    @@page {
        size: A4 landscape;
        direction: rtl;
        margin: 11mm 17mm 17mm 17mm;
        mso-footer: footer;
    }
    table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
        bottom: .6em;
        font-size: .75rem;
    }
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:after {
        right: 12px;
        
    }
    tfoot {display: table-footer-group !important;}
    thead   {display: table-header-group !important;   }
    /*@@media screen {
    div.divFooter {
        display: none;
    }
    }*/
    @@media print {
        tfoot {display: table-footer-group !important;}
        thead   {display: table-header-group !important;    }
        div.divFooter {
            position: fixed;
            bottom: 0;
        }
    }
</style>
<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_FoodReservation")
    <!--Header-->
    <div class="card-body">

        <!--Accordion wrapper-->
        <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#advancedSearch" aria-expanded="true"
                       aria-controls="advancedSearch">
                        <h5 class="">
                            <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="advancedSearch" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-lg-3 col-xl-2">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Name" name="Name">
                                    <label for="Name" class="active">نام</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Family" name="Family">
                                    <label for="Family" class="active">نام خانوادگی</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2  ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="NationalCode" name="NationalCode">
                                    <label for="NationalCode" class="active">کدملی</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2  ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="PersonnelCode" name="PersonnelCode">
                                    <label for="PersonnelCode" class="active">شماره پرسنلی</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2  ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="User" name="User">
                                    <label for="User" class="active">کاربر</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2  ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Des" name="Des">
                                    <label for="Des" class="active">توضیحات</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2  ">

                                <div class="md-form md-outline form-sm input-group my-1">
                                    <input type="text" class="form-control text-center advancedSearch" aria-label="searchBDate" aria-describedby="searchBDate"
                                           data-val="true" data-val-required=" " id="searchDateFa" name="searchDateFa" value="">
                                    <label for="searchDateFa" class="active">تاریخ</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="searchBDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="searchDate" id="searchDate" class="advancedSearch" />
                                </div>
                            </div>

                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Meal" id="Meal" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all" data-stop-refresh="true" multiple></select>
                                    <label for="Meal" class="m-active">وعده</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Food" id="Food" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all" data-stop-refresh="true" multiple></select>
                                    <label for="Food" class="m-active">غذا</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Restaurant" id="Restaurant" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all" data-stop-refresh="true" multiple></select>
                                    <label for="Restaurant" class="m-active">رستوران</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Status" id="Status" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all" data-stop-refresh="true" multiple></select>
                                    <label for="Status" class="m-active">وضعیت</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Price" name="Price">
                                    <label for="Price" class="m-active">قیمت</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="AccountNumber" id="AccountNumber" class="mdb-select required md-form md-outline mt-0 mb-0 text-right readonly disable-toggle-all" searchable="جستجو ..." data-stop-refresh="true" multiple></select>
                                    <label for="AccountNumber" class="m-active">شماره حساب</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Company" id="Company" class="mdb-select not-required md-form md-outline mt-0 mb-0  advancedSearch " searchable="جستجو ..." data-stop-refresh="true">
                                    </select>
                                    <label for="Company" class="m-active">شرکت</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Subsidiary" id="Subsidiary" class="mdb-select not-required md-form md-outline mt-0 mb-0  advancedSearch" searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="Subsidiary" class="m-active">شرکت تابعه</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Management" id="Management" class="mdb-select not-required md-form md-outline mt-0 mb-0  advancedSearch" searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="Management" class="m-active">مدیریت</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Office" id="Office" class="mdb-select not-required md-form md-outline mt-0 mb-0  advancedSearch" searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="Office" class="m-active">اداره</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="OfficeDepartment" id="OfficeDepartment" class="mdb-select not-required md-form md-outline mt-0 mb-0  advancedSearch small" searchable="جستجو ..." data-stop-refresh="true"></select>

                                    <label for="OfficeDepartment" class="m-active">واحد</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Accordion card -->


        </div>
        <!-- Accordion wrapper -->
        @*<table id="DataList" class="table py-0 table-hover font-size-0-75 text-bold table-bordered lh1" style="width: 100%;">
            <thead>
                <tr class="black-text cloudy-knoxville-gradient no-border">
                    <th class=" no-border-x"></th>
                    <th class=" no-border-x"></th>
                    
                   

                </tr>
            </thead>
        </table>*@
        <div id="upd"></div>
    </div>
</div>
<!--Modal: modalConfirmDelete-->

<!--Modal: modalConfirmDelete-->
@section Scripts{
    <script>
        $(document).ready(function() {
            $('#Tab-Manage').addClass('active show');
            $('#searchBDate').MdPersianDateTimePicker({
                targetTextSelector: '#searchDateFa',
                targetDateSelector: '#searchDate',
                textFormat: 'yy/MM/dd',
                disableBeforeToday: false,
                rangeSelector: true
            });
            const p = new Promise(function(resolve, reject) {
                //$('#advancedSearch').block({ message: null });
                Meals('#Meal', true);
                Food('#Food');
                Restaurants('#Restaurant');
                FoodReservationStatus('#Status');
                UserAccess('Company', 0, 'Company');
                AccountNumbers('AccountNumber');
                $('#Company').on('change',
                    function() {
                        UserAccess('Subsidiary', $(this).val(), 'Subsidiary');
                    });
                $('#Subsidiary').on('change',
                    function() {
                        UserAccess('Management', $(this).val(), 'Management');
                    });
                $('#Management').on('change',
                    function() {
                        UserAccess('Office', $(this).val(), 'Office');
                    });
                $('#Office').on('change',
                    function() {
                        UserAccess('OfficeDepartment', $(this).val(), 'OfficeDepartment');
                    });
                resolve();
            });
            p.then(function() {

                $.ajax({
                    url: "/Welfare/reports/Report1List",
                    //data: { bed: bed},
                    type: 'GET',
                    success: function(data) {
                        $('#upd').html(data);
                        // $('#modalAddReservation').modal('show');
                    },
                    error: function(data) {

                        toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                    }
                }).then(function() {
                    $('#DataTable').DataTable({
                        //"paging": false,
                        "ordering": false,
                        //"info": false,
                        "filter": false,
                        "language": {
                            "url": "/Content/js/addons/datatables.persian.json"
                        },
                        "displayLength": 100,
                        //dom: 'Bt',
                        "dom": 'Bt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
                        buttons: [
                            {
                                extend: 'print',
                                text: 'چاپ',
                                className :"btn btn-sm btn-primary",
                                autoPrint: false,
                                title: "@ViewBag.Title",
                                messageBottom: 'تست پایین',
                                exportOptions: {
                                    stripHtml: false
                                },
                                customize: function ( win ) {
                                    $(win.document.body)
                                            .css('font-size', '10pt')
                                            .css('text-align', 'right')
                                            .css('direction', 'rtl')
                                            .css('width', '297mm')
                                            .css('height', '210mm')
                                        ;
 
                                    $(win.document.body).find( 'table' )
                                        .addClass( 'compact' )
                                        .css('font-size', 'inherit');

                                    $(win.document.body).find( 'table tr th' )
                                        .addClass( 'py-1 my-0' );
                                }
                            },
                            {
                                extend: 'excel',
                                text: 'Save as Excel',
                                autoFilter: true,
                                className :"btn btn-sm btn-primary",
                            }
                        ]
                    });
                    $('.dt-button').removeClass('dt-button');
                });

            });


        });
    </script>
}

