﻿@using Omidiyeh_Oil_Company___0147.Models
@model IEnumerable<Omidiyeh_Oil_Company___0147.Areas.Welfare.Controllers.ReportsController.Report2Model>
<table id="DataTable" class="table py-0 table-hover font-size-0-90 text-bold table-bordered lh2" style="width: 100%;">
    <thead>

        <tr class="black-text cloudy-knoxville-gradient">

            <th class="no-border  font-size-1" rowspan="2">تاریخ</th>
            @foreach (var meal in (List<Item>)ViewBag.Meals)
            {

                <th class="py-0 border-top-0 border-left-0" colspan="2">
                    <span class=" font-size-1">@meal.Title</span>
                </th>
            }


        </tr>
        <tr class="black-text cloudy-knoxville-gradient">
            @foreach (var meal in (List<Item>)ViewBag.Meals)
            {

                <th class="py-0 border-top-0 border-left-0">
                    <span class="float-right text-muted">نام غذا</span>
                </th>

                <th class="py-0 border-top-0 border-left-0" width="50px">
                    <span class="float-left  text-muted">جمع</span>
                </th>

            }


        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="py-1 text-bold">@item.Date</td>
                @foreach (var meal in (List<Item>)ViewBag.Meals)
                {

                    var foodsModels = item.Meals.FirstOrDefault(a => a.Meal == meal.Id)?.Foods;
                    if (foodsModels != null)
                    {
                        <td class="py-1"><table class=" table-borderless">
                            @foreach (var f in foodsModels)
                            {
                                <tr>
                                    <td class="py-1">
                                        <div class="my-0 lh1-5">
                                            <span> @f.Food</span>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table> </td>
                        <td class="py-1"><table class="table  table-borderless">
                        @foreach (var f in foodsModels)
                        {
                            <tr>
                                <td class="py-1">
                                <div class="my-0 lh1-5">
                                    <span class="float-left"> @f.Count</span>
                                </div>
                            </td>
                            </tr>
                            }
                        </table> </td>
                    }
                    else
                    {
                        <td class="py-1"></td>
                        <td class="py-1"></td>
                    }
                }
            </tr>

        }
    <tr>
        <td></td>
        @foreach (var meal in (List<Item>)ViewBag.Meals)
        {
            <td></td>
            <td><span class="float-left text-bold">@meal.Des</span></td>
        }
    </tr>
    </tbody>
</table>

