﻿@model Omidiyeh_Oil_Company___0147.Models.TblCategory2

@{
    ViewBag.Title = "ویرایش دسته بندی دو";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_Store")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

    <div class="card-body">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)


        <div class="row">
            <div class="col-sm-6">
                <div class="md-form md-outline my-3">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.LabelFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="select-outline my-3">
                    @Html.DropDownList("Category1", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                    @Html.LabelFor(model => model.Category1)
                    @Html.ValidationMessageFor(model => model.Category1, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="md-form md-outline my-1">
                    @Html.EditorFor(model => model.Threshold, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.LabelFor(model => model.Threshold)
                    @Html.ValidationMessageFor(model => model.Threshold, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>

            <div class="col-sm-3 mt-2">
                <div class="switch">
                    <label>
                        قابلیت درخواست
                        <input type="checkbox" value="true" name="Requestable" @(Model.Requestable ? "checked" : "")>
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-3 mt-2">
                <div class="switch">
                    <label>
                        قابلیت تعمیر
                        <input type="checkbox" value="true" name="Repairable" @(Model.Repairable ? "checked" : "")>
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="md-form md-outline my-3">
                    @Html.EditorFor(model => model.Des, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.LabelFor(model => model.Des)
                    @Html.ValidationMessageFor(model => model.Des, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
            <button class="btn btn-link cta  mr-auto" type="submit" id="save">
                <i class="fas fa-save fa-lg"></i>
                <span>ثبت اطلاعات</span>
            </button>
        </div>

    </div>
        }
    </div>
@section Scripts{
    <script>

        $(document).ready(function () {
            $('#Tab-Category2-Edit').addClass('active show').removeClass('d-none');
        });
    </script>
}
