﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblCategory2>

@{
    ViewBag.Title = "مدیریت";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_Store")
    <!--Header-->
    <div class="card-body">
        <table id="DataList" class="table table-striped table-hover" style="width: 100%; ">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        دسته بندی یک
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Threshold)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Requestable)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Repairable)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Des)
                    </th>

                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {

            $('#Tab-Category2').addClass('active show');
            $('#Tab-Category2-Create').removeClass('d-none');
            $('#DataList').DataTable({
                "stateSave": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Store/Category2/List",
                    "type": "POST",
                    "dataType": "json"
                },
                "columns": [
							{ "data": "id", "name": "id" },
                    { "data": "Title", "name": "Title" },
                    { "data": "Category1", "name": "Category1" },
							{"data": "Threshold", "name": "Threshold" },
							{"data": "Requestable", "name": "Requestable" },
							{"data": "Repairable", "name": "Repairable" },
							{"data": "Des", "name": "Des" },
                   
                    { "data": "edit", "name": "edit", "orderable": false, "class":"fit" }
                ],
                "order": [[1, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                 "columnDefs": [
                    {
                         "targets": [4, 5],
                         "render": function (data, type, row, meta) {
                             return data === true
                                 ? '<i class="fas fa-check-square"></i>' : '<i class="far fa-square"></i>';
                         }
                    },
                   
                ] 
            }).on('xhr.dt',
                function (e, settings, json) {
                    if ($('#DataList_wrapper select').hasClass('custom-select custom-select-sm form-control form-control-sm')) {
                        $('#DataList_wrapper').find('label').each(function () {
                            $(this).parent().append($(this).children());
                        });
                        $('#DataList_wrapper .dataTables_filter').find('input').each(function () {
                            const $this = $(this);
                            $this.attr("placeholder", "جستجو...");
                            $this.removeClass('form-control-sm');
                        });
                        $('#DataList_wrapper .dataTables_length').addClass('d-flex flex-row');
                        $('#DataList_wrapper .dataTables_filter').addClass('md-form rtl');
                        $('#DataList_wrapper select').removeClass(
                            'custom-select custom-select-sm form-control form-control-sm');
                        $('#DataList_wrapper select').addClass('mdb-select');
                        $('#DataList_wrapper .mdb-select').materialSelect();
                        $('#DataList_wrapper .dataTables_filter').find('label').remove();
                        $('#DataList_wrapper .dataTables_length').find('label').remove();
                        $("#DataList_wrapper").children().first().css({ "direction": "ltr" });
                    }
                });;

        });
    </script>
}

