﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblCompany>

@{
    ViewBag.Title = "شرکت ها";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs")
    <!--Header-->
    <div class="card-body">
        <table id="DataList" class="table table-striped table-hover" style="width: 100%; ">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        تعداد شرکت های تابعه
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Tab-Company').addClass('active show');
            $('#Tab-Company-Create').removeClass('d-none');

            $('#DataList').DataTable({
                "stateSave": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Company/List",
                    "type": "POST",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "id", "name": "id" },
                    { "data": "Title", "name": "Title" },
                    { "data": "SubsidiariesCount", "name": "SubsidiariesCount" },
                    {
                        "data": "edit",
                        "name": "edit",
                        "render": function (data, type, row, meta) {
                            return row.DT_RowId === 0 ? '' :
                                    `<a href='/Company/Edit/${row.DT_RowId}' class='text-success ml-2' ><i class='fas fa-edit fa-2x'></i></a>
                                    <a href='/Company/Delete/${row.DT_RowId}' class='text-danger' ><i class='fas fas fa-trash-alt fa-2x'></i></a> `;
                        }
                    }
                ],
                "order": [[1, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                "columnDefs": [
                    {
                        "orderable": false,
                        
                        "width": "50px",
                        "targets": 0
                    },
                    {
                        "orderable": false,
                        "width": "125px",
                        "targets": 3
                    }
                ] 
            }).on('xhr.dt',
                function (e, settings, json) {
                    if ($('#DataList_wrapper select').hasClass('custom-select custom-select-sm form-control form-control-sm')) {
                        $('#DataList_wrapper').find('label').each(function () {
                            $(this).parent().append($(this).children());
                        });
                        $('#DataList_wrapper .dataTables_filter').find('input').each(function () {
                            const $this = $(this);
                            $this.attr("placeholder", "جستجو...");
                            $this.removeClass('form-control-sm');
                        });
                        $('#DataList_wrapper .dataTables_length').addClass('d-flex flex-row');
                        $('#DataList_wrapper .dataTables_filter').addClass('md-form rtl');
                        $('#DataList_wrapper select').removeClass(
                            'custom-select custom-select-sm form-control form-control-sm');
                        $('#DataList_wrapper select').addClass('mdb-select');
                        $('#DataList_wrapper .mdb-select').materialSelect();
                        $('#DataList_wrapper .dataTables_filter').find('label').remove();
                        $('#DataList_wrapper .dataTables_length').find('label').remove();
                        $("#DataList_wrapper").children().first().css({ "direction": "ltr" });
                    }
                });;

        });
    </script>
}

