﻿
<div class="classic-tabs rtl">
    <ul class="nav  tabs-blue" id="myTab" role="tablist">

        <li class="nav-item ">
            <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Dashboard-Company" href="/Dashboard/Company/">
                <i class="fas fa-info-circle fa-2x pb-2" aria-hidden="true"></i><br>اطلاعات
            </a>
        </li>
        @if (User.IsInRole("40"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Company" href="/Company">
                    <i class="fas fa-city fa-2x pb-2" aria-hidden="true"></i><br>شرکت
                </a>
            </li>
        }
        @if (User.IsInRole("41"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Company-Create" href="/Company/Create">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ایجاد شرکت
                </a>
            </li>
        }
        @if (User.IsInRole("42"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Company-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ویرایش شرکت
                </a>
            </li>
        }
        @if (User.IsInRole("59"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1" id="Tab-Subsidiary" href="/Subsidiary">
                    <i class="fas fa-hotel fa-2x pb-2" aria-hidden="true"></i><br>شرکت تابعه
                </a>
            </li>
}
        @if (User.IsInRole("60"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Subsidiary-Create" href="/Subsidiary/Create">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ایجاد شرکت تابعه
                </a>
            </li>
        }
        @if (User.IsInRole("61"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Subsidiary-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ویرایش شرکت تابعه
                </a>
            </li>
        }
        @if (User.IsInRole("44"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1" id="Tab-Management" href="/Management">
                    <i class="fas fa-school fa-2x pb-2" aria-hidden="true"></i><br>مدیریت
                </a>
            </li>
        }
        @if (User.IsInRole("45"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Management-Create" href="/Management/Create">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ایجاد مدیریت
                </a>
            </li>
}
        @if (User.IsInRole("46"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Management-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ویرایش مدیریت
                </a>
            </li>
        }
        @if (User.IsInRole("48"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1" id="Tab-Office" href="/Office">
                    <i class="far fa-building  fa-2x pb-2" aria-hidden="true"></i><br>اداره
                </a>
            </li>
        }
        @if (User.IsInRole("49"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Office-Create" href="/Office/Create">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ایجاد اداره
                </a>
            </li>
        }
        @if (User.IsInRole("50"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Office-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ویرایش اداره
                </a>
            </li>
        }
        @if (User.IsInRole("54"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1" id="Tab-OfficeDepartment" href="/OfficeDepartment">
                    <i class="fas fa-building  fa-2x pb-2 " aria-hidden="true"></i>
                    <br>واحد
                </a>
            </li>
        }
        @if (User.IsInRole("56"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-OfficeDepartment-Create" href="/OfficeDepartment/Create">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ایجاد واحد
                </a>
            </li>
        }
        @if (User.IsInRole("57"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-OfficeDepartment-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ویرایش واحد
                </a>
            </li>
        }
        @if (User.IsInRole("63"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1" id="Tab-OfficeDepartmentAccountNumbers" href="/OfficeDepartmentAccountNumbers">
                    <i class="fas fa-money-check  fa-2x pb-2 " aria-hidden="true"></i>
                    <br>شماره حساب
                </a>
            </li>
        }
        @if (User.IsInRole("64"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-OfficeDepartmentAccountNumbers-Create" href="/OfficeDepartmentAccountNumbers/Create">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ایجاد شماره حساب
                </a>
            </li>
        }
        @if (User.IsInRole("65"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-OfficeDepartmentAccountNumbers-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ویرایش شماره حساب
                </a>
            </li>
        }
        @if (User.IsInRole("268"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 " id="Tab-OfficeFoodQuota" href="/Welfare/OfficeFoodQuota">
                    <i class="fab fa-buromobelexperte fa-2x pb-2 " aria-hidden="true"></i><br>سهمیه غذایی اداره
                </a>
            </li>
        }
        @if (User.IsInRole("269"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-OfficeFoodQuota-Create" href="/Welfare/OfficeFoodQuota/Create">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ایجاد  سهمیه غذایی اداره
                </a>
            </li>
        }
        @if (User.IsInRole("270"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-OfficeFoodQuota-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش سهمیه غذایی اداره
                </a>
            </li>
        }
        
    @if (User.IsInRole("138"))
    {
        <li class="nav-item ">
            <a class="nav-link waves-light pt-3 pb-1 " id="Tab-Holiday" href="/Holiday">
                <i class="fas fa-calendar-day fa-2x pb-2 " aria-hidden="true"></i><br>روزهای تعطیل
            </a>
        </li>
    }
    @if (User.IsInRole("139"))
    {
        <li class="nav-item ">
            <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Holiday-Create" href="/Holiday/Create">
                <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ایجاد  روز تعطیل
            </a>
        </li>
    }
    @if (User.IsInRole("140"))
    {
        <li class="nav-item ">
            <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Holiday-Edit" href="#">
                <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش روز تعطیل
            </a>
        </li>
    }
    </ul>
</div>