﻿@model Omidiyeh_Oil_Company___0147.Models.TblFoodReservation

@{
    ViewBag.Title = "ویرایش Edit";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="bc-icons  rtl text-right">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb grey lighten-2">
        <li class="breadcrumb-item"><a class="black-text" href="/#">خانه</a><i class="fas fa-caret-left mx-2" aria-hidden="true"></i></li>
        <li class="breadcrumb-item"><a class="black-text" href="#">Library</a><i class="fas fa-caret-left mx-2" aria-hidden="true"></i></li>
        <li class="breadcrumb-item active">Data</li>
    </ol>
</nav>
</div>
    <div class="card rtl text-right">
	<!--Header-->
    <div class="header pt-2 blue-gradient">
        <div class="row d-flex justify-content-start">
            <h3 class=" white-text mt-3 mb-4 pb-1 mx-5">@ViewBag.Title</h3>
        </div>
    </div>
    <!--Header-->
@using (Html.BeginForm(null,null,FormMethod.Post, new {@class="needs-validation" ,novalidate="novalidate"})) 
{
    @Html.AntiForgeryToken()
    
     <div class="card-body">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

		<div class="row">
                <div class="col-sm-12">
					<div class="select-outline my-1">
                @Html.DropDownList("Person", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
				@Html.LabelFor(model => model.Person)
                @Html.ValidationMessageFor(model => model.Person, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="select-outline my-1">
                @Html.DropDownList("User", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
				@Html.LabelFor(model => model.User)
                @Html.ValidationMessageFor(model => model.User, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="select-outline my-1">
                @Html.DropDownList("Office", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
				@Html.LabelFor(model => model.Office)
                @Html.ValidationMessageFor(model => model.Office, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="select-outline my-1">
                @Html.DropDownList("OfficeDepartment", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
				@Html.LabelFor(model => model.OfficeDepartment)
                @Html.ValidationMessageFor(model => model.OfficeDepartment, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="select-outline my-1">
                @Html.DropDownList("Food", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
				@Html.LabelFor(model => model.Food)
                @Html.ValidationMessageFor(model => model.Food, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="select-outline my-1">
                @Html.DropDownList("Meal", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
				@Html.LabelFor(model => model.Meal)
                @Html.ValidationMessageFor(model => model.Meal, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline form-lg my-1">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline form-lg my-1">
                @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.Count)
                @Html.ValidationMessageFor(model => model.Count, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline form-lg my-1">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline form-lg my-1">
                @Html.EditorFor(model => model.TotalPrice, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.TotalPrice)
                @Html.ValidationMessageFor(model => model.TotalPrice, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="select-outline my-1">
                @Html.DropDownList("Status", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
				@Html.LabelFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="md-form md-outline form-lg my-1">
                @Html.EditorFor(model => model.Des, new { htmlAttributes = new { @class = "form-control text-center" } })
				@Html.LabelFor(model => model.Des)
                @Html.ValidationMessageFor(model => model.Des, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
		<div class="row">
                <div class="col-sm-12">
					<div class="select-outline my-1">
                @Html.DropDownList("Restaurant", null,htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3" ,searchable="جستجو ..."})
				@Html.LabelFor(model => model.Restaurant)
                @Html.ValidationMessageFor(model => model.Restaurant, "", new { @class = "invalid-feedback mr-2" })
            </div></div></div>
         <div class="md-form text-left" >
            <div class="col-md-12">
                <input type="submit" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
            </div>
        </div>
    </div>
}

</div>
