﻿
@{
    ViewBag.Title = "Index";
}
<div class="card rtl text-right">
    <div class="card-body">
        <h2>Index</h2>

        <table id="example" class="table table-striped table-hover" style="width: 100%; ">
            <thead>
                <tr>
                    <th></th>
                    <th>نام کاربری</th>
                    <th>رمز عبور</th>
                    <th>پسورد</th>
                    <th>عنوان</th>
                </tr>
            </thead>

        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "/test/table",
                "columns": [
                    { "data": "id", "name": "id" },
                    { "data": "UserName", "name": "UserName" },
                    { "data": "Password", "name": "Password" },
                    { "data": "PasswordSalt", "name": "PasswordSalt" },
                    { "data": "Title", "name": "Title" }
                ],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                columnDefs: [
                    {
                        orderable: false,
                       // className: 'select-checkbox',
                        targets: 0
                    }
                ]
            }).on('xhr.dt',
                function (e, settings, json) {
                    if ($('#example_wrapper select').hasClass('custom-select custom-select-sm form-control form-control-sm')) {
                        $('#example_wrapper').find('label').each(function () {
                            $(this).parent().append($(this).children());
                        });
                        $('#example_wrapper .dataTables_filter').find('input').each(function () {
                            const $this = $(this);
                            $this.attr("placeholder", "جستجو...");
                            $this.removeClass('form-control-sm');
                        });
                        $('#example_wrapper .dataTables_length').addClass('d-flex flex-row');
                        $('#example_wrapper .dataTables_filter').addClass('md-form rtl');
                        $('#example_wrapper select').removeClass(
                            'custom-select custom-select-sm form-control form-control-sm');
                        $('#example_wrapper select').addClass('mdb-select');
                        $('#example_wrapper .mdb-select').materialSelect();
                        $('#example_wrapper .dataTables_filter').find('label').remove();
                        $('#example_wrapper .dataTables_length').find('label').remove();

                        $("#example_wrapper").children().first().css({ "direction": "ltr" });
                    }
                });;

        });
    </script>
}
