﻿@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblUser>

@{
    ViewBag.Title = "Index";
}
<link href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="bc-icons  rtl text-right">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb grey lighten-2">
            <li class="breadcrumb-item"><a class="black-text" href="/#">خانه</a><i class="fas fa-caret-left mx-2" aria-hidden="true"></i></li>
            <li class="breadcrumb-item"><a class="black-text" href="#">Library</a><i class="fas fa-caret-left mx-2" aria-hidden="true"></i></li>
            <li class="breadcrumb-item active">Data</li>
        </ol>
    </nav>
</div>
<div class="card rtl text-right">
    <div class="card-body">
        <h2 class="text-bold">TblUser</h2>
        <hr />
        <table id="DataList" class="table table-striped table-hover" style="width: 100%; ">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PasswordSalt)
                    </th>
                   
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts{

    <script src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
    <script>
        pdfMake.fonts = {
            IRANSansWeb: {
                normal: 'IRANSansWeb.ttf',
                bold: 'IRANSansWeb.ttf',
                italics: 'IRANSansWeb.ttf',
                bolditalics: 'IRANSansWeb.ttf'
            },
            Roboto: {
                normal: 'Roboto-Regular.ttf',
                bold: 'Roboto-Medium.ttf',
                italics: 'Roboto-Italic.ttf',
                bolditalics: 'Roboto-MediumItalic.ttf'
            }
        };
        $(document).ready(function () {
            $('#DataList').DataTable({
                //"dom": '<"top"i>rt<"bottom"flp><"clear">',
                "processing": true,
                "serverSide": true,
                "ajax": "/test/table",
                "columns": [
                    { "data": "id", "name": "id" },
                    { "data": "UserName", "name": "UserName" },
                    { "data": "Password", "name": "Password" },
                    { "data": "PasswordSalt", "name": "PasswordSalt" },
                    { "data": "Title", "name": "Title" }
                ],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                //columnDefs: [
                //    {
                //        orderable: false,
                //        className: 'select-checkbox',
                //        targets: 0
                //    }
                //],
                //select: {
                //    style: 'os',
                //    selector: 'td:first-child'
                //},
                "dom": "Bfrtip",
                "buttons": [
                    {
                        extend: 'excel',
                        text: '<i class="fa fa-file-excel-o"></i> Excel'
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Print',
                        customize: function (win) {
                            $(win.document.body)
                                .css('font-size', '10pt')
                                .prepend(
                                    '<img src="http://datatables.net/media/images/logo-fade.png" style="position:absolute; top:0; left:0;" />'
                                );

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            }).on('xhr.dt',
                function (e, settings, json) {
                   // if ($('#DataList_wrapper select').hasClass('custom-select custom-select-sm form-control form-control-sm')) {
                    $('#DataList_wrapper').find('label').each(function () {
                        $(this).parent().append($(this).children());
                    });
                    $('#DataList_wrapper .dataTables_filter').find('input').each(function () {
                        const $this = $(this);
                        $this.attr("placeholder", "جستجو...");
                        $this.removeClass('form-control-sm');
                    });
                    $('#DataList_wrapper .dataTables_length').addClass('d-flex flex-row');
                    $('#DataList_wrapper .dataTables_filter').addClass('md-form rtl');
                    $('#DataList_wrapper select').removeClass(
                        'custom-select custom-select-sm form-control form-control-sm');
                    $('#DataList_wrapper select').addClass('mdb-select');
                    $('#DataList_wrapper .mdb-select').materialSelect();
                    $('#DataList_wrapper .dataTables_filter').find('label').remove();
                    $('#DataList_wrapper .dataTables_length').find('label').remove();
                    $("#DataList_wrapper").children().first().css({ "direction": "ltr" });
//}
                });;

        });
    </script>
}

