﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Report2.mrt - Viewer</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/stimulsoft.viewer.office2013.whiteblue.css">
    <script type="text/javascript" src="~/Content/js/stimulsoft.reports.pack.js"></script>
    <script type="text/javascript" src="~/Content/js/stimulsoft.reports.maps.pack.js"></script>
    <script type="text/javascript" src="~/Content/js/stimulsoft.viewer.pack.js"></script>

    <script type="text/javascript">
        function Start() {
            Stimulsoft.Base.StiLicense.loadFromFile("/Content/reports/licensejs.key");


            var report = Stimulsoft.Report.StiReport.createNewReport();
            report.loadFile("/Content/reports/Report2.mrt");

          

            var options = new Stimulsoft.Viewer.StiViewerOptions();
            var viewer = new Stimulsoft.Viewer.StiViewer(options, "StiViewer", false);
            viewer.report = report;
            viewer.renderHtml("viewerContent");

        }
    </script>
</head>
<body onload="Start()">
<div id="viewerContent"></div>
</body>
</html>