﻿
@{
    ViewBag.Title = "Room";
}

<style>
    .fa-stack {
       
        width: 2.0em;
    }
</style>
<div class="container px-0">

    <div class="grid">
        <div class="grid-sizer col-md-1">

        </div>
        
        <div class="grid-item col-2 mb-4">
            <!--Card-->
            <div class="card">
                <!-- Content -->
                <div class="card-body px-1 text-center red lighten-4">
                    <h5 class="">101</h5>

                    <span class="fa-stack fa-2x" data-toggle="popover" data-content="101">
                        <i class="fas fa-bed fa-stack-1x "></i>
                    </span>
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-bed fa-stack-1x "></i>
                    </span>
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-bed fa-stack-1x "></i>
                        <i class="fas fa-bed fa-stack-1x pt-4"></i>
                    </span>
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-bed fa-stack-1x "></i>
                        <i class="fas fa-bed fa-stack-1x pt-4"></i>
                    </span>

                </div>
            </div>
            <!--Card-->
        </div>
       <div class="grid-item col-2 mb-4">
            <!--Card-->
            <div class="card">
                <!-- Content -->
                <div class="card-body px-1 text-center green lighten-4">
                    <h5 class="">101</h5>

                    <span class="fa-stack fa-2x">
                        <i class="fas fa-bed fa-stack-1x "></i>
                    </span>
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-bed fa-stack-1x "></i>
                    </span>
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-bed fa-stack-1x "></i>
                        <i class="fas fa-bed fa-stack-1x pt-4"></i>
                    </span>
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-bed fa-stack-1x "></i>
                        <i class="fas fa-bed fa-stack-1x pt-4"></i>
                    </span>

                </div>
            </div>
            <!--Card-->
        </div>
       <div class="grid-item col-2 mb-4">
            <!--Card-->
            <div class="card">
                <!-- Content -->
                <div class="card-body px-1 text-center blue lighten-4">
                    <h5 class="">101</h5>

                    <span class="fa-stack fa-2x">
                        <i class="fas fa-bed fa-stack-1x "></i>
                    </span>
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-bed fa-stack-1x "></i>
                    </span>
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-bed fa-stack-1x "></i>
                        <i class="fas fa-bed fa-stack-1x pt-4"></i>
                    </span>
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-bed fa-stack-1x "></i>
                        <i class="fas fa-bed fa-stack-1x pt-4"></i>
                    </span>

                </div>
            </div>
            <!--Card-->
        </div>
       <div class="grid-item col-2 mb-4">
            <!--Card-->
            <div class="card">
                <!-- Content -->
                <div class="card-body px-1 text-center purple  lighten-4">
                    <h5 class="">101</h5>
                    <span class="fa-stack fa-2x" title="102">
                            <i class="fas fa-bed fa-stack-1x "></i>
                        </span>
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-bed fa-stack-1x "></i>
                    </span>
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-bed fa-stack-1x "></i>
                        <i class="fas fa-bed fa-stack-1x pt-4"></i>
                    </span>
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-bed fa-stack-1x "></i>
                        <i class="fas fa-bed fa-stack-1x pt-4"></i>
                    </span>

                </div>
            </div>
            <!--Card-->
        </div>
       <div class="grid-item col-2 mb-4">
            <!--Card-->
            <div class="card">
                <!-- Content -->
                <div class="card-body px-1 text-center orange lighten-4">
                    <h5 class="">101</h5>

                    <span class="fa-stack fa-2x">
                        <i class="fas fa-bed fa-stack-1x "></i>
                    </span>
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-bed fa-stack-1x "></i>
                    </span>
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-bed fa-stack-1x "></i>
                        <i class="fas fa-bed fa-stack-1x pt-4"></i>
                    </span>
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-bed fa-stack-1x "></i>
                        <i class="fas fa-bed fa-stack-1x pt-4"></i>
                    </span>

                </div>
            </div>
            <!--Card-->
        </div>
       
    </div>

</div>

@section scripts{
    <script>
        //console.log(1);
        $('#date6').MdPersianDateTimePicker({
            inLine: true,
            enableTimePicker: true
        });
        $('.grid').masonry({
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer',
            percentPosition: true,
            isRTL: true,
            isOriginLeft: false
        });

        // popovers initialization - on hover
        $('[data-toggle="popover"]').popover({
            trigger: 'hover',
            container: 'body'
        });

    </script>

}

