﻿
@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Video</h2>

<style>
    .r1_iframe_embed {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: auto;
        padding-top: 56.25%;
    }

    .r1_iframe_embed iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
</style> 
<video width="320" height="240" controls>
    <source src="/test/vi" type="video/mp4">
    Your browser does not support the video tag.
</video>
@*<div class="r1_iframe_embed"> <iframe src="https://player.arvancloud.com/index.html?config=https://ninisong.arvanvod.com/vA4dvqN30x/r87p079yx6/origin_config.json" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe> </div>*@