﻿
<div class="classic-tabs rtl">
    <ul class="nav  tabs-blue" id="myTab" role="tablist">

        @*<li class="nav-item ">
            <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Dashboard-Company" href="#">
                <i class="fas fa-info-circle fa-2x pb-2" aria-hidden="true"></i><br>اطلاعات
            </a>
        </li>*@
        @if (User.IsInRole("106"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Route" href="/Travel/Route/">
                    <i class="fas fa-route fa-2x pb-2" aria-hidden="true"></i><br>مسیر
                </a>
            </li>
        }
        @if (User.IsInRole("107"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Route-Create" href="/Travel/Route/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد مسیر
                </a>
            </li>
        }
        @if (User.IsInRole("108"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Route-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش مسیر
                </a>
            </li>
        }
        @if (User.IsInRole("109"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Route-Delete" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>حذف مسیر
                </a>
            </li>
        }
        @if (User.IsInRole("110"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Trip" href="/Travel/Trip/">
                    <i class="fas fa-bus-alt fa-2x pb-2" aria-hidden="true"></i><br>سفر
                </a>
            </li>
        }
        @if (User.IsInRole("111"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Trip-Create" href="/Travel/Trip/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد سفر
                </a>
            </li>
        }
        @if (User.IsInRole("112"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Trip-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش سفر
                </a>
            </li>
        }
        @if (User.IsInRole("113"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Trip-Delete" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>حذف سفر
                </a>
            </li>
        }
        
        @if (User.IsInRole("113"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-DefaultFlightTariff" href="/Travel/Trip/DefaultFlightTariff">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>تعرفه سفر هواپیما
                </a>
            </li>
        }
        @*@if (User.IsInRole("114"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Driver" href="/Travel/Driver/">
                    <i class="fas fa-id-card fa-2x pb-2" aria-hidden="true"></i><br>راننده
                </a>
            </li>
        }
        @if (User.IsInRole("115"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Driver-Create" href="/Travel/Driver/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد راننده
                </a>
            </li>
        }*@
        @if (User.IsInRole("116"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Driver-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش راننده
                </a>
            </li>
        }
        @if (User.IsInRole("117"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Driver-Delete" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>حذف راننده
                </a>
            </li>
        }
        @*@if (User.IsInRole("118"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Vehicle" href="/Vehicle/">
                    <i class="fas fa-shuttle-van fa-2x pb-2" aria-hidden="true"></i><br>وسیله نقلیه
                </a>
            </li>
        }
        @if (User.IsInRole("119"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Vehicle-Create" href="/Vehicle/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد وسیله نقلیه
                </a>
            </li>
        }
        @if (User.IsInRole("120"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Vehicle-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش وسیله نقلیه
                </a>
            </li>
        }
        @if (User.IsInRole("121"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Vehicle-Delete" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>حذف وسیله نقلیه
                </a>
            </li>
        }*@
        @if (User.IsInRole("114"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-VehicleType" href="/Travel/VehicleType/">
                    <i class="fas fa-layer-group fa-2x pb-2" aria-hidden="true"></i><br>نوع وسیله نقلیه
                </a>
            </li>
        }
        @if (User.IsInRole("115"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-VehicleType-Create" href="/Travel/VehicleType/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد نوع وسیله نقلیه
                </a>
            </li>
        }
        @if (User.IsInRole("116"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-VehicleType-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش نوع وسیله نقلیه
                </a>
            </li>
        }
        @if (User.IsInRole("117"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-VehicleType-Delete" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>حذف نوع وسیله نقلیه
                </a>
            </li>
        }
        
        @if (User.IsInRole("126"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-BookingCode" href="/Travel/BookingCode/">
                    <i class="fas fa-id-card fa-2x pb-2" aria-hidden="true"></i><br>کد بوکینگ
                </a>
            </li>
        }
        @if (User.IsInRole("127"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-BookingCode-Create" href="/Travel/BookingCode/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد کد
                </a>
            </li>
        }
        @if (User.IsInRole("128"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-BookingCode-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش کد
                </a>
            </li>
        }
        @if (User.IsInRole("129"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-BookingCode-Delete" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>حذف کد
                </a>
            </li>
        }
    </ul>
</div>