﻿@model Omidiyeh_Oil_Company___0147.Models.TblOffice

@{
    ViewBag.Title = "ایجاد اداره";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("../Company/Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-12">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="select-outline my-3">
                        @Html.DropDownList("Company", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                        @Html.LabelFor(model => model.TblManagement.TblSubsidiary.Company)
                        @Html.ValidationMessageFor(model => model.TblManagement.Subsidiary, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="select-outline my-3">
                        @Html.DropDownList("Subsidiary", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                        @Html.LabelFor(model => model.TblManagement.Subsidiary)
                        @Html.ValidationMessageFor(model => model.TblManagement.Subsidiary, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="select-outline my-3">
                        @Html.DropDownList("Management", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                        @Html.LabelFor(model => model.Management)
                        @Html.ValidationMessageFor(model => model.Management, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Address)
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Tel)
                        @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="md-form md-outline my-3">
                        @Html.TextAreaFor(model => model.Body, new { @class = "form-control text-center md-textarea" })
                        @Html.LabelFor(model => model.Body)
                        @Html.ValidationMessageFor(model => model.Body, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Boss, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Boss)
                        @Html.ValidationMessageFor(model => model.Boss, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Alternative, new { htmlAttributes = new { @class = "form-control text-center" } })

                        @Html.LabelFor(model => model.Alternative)
                        @Html.ValidationMessageFor(model => model.Alternative, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
                </div>
            </div>
        </div>
    }

</div>
<span class="d-none" id="p-link">/office</span>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Tab-Office-Create').removeClass('d-none').addClass('active show');

        });
    </script>
}