﻿@model Omidiyeh_Oil_Company___0147.Models.TblFoodCategory

@{
    ViewBag.Title = "ویرایش دسته بندی";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_Food")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="row">
                <div class="col-sm-12">
                    <div class="md-form md-outline form-lg my-1">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
                </div>
            </div>
        </div>
    }

</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Tab-FoodCategory-Edit').addClass('active show').removeClass('d-none');
        });
    </script>
}
