﻿@model Omidiyeh_Oil_Company___0147.Models.TblVehicle

@{
    ViewBag.Title = "حذف Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="card rtl text-right">
        <!--Header-->
        @Html.Partial("Tabs-Person-User-Vehicle")
        <!--Header-->
        <p class="note note-danger mx-5 my-3"><strong>اخطار:</strong> آیا برای حذف این اطلاعات مطمئن هستید؟</p>
        <div class="card-body">
            <dl class="dl-horizontal  mx-5">
                <div class="row">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                </div>

                <div class="row">
                    <dt>
                        @Html.DisplayNameFor(model => model.Des)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Des)
                    </dd>
                </div>

                <div class="row">
                    <dt>
                        @Html.DisplayNameFor(model => model.Capacity)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Capacity)
                    </dd>
                </div>

                <div class="row">
                    <dt>
                        @Html.DisplayNameFor(model => model.Enable)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Enable)
                    </dd>
                </div>

                <div class="row">
                    <dt>
                        @Html.DisplayNameFor(model => model.TblOffice.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TblOffice.Title)
                    </dd>
                </div>

                <div class="row">
                    <dt>
                        @Html.DisplayNameFor(model => model.TblVehicleType.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TblVehicleType.Title)
                    </dd>
                </div>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="md-form text-left">
                    <div class="col-md-12">
                        <input type="submit" value="حذف اطلاعات" class="btn btn-danger  font-size-1" />
                    </div>
                </div>
            }
        </div>
    </div>
