﻿@model Omidiyeh_Oil_Company___0147.Models.TblVehicle

@{
    ViewBag.Title = "ویرایش وسیله نقلیه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs-Person-User-Vehicle")

    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

    <div class="card-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-sm-6">
                <div class="md-form md-outline my-3">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.LabelFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="select-outline my-3">
                    @Html.DropDownList("Type", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                    @Html.LabelFor(model => model.Type)
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="md-form md-outline my-3">
                    @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control text-center", Value = "1" } })
                    @Html.LabelFor(model => model.Capacity)
                    @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="md-form md-outline my-3">
                    @Html.EditorFor(model => model.Des, new { htmlAttributes = new { @class = "form-control text-center" } })
                    @Html.LabelFor(model => model.Des)
                    @Html.ValidationMessageFor(model => model.Des, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="md-form md-outline my-3">
                        <select name="Company" id="Company" class="custom-select multiline farsi font-size-0-90 " size="5" style="min-height:180px"></select>
                        <label for="Company" class="m-active">شرکت</label>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form md-outline my-3">
                        <select name="Subsidiary" id="Subsidiary" class="custom-select multiline farsi font-size-0-90 " size="5" style="min-height:180px"></select>
                        <label for="Subsidiary" class="m-active">شرکت تابعه</label>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form md-outline my-3">
                        <select name="Management" id="Management" required class="custom-select multiline farsi font-size-0-90 " size="5" style="min-height:180px"></select>
                        <label for="Management" class="m-active">مدیریت</label>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form md-outline my-3">
                        <select name="Office" id="Office" required class="custom-select multiline farsi font-size-0-90 " size="5" style="min-height:180px">
                        </select>
                        <label for="Office" class="m-active">اداره</label>
                        @Html.ValidationMessageFor(model => model.Office, "", new { @class = "invalid-feedback mr-2" })

                    </div>
                </div>


            </div>
            <input type="hidden" value="true" name="Enable" id="Enable" />
            <input type="hidden" value="@Model.Id" name="Id" id="Id" />
            <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">

                <button class="btn btn-link cta  ml-0 font-size-0-50" type="submit" id="save" name="save" value="true">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ذخیره</span>
                </button>

            </div>
        </div>
        }

    </div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Tab-Vehicle-Create').removeClass('d-none').addClass('active show');
            UserAccess2('Company',0,'Company',true,false,@ViewBag.Company);
        });
        $('#Company').on('change',
            function () {
                UserAccess2('Subsidiary', $(this).val(), 'Subsidiary',true,false,@ViewBag.Subsidiary);
            });
        $('#Subsidiary').on('change',
            function () {
                UserAccess2('Management', $(this).val(), 'Management',true,false,@ViewBag.Management);

            });
        $('#Management').on('change',
            function () {
                UserAccess2('Office', $(this).val(), 'Office',true,false,@ViewBag.Office);

            });

    </script>
}