﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblVehicle>

@{
    ViewBag.Title = "وسیله نقلیه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="card rtl text-right">
        <!--Header-->
        @Html.Partial("Tabs-Person-User-Vehicle")
        <!--Header-->
        <div class="card-body">
            <table id="DataList" class="table table-striped py-1  lh1 border" style="width: 100%; ">
                <thead>
                    <tr class="blue-text no-border">
                        <th class="no-border-x"></th>
                        <th class="no-border-x">
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th class="no-border-x">
                            @Html.DisplayNameFor(model => model.TypeText)
                        </th>
                        <th class="no-border-x">
                            @Html.DisplayNameFor(model => model.Plate)
                        </th>
                        <th class="no-border-x">
                            @Html.DisplayNameFor(model => model.TblOffice.Management)
                        </th>
                        <th class="no-border-x">
                            @Html.DisplayNameFor(model => model.Office)
                        </th>

                        <th class="no-border-x">
                            @Html.DisplayNameFor(model => model.Type)
                        </th>
                        <th class="no-border-x">
                            @Html.DisplayNameFor(model => model.Capacity)
                        </th>
                        <th class="no-border-x">
                            @Html.DisplayNameFor(model => model.Enable)
                        </th>
                        <th class="no-border-x"></th>
                        <th class="no-border-x"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

<div id="addDriverToVehicle" class="row"></div>
<div class="modal fade rtl" id="modalPersons" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center py-3 grey lighten-5">
                <h6 class="modal-title w-100 font-weight-bold">ثبت راننده برای وسیله نقلیه <span class="blue-text" id="TitleAddVehicleDriver"></span></h6>
                <input type="hidden" value="" name="IdAddVehicleDriver" id="IdAddVehicleDriver" />
                </div>
            <div class="modal-body rtl text-right mx-3 ">
                <!--Accordion wrapper-->
                <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">
                    <!-- Accordion card -->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                               aria-controls="collapseOne1">
                                <h5 class="">
                                    <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                                </h5>
                            </a>
                        </div>
                        <!-- Card body -->
                        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="Name" name="Name">
                                            <label for="Name" class="active">نام</label>
                                        </div>
                                    </div>
                                    <div class="col ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="Family" name="Family">
                                            <label for="Family" class="active">نام خانوادگی</label>
                                        </div>
                                    </div>
                                    <div class="col  ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="NationalCode" name="NationalCode">
                                            <label for="NationalCode" class="active">کدملی</label>
                                        </div>
                                    </div>
                                    <div class="col  ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="PersonnelCode" name="PersonnelCode">
                                            <label for="PersonnelCode" class="active">شماره پرسنلی</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->
                </div>
                <!-- Accordion wrapper -->
                @Html.Action("UserAccess", "Person")
               
            </div>
            <div class="modal-footer d-flex justify-content-center grey lighten-5 py-1">
                  &nbsp;
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var tData;

        function addDriver(id, title) {
            $('#TitleAddVehicleDriver').html(title);
            $('#IdAddVehicleDriver').val(id);
            $('#modalPersons').modal('show');
        }

        function addDriverSave(driver) {
            console.log(driver);
            $.ajax({
                url: "/Vehicle/AddDriver/",
                data: {
                    id: $('#IdAddVehicleDriver').val(),
                    driver: driver,
                },
                type: 'GET',
                success: function(data) {
                    toastr[data.Type](data.Msg);
                    if (data.Result === true)
                        $('#modalPersons').modal('hide');
                    tData.draw();
                }
            });
        };

        function deleteDriver(id, e) {
            $.ajax({
                url: "/Vehicle/DeleteDriver",
                data: { id: id },
                type: 'GET',
                success: function(data) {
                    toastr[data.Type](data.Msg);
                    if (data.Result === true) {
                        const tr = e.parent().parent().parent().parent().parent().parent().prev();
                        const row = tData.row(tr);
                        $.ajax({
                            url: "/Vehicle/ListDriver/",
                            data: {
                                id: row.data().DT_RowId
                            },
                            type: 'GET',
                            success: function(data) {
                                row.child(childRowsDriver(data, row.data()), 'm-0 p-0').show();
                                tr.addClass('shown');
                            }
                        });
                    }
                    
                },
                error: function(data) {
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function() {});
        }
        function childRowsDriver(drivers, d) {
            var tr = '';
            $.each(drivers,
                function(index, value) {

                    tr += ` <tr class="">
                            <td></td><td></td>
                            <td>${value['Name']}</td>
                            <td>${value['Family']}</td>
                            <td>${value['NationalCode']}</td>
                            <td>${value['Office']}</td>
                            <td class="fit">
                            <span class='text-danger deleteVehicleDriver' data-id='${value['Id']
                        }' ><i class='fas fas fa-trash-alt fa-lg'></i></a></td >
                            </tr>`;
                });
            // `d` is the original data object for the row
            return `<table class="table table-sm font-size-0-75  lighten-5 px-4 mb-0 table-borderless ">
                        <tr class="white-text no-border grey darken-4">
                        <th></th><th></th>
                        <th>نام</th>
                        <th>نام خانوادگی</th>
                        <th>کدملی</th>
                        <th>اداره</th>
                        <th class="fit">
                        <span class='yellow-text cursor-pointer ml-3'  onClick='addDriver(${d.DT_RowId}, "${d.Title}")'><i class='fas fa-plus-square fa-lg yellow-text cursor-pointer ml-2'></i>افزودن راننده</span>
                        </th>
                        </tr>
                        ${tr} 
                        <tr><td colspan="7" class="py-0 pt-1 grey darken-4"></td></tr>
                        </table>`;
        }
        $(document).ready(function () {
            $('#Tab-Vehicle').addClass('active show');
            $('#Tab-Vehicle-Create').removeClass('d-none');

            //#region UserListModal
            const t = $('#DataListModalPerson').DataTable({
                //"stateSave": true,
                "processing": false,
                "serverSide": true,
                "ajax": {
                    "url": "/Person/Items",
                    "type": "POST",
                    "dataType": "json",
                    "data": function(d) {
                        d.Name = $('#Name').val();
                        d.Family = $('#Family').val();
                        d.NationalCode = $('#NationalCode').val();
                        d.PersonnelCode = $('#PersonnelCode').val();
                        d.Office = $('#Office').val();
                        d.OfficeDepartment = $('#OfficeDepartment').val();
                        d.Management = $('#Management').val();
                        d.Group = 8;

                    }
                },
                "dom": 'rt<"row"<"col-6"i><"col-6"p>>',
                //"dom": 'rt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
                "columns": [
                    //{ "data": "id", "name": "id" },
                    { "data": "Name", "name": "Name" },
                    { "data": "Family", "name": "Family" },
                    { "data": "NationalCode", "name": "NationalCode" },
                    { "data": "PersonnelCode", "name": "PersonnelCode", "visible": false },
                    { "data": "Group", "name": "Group", "visible": false },
                    { "data": "Office", "name": "TblOfficeDepartment.TblOffice.Title" },
                    //{ "data": "OfficeDepartment", "name": "TblOfficeDepartment.Title" },
                    {
                        "orderable": false,
                        "data": "edit",
                        "name": "edit",
                        "class": "fit",
                        "render": function(data, type, row, meta) {
                            return `<span class='blue-text cursor-pointer' onclick="addDriverSave('${row.NationalCode
                                }')"><i class='fas fa-plus-square fa-lg ml-2'></i><span class="">انتخاب راننده</span></span>`;
                        }
                    }
                ],
                "pageLength": 5,
                "order": [[1, "asc"], [0, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                }
            });

            //#region Advanced Search
            $('.advancedSearch').on('keypress',
                function(e) {
                    /* ENTER Tab Space PRESSED*/
                    if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                        t.draw();
                    }
                });
            $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                function(e) {

                    t.draw();
                });

            //#endregion
            //#endregion
            tData = $('#DataList').DataTable({
                //"stateSave": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Vehicle/List",
                    "type": "POST",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "id", "name": "id" },
                    { "data": "Title", "name": "Title" },
                    { "data": "TypeText", "name": "TypeText" },
                    { "data": "Plate", "name": "Plate" },
                    { "data": "Office", "name": "TblOffice.Title" },
                    { "data": "Management", "name": "TblOffice.TblManagement.Title" },
                    { "data": "Type", "name": "TblVehicleType.Title" },
                    { "data": "Capacity", "name": "Capacity" },
                    { "data": "Enable", "name": "Enable" },
                    {
                        "class": "details-driver fit pl-4",
                        "orderable": false,
                        "data": null,
                        "defaultContent":
                            "<span class='blue-text cursor-pointer'><i class='fas fa-id-card-alt fa-lg blue-text cursor-pointer ml-2'></i>راننده</span>"
                    },
                    {
                        "data": "edit",
                        "name": "edit",
                        "render": function (data, type, row, meta) {
                            return  `<a href='/Vehicle/Edit/${row.DT_RowId}' class='text-success ml-2' ><i class='fas fa-edit fa-lg'></i></a>
                                <a href='/Vehicle/Delete/${row.DT_RowId}' class='text-danger' ><i class='fas fas fa-trash-alt fa-lg'></i></a> `;
                            

                        }
                    }, //7
                ],
                "displayLength": 50,
                "order": [[1, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                "columnDefs": [
                    {
                        "orderable": false,
                        "width": "50px",
                        "targets": 0
                    },
                    {
                        "orderable": false,
                        "class": "fit",
                        "targets": 8
                    }
                ]
            }).on('xhr.dt',
                function(e, settings, json) {
                    if ($('#DataList_wrapper select')
                        .hasClass('custom-select custom-select-sm form-control form-control-sm')) {
                        $('#DataList_wrapper').find('label').each(function() {
                            $(this).parent().append($(this).children());
                        });
                        $('#DataList_wrapper .dataTables_filter').find('input').each(function() {
                            const $this = $(this);
                            $this.attr("placeholder", "جستجو...");
                            $this.removeClass('form-control-sm');
                        });
                        $('#DataList_wrapper .dataTables_length').addClass('d-flex flex-row');
                        $('#DataList_wrapper .dataTables_filter').addClass('md-form rtl');
                        $('#DataList_wrapper select').removeClass(
                            'custom-select custom-select-sm form-control form-control-sm');
                        $('#DataList_wrapper select').addClass('mdb-select');
                        $('#DataList_wrapper .mdb-select').materialSelect();
                        $('#DataList_wrapper .dataTables_filter').find('label').remove();
                        $('#DataList_wrapper .dataTables_length').find('label').remove();
                        $("#DataList_wrapper").children().first().css({ "direction": "ltr" });
                    }
                });;

            // Add event listener for opening and closing details
            $('#DataList tbody').on('click',
                'td.details-driver',
                function() {

                    const tr = $(this).closest('tr');
                    const row = tData.row(tr);
                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                        // Open this row
                        $.ajax({
                            url: "/Vehicle/ListDriver/",
                            data: {
                                id: row.data().DT_RowId
                            },
                            type: 'GET',
                            success: function(data) {
                                row.child(childRowsDriver(data, row.data()), 'm-0 p-0').show();
                                tr.addClass('shown');
                            }
                        });

                    }
                });
            // Add event listener for delete driver
            $('#DataList tbody').on('click',
                '.deleteVehicleDriver',
                function() {
                    const tr = $(this).parent().parent().parent().parent().parent().parent().prev();
                    const row = tData.row(tr);
                    ////console.log($(this));
                    ////console.log($(this).attr('data-id'));
                    deleteDriver($(this).attr('data-id'), $(this));
                    //$.ajax({
                    //    url: "/Vehicle/ListDriver/",
                    //    data: {
                    //        id: row.data().DT_RowId
                    //    },
                    //    type: 'GET',
                    //    success: function(data) {
                    //        row.child(childRowsDriver(data, row.data()), 'm-0 p-0').show();
                    //        tr.addClass('shown');
                    //    }
                    //});
                });

          
        });
    </script>
}

