﻿
@{
    ViewBag.Title = "اطلاعات شرکت ها";
}



<div class="card ltr text-right">
    <!--Header-->
    @Html.Partial("../Company/Tabs")
    <!--Header-->
    <div class="card-body">
        <div class="container py-5">


            <!-- Section: Block Content -->
            <section>

                <!--Grid row-->
                <div class="row">
                    
                    <!--Grid column-->
                    <div class="col-4 mb-4">

                        <div class="media white z-depth-1 rounded">
                            <i class="fas fa-school fa-lg blue z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body p-1">
                                <p class="text-uppercase text-muted mb-1"><small>مدیریت</small></p>
                                <h5 class="font-weight-bold mb-0">@ViewBag.Management</h5>
                            </div>
                        </div>


                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-4 mb-4">

                        <div class="media white z-depth-1 rounded">
                            <i class="fas fa-hotel fa-lg deep-purple z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body p-1">
                                <p class="text-uppercase text-muted mb-1"><small>شرکت تابعه</small></p>
                                <h5 class="font-weight-bold mb-0">@ViewBag.Subsidiary</h5>
                            </div>
                        </div>


                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-4 mb-4">

                        <div class="media white z-depth-1 rounded">
                            <i class="fas fa-city fa-lg teal z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body p-1">
                                <p class="text-uppercase text-muted mb-1"><small>شرکت</small></p>
                                <h5 class="font-weight-bold mb-0">@ViewBag.Company</h5>
                            </div>
                        </div>

                    </div>
                    <!--Grid column-->


                </div>
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-4 mb-4">

                        <div class="media white z-depth-1 rounded">
                            <i class="fas fa-money-check fa-lg pink z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body p-1">
                                <p class="text-uppercase text-muted mb-1"><small>شماره حساب</small></p>
                                <h5 class="font-weight-bold mb-0">@ViewBag.OfficeDepartmentAccountNumber</h5>
                            </div>
                        </div>

                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-4 mb-4">

                        <div class="media white z-depth-1 rounded">
                            <i class="fas fa-building fa-lg green z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body p-1">
                                <p class="text-uppercase text-muted mb-1"><small>واحد</small></p>
                                <h5 class="font-weight-bold mb-0">@ViewBag.OfficeDepartment</h5>
                            </div>
                        </div>

                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-4 mb-4">

                        <div class="media white z-depth-1 rounded">
                            <i class="far fa-building fa-lg orange z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body p-1">
                                <p class="text-uppercase text-muted mb-1"><small>اداره</small></p>
                                <h5 class="font-weight-bold mb-0">@ViewBag.Office</h5>
                            </div>
                        </div>

                    </div>
                    <!--Grid column-->
                    
                </div>
            </section>
            <!-- Section: Block Content -->


        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Tab-Dashboard-Company').addClass('active show');


        });
    </script>
}


