﻿
@using MD.PersianDateTime
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblEntryDocumentProduct>
@{ int c = 1; }
<table class="table table-hover table-striped table-sm">

    <tr>
        <th>ردیف</th>
        <th>اداره</th>
        <th>واحد</th>
        <th>تاریخ</th>
        <th>ورود/خروج</th>
        <th>شماره سند</th>
        <th>شماره بارنامه</th>
        <th>تعداد</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@(c++)</td>
            <td>@(item.TblEntryDocument.TblOffice?.Title)</td>
            <td>@(item.TblEntryDocument.TblOfficeDepartment?.Title)</td>

            <td>@(new PersianDateTime(item.TblEntryDocument.Date).ToString("yyyy/MM/dd hh:mm"))</td>
            <td>@(item.TblEntryDocument.Type? "ورود" : "خروج")</td>
            <td>
                @item.EntryDocument @{
                                        if (item.TblEntryDocument.OldId == null)
                                        {
                                            <span>&nbsp;</span>
                                        }
                                        else
                                        {
                                            <span class="red-text mr-2">(@item.TblEntryDocument.OldId)</span>
                                        }
                                    }
            </td>
            <td>@item.Lading</td>
            <td>@item.Count.ToString("N0")</td>
        </tr>
                }
            </table>