﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblProduct>

@{
    ViewBag.Title = "جستجو رمز اموال";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_Store_3")

    <!--Header-->
    <div class="card-body">

        <!--Accordion wrapper-->
        <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#advancedSearch" aria-expanded="true"
                       aria-controls="advancedSearch">
                        <h5 class="">
                            <i class="fas fa-search ml-4"></i>  جستجوی رمز اموال
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">

                    <div class="card-body pt-0">
                        <form id="report" class="needs-validation" novalidate="novalidate">
                            <div class="row mr-5">
                                <div class="col-lg-4 col-xl-3">
                                    <div class="md-form md-outline form-sm my-1">
                                        <input type="text" class="form-control form-control-lg text-center advancedSearch" id="Code" name="Code">
                                        <label for="Code" class="active">رمز اموال</label>
                                    </div>

                                </div>
                                <div class="col-lg-4 col-xl-3">
                                    <button class="btn btn-link cta  mr-auto" type="submit" id="search">
                                        <i class="fas fa-search fa-lg"></i>
                                        <span>جستجو اطلاعات</span>
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <!-- Accordion card -->


        </div>
        <!-- Accordion wrapper -->
        <div class=" mt-3 mb-5 py-0" id="upd"></div>

        
    </div>
</div>
@section Scripts{
    <script>
        var t;
      
        $(document).ready(function() {
            $('#Tab-Code').addClass('active show');
            $('#search').on('click',
                function (e) {
                    e.preventDefault();
                    const form = document.getElementById("report");
                    const fd = new FormData(form);
                    $.ajax({
                        url: "/Store/Reports/CodeResult",
                        data: fd,
                        cache: false,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        dataType :'html',
                        success: function (data) {
                            // console.log(data);
                            $("#upd").html(data);
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                });
        });
        
    </script>
}

