﻿@model Omidiyeh_Oil_Company___0147.Models.TblEntryDocumentProduct

<dl class="row mr-5">
    <dt class="col-sm-3 mb-4">شماره اموال</dt>
    <dd class="col-sm-9">@Model.Code</dd>
    
    <dt class="col-sm-3 mb-4">عنوان کالا</dt>
    <dd class="col-sm-9">@Model.TblProduct.Title</dd>

    <dt class="col-sm-3 mb-4">نام و نام خانوادگی</dt>
    <dd class="col-sm-9">@(Model.TblEntryDocument.TblPerson?.Fullname())</dd>

    <dt class="col-sm-3 mb-4">شماره پرسنلی</dt>
    <dd class="col-sm-9">@(Model.TblEntryDocument.TblPerson?.PersonnelCode)</dd>

    <dt class="col-sm-3  mb-4">اداره</dt>
    <dd class="col-sm-9">@(Model.TblEntryDocument.TblOffice?.Title)</dd>
   
    <dt class="col-sm-3  mb-4">واحد</dt>
    <dd class="col-sm-9">@(Model.TblEntryDocument.TblOfficeDepartment?.Title)</dd>
    
    <dt class="col-sm-3  mb-4">واحد کالا</dt>
    <dd class="col-sm-9">@Model.TblProduct.TblProductUnit.Title</dd>

   
</dl>

