﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblProduct>

@{
    ViewBag.Title = "گزارش کالای تحویل شده به افراد";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_Store_3")

    <!--Header-->
    <div class="card-body">

        <!--Accordion wrapper-->
        <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#advancedSearch" aria-expanded="true"
                       aria-controls="advancedSearch">
                        <h5 class="">
                            <i class="fas fa-search ml-4"></i>  جستجوی کالای تحویل شده به افراد
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">

                    <div class="card-body pt-0">
                        <form id="report" class="needs-validation" novalidate="novalidate">
                            <div class="row mr-5">
                                <div class="col-lg-3 col-xl-2">
                                    <div class="md-form md-outline my-2 input-group">
                                        <input type="text" class="form-control text-center advancedSearch" aria-label="sDate" aria-describedby="sDate"
                                               data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                                        <label for="StartDateFa">تاریخ شروع</label>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="hidden" name="StartDate" class="advancedSearch" id="StartDate" />
                                    </div>
                                </div>
                                <div class="col-lg-3 col-xl-2">
                                    <div class="md-form md-outline my-2 input-group">
                                        <input type="text" class="form-control text-center advancedSearch" aria-label="eDate" aria-describedby="eDate"
                                               data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                                        <label for="EndDateFa">تاریخ پایان</label>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="hidden" name="EndDate" class="advancedSearch" id="EndDate" />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-3">
                                    <div class="md-form md-outline my-2 input-group">
                                        <input type="text" class="form-control  text-center advancedSearch" name="ProductName" id="ProductName">
                                        <label for="ProductName" class="m-active">کالا</label>
                                        <div class="input-group-prepend" id="prependProduct" data-toggle="modal" data-target="#modalProduct">
                                            <span class="input-group-text " id="basic-text1">
                                                <i class="fas fa-search " aria-hidden="true"></i>
                                            </span>
                                        </div>
                                        <input type="hidden" name="Product" id="Product" />
                                    </div>


                                </div>


                                <div class="col-lg-4 col-xl-3">
                                    <button class="btn btn-link cta  mr-auto" type="submit" id="search">
                                        <i class="fas fa-search fa-lg"></i>
                                        <span>جستجو اطلاعات</span>
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <!-- Accordion card -->


        </div>
        <!-- Accordion wrapper -->

        <div class="modal fade rtl" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body rtl text-right mx-3 ">
                        <!--Accordion wrapper-->
                        <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">
                            <!-- Accordion card -->
                            <div class="card">
                                <!-- Card header -->
                                <div class="card-header" role="tab" id="headingOne1">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                       aria-controls="collapseOne1">
                                        <h5 class="">
                                            <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                                        </h5>
                                    </a>
                                </div>
                                <!-- Card body -->
                                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                                    <div class="card-body pt-0">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="md-form md-outline form-sm my-1">
                                                    <input type="text" class="form-control text-center advancedSearch" id="ProductTitle" name="ProductTitle">
                                                    <label for="ProductTitle" class="active">نام کالا</label>
                                                </div>
                                            </div>
                                            <div class="col-4 ">
                                                <div class="select-outline my-1">
                                                    <select name="ProductCategory1" id="ProductCategory1" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all" searchable="جستجو ..." data-stop-refresh="true"></select>
                                                    <label for="ProductCategory1" class="m-active">دسته بندی اصلی</label>
                                                </div>
                                            </div>

                                            <div class="col-4 ">
                                                <div class="select-outline my-1">
                                                    <select name="ProductCategory2" id="ProductCategory2" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch  disable-toggle-all" searchable="جستجو ..." data-stop-refresh="true"></select>
                                                    <label for="ProductCategory2" class="m-active">دسته بندی فرعی</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion card -->
                        </div>
                        <!-- Accordion wrapper -->
                        @Html.Action("ModalItems", "Products", new { area = "Store" })
                    </div>
                </div>
            </div>
        </div>
        <div class=" mt-3 mb-5 py-0" id="upd"></div>


    </div>
</div>
@section Scripts{
    <script>
        var t;
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            //disableBeforeToday: true,
            //fromDate: true,
            selectedDate: lastYear,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            toDate: true,
            selectedDate: tomorrow,
            groupId: "Start-End-Date"
        });

        function addFromModal(item, name) {
            $("#Product").val(item);
            $("#ProductName").val(name);
            $('#modalProduct').modal('hide');

        }



        $(document).ready(function() {
            $('#Tab-ProductPersons').addClass('active show');

            Category1("ProductCategory1");
            $('#ProductCategory1').on('change',
                function (e) {
                    Category2('ProductCategory2', $("#ProductCategory1").children("option:selected").val());
                });
            //#region ProductListModal
            const t = $('#DataListModalProduct').DataTable({
                //"stateSave": true,
                "processing": false,
                "serverSide": true,
                "ajax": {
                    "url": "/Store/Products/List",
                    "type": "POST",
                    "dataType": "json",
                    "data": function (d) {
                        d['Title'] = $('#ProductTitle').val();
                        //d['Des'] = $('#Des').val();
                        d.Category1 = $('#ProductCategory1').val();
                        d.Category2 = $('#ProductCategory2').val();
                        //d.Shelflife = $('#Shelflife').val();
                        //d.Threshold = $('#Threshold').val();
                        //d.Requestable = $('#Requestable').val();
                        //d.Repairable = $('#Repairable').val();
                        d.Remove = false;
                    }
                },
                "dom": 'rt<"row"<"col-6"i><"col-6"p>>',
                //"dom": 'rt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
                "columns": [
                    { "data": "DT_RowId", "name": "DT_RowId", "orderable": false, visible: true },
                    { "data": "Title", "name": "Title" },
                    { "data": "Count", "name": "Count" },
                    { "data": "Category1Title", "name": "TblCategory1.Title" },
                    { "data": "Category2Title", "name": "TblCategory2.Title" },
                    { "data": "Unit", "name": "TblProductUnit.Title" },
                    {
                        "orderable": false,
                        "data": "edit",
                        "name": "edit",
                        "class": "font-size-0-75 fit",
                        "render": function (data, type, row, meta) {
                            return `<span class='blue-text cursor-pointer' id="check${row.DT_RowId}"
                            onclick="addFromModal(${row.DT_RowId},'${row.Title}')">
                            <i class='fas fa-plus-square fa-lg ml-2'></i><span class="">انتخاب</span></span>`;
                        }
                    }
                ],
                "pageLength": 10,
                "order": [[1, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                }
            });

            //#region Advanced Search
            $('.advancedSearch').on('keyup',
                function (e) {
                    t.draw();
                    ///* ENTER Tab Space PRESSED*/
                    //if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                    //    t.draw();
                    //}
                });
            $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                function (e) {
                    t.draw();
                });

            //#endregion
            //#endregion
            $('#search').on('click',
                function (e) {
                    e.preventDefault();
                    const form = document.getElementById("report");
                    const fd = new FormData(form);
                    $.ajax({
                        url: "/Store/Reports/ProductPersonsResult",
                        data: fd,
                        cache: false,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        dataType :'html',
                        success: function (data) {
                            // console.log(data);
                            $("#upd").html(data);
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                });
        });

    </script>
}

