﻿
@using MD.PersianDateTime
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblEntryDocumentProduct>
@{ int c = 1; }
<table class="table table-hover table-striped table-sm">

    <tr>
        <th>ردیف</th>
        <th>رمز اموال</th>
        <th>نام و نام خانوادگی</th>
        <th>شماره پرسنلی</th>
        <th>کدملی</th>

        <th>اداره</th>
        <th>واحد</th>
        <th>تاریخ</th>


    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@(c++)</td>
            <td>@(item.Code)</td>
            <td>@(item.TblEntryDocument.TblPerson?.Fullname())</td>
            <td>@(item.TblEntryDocument.TblPerson?.PersonnelCode)</td>
            <td>@(item.TblEntryDocument.TblPerson?.NationalCode)</td>
            <td>@(item.TblEntryDocument.TblOffice?.Title)</td>
            <td>@(item.TblEntryDocument.TblOfficeDepartment?.Title)</td>

            <td>@(new PersianDateTime(item.TblEntryDocument.Date).ToString("yyyy/MM/dd hh:mm"))</td>

           
        </tr>
    }
</table>
