﻿

@using MD.PersianDateTime
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblEntryDocumentProduct>
@{ int c = 1; }
<table class="table table-hover table-striped table-sm">

    <tr>
        <th>ردیف</th>
        <th>کالا</th>
        <th>واحد</th>
        <th>جمع خروجی</th>



    </tr>
    @foreach (var item in Model.GroupBy(a=>a.Product))
    {
        <tr>
            <td>@(c++)</td>
            <td>@(item.First().TblProduct.Title)</td>
            <td>@(item.First().TblProduct.TblProductUnit.Title)</td>
            <td>
                @item.Count()
            </td>

           


        </tr>
    }
</table>

