﻿

@using MD.PersianDateTime
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblEntryDocumentProduct>
@{ int c = 1; }
<table class="table table-hover table-striped table-sm">

    <tr>
        <th>ردیف</th>
        <th>کالا</th>
        <th>واحد</th>
        <th>رمز اموال</th>
       @* <th>تاریخ</th>*@
        <th>تعداد</th>


    </tr>
    @foreach (var item in Model.GroupBy(a=>a.Code))
    {
        <tr>
            <td>@(c++)</td>
            <td>@(item.First().TblProduct.Title)</td>
            <td>@(item.First().TblProduct.TblProductUnit.Title)</td>
            <td>@(item.First().Code)</td>
          @*  <td>@(new PersianDateTime(item.TblEntryDocument.Date).ToString("yyyy/MM/dd hh:mm"))</td>*@
          <td>
              @(item.Count(a=>a.TblEntryDocument.Type) - item.Count(a=>a.TblEntryDocument.Type == false))
          </td>

           


        </tr>
    }
</table>
