﻿@model Omidiyeh_Oil_Company___0147.Models.TblFoodReservation

@{
    ViewBag.Title = "مشاهده جزئیات Details + Model.Title";
    Layout = "~/Views/Shared/_layout.cshtml";
}


    <div class="card rtl text-right">
	<!--Header-->
    @Html.Partial("..//Tabs")   
    <!--Header-->

<div>
    <dl class="dl-horizontal  mx-5 my-5">
		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Des)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Des)
        </dd>
		</div>

		
		

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TblOfficeDepartment.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblOfficeDepartment.Title)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TblPerson.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblPerson.Name)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TblUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblUser.UserName)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TblFood.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblFood.Title)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TblFoodReservationStatu.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblFoodReservationStatu.Title)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TblMeal.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblMeal.Title)
        </dd>
		</div>

		
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TblRestaurant.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblRestaurant.Title)
        </dd>
		</div>

    </dl>
</div>
</div>

