﻿@using MD.PersianDateTime
@model Omidiyeh_Oil_Company___0147.Models.TblFoodReservationGroup

@{
    ViewBag.Title = "ویرایش درخواست غذا";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_FoodReservation_Shift")
    <!--Header-->
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 col-md-4 ">
                <div class="md-form md-outline my-2 input-group">
                    <input type="text" class="form-control text-center" aria-label="rDate" aria-describedby="rDate"
                           data-val="true" data-val-required=" " id="ReservationDateFa" name="ReservationDateFa" value="">
                    <label for="ReservationDateFa">تاریخ </label>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="rDate"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    <input type="hidden" name="ReservationDateFa" id="ReservationDate" />

                </div>
            </div>
        </div>
        <form id="edit2" class="needs-validation" novalidate="novalidate">
            <input type="hidden" name="group" id="group" value="@Model.Id" />
            <div id="upd"></div>
        </form>


    </div>
</div>



@section Scripts{
    <script>

        $('[data-toggle="popover"]').popover({
            trigger: 'hover',
            container: 'body',
        });

        $('#rDate').MdPersianDateTimePicker({
            targetTextSelector: '#ReservationDateFa',
            targetDateSelector: '#ReservationDate',
            textFormat: 'yyyy/MM/dd',
            selectedDate: today,
            disableBeforeDate: today,
            disableAfterDate: new Date('@ViewBag.ToDate')
        });



        var c = 0;
        var per = [];

        function addFromModal(NationalCode, PersonnelCode, Name, Family, Id) {
            const itemNumber = $("#itemNumber").val();
            $("#NationalCode" + itemNumber).val(NationalCode);
            $("#PersonnelCode" + itemNumber).html(PersonnelCode);
            $("#Name" + itemNumber).html(Name);
            $("#Family" + itemNumber).html(Family);
            $("#Person" + itemNumber).val(Id);
            //addToList(this);
            $("#check" + NationalCode).addClass('d-none');
            $('#modalPersons').modal('hide');
        }

        function ShowModalPerson(item) {
            $("#modalPersons").on('show.bs.modal',
                function() {
                    $("#itemNumber").val(item);
                });
            $('#modalPersons').modal();
        }

        function EditTable(id, date) {
            $.ajax({
                url: `/Welfare/FoodReservation/EditList/?id=${id}&date=${date}`,
                type: 'GET',
                success: function(data) {
                    // console.log(data);
                    $("#upd").html(data.PartialView);

                },
                error: function(data) {
                    console.log(data);
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data.status}</small>`);
                }
            }).then(function() {

            });
        }


        function editSave() {
            // console.log(2);
            // e.preventDefault();
            const myForm = document.getElementById("edit2");
            const fd = new FormData(myForm);
            // console.log(fd);

            $.ajax({
                url: "/Welfare/FoodReservation/EditSave/",
                data: fd,
                cache: false,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data) {
                    toastr[data.Type](data.Msg);
                    if (data.Result === true)
                        setTimeout(function() {
                                window.location.href = "/Welfare/FoodReservation/";
                            },
                            3000);
                }
            });
        }

        function changeFood(food, id) {
            $.ajax({
                url: "/Reservation/Food/EditOneFoodFromTempList/",
                data: { reservationId: id, food: food },
                type: 'POST',
                success: function(data) {
                    toastr[data.Type](data.Msg);

                },
                error: function(data) {
                    toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است (2)');
                }
            });
        }



        $(document).ready(function() {

            $('#Tab-Edit').addClass('active show').removeClass('d-none');


            EditTable(@ViewBag.Id, $('#ReservationDate').val());

         $('#ReservationDate').on('change',
                function(e) {
                    EditTable(@ViewBag.Id, $('#ReservationDate').val());
                });



        });


    </script>
}