﻿@using MD.PersianDateTime
@model Omidiyeh_Oil_Company___0147.Models.TblFoodReservationGroup

@{
    ViewBag.Title = "ویرایش درخواست غذا";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_FoodReservation")
    <!--Header-->
    <div class="card-body">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="true">جزئیات درخواست</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                   aria-selected="false">برنامه غذایی</a>
            </li>
            @if (Model.Shift.HasValue)
            {
                if (User.IsInRole("240"))
                {
                    <li class="nav-item">
                        <a class="nav-link " id="food-tab" data-toggle="tab" href="#food" role="tab" aria-controls="food"
                           aria-selected="false">ویرایش تعداد غذا</a>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                       aria-selected="false">نفرات</a>
                </li>
            }
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade  show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <form id="edit" class="needs-validation" novalidate="novalidate">


                    <div class="note note-info my-4">
                        <span class="ml-1  text-black-50">شماره درخواست:</span><span class="text-bold red-text ml-5">@ViewBag.Id</span>
                        <input type="hidden" name="id" id="id" value="@Model.Id" />


                        <span class="ml-1  text-black-50">حساب:</span>

                        @if (Model.Des != null && Model.Des.Split('&').Length > 1 && Model.Des.Split('&')[1].StartsWith("AC"))
                        {
                            <span class="text-bold  ml-5">-</span>
                        }
                        else
                        {
                            <span class="text-bold  ml-5">@Model.TblOfficeDepartmentAccountNumber.AccountNumber</span>

                        }


                        <span class="ml-1  text-black-50">اداره:</span><span class="text-bold  ml-5">@Model.TblOfficeDepartmentAccountNumber.TblOfficeDepartment.TblOffice.Title</span>

                        <span class="ml-1  text-black-50">واحد:</span><span class="text-bold  ml-5">@Model.TblOfficeDepartmentAccountNumber.TblOfficeDepartment.Title</span>

                        <span class="ml-1  text-black-50">رستوران:</span><span class="text-bold  ml-5">@Model.TblFoodReservations.First().TblRestaurant.Title</span>


                    </div>
                    @if (Model.Letter.HasValue)
                    {
                        <div class="alert alert-secondary blue-text my-4">
                            <span class="ml-1  text-black-50">موضوع نامه:</span><span class="text-bold  ml-5">@Model.TblFoodReservationLetter.Subject</span>

                            <span class="ml-1  text-black-50">شماره نامه:</span><span class="text-bold  ml-5">@Model.TblFoodReservationLetter.Number</span>

                            <span class="ml-1  text-black-50">تاریخ نامه:</span><span class="text-bold  ml-5">@(new PersianDateTime(Model.TblFoodReservationLetter.Date).ToString("yyyy/MM/dd"))</span>

                            <span class="ml-1  text-black-50">تعداد نفر:</span><span class="text-bold  ml-5">@Model.TblFoodReservationLetter.Count</span>
                            <br /><br />
                            <span class="ml-1  text-black-50">مدیریت معرف:</span><span class="text-bold  ml-5">@Model.TblFoodReservationLetter.TblOffice.TblManagement.Title</span>
                            <span class="ml-1  text-black-50"> اداره معرف:</span><span class="text-bold  ml-5">@Model.TblFoodReservationLetter.TblOffice.Title</span>
                            @if (Model.TblFoodReservationLetter.OfficeFor != 0)
                            {
                                <span class="ml-1  text-black-50">برای:</span>
                                <span class="text-bold  ml-5">@Model.TblFoodReservationLetter.TblSubsidiary.Title</span>
                            }
                        </div>
                    }
                    @if (Model.Des != null && Model.Des.StartsWith("AC"))
                    {

                        <div class="row">

                            <div class="col-sm-3 px-4">
                                <div class="select-outline mt-2 mb-0">
                                    <select name="AccountNumber" id="AccountNumber" class="mdb-select required md-form md-outline font-size-0-90 mt-0 mb-0 readonly" searchable="جستجو ..." data-stop-refresh="true"></select>
                                    <label for="AccountNumber" class="m-active">شماره حساب</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="blue-grey-text text-right mt-3">
                                    <i class="far fa-building  text-success mr-4"></i>
                                    <span id="OfficeTitle" class="mx-1 font-size-0-75"></span>
                                    <i class="fas fa-building  text-success mr-4"></i>
                                    <span id="OfficeDepartmentTitle" class="mx-1  font-size-0-75"></span>
                                </div>
                            </div>

                        </div>


                        <script>
                            $(document).ready(function () {
                                AccountNumbers('AccountNumber', 0);

                                $("select#AccountNumber").change(function () {
                                    $.ajax({
                                        url: "/Welfare/FoodReservation/EditAccountNumber/",
                                        data: { group: $("#id").val(), accountNumber: this.value },


                                        type: 'POST',
                                        success: function (data) {
                                            toastr[data.Type](data.Msg);

                                        }
                                    });
                                });
                            });
                        </script>

                    }

                    <div class="row mt-3 mb-0">
                        <div class="col-md-12  px-3">
                            <div class="md-form md-outline">
                                <textarea class="form-control font-size-0-80 col-12 md-textarea" name="des" id="des">@Model.Des</textarea>
                                <label for="des" class="m-active">پیام</label>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-1  ">
                        <button class="btn btn-link cta  mr-auto ml-0 font-size-0-50" type="button" id="saveDes">
                            <i class="fas fa-save fa-lg"></i>
                            <span>ثبت توضیحات</span>
                        </button>
                    </div>
                </form>

                <div class="alert alert-danger blue-text my-5">
                    <span class="ml-1  text-black-50">حذف درخواست:</span><span class="text-bold red-text ml-5">@ViewBag.Id</span>
                    <input type="hidden" name="id" id="id" value="@Model.Id" />

                    آیا می خواهید این درخواست را حذف نمایید؟
                    <a href="/Welfare/FoodReservation/Delete/@Model.Id" class="text-danger">بلی</a>

                </div>
                <div class="alert alert-danger blue-text my-4 white">
                    <div class="row">
                        <div class="col-auto mt-3">
                            <span class="ml-1  text-black-50">حذف درخواست:</span><span class="text-bold red-text ml-5">@ViewBag.Id</span>

                            <span>آیا می خواهید این درخواست را از تاریخ </span>
                        </div>
                        <div class="col-sm-3 ">
                            <div class="md-form md-outline my-2 input-group">
                                <input type="text" class="form-control text-center" aria-label="dDate" aria-describedby="dDate"
                                       data-val="true" data-val-required=" " id="DeleteDateFa" name="DeleteDateFa" value="">
                                <label for="DeleteDateFa">تاریخ </label>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="dDate"><i class="fas fa-calendar-alt"></i></span>
                                </div>
                                <input type="hidden" name="DeleteDate" id="DeleteDate" />

                            </div>
                        </div>
                        <div class="col-auto mt-3">
                            حذف نمایید؟
                            <a href="/Welfare/FoodReservation/DeleteFromDate/@Model.Id" class="text-danger" id="deleteFromLink">بلی</a>
                        </div>
                    </div>



                </div>

            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">
                    <div class="col-sm-6 col-md-4 ">
                        <div class="md-form md-outline my-2 input-group">
                            <input type="text" class="form-control text-center" aria-label="rDate" aria-describedby="rDate"
                                   data-val="true" data-val-required=" " id="ReservationDateFa" name="ReservationDateFa" value="">
                            <label for="ReservationDateFa">تاریخ </label>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="rDate"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                            <input type="hidden" name="ReservationDateFa" id="ReservationDate" />

                        </div>
                    </div>
                </div>
                <form id="edit2" class="needs-validation" novalidate="novalidate">
                    <input type="hidden" name="group" id="group" value="@Model.Id" />
                    <div id="upd"></div>
                </form>
            </div>
            @if (Model.Shift.HasValue)
            {

                if (User.IsInRole("240"))
                {
                <div class="tab-pane fade" id="food" role="tabpanel" aria-labelledby="food-tab">
                    <form id="EditCountFood" class="needs-validation" novalidate="novalidate">
                        <div class="row mb-5">
                            <div class="col-md-4 col-xl-3">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center readonly" aria-label="sDate" aria-describedby="sDate"
                                           data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                                    <label for="StartDateFa">تاریخ شروع</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="StartDate" id="StartDate" />
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-3 px-4">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center readonly" aria-label="eDate" aria-describedby="eDate"
                                           data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                                    <label for="EndDateFa">تاریخ پایان</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="EndDate" id="EndDate" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="d-flex flex-row justify-content-end align-items-end align-self-end mt-3 col-12 ">
                                <button class="btn btn-link cta cta-silver  mr-auto ml-0 font-size-0-50 " type="button" id="refreshCount">
                                    <i class="fas fa-save fa-lg"></i>
                                    <span>مشاهده تعداد اولیه درخواست</span>
                                </button>
                            </div>
                        </div>
                        <h6 class="blue-text"><i class="fas fa-concierge-bell ml-2 red-text"></i>روزهای عادی</h6>
                        <div class="row mb-5" id="MealN">


                        </div>
                        <h6 class="blue-text"><i class="fas fa-concierge-bell ml-2 red-text"></i>روزهای پنج شنبه</h6>
                        <div class="row mb-5" id="MealT">


                        </div>
                        <h6 class="blue-text"><i class="fas fa-concierge-bell ml-2 red-text"></i>روزهای جمعه و تعطیل</h6>
                        <div class="row" id="MealF">


                        </div>

                        <div class="row">
                            <div class="d-flex flex-row justify-content-end align-items-end align-self-end mt-3 col-12 ">
                                <button class="btn btn-link cta  mr-auto ml-0 font-size-0-50 " type="button" id="EditCount">
                                    <i class="fas fa-save fa-lg"></i>
                                    <span>ویرایش درخواست</span>
                                </button>
                            </div>
                        </div>
                    </form>


                </div>}
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row mt-2">


                <div class="col-md-4 col-xl-3 px-4">
                    <div class="md-form md-outline mt-0 mb-2 input-group">
                        <input type="text" class="form-control  text-center" name="Person" id="Person">
                        <label for="Person" class="m-active">شماره پرسنلی / کدملی</label>
                        <div class="input-group-prepend" id="prependPerson" data-toggle="modal" data-target="#modalPersons">
                            <span class="input-group-text " id="basic-text1">
                                <i class="fas fa-search " aria-hidden="true"></i>
                            </span>
                        </div>
                        <span class="field-validation-valid invalid-feedback mr-2" data-valmsg-for="TblPerson.PersonnelCode" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="col">
                    <button class="waves-effect btn btn-link mr-auto text-primary p-0"
                            style="vertical-align: text-top" type="button" name="addToList" id="addToList">
                        <i class="fas fa-plus-square ml-2 fa-2x "></i>
                        <span class="align-top lh24 border-bottom"> افزودن به لیست</span>
                    </button>
                </div>
              


            </div>
            <div class="row mt-5">

                <div class="col-12" id="updPerson">
                </div>
                @*<div class="note note-info my-3 col-12">
                <span class="ml-1  text-black-50">کپی نفرات درخواست:</span><span class="text-bold red-text ml-5">@ViewBag.Id</span>


                آیا می خواهید نفرات این درخواست را کپی نمایید؟
                <a href="/Reservation/Food/Shift/?accountNumber=@Model.AccountNumber&officeDepartment=@Model.TblFoodReservationShift.Department&oldShift=@Model.Shift" class="text-danger">بلی</a>


            </div>*@
            </div>

        </div>

                }
        </div>



    </div>
</div>

<div class="modal fade rtl" id="modalPersons" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body rtl text-right mx-3 ">
                <!--Accordion wrapper-->
                <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">
                    <!-- Accordion card -->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                               aria-controls="collapseOne1">
                                <h5 class="">
                                    <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                                </h5>
                            </a>
                        </div>
                        <!-- Card body -->
                        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="Name" name="Name">
                                            <label for="Name" class="active">نام</label>
                                        </div>
                                    </div>
                                    <div class="col ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="Family" name="Family">
                                            <label for="Family" class="active">نام خانوادگی</label>
                                        </div>
                                    </div>
                                    <div class="col  ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="NationalCode" name="NationalCode">
                                            <label for="NationalCode" class="active">کدملی</label>
                                        </div>
                                    </div>
                                    <div class="col  ">
                                        <div class="md-form md-outline form-sm my-1">
                                            <input type="text" class="form-control text-center advancedSearch" id="PersonnelCode" name="PersonnelCode">
                                            <label for="PersonnelCode" class="active">شماره پرسنلی</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->
                </div>
                <input type="hidden" name="itemNumber" id="itemNumber" value="-1" />
                <!-- Accordion wrapper -->
                @Html.Action("UserAccess", "Person", new { area = "" })
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>

        $('[data-toggle="popover"]').popover({
            trigger: 'hover',
            container: 'body',
        });
        $('#dDate').MdPersianDateTimePicker({
            targetTextSelector: '#DeleteDateFa',
            targetDateSelector: '#DeleteDate',
            textFormat: 'yyyy/MM/dd',
            //disableBeforeToday: true,
            //fromDate: true,
            //selectedDate: tomorrow,
            // groupId: "Start-End-Date"
        });
        $('#rDate').MdPersianDateTimePicker({
            targetTextSelector: '#ReservationDateFa',
            targetDateSelector: '#ReservationDate',
            textFormat: 'yyyy/MM/dd',
            selectedDate: today,
            disableBeforeDate: new Date('@ViewBag.FromDate'),
            disableAfterDate: new Date('@ViewBag.ToDate')
        });

        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            disableBeforeToday:
                @((ViewBag.UserGroup == 1 || ViewBag.UserGroup == 12 || ViewBag.UserGroup == 10 || ViewBag.UserGroup == 14) ? "false" : "true"),
            //fromDate: true,
            selectedDate: today,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            toDate: true,
            selectedDate: today,
            groupId: "Start-End-Date"
        });

        var c = 0;
        var per = [];

        function addFromModal(NationalCode, PersonnelCode, Name, Family, Id) {
            const itemNumber = $("#itemNumber").val();
            $("#NationalCode" + itemNumber).val(NationalCode);
            $("#PersonnelCode" + itemNumber).html(PersonnelCode);
            $("#Name" + itemNumber).html(Name);
            $("#Family" + itemNumber).html(Family);
            $("#Person" + itemNumber).val(Id);
            //addToList(this);
            $("#check" + NationalCode).addClass('d-none');
            $('#modalPersons').modal('hide');
        }

        function ShowModalPerson(item) {
            $("#modalPersons").on('show.bs.modal',
                function() {
                    $("#itemNumber").val(item);
                });
            $('#modalPersons').modal();
        }
        function addFromModal(item, person) {
            //console.log(item);
            $("#Person").val(item);
            addToList(this);
            $("#check" + person).addClass('d-none');
        }

        function addToList(e) {
            // console.log($("#AccountNumber").val());
            if ($("form").valid() === true &&
                validateSelect(e) &&
                $("#Person").val().length > 1 /*&& $("#RestCount").val().length > 0*/) {
                // $("#loading").removeClass('hide');
                // e.preventDefault();
                //  var meals = $("#Meals").val();
                $.ajax({
                    url: "/Reservation/Food/AddPersonToShiftTempList2/",
                    data: {
                        // meals: meals,
                        code: $("#Person").val(),
                        group: @Model.Id
                       

                    },
                    type: 'POST',
                    success: function (data) {
                        toastr[data.Type](data.Msg.split(";")[0]);
                        //console.log(data);
                        if (data.Result === true) {
                            //groupId = data.Msg.split(";")[1];
                            shiftPersonTable();
                            //$('#save').removeClass("d-none");
                            $('.readonly').addClass("disabled");

                        }
                    },
                    error: function(data) {
                        //console.log(data);
                        toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small><br />10`);
                    }
                }).then(function() {

                });
            }
        }
        function EditTable(id, date) {
            $.ajax({
                url: `/Welfare/FoodReservation/EditList/?id=${id}&date=${date}`,
                type: 'GET',
                success: function(data) {
                    // console.log(data);
                    $("#upd").html(data.PartialView);

                },
                error: function(data) {
                    console.log(data);
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data.status}</small>`);
                }
            }).then(function() {

            });
        }


        function editSave() {
            // console.log(2);
            // e.preventDefault();
            const myForm = document.getElementById("edit2");
            const fd = new FormData(myForm);
            // console.log(fd);

            $.ajax({
                url: "/Welfare/FoodReservation/EditSave/",
                data: fd,
                cache: false,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data) {
                    toastr[data.Type](data.Msg);
                    if (data.Result === true)
                        setTimeout(function() {
                                window.location.href = "/Welfare/FoodReservation/";
                            },
                            3000);
                }
            });
        }

        function changeFood(food, id) {
            $.ajax({
                url: "/Reservation/Food/EditOneFoodFromTempList/",
                data: { reservationId: id, food: food },
                type: 'POST',
                success: function(data) {
                    toastr[data.Type](data.Msg);

                },
                error: function(data) {
                    toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است (2)');
                }
            });
        }

        function deleteOneDayPersonFromTemp(Person, Date) {
            $.ajax({
                url: "/Reservation/Food/DeleteOneDayPersonFromTemp/",
                data: { Person: Person, Date: Date },
                type: 'POST',
                success: function(data) {
                    if (data === false)
                        toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است');
                    else
                        tempTable();

                },
                error: function(data) {
                    toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است (2)');
                }
            });
        }
         function shiftPersonTable() {


                        $.ajax({
                            url: "/Reservation/Food/ShiftPerson/?group=" + @Model.Id,
                            type: 'GET',
                            success: function(data) {
                                //console.log(data);
                                $("#updPerson").html(data);
                                //  $('.action').addClass('d-none');
                                const dataShiftPerson = $('#DataShiftPerson').DataTable({
                                    "pageLength": 500,
                                    "dom": 'rt<"row"<"col-6"i>>',
                                    "order": [3, "asc"],
                                    "language": {
                                        "url": "/Content/js/addons/datatables.persian.json"
                                    },
                                    "columnDefs": [
                                        {
                                            "targets": [1],
                                            "visible": false,
                                            "searchable": false
                                        }
                                    ]
                                });

                                dataShiftPerson.on('order.dt search.dt',
                                    function() {
                                        dataShiftPerson.column(0, { search: 'applied', order: 'applied' }).nodes().each(
                                            function(cell, i) {
                                                cell.innerHTML = i + 1;
                                            });
                                    }).draw();

                            },
                            error: function(data) {
                                toastr["error"](
                                    `هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                            }
                        });
                    }
        function deleteOnePersonFromTemp(person, group) {
            console.log(1);
            $('#deleteOnePersonFromTemp' + person).popover('hide');
            $("#check" + person).removeClass('d-none');
           // $(".vehicle-" + vehicle).removeClass('d-none');
            $.ajax({
                url: "/Reservation/Food/DeleteOnePersonFromTempShift/",
                data: { Person: person, Group: group },
                type: 'POST',
                success: function(data) {
                    console.log(data);
                    if (data === false)
                        toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است');
                    else
                        shiftPersonTable();

                },
                error: function(data) {
                    toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است (2)');
                }
            });
        }

        function deleteOnePersonFromEdit(Person) {
            $('#deleteOnePersonFromEdit' + Person).popover('hide');

            $.ajax({
                url: "/Reservation/Food/DeleteOnePersonFromEdit/",
                data: { Person: Person },
                type: 'POST',
                success: function(data) {
                    if (data === false)
                        toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است');
                    else
                        tempTable();

                },
                error: function(data) {
                    toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است (2)');
                }
            });
        }

        $(document).ready(function() {

            $('#Tab-Edit').addClass('active show').removeClass('d-none');


            EditTable(@ViewBag.Id, $('#ReservationDate').val());


            //#region UserListModal
            const t = $('#DataListModalPerson').DataTable({
                //"stateSave": true,
                "processing": false,
                "serverSide": true,
                "ajax": {
                    "url": "/Person/Items",
                    "type": "POST",
                    "dataType": "json",
                    "data": function(d) {
                        d.Name = $('#Name').val();
                        d.Family = $('#Family').val();
                        d.NationalCode = $('#NationalCode').val();
                        d.PersonnelCode = $('#PersonnelCode').val();
                        d.Office = $('#Office').val();
                        d.OfficeDepartment = $('#OfficeDepartment').val();
                        d.Management = $('#Management').val();
                        d.Group = [1, 4, 5, 6,8];
                        d.Retierd = false;
                        d.Disable = false;
                    }
                },
                "dom": 'rt<"row"<"col-6"i><"col-6"p>>',
                //"dom": 'rt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
                "columns": [
                    //{ "data": "id", "name": "id" },
                    { "data": "Name", "name": "Name", "class": "font-size-0-75" },
                    { "data": "Family", "name": "Family", "class": "font-size-0-75" },
                    { "data": "NationalCode", "name": "NationalCode", "class": "font-size-0-75 " },
                    { "data": "PersonnelCode", "name": "PersonnelCode", "class": "font-size-0-75" },
                    { "data": "Group", "name": "Group", "class": "font-size-0-75 blue-grey-text" },
                    {
                        "data": "Office",
                        "name": "TblOfficeDepartment.TblOffice.Title",
                        "class": "font-size-0-75 blue-grey-text"
                    },
                    //{ "data": "OfficeDepartment", "name": "TblOfficeDepartment.Title" },
                    {
                        "orderable": false,
                        "data": "edit",
                        "name": "edit",
                        "class": "font-size-0-75 fit",
                        "render": function(data, type, row, meta) {
                            return `<span class='blue-text cursor-pointer' id="check${row.NationalCode
                                }" onclick="addFromModal(
                                    ${row.NationalCode},${row.PersonnelCode},'${row.Name}','${row.Family}',${
                                row.DT_RowId
                                })"><i class='fas fa-plus-square fa-lg ml-2'></i><span class="">انتخاب</span></span>`;
                        }
                    }
                ],
                "pageLength": 10,
                "order": [[1, "asc"], [0, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                "columnDefs": [
                    //{
                    //    "orderable": false,

                    //    "width": "50px",
                    //    "targets": 0
                    //},
                    //{
                    //    "orderable": false,
                    //    "width": "125px",
                    //    "targets": 3
                    //}
                ]
            });

            //#region Advanced Search
            $('.advancedSearch').on('keypress',
                function(e) {
                    /* ENTER Tab Space PRESSED*/
                    if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                        t.draw();
                    }
                });
            $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                function(e) {

                    t.draw();
                });


            //#endregion
            //#endregion


            @if (Model.Shift.HasValue)
            {
                <text>

                    shiftPersonTable();

                    const p = new Promise(function(resolve, reject) {
                        MealsInputShift('#MealN', "MealN");
                        MealsInputShift('#MealT', "MealT");
                        MealsInputShift('#MealF', "MealF");
                        setTimeout(function() {
                                resolve();
                            },
                            3000);

                    });
                    p.then(function() {
                        //console.log('val');

                        $('#MealN-0').val(@Model.TblFoodReservationShift.N0);
                        $('#MealN-1').val(@Model.TblFoodReservationShift.N1);
                        $('#MealN-2').val(@Model.TblFoodReservationShift.N2);
                        $('#MealN-3').val(@Model.TblFoodReservationShift.N3);
                        $('#MealN-4').val(@Model.TblFoodReservationShift.N4);
                        $('#MealN-5').val(@Model.TblFoodReservationShift.N5);

                        $('#MealT-0').val(@Model.TblFoodReservationShift.T0);
                        $('#MealT-1').val(@Model.TblFoodReservationShift.T1);
                        $('#MealT-2').val(@Model.TblFoodReservationShift.T2);
                        $('#MealT-3').val(@Model.TblFoodReservationShift.T3);
                        $('#MealT-4').val(@Model.TblFoodReservationShift.T4);
                        $('#MealT-5').val(@Model.TblFoodReservationShift.T5);

                        $('#MealF-0').val(@Model.TblFoodReservationShift.F0);
                        $('#MealF-1').val(@Model.TblFoodReservationShift.F1);
                        $('#MealF-2').val(@Model.TblFoodReservationShift.F2);
                        $('#MealF-3').val(@Model.TblFoodReservationShift.F3);
                        $('#MealF-4').val(@Model.TblFoodReservationShift.F4);
                        $('#MealF-5').val(@Model.TblFoodReservationShift.F5);
                    });



                </text>


            }

            $("#DeleteDate").on("change",
                function() {
                    $("#deleteFromLink").attr("href",
                        '/Welfare/FoodReservation/DeleteFromDate/?id=@Model.Id&date=' +
                        this.value);
                });
            $('#ReservationDate').on('change',
                function(e) {
                    EditTable(@ViewBag.Id, $('#ReservationDate').val());
                });

            $('#saveDes').on('click',
                function(e) {
                    e.preventDefault();
                    $.ajax({
                        url: "/Welfare/FoodReservation/EditDes",
                        data: { id: @Model.Id, des: $("#des").val() },
                        type: 'POST',
                        success: function(data) {
                            toastr[data.Type](data.Msg);

                        }
                    });
                });

            $('#refreshCount').on('click',
                function(e) {
                    e.preventDefault();
                    @if (Model.Shift.HasValue)
                    {
                        <text>
                            $('#MealN-0').val(@Model.TblFoodReservationShift.N0);
                            $('#MealN-1').val(@Model.TblFoodReservationShift.N1);
                            $('#MealN-2').val(@Model.TblFoodReservationShift.N2);
                            $('#MealN-3').val(@Model.TblFoodReservationShift.N3);
                            $('#MealN-4').val(@Model.TblFoodReservationShift.N4);
                            $('#MealN-5').val(@Model.TblFoodReservationShift.N5);

                            $('#MealT-0').val(@Model.TblFoodReservationShift.T0);
                            $('#MealT-1').val(@Model.TblFoodReservationShift.T1);
                            $('#MealT-2').val(@Model.TblFoodReservationShift.T2);
                            $('#MealT-3').val(@Model.TblFoodReservationShift.T3);
                            $('#MealT-4').val(@Model.TblFoodReservationShift.T4);
                            $('#MealT-5').val(@Model.TblFoodReservationShift.T5);

                            $('#MealF-0').val(@Model.TblFoodReservationShift.F0);
                            $('#MealF-1').val(@Model.TblFoodReservationShift.F1);
                            $('#MealF-2').val(@Model.TblFoodReservationShift.F2);
                            $('#MealF-3').val(@Model.TblFoodReservationShift.F3);
                            $('#MealF-4').val(@Model.TblFoodReservationShift.F4);
                            $('#MealF-5').val(@Model.TblFoodReservationShift.F5);
                        </text>
                    }
                });

            $('#EditCount').on('click',
                function(e) {
                    $('#selectFoods').prop('disabled', true);
                    if ($("form").valid() === true && validateSelect(e)) {
                        e.preventDefault();
                        const myForm = document.getElementById("EditCountFood");
                        const fd = new FormData(myForm);
                        $.ajax({
                            url: `/FoodReservation/EditCount/?id=${@Model.Id}`,
                            data: fd,
                            cache: false,
                            processData: false,
                            contentType: false,
                            type: 'POST',
                            success: function(data) {
                                toastr[data.Type](data.Msg.split(";")[0]);
                                if (data.Result === true) {

                                } else {


                                }

                            },
                            error: function(data) {
                                toastr['error'](data);

                            }
                        }).then(
                        );
                    }
                });

        });


    </script>
}