﻿
@using Omidiyeh_Oil_Company___0147.Models
@model IEnumerable<Omidiyeh_Oil_Company___0147.Areas.Reservation.Controllers.FoodController.TempModel>
@{
    var row = 1;
}
<table id="TempDataTable" class="table py-0 table-hover font-size-0-90 text-bold table-bordered lh2" style="width: 100%;">
    <thead>
    <tr class='black-text cloudy-knoxville-gradient lh1'>
        <th>#</th>
        <th class="fit">تاریخ</th>

        @if (ViewBag.Type == 4 || ViewBag.Type ==2)
        {

        }
        else
        {
            <th class="fit">نام</th>
            <th class="fit">نام خانوادگی</th>
            <th class="fit">شماره پرسنلی</th>
            <th class="fit">کدملی</th>
            if (Model.Any(a => a.Vehicle != null))
            {  <th class="fit">وسیله نقلیه</th>}
        }
        
        @foreach (var meal in (List<Item>) ViewBag.Meals)
        {

            <th data-orderable="false"> @meal.Title</th>
        }

    </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="fit">@(row++)</td>
            <td class="fit">@item.Date</td>
            @if (item.Person == -2 && ViewBag.Type == 3)
            {
                <td id="Name@(item.ItemNumber)"></td>
                <td id="Family@(item.ItemNumber)"></td>
                <td id="PersonnelCode@(item.ItemNumber)"></td>

                <td style="width: 200px ; min-width:200px">
                    <div class="md-form md-outline mt-0 mb-0 input-group">
                        <input type="number" class="form-control form-control-sm text-center NationalCode py-1" name="NationalCode-@(item.ItemNumber)" id="NationalCode@(item.ItemNumber)">
                        <input type="hidden" value="" name="Person-@(item.ItemNumber)" id="Person@(item.ItemNumber)" />
                        <div class="input-group-prepend" id="prependPerson" onclick="ShowModalPerson(@item.ItemNumber)">
                            <span class="input-group-text " id="basic-text1">
                                <i class="fas fa-search  fa-xs" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </td>

            }
            else if (item.Person == -2 && ViewBag.Type == 4 || ViewBag.Type == 2)
            {

            }
            else
            {
                <td class="fit">@item.Name</td>
                <td class="fit">@item.Family</td>
                <td class="fit">@item.PersonnelCode</td>
                <td class="fit">@item.NationalCode</td>
                if (Model.Any(a => a.Vehicle != null))
                { <td class="fit">@item.VehicleTitle</td>}
            }
            @foreach (var meal in (List<Item>)ViewBag.Meals)
            {
                var foodMeal = item.Meals.FirstOrDefault(a => a.Meal == meal.Id);

                if (meal.Id == 0)
                {
                    <td class="text-center">
                        @if (foodMeal != null)
                        {

                            <div class="switch">
                                <label>
                                    <input type="checkbox" @(-1 == foodMeal.Food ? "" : "checked") onchange="changeFood(this.checked === true ? 0 : -1, @foodMeal.Id)">
                                    <span class="lever"></span>
                                </label>
                            </div>
                        }
                    </td>
                }

                else
                {



                    <td>
                        @if (foodMeal != null)
                        {
                            if (foodMeal.Serving == true)
                            {
                                <span>@foodMeal.Programs.First(a => a.Id == foodMeal.Food).Title <i class="fas fa-utensils float-left text-success mt-2" data-toggle="popover" data-placement="top" data-content="حضور شخص ثبت شده است"></i> </span>
                            }
                            else
                            {

                                <select class="custom-select custom-select-sm no-border my-0 py-0 farsi " onchange="changeFood(this.value, @foodMeal.Id)">
                                    @foreach (var f in foodMeal.Programs)
                                    {
                                        <option value="@f.Id" @(f.Id == foodMeal.Food ? "selected" : "")> @f.Title</option>
                                    }
                                    <option value="-1" style="color: red" @(-1 == foodMeal.Food ? "selected" : "")>عدم رزرو این وعده</option>
                                </select>
                            }
                        }
                    </td>

                }
            }

        </tr>
        }

    </tbody>
</table>
@if (ViewBag.Type == 3 && Model.Any(a => a.Person == -2))
{

    <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
        <button class="btn btn-link cta  mr-auto font-size-0-50" type="button" id="save" onclick="editSave()">
            <i class="fas fa-save fa-lg"></i>
            <span>ثبت درخواست</span>
        </button>
    </div>
}