﻿@using MD.PersianDateTime
@using Omidiyeh_Oil_Company___0147.Models
@model Omidiyeh_Oil_Company___0147.Models.TblFoodReservationGroup

@{
    ViewBag.Title = "ویرایش درخواست غذا";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_FoodReservation")
    <!--Header-->
    <div class="card-body">
        <form id="edit" class="needs-validation" novalidate="novalidate">
            <div class="alert alert-info blue-text my-3">
                <span class="ml-1  text-black-50">شماره درخواست:</span><span class="text-bold red-text ml-5">@ViewBag.Id</span>
                <input type="hidden" name="id" id="id" value="@Model.Id" />


                <span class="ml-1  text-black-50">حساب:</span>
                <span class="text-bold  ml-5">@Model.TblOfficeDepartmentAccountNumber.AccountNumber</span>

                <span class="ml-1  text-black-50">اداره:</span><span class="text-bold  ml-5">@Model.TblOfficeDepartmentAccountNumber.TblOfficeDepartment.TblOffice.Title</span>

                <span class="ml-1  text-black-50">واحد:</span><span class="text-bold  ml-5">@Model.TblOfficeDepartmentAccountNumber.TblOfficeDepartment.Title</span>

                <span class="ml-1  text-black-50">رستوران:</span><span class="text-bold  ml-5">@Model.TblFoodReservations.First().TblRestaurant.Title</span>


            </div>
            @if (Model.Letter.HasValue)
            {
                <div class="alert alert-secondary blue-text my-3">
                    <span class="ml-1  text-black-50">موضوع نامه:</span><span class="text-bold  ml-5">@Model.TblFoodReservationLetter.Subject</span>

                    <span class="ml-1  text-black-50">شماره نامه:</span><span class="text-bold  ml-5">@Model.TblFoodReservationLetter.Number</span>

                    <span class="ml-1  text-black-50">تاریخ نامه:</span><span class="text-bold  ml-5">@(new PersianDateTime(Model.TblFoodReservationLetter.Date).ToString("yyyy/MM/dd"))</span>

                    <span class="ml-1  text-black-50">تعداد نفر:</span><span class="text-bold  ml-5">@Model.TblFoodReservationLetter.Count</span>
                    <br /><br />
                    <span class="ml-1  text-black-50">مدیریت معرف:</span><span class="text-bold  ml-5">@Model.TblFoodReservationLetter.TblOffice.TblManagement.Title</span>
                    <span class="ml-1  text-black-50"> اداره معرف:</span><span class="text-bold  ml-5">@Model.TblFoodReservationLetter.TblOffice.Title</span>
                    @if (Model.TblFoodReservationLetter.OfficeFor != 0)
                    {
                        <span class="ml-1  text-black-50">برای:</span>
                        <span class="text-bold  ml-5">@Model.TblFoodReservationLetter.TblSubsidiary.Title</span>
                    }
                </div>
            }
          
            <div id="upd"></div>

        </form>
    </div>
</div>



@section Scripts{
    <script>

        $('[data-toggle="popover"]').popover({
            trigger: 'hover',
            container: 'body',
        });


        var c = 0;
        var per = [];

        function EditTable() {
            $.ajax({
                url: "/Welfare/FoodReservation/EditListPersonal/@ViewBag.Id",
                type: 'GET',
                success: function (data) {
                    $("#upd").html(data.PartialView);
                    $('#TempDataTable').DataTable({
                        "pageLength": data.countPerson,
                        "dom": 'rt<"row"<"col-6"i><"col-6"p>>',
                        "language": {
                            "url": "/Content/js/addons/datatables.persian.json"
                        }
                    });
                },
                error: function (data) {
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function() {

            });
        }

        function changeFood(food, id) {
            $.ajax({
                url: "/Reservation/Food/SaveOneFoodFromTempList/",
                data: {reservationId : id,food : food},
                type: 'POST',
                success: function (data) {
                    if (data === false)
                        toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است');
                    else if (data === 'True') {
                        toastr['success']('تغییرات ذخیره شد.');
                    }
                    else {
                        toastr['warning'](data);

                    }
                },
                error: function(data) {
                    toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است (2)');
                }
            });
        }
       

        $(document).ready(function () {

            $('#Tab-Edit').addClass('active show');
            EditTable();

        });


    </script>
}