﻿@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblFoodReservation>

@{
    ViewBag.Title = "مدیریت درخواست های شخصی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_FoodReservationPersonal")
    <!--Header-->
    <div class="card-body">

        <!--Accordion wrapper-->
        <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                       aria-controls="collapseOne1">
                        <h5 class="">
                            <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="advancedSearch" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                    <div class="card-body pt-0">
                        <div class="row">



                            <div class="col-lg-3 col-xl-2">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center advancedSearch" aria-label="sDate" aria-describedby="sDate"
                                           data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                                    <label for="StartDateFa">تاریخ شروع</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="StartDate" class="advancedSearch" id="StartDate" />
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center advancedSearch" aria-label="eDate" aria-describedby="eDate"
                                           data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                                    <label for="EndDateFa">تاریخ پایان</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="EndDate" class="advancedSearch" id="EndDate" />
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Meal" id="Meal" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all" data-stop-refresh="true" multiple></select>
                                    <label for="Meal" class="m-active">وعده</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Food" id="Food" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all" data-stop-refresh="true" multiple></select>
                                    <label for="Food" class="m-active">غذا</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Restaurant" id="Restaurant" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all" data-stop-refresh="true" multiple></select>
                                    <label for="Restaurant" class="m-active">رستوران</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2  ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Group" name="Group">
                                    <label for="Group" class="active">شماره درخواست</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- Accordion card -->


        </div>
        <!-- Accordion wrapper -->
        <table id="DataList" class="table py-0 table-hover font-size-0-75 text-bold table-bordered lh1" style="width: 100%;">
            <thead>
                <tr>
                <tr class="black-text cloudy-knoxville-gradient no-border">
                    <th class=" no-border-x"></th>
                    <th class=" no-border-x"></th>
                    <th class=" no-border-x">
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th class=" no-border-x">
                        روز
                    </th>
                    <th class=" no-border-x">
                        @Html.DisplayNameFor(model => model.Meal)
                    </th>
                    <th class=" no-border-x">
                        @Html.DisplayNameFor(model => model.Food)
                    </th>

                    <th class=" no-border-x">
                        @Html.DisplayNameFor(model => model.Restaurant)
                    </th>
                    <th class=" no-border-x"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="addPollModal" class="row"></div>

<!--Modal: modalConfirmDelete-->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-notify modal-success" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">ویرایش درخواست غذا</p>
            </div>

            <!--Body-->
            <div class="modal-body my-0 py-2">

                <div class="row rtl mt-3">
                    <div class="col-md-6 ">
                        <div>
                            <select name='Restaurant-edit' id="Restaurant-edit" class="mdb-select not-required md-form md-outline  mt-0 mb-0 Restaurant ajax-select" searchable="جستجو ..." data-stop-refresh="true"></select>
                            <label for="Restaurant-edit" class="m-active">رستوران</label>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div>
                            <select name='Food-edit' id="Food-edit" class="mdb-select not-required  md-form md-outline font-size-0-90 mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                            <label for="Food-edit" class="m-active">غذا</label>
                        </div>
                    </div>
                </div>
                <small id="modalDeleteTitle" class="rtl"></small>
            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <button type="button" class="btn  btn-outline-success" id="modalEditYes" data-id='0'>ویرایش درخواست</button>
                <button type="button" class="btn  btn-success waves-effect" data-dismiss="modal">خیر</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: modalConfirmDelete-->
@section Scripts{
    <script>
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            //disableBeforeToday: true,
            //fromDate: true,
            selectedDate: today,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            toDate: true,
            selectedDate: nextWeek,
            groupId: "Start-End-Date"
        });
        function showPoll(foodReservationId) {
            $.ajax({
                url: "/Welfare/Survey/Poll2",
                data: { foodReservationId: foodReservationId },
                type: 'GET',
                success: function(data) {
                    $('#addPollModal').html(data);
                    $('#modalPoll').modal('show');
                },
                error: function(data) {
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function() {});
        }

        function PollSave() {

            var myForm = document.getElementById("addPoll");
                    var fd = new FormData(myForm);
                    $.ajax({
                        url: "/Welfare/Survey/PollSave2/",
                        data: fd,
                        cache: false,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        success: function (data) {
                            toastr[data.Type](data.Msg);
                            if (data.Result === true)
                                setTimeout(function () {
                                        window.location.href = "/Welfare/FoodReservation/Personal";
                                    },
                                    3000);
                        }
                    });

        }
        $(document).ready(function () {
            $('#Tab-Manage').addClass('active show');

            const p = new Promise(function (resolve, reject) {
                Meals('#Meal', true);
                Food('#Food');
                Restaurants('#Restaurant');
                FoodReservationStatus('#Status');

                resolve();
            });
            p.then(function () {

                var groupColumn = 0;
                var t = $('#DataList').DataTable({
                    //stateSave": true,
                    //"processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "/Welfare/FoodReservation/List",
                        "type": "POST",
                        "dataType": "json",
                        "data": function (d) {
                            d['TblPerson.NationalCode'] = '@ViewBag.NationalCode';
                            d['TblFoodReservationGroup.TblOfficeDepartmentAccountNumber.TblOfficeDepartment.TblOffice.TblManagement.TblSubsidiary.Company'] ='';
                            d['TblFoodReservationGroup.TblOfficeDepartmentAccountNumber.TblOfficeDepartment.TblOffice.TblManagement.Subsidiary'] = '';
                            d['TblFoodReservationGroup.TblOfficeDepartmentAccountNumber.TblOfficeDepartment.TblOffice.Management'] ='';
                            d['TblFoodReservationGroup.TblOfficeDepartmentAccountNumber.TblOfficeDepartment.Office'] = ' ';
                            d['OfficeDepartment'] = ' ';
                            d.StartDate = $('#StartDate').val();
                            d.EndDate = $('#EndDate').val();
                            d.AccountNumber = $('#AccountNumber').val();
                            d.Restaurant = $('#Restaurant').val();
                            d.Group = $('#Group').val();
                            d.Food = $('#Food').val();
                            d.Meal = $('#Meal').val();
                        }
                    },
                    "dom": 'rt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
                    "searching": false,
                    "columns": [
                        { "data": "Group", "name": "Group" },
                        { "data": "id", "name": "id" },
                        { "data": "Date", "name": "Date", "class": "fit pl-5" },
                        { "data": "Day", "name": "Day", "class": "fit pl-5" },
                        { "data": "Meal", "name": "Meal", "class": "fit pl-5" },
                        { "data": "Food", "name": "Food", "class": "fit pl-5" },
                        { "data": "Restaurant", "name": "Restaurant", "class": "fit pl-5"  },
                        {
                            "data": "edit",
                            "name": "edit",
                            "class": "text-left",
                            "orderable": false,
                            "render": function (data, type, row, meta) {
                                return (row.Survey === false) ? `<a href='#'  onclick='showPoll(${row.DT_RowId})' class='purple-text ' data-toggle="popover" data-placement="right" data-content="نظرسنجی" ><i class="fas fa-poll fa-lg"></i></a></a>`
                                    : ``;

                            }
                        },
                        { "data": "DateReg", "name": "DateReg" },
                        { "data": "TimeReg", "name": "TimeReg" },
                        { "data": "User", "name": "User" },
                        { "data": "AccountNumber", "name": "AccountNumber" },
                    ],
                    "order": [[2, "desc"], [0, "desc"], [4, "asc"]],
                    "language": {
                        "url": "/Content/js/addons/datatables.persian.json"
                    },
                    "columnDefs": [
                        { "visible": false, "targets":  [groupColumn, 8, 9, 10, 11]},
                        {
                            "orderable": false,

                            "width": "50px",
                            "targets": 1
                        },
                        {
                            "orderable": false,
                            "width": "125px",
                            "targets": 8
                        }
                    ],
                    "displayLength": 25,
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({ page: 'current' }).nodes();
                        var last = null;
                        var klass = "myEven";
                        api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {
                            
                            //if (last !== group) {
                            //    klass === "myOdd" ? klass = "myEven" : klass = "myOdd";
                            //}
                            $(rows).eq(i).removeClass("odd even");

                            if (last !== group) {
                                $(rows).eq(i).before(
                                    `<tr class="group  pt-5 myEven blue-text">
                                        <td class="no-border-x"></td>
                                        <td class="no-border-x" colspan='3' >
                                        <span class="ml-1  text-black-50">شماره درخواست:</span><span class="text-bold red-text ml-5">${group}</span>
    </td><td class="no-border-x text-left" colspan='3'> <span class="ml-1  text-black-50">تاریخ درخواست:</span><span class="text-bold ml-5">
    ${api.column(8, { page: 'current' }).data()[i]} ${api.column(9, { page: 'current' })
                                    .data()[i]}
    </span>
        
        <a href="/Welfare/FoodReservation/EditPersonal/${group}" class="green-text"><i class="fas fa-edit green-text fa-lg"></i></a>
                                            </td>
                                        </tr>`
                                );
                                last = group;
                            }
                        });
                    }
                }).on('processing.dt', function (e, settings, processing) {
                    $('#processingIndicator').css('display', 'none');
                    if (processing) {
                        $("#loading").removeClass('hide');
                    } else {
                        $("#loading").addClass('hide');
                    }
                });

                //ایجاد لینک ویرایش در جدول
                t.on('click',
                    'a.editFoodReservation',
                    function (e) {
                        //console.log(e.currentTarget.attributes['data-id'].value);
                        Restaurants('#Restaurant-edit');
                        $("#Restaurant-edit").change(function () {
                            //Restaurant,Meal,Date,SelectInput
                            listFood(this.value, e.currentTarget.attributes['data-meal'].value, e.currentTarget.attributes['data-date'].value, '#Food-edit');
                        });
                        $("#modalEditYes").attr("data-id", e.currentTarget.attributes['data-id'].value);
                        $("#modalDeleteTitle").html(e.currentTarget.attributes['data-title'].value);
                        $("#modalEditYes").on('click',
                            function (b) {
                                $.post("/Welfare/FoodReservation/EditJava/",
                                    {
                                        id: e.currentTarget.attributes['data-id'].value,
                                        restaurant: $('#Restaurant-edit').val(),
                                        food: $('#Food-edit').val(),
                                    },
                                    function (data, status, xhr) {
                                        toastr[data.Type](data.Msg);
                                        t.draw();
                                        $('#modalEdit').modal('hide');
                                    }).fail(function (data) {
                                    console.log(data);
                                    console.log(data.status);
                                    console.log("error");
                                });
                                //console.log(b.currentTarget.attributes['data-id'].value);
                            });

                    });
                //ایجاد لینک حذف در جدول
                t.on('click',
                    'a.deleteFoodReservation',
                    function (e) {
                        //console.log(e.currentTarget.attributes['data-id'].value);
                        $("#modalDeleteYes").attr("data-id", e.currentTarget.attributes['data-id'].value);
                        $("#modalDeleteTitle").html(e.currentTarget.attributes['data-title'].value);
                        $("#modalDeleteYes").on('click',
                            function (b) {
                                $.post("/Welfare/FoodReservation/DeleteJava/",
                                    { id: e.currentTarget.attributes['data-id'].value },
                                    function (data, status, xhr) {
                                        toastr[data.Type](data.Msg);
                                        t.draw();
                                        $('#modalConfirmDelete').modal('hide');
                                    }).fail(function (data) {
                                    console.log(data.status);
                                    console.log("error");
                                });
                                //console.log(b.currentTarget.attributes['data-id'].value);
                            });

                    });

                //ایجاد لینک حذف در جدول
                t.on('click',
                    'a.deleteFoodReservationGroup',
                    function (e) {
                        //console.log(e.currentTarget.attributes['data-id'].value);
                        $("#modalDeleteYes").attr("data-id", e.currentTarget.attributes['data-group'].value);
                        //   $("#modalDeleteTitle").html(e.currentTarget.attributes['data-title'].value);
                        $("#modalDeleteYes").on('click',
                            function (b) {
                                $.post("/Welfare/FoodReservation/DeleteJavaGroup/",
                                    { id: e.currentTarget.attributes['data-group'].value },
                                    function (data, status, xhr) {
                                        toastr[data.Type](data.Msg);
                                        t.draw();
                                        $('#modalConfirmDelete').modal('hide');
                                    }).fail(function (data) {
                                    console.log(data.status);
                                    console.log("error");
                                });
                                //console.log(b.currentTarget.attributes['data-id'].value);
                            });

                    });
                // Add event listener for opening and closing details
                $('#DataList tbody').on('click',
                    'td.details-control',
                    function () {
                        var tr = $(this).closest('tr');
                        var row = t.row(tr);

                        if (row.child.isShown()) {
                            // This row is already open - close it
                            row.child.hide();
                            tr.removeClass('shown');
                        } else {
                            // Open this row
                            row.child(childRowsT(row.data()), 'm-0 p-0').show();
                            tr.addClass('shown');
                        }
                    });

                function childRowsT(d) {
                    //console.log(d);
                    // `d` is the original data object for the row
                    return `<table class="no-border  table-sm w-100 font-size-0-75 yellow lighten-5">
                                                        <tr>
                                                        <th></th><th></th>



                                                        </tr>
                                                        </table>`;
                }
                //#region Advanced Search


                $('.advancedSearch').on('keypress',
                    function (e) {
                        /* ENTER Tab Space PRESSED*/
                        if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                            t.draw();
                        }
                    });
                $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                    function (e) {

                        t.draw();
                    });

                //#endregion


            });





        });
    </script>
}