﻿@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblFoodReservation>

@{
    ViewBag.Title = "مدیریت درخواست های رستوران";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_FoodReservation")
    <!--Header-->
    <div class="card-body">

        <!--Accordion wrapper-->
        <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card" style="border-bottom:none">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                       aria-controls="collapseOne1">
                        <h5 class="">
                            <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center advancedSearch" aria-label="sDate" aria-describedby="sDate"
                                           data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                                    <label for="StartDateFa">تاریخ شروع</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="StartDate" class="advancedSearch" id="StartDate" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center advancedSearch" aria-label="eDate" aria-describedby="eDate"
                                           data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                                    <label for="EndDateFa">تاریخ پایان</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="EndDate" class="advancedSearch" id="EndDate" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Group" name="Group">
                                    <label for="Group" class="active">شماره درخواست</label>
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Des" name="Des">
                                    <label for="Des" class="active">توضیحات</label>
                                </div>

                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-3 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Meal" id="Meal" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all" data-stop-refresh="true" multiple></select>
                                    <label for="Meal" class="m-active">وعده</label>
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Food" id="Food" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all" data-stop-refresh="true" multiple></select>
                                    <label for="Food" class="m-active">غذا</label>
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Restaurant" id="Restaurant" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all" data-stop-refresh="true" multiple></select>
                                    <label for="Restaurant" class="m-active">رستوران</label>
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="Serving" id="Serving" class="mdb-select required md-form md-outline mt-0 mb-0 text-right advancedSearch disable-toggle-all">
                                        <option value="" selected="">انتخاب نمایید</option>
                                        <option value="true">حضور شخص</option>
                                        <option value="false">عدم حضور شخص</option>
                                    </select>
                                    <label for="Serving" class="m-active">وضعیت حضور</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Name" name="Name">
                                    <label for="Name" class="active">نام</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Family" name="Family">
                                    <label for="Family" class="active">نام خانوادگی</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="NationalCode" name="NationalCode">
                                    <label for="NationalCode" class="active">کدملی</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="PersonnelCode" name="PersonnelCode">
                                    <label for="PersonnelCode" class="active">شماره پرسنلی</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="md-form md-outline form-sm my-1">
                                    <select name="AccountNumber" id="AccountNumber" class="mdb-select required md-form md-outline mt-0 mb-0 text-right readonly disable-toggle-all" searchable="جستجو ..." data-stop-refresh="true" multiple></select>
                                    <label for="AccountNumber" class="m-active">شماره حساب</label>
                                </div>
                            </div>
                       
                        <div class="col-sm-3">
                            <div class="md-form md-outline form-sm my-1">
                                <input type="text" class="form-control text-center advancedSearch" id="UserName" name="UserName">
                                <label for="UserName" class="active">کاربر ثبت کننده</label>
                            </div>

                        </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Accordion card -->


        </div>
        <!-- Accordion wrapper -->
       
        <div class="alert alert-warning" role="alert">
            <h6 class="alert-heading purple-text"><i class="fas fa-bars ml-2"></i>آمار خلاصه</h6>
            <dl class="row" id="summaryInfo">



            </dl>
        </div>
        <table id="DataList" class="table py-0 table-hover font-size-0-75 text-bold table-bordered lh1" style="width: 100%;">
            <thead>
            <tr class="black-text cloudy-knoxville-gradient no-border">
                <th class=" no-border-x"></th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Meal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Food)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person)
                </th>
                <th></th>
            </tr>
            </thead>
        </table>
        
       
    </div>
</div>
<div id="ReceptionBed" class="row"></div>
@section Scripts{
    <script>
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            //disableBeforeToday: true,
            //fromDate: true,
            selectedDate: today,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            toDate: true,
            selectedDate: today,
            groupId: "Start-End-Date"
        });
        var t;

        function addServing(item, bed) {
            //alert(bed);
            if (bed === true) {
                $.ajax({
                    url: "/Welfare/Bed/ReceptionBed",
                    data: { id: item },
                    type: 'GET',
                    success: function(data) {
                        $('#ReceptionBed').html(data);
                        $('#modalReceptionBed').modal('show');
                    },
                    error: function(data) {

                        toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                    }
                }).then(function() {

                });

            } else {
                //console.log('addServing');
                $.ajax({
                    url: "/Welfare/FoodReservation/Serving/",
                    data: { id: item },
                    cache: false,
                    type: 'POST',
                    success: function(data) {
                        toastr[data.Type](data.Msg);
                        // t.draw();
                        // $('.group' + group).removeClass('d-none');
                        if (data.Result === true) {
                            $("#addServing" + item).addClass("d-none");
                            $("#removeServing" + item).removeClass("d-none");
                        };
                    }
                });
            }
        }

        function addBedToReservation(group, person) {

            $.ajax({
                url: "/Welfare/FoodReservation/AddBed/",
                data: {
                    group: group, person: person,
                    bed: $('select#Bed').val(),
                    des: $('#modalReceptionBed #Des').val(),
                    roomNumber: $('select#Room option:selected').text(),
                    bedNumber: $('select#Bed option:selected').text(),
                    name: $('#modalReceptionBed #Person').val()
                },
                cache: false,
                type: 'POST',
                success: function(data) {
                    toastr[data.Type](data.Msg);
                    //t.draw().then(console.log(222));
                    if (data.Result === true) {
                        $('#modalReceptionBed').modal('hide');
                        $(".addReception" + group + person).addClass("d-none");
                        $(".removeReception" + group + person).removeClass("d-none");
                    };
                }
            });
        }
        function addServingGroup(item, bed) {

            $.ajax({
                url: "/Welfare/FoodReservation/ServingGroup/",
                data: { id: item },
                cache: false,
                type: 'POST',
                success: function(data) {
                    toastr[data.Type](data.Msg);
                    //t.draw().then(console.log(222));
                    if (data.Result === true) {
                        $("#addServingGroup" + item).addClass("d-none");
                        $("#removeServingGroup" + item).removeClass("d-none");
                    };
                }
            });
        }


        function removeServing(item, group) {
            $.ajax({
                url: "/Welfare/FoodReservation/ServingRemove/",
                data: { id: item },
                cache: false,
                type: 'POST',
                success: function(data) {
                    toastr[data.Type](data.Msg);
                    //t.draw();
                    // $('.group' + group).removeClass('d-none');
                    if (data.Result === true) {
                        $("#addServing" + item).removeClass("d-none");
                        $("#removeServing" + item).addClass("d-none");
                    };
                }
            });
        }

        $(document).ready(function() {
            $('#Tab-Manage-Restaurant').addClass('active show');

            const p = new Promise(function(resolve, reject) {
                Meals('#Meal', true);
                Food('#Food');
                Restaurants('#Restaurant');
                AccountNumbers('AccountNumber');
                resolve();
            });
            p.then(function() {

                var groupColumn = 0;
                t = $('#DataList').DataTable({
                    // "stateSave": true,
                    //"processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "/Welfare/FoodReservation/ListRestaurant",
                        "type": "POST",
                        "dataType": "json",
                        "data": function(d) {
                            d['TblPerson.Name'] = $('#Name').val();
                            d['TblPerson.Family'] = $('#Family').val();
                            d['TblPerson.NationalCode'] = $('#NationalCode').val();
                            d['TblPerson.PersonnelCode'] = $('#PersonnelCode').val();
                            d.Group = $('#Group').val();
                            d.StartDate = $('#StartDate').val();
                            d.EndDate = $('#EndDate').val();
                            d.Restaurant = $('#Restaurant').val();
                            d.Food = $('#Food').val();
                            d.Meal = $('#Meal').val();
                            d.Serving = $('#Serving').val();
                            d.AccountNumber = $('#AccountNumber').val();
                            d.Des = $('#Des').val();
                            d.UserName = $('#UserName').val();
                        },
                        dataSrc: function(json) {
                            $("#summaryInfo").html('');
                            json.summaryInfo.forEach(function(item) {
                                // console.log(item);
                                $("#summaryInfo").append(
                                    ` <dt class="col-sm-3 text-left">${item.Title}</dt>
                                         <dd class="col-sm-3 alert-link">${item.Count}</dd>`
                                );
                            });
                            //console.log(json.summaryInfo);
                            return json.data;
                        }
                    },
                    "dom": 'rt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
                    "searching": false,
                    "columns": [
                        { "data": "Group", "name": "Group" }, //0
                        { "data": "Date", "name": "Date", "class": "fit pl-5" }, //1
                        { "data": "Meal", "name": "Meal", "class": "fit pl-5" }, //2
                        { "data": "Food", "name": "Food", "class": "fit pl-5" }, //3
                        { "data": "Person", "name": "Person", "class": "fit pl-5" }, //4
                        {
                            "data": "edit",
                            "name": "edit",
                            "class": "font-size-0-75 fit text-left",
                            "render": function(data, type, row, meta) {
                                if (row.FoodId === 0) {

                                    return `
                                                <span class='green-text cursor-pointer ${row.Bed === null ? "" : "d-none"} addReception${row.Group}${row.PersonId}' id="addReception${row.DT_RowId}" onclick="addServing(${row.DT_RowId},true)">
                                                <i class='fas fa-bed fa-lg ml-2'></i><span class="">ثبت حضور شخص</span></span>

                                                <span class='red-text cursor-pointer ${row.Bed !== null ? "" : "d-none"} removeReception${row.Group}${row.PersonId}' id="removeReception${row.DT_RowId}" >
                                                <i class='fas fa-bed fa-lg ml-2'></i><span class="">پذیرش شده است</span></span>
                                        `;

                                } else
                                    return `<span class='blue-text cursor-pointer  ${row.Serving === false
                                        ? ""
                                        : "d-none"
                                        }' id="addServing${row.DT_RowId
                                        }" onclick="addServing(${row.DT_RowId})">
                                <i class='fas fa-clipboard-check fa-lg ml-2'></i><span class="">ثبت حضور شخص</span></span>
                                        <span class='red-text cursor-pointer ${row.Serving === true ? "" : "d-none"
                                        }' id="removeServing${row.DT_RowId
                                        }" onclick="removeServing(${row.DT_RowId})">
                                <i class='fas fa-times fa-lg ml-2'></i><span class="">ثبت عدم حضور شخص</span></span>`;
                            }

                        }, //5
                        { "data": "Office", "name": "Office" }, //6
                        { "data": "OfficeDepartment", "name": "OfficeDepartment" }, //7
                        { "data": "Restaurant", "name": "Restaurant" }, //8
                        { "data": "Serving", "name": "Serving" }, //9
                        { "data": "CountFood", "name": "CountFood" }, //10
                        { "data": "AccountNumber", "name": "AccountNumber" }, //11
                        { "data": "CountMeal", "name": "CountMeal" }, //12
                        { "data": "Count", "name": "Count" }, //13
                        { "data": "Des", "name": "Des" }, //14
                    ],
                    "order": [[0, "desc"] /*, [0, "desc"], [5, "asc"]*/],
                    "language": {
                        "url": "/Content/js/addons/datatables.persian.json"
                    },
                    "columnDefs": [
                        { "visible": false, "targets": [groupColumn, 6, 7, 8, 9, 10, 11, 12, 13, 14] },
                        {
                            "orderable": false,
                            "width": "155px",
                            "targets": 5
                        }
                    ],
                    "displayLength": 10000,
                    "lengthMenu": [1000, 5000, 10000, 20000],
                    orderFixed: [0, 'desc'],
                    rowGroup: {
                        startRender: function (rows, group) {
                           
                            return `<div class="row py-2 pr-0 m-0 group blue-text
                                     ${rows.data()[0]['Type'] === 4 ? 'yellow lighten-4' : ''
                                }" ><div class="col-auto ml-auto">
                                            <i class="fas fa-plus-square cu ml-2 cursor-pointer"  data-group="${group
                                }"></i><span class="ml-1  text-black-50">شماره درخواست:</span><span class="text-bold red-text ml-5">${
                                group}</span>
                                            <span class="ml-1  text-black-50">حساب:</span><span class="text-bold ml-4">${
                                rows.data()[0]['AccountNumber']}</span>
                                            <span class="ml-1 text-black-50">اداره:</span><span class="text-bold ml-2">${
                                rows.data()[0]['Office']}</span>
                                            <span class="ml-1 text-black-50">واحد:</span><span class="text-bold ml-4">${
                                rows.data()[0]['OfficeDepartment']}</span>
                                            <span class="ml-1  text-black-50">رستوارن:</span><span class="text-bold ml-5">${
                                rows.data()[0]['Restaurant']}</span>
                                        </div><div class="col-auto">
                                            </div></div>`;
                        },
                        endRender: function(rows, group) {
                            return `<div class="row py-2 pr-3 m-0  group  blue-text white">
                                    <div class="col-auto ml-auto" data-group="${group}">
                                    <span class="ml-1  text-black-50">تاریخ درخواست:</span><span class="text-bold ml-5">
                                    ${rows.data()[0]['DateReg']} ${rows.data()[0]['TimeReg']}</span>
                                    </div><div class="col-auto"><span class="ml-1  text-black-50">کاربر:</span><span class="text-bold ml-2">
                                    ${rows.data()[0]['User']}</span></div>
                                    <div class="col-12 m-0">
                                    <br /> <br /><span class="ml-1  text-dark text-bold">تعداد هر وعده:</span><span class="text-bold ml-5">${
                                rows.data()[0]['CountMeal']}</span>
                                    <br /><br /><span class="ml-1  text-dark text-bold">تعداد هر غذا:</span><span class="text-bold ml-5">${
                                rows.data()[0]['CountFood']}</span>
                                    <br /><br /><span class="ml-1 text-dark text-bold">تعدادکل:</span><span class="text-bold">${
                                rows.data()[0]['Count']}</span>
                                   ${rows.data()[0]['Des'] === null ? '' : `<br/><br /><br /><span class="ml-1 text-dark text-bold">پیام:</span><span class="text-bold">${rows.data()[0]["Des"]}</span>`}

                                    </div><div >
                                    <div class="row py-2 m-0 white"><div class="col"></div></div>`;
                        },

                        dataSrc: 'Group'
                    },
                    "createdRow": function(row, data, index) {

                        $(row).addClass('group' + data.Group + ' d-none');
                    }
                }).on('processing.dt',
                    function(e, settings, processing) {
                        $('#processingIndicator').css('display', 'none');

                    });

                //<span class='green-text cursor-pointer' id="addServingGroup${group}" onclick="addServingGroup(${group})"><i class='fas fa-clipboard-check fa-lg ml-2'></i><span class="">ثبت حضور گروه</span></span>
                //<span class='red-text cursor-pointer d-none' id="removeServingGroup${group}" onclick="removeServingGroup(${group})"><i class='fas fa-times fa-lg ml-2'></i><span class="">ثبت عدم حضور گروه</span></span>

                $('#DataList tbody').on('click',
                    '.dtrg-start .group i.fa-plus-square',
                    function() {
                        //console.log(1);
                        const g = this.attributes['data-group'].value;
                        if ($('.group' + g).hasClass('d-none')) {
                            $('.group' + g).removeClass('d-none');

                        } else {
                            $('.group' + g).addClass('d-none');
                        }
                    });
                //#region Advanced Search


                $('.advancedSearch').on('keypress',
                    function(e) {
                        /* ENTER Tab Space PRESSED*/
                        if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                            t.draw();
                        }
                    });
                $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                    function(e) {
                        t.draw();
                    });

                //#endregion


            });


        });
    </script>
}