﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblFoodReservation>

@{
    ViewBag.Title = "مدیریت درخواست نوبتکار";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs_FoodReservation_Shift")
    <!--Header-->
    <div class="card-body">

        <!--Accordion wrapper-->
        <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#advancedSearch" aria-expanded="true"
                       aria-controls="advancedSearch">
                        <h5 class="">
                            <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">

                    <div class="card-body pt-0">

                        <div class="row">

                            <div class="col-lg-3 col-xl-2  ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="Group" name="Group">
                                    <label for="Group" class="active">شماره درخواست</label>
                                </div>
                            </div>

                            <div class="col-lg-3 col-xl-2">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center advancedSearch" aria-label="sDate" aria-describedby="sDate"
                                           data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                                    <label for="StartDateFa">تاریخ شروع</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="StartDate" class="advancedSearch" id="StartDate" />
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2">
                                <div class="md-form md-outline my-2 input-group">
                                    <input type="text" class="form-control text-center advancedSearch" aria-label="eDate" aria-describedby="eDate"
                                           data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                                    <label for="EndDateFa">تاریخ پایان</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="hidden" name="EndDate" class="advancedSearch" id="EndDate" />
                                </div>
                            </div>
                        
                         

                        </div>
                    </div>
                </div>

            </div>
            <!-- Accordion card -->


        </div>
        <!-- Accordion wrapper -->


        <table id="DataList" class="table py-0 table-hover font-size-0-75 text-bold table-bordered lh1" style="width: 100%;">
            <thead>
                <tr class="black-text cloudy-knoxville-gradient no-border">
                    <th class=" no-border-x"></th>
                    <th class=" no-border-x "></th>
                    <th class=" no-border-x ">
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th class=" no-border-x ">
                        روز
                    </th>
                    <th class=" no-border-x ">
                        @Html.DisplayNameFor(model => model.Person)
                    </th>
                    <th class=" no-border-x  ">
                        تعداد درخواست
                    </th>
                    <th class=" no-border-x  "></th>

                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        var rowNumber = 1;
        var userConfirm = '@ViewBag.UserConfirm';
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            //disableBeforeToday: true,
            //fromDate: true,
            selectedDate: yesterday,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            toDate: true,
            selectedDate: tomorrow,
            groupId: "Start-End-Date"
        });
        $(document).ready(function() {
            $('#Tab-Manage').addClass('active show');
            $('#searchBDate').MdPersianDateTimePicker({
                targetTextSelector: '#searchDateFa',
                targetDateSelector: '#searchDate',
                textFormat: 'yy/MM/dd',
                disableBeforeToday: false,
                rangeSelector: true
            });
            const p = new Promise(function(resolve, reject) {
                //$('#advancedSearch').block({ message: null });
               
                resolve();
            });
            p.then(function() {
                //$('#advancedSearch').unblock();

                var groupColumn = 0;
                var t = $('#DataList').DataTable({
                    //stateSave": true,
                    //"processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "/Welfare/FoodReservation/ListShift",
                        "type": "POST",
                        "dataType": "json",
                        "data": function(d) {
                           
                            d.StartDate = $('#StartDate').val();
                            d.EndDate = $('#EndDate').val();

                            d.Group = $('#Group').val();
                          
                        }
                    },

                    "dom": 'Brt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',

                    "searching": false,
                    buttons: [
                        //'excelHtml5'
                    ],
                    "columns": [
                        { "data": "Group", "name": "Group", "class": "fit" }, //0
                        {
                            "data": "id",
                            "class": "fit",
                            "render": function(data, type, row, meta) {
                                return ''; //`${rowNumber++}`;
                            }
                        }, //1
                        { "data": "Date", "name": "Date", "class": "fit" }, //2
                        { "data": "Day", "name": "Date", "class": "fit" }, //3
                        { "data": "Person", "name": "Person", "class": "fit text-nowrap" }, //4
                        { "data": "Meal", "name": "Meal" }, //5
                        {
                            "data": "Confirm", "name": "Confirm", "class": "fit", "order": false ,
                            "render": function (data, type, row, meta) {
                               // return `${data === false ? '<i class="fas fa-check-double fa-lg purple-text  cursor-pointer" data-toggle="popover" data-placement="top" data-content="تایید درخواست" onclick="" data-original-title="" title=""></i>' : ''}`;
                                //return `${data === false ? 'در انتظار تایید' : ''}`;
                                return '';
                            }
                        }, //6
                        { "data": "DateReg", "name": "DateReg" }, //7
                        { "data": "TimeReg", "name": "TimeReg" }, //8
                        { "data": "User", "name": "User" }, //9
                        { "data": "AccountNumber", "name": "AccountNumber" }, //10
                        { "data": "Office", "name": "Office" }, //11
                        { "data": "OfficeDepartment", "name": "OfficeDepartment" }, //12
                        { "data": "Restaurant", "name": "Restaurant" }, //13
                        { "data": "Count", "name": "Count" }, //14
                        { "data": "Type", "name": "Type" }, //15
                        { "data": "CountFood", "name": "CountFood" }, //16
                        { "data": "CountMeal", "name": "CountMeal" }, //17
                        { "data": "Des", "name": "Des" }, //18

                    ],
                    "order": [[0, "desc"] /*, [2, "desc"], [5, "asc"]*/],
                    "language": {
                        "url": "/Content/js/addons/datatables.persian.json"
                    },
                    "columnDefs": [
                        { "visible": false, "targets": [0,6, 7, 8, 9, 10, 11, 12, 13, 14,15,16,17,18] },
                        {
                            "orderable": false,
                            "targets": [1, 5]
                        }
                    ],
                    "displayLength": 10000,
                    "lengthMenu": [1000, 5000, 10000, 20000],
                    orderFixed: [0, 'desc'],
                    rowGroup: {
                        startRender: function (rows, group) {
                            var des = rows.data()[0]['Des'] + "-";
                            var ac = des.startsWith("AC") ? "-": rows.data()[0]['AccountNumber']

                            return `<div class="row py-2 pr-0 m-0 group blue-text
                                     ${rows.data()[0]['Type'] === 4 ? 'yellow lighten-4' : rows.data()[0]['Type'] === 3 ? 'red lighten-4' : rows.data()[0]['Type'] === 2 ? 'blue lighten-4' : rows.data()[0]['Type'] === 5 ? 'pink lighten-5' : ''  }" ><div class="col-auto ml-auto">
                                            <i class="fas fa-plus-square cu ml-2 cursor-pointer"  data-group="${group}"></i><span class="ml-1  text-black-50">شماره درخواست:</span><span class="text-bold red-text ml-5">${
                                group}</span>
                                            <span class="ml-1  text-black-50">حساب:</span><span class="text-bold ml-4">
    ${ac}</span>
                                            <span class="ml-1 text-black-50">اداره:</span><span class="text-bold ml-2">${
                                rows.data()[0]['Office']}</span>
                                            <span class="ml-1 text-black-50">واحد:</span><span class="text-bold ml-4">${
                                rows.data()[0]['OfficeDepartment']}</span>
                                            <span class="ml-1  text-black-50">رستوارن:</span><span class="text-bold ml-5">${
                                rows.data()[0]['Restaurant']}</span>
                                        </div><div class="col-auto">
     ${rows.data()[0]['Confirm'] === false ?
                                userConfirm === 'True' ? `<i class="fas fa-check-double fa-lg purple-text  cursor-pointer confirm confirm${group}" data-group="${group}" data-toggle="popover" data-placement="top" data-content="تایید درخواست" onclick="" data-original-title="" title=""></i>` :
                                    ' <a href="#">در انتظار تایید توسط خدمات رفاهی</a>': ' '}
        <a href="/Welfare/FoodReservation/EditShift/${group}"><i class="fas fa-edit green-text fa-lg"></i></a>
                                            </div></div>`;
                        },
                        endRender: function (rows, group) {
                            return `<div class="row py-2 pr-3 m-0  group  blue-text white">
                                    <div class="col-auto ml-auto" data-group="${group}">
                                    <span class="ml-1  text-black-50">تاریخ درخواست:</span><span class="text-bold ml-5">
                                    ${ rows.data()[0]['DateReg']} ${rows.data()[0]['TimeReg']}</span>
                                    </div><div class="col-auto"><span class="ml-1  text-black-50">کاربر:</span><span class="text-bold ml-2">
                                    ${rows.data()[0]['User']}</span> </div>
                                    <div class="col-12 m-0">
                                    <br /> <br /><span class="ml-1  text-dark text-bold ">تعداد هر وعده:</span><span class="text-bold ml-5">${rows.data()[0]['CountMeal']}</span>
                                    <br /><br /><span class="ml-1  text-dark text-bold">تعداد هر غذا:</span><span class="text-bold ml-5">${rows.data()[0]['CountFood']}</span>
                                    <br /><br /><span class="ml-1 text-dark text-bold">تعدادکل:</span><span class="text-bold">${rows.data()[0]['Count']}</span>
                                   ${rows.data()[0]['Des'] === null ? '' : `<br/><br /><br /><span class="ml-1 text-dark text-bold">پیام:</span><span class="text-bold">${rows.data()[0]["Des"]}</span>`}
                                    </div><div >
                                    <div class="row py-2 m-0 white"><div class="col"></div></div>`;
                        },

                        dataSrc: 'Group'
                    },
                    "createdRow": function(row, data, index) {
                        $(row).addClass('group' + data.Group +' d-none');
                    }
                }).on('processing.dt',
                    function(e, settings, processing) {
                        $('#processingIndicator').css('display', 'none');

                    });





                $('#DataList tbody').on('click',
                    '.confirm',
                    function () {
                      //  console.log(1);
                        const g = this.attributes['data-group'].value;
                        $.ajax({
                            url: "/Welfare/FoodReservation/Confirm",
                            data: { group: g },
                            type: 'GET',
                            success: function (data) {
                                if (data.Result === true)
                                    $(".confirm"+g).addClass("d-none");
                                toastr[data.Type](data.Msg);

                            },
                            error: function (data) {
                                toastr['error']('هنگام ذخیره تغییرات خطایی رخ داده است (23)');
                            }
                        });
                    });

                  $('#DataList tbody').on('click',
                    '.dtrg-start .group i.fa-plus-square',
                    function () {
                      //  console.log(1);
                        const g = this.attributes['data-group'].value;
                        if ($('.group' + g).hasClass('d-none')) {
                            $('.group' + g).removeClass('d-none');

                        } else {
                            $('.group' + g).addClass('d-none');
                        }
                    });


                //#region Advanced Search


                $('.advancedSearch').on('keypress',
                    function(e) {
                        /* ENTER Tab Space PRESSED*/
                        if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                            t.draw();
                        }
                    });
                $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                    function(e) {
                        t.draw();
                    });

                //#endregion


            });


        });
    </script>
}

