﻿<div class="classic-tabs rtl">
    <ul class="nav  tabs-blue" id="myTab" role="tablist">
        <li class="nav-item ">
            <a class="nav-link  waves-light pt-3 pb-1" id="Tab-AddMulti"  href="/Reservation/Food/AddMulti">
                <i class="fas fa-cookie-bite fa-2x pb-2" aria-hidden="true"></i><br>درخواست شخصی
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light pt-3 pb-1" id="Tab-Period"  href="/Reservation/Food/Period" >
                <i class="fas fa-clock fa-2x pb-2" aria-hidden="true"></i><br>درخواست مدت دار
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light pt-3 pb-1" id="Tab-Office" href="/Reservation/Food/Office">
                <i class="fas fa-building fa-2x pb-2" aria-hidden="true"></i><br>درخواست روزانه ادارات
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light pt-3 pb-1" id="Tab-Letter" href="/Reservation/Food/Letter">
                <i class="fas fa-envelope fa-2x pb-2" aria-hidden="true"></i><br>درخواست با نامه
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light pt-3 pb-1" id="Tab-Delayed" href="/Reservation/Food/Delayed">
                <i class="fas fa-calendar-times fa-2x pb-2" aria-hidden="true"></i><br>درخواست معوقه
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light pt-3 pb-1" id="Tab-Manage" href="/Welfare/FoodReservation">
                <i class="fas fa-cogs fa-2x pb-2" aria-hidden="true"></i><br>مدیریت درخواست ها
            </a>
        </li>
    </ul>
    </div>