﻿@using Omidiyeh_Oil_Company___0147.Models
@model Omidiyeh_Oil_Company___0147.Models.TblUser

@{
    ViewBag.Title = "ایجاد کاربر";
    Layout = "~/Views/Shared/_layout.cshtml";
    var person =(TblPerson) ViewBag.Person;
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("../Person/Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" name="Person" id="Person" value="@person.Id"  />
            <div class="row my-2 text-center">
                <div class="col">
                    <i class="fas fa-user fa-lg green-text"></i> <span class="text-bold mr-1">@person.Fullname()</span>
                    <i class="fas fa-id-card fa-lg green-text mr-3"></i> <span class=" mr-1">@person.NationalCode</span>
                    <i class="fas fa-id-card fa-lg green-text mr-3"></i> <span class=" mr-1">@person.PersonnelCode</span>
                    <i class="fas fa-city fa-lg green-text mr-5"></i> <span class=" mr-1">@person.TblOfficeDepartment.TblOffice.TblManagement.TblSubsidiary.TblCompany.Title</span>
                    <i class="fas fa-hotel fa-lg green-text mr-3"></i> <span class=" mr-1">@person.TblOfficeDepartment.TblOffice.TblManagement.TblSubsidiary.Title</span>
                    <i class="fas fa-school fa-lg green-text mr-3"></i> <span class=" mr-1">@person.TblOfficeDepartment.TblOffice.TblManagement.Title</span>
                    <i class="far fa-building fa-lg green-text mr-3"></i> <span class=" mr-1">@person.TblOfficeDepartment.TblOffice.Title</span>
                    <i class="fas fa-building fa-lg green-text mr-3"></i> <span class=" mr-1">@person.TblOfficeDepartment.Title</span>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control text-center", Value = person.PersonnelCode ?? person.NationalCode } })
                        @Html.LabelFor(model => model.UserName)
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control text-center" , Value = person.NationalCode})
                        @Html.LabelFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="select-outline my-3">
                        @Html.DropDownList("Group", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                        @Html.LabelFor(model => model.Group)
                        @Html.ValidationMessageFor(model => model.Group, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.DropDownList("AccessTo", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })

                        @Html.LabelFor(model => model.AccessTo)
                        @Html.ValidationMessageFor(model => model.AccessTo, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="select-outline my-2">
                        <select name="Restaurants" id="Restaurants" class="mdb-select md-form md-outline mt-0 mb-0  text-right " searchable="جستجو ..." data-label-select-all=""	 data-stop-refresh="true" multiple></select>
                        <label for="Restaurants" class="m-active">رستوران</label>
                    </div>
                </div>
            </div>
            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-blue  font-size-1" />
                </div>
            </div>
        </div>
    }

</div>
@section Scripts{
    <script>

        $(document).ready(function () {
            $('#Tab-User-Create').addClass('active show').removeClass('d-none');
            Restaurants('#Restaurants');
        });

    </script>
}
