﻿@model Omidiyeh_Oil_Company___0147.Models.TblUser

@{
    ViewBag.Title = "حذف کاربر";
    Layout = "~/Views/Shared/_layout.cshtml";
}


    <div class="card rtl text-right">
	<!--Header-->
    @Html.Partial("../Person/Tabs")
    <!--Header-->
	<p class="note note-danger mx-5 my-3"><strong>اخطار:</strong> آیا برای حذف این اطلاعات مطمئن هستید؟</p>
 <div class="card-body">
    <dl class="dl-horizontal  mx-5">
		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
		</div>

		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
		</div>

		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.PasswordSalt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordSalt)
        </dd>
		</div>

		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.ImportantMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImportantMessage)
        </dd>
		</div>

		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>
		</div>

		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.AccessTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessTo)
        </dd>
		</div>

		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TblPerson.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblPerson.Name)
        </dd>
		</div>

		<div class="row">
        <dt>
            @Html.DisplayNameFor(model => model.TblUserGroup.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblUserGroup.Title)
        </dd>
		</div>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="md-form text-left" >
            <div class="col-md-12">
                <input type="submit" value="حذف اطلاعات" class="btn btn-danger  font-size-1" />
            </div>
        </div>
    }
</div>
</div>
