﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblUser>

@{
    ViewBag.Title = "مدیریت کاربران";
    Layout = "~/Views/Shared/_layout.cshtml";
}

    <style>
        table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
            bottom: 0.5em !important;
        }
    </style>
<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("../Person/Tabs")
    <!--Header-->
    <div class="card-body">

        <!--Accordion wrapper-->
        <div class="accordion md-accordion " id="accordionEx" role="tablist" aria-multiselectable="true">
            <!-- Accordion card -->
            <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                       aria-controls="collapseOne1">
                        <h5 class="">
                            <i class="fas fa-search ml-4"></i>  جستجوی پیشرفته
                        </h5>
                    </a>
                </div>
                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-sm-3 col-md-2  ">
                                <div class="md-form md-outline form-sm my-1">
                                    <input type="text" class="form-control text-center advancedSearch" id="UserName" name="UserName">
                                    <label for="UserName" class="active">نام کاربری</label>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    @Html.DropDownList("Group", null, htmlAttributes: new { @class = "mdb-select not-required do-select md-form  md-outline  text-right my-0 advancedSearch", searchable = "جستجو ...", multiple = true, data_label_select_all = " " })
                                    <label for="Group" class="active">گروه</label>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 ">
                                <div class="md-form md-outline form-sm my-1">
                                    <select class="mdb-select not-required do-select md-form  md-outline  text-right my-0 advancedSearch" id="FoodReservationLock" name="FoodReservationLock" searchable="جستجو ...">
                                        <option value=""></option>
                                        <option value="true">بله</option>
                                        <option value="false">خیر</option>
                                    </select>
                                    <label for="FoodReservationLock" class="active">قفل دسترسی رزرو غذا</label>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
        </div>
        <!-- Accordion wrapper -->

        <table id="DataList" class="table table-striped table-hover table-sm" style="width: 100%; ">
            <thead>
                <tr>
                    <th></th>
                    @*<th></th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Person)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.ImportantMessage)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.FoodReservationLock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Creator)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AccessTo)
                    </th> 
                    <th>
                        اداره
                    </th>
                    <th>
                        واحد
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Group)
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Tab-User').addClass('active show');
           // $('#Tab-User-Create').removeClass('d-none');
            var t = $('#DataList').DataTable({
               "stateSave": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/User/List",
                    "type": "POST",
                    "dataType": "json",
                    "data": function (d) {
                        d.UserName = $('#UserName').val();
                        //d.Family = $('#Family').val();
                        //d.NationalCode = $('#NationalCode').val();
                        //d.PersonnelCode = $('#PersonnelCode').val();
                        //d.FamilyRelationship = $('#FamilyRelationship').val();
                        //d.BirthDate = $('#BirthDate').val();
                        //d.Office = $('#Office').val();
                        //d.OfficeDepartment = $('#OfficeDepartment').val();
                        //d.Management = $('#Management').val();
                        //d.Disable = $('#Disable').val();
                        //d.Tel = $('#Tel').val();
                        //d.Mobile = $('#Mobile').val();
                        //d.Address = $('#Address').val();
                        d.Group = $('#Group').val();
                        //d.Company = $('#Company').val();
                        //d.Subsidiary = $('#Subsidiary').val();
                        d.FoodReservationLock = $('#FoodReservationLock').val();

                    }
                },
                "dom": 'rt<"row"<"col-4"i><"col-4 text-center"l><"col-4"p>>',
                "columns": [
                    { "data": "id", "name": "id", "className": "fit", "orderable": false },
                    //{
                    //    "class": "details-control",
                    //    "data": null,
                    //    "defaultContent": ""
                    //},
                    { "data": "UserName", "name": "UserName" },
                    { "data": "Person", "name": "Person" },
                    //{ "data": "ImportantMessage", "name": "ImportantMessage" },
                    { "data": "FoodReservationLock", "name": "FoodReservationLock" },
                    { "data": "Creator", "name": "Creator" },
                    { "data": "AccessTo", "name": "AccessTo" },
                    { "data": "Office", "name": "TblPerson.TblOfficeDepartment.TblOffice.Title" },
                    { "data": "OfficeDepartment", "name": "TblPerson.TblOfficeDepartment.Title" },
                    { "data": "Group", "name": "Group" },
                    {
                        "data": "edit",
                        "name": "edit",
                        "render": function(data, type, row, meta) {
                            return row.DT_RowId === 0
                                ? ''
                                : `<a href='/User/Edit/${row.PersonId}' class='text-success ml-2' ><i class='fas fa-edit fa-lg'></i></a>
                                   <a href='/User/Delete/${row.DT_RowId}' class='text-danger' ><i class='fas fas fa-trash-alt fa-lg'></i></a> `;
                        },
                        "className": "fit", "orderable": false
                        
                    }
                ],
                "order": [[2, "asc"]],
               "displayLength": 50,
               "lengthMenu": [50, 100, 500, 1000, 2000],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                
            });
             //شماره گذاری سطر های جدول
            t.on('draw.dt', function () {
                var pageInfo = t.page.info();
                t.column(0, { page: 'current' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1 + pageInfo.start;
                });
            });

            // Add event listener for opening and closing details
            $('#DataList tbody').on('click',
                'td.details-control',
                function () {
                    var tr = $(this).closest('tr');
                    var row = t.row(tr);

                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                        // Open this row
                        row.child(childRowsTMission(row.data()), 'm-0 p-0').show();
                        tr.addClass('shown');
                    }
                });

            function childRowsTMission(d) {

                // `d` is the original data object for the row
                return `<table class="no-border  table-sm w-100 font-size-0-75 yellow lighten-5">
                            <tr>
                            <th></th><th></th>
                            
                            </tr>
                            </table>`;
            }

            //#region Advanced Search

               
            $('.advancedSearch').on('keypress',
                function (e) {
                    /* ENTER Tab Space PRESSED*/
                    if (e.keyCode === 13 || e.keyCode === 9 || e.keyCode === 32) {
                        t.draw();
                    }
                });
            $('select.advancedSearch, input[type=hidden].advancedSearch').on('change',
                function (e) {
                                
                    t.draw();
                });
        });
    </script>
}

