﻿

@using Stimulsoft.Report.Mvc
@using Stimulsoft.Report.Web

@Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions()
{
    Toolbar =
    {
        FontFamily = "B Nazanin",
        PrintDestination = StiPrintDestination.Direct,
        Zoom = StiZoomMode.PageWidth
        //ShowDesignButton = true
    },
    Theme = Stimulsoft.Report.Web.StiViewerTheme.Office2013LightGrayBlue,
    Localization = "~/Localization/fa.xml",
    Actions =
    {
        GetReport = "GetReport1",
        ViewerEvent = "ViewerEvent",
        DesignReport = "DesignReport"
    },
    Appearance =
    {
        RightToLeft = true
    }


})

<div class="modal fade" id="modalPrint" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header text-center py-3 grey lighten-5">
                <h6 class="modal-title w-100 font-weight-bold"></h6>
            </div>
            <div class="modal-body mx-3 ">

               

            </div>
            <div class="modal-footer d-flex justify-content-center grey lighten-5 py-1">

            </div>
        </div>
    </div>
</div>
