﻿@model Omidiyeh_Oil_Company___0147.Models.TblFlightDefaultTariff

@{
    ViewBag.Title = "ایجاد سفر";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

    <div class="card-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="my-2">
                    <select name="Route" id="Route" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                    <label for="Route" class="m-active">مسیر</label>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="my-2">
                    <select name="VehicleType" id="VehicleType" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                    <label for="VehicleType" class="m-active">نوع وسیله نقلیه</label>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 mt-0 ">
                <div class="md-form md-outline input-group">
                    <input type="text" class="form-control text-center" aria-label="sDate" aria-describedby="sDate"
                           data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                    <label for="StartDateFa">تاریخ شروع</label>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    <input type="hidden" name="StartDate" id="StartDate" />

                </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-0">
                <div class="md-form md-outline input-group">
                    <input type="text" class="form-control text-center" aria-label="eDate" aria-describedby="eDate"
                           data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                    <label for="EndDateFa">تاریخ پایان</label>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    <input type="hidden" name="EndDate" id="EndDate" />
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 ">
                <div class="md-form md-outline my-2 input-group">
                    <input type="text" name="Time" id="Time" class="form-control text-center timepicker" required data-val-required=" " value="07:00" />
                    <label for="Time" class="m-active">ساعت</label>
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-clock"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ">
                <div class="md-form md-outline my-2">
                    <input type="number" name="Capacity" id="Capacity" class="form-control text-center" value="0" required />
                    <label for="Capacity" class="m-active">ظرفیت کد 12</label>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-3 ">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input " name="Items" id="foodBreakfast" value="foodBreakfast">
                    <label class="custom-control-label text-nowrap" for="foodBreakfast">صبحانه</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input " name="Items" id="foodLunch" value="foodLunch">
                    <label class="custom-control-label text-nowrap" for="foodLunch">نهار</label>
                </div>

                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input " name="Items" id="foodDinner" value="foodDinner">
                    <label class="custom-control-label text-nowrap" for="foodDinner">شام</label>
                </div>
            </div>


        </div>

        <div class="row mt-5 d-none" id="Tariff">
            <div class="col">
                <div class="row mb-2">
                    <div class="col-12">
                        <h6 class="mb-3">تعرفه سفر هواپیما</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="md-form md-outline my-2">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control text-center" } })

                            <label for="Price" class="m-active">قیمت</label>
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "invalid-feedback mr-2" })
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="md-form md-outline my-2">
                            @Html.EditorFor(model => model.Under12, new { htmlAttributes = new { @class = "form-control text-center" } })
                            <label for="Under12" class="m-active">قیمت زیر 12 سال</label>
                            @Html.ValidationMessageFor(model => model.Under12, "", new { @class = "invalid-feedback mr-2" })
                        </div>
                    </div>


                    <div class="col-md-6 col-lg-3">
                        <div class="md-form md-outline my-2">
                            @Html.EditorFor(model => model.Under2, new { htmlAttributes = new { @class = "form-control text-center" } })
                            <label for="Under2" class="m-active">قیمت زیر 2 سال</label>
                            @Html.ValidationMessageFor(model => model.Under2, "", new { @class = "invalid-feedback mr-2" })
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6 col-lg-3">
                        <div class="md-form md-outline my-2">
                            @Html.EditorFor(model => model.CancellationFee3DaysAgo, new { htmlAttributes = new { @class = "form-control text-center" } })
                            <label for="CancellationFee3DaysAgo" class="m-active">درصد کسر هزینه 3 روز قبل</label>
                            @Html.ValidationMessageFor(model => model.CancellationFee3DaysAgo, "", new { @class = "invalid-feedback mr-2" })
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="md-form md-outline my-2">
                            @Html.EditorFor(model => model.CancellationFee24HoursAgo, new { htmlAttributes = new { @class = "form-control text-center" } })
                            <label for="CancellationFee24HoursAgo" class="m-active">درصد کسر هزینه 24 ساعت قبل</label>
                            @Html.ValidationMessageFor(model => model.CancellationFee24HoursAgo, "", new { @class = "invalid-feedback mr-2" })
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="md-form md-outline my-2">
                            @Html.EditorFor(model => model.CancellationFeeLessThan24HoursAgo, new { htmlAttributes = new { @class = "form-control text-center" } })
                            <label for="CancellationFeeLessThan24HoursAgo" class="m-active">درصد کسر هزینه کمتر 24 ساعت قبل</label>
                            @Html.ValidationMessageFor(model => model.CancellationFeeLessThan24HoursAgo, "", new { @class = "invalid-feedback mr-2" })
                        </div>
                    </div>

                </div>
            </div>
        </div>
            <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
                <button class="btn btn-link cta  mr-auto" type="submit" id="save">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ثبت اطلاعات</span>
                </button>
            </div>
        </div>
    }

</div>
@section Scripts{
    <script>
        $('#sDate').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFa',
            targetDateSelector: '#StartDate',
            textFormat: 'yyyy/MM/dd',
            disableBeforeToday: true,
            //fromDate: true,
            selectedDate: today,
            groupId: "Start-End-Date"
        });
        $('#eDate').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFa',
            targetDateSelector: '#EndDate',
            textFormat: 'yyyy/MM/dd',
            //disableBeforeToday: true,
            toDate: true,
            selectedDate: tomorrow,
            groupId: "Start-End-Date"
        });

        $(document).ready(function () {
            Routes("Route");
            VehicleTypes("VehicleType");
            $('#Tab-Trip-Create').addClass('active show').removeClass('d-none');
            $('#VehicleType').on('change',
                function (e) {
                    if ($("#VehicleType").children("option:selected").val() === '4') {
                     
                        $("#Tariff").removeClass('d-none');
                    }
                    else {
                        $("#Tariff").addClass('d-none');

                    }
                });
        });
    </script>
}