﻿@model Omidiyeh_Oil_Company___0147.Models.TblFlightDefaultTariff

@{
    ViewBag.Title = "تعرفه پیش فرض سفر هواپیما";
    Layout = "~/Views/Shared/_layout.cshtml";
}



<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

    <div class="card-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="Id" value="1" />
        <div class="row">
            <div class="col-sm-4">
                <div class="md-form md-outline my-2">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control text-center" } })

                    <label for="Price">قیمت</label>
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="md-form md-outline my-2">
                    @Html.EditorFor(model => model.Under12, new { htmlAttributes = new { @class = "form-control text-center" } })
                    <label for="Under12">قیمت زیر 12 سال</label>
                    @Html.ValidationMessageFor(model => model.Under12, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>


            <div class="col-sm-4">
                <div class="md-form md-outline my-2">
                    @Html.EditorFor(model => model.Under2, new { htmlAttributes = new { @class = "form-control text-center" } })
                    <label for="Under2">قیمت زیر 2 سال</label>
                    @Html.ValidationMessageFor(model => model.Under2, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-4">
                <div class="md-form md-outline my-2">
                    @Html.EditorFor(model => model.CancellationFee3DaysAgo, new { htmlAttributes = new { @class = "form-control text-center" } })
                    <label for="CancellationFee3DaysAgo">درصد کسر هزینه 3 روز قبل</label>
                    @Html.ValidationMessageFor(model => model.CancellationFee3DaysAgo, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="md-form md-outline my-2">
                    @Html.EditorFor(model => model.CancellationFee24HoursAgo, new { htmlAttributes = new { @class = "form-control text-center" } })
                    <label for="CancellationFee24HoursAgo">درصد کسر هزینه 24 ساعت قبل</label>
                    @Html.ValidationMessageFor(model => model.CancellationFee24HoursAgo, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="md-form md-outline my-2">
                    @Html.EditorFor(model => model.CancellationFeeLessThan24HoursAgo, new { htmlAttributes = new { @class = "form-control text-center" } })
                    <label for="CancellationFeeLessThan24HoursAgo">درصد کسر هزینه کمتر 24 ساعت قبل</label>
                    @Html.ValidationMessageFor(model => model.CancellationFeeLessThan24HoursAgo, "", new { @class = "invalid-feedback mr-2" })
                </div>
            </div>

        </div>

        <div class="d-flex flex-row justify-content-start align-items-start align-self-start mt-3  ">
            <button class="btn btn-link cta  mr-auto" type="submit" id="save">
                <i class="fas fa-save fa-lg"></i>
                <span>ثبت اطلاعات</span>
            </button>
        </div>
    </div>
    }

</div>
@section Scripts{
    <script>

       
        $(document).ready(function () {
            $('#Tab-DefaultFlightTariff').addClass('active show').removeClass('d-none');
           // UserAccess('Company', 0, 'Company');
           
        });
    </script>
}
