﻿@model Omidiyeh_Oil_Company___0147.Models.TblTrip

@{
    ViewBag.Title = "ایجاد سفر";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model=>model.Id)
            <div class="row">
                <div class="col-sm-6">
                    <div class="my-2">
                        <select name="Route" id="Route" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="Route" class="m-active">@Html.DisplayNameFor(model => model.Route)</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="my-2">
                        <select name="VehicleType" id="VehicleType" class="mdb-select required md-form md-outline mt-0 mb-0 " searchable="جستجو ..." data-stop-refresh="true"></select>
                        <label for="VehicleType" class="m-active">@Html.DisplayNameFor(model => model.VehicleType)</label>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-2 input-group">
                        <input type="text" class="form-control text-center" aria-label="rdate" aria-describedby="rdate"
                               data-val="true" data-val-required=" " id="DateFa" name="DateFa" value="">
                        <label for="DateFa">تاریخ </label>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="rdate"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        @Html.HiddenFor(model => model.Date)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline my-2 input-group">
                        <input type="text" name="Time" id="Time" class="form-control text-center timepicker" />
                        @Html.LabelFor(model => model.Time, new { @class = "m-active" })
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-clock"></i></span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Time, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 mt-3 ">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input " name="Items" id="foodLunch" value="foodLunch">
                        <label class="custom-control-label text-nowrap" for="foodLunch">نهار</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input " name="Items" id="foodDinner" value="foodDinner">
                        <label class="custom-control-label text-nowrap" for="foodDinner">شام</label>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-3">
                        @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.LabelFor(model => model.Capacity)
                        @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>


            </div>
            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-blue font-size-1" />
                </div>
            </div>
        </div>
    }

</div>
@section Scripts{
    <script>
        $('#rdate').MdPersianDateTimePicker({
            targetTextSelector: '#DateFa',
            targetDateSelector: '#Date',
            textFormat: 'yyyy/MM/dd',
            disableBeforeToday: true,
            selectedDate: new Date()
        });

        $(document).ready(function () {
            Routes("Route",@Model.Route);
            VehicleTypes("VehicleType",@Model.VehicleType);
            $('#Tab-Trip-Edit').addClass('active show').removeClass('d-none');

        });
    </script>
}