﻿
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblTrip>

@{
    ViewBag.Title = "مدیریت سفر";
    Layout = "~/Views/Shared/_layout.cshtml";
}


    <div class="card rtl text-right">
	<!--Header-->
@Html.Partial("Tabs")
    <!--Header-->
<div class="card-body">
 <table id="DataList" class="table table-striped table-hover" style="width: 100%; ">
 <thead>
     <tr>
         <th></th>
         <th>
             @Html.DisplayNameFor(model => model.Date)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.Time)
         </th>
         <th>
             مبدا
         </th>
         <th>
             مقصد
         </th>
         <th>
             @Html.DisplayNameFor(model => model.Capacity)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.VehicleType)
         </th>
         <th>ناهار</th>
         <th>شام</th>
        
         <th></th>
     </tr>
	</thead>
	</table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Tab-Trip').addClass('active show');
            $('#Tab-Trip-Create').removeClass('d-none');

            $('#DataList').DataTable({
                "stateSave": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Travel/Trip/List",
                    "type": "POST",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "id", "name": "id" },
                    { "data": "DateFa", "name": "Date" },
                    {"data": "Time", "name": "Time" },
                    {"data": "Origin", "name": "Origin" },
                    {"data": "Destination", "name": "Destination" },
							{"data": "Capacity", "name": "Capacity" },
                    {"data": "VehicleType", "name": "VehicleType" },
                  
                    {
                        "data": "Items", "name": "Items", "class": "fit", "order": false,
                        "render": function (data, type, row, meta) {
                            var item = "" + data;
                            return item.includes("foodLunch") === true
                                ? '<i class="fas fa-check-square"></i>'
                                : '<i class="far fa-square"></i>';
                        }
                    },
                    {
                        "data": "Items", "name": "Items", "class": "fit", "order": false,
                        "render": function (data, type, row, meta) {
                            var item = "" + data;
                            return item.includes("foodDinner") === true
                                ? '<i class="fas fa-check-square"></i>'
                                : '<i class="far fa-square"></i>';
                        }
                    }, 
                    { "data": "edit", "name": "edit" ,"class":"fit"},
                    //{ "data": "Date", "name": "Date" }
                ],
                "order": [[1, "desc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                "columnDefs": [
                    //{ "visible": false, "targets": [8] },
                    {
                        "orderable": false,
                        
                        "width": "50px",
                        "targets": 0
                    },
                    {
                        "orderable": false,
                        "width": "125px",
                        "targets": 6
                    }
                ] 
            }).on('xhr.dt',
                function (e, settings, json) {
                    if ($('#DataList_wrapper select').hasClass('custom-select custom-select-sm form-control form-control-sm')) {
                        $('#DataList_wrapper').find('label').each(function () {
                            $(this).parent().append($(this).children());
                        });
                        $('#DataList_wrapper .dataTables_filter').find('input').each(function () {
                            const $this = $(this);
                            $this.attr("placeholder", "جستجو...");
                            $this.removeClass('form-control-sm');
                        });
                        $('#DataList_wrapper .dataTables_length').addClass('d-flex flex-row');
                        $('#DataList_wrapper .dataTables_filter').addClass('md-form rtl');
                        $('#DataList_wrapper select').removeClass(
                            'custom-select custom-select-sm form-control form-control-sm');
                        $('#DataList_wrapper select').addClass('mdb-select');
                        $('#DataList_wrapper .mdb-select').materialSelect();
                        $('#DataList_wrapper .dataTables_filter').find('label').remove();
                        $('#DataList_wrapper .dataTables_length').find('label').remove();
                        $("#DataList_wrapper").children().first().css({ "direction": "ltr" });
                    }
                });;

        });
    </script>
}

