﻿@model Omidiyeh_Oil_Company___0147.Models.TblSubsidiary

@{
    ViewBag.Title = "ایجاد شرکت تابعه";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("../Company/Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline  my-3">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control  text-center" } })
                        @Html.LabelFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="select-outline my-3">
                        @Html.DropDownList("Company", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                        @Html.LabelFor(model => model.Company, new {@class="m-active"})
                        @Html.ValidationMessageFor(model => model.Company, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="md-form md-outline  my-3">
                        @Html.TextAreaFor(model => model.Des, new { @class = "form-control  text-center  md-textarea" })
                        @Html.LabelFor(model => model.Des)
                        @Html.ValidationMessageFor(model => model.Des, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
           
            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn blue white-text waves-effect  font-size-1" />
                </div>
            </div>
        </div>
    }

</div>
<span class="d-none" id="p-link">/subsidiary</span>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Tab-Subsidiary-Create').removeClass('d-none').addClass('active show');

        });
    </script>
}