﻿@model Omidiyeh_Oil_Company___0147.Models.TblRestaurant

@{
    ViewBag.Title = "ایجاد رستوران و مهمانسرا";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="card rtl text-right">
    <!--Header-->
    @Html.Partial("Tabs")
    <!--Header-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-2">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control  text-center" } })
                        @Html.LabelFor(model => model.Title)
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline my-2">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control  text-center" } })
                        @Html.LabelFor(model => model.Address)
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="md-form md-outline my-2">
                        @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control  text-center" } })
                        @Html.LabelFor(model => model.Tel)
                        @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline my-2">
                        @Html.EditorFor(model => model.NumberOfRooms, new { htmlAttributes = new { @class = "form-control  text-center" ,Value="0"} })
                        @Html.LabelFor(model => model.NumberOfRooms)
                        @Html.ValidationMessageFor(model => model.NumberOfRooms, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="select-outline my-2">
                        @Html.DropDownList("Status", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                        @Html.LabelFor(model => model.Status, new { @class = "m-active" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="select-outline my-2">
                        @Html.DropDownList("Type", null, htmlAttributes: new { @class = "mdb-select md-form md-outline mt-3", searchable = "جستجو ..." })
                        @Html.LabelFor(model => model.Type, new { @class = "m-active" })
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "invalid-feedback mr-2" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="switch">
                        <label>
                            تایید توسط خدمات رفاهی
                            <input type="checkbox" value="true" name="ConfirmReservation" >
                            <span class="lever"></span>
                        </label>
                    </div>
                        
                </div>
            </div>
            <div class="md-form text-left">
                <div class="col-md-12">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-blue  font-size-1" />
                </div>
            </div>
        </div>
    }

</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            $('#Tab-Restaurant-Create').addClass('active show').removeClass('d-none');
        });
        

    </script>
}
