﻿@using System.ComponentModel
@model Omidiyeh_Oil_Company___0147.Models.TblRestaurant

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style>
    .mds-bootstrap-persian-datetime-picker-container {
        z-index: 1000;
    }
</style>
<div class="container px-0">
    <!-- Container -->
    <div class="row">
        <!-- Column -->
        <div class="col-md-6 mb-4 d-flex align-items-stretch">
            <!--Card-->
            <div class="card col-12">
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title"></h4>
                    <!--Text-->
                    
                    <p class="card-text">
                        &nbsp;
                    </p>

                </div>
            </div>
            <!--/.Card-->
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-md-6 mb-4 d-flex align-items-stretch">
            <!--Card-->
            <div class="card testimonial-card col-12 px-0">
                <!-- Background color -->
                <div class="card-up aqua-gradient"></div>
                <!-- Avatar -->
                <div class="avatar mx-auto white">
                    <img src="~/Images/Restaurant.jpg" class="rounded-circle img-responsive" alt="avatar">
                </div>
                <!-- Content -->
                <div class="card-body">
                    <!-- Name -->
                    <h4 class="card-title font-weight-bold">@Model.Title</h4>
                    <hr>
                    <a href="" class=" mb-4" data-toggle="modal" data-target="#modalRoomCreate">
                        ایجاد اتاق جدید
                    </a>
                </div>
            </div>
            <!--Card-->
        </div>
        <!-- Column -->
    </div>
    <hr />
    <div id="rooms" class="row rtl">

    </div>

</div>
@Html.Action("Create", "Room")
<div id="createBed" class="row"></div>
<div id="editRoom" class="row"></div>
<div id="editBed" class="row"></div>
<div id="addReservation" class="row"></div>


@section scripts{
    <script>
        //console.log(1);
        $('#date6').MdPersianDateTimePicker({
            inLine: true,
            enableTimePicker: true
        });
        $('.grid').masonry({
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer',
            percentPosition: true,
            isRTL: true,
            isOriginLeft: false
        });

        function editRoom(id) {
            $.ajax({
                url: "/Welfare/Room/Edit",
                data: { id: id },
                type: 'GET',
                success: function(data) {
                    $('#editRoom').html(data);
                    $('#modalRoomEdit').modal('show');
                },
                error: function(data) {
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function() {});
        }

        function editRoomSave() {
            console.log(1);
            const t = ($('#modalRoomEdit #typeRoom').is(':checked')) ? 1 : 2;
            $.ajax({
                url: "/Welfare/Room/Edit/",
                data: {
                    number: $('#modalRoomEdit #Number').val(),
                    des: $('#modalRoomEdit #Des').val(),
                    status: $('#modalRoomEdit #Status').val(),
                    type: t,
                    id: $('#modalRoomEdit #Id').val()
                },
                type: 'POST',
                success: function(data) {
                    toastr[data.Type](data.Msg);
                    if (data.Result === true)
                        loadRooms();
                    $('#modalRoomEdit').modal('hide');
                }
            });
        }

        function deleteRoom(id) {
            $.ajax({
                url: "/Welfare/Room/Delete",
                data: { id: id },
                type: 'GET',
                success: function(data) {
                    toastr[data.Type](data.Msg);
                    if (data.Result === true)
                        loadRooms();
                    $('#modalRoomEdit').modal('hide');
                },
                error: function(data) {
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function() {});
        }
        function addReservation(bed) {
            $.ajax({
                url: "/Reservation/Food/Bed",
                data: { bed: bed},
                type: 'GET',
                success: function(data) {
                    $('#addReservation').html(data);
                    $('#modalAddReservation').modal('show');
                },
                error: function(data) {

                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function() {

            });
        }
        function clickOnBed(id, e,This) {
            var $this = $(This);
            if ($this.hasClass('clicked')){
                $this.removeClass('clicked');
                //editBed(id);
                //here is your code for double click
            }else{
                $this.addClass('clicked');
                setTimeout(function() { 
                    if ($this.hasClass('clicked')){
                        $this.removeClass('clicked'); 
                        //addReservation(id);
                        editBed(id);
                        //your code for single click               
                    }
                }, 500);          
            }
        }
        function createBed(room, number) {
            $.ajax({
                url: "/Welfare/bed/create",
                data: { room: room, number: number },
                type: 'GET',
                success: function(data) {
                    $('#createBed').html(data);
                    $('#modalBedCreate').modal('show');
                },
                error: function(data) {

                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function() {

            });
        }

        function editBed(id) {
            $.ajax({
                    url: "/Welfare/Bed/Edit",
                    data: { id: id },
                    type: 'GET',
                    success: function(data) {
                        $('#editBed').html(data);
                        $('#modalBedEdit').modal('show');
                    },
                    error: function(data) {
                        toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                    }
                }).then(function() {});
        }

        function editBedSave() {
            //console.log(1);
            const capacity = ($('#modalBedEdit #capacityBed').is(':checked')) ? 1 : 2;
            $.ajax({
                url: "/Welfare/Bed/Edit/",
                data: {
                    number: $('#modalBedEdit #Number').val(),
                    des: $('#modalBedEdit #Des').val(),
                    status: $('#modalBedEdit #Status').val(),
                    capacity: capacity,
                    id: $('#modalBedEdit #Id').val()
                },
                type: 'POST',
                success: function(data) {
                    toastr[data.Type](data.Msg);
                    if (data.Result === true)
                        loadRooms();
                    $('#modalBedEdit').modal('hide');
                }
            });
        }

        function deleteBed(id) {
            $.ajax({
                url: "/Welfare/Bed/Delete",
                data: { id: id },
                type: 'GET',
                success: function(data) {
                    toastr[data.Type](data.Msg);
                    if (data.Result === true)
                        loadRooms();
                    $('#modalBedEdit').modal('hide');
                },
                error: function(data) {
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function() {});
        }

        function addBed(e) {
            // console.log(1);
            //e.preventDefault();
            var c = 1;
            if ($('#capacityBed').is(':checked')) {
            } else {
                c = 2;
            }
            $.ajax({
                url: "/Welfare/Bed/CreateBed/",
                data: {
                    number: $('#numberBed').val(),
                    room: $('#roomForBedCreate').val(),
                    capacity: c
                },
                type: 'GET',
                success: function(data) {
                    //  toastr[data.Type](data.Msg);
                    toastr[data.Type](data.Msg);
                    if (data.Result === true)
                        loadRooms();
                    $('#numberBed').val('');

                    $('#modalBedCreate').modal('hide');
                }
            });
        };

        function loadRooms() {
            $.ajax({
                url: "/Welfare/Restaurant/rooms/",
                data: { id: @Model.Id },
                type: 'POST',
                success: function(data) {
                    $('#rooms').html(data);
                },
                error: function(data) {

                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(() => {
            });
        }

        $(document).ready(function() {


            loadRooms();


            $('#addRoom').on('click',
                function(e) {
                    const t = ($('#typeRoom').is(':checked')) ? 1 : 2;
                    $.ajax({
                        url: "/Welfare/Room/createroom/",
                        data: { number: $('#number').val(), restaurant: @Model.Id, type: t },
                        type: 'GET',
                        success: function(data) {
                            toastr[data.Type](data.Msg);
                            if (data.Result === true)
                                loadRooms();
                            $('#number').val('');

                            $('#modalRoomCreate').modal('hide');
                        }
                    });
                });

        });
    </script>
}