﻿
@using MD.PersianDateTime
@using Omidiyeh_Oil_Company___0147.Models
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblRoom>
@{
    var db = new dbEntities();
} 

@foreach (var item in Model.OrderBy(a=>a.Number))
{
    <div class="col-2 mb-4 d-flex align-items-stretch  ">
        <!--Card-->
        <div class="card col-12 px-0 hoverable">
            <div class="card-title @item.TblRoomStatu.Color lighten-4 rounded-top mb-0">
                <div class="row mx-2">
                    <div class="col text-right px-0"><h5 class="pt-1">@item.Number</h5></div>
                    <div class="col px-0"></div>
                    
                </div>
            </div>
            <!-- Content -->
            <div class="card-body px-1 text-center   @(item.Type==1 ? " " : "rgba-yellow-light")  pt-1 pb-0">

                @foreach (var bed in item.TblBeds.OrderBy(a=>a.Number))
                {
                    if (bed.Status >= 20 || bed.Status == 5)
                    {
                        var fr = db.TblFoodReservations.Where(a => a.Group == bed.FoodReservationGroup && a.Person == bed.Person);
                        ViewBag.FromFa = new PersianDateTime(fr.OrderBy(a => a.Date).FirstOrDefault()?.Date).ToString("yy/MM/dd");
                        ViewBag.ToFa = new PersianDateTime(fr.OrderByDescending(a=>a.Date).FirstOrDefault()?.Date).ToString("yy/MM/dd");
                    }
                    else
                    {
                        ViewBag.FromFa = null;
                        ViewBag.ToFa = null;
                    }
                    if (bed.Capacity == 1)
                    {
                        <span class="fa-stack fa-lg cursor-pointer  " id="t54" data-toggle="popover" data-placement="top" data-html="true" title="تخت @bed.Number: @bed.TblBedStatu.Title" 
                             @if (bed.Status >= 20 || bed.Status == 5) { <text>data-content = "<p class='red-text'>@(db.TblPersons.Find(bed.Person)?.Fullname())</p> <p>@ViewBag.FromFa - @ViewBag.ToFa</p><p>درخواست: @(bed.FoodReservationGroup)</p>"</text> }
                                 else { }
                                 onclick="clickOnBed(@bed.Id,@bed.Number,@item.Number,@bed.Status,event,this)">


                               <i class="fas fa-bed fa-stack-1x @(bed.TblBedStatu.Color)-text disableRightClickContextMenu"></i>
                        </span>

                    }
                    else if (bed.Capacity == 2)
                    {
                        <span class="fa-stack fa-lg  cursor-pointer" data-toggle="popover" data-placement="top" title="تخت @bed.Number : @bed.TblBedStatu.Title" data-content="@bed.Number" onclick="clickOnBed(@bed.Id,event,this)">
                            <i class="fas fa-bed fa-stack-1x @(bed.TblBedStatu.Color)-text"></i>
                            <i class="fas fa-bed fa-stack-1x pt-3 @(bed.TblBedStatu.Color)-text"></i>
                        </span>
                    }
                }
            </div>
        </div>
        <!--Card-->
    </div>
}
