﻿
@using MD.PersianDateTime
@using Omidiyeh_Oil_Company___0147.Models
@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblBed>
@{
    var db = new dbEntities();
}

    <table class="table table-striped table-hover table-bordered text-right bg-white m-2 table-sm" >
        <tr>

            <th>اتاق</th>
            <th>تخت</th>
            <th>وضعیت</th>
            <th>مهمان</th>
            <th>از تاریخ</th>
            <th>تا تاریخ</th>
            <th>شماره درخواست</th>
            <th></th>
        </tr>
        @foreach (var item in Model.OrderByDescending(a => a.Status))
        {
            if (item.Status >= 20 || item.Status == 5)
            {
                var fr = db.TblFoodReservations.Where(a => a.Group == item.FoodReservationGroup && a.Person == item.Person);
                ViewBag.FromFa = new PersianDateTime(fr.OrderBy(a => a.Date).FirstOrDefault()?.Date).ToString("yy/MM/dd");
                ViewBag.ToFa = new PersianDateTime(fr.OrderByDescending(a=>a.Date).FirstOrDefault()?.Date).ToString("yy/MM/dd");
            }
            else
            {
                ViewBag.FromFa = null;
                ViewBag.ToFa = null;
            }
    <tr>
        <td >@item.TblRoom.Number</td>
        <td>@item.Number</td>
        <td><i class="fas fa-bed  @(item.TblBedStatu.Color)-text"></i> @item.TblBedStatu.Title</td>

        <td>@(db.TblPersons.Find(item.Person)?.Fullname())</td>
        <td>@ViewBag.FromFa</td>
        <td>@ViewBag.ToFa</td>
        <td>@item.FoodReservationGroup</td>
        <td></td>
    </tr>
        }

    </table>
