﻿@using System.ComponentModel
@model Omidiyeh_Oil_Company___0147.Models.TblRestaurant

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style>
    .mds-bootstrap-persian-datetime-picker-container {
        z-index: 1000;
    }
</style>
<div class="container px-0">
    <!-- Container -->
    <div class="row">
        <div class="col-md-8 mb-4 d-flex align-items-stretch">
            <!--Card-->
            <div class="card col-12">
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title"></h4>
                    <!--Text-->

                    <div class="card-text">
                        <div id="status" class="row rtl">

                        </div>
                    </div>

                </div>
            </div>
            <!--/.Card-->
        </div>
        <!-- Column -->
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <!--Card-->
            <div class="card testimonial-card col-12 px-0">
                <!-- Background color -->
                <div class="card-up aqua-gradient"></div>
                <!-- Avatar -->
                <div class="avatar mx-auto white">
                    <img src="~/Images/Restaurant.jpg" class="rounded-circle img-responsive" alt="avatar">
                </div>
                <!-- Content -->
                <div class="card-body">
                    <!-- Name -->
                    <h4 class="card-title font-weight-bold">@Model.Title</h4>
                    <hr>

                    <button class="btn btn-link cta rtl py-2" onclick="Toggle('#rooms')">
                        <i class="fas fa-plus fa-lg" style="vertical-align:-0.2em"></i>
                        <span>  نمایش گرافیکی</span>
                    </button>
                    <button class="btn btn-link cta rtl py-2" onclick="Toggle('#list')">
                        <i class="fas fa-plus fa-lg" style="vertical-align:-0.2em"></i>
                        <span>  نمایش &nbsp; ســـاده</span>
                    </button>
                   
                </div>
            </div>
            <!--Card-->
        </div>

        <!-- Column -->
    </div>
    

    <hr />
    <div id="rooms" class="row rtl">

    </div>
    <hr />
    <div id="list" class="row rtl  ">

    </div>

</div>
@*@Html.Action("Create", "Room")*@
@*<div id="createBed" class="row"></div>
<div id="editRoom" class="row"></div>
<div id="editBed" class="row"></div>
<div id="addReservation" class="row"></div>*@
<div id="history"></div>

<div class="modal fade right rtl" id="modalBedStatusChange" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header text-center py-3 grey lighten-5">
                <h6 class="modal-title w-100 font-weight-bold">
                    تغییر وضعیت
                    اتاق <span class="blue-text" id="BedStatusChangeRoomNumber"></span>
                    تخت  <span class="blue-text" id="BedStatusChangeBedNumber"></span>
                </h6>
            </div>
            <div class="modal-body mx-3 ">
                <input type="hidden" value="" name="BedStatusChangeBedId" id="BedStatusChangeBedId" />
                <div class="col-12 text-right">

                    @foreach (var item in (List<Omidiyeh_Oil_Company___0147.Models.TblBedStatu>)ViewBag.Statues)
                    {
                        <div class="form-check mb-2">
                            <input type="radio" class="form-check-input" id="bedStatus_@item.Id" name="StatusRadios" value="@item.Id">
                            <label class="form-check-label" for="bedStatus_@item.Id">
                                <i class="fas fa-bed  @(item.Color)-text"></i> @item.Title
                            </label>
                        </div>

                    }
                </div>
                <div class="col-12">
                    <div class="md-form md-outline mt-5">
                        <textarea class="form-control font-size-0-80 col-12 md-textarea" name="BedStatusChangeDes" id="BedStatusChangeDes"></textarea>
                        <label for="BedStatusChangeDes" class="m-active">توضیحات</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center grey lighten-5">
                <button class="btn btn-link cta " type="submit" id="addStatus" name="addStatus" value="true" onclick="addStatus();">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ذخیره</span>
                </button>
                <button class="btn btn-link cta cta-silver" type="button" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times fa-lg"></i>
                    <span>انصراف</span>
                </button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        //console.log(1);
        $('#date6').MdPersianDateTimePicker({
            inLine: true,
            enableTimePicker: true
        });
        $('.grid').masonry({
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer',
            percentPosition: true,
            isRTL: true,
            isOriginLeft: false
        });

        function Toggle(item) {
            $(item).hasClass('d-none')
                ? $(item).removeClass('d-none')
                : $(item).addClass('d-none');
            
        }

        function clickOnBed(id, number, room, status, e, This) {
            // console.log(status);
            var $this = $(This);
            if ($this.hasClass('clicked')) {
                $this.removeClass('clicked');
                $('#BedStatusChangeBedId').val(id);
                $('#BedStatusChangeBedNumber').html(number);
                $('#BedStatusChangeRoomNumber').html(room);
                $("#bedStatus_" + status).prop("checked", true);
                $('#modalBedStatusChange').modal('show');

                //here is your code for double click
            } else {
                $this.addClass('clicked');
                setTimeout(function() {
                        if ($this.hasClass('clicked')) {
                            $this.removeClass('clicked');

                            BedStatusHistory(id,number, room);
                           

                            //your code for single click
                        }
                    },
                    500);
            }
        }

        function BedStatusHistory(id,number,room) {
            $.ajax({
                url: "/Welfare/BedStatus/History",
                data: { bed: id },
                type: 'GET',
                success: function(data) {
                    $('#history').html(data);
                    $('#BedStatusHistoryBedNumber').html(number);
                    $('#BedStatusHistoryRoomNumber').html(room);
                    $('#modalBedStatusHistory').modal('show');
                },
                error: function(data) {
                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(function() {});
        }
        function loadRooms() {
            $.ajax({
                url: "/Welfare/Restaurant/ReceptionRooms/",
                data: { id: @Model.Id },
                type: 'POST',
                success: function(data) {
                    $('#rooms').html(data);
                },
                error: function(data) {

                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(() => {
            });
        }

        function loadList() {
            $.ajax({
                url: "/Welfare/Restaurant/ReceptionList/",
                data: { id: @Model.Id },
                type: 'POST',
                success: function(data) {
                    $('#list').html(data);
                },
                error: function(data) {

                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(() => {
            });
        }

        function addStatus() {
            console.log($("input[name='StatusRadios']:checked").val());
            $.ajax({
                url: "/Welfare/BedStatus/AddStatus/",
                data: {
                    bed: $('#BedStatusChangeBedId').val(),
                    status: $("input[name='StatusRadios']:checked").val(),
                    des: $('#BedStatusChangeDes').val()
                },
                type: 'POST',
                success: function(data) {
                    toastr[data.Type](data.Msg);
                    if (data.Result === true) {
                        loadRooms();
                        $('#modalBedStatusChange').modal('hide');
                        $('#BedStatusChangeDes').val('');
                    }
                },
                error: function(data) {

                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(() => {
            });
        }

        function editBedSave() {
            //console.log(1);
            const capacity = ($('#modalBedEdit #capacityBed').is(':checked')) ? 1 : 2;
            $.ajax({
                url: "/Welfare/Bed/Edit/",
                data: {
                    number: $('#modalBedEdit #Number').val(),
                    des: $('#modalBedEdit #Des').val(),
                    status: $('#modalBedEdit #Status').val(),
                    capacity: capacity,
                    id: $('#modalBedEdit #Id').val()
                },
                type: 'POST',
                success: function(data) {
                    toastr[data.Type](data.Msg);
                    if (data.Result === true)
                        loadRooms();
                    $('#modalBedEdit').modal('hide');
                }
            });
        }

        function loadStatus() {
            $.ajax({
                url: "/Welfare/BedStatus/Lists/",
                data: { id: @Model.Id },
                type: 'GET',
                success: function(data) {
                    $('#status').html(data);
                },
                error: function(data) {

                    toastr["error"](`هنگام انجام درخواست شما  خطایی رخ داده است.<br /><small>${data}</small>`);
                }
            }).then(() => {
            });
        }

        $(document).ready(function() {


            loadRooms();
            loadList();
            loadStatus();


        });
    </script>
}