﻿@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblRoom>


@foreach (var item in Model)
{
    <div class="col-3 mb-4 d-flex align-items-stretch  ">
        <!--Card-->
        <div class="card col-12 px-0 hoverable">
            <div class="card-title @item.TblRoomStatu.Color lighten-4 rounded-top mb-0">
                <div class="row mx-2">
                    <div class="col text-right px-0" ><h4 class="pt-1">@item.Number</h4></div>
                    <div class="col px-0"></div>
                    
                    <div class="col text-left px-0 pt-1">
                        <i class="fas fa-plus-square cursor-pointer text-primary pt-2 " data-toggle="popover" data-placement="top" data-content="ایجاد تخت"
                           onclick="createBed(@item.Id, @item.Number)"></i>
                        <i class="fas fa-edit cursor-pointer text-success pt-2 " data-toggle="popover" data-placement="top" data-content="ویرایش اتاق"
                           onclick="editRoom(@item.Id)"></i>
                    </div>
                    
                </div>
                </div>
            <!-- Content -->
                <div class="card-body px-1 text-center   @(item.Type==1 ? " " : "rgba-yellow-light")  pt-1">

                @foreach (var bed in item.TblBeds)
                {
                    if (bed.Capacity == 1)
                    {
                        <span class="fa-stack fa-2x cursor-pointer disableRightClickContextMenu  " id="t54" data-toggle="popover" data-placement="top" data-content="@bed.Number" onclick="clickOnBed(@bed.Id,event,this)">
                            <i class="fas fa-bed fa-stack-1x @(bed.TblBedStatu.Color)-text disableRightClickContextMenu"></i>
                        </span>

                    }
                    else if (bed.Capacity == 2)
                    {
                        <span class="fa-stack fa-2x  cursor-pointer" data-toggle="popover" data-placement="top" data-content="@bed.Number"  onclick="clickOnBed(@bed.Id,event,this)">
                            <i class="fas fa-bed fa-stack-1x @(bed.TblBedStatu.Color)-text"></i>
                            <i class="fas fa-bed fa-stack-1x pt-4 @(bed.TblBedStatu.Color)-text"></i>
                        </span>
                    }
                }
            </div>
        </div>
        <!--Card-->
    </div>
}
