﻿
<div class="classic-tabs rtl">
    <ul class="nav  tabs-blue" id="myTab" role="tablist">

        <li class="nav-item ">
            <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Dashboard-Company" href="#">
                <i class="fas fa-info-circle fa-2x pb-2" aria-hidden="true"></i><br>اطلاعات
            </a>
        </li>
        @if (User.IsInRole("102"))
        {
            <li class="nav-item ">
                <a class="nav-link  waves-light pt-3 pb-1" id="Tab-Restaurant" href="/Welfare/Restaurant">
                    <i class="fas fa-utensils fa-2x pb-2" aria-hidden="true"></i><br>رستوران و مهمانسرا
                </a>
            </li>
        }
        @if (User.IsInRole("103"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Restaurant-Create" href="/Welfare/Restaurant/Create">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ایجاد رستوران و مهمانسرا
                </a>
            </li>
        }
        @if (User.IsInRole("104"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-Restaurant-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش رستوران و مهمانسرا
                </a>
            </li>
        }
        @if (User.IsInRole("93"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1" id="Tab-RestaurantFoodProgram-Monthly" href="/Welfare/RestaurantFoodProgram/Monthly">
                    <i class="fas fa-drumstick-bite fa-2x pb-2" aria-hidden="true"></i><br>برنامه غذایی
                </a>
            </li>
        }
        @if (User.IsInRole("94"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 " id="Tab-RestaurantFoodProgram-MonthlyCopy" href="/Welfare/RestaurantFoodProgram/MonthlyCopy">
                    <i class="fas fa-copy fa-2x pb-2 " aria-hidden="true"></i><br>کپی برنامه غذایی
                </a>
            </li>
        }
        @if (User.IsInRole("241"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 " id="Tab-RestaurantFoodProgram-Sync" href="/Welfare/RestaurantFoodProgram/Sync">
                    <i class="fas fa-sync-alt fa-2x pb-2 " aria-hidden="true"></i><br>همگام سازی برنامه غذایی
                </a>
            </li>
        }
        @if (User.IsInRole("95"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 " id="Tab-OfficeRestaurant" href="/Welfare/OfficeRestaurant">
                    <i class="fab fa-buromobelexperte fa-2x pb-2 " aria-hidden="true"></i><br>عدم دسترسی رستوران - اداره
                </a>
            </li>
        }
        @if (User.IsInRole("98"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-OfficeRestaurant-Create" href="/Welfare/OfficeRestaurant/Create">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ایجاد عدم دسترسی
                </a>
            </li>
        }
        @if (User.IsInRole("99"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-OfficeRestaurant-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش عدم دسترسی
                </a>
            </li>
        }
        @if (User.IsInRole("97"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1" id="Tab-RestaurantStatus" href="/Welfare/RestaurantStatus">
                    <i class="fas fa-cogs fa-2x pb-2" aria-hidden="true"></i><br>وضعیت - رستوران
                </a>
            </li>
        }
        @if (User.IsInRole("98"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-RestaurantStatus-Create" href="/Welfare/RestaurantStatus/Create">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ایجاد وضعیت - رستوران
                </a>
            </li>
        }
        @if (User.IsInRole("99"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-RestaurantStatus-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش وضعیت - رستوران
                </a>
            </li>
        }
        @if (User.IsInRole("97"))
        {
            <li class="nav-item">
                <a class="nav-link waves-light pt-3 pb-1" id="Tab-RestaurantType" href="/Welfare/RestaurantType">
                    <i class="fas fa-layer-group fa-2x pb-2" aria-hidden="true"></i><br>نوع - رستوران
                </a>
            </li>
        }
        @if (User.IsInRole("98"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-RestaurantType-Create" href="/Welfare/RestaurantType/Create">
                    <i class="fas fa-edit fa-2x pb-2 " aria-hidden="true"></i><br>ایجاد نوع - رستوران
                </a>
            </li>
        }
        @if (User.IsInRole("99"))
        {
            <li class="nav-item ">
                <a class="nav-link waves-light pt-3 pb-1 d-none" id="Tab-RestaurantType-Edit" href="#">
                    <i class="fas fa-edit fa-2x pb-2" aria-hidden="true"></i><br>ویرایش نوع - رستوران
                </a>
            </li>
        }

    </ul>
</div>