﻿
@model Omidiyeh_Oil_Company___0147.Models.TblFoodReservation
<div class="modal fade rtl" id="modalReceptionBed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center py-3 grey lighten-5">
                <h4 class="modal-title w-100 font-weight-bold"> پذیرش شخص</h4>
            </div>
            <div class="modal-body mx-3 ">
                <div class="row">
                    <div class="col-6">
                        <div class="md-form md-outline  mt-0">
                            <input type="text" class="form-control text-center disabled" id="Id" name="Id" autocomplete="off" value="@Model.Id">
                            <label for="Id" class="m-active">شماره درخواست</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="md-form md-outline  mt-0">
                            <input type="text" class="form-control text-center disabled" id="Person" name="Person" autocomplete="off" value="@Model.TblPerson.Fullname()">
                            <label for="Id" class="m-active">شخص</label>
                        </div>
                    </div>
                </div>
                <div class="row">    <div class="col-6">
                    <div class="md-form md-outline mt-0">
                        <input type="text" class="form-control text-center disabled" id="FromFa" name="FromFa" autocomplete="off" value="@ViewBag.FromFa">
                        <label for="Id" class="m-active">تاریخ شروع</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="md-form md-outline  mt-0">
                        <input type="text" class="form-control text-center disabled" id="ToFa" name="ToFa" autocomplete="off" value="@ViewBag.ToFa">
                        <label for="Id" class="m-active">تاریخ پایان</label>
                    </div>
                </div>
            </div>
            @*<div class="col-12 mt-3">
            <div class="md-form md-outline input-group">
                <input type="text" class="form-control text-center" aria-label="sDate" aria-describedby="sDate"
                       data-val="true" data-val-required=" " id="StartDateFa" name="StartDateFa" value="">
                <label for="StartDateFa">تاریخ شروع</label>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="sDate"><i class="fas fa-calendar-alt"></i></span>
                </div>
                <input type="hidden" name="StartDate" id="StartDate" />
            </div>

        </div>
        <div class="col-12 mt-3">
            <div class="md-form md-outline input-group">
                <input type="text" class="form-control text-center" aria-label="eDate" aria-describedby="eDate"
                       data-val="true" data-val-required=" " id="EndDateFa" name="EndDateFa" value="">
                <label for="EndDateFa">تاریخ پایان</label>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="eDate"><i class="fas fa-calendar-alt"></i></span>
                </div>
                <input type="hidden" name="EndDate" id="EndDate" />
            </div>
        </div>*@
            <div class="row">  
                <div class="col-6">
                <div class="md-form md-outline mt-0">
                    @Html.DropDownList("Room", null, htmlAttributes: new { @class = " custom-select farsi text-center" })
                    <label for="Room" class="m-active">اتاق</label>
                </div>
            </div>
            <div class="col-6 ">
            <div class="md-form md-outline mt-0 ">
                <select name="Bed" id="Bed" class="custom-select farsi text-center "></select>
                    <label for="Bed" class="m-active">تخت</label>
            </div>
        </div>
                </div>
            <div class="row">  
            <div class="col-12 ">
                <div class="md-form md-outline  my-0 input-group mr-auto  mt-1">
                    <input type="text" class="form-control text-center" id="Des" name="Des" autocomplete="off">
                    <label for="Des" class="m-active">توضیحات</label>
                    <div class="input-group-prepend cursor-pointer ">
                        <span class="input-group-text cursor-pointer"><i class="fas fa-comment-alt cursor-pointer"></i></span>
                    </div>
                </div>
            </div></div>
            @*<div class="col-12 mt-3">
            <div class="md-form md-outline ">
                @Html.DropDownList("Status", null, htmlAttributes: new { @class = " custom-select farsi text-center" })
                <label for="Status" class="m-active">وضعیت</label>
            </div>
        </div>*@
        </div>
            <div class="modal-footer d-flex justify-content-center grey lighten-5">
               @* <input type="hidden" name="Id" id="Id" value="@Model.Id" />*@
                <button class="btn btn-link cta " type="submit" value="true" onclick="addBedToReservation(@Model.Group,@Model.Person)">
                    <i class="fas fa-save fa-lg"></i>
                    <span>ذخیره</span>
                </button>
                <button class="btn btn-link cta cta-silver" type="button" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times fa-lg"></i>
                    <span>انصراف</span>
                </button>
                @*<button class="btn btn-link cta cta-red " type="button" onclick="deleteBed(@Model.Id)">
                    <i class="fas fa-trash-alt fa-lg"></i>
                    <span>حذف </span>
                </button>*@
            </div>
        </div>
    </div>
</div>
<script>
    Beds($('#Room').val(), 1, '#Bed');
    $('#Room').on('change',
        function () {
          
            Beds($(this).val(), 1, '#Bed');
        });
       </script>