﻿@model IEnumerable<Omidiyeh_Oil_Company___0147.Models.TblRestaurantType>

@{
    ViewBag.Title = "مدیریت نوع رستوران";
    Layout = "~/Views/Shared/_layout.cshtml";
}


    <div class="card rtl text-right">
        <!--Header-->
        @Html.Partial("../Restaurant/Tabs")

        <!--Header-->
        <div class="card-body">
            <table id="DataList" class="table table-striped table-hover" style="width: 100%; ">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Des)
                        </th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Tab-RestaurantType').addClass('active show').removeClass('d-none');
            $('#Tab-RestaurantType-Create').removeClass('d-none');
            $('#DataList').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "/Welfare/RestaurantType/List",
                "columns": [
							{ "data": "id", "name": "id" },
							{"data": "Title", "name": "Title" },
							{"data": "Des", "name": "Des" },
                            { "data": "edit", "name": "edit" }
                ],
                "order": [[1, "asc"]],
                "language": {
                    "url": "/Content/js/addons/datatables.persian.json"
                },
                 "columnDefs": [
                    {
                        "orderable": false,
                        
                        "width": "50px",
                        "targets": 0
                    },
                    {
                        "orderable": false,
                        "width": "125px",
                        "targets": 3
                    }
                ] 
            }).on('xhr.dt',
                function (e, settings, json) {
                    if ($('#DataList_wrapper select').hasClass('custom-select custom-select-sm form-control form-control-sm')) {
                        $('#DataList_wrapper').find('label').each(function () {
                            $(this).parent().append($(this).children());
                        });
                        $('#DataList_wrapper .dataTables_filter').find('input').each(function () {
                            const $this = $(this);
                            $this.attr("placeholder", "جستجو...");
                            $this.removeClass('form-control-sm');
                        });
                        $('#DataList_wrapper .dataTables_length').addClass('d-flex flex-row');
                        $('#DataList_wrapper .dataTables_filter').addClass('md-form rtl');
                        $('#DataList_wrapper select').removeClass(
                            'custom-select custom-select-sm form-control form-control-sm');
                        $('#DataList_wrapper select').addClass('mdb-select');
                        $('#DataList_wrapper .mdb-select').materialSelect();
                        $('#DataList_wrapper .dataTables_filter').find('label').remove();
                        $('#DataList_wrapper .dataTables_length').find('label').remove();
                        $("#DataList_wrapper").children().first().css({ "direction": "ltr" });
                    }
                });;

        });
    </script>
}

